{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Directory Update</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Directory Update:</span></h5>
            </div>
            <div class="card-body">
                <form action="{{ path('save_directory_update') }}" id="form" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-top-success rounded-top-0">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    {% if show_form %}
                                    <div class="row">
                                        <div class="col-12">
                                            <p>In an effort to maintain the most accurate and up-to-date information in our partner plan’s directories,  BSN is implementing validation processes including this attestation.</p>
                                            <p>The “No Surprises Act” contains new provider directory verification regulations with roll out over the next 2 years.  To be compliant, BSN will now require providers to verify their information is correct in our portal within 30 days of notification.  Providers that do not verify their information is correct in that time frame, will be removed from all directories until satisfied.  Directory information must be verified at least once a quarter.  Notification will appear in the portal and be delivered via email.</p>
                                            <p>Please enter your information below and certify that all directory information is correct, complete and current.</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-10">
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label"><span class="text-danger-400">*</span> Date :</label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control required" name="date" id="date" value="{{ "now"|date("m/d/Y") }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_date">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label">
                                                    <span class="text-danger-400">*</span> Provider or Organization name:</label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control required" name="organization_name" id="organization_name" {% if organization %} value="{{ organization.name }}" {% endif %}>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_organization_name">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label"><span class="text-danger-400">*</span> Authorized Representative's Name:</label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control required" name="authorized_representative_name" id="authorized_representative_name">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_name">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label">
                                                    <span class="text-danger-400">*</span> Authorized Representative’s Phone Number:</label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control required" data-mask="999-999-9999" name="authorized_representative_phone" id="authorized_representative_phone">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_phone">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label"><span class="text-danger-400">*</span> Authorized Representative’s Email:</label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control required" name="authorized_representative_email" id="authorized_representative_email">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_email">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-5"><strong><span class="text-danger-400">*</span> Each review confirms</strong></p>
                                            <div class="form-group row">
                                                <div class="col-12 mb-2">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" name="provider_name_correct" id="provider_name_correct">
                                                        <label class="custom-control-label" for="provider_name_correct" style="font-size: 15px;"><strong>The provider name is correct.</strong> For example, we must ensure the provider’s name in the directory matches the name on his/her medical license.</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" name="practice_name_correct" id="practice_name_correct">
                                                        <label class="custom-control-label" for="practice_name_correct" style="font-size: 15px;"><strong>The practice name is correct.</strong> For example, is there a difference between the practice name that is being used when phones are answered versus the practice name listed in the directory?</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" name="specialties_correct" id="specialties_correct">
                                                        <label class="custom-control-label" for="specialties_correct" style="font-size: 15px;"><strong>The provider’s specialties are correctly listed.</strong> Is there more than one specialty listed in the directory? Are both specialties being practiced?</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" name="practice_correct_listed" id="practice_correct_listed">
                                                        <label class="custom-control-label" for="practice_correct_listed" style="font-size: 15px;"><strong>There aren't providers listed at practice locations where they don’t actually practice.</strong> Providers listed must be affiliated with the group. Providers who cover on an occasional basis are not required to be listed. Providers who do not see patients on a regular basis at a location should not be listed at that location. </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" name="provider_accepting_patients" id="provider_accepting_patients">
                                                        <label class="custom-control-label" for="provider_accepting_patients" style="font-size: 15px;"><strong>The provider is accepting new patients — or not accepting new patients — at the location.</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" name="address_phone_correct" id="address_phone_correct">
                                                        <label class="custom-control-label" for="address_phone_correct" style="font-size: 15px;"><strong>The provider’s address and phone number are correct.</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-12">
                                                    <div class="progress sr-only" id="progress_payer_process">
                                                        <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                                            <span class="">Checking Directory Data ...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <a href="#" class="btn btn-success mr-2 btn-save"><i class="fas fa-save"></i> Save</a>
                                                <a href="{{ path('admin_role') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                        <p>In an effort to maintain the most accurate and up-to-date information in our partner plan’s directories,  BSN is implementing validation processes including this attestation.</p>
                                        <p>The “No Surprises Act” contains new provider directory verification regulations with roll out over the next 2 years.  To be compliant, BSN will now require providers to verify their information is correct in our portal within 30 days of notification.  Providers that do not verify their information is correct in that time frame, will be removed from all directories until satisfied.  Directory information must be verified at least once a quarter.  Notification will appear in the portal and be delivered via email.</p>
                                        <label class="col-form-label">Lasts Directory Updated:</label>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th>User</th>
                                                    <th>Date</th>
                                                    <th>Authorized Representative's Name</th>
                                                    <th>Authorized Representative’s Phone Number</th>
                                                    <th>Authorized Representative’s Email</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for directory_update_record in directory_update_records %}
                                                        <tr>
                                                            <td>{{ directory_update_record.user.name }} {{ directory_update_record.user.lastname }}</td>
                                                            <td>{{ directory_update_record.date }}</td>
                                                            <td>{{ directory_update_record.representativeName }}</td>
                                                            <td>{{ directory_update_record.phone }}</td>
                                                            <td>{{ directory_update_record.email }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('global_assets/js/plugins/extensions/jquery_ui/widgets.min.js') }}"></script>
    <script src="{{ asset('js/directory_update/validate.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            $('#link_directory_updated').addClass('active')
        });
    </script>

{% endblock %}
