{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Directory Update Records</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Directory Update Records</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12 text-right">
                        <label class="col-form-label mr-1">Page size:</label>
                        <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                            <option value="25" selected>25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            $('#link-group-provider-portal').addClass('nav-item-expanded')
            $('#link-group-provider-portal').addClass('nav-item-open')
            $('#link-menu-directory-update-list').addClass('active')

        });

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "User", field: "user",sortable: true,unSortIcon: true},
            {headerName: "Organization", field: "organization",sortable: true,unSortIcon: true},
            {headerName: "Date", field: "date",sortable: true,unSortIcon: true},
            {headerName: "Representative Name", field: "representative_name",sortable: true,unSortIcon: true},
            {headerName: "Phone", field: "phone",sortable: true,unSortIcon: true},
            {headerName: "Email", field: "email",sortable: true,unSortIcon: true},

            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for record in records %}

        var obj={
            id:"{{ record.id }}",
            user: "{{ record.username }}",
            organization: "{{ record.organization_name }}",
            date: "{{ record.date }}",
            representative_name: "{{ record.representative_name }}",
            email: "{{ record.email }}",
            phone: "{{ record.phone }}",
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;
            var url_view = '{{ path("directory_update_view") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
