{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('directory_update_list') }}" class="breadcrumb-item">Directory Update Records</a>
                        <span class="breadcrumb-item active">View Directory Update Record</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Directory Update Record</span></h5>
                <div class="header-elements">
                    <a href="{{ path('directory_update_list') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Email Queued List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">User :</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.user.name }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Organization:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.organization.name }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative's Name:</label></div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.representativeName }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative’s Phone Number:</label></div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.phone }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative’s Email:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.email }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">The provider name is correct. For example, we must ensure the provider’s name in the directory matches the name on his/her medical license:</label> </div>
                                            <div class="col-12">
                                                {% if document.isProviderNameCorrect %}<span class="badge badge-flat border-primary text-primary-600">Yes</span>{% else %}<span class="badge badge-flat border-danger text-danger-600-600">No</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">The practice name is correct. For example, is there a difference between the practice name that is being used when phones are answered versus the practice name listed in the directory?:</label> </div>
                                            <div class="col-12">
                                                {% if document.isProviderNameCorrect %}<span class="badge badge-flat border-primary text-primary-600">Yes</span>{% else %}<span class="badge badge-flat border-danger text-danger-600-600">No</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">The provider’s specialties are correctly listed. Is there more than one specialty listed in the directory? Are both specialties being practiced?:</label> </div>
                                            <div class="col-12">
                                                {% if document.isProviderNameCorrect %}<span class="badge badge-flat border-primary text-primary-600">Yes</span>{% else %}<span class="badge badge-flat border-danger text-danger-600-600">No</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">There aren't providers listed at practice locations where they don’t actually practice. Providers listed must be affiliated with the group. Providers who cover on an occasional basis are not required to be listed. Providers who do not see patients on a regular basis at a location should not be listed at that location:</label> </div>
                                            <div class="col-12">
                                                {% if document.isProviderNameCorrect %}<span class="badge badge-flat border-primary text-primary-600">Yes</span>{% else %}<span class="badge badge-flat border-danger text-danger-600-600">No</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">The provider is accepting new patients — or not accepting new patients — at the location:</label> </div>
                                            <div class="col-12">
                                                {% if document.isProviderNameCorrect %}<span class="badge badge-flat border-primary text-primary-600">Yes</span>{% else %}<span class="badge badge-flat border-danger text-danger-600-600">No</span>{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">The provider’s address and phone number are correct:</label> </div>
                                            <div class="col-12">
                                                {% if document.isProviderNameCorrect %}<span class="badge badge-flat border-primary text-primary-600">Yes</span>{% else %}<span class="badge badge-flat border-danger text-danger-600-600">No</span>{% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-group-emails').addClass('nav-item-expanded')
             $('#link-group-emails').addClass('nav-item-open')
             $('#link-menu-emails-queued').addClass('active')
         });
     </script>
 {% endblock %}
