{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_payer',{'id':payer}) }}" class="breadcrumb-item">Payer</a>
                        <span class="breadcrumb-item active">{{ action }} County Customers Data</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> {{ action }} County Customers Data</span>
                </h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_payer',{'id':payer}) }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Payer</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-9">
                                        {{ form_start(form, {'attr': {'id':'form'}}) }}
                                        {{ form_widget(form) }}
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <p class="text-danger">(*) Fields required</p>
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_view_payer',{'id':payer}) }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">

         $(document).ready(function(e){

             $('#link_providers_pp').addClass('active')
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#link-menu-payers').addClass('active')

             $('#provider_p_npi_number').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;

                 return true;
             })

             $('.bnt-send').click(function(e){
                 e.preventDefault()
                 $('#county_customer_data_action_type').val(1)   

                 $('#form').submit()
             })

             $('.bnt-send-new').click(function(e){
                 e.preventDefault()
                 $('#county_customer_data_action_type').val(2)   

                 $('#form').submit()
             })
         })
     </script>
 {% endblock %}
