{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_organizationprospect') }}" class="breadcrumb-item">Organization Prospects</a>
                        <span class="breadcrumb-item active">Edit Prospect</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Prospect</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_organizationprospect') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Organization Prospects List</a>
                    <a href="{{ path('admin_new_organizationprospect') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New  Prospect</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_organizationprospect') }}" method="POST" id="form">
                                            <input type="hidden" name="prospect_id" id="prospect_id" value="{{ document.id }}">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> DBA Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="dba_name" id="dba_name" value="{{ document.dbaName }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Status:</label>
                                                <div class="col-lg-10">
                                                    <select name="status" id="status" class="form-control select">
                                                        <option value="0">- Select One Status -</option>
                                                        {% for statu in status %}
                                                            {% set c=0 %}
                                                            {% if document.status %}
                                                                {% if statu.id==document.status.id %}
                                                                    {% set c=1 %}
                                                                {% endif %}
                                                            {% endif %}
                                                            <option value="{{ statu.id }}" {% if c==1 %}selected{% endif %}>{{ statu.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Organization Type:</label>
                                                <div class="col-lg-10">
                                                    <select name="organization_type" id="organization_type" class="form-control select">
                                                        <option value="0">- Select One Gender -</option>
                                                        <option value="P" {% if document.ProviderType=="P" %}selected{% endif %}>Individual</option>
                                                        <option value="F" {% if document.ProviderType=="F" %}selected{% endif %}>Facility</option>
                                                        <option value="G" {% if document.ProviderType=="G" %}selected{% endif %}>Group</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Contact name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="contact_name" id="contact_name" value="{{ document.contactName }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Group NPI:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control required" name="npi" id="npi" value="{{ document.GroupNpi }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Group npi2:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control required" name="npi2" id="npi2" value="{{ document.GroupNpi2 }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control required" name="phone" id="phone" data-mask="999-999-9999" value="{{ document.Phone }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone-Ext:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone_ext" id="phone_ext" value="{{ document.phoneExt }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax No:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control required" name="faxno" id="faxno" data-mask="999-999-9999" value="{{ document.fax }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control required" name="email" id="email" value="{{ document.email }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Standard Rates:</label>
                                                <div class="col-lg-10">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" {% if document.standardRates==1 %} checked {% endif %}class="custom-control-input" id="standard_rates" name="standard_rates" value="1">
                                                        <label class="custom-control-label" for="standard_rates"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Notes:</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="5" cols="5" class="form-control" name="notes" id="notes">{{ document.notes }}</textarea>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_organizationprospect') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/organizationprospect/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#link-menu-prospects').addClass('active')

             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#npi').keyup(function(e){
                 var npi= $('#npi').val()
                 checkNPPESData(npi)
             })
         });

         function checkNPPESData(npi){
             var npi_number=$('#npi')
             var icon_npi_valid=$('#icon_npi_valid')
             var icon_npi_notvalid=$('#icon_npi_notvalid')

             if(npi!="" && npi.length==10){
                 var data={
                     'npi': npi
                 }

                 var url='/admin/provider/checknpi'

                 $.post(url, data, function (result) {
                     var check=0
                     var jsonObj = $.parseJSON(result.json_result);

                     console.log(jsonObj)

                     var resultsObj=jsonObj.results
                     if(jsonObj.Errors || jsonObj.result_count==0){
                         check=1
                     }

                     if(check==0){
                         npi_number.addClass('border-success')
                         npi_number.removeClass('border-danger')

                         icon_npi_valid.removeClass('sr-only')
                         icon_npi_notvalid.addClass('sr-only')
                     }else{
                         npi_number.removeClass('border-success')
                         npi_number.addClass('border-danger')

                         icon_npi_valid.addClass('sr-only')
                         icon_npi_notvalid.removeClass('sr-only')
                     }

                 })
             }
         }

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }
     </script>
 {% endblock %}
