{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':3 }) }}" class="breadcrumb-item">Prospect Addresses list</a>
                        <span class="breadcrumb-item active">Edit Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Address</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':3 }) }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Prospect Address List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form action="{{ path('admin_updated_organizationprospect_address') }}" method="POST" id="form">
                                            <input type="hidden" name="prospect" id="prospect" value="{{ prospect.id }}">
                                            <input type="hidden" name="address_id" id="address_id" value="{{ document.id }}">
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Street:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="street" id="street" placeholder="Street" value="{{ document.street }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_street" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Suite number:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="suite_number" placeholder="Suite number" id="suite_number" value="{{ document.suite }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> City:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="city" id="city" placeholder="City" value="{{ document.city }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_city">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> County:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="county" id="county" placeholder="County" value="{{ document.county }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_county">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Us state:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="state" id="state" placeholder="Us state" value="{{ document.state }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_state" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Zip code:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="zip_code" id="zip_code" placeholder="Zip code" value="{{ document.zipCode }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Region:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="region" id="region" placeholder="Region" value="{{ document.region }}">
                                                </div>
                                            </div>
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label">Phone number:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone_number" id="phone_number" data-mask="999-999-9999" placeholder="Phone number" value="{{ document.phone }}">
                                                </div>
                                            </div>
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label">Fax number:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="fax" id="fax" data-mask="999-999-9999" placeholder="Fax number" value="{{ document.fax }}">
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="google_addr" id="google_addr" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':3 }) }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .select2-container{
            width: 80%;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/notifications/sweet_alert.min.js') }}"></script>
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){

             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);


             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             });
         });

         $('.bnt-send').click(function(e){
             var form=$('#form')
             var send=true

             var street=$('#street')
             var error_street=$('#error_street')
             var city=$('#city')
             var error_city=$('#error_city')
             var state=$('#state')
             var error_state=$('#error_state')
             var county=$('#county')
             var error_county=$('#error_county')

             if(street.val()==""){
                 send=false
                 error_street.removeClass('sr-only')
             }else{
                 error_street.addClass('sr-only')
             }

             if(county.val()==""){
                 send=false
                 error_county.removeClass('sr-only')
             }else{
                 error_county.addClass('sr-only')
             }

             if(city.val()==""){
                 send=false
                 error_city.removeClass('sr-only')
             }else{
                 error_city.addClass('sr-only')
             }

             if(state.val()==""){
                 send=false
                 error_state.removeClass('sr-only')
             }else{
                 error_state.addClass('sr-only')
             }
             
             if(send){
               form.submit()
             }
         })

         //autocomplete procedure
         var placeSearch, autocomplete;
         var componentForm = {
             street_number: 'long_name',
             route: 'long_name',
             locality: 'long_name',
             administrative_area_level_1: 'short_name',
             administrative_area_level_2 : 'long_name',
             postal_code: 'short_name'
         };

         var ids = {
             street_number: 'street',
             route: 'street',
             locality: 'city',
             administrative_area_level_1: 'state',
             administrative_area_level_2 : 'county',
             postal_code: 'zip_code',
         };

         function initAutocomplete() {
             // Create the autocomplete object, restricting the search to geographical
             // location types.
             autocomplete = new google.maps.places.Autocomplete(
                 (document.getElementById('street')),
                 {types: ['geocode']});

             // When the user selects an address from the dropdown, populate the address
             // fields in the form.
             autocomplete.addListener('place_changed', fillInAddress);
         }

         function fillInAddress() {
             // Get the place details from the autocomplete object.
             var place = autocomplete.getPlace();

             var lat=Math.fround(place.geometry.location.lat()).toPrecision(10)
             var lng=Math.fround(place.geometry.location.lng()).toPrecision(10)
             $('#latitude').val(lat)
             $('#longitude').val(lng)

             for (var component in componentForm) {
                 document.getElementById(ids[component]).value = ''
                 document.getElementById(ids[component]).readOnly = false
             }

             // Get each component of the address from the place details
             // and fill the corresponding field on the form.
             var full_addr = '';
             for (var i = 0; i < place.address_components.length; i++) {
                 var addressType = place.address_components[i].types[0]
                 if (componentForm[addressType]) {
                     var val = place.address_components[i][componentForm[addressType]]
                     if(addressType =='street_number' || addressType == 'route'){
                         if(full_addr ==''){
                             full_addr += val
                         }else{
                             full_addr += ' '+val
                         }
                     } else if (addressType == 'administrative_area_level_2'){
                         document.getElementById(ids[addressType]).value = (val != null && val != undefined) ? val.replace(/\sCounty/i, '') : ''
                     } else {
                         document.getElementById(ids[addressType]).value = val
                     }
                 }

             }
             document.getElementById('street').value = full_addr

             if(place.formatted_address){
                 document.getElementById('google_addr').value = place.formatted_address
             }

             var filledCounty = document.querySelector('#county').value;
             if (filledCounty.value != '') {
                 var filledRegion = findRegion(filledCounty.toLowerCase().replace(/county/g, ''));

                 if (filledRegion != null) {
                     document.querySelector('#region').value = filledRegion;
                 }
             }
         }

         // as supplied by the browser's 'navigator.geolocation' object.
         function geolocate() {
             if (navigator.geolocation) {
                 navigator.geolocation.getCurrentPosition(function(position) {
                     var geolocation = {
                         lat: position.coords.latitude,
                         lng: position.coords.longitude
                     };
                     var circle = new google.maps.Circle({
                         center: geolocation,
                         radius: position.coords.accuracy
                     });
                     autocomplete.setBounds(circle.getBounds());
                 });
             }
         }

         function findRegion(county) {
             var regionsAndCounties = [
                 { region: 1, counties: ['Escambia', 'Okaloosa', 'Santa Rosa', 'Walton'] },
                 { region: 2, counties: ['Bay', 'Calhoun', 'Franklin', 'Gadsden', 'Gulf', 'Holmes', 'Jackson', 'Jefferson', 'Leon', 'Liberty', 'Madison', 'Taylor', 'Wakulla', 'Washington'] },
                 { region: 3, counties: ['Alachua', 'Bradford', 'Citrus', 'Columbia', 'Dixie', 'Gilchrist', 'Hamilton', 'Hernando', 'Lafayette', 'Lake', 'Levy', 'Marion', 'Putnam', 'Sumter', 'Suwannee', 'Union'] },
                 { region: 4, counties: ['Baker', 'Clay', 'Duval', 'Flagler', 'Nassau', 'St. Johns', 'Volusia'] },
                 { region: 5, counties: ['Pasco', 'Pinellas'] },
                 { region: 6, counties: ['Hardee', 'Highlands', 'Hillsborough', 'Manatee', 'Polk'] },
                 { region: 7, counties: ['Brevard', 'Orange', 'Osceola', 'Seminole'] },
                 { region: 8, counties: ['Charlotte', 'Collier', 'DeSoto', 'Glades', 'Hendry', 'Lee', 'Sarasota'] },
                 { region: 9, counties: ['Indian River', 'Martin', 'Okeechobee', 'Palm Beach', 'St. Lucie'] },
                 { region: 10, counties: ['Broward'] },
                 { region: 11, counties: ['Miami-Dade', 'Monroe'] }
             ];

             var region = null;

             for (var regionObj of regionsAndCounties) {
                 for (var regionCounty of regionObj.counties) {
                     if(str_contains(regionCounty, county)) {
                         region = regionObj.region;
                         break;
                     }
                 }

                 if (region != null) {
                     break;
                 }
             }

             return region;
         }

         function str_contains(text, search) {
             return str_flatten(text).indexOf(str_flatten(search)) != -1;
         }

         function str_flatten(text) {
             return text.replace(/[^\w]*/g, '').toLowerCase();
         }

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }
     </script>
     <script src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&libraries=places&callback=initAutocomplete" async defer></script>

 {% endblock %}
