{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        #address_p_service_settings .form-check, #address_p_providers .form-check, #address_p_facility_type .form-check {
            display: inline-block;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        {% if origin=="view" %}
                            <a href="{{ path('admin_view_organizationprospect',{'id':id}) }}" class="breadcrumb-item"> Organization Prospect View</a>
                        {% endif %}
                        {% if origin=="index" %}
                            <a href="{{ path('admin_organizationprospect') }}" class="breadcrumb-item"> Organization Prospect List</a>
                        {% endif %}
                        <span class="breadcrumb-item active">{{ action }} Prospect</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> {{ action }} Prospect</span></h5>
                <div class="header-elements">
                    {% if origin=="view" %}
                        <a href="{{ path('admin_view_organizationprospect',{'id':id}) }}" class="btn btn-sm btn-primary"> Organization Prospect View</a>
                    {% endif %}
                    {% if origin=="index" %}
                        <a href="{{ path('admin_organizationprospect') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Organization Prospect List</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9 col-xs-12">
                                        {{ form_start(form, {'attr': {'id':'form', 'novalidate': 'novalidate'}}) }}
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <div class="form-group-feedback form-group-feedback-right">
                                                    {{ form_row(form.group_npi) }}
                                                    <div class="form-control-feedback text-success sr-only" id="icon_npi_valid">
                                                        <i class="icon-checkmark-circle"></i>
                                                    </div>
                                                    <div class="form-control-feedback text-danger sr-only" id="icon_npi_notvalid">
                                                        <i class="icon-cancel-circle2"></i>
                                                    </div>
                                                    <span class="form-text sr-only" id="msj-npi"></span>
                                                </div>
                                                {{ form_widget(form) }}

                                                <p class="text-danger">(*) Fields required</p>
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                {% if origin=="view" %}
                                                    <a href="{{ path('admin_view_organizationprospect',{'id':id}) }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                                {% endif %}
                                                {% if origin=="index" %}
                                                    <a href="{{ path('admin_organizationprospect') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .select2-container{
            width: 80%;
        }
        #form .icon-checkmark-circle, #form .icon-cancel-circle2{
            top:36px;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/notifications/sweet_alert.min.js') }}"></script>
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){

          $('#link-group-prospects').addClass('nav-item-expanded')
          $('#link-group-prospects').addClass('nav-item-open')
          $('#link-menu-prospects').addClass('active')

             function validate(evt) {
                 var theEvent = evt || window.event;

                 // Handle paste
                 if (theEvent.type === 'paste') {
                     key = event.clipboardData.getData('text/plain');
                 } else {
                     // Handle key press
                     var key = theEvent.keyCode || theEvent.which;
                     key = String.fromCharCode(key);
                 }
                 var regex = /[0-9]|\./;
                 if( !regex.test(key) ) {
                     theEvent.returnValue = false;
                     if (theEvent.preventDefault) theEvent.preventDefault();
                 }
             }


              $('#prospect_group_npi').bind('input', function() {

                 var npi=$(this).val()
                 var npi_number=$('#prospect_group_npi')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }

                     var url='/admin/provider/checknpi'
                     $.post(url, data, function (result) {
                         var check=0
                         var jsonObj = $.parseJSON(result.json_result)

                         var resultsObj=jsonObj.results
                         if(jsonObj.Errors || jsonObj.result_count==0){
                             check=1
                         }

                         if(check==0){
                             npi_number.addClass('border-success')
                             npi_number.removeClass('border-danger')

                             icon_npi_valid.removeClass('sr-only')
                             icon_npi_notvalid.addClass('sr-only')

                             //set values from API
                             $.each(resultsObj, function( index, objNPI ) {

                                 $('#error-fields').addClass('sr-only')

                                 var name=objNPI.basic.organization_name
                                 var phone = objNPI.addresses[0].telephone_number

                                 var addresses=objNPI.addresses

                                 $('#prospect_name').val(name)
                                 $('#prospect_phone').val(phone)

                                 var taxonomies=objNPI.taxonomies
                                 $('#prospect_taxonomies option').removeAttr('selected')

                                 var taxOptions= $('#prospect_taxonomies option')

                                 $.each(taxonomies, function( index, taxonomy ) {
                                     var code=taxonomy.code;

                                     $.each(taxOptions, function(index, option){
                                         var option=$(this)

                                         if(code==option.html()){
                                             option.attr('selected',true)
                                             $('#prospect_taxonomies').change()
                                         }
                                     })
                                 })

                                 var address_array=[];

                                 $.each(addresses, function( index, addr ) {
                                     var address_str=""
                                     address_str+=addr.address_1+"~"
                                     address_str+=addr.address_2+"~"
                                     address_str+=addr.city+"~"
                                     address_str+=addr.postal_code+"~"
                                     address_str+=addr.state+"~"
                                     address_str+=addr.telephone_number+"~"
                                     address_str+=addr.fax_number

                                     address_array.push(address_str)
                                 })

                                 $('#prospect_address').val(address_array)
                             })

                         }else{
                             npi_number.removeClass('border-success')
                             npi_number.addClass('border-danger')

                             icon_npi_valid.addClass('sr-only')
                             icon_npi_notvalid.removeClass('sr-only')
                         }
                     })
                 }
             })

             $('.bnt-send').click(function(e){
                 e.preventDefault()
                 $('#prospect_action_type').val(1)
                 $('#form').submit()
             })

             $('.bnt-send-new').click(function(e){
                 e.preventDefault()
                 $('#prospect_action_type').val(2)
                 $('#form').submit()
             })
         })
     </script>

 {% endblock %}