{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organization Prospects</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization Prospects List</span></h5>
                    </div>
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <a href="{{ path('admin_new_organizationprospect') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Organization Prospect</a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-2">
                        <select class="form-control select multiple-options" id="batch-options">
                            <option value="0">Delete Selected</option>
                            <option value="1">Send Email</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleActions()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control" style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                         <div id="myGrid" style="width: 100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Send Email Notification-->
    <div id="modal_send_email" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_add_email_queued_prospect_ajax') }}" method="post" id="form_send_email">
            <input type="hidden" name="id_organization" id="id_organization" value="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Send Email</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Email Template:</label>
                            <div class="col-12">
                                <select class="form-control select" name="email_tempalte" id="email_template">
                                    {% for template in email_templates %}
                                        <option value="{{ template.id }}">{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Date to send:</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="datetosend"  name="datetosend" value="{{ "now"|date("m/d/Y") }}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-send-email"><i class="icon-spinner9 spinner mr-2 sr-only"></i> <i class="fas fa-envelope"></i> Send</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Email modal -->
    {{ include('organizationprospect/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organizationprospect/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000);

            $('#link-group-prospects').addClass('nav-item-expanded')
            $('#link-group-prospects').addClass('nav-item-open')
            $('#link-menu-prospects').addClass('active')

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        var h=$(window).height()-320;
        $('#myGrid').css('height',h)

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "NPI", field: "npi",sortable: true,unSortIcon: true},
            {headerName: "Organization", field: "name",sortable: true,unSortIcon: true},
            {headerName: "Contact Name", field: "contact_name",sortable: true,unSortIcon: true },
            {headerName: "Phone", field: "phone",sortable: true,unSortIcon: true },
            {headerName: "Phone Ext", field: "phone_ext",sortable: true,unSortIcon: true },
            {headerName: "Email", field: "email",sortable: true,unSortIcon: true },
            {headerName: "Counties", field: "counties",sortable: true,unSortIcon: true },
            {headerName: "Regions", field: "regions",sortable: true,unSortIcon: true },
            {headerName: "City", field: "city",sortable: true,unSortIcon: true,hide:true },
            {headerName: "Email Log(Sent dates)", field: "verification",sortable: true,unSortIcon: true, comparator: dateComparator },
            {headerName: "Email Template", field: "template",sortable: true,unSortIcon: true, },
            {headerName: "Status", field: "status",sortable: true,unSortIcon: true },
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

          // events handlers
        function onSelectionChanged(event) {
            this.api.refreshHeader();
        }

        function onPaginationChanged(event) {
            this.api.refreshHeader();
        }

        {% for organizationprospect in organizationprospects %}

        var dates="{{ organizationprospect.created_date|format('Y-m-d') }}"
        var myarr = dates.split(", ");

        var date=""
        date=myarr[0]

        var obj={
            id:"{{ organizationprospect.id }}",
            name: "{{ organizationprospect.name }}",
            organization_type: "{{ organizationprospect.provider_type }}",
            email: "{{ organizationprospect.email }}",
            phone: "{{ organizationprospect.phone }}",
            status: "{{ organizationprospect.status  }}",
            contact_name: "{{ organizationprospect.contact_name }}",
            npi:"{{ organizationprospect.group_npi }}",
            counties: "{{ organizationprospect.counties }}",
            regions: "{{ organizationprospect.regions }}",
            city: "{{ organizationprospect.city }}",
            verification: date,
            template: "{{ organizationprospect.template }}",
            phone_ext: "{{ organizationprospect.phone_ext}}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            floatingFilter: true,
            rowHeight:28,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            rowMultiSelectWithClick: true,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },
        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function dateComparator(date1, date2) {
            var date1Number = monthToComparableNumber(date1);
            var date2Number = monthToComparableNumber(date2);

            if (date1Number === null && date2Number === null) {
                return 0;
            }
            if (date1Number === null) {
                return -1;
            }
            if (date2Number === null) {
                return 1;
            }

            return date1Number - date2Number;
        }

        // eg 29/08/2004 gets converted to 20040829
        function monthToComparableNumber(date) {
            if (date === undefined || date === null || date.length !== 10) {
                return null;
            }

            var yearNumber = date.substring(6, 10);
            var dayNumber = date.substring(3, 5);
            var monthNumber = date.substring(0, 2);

            var result = yearNumber * 10000 + monthNumber * 100 + dayNumber;
            return result;
        }

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{
                var progressBar=$('#progress_delete');
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                var url="/admin/organizationprospect/delete_multiple"

                bootbox.dialog({
                    message: 'Are you sure?',
                    title: 'Delete Organization Prospect Selected',
                    buttons: {
                        success: {
                            label: '<i class="fas fa-ban"></i> Cancel',
                            className: 'btn-success',
                            callback: function() {

                            }
                        },
                        danger: {
                            label: '<i class="far fa-trash-alt"></i> Delete Selected',
                            className: 'btn-danger',
                            callback: function() {

                                progressBar.removeClass('sr-only')
                                $.post(url, data, function (result) {
                                    progressBar.addClass('sr-only')

                                    var removed=result.removed;
                                    var message=result.message;

                                    $('#message-removed').html(message);

                                    if(removed==1){
                                        $('.cont-alert-removed-true').fadeIn(300);

                                        var selectedData = gridOptions.api.getSelectedRows();
                                        var res = gridOptions.api.updateRowData({remove: selectedData});

                                        $('.cont-alert-removed-true').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-true').fadeOut(500);
                                        }, 3000);

                                    }else{
                                        $('.cont-alert-removed-false').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-false').fadeOut(500);
                                        }, 3000);
                                    }
                                })
                            }
                        }
                    }

                });
            }

        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){

                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_organizationprospect") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_organizationprospect") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

       function multipleActions(){
           var rowsSelected=gridOptions.api.getSelectedRows();
           var longrowSelected=rowsSelected.length;

           if(longrowSelected==0){
               bootbox.alert({
                   title: 'Delete seleted!',
                   message: 'Select at least one element please.'
               });
           }else{
               var option=$('#batch-options').val()

               //delete all selected
               if(option==0){
                   var progressBar = $('#progress_delete');
                   var rows = [];

                   $.each(rowsSelected, function () {
                       var row = $(this)[0];
                       rows.push(row.id);
                   })

                   var data = {
                       'ids': rows
                   }

                   var url = "{{ path('admin_delete_multiple_organizationprospect') }}"
                   bootbox.dialog({
                       message: 'Are you sure?',
                       title: 'Delete Prospects Selected',
                       buttons: {
                           success: {
                               label: '<i class="fas fa-ban"></i> Cancel',
                               className: 'btn-success',
                               callback: function () {

                               }
                           },
                           danger: {
                               label: '<i class="far fa-trash-alt"></i> Delete Selected',
                               className: 'btn-danger',
                               callback: function () {
                                   progressBar.removeClass('sr-only')
                                   $.post(url, data, function (result) {
                                       progressBar.addClass('sr-only')

                                       var removed = result.removed;
                                       var message = result.message;

                                       $('#message-removed').html(message);

                                       if (removed == 1) {
                                           $('.cont-alert-removed-true').fadeIn(300);

                                           var selectedData = gridOptions.api.getSelectedRows();
                                           var res = gridOptions.api.updateRowData({remove: selectedData});

                                           $('.cont-alert-removed-true').fadeIn(300);

                                           setTimeout(function () {
                                               $('.cont-alert-removed-true').fadeOut(500);
                                           }, 3000);

                                       } else {
                                           $('.cont-alert-removed-false').fadeIn(300);

                                           setTimeout(function () {
                                               $('.cont-alert-removed-false').fadeOut(500);
                                           }, 3000);
                                       }
                                   })
                               }
                           }
                       }
                   });
               }

               //send emails for all selected
               if(option==1){
                   $('#modal_send_email').modal('show')
               }
           }
       }

        $('.btn-send-email').click(function(e){
            e.preventDefault()

            var url=$('#form_send_email').attr('action')

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            var firstRow = gridOptions.api.getFirstDisplayedRow();
            var lastRow = gridOptions.api.getLastDisplayedRow();

            gridOptions.api.forEachNodeAfterFilter(function(node, index){
                if (index >= firstRow && index <= lastRow) {
                    node.setSelected(true);
                }
            });

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                if(row.email!=""){
                    rows.push(row.id);
                }
            })

            var template=$('#email_template').val()
            var datetosend=$('#datetosend').val()

            var data={
                'ids':rows,
                'template': template,
                'datetosend': datetosend
            }

            var loader=$('.icon-spinner9')
            loader.removeClass('sr-only')

            $.post(url, data, function (result) {
                loader.addClass('sr-only')
                $('#modal_send_email').modal('hide')
            })
        })
    </script>

{% endblock %}
