{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-0">
        <div class="page-header page-header-dark has-cover"
             style="border: 1px solid #ddd; border-bottom: 0;margin-bottom: 10px;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_organizationprospect2') }}" class="breadcrumb-item">Provider Prospects</a>
                        <span class="breadcrumb-item active">Provider Prospect<strong> {{ document.name }}</strong> details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider Prospect <strong>{{ document.getProviderName }}</strong></span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_organizationprospect2') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i>  Provider Prospect List</a>
                    <a href="{{ path('admin_new_organizationprospect2') }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Provider Prospect</a>
                    <a href="{{ path('admin_update_organizationprospect2',{'id':document.id }) }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Provider Prospect</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                            <li class="nav-item"><a href="#colored-rounded-tab1" class="nav-link {% if tab==1 %}active {% endif %} rounded-left" data-toggle="tab">General Info</a></li>
                            <li class="nav-item"><a href="#colored-rounded-tab2" class="nav-link btn-ticket {% if tab==2 %}active {% endif %}" data-toggle="tab">Tickects</a>
                            <li class="nav-item"><a href="#colored-rounded-tab3" class="nav-link btn-address {% if tab==3 %}active {% endif %}" data-toggle="tab">Addresses</a>
                            <li class="nav-item"><a href="#colored-rounded-tab4" class="nav-link {% if tab==4 %}active {% endif %}" data-toggle="tab">PML</a>
                            <li class="nav-item"><a href="#colored-rounded-tab5" class="nav-link {% if tab==5 %}active {% endif %}" data-toggle="tab">Email log</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade {% if tab==1 %}show active {% endif %}" id="colored-rounded-tab1">
                                <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">First Name:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.providerName }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Last Name:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.lastName }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Status:</label>
                                                <p class="col-form-label text-body p_docs p-inline">
                                                    {% if document.status %}
                                                        {{ document.status.name }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Provider NPI:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.providerNpi }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Phone:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.Phone }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Email:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.email }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Standard Rates:</label>
                                                {% if document.StandardRates==1 %}
                                                    <i class="fas fa-check text-success ml-2"></i>
                                                {% else %}
                                                    <i class="fas fa-times text-danger ml-2"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Notes:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body p_docs">
                                                            {{ document.notes }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade  {% if tab==2 %}show active {% endif %}"  id="colored-rounded-tab2">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>Organization Ticket List</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6 col-xs-12">
                                                    </div>
                                                    <div class="col-6 col-xs-12 text-right pr-2">
                                                        <a href="{{ path('admin_new_organizationprospectticket',{'id':document.id}) }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Ticket</a>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-12">
                                                        <div class="progress sr-only" id="progress_delete">
                                                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                                                <span class="">Deleting Items Selected ...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-2">
                                                        <select class="form-control select btn-delete-all">
                                                            <option value="0">Delete Selected</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <a href="#" class="btn btn-info" id="select_multiple" onclick="deleteSelected()"><i class="fas fa-cog"></i> Execute</a>
                                                    </div>
                                                    <div class="col-6 offset-2">
                                                        <div class="form-group form-group-feedback form-group-feedback-left">
                                                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                                                            <div class="form-control-feedback form-control-feedback-sm">
                                                                <i class="fas fa-search"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="myGrid" style="height: 50vh;width:100%;" class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade  {% if tab==3 %}show active {% endif %}"  id="colored-rounded-tab3">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>Address</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6 col-xs-12">
                                                        <div class="form-group form-group-feedback form-group-feedback-left">
                                                            <input type="text" class="form-control form-control-sm" id="filter-text-box-adress" placeholder="Type to Filter...1" oninput="onFilterTextBoxChangedAddress()">
                                                            <div class="form-control-feedback form-control-feedback-sm">
                                                                <i class="fas fa-search"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-xs-12 text-right">
                                                        <a href="{{ path('admin_new_organizationprospect_address2',{'id':document.id}) }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Addresss</a>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-12">
                                                        <div class="progress sr-only" id="progress_delete">
                                                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                                                <span class="">Deleting Items Selected ...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="grid_address" style="height: 50vh;width:100%;" class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade  {% if tab==4 %}show active {% endif %}"  id="colored-rounded-tab4">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>PML Records</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive" id="table_grid_cred">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <tr class="bg-slate">
                                                            <th>Status</th>
                                                            <th>Florida Medicaid</th>
                                                            <th style="text-align: left">NPI</th>
                                                            <th>Provider Type Code</th>
                                                            <th>Provider Specialty Code</th>
                                                            <th>Taxonomy Code</th>
                                                            <th>License</th>
                                                            <th>Service Address</th>
                                                            <th>NPI Type</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for pml in pmls %}
                                                            <tr>
                                                                <td>
                                                                    {% if pml.colW=="A" %}
                                                                        <span class="badge badge-success">Active</span>
                                                                    {% endif %}
                                                                    {% if pml.colW=="I" %}
                                                                        <span class="badge badge-danger">Inactive</span>
                                                                    {% endif %}
                                                                    {% if pml.colW=="E" %}
                                                                        <span class="badge badge-warning">Ineligible</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td style="padding-left: 0;">{{ pml.colA }}</td>
                                                                <td style="text-align: left">{{ pml.colN }}</td>
                                                                <td><span class="badge badge-dark badge-pill">{{ pml.colD }}</span></td>
                                                                <td><span class="badge badge-warning badge-pill">{{ pml.colE }}</span></td>
                                                                <td>{{ pml.colF }}</td>
                                                                <td>{{ pml.colV }}</td>
                                                                <td>{{ pml.colG }}</td>
                                                                <td>
                                                                    {% if pml.colM=="1" %}
                                                                        <span class="badge badge-flat border-primary text-primary-600">Individual</span>
                                                                    {% endif %}
                                                                    {% if pml.colM=="2" %}
                                                                        <span class="badge badge-flat border-grey text-grey-600">Organization</span>
                                                                    {% endif %}
                                                                    {% if pml.colM=="U" %}
                                                                        <span class="badge badge-flat border-warning text-warning-600">Unknown</span>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade  {% if tab==5 %}show active {% endif %}"  id="colored-rounded-tab5">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>Email logs</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive" id="table_grid_cred">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <tr class="bg-slate">
                                                            <th>Email</th>
                                                            <th>Date</th>
                                                            <th>Email template</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for emailLog in emailLogs %}
                                                            <tr>
                                                                <td>{{ emailLog.sentTo }}</td>
                                                                <td>{{ emailLog.createdDate|date('m/d/Y') }}</td>
                                                                <td>{{ emailLog.emailType.name }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('organizationprospectticket/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/organizationprospectticket/delete.js') }}"></script>

     <script type="text/javascript">

         $('.btn-delete-ticket').click(function(e){
             console.log('OK1')
         })

         $('#link-group-prospects').addClass('nav-item-expanded')
         $('#link-group-prospects').addClass('nav-item-open')
         $('#link-menu-prospects-providers').addClass('active')

         setTimeout(function () {
             $('.flash-notification').fadeOut(500);
         }, 3000)

         var columnDefs = [
             {headerName: "Date", field: "date", sortable: true, unSortIcon: true},
             {headerName: "Description", field: "description", sortable: true, unSortIcon: true},
             {
                 headerName: "Actions",
                 field: "actions",
                 sortable: false,
                 enableRowGroup: false,
                 filter: false,
                 cellRenderer: actionCellRendererFunc,
                 maxWidth: 200,
                 cellClass: 'col-Actions'
             },
         ];

         var addresscolumnDefs = [
             {headerName: "Street", field: "street", sortable: true, unSortIcon: true},
             {headerName: "Suite", field: "suite", sortable: true, unSortIcon: true},
             {headerName: "City", field: "city", sortable: true, unSortIcon: true},
             {headerName: "State", field: "state", sortable: true, unSortIcon: true},
             {headerName: "Zip Code", field: "zipcode", sortable: true, unSortIcon: true},
             {headerName: "County", field: "county", sortable: true, unSortIcon: true},
             {headerName: "Region", field: "region", sortable: true, unSortIcon: true},
             {headerName: "Phone", field: "phone", sortable: true, unSortIcon: true},
             {headerName: "Fax", field: "fax", sortable: true, unSortIcon: true,hide: true},
             {
                 headerName: "Actions",
                 field: "actions",
                 sortable: false,
                 enableRowGroup: false,
                 filter: false,
                 cellRenderer: actionCellAddressRendererFunc,
                 maxWidth: 200,minWidth:200,
                 cellClass: 'col-Actions'
             },
         ];

         var rowData = [];

         {% for ticket in tickets %}

         var obj = {
             id: "{{ ticket.id }}",
             date: "{{ ticket.TicketDate }}",
             description: "{{ ticket.description }}",
         }
         rowData.push(obj);
         {% endfor %}

         var addressRowData=[]
         {% for addr in address %}
         var obj = {
             id: "{{ addr.id }}",
             street: "{{ addr.street }}",
             suite: "{{ addr.suite }}",
             city: "{{ addr.city }}",
             state: "{{ addr.state }}",
             zipcode: "{{ addr.zipcode }}",
             county: "{{ addr.county }}",
             region: "{{ addr.region }}",
             phone: "{{ addr.phone }}",
             fax: "{{ addr.fax }}",

         }
         addressRowData.push(obj);
         {% endfor %}


         // let the grid know which columns and what data to use
         var gridOptions = {
             columnDefs: columnDefs,
             rowSelection: 'multiple',
             rowData: rowData,
             defaultColDef: {
                 resizable: true,
                 filter: true
             },
             animateRows: true,
             pagination: true,
             paginationAutoPageSize: true,
             rowHeight: 30,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             groupUseEntireRow: true,
             onFirstDataRendered: onFirstDataRendered,
             statusBar: {
                 statusPanels: [
                     {statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left'},
                     {statusPanel: 'agFilteredRowCountComponent'},
                     {statusPanel: 'agSelectedRowCountComponent'},
                     {statusPanel: 'agAggregationComponent'}
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },
         };

         // let the grid know which columns and what data to use
         var addressgridOptions = {
             columnDefs: addresscolumnDefs,
             rowSelection: 'multiple',
             rowData: addressRowData,
             defaultColDef: {
                 resizable: true,
                 filter: true
             },
             animateRows: true,
             pagination: true,
             paginationAutoPageSize: false,
             rowHeight: 30,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             groupUseEntireRow: true,
             onFirstDataRendered: onFirstDataRendered,
             statusBar: {
                 statusPanels: [
                     {statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left'},
                     {statusPanel: 'agFilteredRowCountComponent'},
                     {statusPanel: 'agSelectedRowCountComponent'},
                     {statusPanel: 'agAggregationComponent'}
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },

         };

         function onFirstDataRendered(params) {
             gridOptions.api.sizeColumnsToFit();
             addressgridOptions.api.sizeColumnsToFit();
         }

         $('.btn-ticket').click(function () {
             gridOptions.api.sizeColumnsToFit();
         })

         $('.btn-address').click(function () {
             addressgridOptions.api.sizeColumnsToFit();
         })

         $(window).resize(function () {
             gridOptions.api.sizeColumnsToFit();
             addressgridOptions.api.sizeColumnsToFit();
         })

         $(document).ready(function () {
             gridOptions.api.sizeColumnsToFit();
             addressgridOptions.api.sizeColumnsToFit();
         })

         function deleteSelected() {
             var rowsSelected = gridOptions.api.getSelectedRows();
             var longrowSelected = rowsSelected.length;

             if (longrowSelected == 0) {
                 bootbox.alert({
                     title: 'Delete seleted!',
                     message: 'Select at least one element please.'
                 });

             } else {
                 var progressBar = $('#progress_delete');
                 var rows = [];

                 $.each(rowsSelected, function () {
                     var row = $(this)[0];
                     rows.push(row.id);
                 })

                 var data = {
                     'ids': rows
                 }

                 var url = "/admin/organizationprospectticket/delete_multiple";

                 bootbox.dialog({
                     message: 'Are you sure?',
                     title: 'Delete Tickects Selected',
                     buttons: {
                         success: {
                             label: '<i class="fas fa-ban"></i> Cancel',
                             className: 'btn-success',
                             callback: function () {

                             }
                         },
                         danger: {
                             label: '<i class="far fa-trash-alt"></i> Delete Selected',
                             className: 'btn-danger',
                             callback: function () {

                                 progressBar.removeClass('sr-only')
                                 $.post(url, data, function (result) {
                                     progressBar.addClass('sr-only')

                                     var removed = result.removed;
                                     var message = result.message;

                                     $('#message-removed').html(message);

                                     if (removed == 1) {
                                         $('.cont-alert-removed-true').fadeIn(300);

                                         var selectedData = gridOptions.api.getSelectedRows();
                                         var res = gridOptions.api.updateRowData({remove: selectedData});

                                         $('.cont-alert-removed-true').fadeIn(300);

                                         setTimeout(function () {
                                             $('.cont-alert-removed-true').fadeOut(500);
                                         }, 3000);

                                     } else {
                                         $('.cont-alert-removed-false').fadeIn(300);

                                         setTimeout(function () {
                                             $('.cont-alert-removed-false').fadeOut(500);
                                         }, 3000);
                                     }
                                 })
                             }
                         }
                     }
                 });
             }
         }

         function actionCellRendererFunc(params) {
             var id = params.data.id;
             var id_org ={{ document.id }};

             var url_view = '{{ path("admin_view_organizationprospectticket") }}'+"/"+id
             var url_edit = '{{ path("admin_edit_organizationprospectticket") }}'+"/"+id

             return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon btn-actions"><i class="far fa-eye"></i></a>' +
                 '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                 '<a href="#" data-id="' + id + '" class="btn btn-sm bg-danger border-danger text-danger-800 ml-1 btn-icon btn-actions btn-delete-ticket"><i class="far fa-trash-alt"></i></a>';
         }

         function actionCellAddressRendererFunc(params) {
             var id = params.data.id;
             var id_prospect ={{ document.id }};

             var url_view = '{{ path("admin_view_organizationprospect_address") }}'+"/"+id+"/"+id_prospect
             var url_edit = '{{ path("admin_edit_organizationprospect_address") }}'+"/"+id+"/"+id_prospect

             return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon  btn-actions"><i class="far fa-eye"></i></a>' +
                 '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
         }

         function countryCellRenderer(params) {
             return params.value.name + ' (' + params.value.code + ')';
         }

         function countryKeyCreator(params) {
             var countryObject = params.value;
             var key = countryObject.name;
             return key;
         }

         function onFilterTextBoxChanged() {
             gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
         }

         function onFilterTextBoxChangedAddress() {
             addressgridOptions.api.setQuickFilter(document.getElementById('filter-text-box-adress').value);
         }

         function onPageSizeChanged(newPageSize) {
             var value = document.getElementById('page-size').value;
             gridOptions.api.paginationSetPageSize(Number(value));
         }

         var gridDiv = document.querySelector('#myGrid');
         new agGrid.Grid(gridDiv, gridOptions);

         var grid_address = document.querySelector('#grid_address');
         new agGrid.Grid(grid_address, addressgridOptions );
     </script>
 {% endblock %}
