{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':6 }) }}" class="breadcrumb-item">Prospect Contact list</a>
                        <span class="breadcrumb-item active">View Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> View Contact</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':6 }) }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Prospect Contact List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    {{ contact.name }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Phone:</label>
                                                <div class="col-lg-10">
                                                    {{ contact.phone }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone Ext:</label>
                                                <div class="col-lg-10">
                                                    {{ contact.getPhoneExt() }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Mobile:</label>
                                                <div class="col-lg-10">
                                                    {{ contact.getMobile() }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax:</label>
                                                <div class="col-lg-10">
                                                    {{ contact.getFax() }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Email:</label>
                                                <div class="col-lg-10">
                                                    {{ contact.getEmail() }}
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .select2-container{
            width: 80%;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/notifications/sweet_alert.min.js') }}"></script>
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){

             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

         });
     </script>

 {% endblock %}
