{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':3 }) }}" class="breadcrumb-item">Prospect Addresses list</a>
                        <span class="breadcrumb-item active">View Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> View Address</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':3 }) }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Prospect Address List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form action="{{ path('admin_updated_organizationprospect_address') }}" method="POST" id="form">
                                            <input type="hidden" name="prospect" id="prospect" value="{{ prospect.id }}">
                                            <input type="hidden" name="address_id" id="address_id" value="{{ document.id }}">
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Street:</label>
                                                <div class="col-lg-10">
                                                   {{ document.street }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Suite number:</label>
                                                <div class="col-lg-10">
                                                   {{ document.suite }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> City:</label>
                                                <div class="col-lg-10">
                                                    {{ document.city }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> County:</label>
                                                <div class="col-lg-10">
                                                    {{ document.county }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Us state:</label>
                                                <div class="col-lg-10">
                                                    {{ document.state }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Zip code:</label>
                                                <div class="col-lg-10">
                                                    {{ document.zipCode }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Region:</label>
                                                <div class="col-lg-10">
                                                    {{ document.region }}
                                                </div>
                                            </div>
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Phone number:</label>
                                                <div class="col-lg-10">
                                                    {{ document.phone }}
                                                </div>
                                            </div>
                                            <div class="form-group row mt-4">
                                                <label class="col-lg-2 col-form-label">Fax number:</label>
                                                <div class="col-lg-10">
                                                   {{ document.fax }}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .select2-container{
            width: 80%;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/notifications/sweet_alert.min.js') }}"></script>
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){

             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

         });
     </script>

 {% endblock %}
