{% extends 'base-login.html.twig' %}
{% block body %}
    <style>
        .alert{
            padding-bottom: 5px;
            padding-top: 5px;
            margin-top: 5px;
        }
    </style>
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <form action="{{ path('verify-email-ajax') }}" class="flex-fill" method="POST" id="form">
                    <input type="hidden" name="vc" id="vh" value="{{ vh }}" />
                    {% if organization %}
                        <input type="hidden" name="organization" id="organization" value="{{ organization.id }}" />
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="text-center mb-3">
                                        <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                                        <h5 class="mb-0">Create account for {% if organization %}<strong>{{ organization.name }}</strong>{% endif %}</h5>
                                        <span class="d-block text-muted">Please fill all fields</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">First name:</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="First name">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-check text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_name">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Last name:</label>
                                                <input type="text" class="form-control"  name="lastname" id="lastname" placeholder="Last name">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-check text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_lastname">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Phone number:</label>
                                                <input type="text" class="form-control"  name="phone" id="phone" value="{{ contact.phone }}" placeholder="Your Contact Number" data-mask="999-999-9999">
                                                <div class="form-control-feedback">
                                                    <i class="icon-phone2 text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_phone">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Your email:</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Your email" value="{{ contact.email }}">
                                                <div class="form-control-feedback">
                                                    <i class="icon-mention text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_email">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Create password:</label>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="New password">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-lock text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_password">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p><span class="text-danger">*</span> All fields are required</p>
                                    {% if organization %}
                                        <a href="#" class="btn bg-teal-400 btn-labeled btn-labeled-right btn-send"><b><i class="icon-plus3"></i></b> Create account</a>
                                        <div class="progress mt-2 sr-only" id="progress_validating">
                                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                                <span class="">Validating your email ...</span>
                                            </div>
                                        </div>
                                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-dismissible sr-only" id="cont-valid-info">
                                            <span class="font-weight-semibold">Well done!</span> Your information are successfully checked and the user created.
                                        </div>
                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only" id="cont-not-valid-info">
                                            <span class="font-weight-semibold">Warning!</span>  Your information could not be verified our support person will contact you.
                                        </div>
                                    {% else %}
                                        <span class="font-weight-semibold">The verification code is wrong!, Please check you email for get a correct link</span>
                                        <div class="alert alert-warning alert-styled-left alert-dismissible">
                                            <span class="font-weight-semibold">Warning!</span>The verification code is wrong!, Please check you email for get a correct link.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         $(document).ready(function (e) {

             $('.btn-send').click(function(e){
                 e.preventDefault()

                 var email=$('#email').val()
                 var name=$('#name').val()
                 var lastname=$('#lastname').val()
                 var phone=$('#phone').val()
                 var organization=$('#organization').val()
                 var vh=$('#vh').val()
                 var password1=$('#password').val()

                 var error_email=$('#error_email')
                 var error_name=$('#error_name')
                 var error_lastname=$('#error_lastname')
                 var error_phone=$('#error_phone')
                 var error_password=$('#error_password')

                 var send=true
                 var url=$('#form').attr('action')
                 var data={
                     first_name: name,
                     last_name: lastname,
                     email: email,
                     phone: phone,
                     vh: vh,
                     password: password1,
                     organization: organization
                 }

                 var progress_bar=$('#progress_validating')

                 if(name==""){
                     send=false
                     error_name.removeClass('sr-only')
                 }else{
                     error_name.addClass('sr-only')
                 }

                 if(lastname==""){
                     send=false
                     error_lastname.removeClass('sr-only')
                 }else{
                     error_lastname.addClass('sr-only')
                 }

                 if(phone==""){
                     send=false
                     error_phone.removeClass('sr-only')
                 }else{
                     error_phone.addClass('sr-only')
                 }

                 if(email==""){
                     send=false
                     error_email.removeClass('sr-only')
                 }else{
                     error_email.addClass('sr-only')
                 }

                 if(password1==""){
                     send=false
                     error_password.removeClass('sr-only')
                 }else{
                     error_password.addClass('sr-only')
                 }

                 if(send==true){
                     progress_bar.removeClass('sr-only')
                     $.post(url, data, function (result) {
                         progress_bar.addClass('sr-only')

                         var exist=result.exist;
                         if(exist==false){
                             $('#cont-not-valid-info').removeClass('sr-only')
                             $('#cont-valid-info').addClass('sr-only')
                         }else{
                             $('#cont-not-valid-info').addClass('sr-only')
                             $('#cont-valid-info').removeClass('sr-only')

                             window.location.href = 'http://admin.bsnnet.com/admin/login';
                         }

                     })
                 }
             })

         })
     </script>


 {% endblock %}


