{% extends 'base_payer.html.twig' %}
{% block body %}
    <div class="page-header page-header-light">
        <div class="row mr-0 ml-0">
            <div class="col-6 pl-2">
                <div class="breadcrumb">
                    <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <span class="breadcrumb-item active">Dashboard</span>
                </div>
            </div>
            <div class="col-6 text-right pr-2">
                {% if super_admin==true %}
                <form action="{{ path('set_user_payer') }}" method="post" id="form_set_payer">
                <label class="col-form-label mr-1">Set Payer:</label>
                <select class="form-control" name="payer" style="max-width: 250px!important;display: inline-block;" id="change-payer">
                    {% for payer in payers %}
                        {% set c=0 %}
                        {% if payer.id==app.user.payer.id %} {% set c=1 %}{% endif %}
                        <option value="{{ payer.id }}" {% if c==1 %}selected{% endif %}>{{ payer.name }}</option>
                    {% endfor %}
                </select>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body py-0 pt-2">
            <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Dashboard</span></h5>
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <a href="{{ path('payer_providers_list') }}"><i class="fas fa-user-md text-success-400 fa-3x"></i></a>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0"><a href="{{ path('payer_providers_list') }}" class="text-success">{{ size }}</a></h3>
                                <a href="{{ path('payer_providers_list') }}"><span class="text-uppercase font-size-sm text-success">Providers</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <a href="{{ path('payer_address_list') }}"><i class="fas fa-hospital-alt text-primary fa-3x"></i></a>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0 text-primary"><a href="{{ path('payer_address_list') }}">{{ total_organizations }}</a></h3>
                               <span class="text-uppercase font-size-sm text-muted"><a href="{{ path('payer_address_list') }}">Organizations</a></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <a href="{{ path('payer_map') }}"><i class="fas fa-map-marked text-teal fa-3x"></i></a>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0 text-teal"><a href="{{ path('payer_map') }}">{{ address_count }}</a></h3>
                                <span class="text-uppercase font-size-sm text-muted"><a href="{{ path('payer_map') }}">Addresses</a></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript" charset="utf-8">

         $(function(e){
             $('#path_home').addClass('active');
         });

         $('#link_payers_dashboard').addClass('active')

         $('#change-payer').change(function(e){

             var url=$('#form_set_payer').attr('action')

             $('#form_set_payer').submit()
         })

     </script>

 {% endblock %}

