{% extends 'base_payer.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Indivudal Roster Report</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Indivudal Roster Report</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row mb-1">
                        <div class="col-6">
                            <a href="" class="btn btn-primary btn-export-all"><i class="far fa-file-excel"></i> Export</a>
                        </div>
                        <div class="col-6 text-right">
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <label class="col-form-label mr-1">Page size:</label>
                                    <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                        <option value="25" selected>25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ path('export_provider_roster_mmm') }}" method="post" id="form_export_roster_mmm">
        <input type="hidden" name="npis" id="npis" value="">
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/role/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            $('#link_report_provider_roster_mmm').addClass('active')
            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        var columnDefs = [
            { headerName: "Afiliation Status (NEW, TERMINATED, CHANGES)", field: "col_a",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "If Change, identify changes", field: "col_b",sortable: true,unSortIcon: true ,cellClass: 'font_11' , hide:true},
            { headerName: "Delegated Entity Name", field: "col_c",sortable: true,unSortIcon: true ,cellClass: 'font_11' , hide:true},
            { headerName: "REPORTING DATE", field: "col_d",sortable: true,unSortIcon: true , cellClass: 'font_11'},
            { headerName: "Afiliation Status PAR and NONPAR", field: "col_e",sortable: true,unSortIcon: true ,cellClass: 'font_11'},
            { headerName: "RENDERING NPI", field: "col_f",sortable: true,unSortIcon: true ,cellClass: 'font_11'},
            { headerName: "CONTRACT EFFECTIVE DATE", field: "col_g",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "CONTRACT Termination DATE", field: "col_h",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "RENDERING LAST NAME", field: "col_i",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "RENDERING MIDDLE INITIAL", field: "col_j",sortable: true,unSortIcon: true,cellClass: 'font_11' },
            { headerName: "RENDERING FIRST NAME", field: "col_k",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "RENDERING SPECIALTY", field: "col_l",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "EMAIL", field: "col_m",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "PRIMARY SPECILATY? Y/N", field: "col_n",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "PCP INDICATOR", field: "col_o",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "DISPLAY LOCATION ON DIRECTORY?", field: "col_p",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "ACCEPTING NEW Medicare PATIENTS? Y/N", field: "col_q",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "List of City", field: "col_r",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "IPA NAME", field: "col_s",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "IPA TIN", field: "col_t",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "IPA NPI", field: "col_u",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "SPECIALTY LEVEL (MD, PSYD, PHD, MS, BA)", field: "col_v",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING GROUP NAME", field: "col_w",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING NPI", field: "col_x",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "TIN (Tax Identification Number)", field: "col_y",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING SPECIALTY", field: "col_z",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Pracrice NAME", field: "col_aa",sortable: true,unSortIcon: true  ,cellClass: 'font_11' },
            { headerName: "LocationAddr1", field: "col_ab",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "LocationAddr2", field: "col_ac",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "LocationAddrCity", field: "col_ad",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "LocationAddrState", field: "col_ae",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "LocationAddrZipCode", field: "col_af",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "LocationPhoneNumber", field: "col_ag",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "LocationFaxNumber", field: "col_ah",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "SUNDAY", field: "col_ai",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "MONDAY", field: "col_aj",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "TUESDAY", field: "col_ak",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "WEDNESDAY", field: "col_al",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "THURSDAY", field: "col_am",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "FRIDAY", field: "col_an",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "SATURDAY", field: "col_ao",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING ADDRESS 1", field: "col_ap",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING ADDRESS 2", field: "col_aq",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING CITY", field: "col_ar",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING STATE", field: "col_as",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "BILLING ZIP CODE", field: "col_at",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "PHONE NUMBER", field: "col_au",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "FAX ", field: "col_av",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Type of HOSPITAL PRIVILEGES? Admitting, Consulting, etc…", field: "col_aw",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "HOSPITAL PRIVILEGES", field: "col_ax",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "HOSPITAL NPI", field: "col_ay",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Capitated contract?", field: "col_az",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "PLACE OF SERVICE ", field: "col_ba",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "FEE FOR SERVICE contract?", field: "col_bb",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Fee for Service Contract % of Medicare", field: "col_bc",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Special CPT CODE Fee", field: "col_db",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_be",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bf",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bg",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bh",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bi",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bj",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bk",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bl",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bm",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bn",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bo",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bp",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bq",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_br",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bs",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bt",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Special CPT CODE Fee", field: "col_bu",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Business/Legal Entity", field: "col_bv",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Business/Legal Entity TIN", field: "col_bw",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Legal Notice Address", field: "col_bx",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Board Certified Y/N", field: "col_by",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Board Certified Specialty", field: "col_bz",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Hospital Based Physician Y/N", field: "col_ca",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Language", field: "col_cb",sortable: true,unSortIcon: true ,cellClass: 'font_11' },
            { headerName: "Pay To Affiliation (PAY TIN or PAY Billing) Plan will complete this column", field: "col_cc",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "Member moves Required Y/N (if PCP or PCP location is being termed member moves are required)", field: "col_cd",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP Name", field: "col_ce",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP RNPI", field: "col_cf",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP PLID", field: "col_cg",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP Practice Name", field: "col_ch",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "LocationAddr1", field: "col_ci",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "LocationAddr2", field: "col_cj",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "LocationAddrCity", field: "col_ck",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "LocationAddrState", field: "col_cl",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "LocationAddrZipCode", field: "col_cm",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP Billing Name", field: "col_cn",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP BNPI", field: "col_co",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
            { headerName: "New PCP TIN", field: "col_cp",sortable: true,unSortIcon: true ,cellClass: 'font_11', hide:true },
        ];

        var rowData = [

        ];

        {% for provider_d in provider_data %}
        var obj={
            col_c:"Behavioral Services Network, LLC",
            col_d: "{{ date }}",
            col_e: "PAR",
            col_f: "{{ provider_d['col_f'] }}",
            col_g: "{{ provider_d['col_g'] }}",
            col_i: "{{ provider_d['col_i'] }}",
            col_j: "{{ provider_d['col_j'] }}",
            col_k: "{{ provider_d['col_k'] }}",
            col_l: "{{ provider_d['col_l'] }}",
            col_m: "{{ provider_d['col_m'] }}",
            col_n: "{{ provider_d['col_n'] }}",
            col_o: "{{ provider_d['col_o'] }}",
            col_p: "{{ provider_d['col_p'] }}",
            col_q: "{{ provider_d['col_q'] }}",
            col_v: "{{ provider_d['col_v'] }}",
            col_w: "{{ provider_d['col_w'] }}",
            col_x: "{{ provider_d['col_x'] }}",
            col_y: "{{ provider_d['col_y'] }}",
            col_z: "{{ provider_d['col_z'] }}",
            col_aa: "{{ provider_d['col_aa'] }}",
            col_ab: "{{ provider_d['col_ab'] }}",
            col_ac: "{{ provider_d['col_ac'] }}",
            col_ad: "{{ provider_d['col_ad'] }}",
            col_ae: "{{ provider_d['col_ae'] }}",
            col_af: "{{ provider_d['col_af'] }}",
            col_ag: "{{ provider_d['col_ag'] }}",
            col_ah: "{{ provider_d['col_ah'] }}",
            col_az: "{{ provider_d['col_az'] }}",
            col_bb: "{{ provider_d['col_bb'] }}",
            col_bc: "{{ provider_d['col_bc'] }}",
            col_bv: "{{ provider_d['col_bv'] }}",
            col_bw: "{{ provider_d['col_bw'] }}",
            col_bx: "{{ provider_d['col_bx'] }}",
            col_bz: "{{ provider_d['col_bz'] }}",
            col_by: "{{ provider_d['col_by'] }}",
            col_ca: "{{ provider_d['col_ca'] }}",
            col_cb: "{{ provider_d['col_cb'] }}",
            col_ai: "{{ provider_d['col_ai'] }}",
            col_aj: "{{ provider_d['col_aj'] }}",
            col_ak: "{{ provider_d['col_ak'] }}",
            col_al: "{{ provider_d['col_al'] }}",
            col_am: "{{ provider_d['col_am'] }}",
            col_an: "{{ provider_d['col_an'] }}",
            col_ao: "{{ provider_d['col_ao'] }}",
            col_ap: "{{ provider_d['col_ap'] }}",
            col_aq: "{{ provider_d['col_aq'] }}",
            col_ar: "{{ provider_d['col_ar'] }}",
            col_as: "{{ provider_d['col_as'] }}",
            col_at: "{{ provider_d['col_at'] }}",
            col_au: "{{ provider_d['col_au'] }}",
            col_av: "{{ provider_d['col_av'] }}",
            col_aw: "{{ provider_d['col_aw'] }}",
            col_ax: "{{ provider_d['col_ax'] }}",
            col_ba: "{{ provider_d['col_ba'] }}",
        }

        rowData.push(obj);
        {% endfor %}


        function enabledCellRendererFunc(params){
            var newpatients =params.data.newpatients;

            var btn=""
            if(newpatients){
                btn='<i class="fas fa-check text-success ml-2"></i>'
            }else{
                btn='<i class="fas fa-times text-danger ml-2"></i>'
            }

            return btn;
        }

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            floatingFilter:true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            headerHeight: 45,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            groupUseEntireRow:true,
            suppressCsvExport:true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },
            excelStyles: [
                {
                    id: "header",
                    interior: {
                        color: "#a9e8c6", pattern: 'Solid'
                    },
                    alignment: {
                        vertical: "Center"
                    },
                    font: {
                        bold: true,
                        size: 11
                    }
                },
                {
                    id: 'cell',
                    alignment: {
                        vertical: 'Center',
                    },
                    font: {
                        color: "#e0ffc1"
                    }
                },
                {
                    id: "font_11",
                    alignment: {
                        vertical: 'Center',
                    },
                    font: { color: "#000000",size: 11 },
                },
            ]
        };


        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
            gridOptions.columnApi.autoSizeAllColumns();
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
            params.columnApi.autoSizeAllColumns();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
            gridOptions.columnApi.autoSizeAllColumns();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
            gridOptions.columnApi.autoSizeAllColumns();
        })

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function clearFilters() {
            gridOptions.api.setFilterModel(null);
            gridOptions.api.onFilterChanged();
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        function getNumericValue(cssSelector) {
            var value = parseFloat(getTextValue(cssSelector));
            if (isNaN(value)) {
                var message = 'Invalid number entered in ' + cssSelector + ' field';
                alert(message);
                throw new Error(message);
            }
            return value;
        }

        function getBooleanValue(cssSelector) {
            return document.querySelector(cssSelector).checked === true;
        }

        function getTextValue(cssSelector) {
            return document.querySelector(cssSelector).value;
        }

        $('.btn-export-all').click(function(e){
            e.preventDefault()

            var params = {
                fontSize: 11,
                rowHeight: 28,
                headerRowHeight: 60,
                fileName: 'Individual_Roster_Report.xlsx',
            };

            gridOptions.api.exportDataAsExcel(params);
        })
    </script>

{% endblock %}
