{% extends 'base_payer.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Key Indicators Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Key Indicators Dashboard</span></h5>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12 text-right">
                        <form action="{{ path('admin_create_report_key_indicator') }}" method="post" id="form-export-excel">
                            <input type="hidden" name="current_payer" id="current_payer" value="{{ app.user.payer.id }}"/>
                            <div class="row mb-1">
                                <div class="col-2">
                                    <select class="form-control select year_data select" data-fouc name="year_data" id="year_data">
                                        <option value="2020">2020</option>
                                        <option value="2021" selected>2021</option>
                                    </select>
                                </div>
                                <div class="col-10 text-right">
                                    <a href="#" class="btn btn-sm btn-primary btn-export-excel">Export XLS <i class="far fa-file-excel"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-2">Contracting</h3>
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-slate">
                                    <th width="15%">Indicators</th>
                                    <th class="text-center">Jan</th>
                                    <th class="text-center">Feb</th>
                                    <th class="text-center">Mar</th>
                                    <th class="text-center">Apr</th>
                                    <th class="text-center">May</th>
                                    <th class="text-center">Jun</th>
                                    <th class="text-center">Jul</th>
                                    <th class="text-center">Aug</th>
                                    <th class="text-center">Sep</th>
                                    <th class="text-center">Oct</th>
                                    <th class="text-center">Nov</th>
                                    <th class="text-center">Dec</th>
                                    <th class="text-center">YTD</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mmm_indicator in mmm_indicators %}
                                    {% if mmm_indicator.topic=='Contrating' %}
                                        <tr>
                                            <td>{{ mmm_indicator.indicator }}</td>
                                            {% set c=0 %}
                                            {% for dat in data['Contrating'][mmm_indicator.indicator] %}
                                                <td class="text-center" id="contrating_{{ mmm_indicator.id }}_{{ c }}">{{ dat }}</td>
                                                {% set c=c+1 %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-3">Credentialing</h3>
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-slate">
                                    <th width="15%">Indicators</th>
                                    <th class="text-center">Jan</th>
                                    <th class="text-center">Feb</th>
                                    <th class="text-center">Mar</th>
                                    <th class="text-center">Apr</th>
                                    <th class="text-center">May</th>
                                    <th class="text-center">Jun</th>
                                    <th class="text-center">Jul</th>
                                    <th class="text-center">Aug</th>
                                    <th class="text-center">Sep</th>
                                    <th class="text-center">Oct</th>
                                    <th class="text-center">Nov</th>
                                    <th class="text-center">Dec</th>
                                    <th class="text-center">YTD</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mmm_indicator in mmm_indicators %}
                                    {% if mmm_indicator.topic=='Credentialing' %}
                                        <tr>
                                            <td>{{ mmm_indicator.indicator }}</td>
                                            {% set c=0 %}
                                            {% for dat in data['Credentialing'][mmm_indicator.indicator] %}
                                                <td class="text-center" id="credentialing_{{ mmm_indicator.id }}_{{ c }}">{{ dat }}</td>
                                                {% set c=c+1 %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-3">Initial Credentialing</h3>
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-slate">
                                    <th width="15%">Indicators</th>
                                    <th class="text-center">Jan</th>
                                    <th class="text-center">Feb</th>
                                    <th class="text-center">Mar</th>
                                    <th class="text-center">Apr</th>
                                    <th class="text-center">May</th>
                                    <th class="text-center">Jun</th>
                                    <th class="text-center">Jul</th>
                                    <th class="text-center">Aug</th>
                                    <th class="text-center">Sep</th>
                                    <th class="text-center">Oct</th>
                                    <th class="text-center">Nov</th>
                                    <th class="text-center">Dec</th>
                                    <th class="text-center">YTD</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mmm_indicator in mmm_indicators %}
                                    {% if mmm_indicator.topic=='Initial Credentialing' %}
                                        <tr>
                                            <td>{{ mmm_indicator.indicator }}</td>
                                            {% set c=0 %}
                                            {% for dat in data['Initial Credentialing'][mmm_indicator.indicator] %}
                                                <td class="text-center" id="init_credentialing_{{ mmm_indicator.id }}_{{ c }}">{{ dat }}</td>
                                                {% set c=c+1 %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-3">Recredentialing</h3>
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-slate">
                                    <th width="15%">Indicators</th>
                                    <th class="text-center">Jan</th>
                                    <th class="text-center">Feb</th>
                                    <th class="text-center">Mar</th>
                                    <th class="text-center">Apr</th>
                                    <th class="text-center">May</th>
                                    <th class="text-center">Jun</th>
                                    <th class="text-center">Jul</th>
                                    <th class="text-center">Aug</th>
                                    <th class="text-center">Sep</th>
                                    <th class="text-center">Oct</th>
                                    <th class="text-center">Nov</th>
                                    <th class="text-center">Dec</th>
                                    <th class="text-center">YTD</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mmm_indicator in mmm_indicators %}
                                    {% if mmm_indicator.topic=='Recredentialing' %}
                                        <tr>
                                            <td>{{ mmm_indicator.indicator }}</td>
                                            {% set c=0 %}
                                            {% for dat in data['Recredentialing'][mmm_indicator.indicator] %}
                                                <td class="text-center" id="recredentialing_{{ mmm_indicator.id }}_{{ c }}">{{ dat }}</td>
                                                {% set c=c+1 %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('admin_indicators_ajax') }}" id="form-change-data" method="post"></form>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/role/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        let contrating_data_1=[]
        let contrating_data_2=[]
        let contrating_data_3=[]
        let contrating_data_4=[]

        let credentialing_data_1=[]
        let credentialing_data_2=[]
        let credentialing_data_3=[]
        let credentialing_data_4=[]

        let init_credentialing_data_1=[]
        let init_credentialing_data_2=[]
        let init_credentialing_data_3=[]
        let init_credentialing_data_4=[]

        $(document).ready(function(e){
            $('#link_payers_key_indicators_dashboard').addClass('active')
            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        $('.btn-export-excel').click(function(e){
            e.preventDefault()
            $('#form-export-excel').submit()
        })

        $('#year_data').change(function(e){
            var year=$('.year_data').val()
            var data={
                'year':year,
                'payer': 1
            }

            var url=$('#form-change-data').attr('action')

            $.post(url, data, function (result) {
                var new_data=result.data
                var cont=0
                var index_data=[
                    'Number of providers that requested to be part of the network',
                    'Number of providers that signed contract',
                    'Number of provider voluntarily terminated from the network',
                    'Number of providers involuntarily terminated by the network',
                    'Number of applications received',
                    'Number of applications reviewed',
                    'Number of applications approved',
                    'Number of applications denied',
                    'Number of applications pended',
                    'New Cases approved in Credentialing Committee (Initial Credentialing)',
                    'New Cases denied in Credentialing Committee (Initial Credentialing)',
                    'TAT Initial Credentialing ≤ 180 days',
                    'Results of quality audit completed to initial credentialing provider files',
                    'Number of participating providers that are due for recredentialing (36 months period)',
                    'Re-Credentialing cases approved in Credentialing Committee',
                    'Re-credentialing cases denied in Credenting Committee',
                    'Number of files terminated for not compliance with ≤ 36 months cycle',
                    'TAT Re-Credentialing ≤ 36 months',
                    'Results of quality audit completed to recredentialing provider files'
                ]

                $.each(new_data, function( index, data ) {
                    $.each(data, function( index, newData ) {
                        var topicValues=data[index_data[cont]];
                        var next_cont=parseInt(cont+58)
                        var cont_months=0
                        if(cont<4){
                            $.each(topicValues, function( index, newValue ) {
                                $('#contrating_'+next_cont+'_'+cont_months).html(newValue)
                                if(cont==0){
                                    contrating_data_1[cont_months]=newValue
                                }
                                if(cont==1){
                                    contrating_data_2[cont_months]=newValue
                                }
                                if(cont==2){
                                    contrating_data_3[cont_months]=newValue
                                }
                                if(cont==3){
                                    contrating_data_4[cont_months]=newValue
                                }
                                cont_months++;
                            })
                        }
                        if(cont>=4 && cont<9){
                            $.each(topicValues, function( index, newValue ) {
                                $('#credentialing_'+next_cont+'_'+cont_months).html(newValue)
                                cont_months++;
                            })
                        }
                        if(cont>=9 && cont<13){
                            $.each(topicValues, function( index, newValue ) {
                                $('#init_credentialing_'+next_cont+'_'+cont_months).html(newValue)
                                cont_months++;
                            })
                        }
                        if(cont>=13 && cont<19){
                            $.each(topicValues, function( index, newValue ) {
                                $('#recredentialing_'+next_cont+'_'+cont_months).html(newValue)
                                cont_months++;
                            })
                        }

                        cont++;
                    })

                })
            })
        })
    </script>

{% endblock %}
