{% extends 'base_payer.html.twig' %}
{% block body %}
    <div class="card mb-0">
        <div class="card-body py-0 pt-2">
            <div class="row">
                <form action="{{ path('payer_all_load_data') }}" method="post" id="form-load-all-data"></form>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Region, city or Zip Code</label>
                    <input type="text" name="address" id="address" class="form-control" placeholder="City, Region or Zip Code"/>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Degrees:</label>
                    <select class="form-control select" multiple data-fouc name="degrees" id="degrees">
                        {% for degrees in degrees %}
                            <option value="{{ degrees.id }}">{{ degrees.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Languages:</label>
                    <select class="form-control select" multiple data-fouc name="languages" id="languages">
                        {% for language in languages %}
                            <option value="{{ language.id }}">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Organization Name:</label>
                    <select class="form-control select" multiple data-fouc name="organizations" id="organizations">
                        {% for organization in organizations %}
                            <option value="{{ organization.id }}">{{ organization.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Address</label>
                    <input type="text" name="address2" id="address2" class="form-control" placeholder="Address"/>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Specialty Areas:</label>
                    <select class="form-control select" multiple data-fouc name="specialty_areas" id="specialty_areas">
                        {% for specialtyArea in specialtyAreas %}
                            <option value="{{ specialtyArea.id }}">{{ specialtyArea.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Gender:</label>
                    <select class="form-control select" data-fouc name="gender" id="gender">
                        <option value="-1">All</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <label class="col-form-label">Organization Classification:</label>
                    <select class="form-control select" multiple data-fouc name="org_specialties" id="org_specialties">
                        {% for orgClassification in orgClassifications %}
                            <option value="{{ orgClassification.id }}">{{ orgClassification.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-col2-map">
        <div class="item1">
            <div id="map"></div>
        </div>
    </div>
    <form action="{{ path('laod_addr_all_data') }}" method="post" id="form-load-addr-ajax"></form>
    <!-- Modal address -->
    <div id="modal_addr" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <div id="mask-loading-adds" class="sr-only" style="text-align: center"><i class="icon-spinner9 spinner mr-2 text-grey-300 load-map" style="font-size: 50px;"></i></div>
                    <h5 class="modal-title">Address Details | Organization: <span id="title_org_name"></span> | <span id="cont_title_street"></span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                                <li class="nav-item"><a href="#addr_l_tab1" id="link_tab1" class="nav-link rounded-left active" data-toggle="tab">Address Info</a></li>
                                <li class="nav-item"><a href="#addr_l_tab2" class="nav-link" data-toggle="tab">Providers</a></li>
                                <li class="nav-item"><a href="#addr_l_tab3" class="nav-link" data-toggle="tab">Organization</a></li>
                                {% if app.user.payer.name=='All' %}
                                    <li class="nav-item"><a href="#addr_l_tab4" class="nav-link" data-toggle="tab">Contacts</a></li>
                                {% endif %}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active show" id="addr_l_tab1">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="col-form-label">Business Hours:</label>
                                                    <div class="grid-col-days">
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Mon:</span></label>
                                                            <div id="cont-hours-mon" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun" style="font-size: 20px"></i>
                                                                    </span>
                                                                    <span id="start_mon" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent text-danger-400  btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_mon" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Tue:</span></label>
                                                            <div id="cont-hours-tue" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun"></i>
                                                                    </span>
                                                                    <span id="start_tue" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent  text-danger-400  btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_tue" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Wed:</span></label>
                                                            <div id="cont-hours-wed" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun"></i>
                                                                    </span>
                                                                    <span id="start_wed" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent text-danger-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_wed" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Thu:</span></label>
                                                            <div id="cont-hours-thu" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400  btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun"></i>
                                                                    </span>
                                                                    <span id="start_thu" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent text-danger-400  btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_thu" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Fri:</span></label>
                                                            <div id="cont-hours-fri" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun"></i>
                                                                    </span>
                                                                    <span id="start_fri" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent text-danger-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_fri" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Sat:</span></label>
                                                            <div id="cont-hours-sat" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400  btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun"></i>
                                                                    </span>
                                                                    <span id="start_sat" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent text-danger-400 btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_sat" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Sun:</span></label>
                                                            <div id="cont-hours-sun" class="sr-only">
                                                                <div class="pt-2 text-slate">
                                                                    <span class="btn bg-transparent text-success-400  btn-icon mr-0 pl-0">
                                                                        <i class="fas fa-sun"></i>
                                                                    </span>
                                                                    <span id="start_sun" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/>
                                                                    <span class="btn bg-transparent text-danger-400  btn-icon mr-0">
                                                                        <i class="fas fa-moon"></i>
                                                                    </span>
                                                                    <span id="till_sun" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 mt-3">
                                                            <label class="col-form-label">Street:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="street"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4 mt-3">
                                                            <label class="col-form-label">Suite Number:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="suite_number"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4 mt-3">
                                                            <label class="col-form-label">City:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="city"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">County:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="county"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Region:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="region"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">State:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="state"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Zip Code:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="zip_code"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Country:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="country"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Phone Number:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="phone_number"></p>
                                                        </div>
                                                        <div class="col-12">
                                                            <label class="col-form-label">Service Settings:</label>
                                                            <span id="service_settings"></span>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Beds:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="beds"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Location NPI:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="npi"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Location NPI2:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="npi2"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Group Medicaid:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="medicaid"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Group Medicare:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="medicare"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Taxonomy Code:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="taxonomy"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Office Age Limit Min:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="age_limit_min"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Office Age Limit Max:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="age_limit_max"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">ADA compliant:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="ada_compliant"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Wheelchair Accessibility:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="whellchair"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Location accessible via public transportation:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="public_transportation"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Private Provider Transportation:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="private_transportation"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">TDD:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="tdd"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Is this your Primary Address:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="primary_address"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Is this your Billing Address:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="billing_address"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Is this your Mailing Address:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="mailing_address"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Is Facility:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="is_facility"></p>
                                                        </div>
                                                        <div class="col-12">
                                                            <label class="col-form-label">Facility Types:</label>
                                                            <span id="facility_types"></span>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Facility Number:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="facility_number"></p>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <label class="col-form-label">Facility Exemption Number:</label>
                                                            <p class="col-form-label text-body p_docs p-inline" id="facility_expedition_number"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="addr_l_tab2">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Full Name</th>
                                                                <th>NPI</th>
                                                                <th>Degreee</th>
                                                                <th>Specialties</th>
                                                                <th>Provider Type</th>
                                                                <th>Languages</th>
                                                                <th>Gender</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="cont_table_providers_addr"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="addr_l_tab3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group row">
                                                                <div class="col-12"><label class="col-form-label"> Organization Name:</label></div>
                                                                <div class="col-12">
                                                                    <span id="org_name"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-12"><label class="col-form-label"> Organization Type:</label></div>
                                                                <div class="col-12">
                                                                    <span id="org_type"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-12"><label class="col-form-label"> Specialty area:</label></div>
                                                                <div class="col-12">
                                                                    <span id="org_specialty_areas"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-6 col-md-3">
                                                                    <div class="form-group row">
                                                                        <div class="col-12"><label class="col-form-label"> Phone Billing:</label></div>
                                                                        <div class="col-12">
                                                                            <span id="org_phone_billing"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 col-md-3">
                                                                    <div class="form-group row">
                                                                        <div class="col-12"><label class="col-form-label"> Phone:</label></div>
                                                                        <div class="col-12">
                                                                            <span id="org_phone"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 col-md-3">
                                                                    <div class="form-group row">
                                                                        <div class="col-12"><label class="col-form-label"> Faxno:</label></div>
                                                                        <div class="col-12">
                                                                            <span id="org_faxno"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 col-md-3">
                                                                    <div class="form-group row">
                                                                        <div class="col-12"><label class="col-form-label"> Website:</label></div>
                                                                        <div class="col-12">
                                                                            <span id="org_website"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if app.user.payer.name=='All' %}
                                <div class="tab-pane" id="addr_l_tab4">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Title</th>
                                                                <th>Name</th>
                                                                <th>Phone</th>
                                                                <th>Phone Ext</th>
                                                                <th>Movile</th>
                                                                <th>Fax</th>
                                                                <th>Email</th>
                                                                <th>Main</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="cont_table_contacts"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal address -->

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript" charset="utf-8">

         $(document).ready(function(e){
             $('#link_payers_map').addClass('active')
         })

         var map
         var markers = []
         var center_marker=""
         var addrs=[]

         $(function(){

             var input = document.getElementById('address');
             var input2 = document.getElementById('address2');

            var autocomplete = new google.maps.places.Autocomplete(input, { types: ['(regions)'], componentRestrictions: {country: 'us'} });
            var autocomplete2 = new google.maps.places.Autocomplete(input2, { types: ['address'], componentRestrictions: {country: 'us'} });

             autocomplete.setFields(['geometry']);

             autocomplete.addListener('place_changed', function() {
                 var place = autocomplete.getPlace();
                 if (place.geometry && place.geometry.viewport) {
                     var viewport = place.geometry.viewport;
                     var location = place.geometry.location;

                     var map_bounds= {
                         center_lat: location.lat(),
                         center_lng: location.lng(),
                         nor_lat: viewport.getNorthEast().lat(),
                         est_lng: viewport.getNorthEast().lng(),
                         sud_lat: viewport.getSouthWest().lat(),
                         wes_lng: viewport.getSouthWest().lng()
                     }

                     var coord_center = {lat:map_bounds.center_lat ,lng: map_bounds.center_lng};
                     var bounds = new google.maps.LatLngBounds();

                     bounds.extend(coord_center);
                     map.fitBounds(bounds);
                     map.setZoom(12);
                     deleteCenterMarker()
                     addCenterMarker(map_bounds)

                 }else{

                 }
             });

             autocomplete2.addListener('place_changed', function() {
                 var place = autocomplete2.getPlace();
                 if (place.geometry && place.geometry.viewport) {
                     var viewport = place.geometry.viewport;
                     var location = place.geometry.location;

                     var map_bounds= {
                         center_lat: location.lat(),
                         center_lng: location.lng(),
                         nor_lat: viewport.getNorthEast().lat(),
                         est_lng: viewport.getNorthEast().lng(),
                         sud_lat: viewport.getSouthWest().lat(),
                         wes_lng: viewport.getSouthWest().lng()
                     }

                     var coord_center = {lat:map_bounds.center_lat ,lng: map_bounds.center_lng};
                     var bounds = new google.maps.LatLngBounds();

                     bounds.extend(coord_center);
                     map.fitBounds(bounds);
                     map.setZoom(11);
                     deleteCenterMarker()
                     addCenterMarker(map_bounds)

                 }else{

                 }
             });


             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             loadAllData(1)

             //search events
             $('#gender').change(function(e){
                 loadAllData(2)
             })

             $('#primary_specialty').change(function(e){
                 loadAllData(2)
             })

             $('#specialty_areas').change(function(e){
                 loadAllData(2)
             })

             $('#specialty_areas').change(function(e){
                 loadAllData(2)
             })

             $('#languages').change(function(e){
                 loadAllData(2)
             })

             $('#degrees').change(function(e){
                 loadAllData(2)
             })

             $('#organizations').change(function(e){
                 loadAllData(2)
             })

             $('#org_specialties').change(function(e){
                 loadAllData(2)
             })

             var altura1=$(window).height();
             var altura=altura1-280
             $('#map').css('height',altura)
         })

         function loadAllData(status){
            var loading= $('#mask-top')
             var url=$('#form-load-all-data').attr('action')

             var gender=$('#gender').val()
             var primary_specialty=$('#primary_specialty').val()
             var specialty_areas=$('#specialty_areas').val()
             var languages=$('#languages').val()
             var degrees=$('#degrees').val()
             var organizations=$('#organizations').val()
             var org_clasification=$('#org_specialties').val()

             var data={
                 gender: gender,
                 primary_specialty: primary_specialty,
                 specialty_areas: specialty_areas,
                 languages: languages,
                 degrees: degrees,
                 organizations: organizations,
                 org_clasification: org_clasification
             }

             //load data for map
             loading.removeClass('sr-only');
             $.post(url, data, function (response) {
                 loading.addClass('sr-only');
                 var providers=response.results
                 var orglist = {}
                 var addrlist={}
                 var org_total=0;

                 $.each(providers, function( index, provider ) {
                     if (orglist[provider.organization_id] == undefined) {
                         orglist[provider.organization_id] = {
                             id: provider.organization_id,
                             name: provider.organization_name,
                             providers: [],
                             show_providers: false
                         };
                         org_total++;
                     }
                     orglist[provider.organization_id]['providers'].push(provider)

                     for(var address of provider.addresses) {
                         if (addrlist[address.id] == undefined) {
                             addrlist[address.id] = {id: address.id, lat: address.lat, lng: address.lng, providers: [],organization_id: provider.organization_id, organization_name: provider.organization_name};
                         }

                         addrlist[address.id]['providers'].push({id: provider.id, full_name: provider.full_name});
                     }
                 })

                 deleteMarkers()
                 iniciarMap(addrlist,status)

             })
         }

         function iniciarMap(address, status){
            if(status==1){
                var map_bounds= {
                    center_lat: 27.6648274,
                    center_lng: -81.51575350000002,
                    nor_lat: 32.3607674,
                    est_lng: -77.80493380000001,
                    sud_lat: 22.8285924,
                    wes_lng:-89.80426820000002
                }
                var coord_center = {lat:map_bounds.center_lat ,lng: map_bounds.center_lng};

                map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 7,
                    center: coord_center,
                    mapTypeId: "terrain",
                    disableDefaultUI: true
                });

                addCenterMarker(map_bounds)
            }

             $.each(address, function( index, addr ) {
                 addMarker(addr)
             })

         }

         // Sets the map on all markers in the array.
         function setMapOnAll(map) {
             $.each(markers, function( index, addr ) {
                 if(markers[index]!=undefined){
                     markers[index].marker.setMap(map);
                 }

             })
         }

         // Removes the markers from the map, but keeps them in the array.
         function clearMarkers() {
             setMapOnAll(null);
         }

         // Deletes all markers in the array by removing references to them.
         function deleteMarkers() {
             clearMarkers();
             markers = [];
         }

         function deleteCenterMarker(){
             center_marker.setMap(null)
             center_marker=null
         }

         function addMarker(addr) {
             var url="https://maps.google.com/mapfiles/ms/icons/blue-dot.png"
             var lat = addr.lat
             var long =addr.lng
             var latlngset = new google.maps.LatLng(lat, long);

             const marker = new google.maps.Marker({
                 position: latlngset,
                 map: map,
                 icon: url
             });

             var content="<h6 class='text-dark'>"+addr.organization_name+"</h6>"+
                 "<p>"+addr.providers.length+" providers</p>"

             var infoWindow=new google.maps.InfoWindow()

             google.maps.event.addListener(marker,'mouseover', (function(marker,content,infoWindow){
                 return function() {
                     infoWindow.setContent(content)
                     infoWindow.open(map,marker)
                 };
             })(marker,content,infoWindow))

             google.maps.event.addListener(marker,'mouseout', (function(marker,content,infoWindow){
                 return function() {
                     infoWindow.setContent(content)
                     infoWindow.close(map,marker)
                 };
             })(marker,content,infoWindow))

             google.maps.event.addListener(marker,'click', (function(marker,content,infoWindow){
                 return function() {
                     var org=addr.organization_id
                     var link_accordion = $('a[href="#accordion-'+org+'"]');

                     link_accordion.click(function() {
                         $('#cont_organization_list_1').animate({
                             scrollTop: 0
                         }, 0);
                     });

                     link_accordion.click(function() {
                         $('#cont_organization_list_1').animate({
                             scrollTop: (link_accordion.offset().top)-260
                         }, 0);
                     });
                     link_accordion.click()

                     var url=$('#form-load-addr-ajax').attr('action')
                     var id=addr.id

                     var data={
                         id: id
                     }

                     var atab1=$('#link_tab1')
                     atab1.click()
                     var loading1_addr=$('#mask-loading-adds')
                     loading1_addr.removeClass('sr-only')

                     //clear the popup
                     clearPOPUP()
                     $.post(url, data, function (response) {
                         loading1_addr.addClass('sr-only')

                         var address=response.address
                         var cadena = address.bussinees
                         var cont_title_street=$('#cont_title_street')
                         cont_title_street.html(address['street'])
                         if(cadena!=null && cadena!=""){
                             var cadena = cadena.replace("[", "")
                             var cadena = cadena.replace("]", "")

                             var jsonObj = $.parseJSON('[' + cadena + ']');

                             var cont_hours_mon = $('#cont-hours-mon')
                             var start_mon = $('#start_mon')
                             var till_mon = $('#till_mon')

                             var cont_hours_tue = $('#cont-hours-tue')
                             var start_tue = $('#start_tue')
                             var till_tue = $('#till_tue')

                             var cont_hours_wed = $('#cont-hours-wed')
                             var start_wed = $('#start_wed')
                             var till_wed = $('#till_wed')

                             var cont_hours_thu = $('#cont-hours-thu')
                             var start_thu = $('#start_thu')
                             var till_thu = $('#till_thu')

                             var cont_hours_fri = $('#cont-hours-fri')
                             var start_fri = $('#start_fri')
                             var till_fri = $('#till_fri')

                             var cont_hours_sat = $('#cont-hours-sat')
                             var start_sat = $('#start_sat')
                             var till_sat = $('#till_sat')

                             var cont_hours_sun = $('#cont-hours-sun')
                             var start_sun = $('#start_sun')
                             var till_sun = $('#till_sun')

                             if (jsonObj[0].isActive == true) {
                                 cont_hours_mon.removeClass('sr-only')
                                 start_mon.html(jsonObj[0].timeFrom)
                                 till_mon.html(jsonObj[0].timeTill)
                             }

                             if (jsonObj[1].isActive == true) {
                                 cont_hours_tue.removeClass('sr-only')
                                 start_tue.html(jsonObj[1].timeFrom)
                                 till_tue.html(jsonObj[1].timeTill)
                             }

                             if (jsonObj[2].isActive == true) {
                                 cont_hours_wed.removeClass('sr-only')
                                 start_wed.html(jsonObj[2].timeFrom)
                                 till_wed.html(jsonObj[2].timeTill)
                             }

                             if (jsonObj[3].isActive == true) {
                                 cont_hours_thu.removeClass('sr-only')
                                 start_thu.html(jsonObj[3].timeFrom)
                                 till_thu.html(jsonObj[3].timeTill)
                             }

                             if (jsonObj[4].isActive == true) {
                                 cont_hours_fri.removeClass('sr-only')
                                 start_fri.html(jsonObj[4].timeFrom)
                                 till_fri.html(jsonObj[4].timeTill)
                             }

                             if (jsonObj[5].isActive == true) {
                                 cont_hours_sat.removeClass('sr-only')
                                 start_sat.html(jsonObj[5].timeFrom)
                                 till_sat.html(jsonObj[5].timeTill)
                             }

                             if (jsonObj[6].isActive == true) {
                                 cont_hours_sun.removeClass('sr-only')
                                 start_sun.html(jsonObj[6].timeFrom)
                                 till_sun.html(jsonObj[6].timeTill)
                             }
                         }

                         $('#street').html(address.street)
                         $('#suite_number').html(address.suite_number)
                         $('#city').html(address.city)
                         $('#county').html(address.county)
                         $('#state').html(address.state)
                         $('#zip_code').html(address.zip_code)
                         $('#region').html(address.region)
                         $('#zip_code').html(address.zip_code)
                         $('#country').html(address.country)
                         $('#phone_number').html(address.phone_number)
                         $('#beds').html(address.beds)
                         $('#npi').html(address.npi)
                         $('#npi2').html(address.npi2)
                         $('#medicaid').html(address.medicaid)
                         $('#medicare').html(address.medicare)
                         $('#taxonomy').html(address.taxonomy)

                         $('#age_limit_min').html(address.age_limit_min)
                         $('#age_limit_max').html(address.age_limit_max)

                         if(address.whellchair==1){
                             $('#whellchair').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#whellchair').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.tdd==1){
                             $('#tdd').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#tdd').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.ada_compliant==1){
                             $('#ada_compliant').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#ada_compliant').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.public_transportation==1){
                             $('#public_transportation').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#public_transportation').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.private_transportation==1){
                             $('#private_transportation').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#private_transportation').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.primary_address==1){
                             $('#primary_address').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#primary_address').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.billing_address==1){
                             $('#billing_address').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#billing_address').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.mailing_address==1){
                             $('#mailing_address').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#mailing_address').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         if(address.is_facility==1){
                             $('#is_facility').html('<i class="fas fa-check text-success ml-2"></i>')
                         }else{
                             $('#is_facility').html('<i class="fas fa-times text-danger ml-2"></i>')
                         }

                         var serviceSettings = response.ssResult

                         var ssHtml = ""
                         $.each(serviceSettings, function (index) {
                             var serviceSetting = serviceSettings[index]['name']
                             ssHtml += '<span class="badge bg-blue mr-1 mt-1">'+serviceSetting+'</span>'
                         })

                         $('#service_settings').html(ssHtml)

                         var ftHtml=""
                         var facilityTypes=response.facilityTipes
                         $.each(facilityTypes, function (index) {
                             var facilityType = facilityTypes[index]['name']
                             ftHtml += '<span class="badge bg-info mr-1 mt-1">'+facilityType+'</span>'
                         })

                         $('#facility_types').html(ftHtml)

                         //get data for ORganization
                         var organization=response.organization

                         $('#title_org_name').html(organization['name'])
                         $('#org_name').html(organization['name'])
                         $('#org_type').html(organization['type'])
                         $('#org_phone_billing').html(organization['billing_phone'])
                         $('#org_phone').html(organization['phone'])
                         $('#org_faxno').html(organization['faxno'])
                         $('#org_website').html(organization['website'])

                         var specialies=organization['specialtyareas']

                         var html_specialties=""
                         $.each(specialies, function (index) {
                             html_specialties+='<span class="badge badge-primary mr-1 mb-1">'+specialies[index]['name']+'</span>'
                         })

                         $('#org_specialty_areas').html(html_specialties)

                         var providers=response.providers
                         var cont_table_providers_addr=$('#cont_table_providers_addr')

                         var html_providers=""
                         $.each(providers, function (index) {
                             html_providers+='<tr>'
                             html_providers+='<td>'+providers[index].full_name+'</td>'
                             html_providers+='<td>'+providers[index].npi_number+'</td>'
                             html_providers+='<td>'+providers[index].degrees+'</td>'
                             html_providers+='<td>'+providers[index].specialties+'</td>'
                             html_providers+='<td>'+providers[index].providertypes+'</td>'
                             html_providers+='<td>'+providers[index].languages+'</td>'
                             html_providers+='<td>'+providers[index].gender+'</td>'
                             html_providers+='</tr>'
                         })

                         cont_table_providers_addr.html(html_providers)

                         var contacts=response.contacts
                         var cont_table_contacts=$('#cont_table_contacts')
                         var html_contacts=""

                         $.each(contacts, function (index) {
                             html_contacts+='<tr>'
                             html_contacts+='<td>'+contacts[index]['title']+'</td>'
                             html_contacts+='<td>'+contacts[index]['name']+'</td>'
                             html_contacts+='<td>'+contacts[index]['phone']+'</td>'
                             html_contacts+='<td>'+contacts[index]['phone_ext']+'</td>'
                             html_contacts+='<td>'+contacts[index]['movile']+'</td>'
                             html_contacts+='<td>'+contacts[index]['fax']+'</td>'
                             html_contacts+='<td>'+contacts[index]['email']+'</td>'
                             html_contacts+='<td>'+contacts[index]['main']+'</td>'
                             html_contacts+='</tr>'
                         })

                         cont_table_contacts.html(html_contacts)

                     })

                     $('#modal_addr').modal()


                 }
             })(marker,content,infoWindow))

             var key=addr.id
             var addrObj={
                 addr: addr,
                 marker: marker
             }

             markers[key]=addrObj
         }

         function addCenterMarker(map_bounds){

             var url="https://maps.google.com/mapfiles/ms/icons/green-dot.png"
             var lat = map_bounds.center_lat
             var long =map_bounds.center_lng
             var latlngset = new google.maps.LatLng(lat, long);

             const marker = new google.maps.Marker({
                 position: latlngset,
                 map: map,
                 icon: url
             });
             center_marker=marker
         }

         $('#cont_address_org').on('click','.btn-addr-view',function(e){
             e.preventDefault()
         })

         function clearPOPUP(){
             $('#start_mon').html('')
             $('#till_mon').html('')
             $('#start_tue').html('')
             $('#till_tue').html('')
             $('#start_wed').html('')
             $('#till_wed').html('')
             $('#start_thu').html('')
             $('#till_thu').html('')
             $('#start_fri').html('')
             $('#till_fri').html('')
             $('#start_sat').html('')
             $('#till_sat').html('')
             $('#start_sun').html('')
             $('#till_sun').html('')

             $('#cont-hours-mon').addClass('sr-only')
             $('#cont-hours-tue').addClass('sr-only')
             $('#cont-hours-wed').addClass('sr-only')
             $('#cont-hours-thu').addClass('sr-only')
             $('#cont-hours-fri').addClass('sr-only')
             $('#cont-hours-sat').addClass('sr-only')
             $('#cont-hours-sun').addClass('sr-only')

             $('#street').html('')
             $('#suite_number').html('')
             $('#city').html('')
             $('#county').html('')
             $('#state').html('')
             $('#zip_code').html('')
             $('#region').html('')
             $('#zip_code').html('')
             $('#country').html('')
             $('#phone_number').html('')
             $('#beds').html('')
             $('#npi').html('')
             $('#npi2').html('')
             $('#medicaid').html('')
             $('#medicare').html('')
             $('#taxonomy').html('')
             $('#age_limit_min').html('')
             $('#age_limit_max').html('')
             $('#whellchair').html('')
             $('#tdd').html('')
             $('#private_transportation').html('')
             $('#primary_address').html('')
             $('#billing_address').html('')
             $('#mailing_address').html('')
             $('#is_facility').html('')
             $('#service_settings').html('')
             $('#facility_types').html('')
             $('#title_org_name').html('')
             $('#org_name').html('')
             $('#org_type').html('')
             $('#org_phone_billing').html('')
             $('#org_phone').html('')
             $('#org_faxno').html('')
             $('#org_website').html('')
             $('#org_specialty_areas').html('')
             $('#cont_table_contacts').html('')
         }
     </script>

     <script src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&libraries=places"></script>
 {% endblock %}

