{% if super_admin %}
  <strong class="text-blue-300">Current Payer:&nbsp;</strong> <span class="text-slate-800">{{ payer.name }}</span>
{% else %}
  <li class="nav-item dropdown dropdown-user">
    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <span class="btn bg-transparent border-slate-700 text-slate-600 rounded-round border-2 btn-icon mr-3">
                            <i class="fas fa-user"></i>
                        </span>
      {% if app.user %}
        <span>{{ app.user.name }}</span>
      {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a href="{{ path('payer_profile_user') }}" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
      <a href="/" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
    </div>
  </li>
{% endif %}