{% extends 'base_payer.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="row" style="margin-left: 0;margin-right: 0;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">My Profile</span></h5>
                    </div>
                    <div class="card-body">
                        {% if app.user.getisnew==1 %}
                            <div class="alert alert-primary alert-styled-left alert-dismissible">
                                <span class="font-weight-semibold">Welcome!</span> Please review your information and click below to change the password, Thanks.
                            </div>
                        {% endif %}
                        <form action="{{ path('payer_user_profile_update') }}" method="POST" id="form">
                            <div class="row">
                                <div class="col-6 col-sm-12 form-group">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <label class="d-block font-weight-semibold"><span class="text-danger-400">*</span> Full Name:</label>
                                        <input type="text" class="form-control" name="name" id="name" value="{{ user.name }}">
                                        <div class="form-control-feedback">
                                            <i class="icon-user-check text-muted"></i>
                                        </div>
                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_name">
                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-12 form-group">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <label class="d-block font-weight-semibold"><span class="text-danger-400">*</span> Your email:</label>
                                        <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}">
                                        <div class="form-control-feedback">
                                            <i class="icon-mention text-muted"></i>
                                        </div>
                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_email">
                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-12 form-group">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <label class="d-block font-weight-semibold">Set a new password?:</label>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input btn-check" name="newpassword" id="newpassword" value="1">
                                            <label class="custom-control-label" for="newpassword"></label>
                                        </div>
                                    </div>
                                </div>
                                <div id="cont_passwords" class="sr-only">
                                    <div class="col-6 col-sm-12 form-group">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            <label class="d-block font-weight-semibold">New password:</label>
                                            <input type="password" class="form-control" name="new_password" id="new_password">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-lock text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 form-group text-right">
                                    <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                    <a href="{{ path('payer_dashboard') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .row{
            padding-left: 0;
            padding-right: 0;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             $('.bnt-send').click(function(e){

                 e.preventDefault();

                 if(validateForm()){
                     $('#form').submit();
                 }
             })

             $('.btn-check').click(function(e){
                 var cont_passwords=$('#cont_passwords')
                 if($(this).is(':checked')){
                     cont_passwords.removeClass('sr-only')
                 }else{
                     cont_passwords.addClass('sr-only')
                 }
             })

         })

         function  validateForm() {
             var send = true;

             var name = $('#name').val()
             var email = $('#email').val()

             var error_name = $('#error_name')
             var error_email = $('#error_email')

             if (name == "") {
                 send = false
                 error_name.removeClass('sr-only')
             } else {
                 error_name.addClass('sr-only')
             }

             if (email == "") {
                 send = false
                 error_email.removeClass('sr-only')
             } else {
                 error_email.addClass('sr-only')
             }
             return send;
         }
     </script>
 {% endblock %}
