{% extends 'base_payer.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Providers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Providers List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {% if payer==1 %}
                <div class="row mb-1">
                    <div class="col-12 text-right">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row mb-1">
                    <div class="col-12 text-right">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ path('export_provider_roster_mmm') }}" method="post" id="form_export_roster_mmm">
        <input type="hidden" name="npis" id="npis" value="">
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/role/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            $('#link_payers_providers').addClass('active')
            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
            }},
            {headerName: "Full Name", field: "name",sortable: true,filter: 'agTextColumnFilter',unSortIcon: true},
            {headerName: "NPI", field: "npi",sortable: true,filter: 'agTextColumnFilter',unSortIcon: true},
            {headerName: "Degrees", field: "degrees",sortable: true,unSortIcon: true},
            {headerName: "Provider Type", field: "provider_types",filter: 'agTextColumnFilter',sortable: true,unSortIcon: true,enableRowGroup: true},
            {headerName: "Primary Specialty", field: "speciaties",sortable: true,filter: 'agTextColumnFilter',unSortIcon: true,enableRowGroup: true},
            {headerName: "Languages", field: "languages",sortable: true,unSortIcon: true,enableRowGroup: true},
            {headerName: "Organization", field: "organization",sortable: true,unSortIcon: true,enableRowGroup: true,},
            {headerName: "Organization Specialties", field: "taxonomies_specialty",sortable: true,unSortIcon: true,enableRowGroup: true, hide:true},
            {headerName: "Phone Number", field: "phonenumber",sortable: true,unSortIcon: true,enableRowGroup: true},
            {headerName: "Actions",field: "actions",sortable: true,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:100,maxWidth:100,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for provider in providers %}
        var obj={
            id:"{{ provider.id }}",
            id1:"{{ provider.id }}",
            name:"{{ provider.first_name }} {{ provider.last_name }}",
            degrees: "{{ provider.degrees }}",
            organization: "{{ provider.organization_name }}",
            provider_types: "{{ provider.provider_types }}",
            languages: "{{ provider.languages }}",
            phonenumber: "{{ provider.phonenumber }}",
            taxonomies_specialty: "{{ provider.taxonomies_specialty }}",
            npi: "{{ provider.npi_number }}",
            speciaties: "{{ provider.specialties }}"
        }

        rowData.push(obj);
        {% endfor %}

        function enabledCellRendererFunc(params){
            var newpatients =params.data.newpatients;

            var btn=""
            if(newpatients){
                btn='<i class="fas fa-check text-success ml-2"></i>'
            }else{
                btn='<i class="fas fa-times text-danger ml-2"></i>'
            }

            return btn;
        }

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            floatingFilter:true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            groupUseEntireRow:true,
            suppressCsvExport:true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },
        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
           params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function enabledCellRendererFunc(params){
            var newpatients =params.data.newpatients;
            var btn=""

            if(newpatients){
                btn='<i class="fas fa-check text-success ml-2"></i>'
            }else{
                btn='<i class="fas fa-times text-danger ml-2"></i>'
            }

            return btn;
        }

        function actionCellRendererFunc(params){
            var id =params.data.id;
            var url_view = '{{ path("provider_detail_payer") }}'+"/"+id

            {% if payer==1 %}
            return '<a href="'+url_view+'" class="btn btn-sm btn-info btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>'
            {% else %}
            return '<a href="'+url_view+'" class="btn btn-sm btn-info btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>'
            {% endif %}
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onFilterOrganizationNameChanged() {
            var organizationName=$('#organization_name').val()

            if(organizationName==""){
                clearFilters()
            }else{

                var instance = gridOptions.api.getFilterInstance('organization');
                instance.selectNothing();
                instance.selectValue('Suncoast');

                instance.applyModel();
                gridOptions.api.onFilterChanged();
            }
        }

        function clearFilters() {
            gridOptions.api.setFilterModel(null);
            gridOptions.api.onFilterChanged();
        }


        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        function multipleSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var option=$('#select-options-multiple').val()

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Providers selected!',
                    message: 'Select at least one element please.'
                })
            }else {
                if (option == 0) {
                    var rows = [];

                    $.each(rowsSelected, function () {
                        var row = $(this)[0];
                        rows.push(row.npi);
                    })

                    $('#npis').val(rows)
                    $('#form_export_roster_mmm').submit()
                }
            }
        }


        $('#myGrid').on('click','.btn-send-one',function(e){
            var rows = [];
            var rowsSelected=gridOptions.api.getSelectedRows();

            $.each(rowsSelected, function () {
                var row = $(this)[0];
                rows.push(row.npi);
            })

            $('#npis').val(rows)
            $('#form_export_roster_mmm').submit()
        })


    </script>

{% endblock %}
