{% extends 'base_payer.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Providers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Providers Detail</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-right mb-2">
                        {% if payer==1 %}<a href="#" class="btn btn-sm btn-success mr-1 btn-export-report"><i class="fas fa-file-pdf"></i> Export Roster</a>{% endif %}
                        <a href="{{ path('payer_providers_list') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Provider List</a>
                    </div>
                    <div class="col-12">
                        <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                            <li class="nav-item"><a href="#tab1" class="nav-link rounded-left active" data-toggle="tab">General Info</a></li>
                            <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Address List</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab1">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="col-form-label">Full Name:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ provider.fullname }}</p>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">NPI:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ provider.npiNumber }}</p>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header bg-slate text-white header-elements-inline pt-0 pb-0">
                                                <label class="col-form-label text-white">Organization: {{ provider.organization.name }}</label>
                                            </div>
                                            <div class="card-body pt-1 pb-1">
                                               <div class="row">
                                                   <div class="col-12 col-md-4">
                                                       <label class="col-form-label">Organizations Phone Billing:</label>
                                                       <p class="col-form-label text-body p_docs p-inline" id="modal_phone_billing">{{ provider.organization.getBillingPhone }}</p>
                                                   </div>
                                                   <div class="col-12 col-md-4">
                                                       <label class="col-form-label">Organization Phone:</label>
                                                       <p class="col-form-label text-body p_docs p-inline">{{ provider.organization.Phone }}</p>
                                                   </div>
                                                   <div class="col-12 col-md-4">
                                                       <label class="col-form-label">Organization Faxno:</label>
                                                       <p class="col-form-label text-body p_docs p-inline">{{ provider.organization.getFaxno }}</p>
                                                   </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label mr-2">Degrees:</label>
                                        <div id="cont_degrees" style="display: inline-block">
                                            {% for degree in provider.degree %}
                                                <span class="badge bg-primary">{{ degree.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Provider Type:</label>
                                        <div id="cont_provider_type" style="display: inline-block">
                                            {% for providerType in provider.getProviderType %}
                                                <span class="badge bg-primary">{{ providerType.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Primary Specialties:</label>
                                        <div id="cont_provider_type" style="display: inline-block">
                                            {% for specialty in provider.primarySpecialties %}
                                                <span class="badge bg-primary">{{ specialty.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label mr-2">Languages:</label>
                                        <div id="cont_languages" style="display: inline-block">
                                            {% for language in provider.languages %}
                                                <span class="badge bg-primary">{{ language.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Street</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Zip Code</th>
                                            <th>County</th>
                                            <th>Region</th>
                                            <th>Primary</th>
                                            <th>Is Facility</th>
                                            <th>Location NPI</th>
                                            <th>Phone Number</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for addr in address %}
                                        <tr>
                                            <td>{{ addr['street'] }}</td>
                                            <td>{{ addr['city'] }}</td>
                                            <td>{{ addr['state'] }}</td>
                                            <td>{{ addr['zip_code'] }}</td>
                                            <td>{{ addr['county'] }}</td>
                                            <td>{{ addr['region'] }}</td>
                                            <td>
                                                {% if addr['primary']==1 %}  <i class="fas fa-check text-success ml-2"></i> {% else %} <i class="fas fa-times text-danger ml-2"></i> {% endif %}
                                            </td>
                                            <td>
                                                {% if addr['is_facility']==1 %}  <i class="fas fa-check text-success ml-2"></i> {% else %} <i class="fas fa-times text-danger ml-2"></i> {% endif %}
                                            </td>
                                            <td>{{ addr['npi'] }}</td>
                                            <td>{{ addr['phone'] }}</td>
                                            <td>
                                                <a href="#" data-id="{{ addr['id'] }}" data-toggle="modal" data-target="#modal_address" class="btn btn-sm btn-outline bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <form action="{{ path('admin_get_billing_ajax') }}" method="post" id="form-load-addr-ajax"></form>
    <input type="hidden" name="payer_id" id="payer_id" value="{{ payer }}">
    <!-- Large addr -->
    <div id="modal_address" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title">Address Details</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">Business Hours:</label>
                            <div class="grid-col-days">
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Mon:</span></label>
                                    <div id="cont-hours-mon" class="sr-only">
                                        <div class="pt-2 text-slate">
                                            <span class="btn bg-transparent text-success-400 btn-icon mr-0">
                                                <i class="fas fa-sun" style="font-size: 20px"></i>
                                            </span>
                                            <span id="start_mon" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent text-danger-400  btn-icon mr-0">
                                                <i class="fas fa-moon"></i>
                                            </span>
                                            <span id="till_mon" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Tue:</span></label>
                                    <div id="cont-hours-tue" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                <span class="btn bg-transparent text-success-400 btn-icon mr-0">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                            <span id="start_tue" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent  text-danger-400  btn-icon mr-0">
                                                    <i class="fas fa-moon"></i>
                                                </span>
                                            <span id="till_tue" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Wed:</span></label>
                                    <div id="cont-hours-wed" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                <span class="btn bg-transparent text-success-400 btn-icon mr-0">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                            <span id="start_wed" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent text-danger-400 btn-icon mr-0">
                                                    <i class="fas fa-moon"></i>
                                                </span>
                                            <span id="till_wed" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Thu:</span></label>
                                    <div id="cont-hours-thu" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                <span class="btn bg-transparent text-success-400  btn-icon mr-0">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                            <span id="start_thu" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent text-danger-400  btn-icon mr-0">
                                                    <i class="fas fa-moon"></i>
                                                </span>
                                            <span id="till_thu" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Fri:</span></label>
                                    <div id="cont-hours-fri" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                <span class="btn bg-transparent text-success-400 btn-icon mr-0">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                            <span id="start_fri" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent text-danger-400 btn-icon mr-0">
                                                    <i class="fas fa-moon"></i>
                                                </span>
                                            <span id="till_fri" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Sat:</span></label>
                                    <div id="cont-hours-sat" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                <span class="btn bg-transparent text-success-400  btn-icon mr-0">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                            <span id="start_sat" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent text-danger-400 btn-icon mr-0">
                                                    <i class="fas fa-moon"></i>
                                                </span>
                                            <span id="till_sat" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate font-size-base">Sun:</span></label>
                                    <div id="cont-hours-sun" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                <span class="btn bg-transparent text-success-400  btn-icon mr-0">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                            <span id="start_sun" class="text-success-400" style="font-weight: 600;font-size: 13px"></span><br/><br/>
                                            <span class="btn bg-transparent text-danger-400  btn-icon mr-0">
                                                    <i class="fas fa-moon"></i>
                                                </span>
                                            <span id="till_sun" class="text-danger-400" style="font-weight: 600;font-size: 13px"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                        <div class="col-12 col-md-4 mt-3">
                            <label class="col-form-label">Street:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="street"></p>
                        </div>
                        <div class="col-12 col-md-4 mt-3">
                            <label class="col-form-label">Suite Number:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="suite_number"></p>
                        </div>
                        <div class="col-12 col-md-4 mt-3">
                            <label class="col-form-label">City:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="city"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">County:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="county"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Region:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="region"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">State:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="state"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Zip Code:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="zip_code"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Country:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="country"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Phone Number:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="phone_number"></p>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Service Settings:</label>
                            <span id="service_settings"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Beds:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="beds"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Location NPI:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="npi"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Location NPI2:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="npi2"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Group Medicaid:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="medicaid"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Group Medicare:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="medicare"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Taxonomy Code:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="taxonomy"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Office Age Limit Min:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="age_limit_min"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Office Age Limit Max:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="age_limit_max"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Wheelchair Accessibility:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="whellchair"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">TDD:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="tdd"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Private Provider Transportation:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="private_transportation"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is this your Primary Address:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="primary_address"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is this your Billing Address:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="billing_address"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is this your Mailing Address:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="mailing_address"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is Facility:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="is_facility"></p>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Facility Types:</label>
                            <span id="facility_types"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Facility Number:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="facility_number"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Facility Exemption Number:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="facility_expedition_number"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /large addr -->
    <form action="{{ path('export_provider_roster_mmm') }}" method="post" id="form_export_roster_mmm">
        <input type="hidden" name="npi_export" id="npi_export" value="{{ provider.npiNumber }}" />
        <input type="hidden" name="npis" id="npis" value="">
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        $(document).ready(function(){

            $('.btn-actions').click(function(e){
                e.preventDefault()
                var addrId=$(this).data('id')
                var url=$('#form-load-addr-ajax').attr('action')
                var payer_id=$('#payer_id').val()
                var data={
                    id: addrId,
                    payer_id: payer_id
                }

                $.post(url, data, function (result) {
                    var address = result.address

                    var cadena = address.bussinees
                    var cadena = cadena.replace("[", "")
                    var cadena = cadena.replace("]", "")

                    var jsonObj = $.parseJSON('[' + cadena + ']');

                    var cont_hours_mon = $('#cont-hours-mon')
                    var start_mon = $('#start_mon')
                    var till_mon = $('#till_mon')

                    var cont_hours_tue = $('#cont-hours-tue')
                    var start_tue = $('#start_tue')
                    var till_tue = $('#till_tue')

                    var cont_hours_wed = $('#cont-hours-wed')
                    var start_wed = $('#start_wed')
                    var till_wed = $('#till_wed')

                    var cont_hours_thu = $('#cont-hours-thu')
                    var start_thu = $('#start_thu')
                    var till_thu = $('#till_thu')

                    var cont_hours_fri = $('#cont-hours-fri')
                    var start_fri = $('#start_fri')
                    var till_fri = $('#till_fri')

                    var cont_hours_sat = $('#cont-hours-sat')
                    var start_sat = $('#start_sat')
                    var till_sat = $('#till_sat')

                    var cont_hours_sun = $('#cont-hours-sun')
                    var start_sun = $('#start_sun')
                    var till_sun = $('#till_sun')


                    if (jsonObj[0].isActive == true) {
                        cont_hours_mon.removeClass('sr-only')
                        start_mon.html(jsonObj[0].timeFrom)
                        till_mon.html(jsonObj[0].timeTill)
                    }

                    if (jsonObj[1].isActive == true) {
                        cont_hours_tue.removeClass('sr-only')
                        start_tue.html(jsonObj[1].timeFrom)
                        till_tue.html(jsonObj[1].timeTill)
                    }

                    if (jsonObj[2].isActive == true) {
                        cont_hours_wed.removeClass('sr-only')
                        start_wed.html(jsonObj[2].timeFrom)
                        till_wed.html(jsonObj[2].timeTill)
                    }

                    if (jsonObj[3].isActive == true) {
                        cont_hours_thu.removeClass('sr-only')
                        start_thu.html(jsonObj[3].timeFrom)
                        till_thu.html(jsonObj[3].timeTill)
                    }

                    if (jsonObj[4].isActive == true) {
                        cont_hours_fri.removeClass('sr-only')
                        start_fri.html(jsonObj[4].timeFrom)
                        till_fri.html(jsonObj[4].timeTill)
                    }

                    if (jsonObj[5].isActive == true) {
                        cont_hours_sat.removeClass('sr-only')
                        start_sat.html(jsonObj[5].timeFrom)
                        till_sat.html(jsonObj[5].timeTill)
                    }

                    if (jsonObj[6].isActive == true) {
                        cont_hours_sun.removeClass('sr-only')
                        start_sun.html(jsonObj[6].timeFrom)
                        till_sun.html(jsonObj[6].timeTill)
                    }

                    $('#street').html(address.street)
                    $('#suite_number').html(address.suite_number)
                    $('#city').html(address.street)
                    $('#county').html(address.county)
                    $('#state').html(address.state)
                    $('#zip_code').html(address.zip_code)
                    $('#region').html(address.region)
                    $('#zip_code').html(address.zip_code)
                    $('#country').html(address.country)
                    $('#phone_number').html(address.phone_number)
                    $('#beds').html(address.beds)
                    $('#npi').html(address.npi)
                    $('#npi2').html(address.npi2)
                    $('#medicaid').html(address.medicaid)
                    $('#medicare').html(address.medicare)
                    $('#taxonomy').html(address.taxonomy)

                    $('#age_limit_min').html(address.age_limit_min)
                    $('#age_limit_max').html(address.age_limit_max)

                    if(address.whellchair==1){
                        $('#whellchair').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#whellchair').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    if(address.tdd==1){
                        $('#tdd').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#tdd').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    if(address.private_transportation==1){
                        $('#private_transportation').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#private_transportation').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    if(address.primary_address==1){
                        $('#primary_address').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#primary_address').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    if(address.billing_address==1){
                        $('#billing_address').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#billing_address').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    if(address.mailing_address==1){
                        $('#mailing_address').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#mailing_address').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    if(address.is_facility==1){
                        $('#is_facility').html('<i class="fas fa-check text-success ml-2"></i>')
                    }else{
                        $('#is_facility').html('<i class="fas fa-times text-danger ml-2"></i>')
                    }

                    var serviceSettings = result.ssResult

                    var ssHtml = ""
                    $.each(serviceSettings, function (index) {
                        var serviceSetting = serviceSettings[index]['name']
                        ssHtml += '<span class="badge bg-blue mr-1 mt-1">'+serviceSetting+'</span>'
                    })

                    $('#service_settings').html(ssHtml)


                    var ftHtml=""
                    var facilityTypes=result.facilityTipes
                    $.each(facilityTypes, function (index) {
                        var facilityType = facilityTypes[index]['name']
                        ftHtml += '<span class="badge bg-info mr-1 mt-1">'+facilityType+'</span>'
                    })

                    $('#facility_types').html(ftHtml)
                })
            })
        })

        $('.btn-export-report').click(function(e){
            var rows = [];

            rows.push($('#npi_export').val());

            $('#npis').val(rows)
            $('#form_export_roster_mmm').submit()
        })
    </script>

{% endblock %}
