{% extends 'base-login.html.twig' %}
{% block body %}
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login card -->
                <form method="POST" style="max-width: 450px;width: 100%;" action="{{ path('provider_password_reset_request') }}">
                    <h1 class="text-white text-center">Password Reset</h1>
                    <div class="card mb-0">
                        <div class="card-body">
                            {% if email is null or email==""%}
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email address">
                                <div class="form-control-feedback">
                                    <i class="fas fa-at"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Request <i class="icon-circle-right2 ml-2"></i></button>
                            </div>
                            {% else %}
                                <div>
                                    <div class="alert alert-success alert-styled-left alert-arrow-left alert-dismissible">
                                        <span class="font-weight-semibold">Well done!</span><br/> An email has been sent to you with password reset instructions.
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" name="email">
                            {% endif %}
                        </div>
                    </div>
                </form>
                <!-- /login card -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
{% endblock %}
