{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organization',{'id':organization.id,'tab':4 }) }}" class="breadcrumb-item">Organization</a>
                        <span class="breadcrumb-item active">View Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View {{ document.name }} Contact</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organization',{'id':organization.id,'tab':4 }) }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Contact List</a>
                    <a href="{{ path('admin_new_organizationcontact',{'id':organization.id}) }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Contact</a>
                    <a href="{{ path('admin_edit_organizationcontact',{'id':document.id,'id_org':organization.id }) }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Contact</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Name:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.name }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Title:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.titlestr }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Best option for:</label> </div>
                                            <div class="col-10">
                                                {% for best in bests %}
                                                    <span class="badge bg-primary-600">{{ best.name }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Phone:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.phone }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Phone ext:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.phoneext }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Mobile:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.mobile }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Fax:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.fax }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Email:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.email }}</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}

 {% endblock %}
