{% extends 'base.html.twig' %}
{% block body %}
    {% set role="" %}
    {% for rol in app.user.roles  %}
        {% set role=rol %}
    {% endfor %}
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-home2 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard
                    {% if organization %}| Company: {{ organization.name }} {% endif %}</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="header-elements d-none">
                <div class="d-flex justify-content-center">

                </div>
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <span class="breadcrumb-item active">Dashboard</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="header-elements d-none">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body py-0 pt-2">
            {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
            <div class="grid-5-home">
                <div class="item">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <a href="{{ path('admin_organization') }}"><i class="fas fa-hospital-alt text-success-400 fa-3x"></i></a>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0"><a href="{{ path('admin_organization') }}">{{ organizations|length }}</a></h3>
                                <a href="{{ path('admin_organization') }}"><span class="text-uppercase font-size-sm text-muted">Organizations</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <a href="{{ path('admin_provider_list') }}"><i class="fas fa-user-md text-indigo-400 fa-3x"></i></a>
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0"><a href="{{ path('admin_provider_list') }}">{{ providers|length }}</a></h3>
                                <a href="{{ path('admin_provider_list') }}"><span class="text-uppercase font-size-sm text-muted">Providers</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="font-weight-semibold mb-0"><a href="{{ path('admin_payer') }}">{{ payers|length }}</a></h3>
                                <a href="{{ path('admin_payer') }}"><span class="text-uppercase font-size-sm text-muted">Payers</span></a>
                            </div>
                            <div class="ml-3 align-self-center">
                                <a href="{{ path('admin_payer') }}"><i class="fas fa-user-tie text-blue-400 fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="font-weight-semibold mb-0"><a href="{{ path('admin_organizationprospect') }}">{{ prospect|length }}</a></h3>
                                <a href="{{ path('admin_organizationprospect') }}"><span class="text-uppercase font-size-sm text-muted">Prospects</span></a>
                            </div>
                            <div class="ml-3 align-self-center">
                                <a href="{{ path('admin_organizationprospect') }}"><i class="fas fa-user-tag text-teal-400 fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="font-weight-semibold mb-0"><a href="{{ path('admin_billing_agreport') }}">{{ totalBilling }}</a></h3>
                                <a href="{{ path('admin_billing_agreport') }}"><span class="text-uppercase font-size-sm text-muted">Address</span></a>
                            </div>
                            <div class="ml-3 align-self-center">
                                <a href="{{ path('admin_billing_agreport') }}"><i class="fas fa-map-marked text-teal-400 fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-3">
                        <div class="card p-2">
                            <div class="card-body">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" id="organization_status_charts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card p-2">
                            <div class="card-body">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" id="organization_type_charts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card p-2">
                            <div class="card-body">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" id="join_type_charts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-12">
                    <hr>
                    <h5 class="card-title">
                        <span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Provider Portal</span>
                    </h5>
                </div>
                <div class="col-12">
                    <h4><span class="font-weight-semibold">Summary</span></h4>
                    <div class="card card-body">
                           <div class="row">
                               <div class="col-3">
                                   <h5><a href="{{ path('admin_puser_list') }}">Users</a></h5>
                                   <a href="{{ path('admin_puser_list') }}">
                                   <div class="d-flex align-items-center mb-3 mb-md-0">
                                       <i class="fas fa-user-friends text-primary mr-2" style="font-size: 40px"></i>
                                       <div class="ml-6">
                                           <h5 class="font-weight-semibold mb-0">{{ totaluserP }}</h5>
                                       </div>
                                   </div>
                                   </a>
                               </div>
                               <div class="col-3">
                                   <h5>User to verify</h5>
                                   <div class="d-flex align-items-center mb-3 mb-md-0">
                                       <i class="fas fa-user-check text-indigo-400" style="font-size: 40px"></i>
                                       <div class="ml-6">
                                           <h5 class="font-weight-semibold mb-0 ml-1">{{ userValdiate|length }}</span></h5>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-3">
                                   <h5><a href="{{ path('training_attestation_list') }}">Training Attestation completed</a></h5>
                                   <a href="{{ path('training_attestation_list') }}">
                                       <div class="d-flex align-items-center mb-3 mb-md-0">
                                           <i class="fas fa-book-reader text-info-400" style="font-size: 40px"></i>
                                           <div class="ml-6">
                                               <h5 class="font-weight-semibold mb-0 ml-1">{{ cmsTrainings|length }}</span></h5>
                                           </div>
                                       </div>
                                   </a>
                               </div>
                               <div class="col-3">

                               </div>
                           </div>
                    </div>
                </div>
                {% if usersP|length>0 %}
                <div class="col-12 pb-2">
                    <div class="row">
                        <div class="col-6">
                            <h4><span class="font-weight-semibold">Last 10 Provider Users registered</span></h4>
                        </div>
                        <div class="col-6">
                            <div style="text-align: right">
                                <a href="{{ path('admin_puser_list') }}" class="btn btn-primary btn-sm">View All <i class="fas fa-ellipsis-v"></i></a>
                                <a href="{{ path('admin_new_user') }}" class="btn btn-success btn-sm">New User <i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="not">
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="">
                                    <th>No</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Organization Name</th>
                                    <th>Email</th>
                                    <th>Created At</th>
                                    <th style="text-align: right;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set c=1 %}
                                {% for  user in usersP %}
                                    {% if c<=10 %}
                                        <tr data-id="{{ user.id }}">
                                            <td>{{ c }}</td>
                                            <td>{{ user.getName }}</td>
                                            <td>{{ user.getLastName }}</td>
                                            <td>
                                                {% if user.organization %}
                                                    {{ user.organization.name }}
                                                {% endif %}
                                            </td>
                                            <td>{{ user.getEmail }}</td>
                                            <td>{{ user.getCreatedAt|date('m/d/Y') }}</td>
                                            <td style="text-align: right">
                                                <a href="{{ path('admin_view_user',{'id':user.id}) }}" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>
                                                <a href="{{ path('admin_edit_user',{'id':user.id}) }}" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% set c=c+1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if userValdiate|length>0 %}
                <div class="col-12 pb-2 mt-3">
                    <div class="row">
                        <div class="col-6">
                            <h4><span class="font-weight-semibold">Providers to Verify</span></h4>
                        </div>
                        <div class="col-6">
                            <div style="text-align: right">
                                <a href="{{ path('admin_provider_to_verify_list') }}" class="btn btn-success btn-sm">View All <i class="fas fa-ellipsis-v"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="table_grid_cred">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr class="">
                                <th>No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Organization Name</th>
                                <th>Phone number</th>
                                <th style="text-align: right;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set c=1 %}
                            {% for userv in userValdiate %}
                                {% if c<=10 %}
                                    <tr>
                                        <td>{{ c }}</td>
                                        <td>{{ userv.getFirstName }}</td>
                                        <td>{{ userv.getLastName }}</td>
                                        <td>{{ userv.getEmail }}</td>
                                        <td>
                                            {% if userv.organization!=null %}
                                                {{ userv.organization.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ userv.getPhone }}</td>
                                        <td style="text-align: right">
                                            <a href="#" data-id="{{ userv.id }}" class="btn btn-sm bg-success border-success text-success-800 btn-icon border-2 ml-1 btn-actions btn-validate-pro"><i class="fas fa-user-check"></i></a>
                                            <a href="#" data-id="{{ userv.id }}" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete-pro"><i class="fas fa-user-times"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% set c=c+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if requestsOrg|length>0 %}
                    <div class="col-12 pb-2 mt-3">
                        <div class="row">
                            <div class="col-6">
                                <h4><span class="font-weight-semibold">Request to Organization access</span></h4>
                            </div>
                            <div class="col-6">
                                <div style="text-align: right">
                                    <a href="{{ path('admin_provider_to_verify_list') }}" class="btn btn-success btn-sm">View All <i class="fas fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="">
                                    <th>No</th>
                                    <th>Organization</th>
                                    <th>User request</th>
                                    <th>Contact Name</th>
                                    <th>Conatct Email</th>
                                    <th>Created date</th>
                                    <th style="text-align: right;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set c=1 %}
                                {% for requestOrg in requestsOrg %}
                                    <tr>
                                        <td>{{ c }}</td>
                                        <td>{{ requestOrg.organization.name }}</td>
                                        <td>{{ requestOrg.user.name }} {{ requestOrg.user.lastname }} </td>
                                        <td>{{ requestOrg.contact.name }}</td>
                                        <td>{{ requestOrg.contact.email }}</td>
                                        <td>{{ requestOrg.createAt|date('m/d/Y') }}</td>
                                        <td style="text-align: right">
                                            <a href="#" data-id="{{ requestOrg.id }}" class="btn btn-sm bg-success border-success text-success-800 btn-icon border-2 ml-1 btn-actions btn-set-request-approved"><i class="fas fa-user-check"></i></a>
                                            <a href="#" data-id="{{ requestOrg.id }}" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-set-request-denied"><i class="fas fa-user-times"></i></a>
                                        </td>
                                    </tr>
                                    {% set c=c+1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif  %}
            </div>
                <form action="{{ path('admin_validate_user_ajax') }}" method="post" id="form_validate_user"></form>
                <form action="{{ path('admin_remove_user_ajax') }}" method="post" id="form_remove_user"></form>
                <form action="{{ path('admin_user_set_org_request') }}" method="post" id="form_set_request">
                    <input type="hidden" name="request_id" id="request_id" value="">
                    <input type="hidden" name="request_status" id="request_status" value="">
                </form>

            {% endif %}
            {% if role=="ROLE_PROVIDER" %}
                <div class="row">
                    <div class="col-12 mt-1 mb-1">
                        <div class="alert alert-info alert-styled-left alert-dismissible">
                            <span class="font-weight-semibold">Hello {{ app.user.name }} {{ app.user.lastname }},  welcome to your BSN account! </span> Please click here to verify and edit your organization information for <a href="{{ path('admin_edit2_organization') }}" class="alert-link">{{ organization.name }}</a>.
                        </div>
                    </div>
                    {% if organization_check or providers_check or address_check or contacts_check or training_attestation%}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Items that need review</span></h5>
                                <p class="mt-1">BSN endeavors to support you in maintaining the most accurate and up to date information on your organization and providers. Please verify the information in this account is correct and complete. </p>
                            </div>
                            <div class="card-body">
                                {% if training_attestation %}
                                    <div class="alert alert-danger alert-styled-left alert-dismissible">
                                        <h6 class="card-title text-danger-800 font-weight-bold">Mandatory trainings module</h6>
                                        <p class="mt-1">Please review the trainings module to confirm completion of mandatory trainings including CMS FWA etc.</p>
                                        <p>Click <a href="{{ path('training_attestation_index') }}">here</a></p>
                                    </div>
                                {% endif %}
                                {% if organization_check %}
                                    <div class="alert alert-danger alert-styled-left alert-dismissible">
                                        <h6 class="card-title text-danger-800 font-weight-bold">Organization</h6>
                                        <p class="mt-1">The organization information needs review.</p>
                                        <a href="#collapse_organization" id="collapse_organization_link" class="" data-toggle="collapse">
                                            <i class="icon-circle-down2"></i> <span>See More</span>
                                        </a>
                                        <div class="collapse" id="collapse_organization">
                                            <div class="mt-3">
                                                <ul>
                                                    {% if check_org_accreditation==true %}
                                                        <li>Organization Accreditation</li>
                                                    {% endif %}
                                                    {% if check_org_groupnpi==true %}
                                                        <li>Group NPI</li>
                                                    {% endif %}
                                                    {% if check_org_billingnpi==true %}
                                                        <li>Billing NPI</li>
                                                    {% endif %}
                                                    {% if check_org_tin==true %}
                                                        <li>TIN Number</li>
                                                    {% endif %}
                                                    {% if check_org_legal_name_tin_owner==true %}
                                                        <li>Legal Name of TIN Owner</li>
                                                    {% endif %}
                                                    {% if check_org_billing_phone==true %}
                                                        <li>Billing phone</li>
                                                    {% endif %}
                                                    {% if check_org_phone==true %}
                                                        <li>Phone Number</li>
                                                    {% endif %}
                                                </ul>
                                                <p><a href="{{ path('admin_edit2_organization') }}" class="btn btn-primary btn-sm">Edit Organization</a></p>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                                {% if providers_check %}
                                    <div class="alert alert-danger alert-styled-left alert-dismissible">
                                        <h6 class="card-title text-danger-800 font-weight-bold">Providers</h6>
                                        <p class="mt-1">These Providers need review</p>
                                        <a href="#collapse_provider" id="collapse_provider_link" class="" data-toggle="collapse">
                                            <i class="icon-circle-down2"></i> <span>See More</span>
                                        </a>
                                        <div class="collapse" id="collapse_provider">
                                            <div class="table-responsive">
                                                <table class="table table-xs">
                                                    <thead>
                                                    <tr>
                                                        <th width="5%">#</th>
                                                        <th width="30%">Full Name</th>
                                                        <th width="50%">Status</th>
                                                        <th width="15%" style="text-align: right">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set c=1 %}
                                                    {% for provider in provider_check %}
                                                        <tr>
                                                            <td>{{ c }}</td>
                                                            <td>{{ provider.firstname }} {{ provider.lastname }}</td>
                                                            <td>This provider is missing information</td>
                                                            <td style="text-align: right"><a href="{{ path('pro_new_p_edit',{'id':provider.id}) }}" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i> Edit Provider</a></td>
                                                        </tr>
                                                        {% set c=c+1 %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if address_check %}
                                    <div class="alert alert-danger alert-styled-left alert-dismissible">
                                        <h6 class="card-title text-danger-800 font-weight-bold">Address</h6>
                                        {% if addressResult|length==0 %}
                                            <p class="mt-1">Do you need add one or more address</p>
                                        {% else %}
                                            {% if addr_check %}
                                                <p class="mt-1">These Addresses need review</p>
                                                <a href="#collapse_address" id="collapse_address_link" class="" data-toggle="collapse">
                                                    <i class="icon-circle-down2"></i> <span>See More</span>
                                                </a>
                                                <div class="collapse" id="collapse_address">
                                                    <div class="table-responsive">
                                                        <table class="table table-xs">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Street</th>
                                                                <th>Status</th>
                                                                <th style="text-align: right">Actions</th>
                                                            </tr>
                                                            {% set c=1 %}
                                                            {% for addressR in addresses_check %}
                                                                <tr>
                                                                    <td>{{ c }}</td>
                                                                    <td>{{ addressR.street }}</td>
                                                                    <td>This address is missing information</td>
                                                                    <td style="text-align: right">
                                                                        <a href="{{ path('provider_billing_edit',{'id':addressR.id}) }}" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i> Edit the Address</a>
                                                                    </td>
                                                                </tr>
                                                                {% set c=c+1 %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if primary_addr==false %}
                                            <div class="alert alert-warning alert-styled-left alert-dismissible pt-2 pb-2">
                                                <a href="{{ path('provider_billing_index') }}" class="btn btn-sm btn-warning" style="float: right;margin-top: -6px;"><i class="fas fa-pencil-alt"></i> Edit Addresses</a>
                                                You have not yet set a <span class="font-weight-semibold">Primary Address</span>
                                            </div>
                                        {% endif %}
                                        {% if billing_addr==false %}
                                            <div class="alert alert-warning alert-styled-left alert-dismissible pt-2 pb-2">
                                                <a href="{{ path('provider_billing_index') }}" class="btn btn-sm btn-warning" style="float: right;margin-top: -6px;"><i class="fas fa-pencil-alt"></i> Edit Addresses</a>
                                                You have not yet set a <span class="font-weight-semibold">Billing Address</span>
                                            </div>
                                        {% endif %}
                                        {% if mailing_addr==false %}
                                            <div class="alert alert-warning alert-styled-left alert-dismissible pt-2 pb-2">
                                                <a href="{{ path('provider_billing_index') }}" class="btn btn-sm btn-warning" style="float: right;margin-top: -6px;"><i class="fas fa-pencil-alt"></i> Edit Addresses</a>
                                                You have not yet set a <span class="font-weight-semibold">Mailing Address</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if contacts_check %}
                                    <div class="alert alert-danger alert-styled-left alert-dismissible">
                                        <h6 class="card-title text-danger-800 font-weight-bold">Contacts</h6>
                                        {% if contactResult2|length==0 %}
                                            <p class="mt-1">Do you need add one or more contacts</p>
                                        {% else %}
                                            <p class="mt-1">These Contacts need review</p>
                                            <a href="#collapse_contact" id="collapse_contact_link" class="" data-toggle="collapse">
                                                <i class="icon-circle-down2"></i> <span>See More</span>
                                            </a>
                                            <div class="collapse" id="collapse_contact">
                                                <div class="table-responsive">
                                                    <table class="table table-xs">
                                                        <thead>
                                                        <tr>
                                                            <th width="5%">#</th>
                                                            <th width="30%">Full Name</th>
                                                            <th width="50%">Status</th>
                                                            <th width="15%" style="text-align: right">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% set c=1 %}
                                                        {% for contactR in contact_check %}
                                                            <tr>
                                                                <td>{{ c }}</td>
                                                                <td>{{ contactR.name }}</td>
                                                                <td>This Contact is missing information</td>
                                                                <td style="text-align: right">
                                                                    <a href="{{ path('new_contact_p_edit',{'id':contactR.id}) }}" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i> Edit the contact</a>
                                                                </td>
                                                            </tr>
                                                            {% set c=c+1 %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Credentialing</span></h5>
                            </div>
                            <div class="card-body">
                                {% if credentialingProcess and org_facility==true %}
                                    <h4 class="mb-2">Facility Credentialing</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Credentialing Status</th>
                                                <th>Sent to Cvo Date</th>
                                                <th>Accepted Date</th>
                                                <th>Effective Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for credentialingP in credentialingProcess %}
                                                <tr class="table-active">
                                                    <td>
                                                        <span class="badge badge-success">{{ credentialingP.getCredentialingStatus.name }}</span>
                                                    </td>
                                                    <td>{{ credentialingP.getCredentialingDate }}</td>
                                                    <td>{{ credentialingP.getCredentialingAcceptedDate }}</td>
                                                    <td>{{ credentialingP.getCredentialingEffectiveDate }}</td>
                                                    <td>{{ credentialingP.getCredentialingDeniedDate }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                {% if providersCred|length>0 and org_facility==false %}
                                    <h4>Individual Credentialing</h4>
                                    <div class="alert alert-info alert-styled-left alert-dismissible">
                                        This organization has <strong><span style="font-size: 15px;">{{ providersCred|length }}</span></strong> providers credentialed.  Please see provider tab at left for details.
                                    </div>
                                {% endif  %}
                            </div>
                        </div>
                    </div>
                    {% if hasMMM==1 or hasFcc==1 %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Payers</span></h5>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-info alert-styled-left alert-dismissible">
                                    You are eligible to receive referrals from the following payers.  Please click on the tabs to view additional information.
                                </div>
                                <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                                    {% if hasMMM==1 %}
                                        <li class="nav-item"><a href="#colored-rounded-tab1" class="nav-link active rounded-left" data-toggle="tab">MMM of Florida</a></li>
                                    {% endif %}
                                    {% if hasFcc==1 %}
                                        <li class="nav-item"><a href="#colored-rounded-tab2" class="nav-link" data-toggle="tab">FCC-Florida Community Care</a></li>
                                    {% endif %}
                                </ul>
                                <div class="tab-content">
                                    {% if hasMMM==1 %}
                                    <div class="tab-pane fade show active" id="colored-rounded-tab1">
                                        <h5>Manuals</h5>
                                        <ul>
                                            <li><a href="{{ asset('docs/Quick_Reference_Guide_2021_Updated_2021.pdf') }}" target="_blank">Quick Reference Guide Updated 2021</a></li>
                                            <li><a href="{{ asset('docs/Provider_Orientation_SPECIALIST_2_8_21.pdf') }}" target="_blank">Provider Orientation SPECIALIST 2_8_21</a></li>
                                            <li><a href="{{ asset('docs/MOC_Training_2021.pdf') }}" target="_blank">Model of Care Training 2021</a></li>
                                            <li><a href="{{ asset('docs/2022_Benefits_Presentation-BSN.pdf') }}" target="_blank">MMM 2022 Mental Health Benefits</a></li>
                                        </ul>
                                        <hr>
                                        <h5>Claims and Encounters</h5>
                                        <ul>
                                            <li><a href="{{ asset('docs/MMM_CLaims_and_Encounters.pdf') }}" target="_blank">Claims and Encounters</a></li>
                                        </ul>
                                        <hr>
                                        <h5>Providers of Targeted Case Management and Psychosocial Rehabilitation</h5>
                                        <ul>
                                            <li><a href="{{ asset('docs/59G-4.031_Behavioral_Health_Support_Services_20170629.pdf') }}" target="_blank">59G-4.031_Behavioral_Health_Support_Services_20170629.pdf</a></li>
                                            <li><a href="{{ asset('docs/CL_07_070601_MH_Case_Mgmt_ver2_2.pdf') }}" target="_blank">CL_07_070601_MH_Case_Mgmt_ver2_2.pdf</a></li>
                                        </ul>
                                        <h5>Providers notification for PSR and TCM</h5>
                                        <ul>
                                            <li><a href="{{ asset('docs/Provider_notification_for_PSR_and_TCM.pdf') }}" target="_blank">Provider_notification_for_PSR_and_TCM.pdf</a></li>
                                            <li><a href="{{ asset('download/MMM_Adult_TCM_Certifcation_Form.pdf') }}" target="_blank">MMM Adult TCM Certifcation Form</a></li>
                                            <li><a href="{{ asset('download/MMM_30_day_TCM_Certification_Form.pdf') }}" target="_blank">MMM 30 day TCM Certification Form</a></li>
                                            <li><a href="{{ asset('download/MMM_Adult_ICM_Certifcation_Form.pdf') }}" target="_blank">MMM Adult ICM Certifcation Form</a></li>
                                            <li><a href="{{ asset('download/MMMFL_BH_Prior_Authorization_Form.pdf') }}" target="_blank">MMMFL BH Prior Authorization Form</a></li>
                                            <li><a href="{{ asset('download/PSR_Provider_PA_Guide.pdf') }}" target="_blank">PSR Provider PA Guide</a></li>
                                            <li><a href="{{ asset('download/TCM-ICM_Provider_PA_guide.pdf') }}" target="_blank">TCM-ICM Provider PA guide</a></li>
                                        </ul>
                                        <p style="font-size: 13px;">
                                            <strong>Please note:</strong>  MMM of Florida is requiring Prior Authorization and Clinical Documentation for TCM and PSR services per AHCA guidelines.  Please see the related AHCA handbooks for more information.
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% if hasFcc==1 %}
                                    <div class="tab-pane fade" id="colored-rounded-tab2">
                                        <h5>Manuals</h5>
                                        <ul>
                                            <li><a href="{{ asset('docs/FCC_Quick_Reference_Guide_BSN_FINAL.pdf') }}" target="_blank">FCC Quick Reference Guide BSN FINAL</a></li>
                                            <li><a href="https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf" target="_blank">FCC Provider Manual</a></li>
                                            <li><a href="{{ asset('docs/Targeted_Case_Management_AHCA_HCBS_MMA.pdf') }}" target="_blank">Targeted Case Management in the Managed Medical Assistance program</a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization Profile</span></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        {% set organization=app.user.organization %}
                                        <p class="text-indigo-400 mb-0" style="font-size: 15px;"><strong>Organization name:</strong> {{ organization.name }}</p>
                                        <p class="text-indigo-400 mb-0" style="font-size: 15px;"><strong>Organization NPI:</strong> {% if organization %}  {{ organization.getGroupNpi }} {% endif %}</p>
                                        <p class="text-indigo-400 mb-0" style="font-size: 15px;"><strong>Billing NPI:</strong> {% if organization %}  {{ organization.getBillingNpi }} {% endif %}</p>
                                        <p class="text-indigo-400 mb-0" style="font-size: 15px;"><strong>Main Phone:</strong> {% if organization %}  {{ organization.phone }} {% endif %}</p>
                                        <a href="{{ path('admin_edit2_organization') }}" class="mt-2 btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400"><i class="fas fa-pencil-alt"></i> Edit profile</a>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="card {% if organization_lob_completed==false %} border-warning{% endif %}">
                                            <div class="card-header">
                                                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Line of business</span></h5>
                                                <p class="mt-1">Please select the lines of business your practice is eligible for and you wish to accept payments from.</p>
                                            </div>
                                            <div class="card-body">
                                                <form action="{{ path('admin_organization_save_lob') }}" method="post" id="form_save_line">
                                                    {% for lob in lineofBusiness %}
                                                        {% set c=0 %}
                                                        {% for org_lob in organization_lob %}
                                                            {% if org_lob.lineOfBusiness.id ==lob.id%}
                                                                {% if org_lob.value==true %}
                                                                    {% set c=1 %}
                                                                {% else %}
                                                                    {% set c=2 %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <div class="form-group row pl-2">
                                                            <h6 class="text-slate-800 font-weight-bold mr-3">{{ lob.name }}</h6>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="line_of_business_{{ lob.id }}" value="1" id="line_of_business_{{ lob.id }}_yes" {% if c==1 %} checked {% endif %}>
                                                                <label class="custom-control-label" for="line_of_business_{{ lob.id }}_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="line_of_business_{{ lob.id }}" value="0" id="line_of_business_{{ lob.id }}_no" {% if c==2 %} checked {% endif %}>
                                                                <label class="custom-control-label" for="line_of_business_{{ lob.id }}_no">No</label>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_line">
                                                        <span class="font-weight-semibold">Please make a selection for each LOB.</span>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-success btn-save-line"><i class="fas fa-save"></i> Save</a>
                                                            <div id="message-updated" class="alert alert-success alert-styled-right alert-arrow-right alert-dismissible mb-0" style="display: none">
                                                                <span class="font-weight-semibold">Well done!</span> You successfully read <a href="#" class="alert-link">this important</a> alert message.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <h6 class="card-title"><span class="text-slate-800">Providers</span></h6>
                                                        <a href="{{ path('pro_new_p_list') }}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Providers List</a>
                                                        <a href="{{ path('pro_new_p_add') }}" class="btn btn-primary"><i class="fas fa-plus"></i> New Provider</a>
                                                    </div>
                                                    <div class="col-12 mt-2">
                                                        <span class="text-slate-800" style="font-size: 20px;">Total:</span>  <span class="badge badge bg-slate-800" style="font-size: 20px;">{{ providersResult|length }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <h6 class="card-title"><span class="text-slate-800">Addresses</span></h6>
                                                        <a href="{{ path('provider_billing_index') }}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Addresses List</a>
                                                        <a href="{{ path('provider_billing_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> New Address</a>
                                                    </div>
                                                    <div class="col-12 mt-2">
                                                        <span class="text-slate-800" style="font-size: 20px;">Total:</span>  <span class="badge badge bg-slate-800" style="font-size: 20px;">{{ addressResult|length }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <h6 class="card-title"><span class="text-slate-800">Contacts</span></h6>
                                                        <a href="{{ path('new_contact_p_index') }}" class="btn btn-success"><i class="fas fa-arrow-left"></i> Contact List</a>
                                                        <a href="{{ path('new_contact_p_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> New Conatct</a>
                                                    </div>
                                                    <div class="col-12 mt-2">
                                                        <span class="text-slate-800" style="font-size: 20px;">Total:</span>  <span class="badge badge bg-slate-800" style="font-size: 20px;">{{ contactResult|length }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
<form action="{{ path('admin_validate_roster_organization') }}" method="post" id="form_validate"></form>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>
     <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript" charset="utf-8">

         $(document).ready(function(e){
             _componentSwitchery();

             $('#collapse_organization_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_organization_link i')
                 var message_link=$('#collapse_organization_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })

             $('#collapse_provider_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_provider_link i')
                 var message_link=$('#collapse_provider_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })

             $('#collapse_address_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_address_link i')
                 var message_link=$('#collapse_address_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })

             $('#collapse_contact_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_contact_link i')
                 var message_link=$('#collapse_contact_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })
         })

         // Switchery
         var _componentSwitchery = function() {
             if (typeof Switchery == 'undefined') {
                 console.warn('Warning - switchery.min.js is not loaded.');
                 return;
             }

             // Initialize single switch
             var elems = Array.prototype.slice.call(document.querySelectorAll('.form-input-switchery'));
             elems.forEach(function(html) {
                 var switchery = new Switchery(html);
             });
         };

         $(function(e){
            $('#link-menu-dashboard').addClass('active')
         });

         $('.btn-delete-pro').click(function(e){
             e.preventDefault()

             var id=$(this).data('id')
             var url=$('#form_remove_user').attr('action')
             var data={
                 user:id
             }
             var tr=$(this).parent('td').parent('tr')
             bootbox.dialog({
                 message: 'Are you sure?',
                 title: 'Delete',
                 buttons: {
                     success: {
                         label: '<i class="fas fa-ban"></i> Cancel',
                         className: 'btn-success',
                         callback: function() {

                         }
                     },
                     danger: {
                         label: '<i class="far fa-trash-alt"></i> Delete',
                         className: 'btn-danger',
                         callback: function() {
                             $.post(url, data, function (result) {
                                 tr.fadeOut(300)
                             })
                         }
                     }
                 }
             });
         })

         $('#btn-validate-roster').click(function(e){

             var url=$('#form_validate').attr('action')
             {% if organization %}
             var organization="{{ organization.id }}"
             {% endif %}

             if($(this).is(':checked')){
                 var data={
                     id: organization,
                     validate:1,
                 }

                 $.post(url, data, function (result) {
                     $('.txt-status-wa').addClass('sr-only')
                     $('.txt-status-su').removeClass('sr-only')
                 })

             }else{
                 var data={
                     id: organization,
                     validate:0,
                 }

                 $.post(url, data, function (result) {
                     $('.txt-status-wa').removeClass('sr-only')
                     $('.txt-status-su').addClass('sr-only')
                 })
             }
         })

         $('.btn-validate-pro').click(function(e){
             e.preventDefault()

             var id_user=$(this).data('id')
             var data={
                 user: id_user
             }

             var tr=$(this).parent('td').parent('tr')
             var url=$('#form_validate_user').attr('action')

             bootbox.dialog({
                 message: 'Are you sure?',
                 title: 'Activate user for this provider',
                 buttons: {
                     success: {
                         label: '<i class="fas fa-ban"></i> Cancel',
                         className: 'btn-danger',
                         callback: function() {

                         }
                     },
                     danger: {
                         label: '<i class="fas fa-user-check"></i> Validate',
                         className: 'btn-success',
                         callback: function() {
                             $.post(url, data, function (result) {
                                 tr.fadeOut(300)
                                 console.log(result.email)
                             })
                         }
                     }
                 }
             });
         })

         $(document).ready(function(){
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)
         })

         $('.btn-set-request-approved').click(function(e){
             e.preventDefault()
             var id=$(this).data('id')
             $('#request_id').val(id)
             $('#request_status').val(1)
             $('#form_set_request').submit()
         })

         $('.btn-set-request-denied').click(function(e){
             e.preventDefault()
             let id=$(this).data('id')
             $('#request_id').val(id)
             $('#request_status').val(0)
             $('#form_set_request').submit()
         })

         $('.btn-save-line').click(function(e){
             e.preventDefault()

             let form=$('#form_save_line')
             let url=form.attr('action')
             let data=form.serialize()

             var error_line=$('#error_line')
             var send=true

             var line_of_business_1_yes=$('#line_of_business_1_yes')
             var line_of_business_1_no=$('#line_of_business_1_no')
             var line_of_business_2_yes=$('#line_of_business_2_yes')
             var line_of_business_2_no=$('#line_of_business_2_no')
             var line_of_business_3_yes=$('#line_of_business_3_yes')
             var line_of_business_3_no=$('#line_of_business_3_no')
             var line_of_business_4_yes=$('#line_of_business_4_yes')
             var line_of_business_4_no=$('#line_of_business_4_no')

             if(!line_of_business_1_yes.is(':checked') && !line_of_business_1_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }
             if(!line_of_business_2_yes.is(':checked') && !line_of_business_2_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }
             if(!line_of_business_3_yes.is(':checked') && !line_of_business_3_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }
             if(!line_of_business_4_yes.is(':checked') && !line_of_business_4_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }

             if(send){
                 $.post(url, data, function (result) {

                     $('#message-updated').fadeIn(1000)

                     setTimeout(function(){
                         $('#message-updated').fadeOut(500);
                     }, 2000)
                 })
             }
         })

         /* ------------------------------------------------------------------------------
          *
          *  # Echarts - Pie and Donut charts
          *
          *  Demo JS code for echarts_pies_donuts.html page
          *
          * ---------------------------------------------------------------------------- */
         var EchartsPiesDonuts = function() {
             var _piesDonutsExamples = function() {

                 // Define elements
                 var pie_basic_element = document.getElementById('organization_status_charts');
                 var pie_donut_element = document.getElementById('organization_type_charts');
                 var pie_donut_join = document.getElementById('join_type_charts');


                 // Basic pie chart
                 if (pie_basic_element) {

                     // Initialize chart
                     var pie_basic = echarts.init(pie_basic_element);

                     // Options
                     pie_basic.setOption({

                         // Colors
                         color: [
                             '#ff7043','#c62828','#4caf50','#ffb980','#d87a80',
                             '#8d98b3','#e5cf0d','#97b552','#95706d','#dc69aa',
                             '#07a2a4','#9a7fd1','#588dd5','#f5994e','#c05050',
                             '#59678c','#c9ab00','#7eb00a','#6f5553','#c14089'
                         ],

                         // Global text styles
                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Add title
                         title: {
                             text: 'Organization Status',
                             subtext: '',
                             left: 'center',
                             textStyle: {
                                 fontSize: 17,
                                 fontWeight: 500
                             },
                             subtextStyle: {
                                 fontSize: 12
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'item',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             },
                             formatter: "{a} <br/>{b}: {c} ({d}%)"
                         },

                         // Add legend
                         legend: {
                             orient: 'horizontal',
                             top: 35,
                             left: 'center',
                             data: ['Pending', 'Disabled', 'Active'],
                             itemHeight: 10,
                             itemWidth: 8
                         },

                         // Add series
                         series: [{
                             name: 'Status',
                             type: 'pie',
                             radius: '70%',
                             center: ['50%', '57.5%'],
                             itemStyle: {
                                 normal: {
                                     borderWidth: 1,
                                     borderColor: '#fff'
                                 }
                             },
                             data: [
                                 {value: {{ organizations_status[1] }}, name: 'Pending'},
                                 {value: {{ organizations_status[0] }}, name: 'Disabled'},
                                 {value: {{ organizations_status[2] }}, name: 'Active'},
                             ]
                         }]
                     });
                 }

                 if (pie_donut_element) {
                     var pie_donut = echarts.init(pie_donut_element);
                     pie_donut.setOption({

                         color: [
                             '#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80',
                             '#8d98b3','#e5cf0d','#97b552','#95706d','#dc69aa',
                             '#07a2a4','#9a7fd1','#588dd5','#f5994e','#c05050',
                             '#59678c','#c9ab00','#7eb00a','#6f5553','#c14089'
                         ],

                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Add title
                         title: {
                             text: 'Organization Type',
                             subtext: '',
                             left: 'center',
                             textStyle: {
                                 fontSize: 17,
                                 fontWeight: 500
                             },
                             subtextStyle: {
                                 fontSize: 12
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'item',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             },
                             formatter: "{a} <br/>{b}: {c} ({d}%)"
                         },

                         // Add legend
                         legend: {
                             orient: 'horizontal',
                             top: 35,
                             left: 'center',
                             data: ['Individual', 'Group', 'Facility'],
                             itemHeight: 8,
                             itemWidth: 8
                         },

                         // Add series
                         series: [{
                             name: 'Organization Type',
                             type: 'pie',
                             radius: ['50%', '70%'],
                             center: ['50%', '57.5%'],
                             itemStyle: {
                                 normal: {
                                     borderWidth: 1,
                                     borderColor: '#fff'
                                 }
                             },
                             data: [
                                 {value: {{ organization_types[0] }}, name: 'Individual'},
                                 {value: {{ organization_types[1] }}, name: 'Group'},
                                 {value: {{ organization_types[2] }}, name: 'Facility'},
                             ]
                         }]
                     });
                 }

                 if (pie_donut_join) {
                     var pie_d_join = echarts.init(pie_donut_join);
                     pie_d_join.setOption({

                         color: [
                             '#59678c','#c9ab00','#7eb00a','#6f5553','#c14089',
                             '#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80',
                             '#8d98b3','#e5cf0d','#97b552','#95706d','#dc69aa',
                             '#07a2a4','#9a7fd1','#588dd5','#f5994e','#c05050',
                         ],

                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Add title
                         title: {
                             text: 'Join Us Status',
                             subtext: '',
                             left: 'center',
                             textStyle: {
                                 fontSize: 17,
                                 fontWeight: 500
                             },
                             subtextStyle: {
                                 fontSize: 12
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'item',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             },
                             formatter: "{a} <br/>{b}: {c} ({d}%)"
                         },

                         // Add legend
                         legend: {
                             orient: 'horizontal',
                             top: 35,
                             left: 'center',
                             data: ['Approved', 'Pending', 'Canceled'],
                             itemHeight: 8,
                             itemWidth: 8
                         },

                         // Add series
                         series: [{
                             name: 'Join Us Status',
                             type: 'pie',
                             radius: ['50%', '70%'],
                             center: ['50%', '57.5%'],
                             itemStyle: {
                                 normal: {
                                     borderWidth: 1,
                                     borderColor: '#fff'
                                 }
                             },
                             data: [
                                 {value: {{ join_approved }}, name: 'Approved'},
                                 {value: {{ join_pending }}, name: 'Pending'},
                                 {value: {{ join_canceled }}, name: 'Canceled'},
                             ]
                         }]
                     });
                 }

                 var triggerChartResize = function() {
                     pie_basic_element && pie_basic.resize();
                     pie_donut_element && pie_donut.resize();
                     pie_donut_join && pie_d_join.resize();

                 };

                 // On sidebar width change
                 $(document).on('click', '.sidebar-control', function() {
                     setTimeout(function () {
                         triggerChartResize();
                     }, 0);
                 });

                 // On window resize
                 var resizeCharts;
                 window.onresize = function () {
                     clearTimeout(resizeCharts);
                     resizeCharts = setTimeout(function () {
                         triggerChartResize();
                     }, 200);
                 };
             };

             return {
                 init: function() {
                     _piesDonutsExamples();
                 }
             }
         }();

         document.addEventListener('DOMContentLoaded', function() {
             EchartsPiesDonuts.init();
         });
     </script>

 {% endblock %}

