<li class="mt-2">
    <a href="{{ path('join_us_index') }}" class="position-relative mr-3 text-indigo" alt="join us request">
        <i class="fas fa-file-signature fa-2x {% if total_joins>99 %}mr-3{% else %}mr-1{% endif %}"></i>
        <span class="badge bg-indigo badge-pill badge-float border-2 border-white">{{ total_joins }}</span>
    </a>
    <a href="{{ path('admin-email-queue-list') }}" class="position-relative">
        <i class="far fa-envelope fa-2x {% if total_on_queue>99 %}mr-3{% else %}mr-1{% endif %}"></i>
        <span class="badge {% if total_on_queue==0 %} bg-success {% else %}bg-danger {% endif %} badge-pill badge-float border-2 border-white">{{ total_on_queue }}</span>
    </a>
</li>
