{% if organizations  and organizations|length>1 %}
<li class="pt-3 pr-1"><h6 class="card-title text-slate-800 font-weight-bold mb-0">Select an Organization:</h6></li>
<li class="pt-2">
    <form action="{{ path('admin_user_setorganization') }}" id="for_set_org" method="post">
    <select name="set_organization" id="set_organization" class="form-control select" style="display: inline-block">
        {% for org in organizations %}
            <option value="{{ org.id }}" {% if org.id==organization.id %}selected{% endif %}>{{ org.name }}</option>
        {% endfor %}
    </select>
    </form>
</li>
{% endif %}