{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('email_type_index') }}" class="breadcrumb-item">Email Templates</a>
                        <span class="breadcrumb-item active">View Email Template</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">{{ document.name}} ( Email Template )</span></h5>
                <div class="header-elements">
                    <a href="{{ path('email_type_index') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Email Templates List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                                            <li class="nav-item"><a href="#tab1" class="nav-link active  rounded-left" data-toggle="tab">General Info</a></li>
                                            <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Email options</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade active show" id="tab1">
                                                <div class="card rounded-top-0">
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">Name:</label>
                                                                <p class="col-form-label text-body p_docs">{{ document.name }}</p>
                                                            </div>
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">Best option for:</label>
                                                                <p class="mt-1 mb-0">
                                                                {% for best in document.getBestChoices %}
                                                                    <span class="badge bg-info mb-0">{{ best.name }}</span>
                                                                {% endfor %}
                                                                </p>
                                                            </div>
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">Description:</label>
                                                                <p class="col-form-label text-body p_docs">{{ document.description }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab2">
                                                <div class="card rounded-top-0">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">Subject:</label>
                                                                <p class="col-form-label text-body p_docs">{{ document.subject }}</p>
                                                            </div>
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">CC:</label>
                                                                <p class="col-form-label text-body p_docs">{{ document.cc }}</p>
                                                            </div>
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">BCC:</label>
                                                                <p class="col-form-label text-body p_docs">{{ document.bcc }}</p>
                                                            </div>
                                                            <div class="col-12 form-group">
                                                                <label class="col-form-label p-0">Attached Files:</label>
                                                                <p class="col-form-label text-body p_docs">-</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-group-emails').addClass('nav-item-expanded')
             $('#link-group-emails').addClass('nav-item-open')
             $('#link-menu-emails-types').addClass('active')
         });
     </script>
 {% endblock %}
