{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_countymatch') }}" class="breadcrumb-item">Counties</a>
                        <span class="breadcrumb-item active">Edit County</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit County</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_countymatch') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Counties List</a>
                    <a href="{{ path('admin_new_countymatch') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New County</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_countymatch') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> County Code:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control col-12" name="county_code" id="county_code" value="{{ document.countycode }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_county_code" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Región:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control col-12" name="region" id="region" value="{{ document.region }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_region" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Región:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control col-12" name="region" id="region" value="{{ document.region }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_region" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Zone:</label>
                                                <div class="col-lg-10">
                                                    <select name="zone" id="zone" class="form-control select">
                                                        <option value="">- Select One -</option>
                                                        <option value="Urban" {% if document.zone=="Urban" %}selected{% endif %}>Urban</option>
                                                        <option value="Rural" {% if document.zone=="Rural" %}selected{% endif %}>Rural</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_countymatch') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/countymatch/validation_edit.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link-group-configuration').addClass('nav-item-expanded')
             $('#link-group-configuration').addClass('nav-item-open')
             $('#link-group-providers_conf').addClass('nav-item-expanded')
             $('#link-group-providers_conf').addClass('nav-item-open')
             $('#link-admin-counties').addClass('active')
         });
     </script>
 {% endblock %}
