{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_organization') }}" class="breadcrumb-item">Organizations</a>
                        <span class="breadcrumb-item active">New Organization</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Organization</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_organization') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Organization List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Wizard with validation -->
                                            <form class="wizard-form steps-validation" action="{{ path('admin_create_organization') }}" enctype="multipart/form-data" data-fouc id="form">
                                                <input type="hidden" name="save_status" id="save_status" value="0">
                                                <input type="hidden" name="page" id="page" value="0">
                                                <input type="hidden" name="application_receipt_date" id="application_receipt_date" value="{{ "now"|date("m/d/Y") }}">
                                                <h6>General Information</h6>
                                                <fieldset class="cont-step-wizard">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Group NPI:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control npi_check" name="npi" id="npi" maxlength="10">
                                                                    <div class="progress sr-only" id="progress_npi_load">
                                                                        <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                                                            <span class="">Loading Data from NPPES NPI Registry ...</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Name:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control required" name="name" id="name" >
                                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">DBA Name:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="dba_name" id="dba_name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Organization Type:</label>
                                                                <div class="col-lg-10">
                                                                    <select id="organization_type" name="organization_type" class="form-control select">
                                                                        <option value="Individual">Individual</option>
                                                                        <option value="Organization">Organization (Licensed as a facility by AHCA) </option>
                                                                        <option value="Group">Group</option>
                                                                    </select>
                                                                    <div id="cont_facility_note" class="sr-only">
                                                                        <p class="mt-1 text-warning">Please note that all facility specific information is entered per licensed location in the addresses tab.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Docusign Link:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="docusign_link" id="docusign_link">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row sr-only" id="cont_accreditation">
                                                                <label class="col-lg-2 col-form-label">Accreditation:</label>
                                                                <div class="col-lg-10">
                                                                    <div class="row">
                                                                        {% for accreditation in accreditations %}
                                                                            <div class="col-4 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="accreditations" id="accreditation_{{ accreditation.id }}" value="{{ accreditation.id }}">
                                                                                    <label class="custom-control-label" for="accreditation_{{ accreditation.id }}">{{ accreditation.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                        <input type="hidden" name="accreditationSelected" id="accreditationSelected" value=""/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Group NPI2:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="npi2" id="npi2">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Billing NPI:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="billing_npi" id="billing_npi">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row sr-only" id="cont_taxonomy">
                                                                <label class="col-lg-2 col-form-label">Taxonomy code:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="taxonomy_code" id="taxonomy_code">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">TIN number:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="tin_number" id="tin_number">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Name of ehr emr:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="name_ehr_emr" id="name_ehr_emr">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Billing phone:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="billing_phone" id="billing_phone" data-mask="999-999-9999">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Phone:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="phone" id="phone" data-mask="999-999-9999">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Faxno:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="faxno" id="faxno" data-mask="999-999-9999">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Website:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" name="website" id="website">
                                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Receive date of AGMT:</label>
                                                                <div class="col-lg-10">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" name="dateagmt" id="dateagmt" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <h6>Specialty areas</h6>
                                                <fieldset class="cont-step-wizard">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row">
                                                                <div class="col-4">
                                                                    <div class="row">
                                                                        {% set c=1 %}
                                                                        {% for specialty in specialties %}
                                                                            {% if c<=sa_first_column_elements %}
                                                                                <div class="col-12 form-group">
                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                        <input type="checkbox" class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                        <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% set c=c+1 %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="row">
                                                                        {% set c=1 %}
                                                                        {% for specialty in specialties %}
                                                                            {% if c >sa_first_column_elements and c<= sa_first_column_elements+sa_rest_columns_element %}
                                                                                <div class="col-12 form-group">
                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                        <input type="checkbox" class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                        <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% set c=c+1 %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="row">
                                                                        {% set c=1 %}
                                                                        {% for specialty in specialties %}
                                                                            {% if c >(totalSpecialties-sa_rest_columns_element) %}
                                                                                <div class="col-12 form-group">
                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                        <input type="checkbox" class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                        <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% set c=c+1 %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <h6>Organization Clasification</h6>
                                                <fieldset class="cont-step-wizard">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                {% set c=1 %}
                                                                {% for clasification in clasifications %}
                                                                    {% if c<=first_column_elements %}
                                                                        <div class="col-12 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}">
                                                                                <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% set c=c+1 %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                {% set c=1 %}
                                                                {% for clasification in clasifications %}
                                                                    {% if c >first_column_elements and c<= first_column_elements+rest_columns_element%}
                                                                        <div class="col-12 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}">
                                                                                <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% set c=c+1 %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                {% set c=1 %}
                                                                {% for clasification in clasifications %}
                                                                    {% if c >(totalOrgClasification-rest_columns_element) %}
                                                                        <div class="col-12 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}">
                                                                                <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% set c=c+1 %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <h6>Others</h6>
                                                <fieldset class="cont-step-wizard">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Notes:</label>
                                                                <div class="col-lg-10">
                                                                    <textarea rows="5" cols="5" class="form-control" name="notes" id="notes"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Non Standard Rates (note difference):</label>
                                                                <div class="col-lg-10">
                                                                    <textarea rows="5" cols="5" class="form-control" name="non_standard_rates" id="non_standard_rates"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label">Standard Rates:</label>
                                                                <div class="col-lg-10 pt-2">
                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                        <input type="checkbox" class="custom-control-input" id="standard_rates">
                                                                        <label class="custom-control-label" for="standard_rates"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" id="cont-rates">
                                                                <label class="col-lg-2 col-form-label">Rates:</label>
                                                                <div class="col-lg-10 pt-2">
                                                                    {% for rate in rates %}
                                                                        <div class="mb-1 pt-2">
                                                                            <div class="col-2-grid-org">
                                                                                <div class="item">
                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                        <input type="checkbox" name="rates" class="custom-control-input check_rates" id="rate_{{ rate.id }}" value="{{ rate.id }}">
                                                                                        <label class="custom-control-label" for="rate_{{ rate.id }}">{{ rate.name }}</label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="item sr-only" name="rates_value" id="cont_percent_rate_{{ rate.id }}">
                                                                                    <input type="number" name="rate" class=" ml-2 form-control" id="rate_value_{{ rate.id }}" value="{{ rate.percent }}"> <h3>%</h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <h6>Upload</h6>
                                                <fieldset class="cont-step-wizard">
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Provider agreement file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="provider_agreement_file" id="provider_agreement_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="provider_agreement_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="provider_agreement_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">State licence file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input"  data-show-preview="false" data-show-upload="false" name="state_licence_file" id="state_licence_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="state_licence_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="state_licence_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Provider data form file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="provider_data_form_file" id="provider_data_form_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="provider_data_form_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="provider_data_form_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">W9 file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="w9_file" id="w9_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="w9_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="w9_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Roster file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="roster_file"  id="roster_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="roster_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="roster_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">General liability coverage file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="general_liability_coverage_file" id="general_liability_coverage_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="general_liability_coverage_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="general_liability_coverage_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Site visit survery file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="site_visit_survery_file" id="site_visit_survery_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="site_visit_survery_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="site_visit_survery_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Accreditation certificate file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="accreditation_certificate_file" id="accreditation_certificate_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="accreditation_certificate_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="accreditation_certificate_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Loa loi file:</label>
                                                        <div class="col-lg-10 pt-2">
                                                            <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="loa_loi_file" id="loa_loi_file" data-fouc>
                                                            <span class="badge badge-success sr-only" id="loa_loi_file_0">File uploaded successfully </span>
                                                            <span class="badge badge-danger sr-only" id="loa_loi_file_1">This file can't was uploaded. Try again please</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <div class="progress sr-only" id="progress_upload">
                                                                <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-info-600" style="width: 100%">
                                                                    <span class="">Uploading Files  ...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>

                                        <!-- /wizard with validation -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <input type="hidden" id="url_index" name="url_index" value="{{ path('admin_organization') }}" />
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/organization/validation_add.js') }}"></script>
     <script src="{{ asset('js/organization/wizard.js') }}"></script>
     <script src="{{ asset('js/organization/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#link-menu-organizations').addClass('active')

             $('.npi_check').keyup(function(){

                 var npi=$(this).val()
                 var msjnpi=$('#msj-npi')
                 var npi_number=$('#npi_number')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }

                     var url='/admin/provider/checknpi'
                     var progress=$('#progress_npi_load')
                     progress.removeClass('sr-only')

                     $.post(url, data, function (result) {
                         var jsonObj = $.parseJSON(result.json_result);

                         progress.addClass('sr-only')

                         var check=0
                         var resultsObj=jsonObj.results
                         if(jsonObj.Errors || jsonObj.result_count==0){
                             check=1
                         }
                         if(check==0){
                             npi_number.addClass('border-success')
                             npi_number.removeClass('border-danger')

                             icon_npi_valid.removeClass('sr-only')
                             icon_npi_notvalid.addClass('sr-only')
                             console.log(jsonObj)

                             //set values from API
                             $.each(resultsObj, function( index, objNPI ) {
                                 $('#error-fields').addClass('sr-only')
                                 if(objNPI.enumeration_type=="NPI-2"){

                                 }
                                 var name=objNPI.basic.name

                                 $('#name').val(name)


                             })

                         }else{
                             npi_number.removeClass('border-success')
                             npi_number.addClass('border-danger')

                             icon_npi_valid.addClass('sr-only')
                             icon_npi_notvalid.removeClass('sr-only')
                         }

                     })

                 }
             })

             $('.check-line').on('switchChange.bootstrapSwitch', function (event, state) {
                 var objCheck=$(this);
                 var id=objCheck.attr('id');

                 if(objCheck.is(':checked')){
                     $('#cont_'+id).removeClass('sr-only');
                 }else{
                     $('#cont_'+id).addClass('sr-only');
                 }

             });

             $("#organization_type").on("change",function(){
                 if(this.value != "Individual"){
                     $('#cont_accreditation').removeClass('sr-only');
                     $('#cont_taxonomy').removeClass('sr-only');
                 }else{
                     $('#cont_accreditation').addClass('sr-only');
                     $('#cont_taxonomy').addClass('sr-only');
                 }

                 if(this.value == "Organization"){
                      $('#cont_facility_note').removeClass('sr-only')
                 }else{
                     $('#cont_facility_note').addClass('sr-only')
                 }
             });

             $('#standard_rates').click(function(){
                 var obj=$(this)
                 var rate_1=$('#rate_1')
                 var rate_2=$('#rate_2')
                 var rate_3=$('#rate_3')
                 var rate_4=$('#rate_4')

                 var cont_percent_rate_1=$('#cont_percent_rate_1')
                 var cont_percent_rate_2=$('#cont_percent_rate_2')
                 var cont_percent_rate_3=$('#cont_percent_rate_3')
                 var cont_percent_rate_4=$('#cont_percent_rate_4')

                 var rate_value_1=$('#rate_value_1')
                 var rate_value_2=$('#rate_value_2')
                 var rate_value_3=$('#rate_value_3')
                 var rate_value_4=$('#rate_value_4')

                 if(obj.is(':checked')){
                     rate_1.prop('checked',true)
                     rate_2.prop('checked',true)
                     rate_3.prop('checked',true)
                     rate_4.prop('checked',true)

                     cont_percent_rate_1.removeClass('sr-only')
                     cont_percent_rate_2.removeClass('sr-only')
                     cont_percent_rate_3.removeClass('sr-only')
                     cont_percent_rate_4.removeClass('sr-only')


                     rate_value_1.attr('readonly',true)
                     rate_value_2.attr('readonly',true)
                     rate_value_3.attr('readonly',true)
                     rate_value_4.attr('readonly',true)
                 }else{

                     rate_1.prop('checked',false)
                     rate_2.prop('checked',false)
                     rate_3.prop('checked',false)
                     rate_4.prop('checked',false)

                     rate_1.attr('disabled',false)
                     rate_2.attr('disabled',false)
                     rate_3.attr('disabled',false)
                     rate_4.attr('disabled',false)

                     rate_value_1.attr('readonly',false)
                     rate_value_2.attr('readonly',false)
                     rate_value_3.attr('readonly',false)
                     rate_value_4.attr('readonly',false)

                     cont_percent_rate_1.addClass('sr-only')
                     cont_percent_rate_2.addClass('sr-only')
                     cont_percent_rate_3.addClass('sr-only')
                     cont_percent_rate_4.addClass('sr-only')
                 }
             })

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.check_rates').click(function(){
                 var checkRate=$(this)
                 var rateId=checkRate.val()
                 var cont_percent_rate=$('#cont_percent_rate_'+rateId)

                 if(checkRate.is(':checked')){
                     cont_percent_rate.removeClass('sr-only')
                 }else{
                     cont_percent_rate.addClass('sr-only')
                 }

             })
         });




     </script>
 {% endblock %}
