{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organizations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization Advance Report</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some Group NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('#link-group-report').addClass('nav-item-expanded')
            $('#link-group-report').addClass('nav-item-open')
            $('#link-menu-agorganization').addClass('active')
        });

        // specify the columns
        var columnDefs = [
            {headerName: "", field: "id",checkboxSelection: true,filter: false,resizable: false,maxWidth:50,suppressMovable: true,headerCheckboxSelectionFilteredOnly: true,

                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Name", field: "name",sortable: true, unSortIcon: true,
                filter: 'agTextColumnFilter', floatingFilterComponentParams:{
                    debounceMs:2000
                },
                filterParams: { applyButton: false, clearButton:true }},
            {headerName: "DBA Name", field: "dba_name",sortable: true ,unSortIcon: true,minWidth: 250,hide:true},
            {headerName: "Organization Type", field: "organization_type",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "Tin number", field: "tinnumber",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Name of ehr emr", field: "nameofehremr",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Taxonomy Codes", field: "taxonomy_codes",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Taxonomy Specialties", field: "taxonomy_specialty",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Group NPI 1", field: "groupnpi1",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Group NPI 2", field: "groupnpi2",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Phone Billing", field: "phonebilling",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Phone", field: "phone",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Faxno", field: "faxno",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Service Settings", field: "service_settings",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Website", field: "website",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Providers", field: "providers",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Regions", field: "regions",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Counties", field: "counties",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Org Clasification", field: "org_clasification",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Specialty Areas", field: "specialty_areas",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Provider Agreement File", field: "provider_agreement_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: false},
            {headerName: "State License File", field: "state_license_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Provider Data Form File", field: "provider_data_form_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "W9 File", field: "w9_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Roster File", field: "roster_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "General Liability Coverage File", field: "general_liability_coverage_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Site Visit Survey File", field: "site_visit_survey_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Accreditation Certificate File", field: "accreditation_certificate_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "LOA/LOI File", field: "loa/loi_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Contact Names", field: "contactnames",sortable: true, unSortIcon: true,hide:true,
                filter: 'agTextColumnFilter', floatingFilterComponentParams:{
                    debounceMs:2000
                },
                filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Contact Emails", field: "contactemails",sortable: true, unSortIcon: true,hide:true,
                filter: 'agTextColumnFilter', floatingFilterComponentParams:{
                    debounceMs:2000
                },
                filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Is Facility", field: "isFacility",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:160,minWidth:160,
                cellClass: 'col-Actions'
            },

        ];

        var rowData = [

        ];

        {% for organization in organizations %}

        var is_facility="No"
        {% if organizationsF[organization.id]==1 %}
            is_facility="Yes"
        {% endif %}

        var provider_agreement_file="No"
        var state_license_file="No"
        var provider_data_form_file="No"
        var w9_file="No"
        var roster_file="No"
        var general_liability_coverage_file="No"
        var site_visit_survey_file="No"
        var accreditation_certificate_file="No"
        var loi_file="No"

        {% if organization.getProviderAgreementFile!="" %}
        provider_agreement_file="Yes"
        {% endif %}
        {% if organization.getStateLicenseFile!="" %}
        state_license_file="Yes"
        {% endif %}
        {% if organization.getProviderDataFormFile!="" %}
        provider_data_form_file="Yes"
        {% endif %}
        {% if organization.getW9File!="" %}
        w9_file="Yes"
        {% endif %}
        {% if organization.getRosterFile!="" %}
        roster_file="Yes"
        {% endif %}
        {% if organization.getGeneralLiabilityCoverageFile!="" %}
        general_liability_coverage_file="Yes"
        {% endif %}
        {% if organization.getSiteVisitSurveyFile!="" %}
        site_visit_survey_file="Yes"
        {% endif %}
        {% if organization.getAccreditationCertificateFile!="" %}
        accreditation_certificate_file="Yes"
        {% endif %}
        {% if organization.getLoaLoiFile!="" %}
        loi_file="Yes"
        {% endif %}

        var obj={
            id: "{{ organization.id }}",
            name: "{{ organization.name }}",
            dba_name: "{{ organization.getBdaName }}",
            organization_type: "{{ organization.ProviderType }}",
            tinnumber: "{{ organization.TinNumber }}",
            nameofehremr: "{{ organization.NameOfEhrEmr }}",
            groupnpi1: "{{ organization.GroupNpi }}",
            groupnpi2: "{{ organization.GroupNpi2 }}",
            phonebilling: "{{ organization.BillingPhone }}",
            phone: "{{ organization.phone }}",
            faxno: "{{ organization.faxno }}",
            website: "{{ organization.website }}",
            providers: {{ organization.getProviderCount }},
            contactnames: "{{ organization.getContactNames }}",
            contactemails: "{{ organization.getContactEmails }}",
            isFacility: is_facility,
            org_clasification: "{{ organization.getOrgClasification }}",
            specialty_areas: "{{ organization.getSpecialtyAreas }}",
            provider_agreement_file: provider_agreement_file,
            state_license_file: state_license_file,
            provider_data_form_file: provider_data_form_file,
            w9_file: w9_file,
            roster_file: roster_file,
            general_liability_coverage_file: general_liability_coverage_file,
            site_visit_survey_file: site_visit_survey_file,
            accreditation_certificate_file: accreditation_certificate_file,
            loi_file: loi_file,
            taxonomy_specialty: "{{ organization.getTaxonomiesSpecialty }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            floatingFilter: true,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{

                var progressBar=$('#progress_delete');
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                var url="/admin/organization/delete_multiple";

                bootbox.dialog({
                    message: 'Are you sure?',
                    title: 'Delete Organizations Selected',
                    buttons: {
                        success: {
                            label: '<i class="fas fa-ban"></i> Cancel',
                            className: 'btn-success',
                            callback: function() {

                            }
                        },
                        danger: {
                            label: '<i class="far fa-trash-alt"></i> Delete Selected',
                            className: 'btn-danger',
                            callback: function() {

                                progressBar.removeClass('sr-only')
                                $.post(url, data, function (result) {
                                    progressBar.addClass('sr-only')

                                    var removed=result.removed;
                                    var message=result.message;

                                    $('#message-removed').html(message);

                                    if(removed==1){
                                        $('.cont-alert-removed-true').fadeIn(300);

                                        var selectedData = gridOptions.api.getSelectedRows();
                                        var res = gridOptions.api.updateRowData({remove: selectedData});

                                        $('.cont-alert-removed-true').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-true').fadeOut(500);
                                        }, 3000);

                                    }else{
                                        $('.cont-alert-removed-false').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-false').fadeOut(500);
                                        }, 3000);
                                    }
                                })
                            }
                        }
                    }

                });
            }

        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);
            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('groupnpi1');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_organization") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_organization") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var bQuestion = false;

        window.onbeforeunload = BeforeExit;

        function BeforeExit() {
            var rowsSelected=gridOptions.api.getSelectedRows();
            if(rowsSelected.length>1)
                bQuestion = true;

            if (bQuestion){
                return "¿Exit?";
            }
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
