{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                       {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %} <a href="{{ path('admin_organization') }}" class="breadcrumb-item">Organizations</a> {% endif %}
                        <span class="breadcrumb-item active">Edit Organization</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Organization</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_organization') }}" class="btn btn-primary btn-sm mr-1"><i class="fas fa-arrow-left"></i> Organizations List</a>
                    <a href="{{ path('admin_new_organization') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Organization</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Wizard with validation -->
                                        <form class="wizard-form steps-enable-all" action="{{ path('admin_update_organization') }}" enctype="multipart/form-data" data-fouc id="form" method="post">
                                            <input type="hidden" name="organization_id" id="organization_id" value="{{ document.id }}">
                                            <input type="hidden" name="accreditationSelected" id="accreditationSelected" value="">
                                            <input type="hidden" name="clasificationSelected" id="clasificationSelected" value="">
                                            <input type="hidden" name="specialtiesSelected" id="specialtiesSelected" value="">
                                            <input type="hidden" name="ratesSelected" id="ratesSelected" value="">
                                            <input type="hidden" name="ratesValueSelected" id="ratesValueSelected" value="">
                                            <input type="hidden" name="page" id="page" value="all">
                                            <h6>General Information</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Name:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control required" name="name" id="name" value="{{ document.name }}">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">DBA Name:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control required" name="dba_name" id="dba_name" value="{{ document.getBdaName }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Organization Type:</label>
                                                            <div class="col-lg-10">
                                                                <select id="organization_type" name="organization_type" class="form-control select">
                                                                    <option value="Individual" {% if document.ProviderType=="Individual" %} selected{% endif %}>Individual</option>
                                                                    <option value="Organization" {% if document.ProviderType=="Organization" %} selected{% endif %}>Organization (Licensed as a facility by AHCA)</option>
                                                                    <option value="Group" {% if document.ProviderType=="Group" %}selected{% endif %}>Group</option>
                                                                </select>
                                                                <div id="cont_facility_note" class="sr-only">
                                                                    <p class="mt-1 text-warning">Please note that all facility specific information is entered per licensed location in the addresses tab.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Docusign Link:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="docusign_link" id="docusign_link" value="{{ document.docusignLink }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row sr-only" id="cont_accreditation">
                                                            <label class="col-lg-2 col-form-label">Accreditation:</label>
                                                            <div class="col-lg-10">
                                                                <div class="row">
                                                                    {% for accreditation in accreditations %}
                                                                        {% set c=0 %}
                                                                        {% if document.getAccreditations %}
                                                                            {% for accred in document.getAccreditations %}
                                                                                {% if accreditation.id==accred.id %} {% set c=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <div class="col-4 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" class="custom-control-input" {% if c==1 %} checked {% endif %} name="accreditations" id="accreditation_{{ accreditation.id }}" value="{{ accreditation.id }}">
                                                                                <label class="custom-control-label" for="accreditation_{{ accreditation.id }}">{{ accreditation.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                    <input type="hidden" name="accreditationSelected" id="accreditationSelected" value=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Group npi:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="npi" id="npi" value="{{ document.GroupNpi }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Group npi2:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="npi2" id="npi2" value="{{ document.GroupNpi2 }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Billing NPI:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="billing_npi" id="billing_npi" value="{{ document.getBillingNpi }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row sr-only" id="cont_taxonomy">
                                                            <label class="col-lg-2 col-form-label">Taxonomy code:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="taxonomy_code" id="taxonomy_code" value="{{ document.getTaxonomyCode }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Tin number:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="tin_number" id="tin_number" value="{{ document.TinNumber }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Legal Name of TIN Owner:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control"  name="lega_name_tin_owner" id="lega_name_tin_owner" value="{{ document.getLegalNameTinOwner }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">FEIN:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" placeholder="FEIN" name="fein" id="fein" value="{{ document.getFein }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Name of ehr emr:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="name_ehr_emr" id="name_ehr_emr" value="{{ document.NameOfEhrEmr }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Billing phone:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="billing_phone" id="billing_phone" data-mask="999-999-9999" value="{{ document.BillingPhone }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Phone:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="phone" id="phone" data-mask="999-999-9999" value="{{ document.Phone }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Faxno:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="faxno" id="faxno" data-mask="999-999-9999" value="{{ document.Faxno }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Website:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="website" id="website" value="{{ document.website }}">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Receive date of AGMT:</label>
                                                            <div class="col-lg-10">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" name="dateagmt" id="dateagmt" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ document.getReceiveDateAgmt }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Provider Application Receipt Date:</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="application_receipt_date" id="application_receipt_date" value="{{ document.providerApplicationReceiptDate }}" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Specialty areas</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <div class="col-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for specialty in specialties %}
                                                                        {% set d=0 %}
                                                                        {% if specialiesAreas %}
                                                                            {% for specialiesA in specialiesAreas %}
                                                                                {% if specialiesA.id==specialty.id %} {% set d=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% if c<=sa_first_column_elements %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" {% if d==1 %} checked {% endif %} name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                    <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for specialty in specialties %}
                                                                        {% set d=0 %}
                                                                        {% if specialiesAreas %}
                                                                            {% for specialiesA in specialiesAreas %}
                                                                                {% if specialiesA.id==specialty.id %} {% set d=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% if c >sa_first_column_elements and c<= sa_first_column_elements+sa_rest_columns_element %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" {% if d==1 %} checked {% endif %} name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                    <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for specialty in specialties %}
                                                                        {% set d=0 %}
                                                                        {% if specialiesAreas %}
                                                                            {% for specialiesA in specialiesAreas %}
                                                                                {% if specialiesA.id==specialty.id %} {% set d=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% if c >(totalSpecialties-sa_rest_columns_element) %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input"  {% if d==1 %} checked {% endif %} name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                    <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Organization Clasification</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            {% set c=1 %}
                                                            {% for clasification in clasifications %}
                                                                {% if c<=first_column_elements %}
                                                                    <div class="col-12 form-group">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}"
                                                                                    {% for clasiSel in  orgClasification %} {% if clasiSel.id== clasification.id %} checked {% endif %} {% endfor %}>
                                                                            <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% set c=c+1 %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            {% set c=1 %}
                                                            {% for clasification in clasifications %}
                                                                {% if c >first_column_elements and c<= first_column_elements+rest_columns_element%}
                                                                    <div class="col-12 form-group">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}"
                                                                                    {% for clasiSel in  orgClasification %} {% if clasiSel.id== clasification.id %} checked {% endif %} {% endfor %}>
                                                                            <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% set c=c+1 %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            {% set c=1 %}
                                                            {% for clasification in clasifications %}
                                                                {% if c >(totalOrgClasification-rest_columns_element) %}
                                                                    <div class="col-12 form-group">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}"
                                                                                    {% for clasiSel in  orgClasification %} {% if clasiSel.id== clasification.id %} checked {% endif %} {% endfor %}>
                                                                            <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% set c=c+1 %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Others</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Notes:</label>
                                                            <div class="col-lg-10">
                                                                <textarea rows="5" cols="5" class="form-control" name="notes" id="notes">{{ document.notes }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Non Standard Rates (note difference):</label>
                                                            <div class="col-lg-10">
                                                                <textarea rows="5" cols="5" class="form-control" name="non_standard_rates" id="non_standard_rates">{{ document.NonStandardRates }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Standard Rates:</label>
                                                            <div class="col-lg-10 pt-2">
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" class="custom-control-input" name="standard_rates" id="standard_rates" {% if document.StandardRates %}checked{% endif %}>
                                                                    <label class="custom-control-label" for="standard_rates"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" id="cont-rates">
                                                            <label class="col-lg-2 col-form-label">Rates:</label>
                                                            <div class="col-lg-10 pt-2">
                                                                {% for rate in rates %}
                                                                    <div class="mb-1 pt-2">
                                                                        <div class="col-2-grid-org">
                                                                            <div class="item">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    {% set c=0 %}
                                                                                    {% set percent_value=0 %}
                                                                                    {% if orgrates %}
                                                                                        {% for orgrate in orgrates %}
                                                                                            {% if orgrate.rate.id==rate.id %}
                                                                                                {% set c=1 %}
                                                                                                {% set percent_value=orgrate.percent %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    {% endif %}
                                                                                    <input type="checkbox" name="rates" {% if c==1%} checked {% endif%} class="custom-control-input check_rates" id="rate_{{ rate.id }}" value="{{ rate.id }}">
                                                                                    <label class="custom-control-label" for="rate_{{ rate.id }}">{{ rate.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="item {% if c==0 %} sr-only {% endif %}" name="rates_value" id="cont_percent_rate_{{ rate.id }}">
                                                                                <input type="number" name="rate" class="ml-2 form-control" id="rate_value_{{ rate.id }}"  {% if c==1 %} value="{{ percent_value }}" {% else %}  value="{{ rate.percent }}" {% endif %}> <h3>%</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Disabled:</label>
                                                            <div class="col-lg-10 pt-2">
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" class="custom-control-input" name="enabled" id="enabled" {% if document.disabled %} checked  value="1"{% else %}value="0"{% endif %}>
                                                                    <label class="custom-control-label" for="enabled"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row {% if document.terminationReason==null %}sr-only{% endif %}" id="termination_reason_cont">
                                                            <label class="col-lg-2 col-form-label">Termiantion Reason:</label>
                                                            <div class="col-lg-10">
                                                                <select id="termination_reason" name="termination_reason" class="form-control select">
                                                                    <option value="0">- Select One -</option>
                                                                    {% for terminationR in terminationReason %}
                                                                        {% set c=0 %}
                                                                        {% if document.terminationReason %}
                                                                            {% if document.terminationReason.id==terminationR.id %}
                                                                                {% set c=1 %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        <option value="{{ terminationR.id }}" {% if c==1 %}selected{% endif %}>{{ terminationR.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label pt-1">Organization Status:</label>
                                                            <div class="col-lg-10">
                                                                <select id="organization_status" name="organization_status" class="form-control select">
                                                                    <option value="0">- Select One -</option>
                                                                    {% for status in organization_status %}
                                                                        {% set c=0 %}
                                                                        {% if document.organizationStatus %}
                                                                            {% if document.organizationStatus.id==status.id %}
                                                                                {% set c=1 %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        <option value="{{ status.id }}" {% if c==1 %}selected{% endif %}>{{ status.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Upload</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Provider agreement file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="provider_agreement_file" id="provider_agreement_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.ProviderAgreementFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.ProviderAgreementFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.ProviderAgreementFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">State licence file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="state_licence_file" id="state_licence_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.ProviderAgreementFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.StateLicenseFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.StateLicenseFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Provider data form file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="provider_data_form_file" id="provider_data_form_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.ProviderDataFormFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.ProviderDataFormFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.ProviderDataFormFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">W9 file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="w9_file" id="w9_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.W9File=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.W9File) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.W9File) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Roster file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="roster_file" id="roster_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.RosterFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.RosterFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.RosterFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">General liability coverage file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="general_liability_coverage_file" id="general_liability_coverage_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.GeneralLiabilityCoverageFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.GeneralLiabilityCoverageFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.GeneralLiabilityCoverageFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Site visit survery file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="site_visit_survery_file" id="site_visit_survery_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.SiteVisitSurveyFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.SiteVisitSurveyFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.SiteVisitSurveyFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                 <hr/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Accreditation certificate file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="accreditation_certificate_file" id="accreditation_certificate_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.AccreditationCertificateFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.AccreditationCertificateFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.AccreditationCertificateFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Loa loi file:</label>
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions"  data-show-preview="false" data-show-upload="false" name="loa_loi_file" id="loa_loi_file" data-fouc>
                                                        <span class="form-text text-muted" style="font-size: 14px;">Upload only the following extensions/ file types:  <code>PDF</code>.</span>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one or more files!</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {% if  document.LoaLoiFile=="" %}
                                                            <p class="col-form-label text-body p_docs p-inline"></p>
                                                        {% else %}
                                                            <span class="form-text text-primary" style="font-size: 14px;">Current File:</span>
                                                            <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.LoaLoiFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                            {% if  'pdf' in document.ProviderAgreementFile %}
                                                                <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.LoaLoiFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <div class="progress sr-only" id="progress_upload">
                                                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-info-600" style="width: 100%">
                                                                <span class="">Saving changes  ...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="url_index" name="url_index" value="{{ path('admin_organization') }}" />
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/organization/wizzard-all-enabled.js') }}"></script>
     <script src="{{ asset('js/organization/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#standard_rates').click(function(){
                 var obj=$(this)
                 var rate_1=$('#rate_1')
                 var rate_2=$('#rate_2')
                 var rate_3=$('#rate_3')
                 var rate_4=$('#rate_4')

                 var cont_percent_rate_1=$('#cont_percent_rate_1')
                 var cont_percent_rate_2=$('#cont_percent_rate_2')
                 var cont_percent_rate_3=$('#cont_percent_rate_3')
                 var cont_percent_rate_4=$('#cont_percent_rate_4')

                 var rate_value_1=$('#rate_value_1')
                 var rate_value_2=$('#rate_value_2')
                 var rate_value_3=$('#rate_value_3')
                 var rate_value_4=$('#rate_value_4')

                 if(obj.is(':checked')){
                     rate_1.prop('checked',true)
                     rate_2.prop('checked',true)
                     rate_3.prop('checked',true)
                     rate_4.prop('checked',true)

                     cont_percent_rate_1.removeClass('sr-only')
                     cont_percent_rate_2.removeClass('sr-only')
                     cont_percent_rate_3.removeClass('sr-only')
                     cont_percent_rate_4.removeClass('sr-only')


                     rate_value_1.attr('readonly',true)
                     rate_value_2.attr('readonly',true)
                     rate_value_3.attr('readonly',true)
                     rate_value_4.attr('readonly',true)
                 }else{

                     rate_1.prop('checked',false)
                     rate_2.prop('checked',false)
                     rate_3.prop('checked',false)
                     rate_4.prop('checked',false)

                     rate_1.attr('disabled',false)
                     rate_2.attr('disabled',false)
                     rate_3.attr('disabled',false)
                     rate_4.attr('disabled',false)

                     rate_value_1.attr('readonly',false)
                     rate_value_2.attr('readonly',false)
                     rate_value_3.attr('readonly',false)
                     rate_value_4.attr('readonly',false)

                     cont_percent_rate_1.addClass('sr-only')
                     cont_percent_rate_2.addClass('sr-only')
                     cont_percent_rate_3.addClass('sr-only')
                     cont_percent_rate_4.addClass('sr-only')
                 }
             })

             $('#link-menu-organizations').addClass('active')
             $('.check-line').on('switchChange.bootstrapSwitch', function (event, state) {
                 var objCheck=$(this);
                 var id=objCheck.attr('id');

                 if(objCheck.is(':checked')){
                     $('#cont_'+id).removeClass('sr-only');
                 }else{
                     $('#cont_'+id).addClass('sr-only');
                 }
             });

             {% if document.ProviderType=="Organization" or document.ProviderType=="Group" %}
             $('#cont_accreditation').removeClass('sr-only');
             $('#cont_taxonomy').removeClass('sr-only');
             {% endif %}

             $("#organization_type").on("change",function(){
                 if(this.value != "Individual"){
                     $('#cont_accreditation').removeClass('sr-only');
                     $('#cont_taxonomy').removeClass('sr-only');
                 }else{
                     $('#cont_accreditation').addClass('sr-only');
                     $('#cont_taxonomy').addClass('sr-only');
                 }

                 if(this.value == "Organization"){
                     $('#cont_facility_note').removeClass('sr-only')
                 }else{
                     $('#cont_facility_note').addClass('sr-only')
                 }
             });

             $('#enabled').click(function(e){
                 var cont_termination_reason=$('#termination_reason_cont')
                 if($(this).is(':checked')){
                     cont_termination_reason.removeClass('sr-only')
                 }else{
                     cont_termination_reason.addClass('sr-only')
                 }
             })

             $('.check_rates').click(function(){
                 var checkRate=$(this)
                 var rateId=checkRate.val()
                 var cont_percent_rate=$('#cont_percent_rate_'+rateId)

                 if(checkRate.is(':checked')){
                     cont_percent_rate.removeClass('sr-only')
                 }else{
                     cont_percent_rate.addClass('sr-only')
                 }
             })

             // Modal template
             var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
                 '  <div class="modal-content">\n' +
                 '    <div class="modal-header align-items-center">\n' +
                 '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
                 '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
                 '    </div>\n' +
                 '    <div class="modal-body">\n' +
                 '      <div class="floating-buttons btn-group"></div>\n' +
                 '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
                 '    </div>\n' +
                 '  </div>\n' +
                 '</div>\n';

             // Buttons inside zoom modal
             var previewZoomButtonClasses = {
                 toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
                 fullscreen: 'btn btn-light btn-icon btn-sm',
                 borderless: 'btn btn-light btn-icon btn-sm',
                 close: 'btn btn-light btn-icon btn-sm'
             };

             // Icons inside zoom modal classes
             var previewZoomButtonIcons = {
                 prev: '<i class="icon-arrow-left32"></i>',
                 next: '<i class="icon-arrow-right32"></i>',
                 toggleheader: '<i class="icon-menu-open"></i>',
                 fullscreen: '<i class="icon-screen-full"></i>',
                 borderless: '<i class="icon-alignment-unalign"></i>',
                 close: '<i class="icon-cross2 font-size-base"></i>'
             };

             // File actions
             var fileActionSettings = {
                 zoomClass: '',
                 zoomIcon: '<i class="icon-zoomin3"></i>',
                 dragClass: 'p-2',
                 dragIcon: '<i class="icon-three-bars"></i>',
                 removeClass: '',
                 removeErrorClass: 'text-danger',
                 removeIcon: '<i class="icon-bin"></i>',
                 indicatorNew: '<i class="icon-file-plus text-success"></i>',
                 indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
                 indicatorError: '<i class="icon-cross2 text-danger"></i>',
                 indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
             };


             $('.file-input-extensions').fileinput({
                 browseLabel: 'Browse',
                 browseIcon: '<i class="icon-file-plus mr-2"></i>',
                 uploadIcon: '<i class="icon-file-upload2 mr-2"></i>',
                 removeIcon: '<i class="icon-cross2 font-size-base mr-2"></i>',
                 layoutTemplates: {
                     icon: '<i class="icon-file-check"></i>',
                     modal: modalTemplate
                 },
                 maxFilesNum: 1,
                 allowedFileExtensions: ["pdf"],
                 initialCaption: "No file selected",
                 previewZoomButtonClasses: previewZoomButtonClasses,
                 previewZoomButtonIcons: previewZoomButtonIcons,
                 fileActionSettings: fileActionSettings
             });
         });



     </script>
 {% endblock %}
