{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    {% set role="" %}
    {% for rol in app.user.roles  %}
        {% set role=rol %}
    {% endfor %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Edit Organization</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Organization</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Wizard with validation -->
                                        <form class="wizard-form steps-enable-all" action="{{ path('admin_update2_organization') }}" enctype="multipart/form-data" data-fouc id="form">
                                            <input type="hidden" name="organization_id" id="organization_id" value="{{ document.id }}">
                                            <input type="hidden" name="accreditationSelected" id="accreditationSelected" value="">
                                            <input type="hidden" name="clasificationSelected" id="clasificationSelected" value="">
                                            <input type="hidden" name="specialtiesSelected" id="specialtiesSelected" value="">
                                            <input type="hidden" name="page" id="page" value="all">
                                            <h6>General Information</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Organization Name:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control required" name="name" id="name" value="{{ document.name }}">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_name">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Organization Type:</label>
                                                            <div class="col-lg-10">
                                                                <select id="organization_type" name="organization_type" class="form-control select">
                                                                    <option value="Individual" {% if document.ProviderType=="Individual" %} selected{% endif %}>Individual</option>
                                                                    <option value="Organization" {% if document.ProviderType=="Organization" %} selected{% endif %}>Organization (Licensed as a facility by AHCA)</option>
                                                                    <option value="Group" {% if document.ProviderType=="Group" %}selected{% endif %}>Group</option>
                                                                </select>
                                                                <div id="cont_facility_note" class="{% if document.ProviderType!="Organization" %} sr-only {% endif %}">
                                                                    <p class="mt-1 text-warning">Please note that all facility specific information is entered per licensed location in the addresses tab.</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Accreditation:</label>
                                                            <div class="col-lg-10">
                                                                <div class="row">
                                                                    {% for accreditation in accreditations %}
                                                                        {% set c=0 %}
                                                                        {% if document.getAccreditations %}
                                                                            {% for accred in document.getAccreditations %}
                                                                                {% if accreditation.id==accred.id %} {% set c=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <div class="col-4 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" class="custom-control-input" {% if c==1 %} checked {% endif %} name="accreditations" id="accreditation_{{ accreditation.id }}" value="{{ accreditation.id }}">
                                                                                <label class="custom-control-label" for="accreditation_{{ accreditation.id }}">{{ accreditation.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_accreditation">
                                                                    <span class="font-weight-semibold">Please select Accreditation Body or select none!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Group npi:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="npi" id="npi" value="{{ document.GroupNpi }}" onkeypress='validate(event)' maxlength="10" placeholder="Please enter the Group NPI Number">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_npi">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Group npi2:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="npi2" id="npi2" value="{{ document.GroupNpi2 }}" onkeypress='validate(event)' maxlength="10" placeholder="Enter additional Organization NPI if applicable">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Billing NPI:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="billing_npi" id="billing_npi" value="{{ document.getBillingNpi }}" onkeypress='validate(event)' maxlength="10" placeholder="Enter NPI even if the same as Group NPI">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_billing_npi">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Billing NPI2:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="billing_npi2" id="billing_npi2" value="{{ document.getBillingNpi }}" onkeypress='validate(event)' maxlength="10" placeholder="Enter Additional Billing NPI only if applicable to Group NPI2">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row sr-only" id="cont_taxonomy">
                                                            <label class="col-lg-2 col-form-label">Taxonomies code:</label>
                                                            <div class="col-lg-10">
                                                                <select name="taxonomies[]" id="taxonomies" class="form-control select-search" multiple data-fouc>
                                                                    {% set c=0 %}
                                                                    {% for taxonomy in taxonomies %}
                                                                        {% if org_taxonomies %}
                                                                            {% for org_taxonomy in org_taxonomies %}
                                                                                {% if org_taxonomy.taxonomy.code==taxonomy.code %}
                                                                                    {% set c=1 %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <option value="{{ taxonomy.id }}" id="tax_{{ taxonomy.code }}" {% if c==1 %}selected{% endif %}>{{ taxonomy.code }} "{{ taxonomy.specialization }} | {{ taxonomy.classification }}"</option>
                                                                        {% set c=0 %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Tin number:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="tin_number" id="tin_number" value="{{ document.TinNumber }}" onkeypress='validate(event)' maxlength="9"  placeholder="TIN, FEIN or Social Security Number if Individual Practice">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_tin_number">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Legal Name of TIN Owner:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control"  name="lega_name_tin_owner" id="lega_name_tin_owner" value="{{ document.getLegalNameTinOwner }}" placeholder="Please enter the name of the owner of the TIN">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_lega_name_tin_owner">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Billing phone:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="billing_phone" id="billing_phone" data-mask="999-999-9999" value="{{ document.BillingPhone }}" placeholder="Contact number for billing inquiries">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_billing_phone">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Phone:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="phone" id="phone" data-mask="999-999-9999" value="{{ document.Phone }}">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_phone">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Faxno:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="faxno" id="faxno" data-mask="999-999-9999" value="{{ document.Faxno }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Website:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="website" id="website" value="{{ document.website }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> American sign language:</label>
                                                            <div class="col-lg-10 pt-2">
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" class="custom-control-input" name="american_sign_language" value="1" id="american_sign_language_yes" {% if document.getAmericanSignLanguage %} checked {% endif %} >
                                                                    <label class="custom-control-label" for="american_sign_language_yes">Yes</label>
                                                                </div>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" class="custom-control-input" name="american_sign_language" value="0" id="american_sign_language_no" {% if document.getAmericanSignLanguage==false %} checked {% endif %}>
                                                                    <label class="custom-control-label" for="american_sign_language_no">No</label>
                                                                </div>
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_american_sign_language" >
                                                                    <span class="font-weight-semibold">Please check one option!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label">Name of ehr emr:</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" name="name_ehr_emr" id="name_ehr_emr" value="{{ document.NameOfEhrEmr }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Specialty areas</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <label class="col-12 col-form-label form-group">Specialty areas:</label>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    {% for specialty in specialties %}
                                                                        {% set c=0 %}
                                                                        {% if specialiesAreas %}
                                                                            {% for specialiesA in specialiesAreas %}
                                                                                {% if specialiesA.id==specialty.id %} {% set c=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <div class="col-4 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" {% if c==1 %} checked {% endif %} class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_specialties">
                                                                            <span class="font-weight-semibold">Please select one or more Specialty Area!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Organization Clasification</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <label class="col-12 col-form-label form-group">Organization Clasification:</label>
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    {% for clasification in clasifications %}
                                                                        {% set c=0 %}
                                                                        {% if orgClasification %}
                                                                            {% for orgCl in orgClasification %}
                                                                                {% if orgCl.id==clasification.id %} {% set c=1 %}{% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <div class="col-4 form-group">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox"  {% if c==1 %} checked {% endif %} class="custom-control-input" name="clasifications" id="clasification_{{ clasification.id }}" value="{{ clasification.id }}">
                                                                                <label class="custom-control-label" for="clasification_{{ clasification.id }}">{{ clasification.name }}</label>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_clasifications">
                                                                            <span class="font-weight-semibold">Please select one or more Specialty Area!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_general">
                                                            <span class="font-weight-semibold">Please review all required fields!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="url_index" name="url_index" value="{{ path('admin_organization') }}" />
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/organization/wizzard-all-enabled2.js') }}"></script>
     <script src="{{ asset('js/organization/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#link_provider_organization_data').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.check-line').on('switchChange.bootstrapSwitch', function (event, state) {
                 var objCheck=$(this);
                 var id=objCheck.attr('id');

                 if(objCheck.is(':checked')){
                     $('#cont_'+id).removeClass('sr-only');
                 }else{
                     $('#cont_'+id).addClass('sr-only');
                 }
             });

             {% if document.ProviderType=="Organization" or document.ProviderType=="Group" %}
             $('#cont_accreditation').removeClass('sr-only');
             $('#cont_taxonomy').removeClass('sr-only');
             {% endif %}

             $("#organization_type").on("change",function(){
                 if(this.value != "Individual"){
                     $('#cont_accreditation').removeClass('sr-only');
                     $('#cont_taxonomy').removeClass('sr-only');
                 }else{
                     $('#cont_accreditation').addClass('sr-only');
                     $('#cont_taxonomy').addClass('sr-only');
                 }
                 if(this.value == "Organization"){
                     $('#cont_facility_note').removeClass('sr-only')
                 }else{
                     $('#cont_facility_note').addClass('sr-only')
                 }
             });
         });

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }
     </script>
 {% endblock %}
