{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        #organization_p_accreditations .form-check, #organization_p_specialty_areas .form-check, #organization_p_org_specialties .form-check{
            display: inline-block;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">{{ action }} Organization</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> {{ action }} Organization</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-9">
                                        {% if errors %}
                                            {% if errors|length>0 %}
                                                <div class="alert alert-danger alert-styled-left alert-dismissible">
                                                    <h6 class="card-title text-danger-800 font-weight-bold">Missing Information</h6>
                                                    <p class="mt-1">The Organization has the following errors</p>
                                                    <ul>
                                                        {# Loop through every form item #}
                                                        {% for child in form.children %}
                                                            {# Display the errors of the form item #}
                                                            {% for error in errors %}
                                                                {% if error.getPropertyPath==child.vars.name  %}
                                                                    <li><strong>{{ child.vars.label }}</strong> : {{error.message}}</li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {%endfor%}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {%endif%}
                                        {{ form_start(form, {'attr': {'id':'form'}}) }}
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.provider_type) }}
                                        {{ form_row(form.accreditations) }}
                                        {{ form_row(form.group_npi) }}
                                        {{ form_row(form.group_npi2) }}
                                        {{ form_row(form.billing_npi) }}
                                        {{ form_row(form.billing_npi2) }}
                                        {{ form_row(form.taxonomies) }}
                                        {{ form_row(form.tin_number) }}
                                        {{ form_row(form.legal_name_tin_owner) }}
                                        {{ form_row(form.billing_phone) }}
                                        {{ form_row(form.phone) }}
                                        {{ form_row(form.faxno) }}
                                        {{ form_row(form.website) }}
                                        {{ form_row(form.american_sign_language) }}
                                        {{ form_row(form.name_of_ehr_emr) }}
                                        {{ form_row(form.has_telemedicine) }}
                                        {{ form_row(form.interested_in_telemedicine) }}
                                        {{ form_row(form.telemedicine_company) }}
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <legend class="col-form-label pt-0 custom-top-space col-form-label required">Specialty Area (Mental Health):</legend>
                                                    <div class="cont_specialties_areas_provider_p row mr-0 ml-0">
                                                        {% for specialty_mh in specialties_mh %}
                                                            {% set c=0 %}
                                                            {% if action=='Edit' %}
                                                                {% for org_specialty in speciaty_areas %}
                                                                    {% if org_specialty.id==specialty_mh.id %}
                                                                        {% set c=1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-check col-4">
                                                                <input type="checkbox" id="provider_p_specialties_area_{{ specialty_mh.id }}" {% if c==1 %} checked {% endif %} name="specialties_area" class="form-check-input" value="{{ specialty_mh.id }}">
                                                                <label class="form-check-label col-form-label pt-0 custom-top-space" for="provider_p_specialties_area_{{ specialty_mh.id }}">{{ specialty_mh.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <legend class="col-form-label pt-0 custom-top-space col-form-label required">Specialty Area (Substance Abuse):</legend>
                                                    <div class="cont_specialties_areas_provider_p row mr-0 ml-0">
                                                        {% for specialty_sa in specialties_sa %}
                                                            {% set c=0 %}
                                                            {% if action=='Edit' %}
                                                                {% for org_specialty in speciaty_areas %}
                                                                    {% if org_specialty.id==specialty_sa.id %}
                                                                        {% set c=1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-check col-4">
                                                                <input type="checkbox" id="provider_p_specialties_area_{{ specialty_sa.id }}" {% if c==1 %} checked {% endif %} name="specialties_area" class="form-check-input" value="{{ specialty_sa.id }}">
                                                                <label class="form-check-label col-form-label pt-0 custom-top-space" for="provider_p_specialties_area_{{ specialty_sa.id }}">{{ specialty_sa.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <legend class="col-form-label pt-0 custom-top-space col-form-label required">Specialty Area (Services):</legend>
                                                    <div class="cont_specialties_areas_provider_p row mr-0 ml-0">
                                                        {% for specialty_se in specialties_se %}
                                                            {% set c=0 %}
                                                            {% if action=='Edit' %}
                                                                {% for org_specialty in speciaty_areas %}
                                                                    {% if org_specialty.id==specialty_se.id %}
                                                                        {% set c=1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-check col-4">
                                                                <input type="checkbox" id="provider_p_specialties_area_{{ specialty_se.id }}"  {% if c==1 %} checked {% endif %} name="specialties_area" class="form-check-input" value="{{ specialty_se.id }}">
                                                                <label class="form-check-label col-form-label pt-0 custom-top-space" for="provider_p_specialties_area_{{ specialty_se.id }}">{{ specialty_se.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <p>(*) Fields required</p>
                                                <a href="#" class="btn btn-success bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-not-validate"><i class="fas fa-save"></i> Save(Not completed)</a>
                                                <a href="{{ path('admin_view_organization_2') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         $(document).ready(function(e){

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#organization_p_group_npi').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;
                 return true;
             })

             $('#organization_p_group_npi2').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;
                 return true;
             })

             $('#organization_p_billing_npi').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;
                 return true;
             })

             $('#organization_p_billing_npi2').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;
                 return true;
             })

             $('#organization_p_tin_number').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;
                 return true;
             })

             var select_provider_type=$('#organization_p_provider_type');
             var pt="{{ providerType }}"

             if(select_provider_type.val()==pt){
                 $('#select_provider_type option[value=pt]').attr('selected','selected');
             }

             $('.bnt-send').click(function(e){
                 e.preventDefault()
                 $('#organization_p_validation_required').val(1)

                 var specialtiesSelected=""
                 var specialties = $('input[name=specialties_area]');
                 specialties.each(function (index, $this) {
                     var specialty = $(this);

                     if (specialty.is(':checked')) {
                         specialtiesSelected += specialty.val() + ",";
                     }
                 });
                 $('#organization_p_specialty_areas').val(specialtiesSelected)

                 $('#form').submit()
             })

             $('.bnt-send-not-validate').click(function(e){
                 e.preventDefault()
                 $('#organization_p_validation_required').val(0)

                 $('#form').submit();
             })


             const organization_type=$('#organization_p_provider_type').val()

             if(organization_type=="Organization"){
                $('#row_accreditation').removeClass('sr-only')
             }

             $('#organization_p_provider_type').change(()=>{
                 const organization_type=$('#organization_p_provider_type').val()
                 if(organization_type=="Organization"){
                     $('#row_accreditation').removeClass('sr-only')
                 }else{
                     $('#row_accreditation').addClass('sr-only')

                     $('#organization_p_accreditations_1').prop('checked', false)
                     $('#organization_p_accreditations_2').prop('checked', false)
                     $('#organization_p_accreditations_3').prop('checked', false)
                     $('#organization_p_accreditations_4').prop('checked', false)
                     $('#organization_p_accreditations_5').prop('checked', false)
                     $('#organization_p_accreditations_6').prop('checked', true)
                 }
             })

             var accreditation_ctrl=$('#organization_p_accreditations .form-check')
             accreditation_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });

             var specialties_area_ctrl=$('#organization_p_specialty_areas .form-check')
             specialties_area_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });

             var org_clasification_ctrl=$('#organization_p_org_specialties .form-check')
             org_clasification_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });

             $('#organization_p_has_telemedicine_1').click(function (){
                 $('#cont_interested_in_telemedicine').removeClass('sr-only')
                 $('#cont_telemedicine_company').addClass('sr-only')
                 $('#organization_p_telemedicine_company').val('')
             })

             $('#organization_p_has_telemedicine_0').click(function (){
                 $('#cont_interested_in_telemedicine').addClass('sr-only')
                 $('#cont_telemedicine_company').removeClass('sr-only')
             })

             if($('#organization_p_has_telemedicine_1').is(':checked')){
                 $('#cont_interested_in_telemedicine').removeClass('sr-only')
                 $('#cont_telemedicine_company').addClass('sr-only')
             }

             if($('#organization_p_has_telemedicine_0').is(':checked')){
                 $('#cont_interested_in_telemedicine').addClass('sr-only')
                 $('#cont_telemedicine_company').removeClass('sr-only')
             }
         })
     </script>
 {% endblock %}
