{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organizations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some Group NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <a href="{{ path('admin_new_organization') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Organization</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select btn-delete-all" id="batch-options">
                            <option value="0">Delete Selected</option>
                            <option value="1">Send Email</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="deleteSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control" style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('organization/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}

    <!-- Modal Send Email Notification-->
    <div id="modal_send_email" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_add_email_queued_ajax') }}" method="post" id="form_send_email">
            <input type="hidden" name="id_organization" id="id_organization" value="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Send Email</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group row">
                                <label class="col-12 col-form-label">Email Template:</label>
                                <div class="col-12">
                                   <select class="form-control select" name="email_tempalte" id="email_template">
                                       {% for template in email_templates %}
                                            <option value="{{ template.id }}">{{ template.name }}</option>
                                       {% endfor %}
                                   </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-form-label">Date to send:</label>
                                <div class="col-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </span>
                                        <input type="text" class="form-control" id="datetosend"  name="datetosend" value="{{ "now"|date("m/d/Y") }}">
                                        <span class="input-group-append">
                                            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-send-email"><i class="icon-spinner9 spinner mr-2 sr-only"></i> <i class="fas fa-envelope"></i> Send</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Email modal -->
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('#link-menu-organizations').addClass('active')

            $('.select-search').select2()
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            // Numeric date
            $('#datetosend').AnyTime_picker({
                format: '%m/%d/%Z'
            })

            $('.btn-clear-date').click(function(){
                var comp=$(this).parent().siblings()
                comp.val('')
            })

        });

        var columnDefs = [
            {headerName: "ID", field: "id1",checkboxSelection: true,filter: false,maxWidth: 100,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Name", field: "name",sortable: true ,unSortIcon: true,minWidth: 250},
            {headerName: "DBA Name", field: "dba_name",sortable: true ,unSortIcon: true,minWidth: 250,hide:true},
            {headerName: "Organization Type", field: "type",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Group NPI", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Taxonomy Specialties", field: "taxonomy_specialty",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Billin Phone", field: "billinphone",sortable: true,enableRowGroup: true,unSortIcon: true, hide: true},
            {headerName: "Phone", field: "phone",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Payer", field: "payer",sortable: true,enableRowGroup: true,unSortIcon: true,hide: false},
            {headerName: "Fax No", field: "faxno",sortable: true,enableRowGroup: true,unSortIcon: true, hide: true},
            {headerName: "Total Providers", field: "providers",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Is facility?", field: "isfacility",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Provider Agreement File", field: "provider_agreement_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "State License File", field: "state_license_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Provider Data Form File", field: "provider_data_form_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "W9 File", field: "w9_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Roster File", field: "roster_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "General Liability Coverage File", field: "general_liability_coverage_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Site Visit Survey File", field: "site_visit_survey_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Accreditation Certificate File", field: "accreditation_certificate_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "LOA/LOI File", field: "loa/loi_file",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Notes", field: "notes",sortable: true,enableRowGroup: true,unSortIcon: true,hide: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:160,minWidth:160,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for organization in organizations %}

        var is_facility="No"
        {% if organizationsF[organization.id]==1 %}
        is_facility="Yes"
        {% endif %}

        var provider_agreement_file="No"
        var state_license_file="No"
        var provider_data_form_file="No"
        var w9_file="No"
        var roster_file="No"
        var general_liability_coverage_file="No"
        var site_visit_survey_file="No"
        var accreditation_certificate_file="No"
        var loi_file="No"

        var has_note="No";

        {% if organization.getNotes!="" %}
          has_note="Yes";
        {% endif %}

        {% if organization.getProviderAgreementFile!="" %}
            provider_agreement_file="Yes"
        {% endif %}
        {% if organization.getStateLicenseFile!="" %}
            state_license_file="Yes"
        {% endif %}
        {% if organization.getProviderDataFormFile!="" %}
            provider_data_form_file="Yes"
        {% endif %}
        {% if organization.getW9File!="" %}
            w9_file="Yes"
        {% endif %}
        {% if organization.getRosterFile!="" %}
            roster_file="Yes"
        {% endif %}
        {% if organization.getGeneralLiabilityCoverageFile!="" %}
            general_liability_coverage_file="Yes"
        {% endif %}
        {% if organization.getSiteVisitSurveyFile!="" %}
            site_visit_survey_file="Yes"
        {% endif %}
        {% if organization.getAccreditationCertificateFile!="" %}
            accreditation_certificate_file="Yes"
        {% endif %}
        {% if organization.getLoaLoiFile!="" %}
            loi_file="Yes"
        {% endif %}

        var obj={
            id:"{{ organization.id }}",
            id1:"{{ organization.id }}",
            name: "{{ organization.name }}",
            dba_name: "{{ organization.getBdaName }}",
            type:"{{ organization.ProviderType }}",
            billinphone:"{{ organization.BillingPhone }}",
            phone: "{{ organization.phone }}",
            faxno: "{{ organization.faxno }}",
            providers: "{{ organization.getProviderCount }}",
            isfacility: is_facility,
            npi: "{{ organization.getGroupNpi }}",
            provider_agreement_file: provider_agreement_file,
            state_license_file: state_license_file,
            provider_data_form_file: provider_data_form_file,
            w9_file: w9_file,
            roster_file: roster_file,
            general_liability_coverage_file: general_liability_coverage_file,
            site_visit_survey_file: site_visit_survey_file,
            accreditation_certificate_file: accreditation_certificate_file,
            loi_file: loi_file,
            notes: has_note,
            payer: "{{ organization.getPayerStr }}",
            taxonomy_specialty: "{{ organization.getTaxonomiesSpecialty }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            floatingFilter: true,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{
                var option=$('#batch-options').val()

                if(option==0){
                    var progressBar=$('#progress_delete');
                    var rows=[];

                    $.each(rowsSelected,function(){
                        var row=$(this)[0];
                        rows.push(row.id);
                    })

                    var data={
                        'ids':rows
                    }

                    var url="/admin/organization/delete_multiple";

                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Organizations Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function() {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function() {

                                    progressBar.removeClass('sr-only')
                                    $.post(url, data, function (result) {
                                        progressBar.addClass('sr-only')

                                        var removed=result.removed;
                                        var message=result.message;

                                        $('#message-removed').html(message);

                                        if(removed==1){
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        }else{
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }
                    });
                }

                if(option==1){
                     $('#modal_send_email').modal('show')
                }
            }
        }

        $('.btn-send-email').click(function(e){
            e.preventDefault()

            var url=$('#form_send_email').attr('action')

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var template=$('#email_template').val()
            var datetosend=$('#datetosend').val()
            var id_organization=$('#id_organization').val()

            var data={
                'ids':rows,
                'template': template,
                'datetosend': datetosend,
                'id_organization': id_organization

            }
            var loader=$('.icon-spinner9')
            loader.removeClass('sr-only')

            $.post(url, data, function (result) {
                loader.addClass('sr-only')
                $('#modal_send_email').modal('hide')
            })
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_organization") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_organization") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm  bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="#" data-id="'+id+'" data-toggle="modal" data-target="#modal_send_email" class="btn-send-email btn btn-sm  bg-success border-success text-success-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-envelope"></i></a>'+
                '<a href="'+url_edit+'"  class="btn btn-sm  bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm  bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        $('#myGrid').on('click','.btn-send-email',function(e){
            var id=$(this).data('id')
            $('#id_organization').val(id)
        })

        function viewDataAction(params){
            var id =params.data.id
            var url_view = '{{ path("admin_view_organization") }}'+"/"+id

            window.location.href = url_view;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);
            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        var bQuestion = false;

        window.onbeforeunload = BeforeExit;

        function BeforeExit() {
           var rowsSelected=gridOptions.api.getSelectedRows();
           if(rowsSelected.length>1)
               bQuestion = true;

            if (bQuestion){
                return "¿Exit?";
            }
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
