{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organizations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some Group NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <a href="{{ path('admin_new_organization') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Organization</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select btn-delete-all" id="batch-options">
                            <option value="0">Delete Selected</option>
                            <option value="1">Send Email</option>
                            <option value="2">Disable</option>
                            <option value="3">Payer Exclude</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="deleteSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control" style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('organization/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}

    <!-- Modal Send Email Notification-->
    <div id="modal_send_email" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_add_email_queued_ajax') }}" method="post" id="form_send_email">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Send Email</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Email Template:</label>
                            <div class="col-12">
                                <select class="form-control select" name="email_template" id="email_template">
                                    {% for template in email_templates %}
                                        <option value="{{ template.id }}">{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row sr-only" id="cont_plan">
                            <label class="col-12 col-form-label">Payer (Plan):</label>
                            <div class="col-12">
                                <select class="form-control select" name="email_plan" id="email_plan">
                                    <option value="0">[ Select One ]</option>
                                    {% for payer in payers %}
                                        <option value="{{ payer.id }}">{{ payer.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Date to send:</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="datetosend" id="datetosend" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ "now"|date("m/d/Y") }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-send-email"><i class="icon-spinner9 spinner mr-2 sr-only"></i> <i class="fas fa-envelope"></i> Send</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Email modal -->

    <!-- Modal Disabled-->
    <div id="modal_disabled" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_disable_organizations_multiple') }}" method="post" id="form_disabled_org">
            <input type="hidden" name="id_organization" id="id_organization" value="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Disabled Organization</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row" id="cont-termination-reason">
                            <label class="col-12 col-form-label">Termination reason:</label>
                            <div class="col-12">
                                <select name="termination_reason" id="termination_reason" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for terminationreason in terminationreasons %}
                                        <option value="{{ terminationreason.id }}">{{ terminationreason.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12">
                                <div class="alert alert-warning alert-styled-left alert-dismissible sr-only" id="error_termination_reason">
                                    <span class="font-weight-semibold">Warning!</span> Please select one Termination reason.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" id="cont-termination-reason">
                            <label class="col-12 col-form-label">Note:</label>
                            <div class="col-12">
                                <textarea rows="5" cols="5" class="form-control" name="termination_reason_notes" id="termination_reason_notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-save-disabled"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Disabled modal -->
    <!-- Modal Exclude to Payer-->
    <div id="modal_exclude_payer" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_exclude_organization_payer') }}"  id="form_exclude_payer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Payer to Exclude</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Payer:</label>
                            <div class="col-12">
                                <select name="payer_exclude" id="payer_exclude" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for payer in payers %}
                                        <option value="{{ payer.id }}">{{ payer.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger alert-with-icon sr-only" data-notify="container" id="error_select_payer_exclude">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span data-notify="message">Select a Payer please.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Date:</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="datetoexclude" id="datetoexclude" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ "now"|date("m/d/Y") }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Do
                                you want to send an Email notification?:</label>
                            <div class="col-12">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input is_see_patients" name="send_email_notification" value="1" id="send_email_notification_yes">
                                    <label class="custom-control-label" for="send_email_notification_yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input is_see_patients" name="send_email_notification" value="0" id="send_email_notification_no">
                                    <label class="custom-control-label" for="send_email_notification_no">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_payer_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                <span class="">Excluding Providers to Payer process ...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="payer_selected" id="payer_selected" value="">
                        <a href="#" class="btn btn-primary btn-save-exclude-payer"><i class="fas fa-users-cog"></i> Process</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('#link-menu-organizations').addClass('active')

            $('.select-search').select2()
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

        });

        var columnDefs = [
            {headerName: "ID", field: "id1",checkboxSelection: true,filter: false,maxWidth: 75,maxWidth:75,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Name", field: "name",sortable: true ,unSortIcon: true,minWidth: 250},
            {headerName: "DBA Name", field: "dba_name",sortable: true ,unSortIcon: true,minWidth: 250,hide:true},
            {headerName: "Organization Type", field: "type",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Group NPI", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Taxonomy Specialties", field: "taxonomy_specialty",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Payer", field: "payer",sortable: true,enableRowGroup: true,unSortIcon: true,hide: false},
            {headerName: "Total Providers", field: "providers",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Org Classification", field: "org_classification",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Is facility?", field: "isfacility",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Facility type", field: "facility_type",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Users Registered", field: "users",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Created On", field: "created_on",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true,comparator: dateComparator},
            {headerName: "Contrating Status", field: "status",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Disabled", field: "disabled",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:160,minWidth:160,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];


        {% for organization in organizations %}
        var is_disabled="No";

        var provider_agreement_file="No";
        {% if organization.provider_agreement_file!="" %}
            provider_agreement_file="Yes";
        {% endif %}

        var roster_file="No";
        {% if organization.roster_file!="" %}
            roster_file="Yes";
        {% endif %}

        var accreditation_certificate_file="No";
        {% if organization.accreditation_certificate_file!="" %}
            accreditation_certificate_file="Yes";
        {% endif %}

        {% if organization.disabled!=0 %}
            is_disabled="Yes";
        {% endif %}


        var  facility_types= "{{ organization.facility_type }}"
        var  facility_types_array = facility_types.split(',');
        var  facility_type=facility_types_array[0];


        var obj={
            id:"{{ organization.id }}",
            id1:"{{ organization.id }}",
            name: "{{ organization.name }}",
            dba_name: "{{ organization.bda_name }}",
            type: "{{ organization.provider_type }}",
            npi: "{{ organization.group_npi }}",
            providers: "{{ organization.provider_count }}",
            taxonomy_specialty: "{{ organization.taxonomies_specialty }}",
            payer: "{{ organization.payer_str }}",
            isfacility: "{{ organization.is_facility }}",
            provider_agreement_file: provider_agreement_file,
            roster_file: roster_file,
            accreditation_certificate_file: accreditation_certificate_file,
            disabled: is_disabled,
            users: "{{ organization.user_count }}",
            status: "{{ organization.status }}",
            created_on: "{{ organization.created_on|date('m/d/Y') }}",
            org_classification: "{{ organization.org_clasification }}",
            facility_type:facility_type
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            floatingFilter: true,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
            var instance = gridOptions.api.getFilterInstance('disabled')
            instance.selectNothing()
            instance.selectValue('No')
            instance.applyModel();
            gridOptions.api.onFilterChanged();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{
                var option=$('#batch-options').val()

                if(option==0){
                    var progressBar=$('#progress_delete');
                    var rows=[];

                    $.each(rowsSelected,function(){
                        var row=$(this)[0];
                        rows.push(row.id);
                    })

                    var data={
                        'ids':rows
                    }

                    var url="/admin/organization/delete_multiple";

                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Organizations Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function() {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function() {

                                    progressBar.removeClass('sr-only')
                                    $.post(url, data, function (result) {
                                        progressBar.addClass('sr-only')

                                        var removed=result.removed;
                                        var message=result.message;

                                        $('#message-removed').html(message);

                                        if(removed==1){
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        }else{
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }
                    });
                }
                //option for send emails
                if(option==1){
                    $('#modal_send_email').modal('show')
                }
                //options for disable org
                if(option==2){
                    $('#modal_disabled').modal('show')
                }
                //options for disable org
                if(option==3){
                    $('#modal_exclude_payer').modal('show')
                }


            }
        }

        $('.btn-send-email').click(function(e){
            e.preventDefault()

            var url=$('#form_send_email').attr('action')

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var template=$('#email_template').val()
            var datetosend=$('#datetosend').val()
            var plan=$('#email_plan').val()

            var data={
                'ids':rows,
                'template': template,
                'datetosend': datetosend,
                'plan':plan
            }

            var loader=$('.icon-spinner9')
            loader.removeClass('sr-only')
            $.post(url, data, function (result) {
                loader.addClass('sr-only')
                $('#modal_send_email').modal('hide')
            })
        })

        function dateComparator(date1, date2) {
            var date1Number = monthToComparableNumber(date1);
            var date2Number = monthToComparableNumber(date2);

            if (date1Number === null && date2Number === null) {
                return 0;
            }
            if (date1Number === null) {
                return -1;
            }
            if (date2Number === null) {
                return 1;
            }

            return date1Number - date2Number;
        }

        // eg 29/08/2004 gets converted to 20040829
        function monthToComparableNumber(date) {
            if (date === undefined || date === null || date.length !== 10) {
                return null;
            }

            var yearNumber = date.substring(6, 10);
            var dayNumber = date.substring(3, 5);
            var monthNumber = date.substring(0, 2);

            var result = yearNumber * 10000 + monthNumber * 100 + dayNumber;
            return result;
        }

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_organization") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_organization") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm  bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="#" data-id="'+id+'" data-toggle="modal" data-target="#modal_disabled" class="btn-disable btn btn-sm  bg-warning border-warning text-warning-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-times-circle"></i></a>'+
                '<a href="'+url_edit+'"  class="btn btn-sm  bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm  bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        $('#myGrid').on('click','.btn-disable',function(e){
            var id=$(this).data('id')
            $('#id_organization').val(id)
        })

        function viewDataAction(params){
            var id =params.data.id
            var url_view = '{{ path("admin_view_organization") }}'+"/"+id

            window.location.href = url_view;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);
            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        $('.btn-save-disabled').click(function(e){
            e.preventDefault()

            var url=$('#form_disabled_org').attr('action')
            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var send=true
            var termination_reason=$('#termination_reason').val()
            var error_termination_reason=$('#error_termination_reason')

            var termination_reason_notes=$('#termination_reason_notes')

            var data={
                'ids': rows,
                'termination_reason': termination_reason,
                'termination_reason_notes': termination_reason_notes.val()
            }

            if(termination_reason==0){
                send=false
                error_termination_reason.removeClass('sr-only')
            }else{
                error_termination_reason.addClass('sr-only')
            }

            if(send){
               $.post(url, data, function (result) {
                   $('#modal_disabled').modal('hide')
                   var selectedData = gridOptions.api.getSelectedRows()
                   var res = gridOptions.api.updateRowData({update: selectedData})
               })
            }
        })

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        $('.btn-save-exclude-payer').click(function(e){
            e.preventDefault()

            var payer_val=$('#payer_exclude').val()
            var send=true;
            var error_select_payer=$('#error_select_payer_exclude')

            var send_email_notification=0

            if($('#send_email_notification_yes').is(':checked')){
                send_email_notification=1
            }

            var date=$('#datetoexclude').val()

            if(payer_val==0){
                send=false;
                error_select_payer.removeClass('sr-only')
            }else{
                error_select_payer.addClass('sr-only')
            }

            var mask_top=$('#mask-top')

            if(send){
                mask_top.removeClass('sr-only')

                var url=$('#form_exclude_payer').attr('action')
                var rowsSelected=gridOptions.api.getSelectedRows();
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids': rows,
                    'payer': payer_val,
                    'date': date,
                    'send_email_notification': send_email_notification
                }

                console.log(data)

                $.post(url, data, function (result) {
                    mask_top.addClass('sr-only')
                    $('#modal_exclude_payer').modal('hide')
                })
            }
        })

        $('#email_template').change(function(e) {

            var template=$(this).val()
            if(template==22){
                $('#cont_plan').removeClass('sr-only')
            }else{
                $('#cont_plan').addClass('sr-only')
            }
        })
    </script>

{% endblock %}
