{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organizations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Missing Organization Information</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some Group NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select btn-delete-all" id="batch-options">
                            <option value="0">Send Email</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" onclick="return multipleAction();" id="select_multiple"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control" style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Send Email Notification-->
    <div id="modal_send_email" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_add_email_queued_ajax') }}" method="post" id="form_send_email">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Send Email</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Email Template:</label>
                            <div class="col-12">
                                <select class="form-control select" name="email_template" id="email_template">
                                    {% for template in email_templates %}
                                        <option value="{{ template.id }}">{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row sr-only" id="cont_plan">
                            <label class="col-12 col-form-label">Payer (Plan):</label>
                            <div class="col-12">
                                <select class="form-control select" name="email_plan" id="email_plan">
                                    <option value="0">[ Select One ]</option>
                                    {% for payer in payers %}
                                        <option value="{{ payer.id }}">{{ payer.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Date to send:</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="datetosend" id="datetosend" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ "now"|date("m/d/Y") }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-send-email"><i class="icon-spinner9 spinner mr-2 sr-only"></i> <i class="fas fa-envelope"></i> Send</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Email modal -->

{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-320
            $('#myGrid').css('height',h)


            $('#link-group-provider-portal').addClass('nav-item-expanded')
            $('#link-group-provider-portal').addClass('nav-item-open')
            $('#link-missing-organization-information').addClass('active')

            $('.select-search').select2()
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

        });

        var columnDefs = [
            {headerName: "ID", field: "id1",checkboxSelection: true,filter: false,maxWidth: 100,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Name", field: "name",sortable: true ,unSortIcon: true,minWidth: 250},
            {headerName: "Group NPI", field: "group_npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Missing global", field: "missing_global",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Needed training attestation", field: "training_attestation",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Needed organization check", field: "organization_check",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Needed providers check", field: "providers_check",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Needed address check", field: "address_check",sortable: true,enableRowGroup: true,unSortIcon: true,hide: false},
            {headerName: "Needed contacts check", field: "contacts_check",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:160,minWidth:160,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];


        {% for m_r in missing_results %}

        var obj={
            id:"{{ m_r['org_id'] }}",
            id1:"{{ m_r['org_id'] }}",
            name: "{{ m_r['org_name'] }}",
            group_npi: "{{ m_r['group_npi'] }}",
            training_attestation: "{{ m_r['training_attestation'] }}",
            organization_check: "{{ m_r['organization_check'] }}",
            providers_check: "{{ m_r['providers_check'] }}",
            address_check: "{{ m_r['address_check'] }}",
            contacts_check: "{{ m_r['contacts_check'] }}",
            missing_global: "{{ m_r['missing_global'] }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            floatingFilter: true,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
            var instance = gridOptions.api.getFilterInstance('disabled')
            instance.selectNothing()
            instance.selectValue('No')
            instance.applyModel();
            gridOptions.api.onFilterChanged();
        })



        $('.btn-send-email').click(function(e){
            e.preventDefault()

            var url=$('#form_send_email').attr('action')

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var template=$('#email_template').val()
            var datetosend=$('#datetosend').val()
            var plan=$('#email_plan').val()

            var data={
                'ids':rows,
                'template': template,
                'datetosend': datetosend,
                'plan':plan
            }

            var loader=$('.icon-spinner9')
            loader.removeClass('sr-only')
            $.post(url, data, function (result) {
                loader.addClass('sr-only')
                $('#modal_send_email').modal('hide')
            })
        })

        function dateComparator(date1, date2) {
            var date1Number = monthToComparableNumber(date1);
            var date2Number = monthToComparableNumber(date2);

            if (date1Number === null && date2Number === null) {
                return 0;
            }
            if (date1Number === null) {
                return -1;
            }
            if (date2Number === null) {
                return 1;
            }

            return date1Number - date2Number;
        }

        // eg 29/08/2004 gets converted to 20040829
        function monthToComparableNumber(date) {
            if (date === undefined || date === null || date.length !== 10) {
                return null;
            }

            var yearNumber = date.substring(6, 10);
            var dayNumber = date.substring(3, 5);
            var monthNumber = date.substring(0, 2);

            var result = yearNumber * 10000 + monthNumber * 100 + dayNumber;
            return result;
        }

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("view_missing_organization_information") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm  bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>';
        }

        $('#myGrid').on('click','.btn-disable',function(e){
            var id=$(this).data('id')
            $('#id_organization').val(id)
        })

        function viewDataAction(params){
            var id =params.data.id
            var url_view = '{{ path("view_missing_organization_information") }}'+"/"+id

            window.location.href = url_view;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);
            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('group_npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);


        $('#email_template').change(function(e) {

            var template=$(this).val()
            if(template==22){
                $('#cont_plan').removeClass('sr-only')
            }else{
                $('#cont_plan').addClass('sr-only')
            }
        })

        function multipleAction(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Send mail!',
                    message: 'Select at least one element please.'
                });
            }else{
                var option=$('#batch-options').val()

                //option for send emails
                if(option==0){
                    $('#modal_send_email').modal('show')
                }


            }
        }

    </script>

{% endblock %}
