{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organization',{'id':organization.id}) }}" class="breadcrumb-item">Organization</a>
                        <span class="breadcrumb-item active">Upload Facility Licenses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Upload Facility Licenses for {{ organization.name }}</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organization',{'id':organization.id}) }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Organization</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form action="{{ path('admin_facility_licenses_upload_proccess') }}" enctype="multipart/form-data" data-fouc id="form" method="POST">
                                            <input type="hidden" name="org" id="org" value="{{ organization.id }}">
                                            <div class="form-group row">
                                                <label class="col-lg-12 col-form-label">Load file from computer:</label>
                                                <div class="col-12">
                                                    <input type="file" class="file-input" data-show-preview="false" data-show-upload="false" name="credentialing_load" id="credentialing_load" data-fouc>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <a href="#" class="btn bg-slate disabled" id="btn-proccess"><i class="fas fa-user-cog"></i> Proccess Document</a>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     {{ parent() }}
     <script type="text/javascript">

         $(document).ready(function(){

             var file=$(this).val();
             var btnproccess=$('#btn-proccess')

             $('#credentialing_load').on('fileloaded', function(event, file, previewId, index, reader) {

                 if(file!=""){
                     btnproccess.removeClass('disabled')
                 }
             });

             $('#credentialing_load').on('fileclear', function(event) {
                 btnproccess.addClass('disabled')
             });

             $('#btn-proccess').click(function (e) {
                 e.preventDefault()
                 $('#form').submit()

             })
         })

     </script>
 {% endblock %}
