{% extends 'base.html.twig' %}
{% block body %}
    {% set role="" %}
    {% for rol in app.user.roles  %}
        {% set role=rol %}
    {% endfor %}
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4>{% if organization %} Company: {{ organization.name }} {% endif %}</h4>
            </div>
            <div class="header-elements d-none">
                <div class="d-flex justify-content-center">

                </div>
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <span class="breadcrumb-item active">Organizations</span>
                </div>
            </div>
            <div class="header-elements d-none">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Missing Organization Information</span></h5>
            <div class="header-elements">
                <a href="{{ path('missing_organization_information_list') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Missing Organization Information List</a>
            </div>
        </div>
        <div class="card-body py-0 pt-2">
            {% if role=="ROLE_PROVIDER" or role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                <div class="row">
                    {% if organization_check or providers_check or address_check or contacts_check or training_attestation%}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Items that need review</span></h5>
                                </div>
                                <div class="card-body">
                                    {% if training_attestation %}
                                        <div class="alert alert-danger alert-styled-left alert-dismissible">
                                            <h6 class="card-title text-danger-800 font-weight-bold">Mandatory trainings module</h6>
                                            <p class="mt-1">Required review the trainings module to confirm completion of mandatory trainings including CMS FWA etc.</p>
                                        </div>
                                    {% endif %}
                                    {% if organization_check %}
                                        <div class="alert alert-danger alert-styled-left alert-dismissible">
                                            <h6 class="card-title text-danger-800 font-weight-bold">Organization</h6>
                                            <p class="mt-1">The organization information needs review.</p>
                                            <a href="#collapse_organization" id="collapse_organization_link" class="" data-toggle="collapse">
                                                <i class="icon-circle-down2"></i> <span>See More</span>
                                            </a>
                                            <div class="collapse" id="collapse_organization">
                                                <div class="mt-3">
                                                    <ul>
                                                        {% if check_org_accreditation==true %}
                                                            <li>Organization Accreditation</li>
                                                        {% endif %}
                                                        {% if check_org_groupnpi==true %}
                                                            <li>Group NPI</li>
                                                        {% endif %}
                                                        {% if check_org_billingnpi==true %}
                                                            <li>Billing NPI</li>
                                                        {% endif %}
                                                        {% if check_org_tin==true %}
                                                            <li>TIN Number</li>
                                                        {% endif %}
                                                        {% if check_org_legal_name_tin_owner==true %}
                                                            <li>Legal Name of TIN Owner</li>
                                                        {% endif %}
                                                        {% if check_org_billing_phone==true %}
                                                            <li>Billing phone</li>
                                                        {% endif %}
                                                        {% if check_org_phone==true %}
                                                            <li>Phone Number</li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                    {% if providers_check %}
                                        <div class="alert alert-danger alert-styled-left alert-dismissible">
                                            <h6 class="card-title text-danger-800 font-weight-bold">Providers</h6>
                                            <p class="mt-1">These Providers need review</p>
                                            <a href="#collapse_provider" id="collapse_provider_link" class="" data-toggle="collapse">
                                                <i class="icon-circle-down2"></i> <span>See More</span>
                                            </a>
                                            <div class="collapse" id="collapse_provider">
                                                <div class="table-responsive">
                                                    <table class="table table-xs">
                                                        <thead>
                                                        <tr>
                                                            <th width="5%">#</th>
                                                            <th width="35%">Full Name</th>
                                                            <th width="60%">Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% set c=1 %}
                                                        {% for provider in provider_check %}
                                                            <tr>
                                                                <td>{{ c }}</td>
                                                                <td>{{ provider.firstname }} {{ provider.lastname }}</td>
                                                                <td>This provider is missing information</td>
                                                            </tr>
                                                            {% set c=c+1 %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if address_check %}
                                        <div class="alert alert-danger alert-styled-left alert-dismissible">
                                            <h6 class="card-title text-danger-800 font-weight-bold">Address</h6>
                                            {% if addressResult|length==0 %}
                                                <p class="mt-1">Do you need add one or more address</p>
                                            {% else %}
                                                {% if addr_check %}
                                                    <p class="mt-1">These Addresses need review</p>
                                                    <a href="#collapse_address" id="collapse_address_link" class="" data-toggle="collapse">
                                                        <i class="icon-circle-down2"></i> <span>See More</span>
                                                    </a>
                                                    <div class="collapse" id="collapse_address">
                                                        <div class="table-responsive">
                                                            <table class="table table-xs">
                                                                <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Street</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                                {% set c=1 %}
                                                                {% for addressR in addresses_check %}
                                                                    <tr>
                                                                        <td>{{ c }}</td>
                                                                        <td>{{ addressR.street }}</td>
                                                                        <td>This address is missing information</td>
                                                                    </tr>
                                                                    {% set c=c+1 %}
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            {% if primary_addr==false %}
                                                <div class="alert alert-warning alert-styled-left alert-dismissible pt-2 pb-2">
                                                    Required to set a <span class="font-weight-semibold">Primary Address</span>
                                                </div>
                                            {% endif %}
                                            {% if billing_addr==false %}
                                                <div class="alert alert-warning alert-styled-left alert-dismissible pt-2 pb-2">
                                                    Required to set a <span class="font-weight-semibold">Billing Address</span>
                                                </div>
                                            {% endif %}
                                            {% if mailing_addr==false %}
                                                <div class="alert alert-warning alert-styled-left alert-dismissible pt-2 pb-2">
                                                    Required to set a <span class="font-weight-semibold">Mailing Address</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if contacts_check %}
                                        <div class="alert alert-danger alert-styled-left alert-dismissible">
                                            <h6 class="card-title text-danger-800 font-weight-bold">Contacts</h6>
                                            {% if contactResult2|length==0 %}
                                                <p class="mt-1">Do you need add one or more contacts</p>
                                            {% else %}
                                                <p class="mt-1">These Contacts need review</p>
                                                <a href="#collapse_contact" id="collapse_contact_link" class="" data-toggle="collapse">
                                                    <i class="icon-circle-down2"></i> <span>See More</span>
                                                </a>
                                                <div class="collapse" id="collapse_contact">
                                                    <div class="table-responsive">
                                                        <table class="table table-xs">
                                                            <thead>
                                                            <tr>
                                                                <th width="5%">#</th>
                                                                <th width="35%">Full Name</th>
                                                                <th width="60%">Satatus</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% set c=1 %}
                                                            {% for contactR in contact_check %}
                                                                <tr>
                                                                    <td>{{ c }}</td>
                                                                    <td>{{ contactR.name }}</td>
                                                                    <td>This Contact is missing information</td>
                                                                </tr>
                                                                {% set c=c+1 %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="alert alert-success alert-styled-left alert-dismissible" style="width: 100%;">
                                No action is required
                            </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <form action="{{ path('admin_validate_roster_organization') }}" method="post" id="form_validate"></form>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>
     <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript" charset="utf-8">

         $(document).ready(function(e){

             $('#link-group-provider-portal').addClass('nav-item-expanded')
             $('#link-group-provider-portal').addClass('nav-item-open')
             $('#link-missing-organization-information').addClass('active')

             _componentSwitchery();

             $('#collapse_organization_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_organization_link i')
                 var message_link=$('#collapse_organization_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })

             $('#collapse_provider_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_provider_link i')
                 var message_link=$('#collapse_provider_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })

             $('#collapse_address_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_address_link i')
                 var message_link=$('#collapse_address_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })

             $('#collapse_contact_link').click(function(e){
                 e.preventDefault();
                 var link=$(this)
                 var icon_link=$('#collapse_contact_link i')
                 var message_link=$('#collapse_contact_link span')

                 if(link.hasClass('active')){
                     icon_link.addClass('icon-circle-down2')
                     icon_link.removeClass('icon-circle-up2')
                     message_link.html('See More')
                     link.removeClass('active')
                 }else{
                     icon_link.removeClass('icon-circle-down2')
                     icon_link.addClass('icon-circle-up2')
                     message_link.html('See Less')
                     link.addClass('active')
                 }
             })
         })

         // Switchery
         var _componentSwitchery = function() {
             if (typeof Switchery == 'undefined') {
                 console.warn('Warning - switchery.min.js is not loaded.');
                 return;
             }

             // Initialize single switch
             var elems = Array.prototype.slice.call(document.querySelectorAll('.form-input-switchery'));
             elems.forEach(function(html) {
                 var switchery = new Switchery(html);
             });
         };

         $('.btn-delete-pro').click(function(e){
             e.preventDefault()

             var id=$(this).data('id')
             var url=$('#form_remove_user').attr('action')
             var data={
                 user:id
             }
             var tr=$(this).parent('td').parent('tr')
             bootbox.dialog({
                 message: 'Are you sure?',
                 title: 'Delete',
                 buttons: {
                     success: {
                         label: '<i class="fas fa-ban"></i> Cancel',
                         className: 'btn-success',
                         callback: function() {

                         }
                     },
                     danger: {
                         label: '<i class="far fa-trash-alt"></i> Delete',
                         className: 'btn-danger',
                         callback: function() {
                             $.post(url, data, function (result) {
                                 tr.fadeOut(300)
                             })
                         }
                     }
                 }
             });
         })

         $('#btn-validate-roster').click(function(e){

             var url=$('#form_validate').attr('action')
             {% if organization %}
             var organization="{{ organization.id }}"
             {% endif %}

             if($(this).is(':checked')){
                 var data={
                     id: organization,
                     validate:1,
                 }

                 $.post(url, data, function (result) {
                     $('.txt-status-wa').addClass('sr-only')
                     $('.txt-status-su').removeClass('sr-only')
                 })

             }else{
                 var data={
                     id: organization,
                     validate:0,
                 }

                 $.post(url, data, function (result) {
                     $('.txt-status-wa').removeClass('sr-only')
                     $('.txt-status-su').addClass('sr-only')
                 })
             }
         })

         $('.btn-validate-pro').click(function(e){
             e.preventDefault()

             var id_user=$(this).data('id')
             var data={
                 user: id_user
             }

             var tr=$(this).parent('td').parent('tr')
             var url=$('#form_validate_user').attr('action')

             bootbox.dialog({
                 message: 'Are you sure?',
                 title: 'Activate user for this provider',
                 buttons: {
                     success: {
                         label: '<i class="fas fa-ban"></i> Cancel',
                         className: 'btn-danger',
                         callback: function() {

                         }
                     },
                     danger: {
                         label: '<i class="fas fa-user-check"></i> Validate',
                         className: 'btn-success',
                         callback: function() {
                             $.post(url, data, function (result) {
                                 tr.fadeOut(300)
                                 console.log(result.email)
                             })
                         }
                     }
                 }
             });
         })

         $(document).ready(function(){
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)
         })

         $('.btn-set-request-approved').click(function(e){
             e.preventDefault()
             var id=$(this).data('id')
             $('#request_id').val(id)
             $('#request_status').val(1)
             $('#form_set_request').submit()
         })

         $('.btn-set-request-denied').click(function(e){
             e.preventDefault()
             let id=$(this).data('id')
             $('#request_id').val(id)
             $('#request_status').val(0)
             $('#form_set_request').submit()
         })

         $('.btn-save-line').click(function(e){
             e.preventDefault()

             let form=$('#form_save_line')
             let url=form.attr('action')
             let data=form.serialize()

             var error_line=$('#error_line')
             var send=true

             var line_of_business_1_yes=$('#line_of_business_1_yes')
             var line_of_business_1_no=$('#line_of_business_1_no')
             var line_of_business_2_yes=$('#line_of_business_2_yes')
             var line_of_business_2_no=$('#line_of_business_2_no')
             var line_of_business_3_yes=$('#line_of_business_3_yes')
             var line_of_business_3_no=$('#line_of_business_3_no')
             var line_of_business_4_yes=$('#line_of_business_4_yes')
             var line_of_business_4_no=$('#line_of_business_4_no')

             if(!line_of_business_1_yes.is(':checked') && !line_of_business_1_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }
             if(!line_of_business_2_yes.is(':checked') && !line_of_business_2_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }
             if(!line_of_business_3_yes.is(':checked') && !line_of_business_3_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }
             if(!line_of_business_4_yes.is(':checked') && !line_of_business_4_no.is(':checked')){
                 send=false
                 error_line.removeClass('sr-only')
             }else{
                 error_line.addClass('sr-only')
             }

             if(send){
                 $.post(url, data, function (result) {

                     $('#message-updated').fadeIn(1000)

                     setTimeout(function(){
                         $('#message-updated').fadeOut(500);
                     }, 2000)
                 })
             }
         })

         /* ------------------------------------------------------------------------------
          *
          *  # Echarts - Pie and Donut charts
          *
          *  Demo JS code for echarts_pies_donuts.html page
          *
          * ---------------------------------------------------------------------------- */
         var EchartsPiesDonuts = function() {
             var _piesDonutsExamples = function() {

                 // Define elements
                 var pie_basic_element = document.getElementById('organization_status_charts');
                 var pie_donut_element = document.getElementById('organization_type_charts');


                 // Basic pie chart
                 if (pie_basic_element) {

                     // Initialize chart
                     var pie_basic = echarts.init(pie_basic_element);


                     // Options
                     pie_basic.setOption({

                         // Colors
                         color: [
                             '#ff7043','#c62828','#4caf50','#ffb980','#d87a80',
                             '#8d98b3','#e5cf0d','#97b552','#95706d','#dc69aa',
                             '#07a2a4','#9a7fd1','#588dd5','#f5994e','#c05050',
                             '#59678c','#c9ab00','#7eb00a','#6f5553','#c14089'
                         ],

                         // Global text styles
                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Add title
                         title: {
                             text: 'Organization Status',
                             subtext: '',
                             left: 'center',
                             textStyle: {
                                 fontSize: 17,
                                 fontWeight: 500
                             },
                             subtextStyle: {
                                 fontSize: 12
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'item',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             },
                             formatter: "{a} <br/>{b}: {c} ({d}%)"
                         },

                         // Add legend
                         legend: {
                             orient: 'horizontal',
                             top: 35,
                             left: 'center',
                             data: ['Pending', 'Disabled', 'Active'],
                             itemHeight: 10,
                             itemWidth: 8
                         },

                         // Add series
                         series: [{
                             name: 'Status',
                             type: 'pie',
                             radius: '70%',
                             center: ['50%', '57.5%'],
                             itemStyle: {
                                 normal: {
                                     borderWidth: 1,
                                     borderColor: '#fff'
                                 }
                             },
                             data: [
                                 {value: {{ organizations_status[1] }}, name: 'Pending'},
                                 {value: {{ organizations_status[0] }}, name: 'Disabled'},
                                 {value: {{ organizations_status[2] }}, name: 'Active'},
                             ]
                         }]
                     });
                 }

                 if (pie_donut_element) {
                     var pie_donut = echarts.init(pie_donut_element);
                     pie_donut.setOption({

                         color: [
                             '#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80',
                             '#8d98b3','#e5cf0d','#97b552','#95706d','#dc69aa',
                             '#07a2a4','#9a7fd1','#588dd5','#f5994e','#c05050',
                             '#59678c','#c9ab00','#7eb00a','#6f5553','#c14089'
                         ],

                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Add title
                         title: {
                             text: 'Organization Type',
                             subtext: '',
                             left: 'center',
                             textStyle: {
                                 fontSize: 17,
                                 fontWeight: 500
                             },
                             subtextStyle: {
                                 fontSize: 12
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'item',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             },
                             formatter: "{a} <br/>{b}: {c} ({d}%)"
                         },

                         // Add legend
                         legend: {
                             orient: 'horizontal',
                             top: 35,
                             left: 'center',
                             data: ['Individual', 'Group', 'Facility'],
                             itemHeight: 8,
                             itemWidth: 8
                         },

                         // Add series
                         series: [{
                             name: 'Organization Type',
                             type: 'pie',
                             radius: ['50%', '70%'],
                             center: ['50%', '57.5%'],
                             itemStyle: {
                                 normal: {
                                     borderWidth: 1,
                                     borderColor: '#fff'
                                 }
                             },
                             data: [
                                 {value: {{ organization_types[0] }}, name: 'Individual'},
                                 {value: {{ organization_types[1] }}, name: 'Group'},
                                 {value: {{ organization_types[2] }}, name: 'Facility'},
                             ]
                         }]
                     });
                 }

                 var triggerChartResize = function() {
                     pie_basic_element && pie_basic.resize();
                     pie_donut_element && pie_donut.resize();
                 };

                 // On sidebar width change
                 $(document).on('click', '.sidebar-control', function() {
                     setTimeout(function () {
                         triggerChartResize();
                     }, 0);
                 });

                 // On window resize
                 var resizeCharts;
                 window.onresize = function () {
                     clearTimeout(resizeCharts);
                     resizeCharts = setTimeout(function () {
                         triggerChartResize();
                     }, 200);
                 };
             };

             return {
                 init: function() {
                     _piesDonutsExamples();
                 }
             }
         }();

         document.addEventListener('DOMContentLoaded', function() {
             EchartsPiesDonuts.init();
         });
     </script>

 {% endblock %}

