{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-0">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;margin-bottom: 10px;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organization details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization <strong>{{ document.name }}</strong> details</span>
                </h5>
                <div class="header-elements">
                    <a href="{{ path('admin_edit2_organization') }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Organization</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                            <li class="nav-item"><a href="#colored-rounded-tab1" class="nav-link {% if tab==1 %}active {% endif %} rounded-left" data-toggle="tab">General Info</a></li>
                            <li class="nav-item"><a href="#colored-rounded-tab2" class="nav-link btn-providers {% if tab==2 %}active {% endif %}" data-toggle="tab">Providers</a></li>
                            <li class="nav-item"><a href="#colored-rounded-tab3" class="nav-link btn-address {% if tab==3 %}active {% endif %}" data-toggle="tab">Address Book</a></li>
                            <li class="nav-item"><a href="#colored-rounded-tab4" class="nav-link btn-contact {% if tab==4 %}active {% endif %}" data-toggle="tab">Contacts</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade {% if tab==1 %}show active {% endif %}" id="colored-rounded-tab1">
                                <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Name:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.name }}</p>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <label class="col-form-label">DBA Name:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.bdaname }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Organization Type:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.ProviderType }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Tin number:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.TinNumber }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Name of ehr emr:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.NameOfEhrEmr }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Group NPI:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.GroupNpi }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Group NPI 2:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.GroupNpi2 }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Billing NPI:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getBillingNpi }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Phone Billing:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.BillingPhone }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Phone:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.phone }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Faxno:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.faxno }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Website:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.website }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Receive date of AGMT:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getReceiveDateAgmt }}</p>
                                            </div>
                                            {% if document.providertype != 'Individual' %}
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <label class="col-form-label">Accreditation:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <p class="col-form-label text-body p_docs">
                                                                {% if document.getAccreditations|length>0 %}
                                                                    {% for accreditation in document.getAccreditations %}
                                                                        <span class="badge bg-info mb-1">{{ accreditation.name }}</span>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Languages:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body p_docs">
                                                            {% for language in languages %}
                                                                <span class="badge bg-dark mb-1">{{ language }}</span>
                                                            {% endfor %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Specialty areas:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body p_docs">
                                                            {% for specialty in specialiesAreas |sort((a, b) => a.name <=> b.name)  %}
                                                                <span class="badge bg-blue mb-1">{{ specialty.name }}</span>
                                                            {% endfor %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if taxonomies_org|length>0 %}
                                                <div class="col-12 mb-2">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="col-form-label">Taxonomies:</label>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="table-responsive" id="table_grid_cred">
                                                                <table class="table table-hover table-striped">
                                                                    <thead>
                                                                    <tr class="bg-primary">
                                                                        <th>Code</th>
                                                                        <th>Specialty</th>
                                                                        <th>Classification</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for taxonomy in taxonomies_org %}
                                                                        <tr>
                                                                            <td>{{ taxonomy.code }}</td>
                                                                            <td>{{ taxonomy.getSpecialization }}</td>
                                                                            <td>{{ taxonomy.getClassification }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Hospital Affiliations:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body p_docs">
                                                            {{ document.HospitalAffiliations }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Medicaid Eligible:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body">
                                                            {% if medicaid_eligible==true %}
                                                                <span class="badge badge-success">Yes</span>
                                                            {% else %}
                                                                <span class="badge badge-danger">No</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Group Medicaid:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body p_docs">
                                                            {% if medicaids %}
                                                                {% for medicaid in medicaids %}
                                                                    <span class="badge bg-warning mb-1 mr-1">{{ medicaid }}</span>
                                                                {% endfor %}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Medicare Eligible:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body">
                                                            {% if medicare_eligible==true %}
                                                                <span class="badge badge-success">Yes</span>
                                                            {% else %}
                                                                <span class="badge badge-danger">No</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label">Group Medicare:</label>
                                                    </div>
                                                    <div class="col-10">
                                                        <p class="col-form-label text-body p_docs">
                                                            {% if medicares %}
                                                                {% for medicare in medicares %}
                                                                    <span class="badge bg-info mb-1 mr-1">{{ medicare }}</span>
                                                                {% endfor %}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Do you currently use a Telemedicine Service?:</label>
                                                {% if document.hasTelemedicine %}
                                                    <span class="badge bg-primary mb-1 ml-1">Yes</span>
                                                {% else %}
                                                    <span class="badge bg-danger mb-1 ml-1">No</span>
                                                {% endif %}
                                            </div>
                                            {% if document.hasTelemedicine==0 %}
                                                <div class="col-12 col-md-4">
                                                    <label class="col-form-label">Are you interested in Telemedicine Services?:
                                                    </label>
                                                    {% if document.interestedInTelemedicine %}
                                                        <span class="badge bg-primary mb-1 ml-1">Yes</span>
                                                    {% else %}
                                                        <span class="badge bg-danger mb-1 ml-1">No</span>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                            {% if document.hasTelemedicine=='Yes' %}
                                                <div class="col-12 col-md-4">
                                                    <label class="col-form-label">Telemedicine Company Name:</label>
                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.telemedicineCompany }}</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="col-form-label">Provider Agreement File:</label>
                                                {% if  document.ProviderAgreementFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.ProviderAgreementFile) }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.ProviderAgreementFile %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.ProviderAgreementFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">{% if is_facility==true %}Amendment to Facility Agreement File (September 24th, 2019) :{% else %} Amendment to Provider Agreement File (September 24th, 2019) {% endif %}</label>
                                                {% if  document.getAmendmentFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    {% if is_facility==true %}
                                                        <a href="{{ asset('uploads/organizations/amendment/BSN_FACC/BSN_FACC_'~document.id~'.pdf') }}"
                                                           class="badge badge-primary badge-icon" target="_blank"
                                                           download><i class="fas fa-download"></i></a>
                                                        <a href="{{ asset('uploads/organizations/amendment/BSN_FACC/BSN_FACC_'~document.id~'.pdf') }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% else %}
                                                        <a href="{{ asset('uploads/organizations/amendment/BSN_PACC/BSN_PACC_'~document.id~'.pdf') }}"
                                                           class="badge badge-primary badge-icon" target="_blank"
                                                           download><i class="fas fa-download"></i></a>
                                                        <a href="{{ asset('uploads/organizations/amendment/BSN_PACC/BSN_PACC_'~document.id~'.pdf') }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Provider Agreement Amendment 9/8/2021:</label>
                                                {% if  document.ProviderAgreementFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('docs/organizations/organizations-amendment/'~ document.id~'/BSN_Provider_Amendment_Contract_Changes_090821.pdf') }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.ProviderAgreementFile %}
                                                        <a href="{{ asset('docs/organizations/organizations-amendment/'~ document.id~'/BSN_Provider_Amendment_Contract_Changes_090821.pdf') }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">State License File:</label>
                                                {% if  document.StateLicenseFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.StateLicenseFile) }}"  class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.StateLicenseFile %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.StateLicenseFile) }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">W9 File:</label>
                                                {% if  document.W9File=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.W9File) }}"
                                                       class="badge badge-primary badge-icon" target="_blank"
                                                       download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.W9File %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.W9File) }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">General Liability Coverage File:</label>
                                                {% if  document.GeneralLiabilityCoverageFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.GeneralLiabilityCoverageFile) }}"
                                                       class="badge badge-primary badge-icon" target="_blank"
                                                       download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.GeneralLiabilityCoverageFile %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.GeneralLiabilityCoverageFile) }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Site Visit Survey File:</label>
                                                {% if  document.SiteVisitSurveyFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.SiteVisitSurveyFile) }}"
                                                       class="badge badge-primary badge-icon" target="_blank"
                                                       download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.SiteVisitSurveyFile %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.SiteVisitSurveyFile) }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Accreditation Certificate File:</label>
                                                {% if  document.AccreditationCertificateFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.AccreditationCertificateFile) }}"
                                                       class="badge badge-primary badge-icon" target="_blank"
                                                       download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.AccreditationCertificateFile %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.AccreditationCertificateFile) }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">LOA/LOI File:</label>
                                                {% if  document.LoaLoiFile=="" %}
                                                    <p class="col-form-label text-body p_docs p-inline">-</p>
                                                {% else %}
                                                    <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.LoaLoiFile) }}"
                                                       class="badge badge-primary badge-icon" target="_blank"
                                                       download><i class="fas fa-download"></i></a>
                                                    {% if  'pdf' in document.LoaLoiFile %}
                                                        <a href="{{ asset('uploads/organizations/' ~ document.id~'/'~document.LoaLoiFile) }}"
                                                           class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if has_payer %}
                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <h4 class="text-slate-800">Addendum to provider agreement file:</h4>
                                                {% if has_fcc %}
                                                    <div class="col-12">
                                                        <label class="col-form-label">BSN FCC Plan Addendum:</label>
                                                        <a href="{{ asset('docs/BSN_FCC_Plan_Addendum.pdf') }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                        <a href="{{ asset('docs/BSN_FCC_Plan_Addendum.pdf') }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    </div>
                                                {% endif %}
                                                {% if has_mmm %}
                                                    <div class="col-12">
                                                        <label class="col-form-label">BSN MMM Plan Addendum:</label>
                                                        <a href="{{ asset('docs/BSN_MMM_Plan_Addendum_Provider.pdf') }}" class="badge badge-primary badge-icon" target="_blank" download><i class="fas fa-download"></i></a>
                                                        <a href="{{ asset('docs/BSN_MMM_Plan_Addendum_Provider.pdf') }}" class="badge badge-success badge-icon" target="_blank"><i class="far fa-file-pdf"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade  {% if tab==2 %}show active {% endif %}" id="colored-rounded-tab2">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>Providers List</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row mb-2">
                                                    <div class="col-12 text-right pr-2">
                                                        <a href="{{ path('pro_new_p_add',{'org':document.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Provider</a>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-4">
                                                        <div class="form-group form-group-feedback form-group-feedback-left">
                                                            <input type="text" class="form-control form-control-sm" id="filter-providers" placeholder="Type to Filter..." oninput="onFilterProviderBoxChanged()">
                                                            <div class="form-control-feedback form-control-feedback-sm">
                                                                <i class="fas fa-search"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="row">
                                                            <div class="col-lg-12 text-right">
                                                                <label class="col-form-label mr-1">Page size:</label>
                                                                <select class="form-control" style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChangedProviders()" id="page-size-providers">
                                                                    <option value="25" selected>25</option>
                                                                    <option value="50">50</option>
                                                                    <option value="100">100</option>
                                                                    <option value="500">500</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="grid_providers" style="height: 55vh;width:100%;" class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade  {% if tab==3 %}show active {% endif %}"
                                 id="colored-rounded-tab3">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>Address Book</h3></div>
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-4">
                                                <div class="form-group form-group-feedback form-group-feedback-left">
                                                    <input type="text" class="form-control form-control-sm" id="filter-address" placeholder="Type to Filter..." oninput="onFilterTextBoxAddressChanged()">
                                                    <div class="form-control-feedback form-control-feedback-sm">
                                                        <i class="fas fa-search"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 text-right">
                                                <a href="{{ path('provider_billing_new',{'org': document.id }) }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Address</a>
                                            </div>
                                        </div>
                                        <div id="grid_address" style="height: 50vh;width:100%;" class="ag-theme-balham"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade  {% if tab==4 %}show active {% endif %}"
                                 id="colored-rounded-tab4">
                                <div class="card rounded-top-0">
                                    <div class="card-header"><h3>Organization Contact List</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row mb-2">
                                                    <div class="col-4">
                                                        <div class="form-group form-group-feedback form-group-feedback-left">
                                                            <input type="text" class="form-control form-control-sm" id="filter-text-contacts" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                                                            <div class="form-control-feedback form-control-feedback-sm">
                                                                <i class="fas fa-search"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-8 col-xs-12 text-right pr-2">
                                                        <a href="{{ path('new_contact_p_new') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Contact</a>
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-2">
                                                        <select class="form-control select" id="select-options-multiple" data-fouc>
                                                            <option value="0">- Select one option -</option>
                                                            <option value="1">Request access to an Organization</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleSelected()"><i class="fas fa-cog"></i> Execute</a>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="form-group row">
                                                            <div class="col-lg-12 text-right">
                                                                <label class="col-form-label mr-1">Page size:</label>
                                                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChangedContact()" id="page-size-contact">
                                                                    <option value="25" selected>25</option>
                                                                    <option value="50">50</option>
                                                                    <option value="100">100</option>
                                                                    <option value="500">500</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="myGrid" style="height: 50vh;width:100%;" class="ag-theme-balham"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ path('admin_user_get_org_request') }}" method="post" id="form_request_org">
        <input type="hidden" name="contacts_selected" id="contacts_selected" value="">
        <input type="hidden" name="organization_selected" id="organization_selected" value="{{ document.id }}">
    </form>

    {{ include('organizationcontact/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
    {{ include('provider/form/form_delete.html.twig',{form:delete_form_provider_ajax,width_submit:false}) }}
    {{ include('billing/form/form.html.twig',{form:delete_form_billing_ajax,width_submit:false}) }}

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         function multipleSelected(){
             var rowsSelected=gridOptions.api.getSelectedRows();
             var longrowSelected=rowsSelected.length;

             var option=$('#select-options-multiple').val()

             if(longrowSelected==0){
                 bootbox.alert({
                     title: 'Contacts selected!',
                     message: 'Select at least one element please.'
                 })
             }else {
                 if (option == 0) {
                     bootbox.alert({
                         title: 'Option selected!',
                         message: 'Select at least one option please.'
                     })
                 }
                 if (option == 1) {
                     var rowsSelected=gridOptions.api.getSelectedRows();
                     var rows=[];

                     $.each(rowsSelected,function(){
                         var row=$(this)[0];
                         rows.push(row.id);
                     })
                     $('#contacts_selected').val(rows)

                     $('#form_request_org').submit()
                 }
             }
         }

         setTimeout(function () {
             $('.flash-notification').fadeOut(500);
         }, 3000);

         $('.select-search').select2();
         $('.select').select2({
             minimumResultsForSearch: Infinity
         })

         $('#link-menu-organizations').addClass('active')

         var columnDefs = [
             {
                 headerName: "", field: "id1", checkboxSelection: true, filter: false, maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                 checkboxSelection: function (params) {
                     // we put checkbox on the name if we are not doing grouping
                     return params.columnApi.getRowGroupColumns().length === 0;
                 },
                 headerCheckboxSelection: function (params) {
                     // we put checkbox on the name if we are not doing grouping
                     return params.columnApi.getRowGroupColumns().length === 0;
                 }
             },
             {headerName: "Name", field: "name", sortable: true, unSortIcon: true},
             {headerName: "Title", field: "title", sortable: true, unSortIcon: true},
             {headerName: "Phone", field: "phone", sortable: true, unSortIcon: true},
             {headerName: "Mobile", field: "mobile", sortable: true, unSortIcon: true, hide: true},
             {headerName: "Fax", field: "fax", sortable: true, unSortIcon: true, hide: true},
             {headerName: "Best option for", field: "bests", sortable: true, unSortIcon: true, hide: false},
             {headerName: "Email", field: "email", sortable: true, unSortIcon: true},
             {
                 headerName: "Actions",
                 field: "actions",
                 sortable: false,
                 enableRowGroup: false,
                 filter: false,
                 cellRenderer: actionCellRendererFunc,
                 maxWidth: 200,
                 cellClass: 'col-Actions'
             },
         ];

         var columnProvidersDefs = [
             {
                 headerName: "Id", field: "id1", checkboxSelection: true, filter: false, maxWidth: 80, headerCheckboxSelectionFilteredOnly: true,
                 checkboxSelection: function (params) {
                     // we put checkbox on the name if we are not doing grouping
                     return params.columnApi.getRowGroupColumns().length === 0;
                 },
                 headerCheckboxSelection: function (params) {
                     // we put checkbox on the name if we are not doing grouping
                     return params.columnApi.getRowGroupColumns().length === 0;
                 }
             },
             {headerName: "Full name", field: "fullname",sortable: true ,unSortIcon: true},
             {headerName: "Degrees", field: "degrees",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "License", field: "license",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "NPI Number", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "Medicare", field: "medicare",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "Medicaid", field: "medicaid",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "I.Credentialing Status", field: "cred_status",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "Effective Date", field: "effective_date",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "CAQH", field: "caqh",sortable: true,enableRowGroup: true,unSortIcon: true, hide:true},
             {
                 headerName: "Actions",
                 field: "actions",
                 sortable: false,
                 enableRowGroup: false,
                 filter: false,
                 cellRenderer: actionCellRendererProviderFunc,
                 maxWidth: 150,
                 minWidth: 150,
                 cellClass: 'col-Actions'
             },
         ];

         var columnAddressDefs = [
             {
                 headerName: "", field: "id1", checkboxSelection: true, filter: false, maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                 checkboxSelection: function (params) {
                     // we put checkbox on the name if we are not doing grouping
                     return params.columnApi.getRowGroupColumns().length === 0;
                 },
                 headerCheckboxSelection: function (params) {
                     // we put checkbox on the name if we are not doing grouping
                     return params.columnApi.getRowGroupColumns().length === 0;
                 }
             },
             {headerName: "Street", field: "street",sortable: true ,unSortIcon: true},
             {headerName: "City", field: "city",sortable: true ,unSortIcon: true},
             {headerName: "State", field: "state",sortable: true ,unSortIcon: true,hide:true},
             {headerName: "Zip Code", field: "zipcode",sortable: true ,unSortIcon: true,hide:true},
             {headerName: "County", field: "county",sortable: true ,unSortIcon: true},
             {headerName: "Primary", field: "primary",sortable: true ,unSortIcon: true},
             {headerName: "Billing", field: "billing",sortable: true ,unSortIcon: true},
             {headerName: "Mailing", field: "mailing",sortable: true ,unSortIcon: true},
             {headerName: "See Patients", field: "see_patients",sortable: true ,unSortIcon: true},
             {headerName: "Is Facility?", field: "is_facility",sortable: true ,unSortIcon: true},
             {headerName: "Location NPI", field: "locationnpi",sortable: true ,unSortIcon: true,hide:true},
             {headerName: "Phone", field: "phone",sortable: true ,unSortIcon: true,hide:true},
             {headerName: "Credentialed", field: "credentialed",sortable: true ,unSortIcon: true,hide:true},
             {
                 headerName: "Actions",
                 field: "actions",
                 sortable: false,
                 enableRowGroup: false,
                 filter: false,
                 cellRenderer: actionCellRendererAddressFunc,
                 maxWidth: 200,minWidth:200,
                 cellClass: 'col-Actions'
             },
         ];

         var rowData = []; //data for contacts
         var rowDataProviders=[];  //data for providers
         var rowDataAddress=[];  //data for address

         {% for contact in organizationContacts %}

         var bestsoptions=""

         {% for best in contact.getBestChoices  %}
         bestsoptions+="{{ best.name }}"+", "
         {% endfor %}
         var bestsoptions = bestsoptions.slice(0, -2)

         var obj = {
             id: "{{ contact.id }}",
             name: "{{ contact.name }}",
             {% if contact.title!=null %}
             title: "{{ contact.title.name }}",
             {% endif %}
             phone: "{{ contact.phone }}",
             mobile: "{{ contact.mobile }}",
             fax: "{{ contact.fax }}",
             email: "{{ contact.email }}",
             bests: bestsoptions
         }

         rowData.push(obj);
         {% endfor %}

         {% for organizationP in organizationProviders %}

         var obj = {
             id: "{{ organizationP.id }}",
             fullname: "{{ organizationP.first_name }} {{ organizationP.last_name }}",
             degrees: "{{ organizationP.degrees }}",
             license: "{{ organizationP.state_lic }}",
             npi: "{{ organizationP.npi_number }}",
             medicare: "{{ organizationP.medicare }}",
             medicaid: "{{ organizationP.medicaid }}",
             caqh: "{{ organizationP.caqh }}",
             cred_status: "{{ organizationP.status_cred }}",
             effective_date: "{{ organizationP.effective_date }}",
         }

         rowDataProviders.push(obj)
         {% endfor %}

         {% for address in organizationAddress %}

         var primaryStr="No"
         {% if address.PrimaryAddr %}
         primaryStr="Yes"
         {% endif %}

         var isFacilityStr="No"
         {% if address.IsFacility %}
         isFacilityStr="Yes"
         {% endif %}

         var see_patients_str="No"
         {% if address.getSeePatientsAddr %}
         see_patients_str="Yes"
         {% endif %}

         var disabled="No"
         {% if address.disabled %}
         disabled="Yes"
         {% endif %}

         var billing="No"
         {% if address.getBillingAddr %}
         billing="Yes"
         {% endif %}

         var mailing="No"
         {% if address.getMailingAddr %}
         mailing="Yes"
         {% endif %}

         var obj = {
             id: "{{ address.id }}",
             street: "{{ address.street }}",
             city : "{{ address.city }}",
             state: "{{ address.usstate }}",
             zipcode: "{{ address.zipcode }}",
             county: "{{ address.county }}",
             primary: primaryStr,
             is_facility: isFacilityStr,
             region: "{{ address.region }}",
             locationnpi: "{{ address.LocationNpi }}",
             phone: "{{ address.PhoneNumber }}",
             see_patients: see_patients_str,
             disabled: disabled,
             billing: billing,
             mailing: mailing

         }

         rowDataAddress.push(obj)
         {% endfor %}

         // let the grid know which columns and what data to use
         var gridOptions = {
             columnDefs: columnDefs,
             rowSelection: 'multiple',
             rowData: rowData,
             defaultColDef: {
                 resizable: true,
                 filter: true
             },
             animateRows: true,
             paginationAutoPageSize: false,
             paginationPageSize: 25,
             rowHeight: 30,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             floatingFilter: true,
             groupUseEntireRow: true,
             onFirstDataRendered: onFirstDataRendered,
             statusBar: {
                 statusPanels: [
                     {statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left'},
                     {statusPanel: 'agFilteredRowCountComponent'},
                     {statusPanel: 'agSelectedRowCountComponent'},
                     {statusPanel: 'agAggregationComponent'}
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },
         };

         // let the grid know which columns and what data to use
         var gridProvidersOptions = {
             columnDefs: columnProvidersDefs,
             rowSelection: 'multiple',
             rowData: rowDataProviders,
             defaultColDef: {
                 resizable: true,
                 filter: true
             },
             animateRows: true,
             pagination: true,
             paginationAutoPageSize: false,
             paginationPageSize: 25,
             rowHeight: 30,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             floatingFilter: true,
             groupUseEntireRow: true,
             onFirstDataRendered: onFirstDataRenderedProviders,
             statusBar: {
                 statusPanels: [
                     {statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left'},
                     {statusPanel: 'agFilteredRowCountComponent'},
                     {statusPanel: 'agSelectedRowCountComponent'},
                     {statusPanel: 'agAggregationComponent'}
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },
         };

         // let the grid know which columns and what data to use
         var gridAddressOptions = {
             columnDefs: columnAddressDefs,
             rowSelection: 'multiple',
             rowData: rowDataAddress,
             defaultColDef: {
                 resizable: true,
                 filter: true
             },
             animateRows: true,
             pagination: true,
             paginationAutoPageSize: false,
             paginationPageSize: 25,
             rowHeight: 30,
             floatingFilter: true,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             groupUseEntireRow: true,
             onFirstDataRendered: onFirstDataRenderedAddress,
             statusBar: {
                 statusPanels: [
                     {statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left'},
                     {statusPanel: 'agFilteredRowCountComponent'},
                     {statusPanel: 'agSelectedRowCountComponent'},
                     {statusPanel: 'agAggregationComponent'}
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },
         };

         //function to render contact main yes or not
         function mainCellRendererFunc(params){
             var main =params.data.main;

             var btn=""

             if(main==1){
                 btn='<i class="fas fa-check text-success ml-2"></i>'
             }else{
                 btn='<i class="fas fa-times text-danger ml-2"></i>'
             }

             return btn;
         }

         function onFirstDataRendered(params) {
             gridOptions.api.sizeColumnsToFit();
         }

         function onFirstDataRenderedProviders(params) {
             gridProvidersOptions.api.sizeColumnsToFit();
         }

         function onFirstDataRenderedAddress(params) {
             gridAddressOptions.api.sizeColumnsToFit();
         }

         $('.btn-contact').click(function () {
             gridOptions.api.sizeColumnsToFit();
         })

         $('.btn-providers').click(function(){
             gridProvidersOptions.api.sizeColumnsToFit();
         })

         $('.btn-address').click(function(){
             gridAddressOptions.api.sizeColumnsToFit();
         })

         $(window).resize(function () {
             gridOptions.api.sizeColumnsToFit();
             gridProvidersOptions.api.sizeColumnsToFit();
             gridAddressOptions.api.sizeColumnsToFit();
         })

         $(document).ready(function () {
             gridOptions.api.sizeColumnsToFit()
             gridProvidersOptions.api.sizeColumnsToFit()
             gridAddressOptions.api.sizeColumnsToFit()

             var instance = gridProvidersOptions.api.getFilterInstance('disabled')
             instance.selectNothing()
             instance.selectValue('No')
             instance.applyModel()
             gridProvidersOptions.api.onFilterChanged()

             var instance_addr = gridAddressOptions.api.getFilterInstance('disabled')
             instance_addr.selectNothing()
             instance_addr.selectValue('No')
             instance_addr.applyModel()
             gridAddressOptions.api.onFilterChanged()
         })

         function actionCellRendererFunc(params) {
             var id = params.data.id

             var url_view = '{{ path("new_contact_p_view") }}'+"/"+id
             var url_edit = '{{ path("new_contact_p_edit") }}'+"/"+id

             return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                 '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
         }

         function actionCellRendererProviderFunc(params) {
             var id = params.data.id

             var url_view = '{{ path("pro_new_p_view_provider") }}'+"/"+id
             var url_edit = '{{ path("pro_new_p_edit") }}'+"/"+id

             return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                 '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
         }

         function actionCellRendererAddressFunc(params) {
             var id = params.data.id

             var url_view = '{{ path("provider_billing_view") }}'+"/"+id
             var url_edit = '{{ path("provider_billing_edit") }}'+"/"+id

             return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                 '<a href="'+url_edit+'" class="btn btn-sm  bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
         }

         function viewDataProvidersAction(params){
             var id =params.data.id
             var url_view = '{{ path("admin_view_provider") }}'+"/"+id

             window.location.href = url_view;
         }

         function viewDataContactAction(params){
             var id =params.data.id
             var url_view = '{{ path("admin_view_provider") }}'+"/"+id

             window.location.href = url_view;
         }

         function viewDataAddressAction(params){
             var id =params.data.id
             var id_org ={{ document.id }};
             var url_view = '{{ path("admin_view_billing") }}'+"/"+id+"/"+id_org

             window.location.href = url_view;
         }

         function onPageSizeChanged(newPageSize) {
             var value = document.getElementById('page-size').value;
             gridOptions.api.paginationSetPageSize(Number(value));
         }

         function onPageSizeChangedProviders(newPageSize) {
             var value = document.getElementById('page-size-providers').value;
             gridProvidersOptions.api.paginationSetPageSize(Number(value));
         }

         function onFilterTextBoxChanged() {
             gridOptions.api.setQuickFilter(document.getElementById('filter-text-contacts').value);
         }

         function  onFilterTextBoxAddressChanged(){
             gridAddressOptions.api.setQuickFilter(document.getElementById('filter-address').value);
         }

         function onFilterProviderBoxChanged() {
             gridProvidersOptions.api.setQuickFilter(document.getElementById('filter-providers').value);
         }

         var gridDiv = document.querySelector('#myGrid');
         new agGrid.Grid(gridDiv, gridOptions);

         var gridDivProvides = document.querySelector('#grid_providers');
         new agGrid.Grid(gridDivProvides, gridProvidersOptions);

         var gridDivAddress = document.querySelector('#grid_address');
         new agGrid.Grid(gridDivAddress, gridAddressOptions);

         function onPageSizeChangedContact(newPageSize) {
             var value = document.getElementById('page-size-contact').value;
             gridOptions.api.paginationSetPageSize(Number(value));
         }
     </script>
 {% endblock %}
