{% extends 'base_provider.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('provider_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('provider_billing') }}" class="breadcrumb-item">Address</a>
                        <span class="breadcrumb-item active">New Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Address</span></h5>
                <div class="header-elements">
                    <a href="{{ path('provider_billing') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Address List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form action="{{ path('provider_create_billing') }}" method="POST" id="form">
                                            <input type="hidden" name="save_status" id="save_status" value="0" />
                                            <input type="hidden" name="form_step" id="form_step" value="1">
                                            <input type="hidden" name="google_adr" id="google_adr" value="" />

                                            <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                                                <li class="nav-item"><a id="tab-link1" href="#colored-rounded-tab1" class="nav-link active rounded-left" data-toggle="tab">Main Data</a></li>
                                                <li class="nav-item"><a id="tab-link2" href="#colored-rounded-tab2" class="nav-link btn-providers" data-toggle="tab">Providers by Address</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="colored-rounded-tab1">
                                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                                        <div class="card-body">
                                                            <div id="cont_step1" class="">
                                                                <div class="card">
                                                                    <div class="card-header bg-white">
                                                                        <h6 class="card-title" style="font-size: 14px;">Step 1 of 4</h6>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                        <div class="col-12 col-md-9">
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Street:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="street" id="street" placeholder="Street">
                                                                                       <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_street" style="display: none;">
                                                                                           <span class="font-weight-semibold">Please fill out this field!</span>
                                                                                       </div>
                                                                                   </div>
                                                                               </div>
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Suite number:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="suite_number" placeholder="Suite number" id="suite_number">
                                                                                   </div>
                                                                               </div>
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label">City:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="city" id="city" placeholder="City">
                                                                                   </div>
                                                                               </div>
                                                                            <div class="form-group row mt-4">
                                                                                <label class="col-lg-2 col-form-label">County:</label>
                                                                                <div class="col-lg-10">
                                                                                    <input type="text" class="form-control" name="county" id="county" placeholder="County">
                                                                                </div>
                                                                            </div>
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label">Us state:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="state" id="state" placeholder="Us state">
                                                                                   </div>
                                                                               </div>
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label">Zip code:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="zip_code" id="zip_code" placeholder="Zip code">
                                                                                   </div>
                                                                               </div>
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label">Country:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="country" id="country" placeholder="Country">
                                                                                   </div>
                                                                               </div>
                                                                               <div class="form-group row mt-4">
                                                                                   <label class="col-lg-2 col-form-label">Phone number:</label>
                                                                                   <div class="col-lg-10">
                                                                                       <input type="text" class="form-control" name="phone_number" id="phone_number" data-mask="999-999-9999" placeholder="Phone number">
                                                                                   </div>
                                                                               </div>
                                                                           </div>
                                                                            <div class="col-12">
                                                                                <div class="row">
                                                                                    <label class="col-12 col-form-label">Hours of operation for this location:</label>
                                                                                    <div class="col-12 col-md-12">
                                                                                        <div class="grid-col-days">
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-mon">Mon</button>
                                                                                                <div class="cont-hours" id="hours-mon">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_mon_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_mon_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-tue">Tue</button>
                                                                                                <div class="cont-hours" id="hours-tue">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_tue_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_tue_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-wed">Wed</button>
                                                                                                <div class="cont-hours" id="hours-wed">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_wed_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_wed_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-thu">Thu</button>
                                                                                                <div class="cont-hours" id="hours-thu">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_thu_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_thu_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-fri">Fri</button>
                                                                                                <div class="cont-hours" id="hours-fri">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_fri_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_fri_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-danger border-danger-800 border-2 btn-lg btn-days" id="btn-hours-sat">Sat</button>
                                                                                                <div class="cont-hours" id="hours-sat" style="display: none">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_sat_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_sat_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="item">
                                                                                                <button type="button" class="btn btn-danger border-danger-800 border-2 btn-lg btn-days" id="btn-hours-sun">Sun</button>
                                                                                                <div class="cont-hours" id="hours-sun" style="display: none">
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_sun_start'}) }}
                                                                                                    </div>
                                                                                                    <div class="mt-2">
                                                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_sun_end'}) }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                       </div>
                                                                    </div>
                                                                    <div class="card-footer bg-white d-flex justify-content-end align-items-center">
                                                                        <button type="button" class="btn bg-blue" id="btn-step-1">Save and continue <i class="fas fa-angle-right"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="cont_step2" class="" style="display: none">
                                                                <div class="card">
                                                                    <div class="card-header bg-white">
                                                                        <h6 class="card-title" style="font-size: 14px;">Step 2 of 4</h6>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group row">
                                                                                    <label class="col-12 col-form-label form-group">Service settings:</label>
                                                                                    <div class="col-4">
                                                                                        <div class="row">
                                                                                            {% set c=1 %}
                                                                                            {% for serviceSetting in serviceSettings %}
                                                                                                {% if c<=serviceSettings_first_column_elements %}
                                                                                                <div class="col-12 form-group">
                                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                                        <input type="checkbox" class="custom-control-input" name="servicesettings" id="servicesettings_{{ serviceSetting.id }}" value="{{ serviceSetting.id }}">
                                                                                                        <label class="custom-control-label" for="servicesettings_{{ serviceSetting.id }}">{{ serviceSetting.name }}</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                {% endif %}
                                                                                                {% set c=c+1 %}
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-4">
                                                                                        <div class="row">
                                                                                            {% set c=1 %}
                                                                                            {% for serviceSetting in serviceSettings %}
                                                                                                {% if c >serviceSettings_first_column_elements and c<= serviceSettings_first_column_elements+serviceSettings_rest_columns_element %}
                                                                                                <div class="col-12 form-group">
                                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                                        <input type="checkbox" class="custom-control-input" name="servicesettings" id="servicesettings_{{ serviceSetting.id }}" value="{{ serviceSetting.id }}">
                                                                                                        <label class="custom-control-label" for="servicesettings_{{ serviceSetting.id }}">{{ serviceSetting.name }}</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                {% endif %}
                                                                                                {% set c=c+1 %}
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-4">
                                                                                        <div class="row">
                                                                                            {% set c=1 %}
                                                                                            {% for serviceSetting in serviceSettings %}
                                                                                                {% if c >(totalserviceSettings-serviceSettings_rest_columns_element) %}
                                                                                                <div class="col-12 form-group">
                                                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                                                        <input type="checkbox" class="custom-control-input" name="servicesettings" id="servicesettings_{{ serviceSetting.id }}" value="{{ serviceSetting.id }}">
                                                                                                        <label class="custom-control-label" for="servicesettings_{{ serviceSetting.id }}">{{ serviceSetting.name }}</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                {% endif %}
                                                                                                {% set c=c+1 %}
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                                                                        <button type="button" class="btn bg-indigo-400 text-indigo-400 border-indigo-400" id="btn-back-2"><i class="fas fa-angle-left"></i> Back</button>
                                                                        <button type="button" class="btn bg-blue" id="btn-step-2">Save and continue <i class="fas fa-angle-right"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="cont_step3" class="" style="display: none">
                                                                <div class="card">
                                                                    <div class="card-header bg-white">
                                                                        <h6 class="card-title" style="font-size: 14px;">Step 3 of 4</h6>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-12 col-md-9">
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Number of Beds:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="number" class="form-control" name="number_of_beds" id="number_of_beds" min="0" value="0">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Location NPI:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="location_npi" id="location_npi" placeholder="Location NPI">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Location NPI2:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="location_npi2" id="location_npi2" placeholder="Location NPI2">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Group medicaid:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="group_medicaid" id="group_medicaid" placeholder="Group medicaid">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Group medicare:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="group_medicare" id="group_medicare" placeholder="Group medicare">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Taxonomy code:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="taxonomy_code" id="taxonomy_code" placeholder="Taxonomy code">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Office age limit min:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="limit_age_min" id="limit_age_min" placeholder="Office age limit min">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row mt-4">
                                                                                    <label class="col-lg-2 col-form-label">Office age limit max:</label>
                                                                                    <div class="col-lg-10">
                                                                                        <input type="text" class="form-control" name="limit_age_max" id="limit_age_max" placeholder="Office age limit max">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                                                                        <button type="button" class="btn bg-indigo-400 text-indigo-400 border-indigo-400" id="btn-back-3"><i class="fas fa-angle-left"></i> Back</button>
                                                                        <button type="button" class="btn bg-blue" id="btn-step-3">Save and continue <i class="fas fa-angle-right"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="cont_step4" class="" style="display: none">
                                                                <div class="card">
                                                                    <div class="card-header bg-white">
                                                                        <h6 class="card-title" style="font-size: 14px;">Step 4 of 4</h6>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">Wheelchair accessibility?:</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="wheelchair_accessibility" value="1" id="wheelchair_accessibility_yes">
                                                                                            <label class="custom-control-label" for="wheelchair_accessibility_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="wheelchair_accessibility" value="0" id="wheelchair_accessibility_no">
                                                                                            <label class="custom-control-label" for="wheelchair_accessibility_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">TDD?:</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="tdd" value="1" id="tdd_yes">
                                                                                            <label class="custom-control-label" for="tdd_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="tdd" value="0" id="tdd_no">
                                                                                            <label class="custom-control-label" for="tdd_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 form-group sr-only" id="cont_tdd_number">
                                                                                        <div class="row">
                                                                                            <label class="col-12 col-form-label">TDD phone number:</label>
                                                                                            <div class="col-lg-6">
                                                                                                <input type="text" placeholder="TDD phone number" class="form-control" name="tdd_number" id="tdd_number" data-mask="999-999-9999">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">Private provider transportation?</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="private_provider_transportation" value="1" id="private_provider_transportation_yes">
                                                                                            <label class="custom-control-label" for="private_provider_transportation_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="private_provider_transportation" value="0" id="private_provider_transportation_no">
                                                                                            <label class="custom-control-label" for="private_provider_transportation_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">Is this your primary address?</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_primary_address" value="1" id="is_primary_address_yes">
                                                                                            <label class="custom-control-label" for="is_primary_address_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_primary_address" value="0" id="is_primary_address_no">
                                                                                            <label class="custom-control-label" for="is_primary_address_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">Is this your billing address?</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_billing_address" value="1" id="is_billing_address_yes">
                                                                                            <label class="custom-control-label" for="is_billing_address_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_billing_address" value="0" id="is_billing_address_no">
                                                                                            <label class="custom-control-label" for="is_billing_address_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">Is this your mailing address?</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_mailing_address" value="1" id="is_mailing_address_yes">
                                                                                            <label class="custom-control-label" for="is_mailing_address_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_mailing_address" value="0" id="is_mailing_address_no">
                                                                                            <label class="custom-control-label" for="is_mailing_address_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <label class="col-lg-2 col-form-label">Is facility?</label>
                                                                                    <div class="col-10 pt-1">
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_facility" value="1" id="is_facility_yes">
                                                                                            <label class="custom-control-label" for="is_facility_yes">Yes</label>
                                                                                        </div>
                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                            <input type="radio" class="custom-control-input" name="is_facility" value="0" id="is_facility_no">
                                                                                            <label class="custom-control-label" for="is_facility_no">No</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div id="cont-is-facility" class="col-12 form-group" style="display: none;">
                                                                                        <div class="form-group row">
                                                                                            <label class="col-12 col-form-label form-group">Facility type:</label>
                                                                                            <div class="col-4">
                                                                                                <div class="row">
                                                                                                    {% set c=1 %}
                                                                                                    {% for facility in facilityType %}
                                                                                                        {% if c<=facilityType_first_column_elements %}
                                                                                                        <div class="col-12 form-group">
                                                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                                                <input type="checkbox" class="custom-control-input" name="facilityTypes" id="facility_{{ facility.id }}" value="{{ facility.id }}">
                                                                                                                <label class="custom-control-label" for="facility_{{ facility.id }}">{{ facility.name }}</label>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        {% endif %}
                                                                                                        {% set c=c+1 %}
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                <div class="row">
                                                                                                    {% set c=1 %}
                                                                                                    {% for facility in facilityType %}
                                                                                                        {% if c >facilityType_first_column_elements and c<= facilityType_first_column_elements+facilityType_rest_columns_element%}
                                                                                                        <div class="col-12 form-group">
                                                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                                                <input type="checkbox" class="custom-control-input" name="facilityTypes" id="facility_{{ facility.id }}" value="{{ facility.id }}">
                                                                                                                <label class="custom-control-label" for="facility_{{ facility.id }}">{{ facility.name }}</label>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        {% endif %}
                                                                                                        {% set c=c+1 %}
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                <div class="row">
                                                                                                    {% set c=1 %}
                                                                                                    {% for facility in facilityType %}
                                                                                                        {% if c >(totalfacilityType-facilityType_rest_columns_element) %}
                                                                                                        <div class="col-12 form-group">
                                                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                                                <input type="checkbox" class="custom-control-input" name="facilityTypes" id="facility_{{ facility.id }}" value="{{ facility.id }}">
                                                                                                                <label class="custom-control-label" for="facility_{{ facility.id }}">{{ facility.name }}</label>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        {% endif %}
                                                                                                        {% set c=c+1 %}
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row mt-4">
                                                                                            <label class="col-lg-2 col-form-label">Facility number:</label>
                                                                                            <div class="col-lg-10">
                                                                                                <input type="text" class="form-control" name="facility_number" id="facility_number" placeholder="Facility number">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row mt-4">
                                                                                            <label class="col-lg-2 col-form-label">Facility exemption number:</label>
                                                                                            <div class="col-lg-10">
                                                                                                <input type="text" class="form-control" name="facility_exemption_number" id="facility_exemption_number" placeholder="Facility exemption number">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                                                                        <button type="button" class="btn bg-indigo-400 text-indigo-400 border-indigo-400" id="btn-back-4"><i class="fas fa-angle-left"></i> Back</button>
                                                                        <a href="#" class="btn bg-blue" id="btn-step-4">Save and Finish <i class="fas fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="colored-rounded-tab2">
                                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Providers by address</span></h5>
                                                                </div>
                                                                <div class="col-6 col-xs-12">
                                                                    <div class="form-group form-group-feedback form-group-feedback-left">
                                                                        <input type="text" class="form-control form-control-sm" id="filter-provider" placeholder="Type to Filter...">
                                                                        <div class="form-control-feedback form-control-feedback-sm">
                                                                            <i class="fas fa-search"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 col-xs-12 text-right pr-2">
                                                                    <a href="#" class="btn btn-sm btn-success btn-select-all"><i class="far fa-check-circle"></i> Select All</a>
                                                                    <a href="#" class="btn btn-sm btn-danger btn-deselect-all"><i class="far fa-times-circle"></i> Deselect All</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-12 col-form-label form-group">Providers:</label>
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                {% for provider in providers %}
                                                                                    <div class="col-4 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" data-id="{{ provider.id }}" class="custom-control-input" name="providers" id="providers_{{ provider.id }}" value="{{ provider.id }}">
                                                                                            <label class="custom-control-label" for="providers_{{ provider.id }}">{{ provider.fullname }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <a href="{{ path('provider_billing') }}" class="btn btn-info bnt-send-p-a mr-1"><i class="fas fa-save"></i> Save Address</a>
                                                                        <a href="#"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
    .select2-container{
        width: 80%;
    }
</style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link_provider_address').addClass('active')
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#dateofbirth').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('.select').select2({
                 minimumResultsForSearch: Infinity
             });

             $('#save_schema_yes').click(function(){
                $('#cont_schema_name').removeClass('sr-only')
             })

             $('#save_schema_no').click(function(){
                 $('#cont_schema_name').addClass('sr-only')
                 $('#schema_name').val('')
             })

             $('#is_facility_yes').click(function(){
                 $('#cont-is-facility').fadeIn(400)
             })

             $('#is_facility_no').click(function(){
                 $('#cont-is-facility').fadeOut(400)

                 $('#facility_number').val('')
                 $('#facility_exemption_number').val('')

                 var facilityTypesChecked= $('input[name=facilityTypes]')

                 if(facilityTypesChecked){
                     facilityTypesChecked.each(function (index, $this) {
                         var facilityType = $(this);

                         if (facilityType.is(':checked')) {
                             facilityType.prop('checked',false)
                         }
                     });
                 }
             })


             $('#tdd_yes').click(function(){
                 $('#cont_tdd_number').removeClass('sr-only')
             })

             $('#tdd_no').click(function(){
                 $('#cont_tdd_number').addClass('sr-only')
                 $('#tdd_number').val('')
             })

             //save privder by Address
             $('.bnt-send-p-a').click(function(e){


                 var providerSelected = "";
                 var providers = $('input[name=providers]');

                 providers.each(function (index, $this) {
                     var provider = $(this);

                     if (provider.is(':checked')) {
                         providerSelected += provider.val() + ",";
                     }
                 });

                 if(providerSelected!=""){

                     var save_status= $('#save_status').val()

                     var data = {
                         form_step: 6,
                         providerSelected: providerSelected,
                         save_status: save_status
                     }

                     var url = $('#form').attr('action')
                     $.post(url, data, function (result) {

                     })
                 }

             })

             $('.btn-days').click(function(){
                 var btn=$(this)

                 var divH=btn.siblings('div')
                 var id="#"+divH.attr('id')
                 var cont_hours=$(id)

                 if(btn.hasClass('active')){
                     btn.removeClass('active')
                     btn.removeClass('btn-success')
                     btn.removeClass('border-success-800')
                     btn.addClass('btn-danger')
                     btn.addClass('border-danger-800')
                     cont_hours.fadeOut(400)
                 }else{
                     btn.addClass('active')
                     btn.addClass('btn-success')
                     btn.addClass('border-success-800')
                     btn.removeClass('btn-danger')
                     btn.removeClass('border-danger-800')
                     cont_hours.fadeIn(400)
                 }
             })

             $('.btn-select-all').click(function(e){
                 e.preventDefault()
                 var checks=$('.custom-control-input');
                 checks.each(function(){
                   var check=$(this)
                   check.prop('checked',true)
                })
             })

             $('.btn-deselect-all').click(function(e){
                 e.preventDefault()
                 var checks=$('.custom-control-input');
                 checks.each(function(){
                     var check=$(this)
                     check.prop('checked',false)
                 })
             })

         });

         $('#filter-provider').keyup(function(e){
            var filter=$(this).val()

           if(filter!=""){
               var checks=$('.custom-control-input');

               checks.each(function(){
                   var check=$(this)
                   var id_check=check.data('id')

                   var div=check.parent('div').parent('div')

                   if(filterProvider(filter,id_check)==1){
                       div.removeClass('sr-only')
                   }else{
                       div.addClass('sr-only')
                   }
               })

           }else{
               var checks=$('.custom-control-input');

               checks.each(function(){
                   var check=$(this)
                   var div=check.parent('div').parent('div')
                   div.removeClass('sr-only')
               })
           }


         })


         function  filterProvider(str,id_check){
             var exist=0
             {% for provider in providers %}
             var name="{{ provider.fullname }}"
             str=str.toLowerCase()
             name=name.toLowerCase()

             if((name.indexOf(str)!=-1) && id_check=={{ provider.id }}){
                 exist=1
             }

             {% endfor %}

             return exist
         }

         $('#btn-step-1').click(function(){

             //valdiate step 1
             var next=1
             var org=$('#org').val()

             var street=$('#street')
             var error_street =$('#error_street')

             var suite_number=$('#suite_number')

             if(street.val()==""){
                 next=0
                 error_street.fadeIn(500)
                 street.focus()
             }else{
                 error_street.fadeOut(500)
             }

             if(next==1){
                 //save data on database
                var form_step=$('#form_step').val()
                var business_hours=$('#business_hours')

                var  business_hours_data="["

                var  btn_hours_mon=$('#btn-hours-mon')
                var  btn_hours_tue=$('#btn-hours-tue')
                var  btn_hours_wed=$('#btn-hours-wed')
                var  btn_hours_thu=$('#btn-hours-thu')
                var  btn_hours_fri=$('#btn-hours-fri')
                var  btn_hours_sat=$('#btn-hours-sat')
                var  btn_hours_sun=$('#btn-hours-sun')

                var option1=''

                 //Mon
                if(btn_hours_mon.hasClass('active')){
                    var start=$('#hours_mon_start').val()
                    var end=$('#hours_mon_end').val()
                    option1='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"},'
                }else{
                    option1='{"isActive":false,"timeFrom":null,"timeTill":null},'
                }
                business_hours_data+=option1

                 var option2=''

                 // Tue
                 if(btn_hours_tue.hasClass('active')){
                     start=$('#hours_tue_start').val()
                     end=$('#hours_tue_end').val()
                     option2='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"},'
                 }else{
                     option2='{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }

                 business_hours_data+=option2

                 // wed
                 var option3=''
                 if(btn_hours_wed.hasClass('active')){
                     start=$('#hours_wed_start').val()
                     end=$('#hours_wed_end').val()
                     option3='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"},'
                 }else{
                     option3='{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data+=option3

                 // Thu
                 var option4=''

                 if(btn_hours_thu.hasClass('active')){
                     start=$('#hours_thu_start').val()
                     end=$('#hours_thu_end').val()
                     option4='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"},'
                 }else{
                     option4='{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data+=option4

                 // Fri
                 var option5=''

                 if(btn_hours_fri.hasClass('active')){
                     start=$('#hours_fri_start').val()
                     end=$('#hours_fri_end').val()
                     option5='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"},'
                 }else{
                     option5='{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data+=option5

                 // Sat
                 var option6=''

                 if(btn_hours_sat.hasClass('active')){
                     start=$('#hours_sat_start').val()
                     end=$('#hours_sat_end').val()
                     option6='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"},'
                 }else{
                     option6='{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data+=option6

                 // Sun
                 var option7=''

                 if(btn_hours_sun.hasClass('active')){
                     start=$('#hours_sun_start').val()
                     end=$('#hours_sun_end').val()
                     option7='{"isActive":true,"timeFrom":"'+start+'","timeTill":"'+end+'"}'
                 }else{
                     option7='{"isActive":false,"timeFrom":null,"timeTill":null}'
                 }
                 business_hours_data+=option7
                 business_hours_data+=']'


                 var url=$('#form').attr('action')
                 var  street=$('#street').val()
                 var  suite_number=$('#suite_number').val()
                 var city=$('#city').val()
                 var state=$('#state').val()
                 var zip_code=$('#zip_code').val()
                 var country=$('#country').val()
                 var phone=$('#phone_number').val()

                 var save_status=$('#save_status').val()
                 var form_step=$('#form_step').val()

                 var data={
                     business_hours_data: business_hours_data,
                     street: street,
                     suite_number: suite_number,
                     save_status: save_status,
                     form_step: 1,
                     city: city,
                     state: state,
                     zip_code: zip_code,
                     country: country,
                     phone: phone,
                     org: org
                 }

                 if(suite_number=="" && street!=""){
                     bootbox.dialog({
                         message: 'The Suite number are mandatory. Are you sure to Continue?',
                         title: 'Suite number confirm!',
                         buttons: {
                             success: {
                                 label: '<i class="fas fa-check"></i> Continue',
                                 className: 'btn-success',
                                 callback: function() {
                                     $.post(url, data, function (result) {
                                         $('#save_status').val(result.id)
                                     })

                                     $('#cont_step1').fadeOut(0)
                                     $('#cont_step2').fadeIn(500)
                                 }
                             },
                             danger: {
                                 label: '<i class="far fa-edit"></i> Complete  Field',
                                 className: 'btn-info',
                                 callback: function() {
                                    $('#suite_number').focus()
                                 }
                             }
                         }

                     });
                 }
                 if(suite_number!="" && street!=""){
                     $.post(url, data, function (result) {
                         $('#save_status').val(result.id)
                     })

                     $('#cont_step1').fadeOut(0)
                     $('#cont_step2').fadeIn(500)
                 }
             }

         })

         $('#btn-step-2').click(function(){

             $('#form_step').val(2)

             var serviceSelected = "";
             var services = $('input[name=servicesettings]');

             services.each(function (index, $this) {
                 var service = $(this);

                 if (service.is(':checked')) {
                     serviceSelected += service.val() + ",";
                 }
             });

             if(serviceSelected!=""){

                 var save_status= $('#save_status').val()

                 var data = {
                     form_step: 2,
                     serviceSelected: serviceSelected,
                     save_status: save_status
                 }

                 var url = $('#form').attr('action')
                 $.post(url, data, function (result) {

                 })
             }

             $('#cont_step2').fadeOut(0)
             $('#cont_step3').fadeIn(500)
         })

         $('#btn-step-3').click(function(){
             $('#form_step').val(3)

             var save_status= $('#save_status').val()
             var number_of_beds=$('#number_of_beds').val()
             var location_npi=$('#location_npi').val()
             var location_npi2=$('#location_npi2').val()
             var group_medicaid=$('#group_medicaid').val()
             var group_medicare=$('#group_medicare').val()
             var taxonomy_code=$('#taxonomy_code').val()
             var limit_age_min=$('#limit_age_min').val()
             var limit_age_max=$('#limit_age_max').val()

             var data = {
                 form_step: 3,
                 save_status: save_status,
                 number_of_beds: number_of_beds,
                 location_npi: location_npi,
                 location_npi2: location_npi2,
                 group_medicaid: group_medicaid,
                 group_medicare: group_medicare,
                 taxonomy_code: taxonomy_code,
                 limit_age_min: limit_age_min,
                 limit_age_max: limit_age_max
             }

             var url = $('#form').attr('action')
             $.post(url, data, function (result) {

             })

             $('#cont_step3').fadeOut(0)
             $('#cont_step4').fadeIn(500)
         })

         $('#btn-step-4').click(function(){

             $('#form_step').val(4)
             var save_status= $('#save_status').val()

             var wheelchair_accessibility=0
             var tdd=0
             var private_provider_transportation=0
             var is_primary_address=0
             var is_billing_address=0
             var is_mailing_address=0
             var is_facility=0

             if($('#wheelchair_accessibility_yes').is(':checked')){
                 wheelchair_accessibility=1
             }
             if($('#tdd_yes').is(':checked')){
                 tdd=1
             }
             if($('#private_provider_transportation_yes').is(':checked')){
                 private_provider_transportation=1
             }
             if($('#is_primary_address_yes').is(':checked')){
                 is_primary_address=1
             }
             if($('#is_billing_address_yes').is(':checked')){
                 is_billing_address=1
             }
             if($('#is_mailing_address_yes').is(':checked')){
                 is_mailing_address=1
             }
             if($('#is_facility_yes').is(':checked')){
                 is_facility=1
             }

             var facilityTypesSelected = "";
             var facilities = $('input[name=facilityTypes]');

             facilities.each(function (index, $this) {
                 var facility = $(this);

                 if (facility.is(':checked')) {
                     facilityTypesSelected += facility.val() + ",";
                 }
             });

             var facility_number=$('#facility_number').val()
             var facility_exemption_number=$('#facility_exemption_number').val()
             var tdd_number=$('#tdd_number').val()

             var data = {
                 form_step: 4,
                 save_status: save_status,
                 wheelchair_accessibility:wheelchair_accessibility,
                 tdd: tdd,
                 tdd_number: tdd_number,
                 private_provider_transportation: private_provider_transportation,
                 is_primary_address: is_primary_address,
                 is_billing_address: is_billing_address,
                 is_mailing_address: is_mailing_address,
                 is_facility: is_facility,
                 facilityTypesSelected: facilityTypesSelected,
                 facility_number: facility_number,
                 facility_exemption_number: facility_exemption_number
             }

             console.log(data)

             var url = $('#form').attr('action')

             $.post(url, data, function (result) {

                 $('#colored-rounded-tab1').removeClass('active')
                 $('#colored-rounded-tab1').removeClass('show')
                 $('#colored-rounded-tab2').addClass('active')
                 $('#colored-rounded-tab2').addClass('show')

                 $('#tab-link1').removeClass('active')
                 $('#tab-link2').addClass('active')
             })


         })

         $('#btn-back-2').click(function(){
             $('#cont_step1').fadeIn(500)
             $('#cont_step2').fadeOut(0)
         })
         $('#btn-back-3').click(function(){
             $('#cont_step2').fadeIn(500)
             $('#cont_step3').fadeOut(0)
         })
         $('#btn-back-4').click(function(){
             $('#cont_step3').fadeIn(500)
             $('#cont_step4').fadeOut(0)
         })


        //autocomplete procedure
         var placeSearch, autocomplete;
         var componentForm = {
             street_number: 'long_name',
             route: 'long_name',
             locality: 'long_name',
             administrative_area_level_1: 'short_name',
             administrative_area_level_2 : 'long_name',
             country: 'long_name',
             postal_code: 'short_name'
         };

         var ids = {
             street_number: 'street',
             route: 'street',
             locality: 'city',
             administrative_area_level_1: 'state',
             administrative_area_level_2 : 'county',
             country: 'country',
             postal_code: 'zip_code',
         };
/*
         function initAutocomplete() {
             // Create the autocomplete object, restricting the search to geographical
             // location types.
             autocomplete = new google.maps.places.Autocomplete(
                 (document.getElementById('street')),
                 {types: ['geocode']});

             // When the user selects an address from the dropdown, populate the address
             // fields in the form.
             autocomplete.addListener('place_changed', fillInAddress);
         }*/

         function fillInAddress() {
             // Get the place details from the autocomplete object.
             var place = autocomplete.getPlace();


             for (var component in componentForm) {
                 document.getElementById(ids[component]).value = '';
                 document.getElementById(ids[component]).readOnly = false;
             }

             // Get each component of the address from the place details
             // and fill the corresponding field on the form.
             //console.log(place);
             var full_addr = '';
             for (var i = 0; i < place.address_components.length; i++) {
                 var addressType = place.address_components[i].types[0];
                 if (componentForm[addressType]) {
                     var val = place.address_components[i][componentForm[addressType]];
                     if(addressType =='street_number' || addressType == 'route'){
                         if(full_addr ==''){
                             full_addr += val;
                         }else{
                             full_addr += ' '+val;
                         }
                     } else if (addressType == 'administrative_area_level_2'){
                         document.getElementById(ids[addressType]).value = (val != null && val != undefined) ? val.replace(/\sCounty/i, '') : '';
                     } else {
                         document.getElementById(ids[addressType]).value = val;
                     }
                 }

             }
             document.getElementById('street').value = full_addr;

             if(place.formatted_address){
                 document.getElementById('google_adr').value = place.formatted_address;
             }

             var filledCounty = document.querySelector('#county').value;
             if (filledCounty.value != '') {
                 var filledRegion = findRegion(filledCounty.toLowerCase().replace(/county/g, ''));

                 if (filledRegion != null) {
                     document.querySelector('#region').value = filledRegion;
                 }
             }
         }

         // as supplied by the browser's 'navigator.geolocation' object.
         function geolocate() {
             if (navigator.geolocation) {
                 navigator.geolocation.getCurrentPosition(function(position) {
                     var geolocation = {
                         lat: position.coords.latitude,
                         lng: position.coords.longitude
                     };
                     var circle = new google.maps.Circle({
                         center: geolocation,
                         radius: position.coords.accuracy
                     });
                     autocomplete.setBounds(circle.getBounds());
                 });
             }
         }

         function findRegion(county) {
             var regionsAndCounties = [
                 { region: 1, counties: ['Escambia', 'Okaloosa', 'Santa Rosa', 'Walton'] },
                 { region: 2, counties: ['Bay', 'Calhoun', 'Franklin', 'Gadsden', 'Gulf', 'Holmes', 'Jackson', 'Jefferson', 'Leon', 'Liberty', 'Madison', 'Taylor', 'Wakulla', 'Washington'] },
                 { region: 3, counties: ['Alachua', 'Bradford', 'Citrus', 'Columbia', 'Dixie', 'Gilchrist', 'Hamilton', 'Hernando', 'Lafayette', 'Lake', 'Levy', 'Marion', 'Putnam', 'Sumter', 'Suwannee', 'Union'] },
                 { region: 4, counties: ['Baker', 'Clay', 'Duval', 'Flagler', 'Nassau', 'St. Johns', 'Volusia'] },
                 { region: 5, counties: ['Pasco', 'Pinellas'] },
                 { region: 6, counties: ['Hardee', 'Highlands', 'Hillsborough', 'Manatee', 'Polk'] },
                 { region: 7, counties: ['Brevard', 'Orange', 'Osceola', 'Seminole'] },
                 { region: 8, counties: ['Charlotte', 'Collier', 'DeSoto', 'Glades', 'Hendry', 'Lee', 'Sarasota'] },
                 { region: 9, counties: ['Indian River', 'Martin', 'Okeechobee', 'Palm Beach', 'St. Lucie'] },
                 { region: 10, counties: ['Broward'] },
                 { region: 11, counties: ['Miami-Dade', 'Monroe'] }
             ];

             var region = null;

             for (var regionObj of regionsAndCounties) {
                 for (var regionCounty of regionObj.counties) {
                     if(str_contains(regionCounty, county)) {
                         region = regionObj.region;
                         break;
                     }
                 }

                 if (region != null) {
                     break;
                 }
             }

             return region;
         }

         function str_contains(text, search) {
             return str_flatten(text).indexOf(str_flatten(search)) != -1;
         }

         function str_flatten(text) {
             return text.replace(/[^\w]*/g, '').toLowerCase();
         }
     </script>

 {% endblock %}
