{% extends 'base_provider.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('provider_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Address Book</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Address Book</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                    </div>
                    <div class="col-6 col-xs-12 text-right pr-2">
                        <a href="{{ path('provider_new_billing') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Address</a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                         <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('cvo/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/address_p/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            $('#link_provider_address').addClass('active')
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 2000)

            var h=$(window).height()-350
            $('#myGrid').css('height',h)
        });

        var columnDefs = [
            {headerName: "Street", field: "street",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "City", field: "city",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "State", field: "state",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "County", field: "county",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Primary",field: "primary",sortable: false,enableRowGroup: false,filter:false,cellRenderer: enabledCellRendererFunc,maxWidth:200},
            {headerName: "Location NPI", field: "npi",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Phone number", field: "phone",sortable: true,enableRowGroup: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for billing in billing_address %}
        var obj={
            id:"{{ billing.id }}",
            street: "{{ billing.street }}",
            city: "{{ billing.city }}",
            state: "{{ billing.usstate }}",
            county: "{{ billing.county }}",
            npi: "{{ billing.getLocationNpi }}",
            primary: "{{ billing.getPrimaryAddr }}",
            phone: "{{ billing.getPhoneNumber }}"
        }

        rowData.push(obj);
        {% endfor %}


        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function enabledCellRendererFunc(params){
            var main =params.data.primary;

            var btn=""

            if(main){
                btn='<i class="fas fa-check text-success ml-2"></i>'
            }else{
                btn='<i class="fas fa-times text-danger ml-2"></i>'
            }

            return btn;
        }


        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("provider_view_billing") }}'+"/"+id
            var url_edit = '{{ path("provider_edit_billing") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function viewDataAction(params){
            var id =params.data.id
            var url_view = '{{ path("provider_view_billing") }}'+"/"+id

            window.location.href = url_view;
        }

        function countryCellRenderer(params) {
            return params.value.name + ' (' + params.value.code + ')';
        }

        function countryKeyCreator(params) {
            var countryObject = params.value;
            var key = countryObject.name;
            return key;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
