{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Address Advance Report</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12 text-right">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000);

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('#link-group-report').addClass('nav-item-expanded')
            $('#link-group-report').addClass('nav-item-open')
            $('#link-menu-agbilling').addClass('active')
        });

        // specify the columns
        var columnDefs = [
            {headerName: "", field: "id",checkboxSelection: true,filter: false,resizable: false,width:60,suppressMovable: true,

                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Organization Name", field: "OrganizationName",sortable: true, unSortIcon: true,enableRowGroup: true,hide:false},
            {headerName: "Street", field: "street",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},

            {headerName: "Zip Code", field: "zipcode",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "City", field: "city",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "County", field: "county",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "Suite Number", field: "SuiteNumber",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Region", field: "Region",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "State", field: "UsState",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "Phone Number", field: "PhoneNumber",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Facility number", field: "FacilityNumber",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Facility Exemption Number", field: "facility_exemption_number",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Wheelchair Accessibility", field: "wheelchair",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Location NPI", field: "location_npi",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Group Medicaid", field: "group_medicaid",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Group Medicare", field: "group_medicare",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Taxonomies", field: "taxonomies",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Office Age Limit Min", field: "office_age_limit",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Office Age Limit Max", field: "office_age_limit_max",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Lat", field: "lat",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Lng", field: "lng",sortable: true, unSortIcon: true,hide:true},
            {headerName: "TDD", field: "tdd",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Service Settings", field: "settings",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true, hide:true},
            {headerName: "Private Provider Transportation", field: "private_provider_transportation",sortable: true, unSortIcon: true,hide:true,enableRowGroup: true},
            {headerName: "Is this your Primary Address", field: "primary_addr",sortable: true, unSortIcon: true,hide:true,enableRowGroup: true},
            {headerName: "Is this your Billing Address", field: "billing_addr",sortable: true, unSortIcon: true,hide:true,enableRowGroup: true},
            {headerName: "Is this your Mailing Address", field: "mailing_addr",sortable: true, unSortIcon: true,hide:true,enableRowGroup: true},
            {headerName: "Is Facility", field: "IsFacility",sortable: true, unSortIcon: true,hide:false,enableRowGroup: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:160,minWidth:160,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% set a=0 %}
        {% for address in billings %}

        var obj={
            id: "{{ address.id }}",
            OrganizationName: "{{  address.organization }}",
            street: "{{ address.street }}",
            settings: "{{ address.service_settings }}",
            zipcode: "{{ address.zip_code }}",
            city: "{{ address.city }}",
            county: "{{ address.county }}",
            SuiteNumber: "{{ address.suite_number }}",
            Region: "{{ address.region }}",
            UsState: "{{ address.us_state }}",
            FacilityNumber: "{{ address.facility_number }}",
            IsFacility: "{{ address.is_facility }}",
            facility_exemption_number: "{{ address.facility_exemption_number }}",
            wheelchair: "{{ address.wheelchair }}",
            location_npi: "{{ address.location_npi }}",
            group_medicaid: "{{ address.group_medicaid }}",
            group_medicare: "{{ address.group_medicare }}",
            taxonomies: "{{ address.taxonomies }}",
            office_age_limit: "{{ address.office_age_limit }}",
            office_age_limit_max: "{{ address.office_age_limit_max }}",
            lat: "{{ address.lat }}",
            lng: "{{ address.lng }}",
            tdd: "{{ address.tdd }}",
            private_provider_transportation: "{{ address.private_provider_transportation }}",
            primary_addr: "{{ address.primary_addr }}",
            mailing_addr: "{{ address.mailing_addr }}",
            billing_addr: "{{ address.billing_addr }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:32,
            rowSelection: 'multiple',
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                })
            }else{
                var progressBar=$('#progress_delete');
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                var url="/admin/provider/delete_multiple";

                bootbox.dialog({
                    message: 'Are you sure?',
                    title: 'Delete Providers Selected',
                    buttons: {
                        success: {
                            label: '<i class="fas fa-ban"></i> Cancel',
                            className: 'btn-success',
                            callback: function() {

                            }
                        },
                        danger: {
                            label: '<i class="far fa-trash-alt"></i> Delete Selected',
                            className: 'btn-danger',
                            callback: function() {

                                progressBar.removeClass('sr-only')
                                $.post(url, data, function (result) {
                                    progressBar.addClass('sr-only')

                                    var removed=result.removed;
                                    var message=result.message;

                                    $('#message-removed').html(message);

                                    if(removed==1){
                                        $('.cont-alert-removed-true').fadeIn(300);

                                        var selectedData = gridOptions.api.getSelectedRows();
                                        var res = gridOptions.api.updateRowData({remove: selectedData});

                                        $('.cont-alert-removed-true').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-true').fadeOut(500);
                                        }, 3000);

                                    }else{
                                        $('.cont-alert-removed-false').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-false').fadeOut(500);
                                        }, 3000);
                                    }
                                })
                            }
                        }
                    }

                });
            }

        }

        function actionCellRendererFunc(params){
            var id =params.data.id;
            var org_id=params.data.org_id

            var url_edit = '{{ path("admin_edit_billing") }}'+"/"+id+"/"+org_id

            return '<a href="'+url_edit+'"  class="btn btn-sm  bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
