{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organization',{'id':org, 'tab': 3}) }}" class="breadcrumb-item">Organization</a>
                        <span class="breadcrumb-item active">View  Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Address: {{ document.street }}</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organization',{'id':org, 'tab': 3}) }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Organization</a>
                    <a href="{{ path('admin_new_billing',{'org': org}) }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Address</a>
                    <a href="{{ path('admin_edit_billing',{'id':document.id, 'org':org }) }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Address</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                            <input type="hidden" name="hours" id="hours" value="{{ document.BusinessHours}}">
                                            <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                                                <li class="nav-item"><a href="#colored-rounded-tab1" class="nav-link active rounded-left" data-toggle="tab">Main Data</a></li>
                                                <li class="nav-item"><a href="#colored-rounded-tab2" class="nav-link btn-providers" data-toggle="tab">Providers by Address</a></li>
                                                <li class="nav-item"><a href="#colored-rounded-tab3" class="nav-link btn-credentialing" data-toggle="tab">Credentialing</a></li>
                                                <li class="nav-item"><a href="#colored-rounded-tab4" class="nav-link btn-credentialing" data-toggle="tab">Uploaded Files</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="colored-rounded-tab1">
                                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label class="col-form-label">Business Hours:</label>
                                                                    <div class="grid-col-days">
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Mon:</span></label>
                                                                            <div id="cont-hours-mon" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_mon" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_mon" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Tue:</span></label>
                                                                            <div id="cont-hours-tue" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_tue" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_tue" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Wed:</span></label>
                                                                            <div id="cont-hours-wed" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_wed" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_wed" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Thu:</span></label>
                                                                            <div id="cont-hours-thu" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_thu" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_thu" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Fri:</span></label>
                                                                            <div id="cont-hours-fri" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_fri" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_fri" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Sat:</span></label>
                                                                            <div id="cont-hours-sat" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_sat" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_sat" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Sun:</span></label>
                                                                            <div id="cont-hours-sun" class="sr-only">
                                                                                <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                                                                    <span id="start_sun" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                                                                    <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                                                                    <span id="till_sun" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="col-12 col-md-4 mt-3">
                                                                    <label class="col-form-label">Street:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.street }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4 mt-3">
                                                                    <label class="col-form-label">Suite Number:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.suitenumber }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4 mt-3">
                                                                    <label class="col-form-label">City:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.city }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">County:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.county }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Region:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.region }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">State:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.usstate }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Zip Code:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.zipcode }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Country:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.country }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Phone Number:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.phonenumber }}</p>
                                                                </div>
                                                                <div class="col-12">
                                                                    <label class="col-form-label">Service Settings:</label>
                                                                    {% for service in document.ServiceSettings %}
                                                                        <span class="badge bg-blue">{{ service.name }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Beds:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.Beds }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Location NPI:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.LocationNpi }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Location NPI2:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.LocationNpi2 }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Group Medicaid:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.GroupMedicaid }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Group Medicare:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.GroupMedicare }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Taxonomy Code:</label>
                                                                    {% for service in document.getTaxonomyCodes %}
                                                                        <span class="badge bg-dark">{{ service.code }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col-12">
                                                                    <label class="col-form-label">Age Range Accepted:</label>
                                                                    {% for ages in document.ageRanges  %}
                                                                        <span class="badge bg-dark">{{ ages.name }} ({{ ages.minage }}-{{ ages.maxage}})</span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Office Age Limit Min:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.OfficeAgeLimit }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Office Age Limit Max:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">{{ document.OfficeAgeLimitMax }}</p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Wheelchair Accessibility:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.getWheelchair==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">TDD:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.getTdd==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Private Provider Transportation:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.getPrivateProviderTransportation==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Is this your Primary Address:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.PrimaryAddr==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">See patients at this location:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.getSeePatientsAddr==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Is this your Billing Address:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.BillingAddr==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Is this your Mailing Address:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.getMailingAddr==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Is Facility:</label>
                                                                    <p class="col-form-label text-body p_docs p-inline">
                                                                        {% if document.getIsFacility==1 %}
                                                                            <i class="fas fa-check text-success ml-2"></i>
                                                                        {% else %}
                                                                            <i class="fas fa-times text-danger ml-2"></i>
                                                                        {% endif %}
                                                                    </p>
                                                                </div>
                                                                {% if document.getIsFacility==1 %}
                                                                    <div class="col-12">
                                                                        <label class="col-form-label">Facility Types:</label>
                                                                        {% for facility in document.getFacilityType %}
                                                                            <span class="badge bg-blue">{{ facility.name }}</span>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="col-12 col-md-4">
                                                                        <label class="col-form-label">Facility Number:</label>
                                                                        <p class="col-form-label text-body p_docs p-inline">{{ document.getFacilityNumber }}</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-4">
                                                                        <label class="col-form-label">Facility Exemption Number:</label>
                                                                        <p class="col-form-label text-body p_docs p-inline">{{ document.getFacilityExemptionNumber }}</p>
                                                                    </div>
                                                                    <div class="col-12 col-md-4">
                                                                        <label class="col-form-label">AHCA Number (File Number) ID :</label>
                                                                        <p class="col-form-label text-body p_docs p-inline">{{ document.ahcaNumber }}</p>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="colored-rounded-tab2">
                                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <label class="col-12 col-form-label form-group">Providers:</label>
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                {% for provider in providerOnAddress %}
                                                                                       <div class="col-12 col-md-4">
                                                                                           <p>{{ provider.firstname }} {{ provider.lastname }}</p>
                                                                                       </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="colored-rounded-tab3">
                                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                                        <div class="card-header pb-0"><h3 class="mb-0">Credentialing Proccess List</h3></div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-6 col-xs-12">
                                                                        </div>
                                                                        <div class="col-6 col-xs-12 text-right pr-2 pb-2">
                                                                            <a href="{{ path('admin_new_address_credentialing',{'addr':document.id}) }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Credentialing</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="table-responsive" id="table_grid_cred">
                                                                        <table class="table table-hover table-striped">
                                                                            <thead>
                                                                            <tr class="bg-slate">
                                                                                <th>No</th>
                                                                                <th>Cvo</th>
                                                                                <th>Submitted to Cvo:</th>
                                                                                <th>Complete date:</th>
                                                                                <th>Approved Date</th>
                                                                                <th>Status</th>
                                                                                <th>Payer</th>
                                                                                <th style="text-align: right;">Actions</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% set c=1 %}
                                                                            {% for addcvo in addresscvo %}
                                                                                <tr>
                                                                                    <td>{{ c }}</td>
                                                                                    <td>{{ addcvo.cvo.name }}</td>
                                                                                    <td>{{ addcvo.getCredentialingDate }}</td>
                                                                                    <td>{{ addcvo.getCredentialingCompleteDate }}</td>
                                                                                    <td>{{ addcvo.getCredentialingAcceptedDate }}</td>
                                                                                    <td>
                                                                                        {% if addcvo.getCredentialingStatus!="" or addcvo.getCredentialingStatus!=null %}
                                                                                           {{ addcvo.getCredentialingStatus.name }}
                                                                                        {% else %}
                                                                                            -
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td>
                                                                                        {% if addcvo.payers!="" or addcvo.payers!=null %}
                                                                                            {% for payer in addcvo.payers %}
                                                                                                <span class="badge badge-success">{{ payer.name }}</span>
                                                                                            {% endfor %}

                                                                                        {% else %}
                                                                                            -
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td style="text-align: right;">
                                                                                        <a href="{{ path('admin_view_address_credentialing',{'id':addcvo.id}) }}" class="btn btn-sm btn-outline bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>
                                                                                        <a href="{{ path('admin_edit_address_credentialing',{'id':addcvo.id}) }}" class="btn btn-sm btn-outline bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a href="#" data-id="" class="btn btn-sm btn-outline bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>
                                                                                    </td>
                                                                                </tr>
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="colored-rounded-tab4">
                                                    <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Credentialing application file:</label>
                                                                    {% if  document.getCredentialingApplicationFile=="" %}
                                                                        <p class="col-form-label text-body p_docs p-inline">-</p>
                                                                    {% else %}
                                                                        <a href="{{ asset('uploads/billing_address/' ~ document.id~'/'~document.getCredentialingApplicationFile) }}"
                                                                           class="badge badge-primary badge-icon" target="_blank"
                                                                           download><i class="fas fa-download"></i></a>
                                                                        {% if  'pdf' in document.getCredentialingApplicationFile %}
                                                                            <a href="{{ asset('uploads/billing_address/' ~ document.id~'/'~document.getCredentialingApplicationFile) }}"
                                                                               class="badge badge-success badge-icon" target="_blank"><i
                                                                                        class="far fa-file-pdf"></i></a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">State License File:</label>
                                                                    {% if  document.getStateLicenseFile=="" %}
                                                                        <p class="col-form-label text-body p_docs p-inline">-</p>
                                                                    {% else %}
                                                                        <a href="{{ asset('uploads/billing_address/' ~ document.id~'/'~document.getStateLicenseFile) }}"
                                                                           class="badge badge-primary badge-icon" target="_blank"
                                                                           download><i class="fas fa-download"></i></a>
                                                                        {% if  'pdf' in document.getStateLicenseFile %}
                                                                            <a href="{{ asset('uploads/billing_address/' ~ document.id~'/'~document.getStateLicenseFile) }}"
                                                                               class="badge badge-success badge-icon" target="_blank"><i
                                                                                        class="far fa-file-pdf"></i></a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <label class="col-form-label">Provider Data Form File:</label>
                                                                    {% if  document.getProviderDataFormFile=="" %}
                                                                        <p class="col-form-label text-body p_docs p-inline">-</p>
                                                                    {% else %}
                                                                        <a href="{{ asset('uploads/billing_address/' ~ document.id~'/'~document.getProviderDataFormFile) }}"
                                                                           class="badge badge-primary badge-icon" target="_blank"
                                                                           download><i class="fas fa-download"></i></a>
                                                                        {% if  'pdf' in document.getProviderDataFormFile %}
                                                                            <a href="{{ asset('uploads/billing_address/' ~ document.id~'/'~document.getProviderDataFormFile) }}"
                                                                               class="badge badge-success badge-icon" target="_blank"><i
                                                                                        class="far fa-file-pdf"></i></a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .select2-container{
            width: 80%;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('table td').css('padding','8px 15px')

             var cadena=$('#hours').val()
             var cadena=cadena.replace("[","")
             var cadena=cadena.replace("]","")

             var jsonObj = $.parseJSON('[' + cadena + ']');

             var cont_hours_mon=$('#cont-hours-mon')
             var start_mon=$('#start_mon')
             var till_mon=$('#till_mon')

             var cont_hours_tue=$('#cont-hours-tue')
             var start_tue=$('#start_tue')
             var till_tue=$('#till_tue')

             var cont_hours_wed=$('#cont-hours-wed')
             var start_wed=$('#start_wed')
             var till_wed=$('#till_wed')

             var cont_hours_thu=$('#cont-hours-thu')
             var start_thu=$('#start_thu')
             var till_thu=$('#till_thu')

             var cont_hours_fri=$('#cont-hours-fri')
             var start_fri=$('#start_fri')
             var till_fri=$('#till_fri')

             var cont_hours_sat=$('#cont-hours-sat')
             var start_sat=$('#start_sat')
             var till_sat=$('#till_sat')

             var cont_hours_sun=$('#cont-hours-sun')
             var start_sun=$('#start_sun')
             var till_sun=$('#till_sun')

             if(jsonObj[0].isActive==true){
                 cont_hours_mon.removeClass('sr-only')
                 start_mon.html(jsonObj[0].timeFrom)
                 till_mon.html(jsonObj[0].timeTill)
             }

             if(jsonObj[1].isActive==true){
                 cont_hours_tue.removeClass('sr-only')
                 start_tue.html(jsonObj[1].timeFrom)
                 till_tue.html(jsonObj[1].timeTill)
             }

             if(jsonObj[2].isActive==true){
                 cont_hours_wed.removeClass('sr-only')
                 start_wed.html(jsonObj[2].timeFrom)
                 till_wed.html(jsonObj[2].timeTill)
             }

             if(jsonObj[3].isActive==true){
                 cont_hours_thu.removeClass('sr-only')
                 start_thu.html(jsonObj[3].timeFrom)
                 till_thu.html(jsonObj[3].timeTill)
             }

             if(jsonObj[4].isActive==true){
                 cont_hours_fri.removeClass('sr-only')
                 start_fri.html(jsonObj[4].timeFrom)
                 till_fri.html(jsonObj[4].timeTill)
             }

             if(jsonObj[5].isActive==true){
                 cont_hours_sat.removeClass('sr-only')
                 start_sat.html(jsonObj[5].timeFrom)
                 till_sat.html(jsonObj[5].timeTill)
             }

             if(jsonObj[6].isActive==true){
                 cont_hours_sun.removeClass('sr-only')
                 start_sun.html(jsonObj[6].timeFrom)
                 till_sun.html(jsonObj[6].timeTill)
             }

         });
     </script>
 {% endblock %}
