{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_payeruser') }}" class="breadcrumb-item">Payer Users</a>
                        <span class="breadcrumb-item active">Edit Payer User</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Payer User</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_payeruser') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Payer User List</a>
                    <a href="{{ path('admin_new_payeruser') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Payer User</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_payeruser') }}" method="POST" id="form" autocomplete="off">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>Payer:</label>
                                                <div class="col-lg-10">
                                                    <select name="payer" id="payer" class="form-control select" data-fouc>
                                                        <option value="0">- Select One -</option>
                                                        {% for payer in payers %}
                                                            <option value="{{ payer.id }}" {% if payer.id==document.payer.id %}selected{% endif %}>{{ payer.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_payer" style="display: none;">
                                                        <span class="font-weight-semibold">Please select one Payer!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>User Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="username" id="username" value="{{ document.username }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="email" id="email" value="{{ document.email }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_email" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span>Set New Password:</label>
                                                <div class="col-lg-10">
                                                    <div class="badge-indicator-absolute">
                                                        <input type="password" class="form-control" name="password" id="password">
                                                        <span class="badge password-indicator-badge-absolute"></span>
                                                    </div>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_password" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Enabled:</label>
                                                <div class="col-lg-10">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox" name="enabled" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" {% if document.enabled %} checked {% endif  %}value="1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>Roles:</label>
                                                <div class="col-lg-10">
                                                    <select name="roles[]" id="roles" placeholder="Select Organizations for ..." class="form-control select-search" multiple required data-fouc>
                                                        {% for role in roles %}
                                                            {% set c=0 %}
                                                            {% for rol in document.PayerUserRoles %}
                                                                {% if rol.id==role.id %} {% set c=1 %}{% endif %}
                                                            {% endfor %}
                                                            <option value="{{ role.id }}" {% if c==1 %} selected {% endif %}>{{ role.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_roles" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_payeruser') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/payeruser/validation_edit.js') }}"></script>
     <script src="{{ asset('js/payeruser/passy.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#link-group-security').addClass('nav-item-expanded')
             $('#link-group-security').addClass('nav-item-open')
             $('#link-group-users').addClass('nav-item-expanded')
             $('#link-group-users').addClass('nav-item-open')
             $('#link-admin-user').addClass('active')

             $('.select-search').select2();
             $('#re-password').keyup(function(e){

                 var pass= $('#password').val()
                 var repass= $(this).val()
                 var error_repassword=$('#error_repassword')

                 if(pass!=repass){
                     error_repassword.fadeIn(500)
                 }else{
                     error_repassword.fadeOut(500)
                 }

             })


         });
     </script>
 {% endblock %}
