{% extends 'base-login.html.twig' %}
{% block body %}

    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login card -->
                <form method="POST" style="max-width: 450px;width: 100%;" action="{{ path('send_payer_user_recovery') }}" id="form">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-mention icon-3x text-slate-300"></i>
                                <h5 class="mb-0">Reset Password User</h5>
                                <span class="d-block text-muted">Enter your email please</span>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only mt-1" id="error_email">
                                    <span class="font-weight-semibold">The email is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btn-send-email" class="btn btn-primary btn-block">Reset Password <i class="icon-circle-right2 ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /login card -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
            $('#btn-send-email').click(function(e){
                e.preventDefault()

                var send=true
                var form=$('#form')
                var email=$('#email').val()
                var error_email=$('#error_email')

                if(email==""){
                    send=false
                    error_email.removeClass('sr-only')
                }else{
                    error_email.addClass('sr-only')
                }

                if(send){
                    form.submit()
                }
            })
         })
     </script>
 {% endblock %}