{% extends 'base-login.html.twig' %}
{% block body %}

    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login card -->
                <form method="POST" style="max-width: 450px;width: 100%;" action="{{ path('payer_user_save_new_password') }}" id="form">
                    <input type="hidden" name="code" id="code" value="{{ code }}">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h5 class="mb-0">Reset the Password</h5>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Your new password">
                                <div class="form-control-feedback">
                                    <i class="icon-hash text-muted"></i>
                                </div>
                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only mt-1" id="error_password">
                                    <span class="font-weight-semibold">The new Password is required</span>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" id="btn-send-email" class="btn btn-primary btn-block disabled">Change Password <i class="icon-circle-right2 ml-2"></i></button>
                                <p class="text-info mt-1 mb-0">The Password need 6 characters or more!</p>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /login card -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){

             $('#password').keyup(function(){
                 var password=$(this).val()
                 var btn=$('#btn-send-email')
                 if(password.length>=6){
                     btn.removeClass('disabled')
                 }else{
                     btn.addClass('disabled')
                 }
             })

             $('#btn-send-email').click(function(e){
                 e.preventDefault()

                 if(!$(this).hasClass('disabled')){
                     var send=true
                     var form=$('#form')
                     var email=$('#email').val()
                     var error_email=$('#error_email')

                     if(email==""){
                         send=false
                         error_email.removeClass('sr-only')
                     }else{
                         error_email.addClass('sr-only')
                     }

                     if(send){
                         form.submit()
                     }
                 }
             })
         })
     </script>
 {% endblock %}