{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Facilities Credentialing Process</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Facilities Credentialing Process</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some Group NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <select class="form-control select btn-delete-all" id="batch-options">
                            <option value="0">Delete Credentialing Status</option>
                            <option value="1">Manage Credentialing Status</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleActions()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-8 text-right pr-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Manage Credentialign Process-->
    <div id="modal_add_credentialing" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Add Credentialing Process</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Submitted to Cvo:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="sumitted_to_cvo"  name="sumitted_to_cvo" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialed complete date:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="complete_date"  name="complete_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing App received date:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="app_received_date"  name="app_received_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Accepted date:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="credentialing_accepted_date"  name="credentialing_accepted_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Denied Date:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="denied_date"  name="denied_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Saction Date:</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="saction_date"  name="saction_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Status:</label>
                            <div class="col-8">
                                <select class="form-control select" name="credentialing_status" id="credentialing_status">
                                    {% for credS in credentialingstatus %}
                                        {% if credS.id>1 %}
                                            <option value="{{ credS.id }}">{{ credS.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_credentialing_status" style="display: none;">
                                    <span class="font-weight-semibold">Please select a Credentialing Status</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_new_credentialing_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                <span class="">Adding new Facility Credentialings ...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary btn-save-new-process"><i class="fas fa-plus"></i> Add</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
    </div>
    <!-- /View modal -->
    <form id="form_add_credentialing" method="post" action="{{ path('admin_add_organization_credentialing') }}"></form>
    {{ include('organization_credentialing/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization_credentialing/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('#link-group-credentialing').addClass('nav-item-expanded')
            $('#link-group-credentialing').addClass('nav-item-open')
            $('#link-menu-cred_facilities').addClass('active')

        });

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50, headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Organization Name", field: "org_name",sortable: true, maxWidth: 350, minWidth: 350},
            {headerName: "Group NPI", field: "npi_number",sortable: true},
            {headerName: "Credentialing Status", field: "credentialing_status",sortable: true},
            {headerName: "Contrating Status", field: "contrating_status",sortable: true},
            {headerName: "Accepted Date", field: "credentialing_accepted_date",sortable: true},
            {headerName: "Effective Date", field: "credentialing_effective_date",sortable: true},
            {headerName: "Denied Date", field: "credentialing_denied_date",sortable: true, hide:true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:150, minWidth:150,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for organization in organizations %}
        {% if organization.id!=502 %}
        var obj={
            id:"{{ organization.id }}",
            org_name:"{{ organization.name }}",
            contrating_status: "{{ organization.status }}",
            credentialing_status: "{{ organization.credentialing_status }}",
            credentialing_accepted_date: "{{ organization.credentialing_accepted_date }}",
            credentialing_effective_date: "{{ organization.credentialing_effective_date }}",
            credentialing_denied_date: "{{ organization.credentialing_denied_date }}",
            npi_number: "{{ organization.npi_number }}"
        }

        rowData.push(obj);
        {% endif %}
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            floatingFilter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;
            var status=params.data.credentialing_status;

            var url_view = '{{ path("admin_view_organization_credentialing") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_organization_credentialing") }}'+"/"+id


            var btns=""

            if(status!=""){
               btns='<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                   '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                   '<a href="#" data-id="'+id+'" class="btn btn-sm  bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
            }else{
                btns='<a href="#" class="btn btn-sm bg-success border-success text-success-800 btn-icon border-2 ml-1 btn-actions btn-add"><i class="fas fa-plus"></i></a>'
            }

            return btns;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);
            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi_number');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        })

        function multipleActions(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{
                var option=$('#batch-options').val()

                //delete all selected
                if(option==0){
                    var rows = [];

                    $.each(rowsSelected, function () {
                        var row = $(this)[0];
                        rows.push(row.id);
                    })

                    var data = {
                        'ids': rows
                    }

                    var url = "{{ path('admin_remove_organizations_credentialing_multiple') }}"
                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Facilities Credentialings Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function () {
                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function () {
                                    $.post(url, data, function (result) {
                                        window.location.replace("{{ path('admin_facility_credentialing_list') }}");
                                    })
                                }
                            }
                        }
                    });
                }

                if(option==1){
                    $('#modal_add_credentialing').modal('show')
                }
            }
        }

        $('.btn-save-new-process').click(function (e){
            e.preventDefault()
            $('#progress_new_credentialing_process').removeClass('sr-only')
            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows = [];

            $.each(rowsSelected, function () {
                var row = $(this)[0];
                rows.push(row.id);
            })

            var sumitted_to_cvo=$('#sumitted_to_cvo').val()
            var complete_date=$('#complete_date').val()
            var app_received_date=$('#app_received_date').val()
            var credentialing_accepted_date=$('#credentialing_accepted_date').val()
            var saction_date=$('#saction_date').val()
            var denied_date=$('#denied_date').val()
            var credentialing_status=$('#credentialing_status').val()

            var data = {
                'ids': rows,
                'sumitted_to_cvo': sumitted_to_cvo,
                'complete_date':complete_date,
                'app_received_date':app_received_date,
                'credentialing_accepted_date':credentialing_accepted_date,
                'saction_date':saction_date,
                'denied_date':denied_date,
                'credentialing_status':credentialing_status
            }

            var url=$('#form_add_credentialing').attr('action')

            $.post(url, data, function (result) {
                $('#progress_new_credentialing_process').addClass('sr-only')
                $('#modal_add_credentialing').modal('hide')
                window.location.replace("{{ path('admin_facility_credentialing_list') }}");
            })
        })

        $('#myGrid').on('click','.btn-add',function(e){
            e.preventDefault()
            $('#modal_add_credentialing').modal('show')
        })

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
