.page-title {
    padding: 1rem 0;
}

.content-page{
  padding: 0 5px;
}

.table td{
    padding: 4px 3px;
}

.table th{
    padding-left: 5px;
}

.btn-actions i{
    font-size: 13px;
}

.btn-actions{
    padding: 1px 4px!important;
}

.dataTables_filter {
    margin: 0 0 1.25rem 0;
}

.dataTables_filter input{
    margin-left: 10px;
    margin-bottom: 20px;
}

.col-form-label{
    color:#2E5C94;
    font-weight: 600;
    font-size: 13px;
}

legend{
    border-bottom: none;
}

.form-check-inline .form-check{
    display: inline-block!important;
    padding-left: 10px;
}

.form-check:not(.form-check-inline) {
    margin-bottom: 0;
}

.form-check:not(.form-check-inline):last-child {
    margin-bottom: 0;
}

.card-title{

}

.form-control{
    font-size: 15px;
}

.alert{
    margin-top: 5px;
    padding: 5px 15px;
}

.p_docs{
    font-weight: 400!important;
}

.form-check-input-styled-custom{
    color:#fff;
    border-color: #fff;
}

.col-Actions{
    text-align: right;
}

.col-Actions2{
    text-align: left;
}

.alert-custom-success{
    position: absolute;
    width: 100%;
    padding: 25px 50px;
    color:#fff;
    z-index: 200000;
}

.badge-title{
  font-size: 20px;
}

.cont-alert-removed-true,.cont-alert-removed-false{
    max-width: 100%;
    width: 100%;
}

.badge{
    font-size: 100%;
}

.nav-tabs {
    margin-bottom: 5px;
}

.cont-step-wizard{
    padding: 40px 0!important;
}

.p-inline{
    display: inline-block!important;
}

.bar_100{
    width: 100% !important;
}

links-home{
    cursor: pointer;
}

.grid-col-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.btn-days{
     width: 100%;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    font-size: 16px;
}

.select-personal{
    display: inline-block;
}

.text-card-org{
    font-size: 12px;
    color: #0b3251;
}

.card-header.card-header-org{
    padding: 5px!important;
}

.card.card-org{
    margin-bottom: 2px!important;
}

.name-title-card{
    font-size: 12px;
    text-transform: uppercase;
    color: #0b3251;
}

.body_provider_detail{
    cursor: pointer;
}

.car_provider_detail:hover{

}

#cont_organization_list_1{
    overflow-y: scroll;
}

.grid-col2-map{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
}

.grid-col2-map .item2{

}

.cont-colums-match{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
}

.card-column{
    width: 200px;
    height: 300px;
    display: inline-block;
    border: 2px solid #dedddc
}

.col-2-grid-org{
    display: grid;
    grid-template-columns: 100px 110px;
    grid-gap:10px;
}

.col-2-grid-org .item{
  align-items: center;
    align-self: center;
}

.col-2-grid-org .item h3{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 5px;
    margin-left: 5px;
    font-size: 16px;
}
.col-2-grid-org .item input{
    max-width: 80px;
    float: left;
    margin-left: 0!important;
}

.cont-folders-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
}

.cont-folders-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.btn-grid-type.active{
    color:#4caf50;
}

.grid-5-home{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}

@media(max-width: 1400px) {
    .cont-colums-match{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width: 1200px) {
    .grid-5-home{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    }
}

p{
    font-size: 15px;
}

/*styles for PDF */
.pdf-title{
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
    color: red;
}

#mask-top{
    position: absolute;
    background: rgba(0,0,0,0.0);
    width: 100%;
    height: 100vh;
    z-index: 999999;
}

.load-map{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#mask-loading-adds{
    position: absolute;
    background: rgba(0,0,0,0.0);
    top:350px;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.grid-3-col-border{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
}

.block-warning{
    width: 50px;
    height: 15px;
    display: inline-block;
    margin-top: 35px;
}

.greenBackground {
    background-color: #b5e6b5;
}

div.ag-theme-alpine div.ag-row {
    font-size: 12px !important;
}

.custom-top-space{
    padding-top:2px!important;
}

.form-check-label {
    color: #2A3140;
    font-size: 12px;
}

.text-muted {
    color: #00bcd4!important;
}

.small, small{
    font-size: 13px!important;
}
