 {% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('pro_new_p_list') }}" class="breadcrumb-item">Providers</a>
                        <span class="breadcrumb-item active">New Provider</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Provider</span>
                </h5>
                <div class="header-elements">
                    <a href="{{ path('pro_new_p_list') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Providers List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Wizard with validation -->
                                        <form class="wizard-form steps-validation" action="{{ path('pro_new_p_save') }}" enctype="multipart/form-data" data-fouc id="form" method="post">
                                            <input type="hidden" name="save_status" id="save_status" value="0">
                                            <input type="hidden" name="page" id="page" value="0">
                                            <input type="hidden" name="provider_id" id="provider_id" value="null" />
                                            <input type="hidden" name="languagesSelected" id="languagesSelected" value="">
                                            <input type="hidden" name="providertypesSelected" id="providertypesSelected" value="">
                                            <input type="hidden" name="degreesSelected" id="degreesSelected" value="">
                                            <input type="hidden" name="specialtiesSelected" id="specialtiesSelected" value="">
                                            <input type="hidden" name="application_receipt_date" id="application_receipt_date" value="{{ "now"|date("m/d/Y") }}">
                                            <h6>General Information</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> NPI number:</label>
                                                                    <div class="col-lg-10">
                                                                        <div class="form-group-feedback form-group-feedback-right">
                                                                            <input type="text" class="form-control npi_check" name="npi_number" onkeypress="javascript:return isNumber(event)"  id="npi_number" placeholder="NPI number" maxlength="10">
                                                                            <div class="form-control-feedback text-success sr-only" id="icon_npi_valid">
                                                                                <i class="icon-checkmark-circle"></i>
                                                                            </div>
                                                                            <div class="form-control-feedback text-danger sr-only" id="icon_npi_notvalid">
                                                                                <i class="icon-cancel-circle2"></i>
                                                                            </div>
                                                                            <span class="form-text sr-only" id="msj-npi"></span>
                                                                        </div>
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_npi">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        <span class="text-danger-400">*</span> First name:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="text" class="form-control required" name="name" id="name" placeholder="First name">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_name">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Last name:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="text" class="form-control required" name="last_name" id="last_name" placeholder="Last name">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_last_name">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label">Initial:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="text" class="form-control" name="initial"  id="initial" placeholder="Initial">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Date of birth:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="text" class="form-control" name="dateofbirth" id="dateofbirth" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_dateofbirth">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Gender:</label>
                                                                    <div class="col-lg-10">
                                                                        <select name="gender" id="gender" class="form-control select">
                                                                            <option value="0">- Select One Gender -</option>
                                                                            <option value="male">Male</option>
                                                                            <option value="female">Female</option>
                                                                        </select>
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_gender">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Social:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="password" class="form-control" name="social" id="social" placeholder="Stored in encrypted format -required for Death Master File queries.">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_social">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> General categories:</label>
                                                                    <div class="col-lg-10">
                                                                        <select class="form-control select" name="general_category[]" id="general_category" multiple="multiple" data-placeholder="- Select One or more -" data-fouc>
                                                                            {% for generalCategory in generalCategories %}
                                                                                <option value="{{ generalCategory.id }}">{{ generalCategory.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_general_category">
                                                                            <span class="font-weight-semibold">Please select one or more Categories!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="cont_num_medicare">
                                                                    <div class="form-group row" id="cont_num_medicare">
                                                                        <label class="col-2 col-form-label"><span class="text-danger-400">*</span> Medicare number:</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="medicare" id="medicare" placeholder="Enter Medicare number or select None">
                                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_medicare">
                                                                                <span class="font-weight-semibold">Warning!</span> Please fill Medicare field and continue.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Opted out of Medicare:</label>
                                                                        <div class="col-10 pt-2">
                                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                                <input type="checkbox" class="custom-control-input" id="medicare_out" name="medicare_out" value="1">
                                                                                <label class="custom-control-label" for="medicare_out"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row" id="cont_num_medicaid">
                                                                    <label class="col-2 col-form-label"><span class="text-danger-400">*</span> Medicaid number:</label>
                                                                    <div class="col-10">
                                                                        <input type="text" class="form-control" name="medicaid" id="medicaid" maxlength="10" onkeypress='validate(event)'>
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_medicaid">
                                                                            <span class="font-weight-semibold">Warning!</span> Please fill Medicaid field and continue.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-2"></label>
                                                                    <div class="col-10">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" id="medicaid_none" name="medicaid_none" value="1">
                                                                            <label class="custom-control-label" for="medicaid_none">None Medicaid </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-2 col-form-label">CAQH:</label>
                                                                    <div class="col-4">
                                                                        <input type="text" class="form-control" name="caqh" id="caqh" maxlength="8" onkeypress='validate(event)' placeholder="Please enter CAQH number or select N/A or Pending">
                                                                    </div>
                                                                    <div class="col-4 offset-1">
                                                                        <div class="form-group mb-3 mb-md-2">
                                                                            <div class="custom-control custom-checkbox custom-control-inline pt-1">
                                                                                <input type="checkbox" class="custom-control-input" name="na_caqh" id="na_caqh" value="1">
                                                                                <label class="custom-control-label" for="na_caqh">N/A</label>
                                                                            </div>
                                                                            <div class="custom-control custom-checkbox custom-control-inline pt-1">
                                                                                <input type="checkbox" class="custom-control-input" name="pending_caqh" id="pending_caqh" value="1">
                                                                                <label class="custom-control-label" for="pending_caqh">Pending </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-2 col-form-label">Taxonomies code:</label>
                                                                    <div class="col-10">
                                                                        <select name="taxonomies[]" id="taxonomies" placeholder="Select Organizations for ..." class="form-control select-search" multiple data-fouc>
                                                                            {% for taxonomy in taxonomies %}
                                                                                <option value="{{ taxonomy.id }}" id="tax_{{ taxonomy.code }}">{{ taxonomy.code }} "{{ taxonomy.specialization }} | {{ taxonomy.classification }}"</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> State license:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="text" class="form-control" name="state_lic" id="state_lic" placeholder="Please enter your state license number - May include letters and numbers – Please include both if applicable.">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_state_lic">
                                                                            <span class="font-weight-semibold">Warning!</span> Please fill State license field and continue.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label">License state:</label>
                                                                    <div class="col-lg-10">
                                                                        <select class="form-control select-search" name="licstate" data-fouc>
                                                                            <option value="0">- Please select the state in which you are currently licensed to practice -</option>
                                                                            {% for us_state in us_states %}
                                                                                <option value="{{ us_state.id }}">{{ us_state.getAbbreviation }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-2 col-form-label"><span class="text-danger-400">*</span> Lic expires date:</label>
                                                                    <div class="col-10">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" name="license_expires_date" id="license_expires_date" data-mask="99/99/9999" placeholder="When does your license expire? ">
                                                                        </div>
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_license_expires_date">
                                                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-2 col-form-label">Lic issue date:</label>
                                                                    <div class="col-10">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" name="license_issue_date" id="license_issue_date" data-mask="99/99/9999" placeholder="When was your licensed issued?">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-12">
                                                                        <label class="col-form-label mr-2"><span class="text-danger-400">*</span> Board certified:</label>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="board_certified" value="1" id="board_certified_yes">
                                                                            <label class="custom-control-label" for="board_certified_yes">Yes</label>
                                                                        </div>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="board_certified" value="0" id="board_certified_no">
                                                                            <label class="custom-control-label" for="board_certified_no">No</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_board_certified">
                                                                            <span class="font-weight-semibold">Please select one option!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="cont_board_data" class="sr-only">
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Name of board :</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="board_name" id="board_name" placeholder="Please enter the name of the Board that issued your certification">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Board certified date:</label>
                                                                        <div class="col-10">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" name="board_certified_date" id="board_certified_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Board specialty:</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="board_certified_specialty" id="board_certified_specialty">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Certification expires:</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="certification_expires_date" id="certification_expires_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-12 pt-2">
                                                                        <label class="col-form-label mr-2"><span class="text-danger-400">*</span>  Hospital privileges?:</label>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="is_hospital_privileges" value="1" id="is_hospital_privileges_yes">
                                                                            <label class="custom-control-label" for="is_hospital_privileges_yes">Yes</label>
                                                                        </div>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="is_hospital_privileges" value="0" id="is_hospital_privileges_no">
                                                                            <label class="custom-control-label" for="is_hospital_privileges_no">No</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_is_hospital_privileges">
                                                                            <span class="font-weight-semibold">Please select one option!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="cont_hospital_privileges" class="sr-only">
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Type of Hospital Privileges?</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="hospital_privileges_type" id="hospital_privileges_type" placeholder="Admitting,Consulting, etc…">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Hospital name:</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="hospital_privileges" id="hospital_privileges" placeholder="Please enter the name of the hospital where you have privileges">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-2 col-form-label">Hospital AHCA number:</label>
                                                                        <div class="col-10">
                                                                            <input type="text" class="form-control" name="hospital_ahca_number" id="hospital_ahca_number">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-12">
                                                                        <label class="col-form-label mr-2"><span class="text-danger-400">*</span> Has a Telemedicine Service?</label>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="has_telemedicine_service" value="1" id="has_telemedicine_service_yes">
                                                                            <label class="custom-control-label" for="has_telemedicine_service_yes">Yes</label>
                                                                        </div>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="has_telemedicine_service" value="0" id="has_telemedicine_service_no">
                                                                            <label class="custom-control-label" for="has_telemedicine_service_no">No</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_has_telemedicine_service">
                                                                            <span class="font-weight-semibold">Please select one option!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row sr-only" id="cont_telemedicine_company_name">
                                                                    <label class="col-2 col-form-label">Telemedicine Company Name:</label>
                                                                    <div class="col-lg-8">
                                                                        <input type="text" class="form-control" name="telemedicine_company_name" id="telemedicine_company_name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row sr-only" id="cont_interested_telemedicine_services">
                                                                    <div class="col-12 pt-2">
                                                                        <label class="col-form-label mr-2">Interested in Telemedicine Services?:</label>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="interested_telemedicine_services" value="1" id="interested_telemedicine_services_yes">
                                                                            <label class="custom-control-label" for="interested_telemedicine_services_yes">Yes</label>
                                                                        </div>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="interested_telemedicine_services" value="0" id="interested_telemedicine_services_no">
                                                                            <label class="custom-control-label" for="interested_telemedicine_services_no">No</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-12 pt-2">
                                                                        <label class="col-form-label mr-2"><span class="text-danger-400">*</span> Are you a PCP?:</label>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="are_you_pcp" value="1" id="are_you_pcp_yes">
                                                                            <label class="custom-control-label" for="are_you_pcp_yes">Yes</label>
                                                                        </div>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="are_you_pcp" value="0" id="are_you_pcp_no">
                                                                            <label class="custom-control-label" for="are_you_pcp_no">No</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_are_you_pcp">
                                                                            <span class="font-weight-semibold">Please select one option!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-12 pt-2">
                                                                        <label class="col-form-label mr-2"><span class="text-danger-400">*</span> Are you accepting new patients?:</label>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="accepting_new_patients" value="1" id="accepting_new_patients_yes">
                                                                            <label class="custom-control-label" for="accepting_new_patients_yes">Yes</label>
                                                                        </div>
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" class="custom-control-input" name="accepting_new_patients" value="0" id="accepting_new_patients_no">
                                                                            <label class="custom-control-label" for="accepting_new_patients_no">No</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_accepting_new_patients">
                                                                            <span class="font-weight-semibold">Please select one option!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Gender acceptance:</label>
                                                                    <div class="col-lg-10">
                                                                        <select name="gender_acceptance" id="gender_acceptance" class="form-control select">
                                                                            <option value="0">- Select One -</option>
                                                                            <option value="both">Both</option>
                                                                            <option value="male">Male</option>
                                                                            <option value="female">Female</option>
                                                                        </select>
                                                                        <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_gender_acceptance">
                                                                            <span class="font-weight-semibold">Please select one option!</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label">Notes:</label>
                                                                    <div class="col-lg-10">
                                                                        <textarea rows="5" cols="5" class="form-control" name="notes" id="notes" placeholder="Notes"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Languages</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Languages:</label>
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <div class="col-4">
                                                                        <div class="row">
                                                                            {% set c=1 %}
                                                                            {% for language in languages %}
                                                                                {% if c<=language_first_column_elements %}
                                                                                    <div class="col-12 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" class="custom-control-input" name="languages" id="language_{{ language.id }}" value="{{ language.id }}">
                                                                                            <label class="custom-control-label" for="language_{{ language.id }}">{{ language.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="row">
                                                                            {% set c=1 %}
                                                                            {% for language in languages %}
                                                                                {% if c >language_first_column_elements and c<= language_first_column_elements+language_rest_columns_element%}
                                                                                    <div class="col-12 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" class="custom-control-input" name="languages" id="language_{{ language.id }}" value="{{ language.id }}">
                                                                                            <label class="custom-control-label" for="language_{{ language.id }}">{{ language.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="row">
                                                                            {% set c=1 %}
                                                                            {% for language in languages %}
                                                                                {% if c >(totaLanguages-language_rest_columns_element) %}
                                                                                    <div class="col-12 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" class="custom-control-input" name="languages" id="language_{{ language.id }}" value="{{ language.id }}">
                                                                                            <label class="custom-control-label" for="language_{{ language.id }}">{{ language.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_languages">
                                                                    <span class="font-weight-semibold">Please select one or more languages!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                            </fieldset>
                                            <h6>Degrees</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Degrees:</label>
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for degree in degrees %}
                                                                        {% if c<=degrees_first_column_elements %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="degrees" id="degree_{{ degree.id }}" value="{{ degree.id }}">
                                                                                    <label class="custom-control-label" for="degree_{{ degree.id }}">{{ degree.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for degree in degrees %}
                                                                        {% if c >degrees_first_column_elements and c<= degrees_first_column_elements+degrees_rest_columns_element%}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="degrees" id="degree_{{ degree.id }}" value="{{ degree.id }}">
                                                                                    <label class="custom-control-label" for="degree_{{ degree.id }}">{{ degree.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for degree in degrees %}
                                                                        {% if c >(totaldegrees-degrees_rest_columns_element) %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="degrees" id="degree_{{ degree.id }}" value="{{ degree.id }}">
                                                                                    <label class="custom-control-label" for="degree_{{ degree.id }}">{{ degree.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_degrees">
                                                                    <span class="font-weight-semibold">Please select one or more Degrees!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                            </fieldset>
                                            <h6>Provider Type</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Provider Type:</label>
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <div class="col-4">
                                                                        <div class="row">
                                                                            {% set c=1 %}
                                                                            {% for providertype in providertypes %}
                                                                                {% if c<=pt_first_column_elements %}
                                                                                    <div class="col-12 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" class="custom-control-input" name="providertypes" id="providertype_{{ providertype.id }}" value="{{ providertype.id }}">
                                                                                            <label class="custom-control-label" for="providertype_{{ providertype.id }}">{{ providertype.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="row">
                                                                            {% set c=1 %}
                                                                            {% for providertype in providertypes %}
                                                                                {% if c >pt_first_column_elements and c<= pt_first_column_elements+pt_rest_columns_element%}
                                                                                    <div class="col-12 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" class="custom-control-input" name="providertypes" id="providertype_{{ providertype.id }}" value="{{ providertype.id }}">
                                                                                            <label class="custom-control-label" for="providertype_{{ providertype.id }}">{{ providertype.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="row">
                                                                            {% set c=1 %}
                                                                            {% for providertype in providertypes %}
                                                                                {% if c >(totalprovidertypes-pt_rest_columns_element) %}
                                                                                    <div class="col-12 form-group">
                                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                                            <input type="checkbox" class="custom-control-input" name="providertypes" id="providertype_{{ providertype.id }}" value="{{ providertype.id }}">
                                                                                            <label class="custom-control-label" for="providertype_{{ providertype.id }}">{{ providertype.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% set c=c+1 %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_providertypes">
                                                                    <span class="font-weight-semibold">Please select one or more Provider Type!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Primary specialties</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Primary Specialties:</label>
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for specialty in specialties %}
                                                                        {% if c<=specialties_first_column_elements %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                    <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for specialty in specialties %}
                                                                        {% if c >specialties_first_column_elements and c<= specialties_first_column_elements+specialties_rest_columns_element%}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                    <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    {% set c=1 %}
                                                                    {% for specialty in specialties %}
                                                                        {% if c >(totalspecialties-specialties_rest_columns_element) %}
                                                                            <div class="col-12 form-group">
                                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                                    <input type="checkbox" class="custom-control-input" name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                                    <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set c=c+1 %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_specialties">
                                                                    <span class="font-weight-semibold">Please select one or more Primary Specialties!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                            </fieldset>
                                        </form>
                                        <!-- /wizard with validation -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/provider_p/wizard2.js') }}"></script>
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script src="{{ asset('js/form_input_groups.js') }}"></script>
     <script src="{{ asset('js/app2.js') }}"></script>

     <script type="text/javascript">
         function isNumber(evt) {
             var iKeyCode = (evt.which) ? evt.which : evt.keyCode
             if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                 return false;

             return true;
         }

         $(document).ready(function (e) {

             $('#medicaid_none').click(function(e){
                 if($(this).is(':checked')){
                     $('#medicaid').val('')
                 }
             })

             $('#link_providers_pp').addClass('active')

             setTimeout(function () {
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-menu-providers').addClass('active')

             $('#board_certified_yes').click(function(){
                 $('#cont_board_name').removeClass('sr-only')
             })

             $('#board_certified_no').click(function(){
                 $('#cont_board_name').addClass('sr-only')
             })

             $('#btn-step-1').click(function(){
                 var name=$('#name')
                 var last_name=$('#last_name')
                 var organization=$('#organization')

                 var error_fields=$('#error-fields')

                 if(name.val()=="" || last_name.val()=="" || organization.val()==""){
                     error_fields.removeClass('sr-only')
                 }

                 if(name.val()!="" && last_name.val()!="" && organization.val()!=""){
                     error_fields.addClass('sr-only')
                     $('#cont_step1').fadeOut(0)
                     $('#cont_step2').fadeIn(500)
                 }
             })

             $('#is_hospital_privileges_yes').click(function(e){
                 $('#cont_hospital_privileges').removeClass('sr-only')
             })

             $('#is_hospital_privileges_no').click(function(e){
                 $('#cont_hospital_privileges').addClass('sr-only')

                 $('#hospital_privileges_type').val('')
                 $('#hospital_privileges').val('')
                 $('#hospital_ahca_number').val('')
             })

             $('#board_certified_yes').click(function(e){
                 $('#cont_board_data').removeClass('sr-only')
             })

             $('#board_certified_no').click(function(e){
                 $('#cont_board_data').addClass('sr-only')
                 $('#board_name').val('')
                 $('#board_certified_date').val('')
                 $('#board_certified_specialty').val('')
                 $('#certification_expires_date').val('')
             })

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.check_line').click(function(){
                 var id=$(this).val()
                 var cont_num_medicare=$('#cont_num_medicare')
                 var cont_num_medicaid=$('#cont_num_medicaid')

                 if($(this).is(':checked')){
                     if(id==1){
                         cont_num_medicare.removeClass('sr-only')
                     }
                     if(id==2){
                         cont_num_medicaid.removeClass('sr-only')
                     }
                 }else{
                     if(id==1){
                         cont_num_medicare.addClass('sr-only')
                         $('#medicare').val('')
                         $('#medicare_out').prop('checked',false)
                     }

                     if(id==2){
                         cont_num_medicaid.addClass('sr-only')
                         $('#medicaid').val('')
                     }
                 }
             })

             $('input[name=has_telemedicine_service]').click(function(e){
                 var value=$(this).val();

                 var cont_telemedicine_company_name=$('#cont_telemedicine_company_name')
                 var cont_interested_telemedicine_services=$('#cont_interested_telemedicine_services')

                 if(value==1){
                     cont_telemedicine_company_name.removeClass('sr-only')
                     cont_interested_telemedicine_services.addClass('sr-only')
                 }else{
                     cont_telemedicine_company_name.addClass('sr-only')
                     cont_interested_telemedicine_services.removeClass('sr-only')
                 }

             })

             $('.npi_check').keyup(function(){
                 var npi=$(this).val()

                 var npi_number=$('#npi_number')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }

                     var url="{{ path('admin_check_npi') }}"

                     $.post(url, data, function (result) {
                         var check=0
                         var jsonObj = $.parseJSON(result.json_result)

                         var resultsObj=jsonObj.results
                         if(jsonObj.Errors || jsonObj.result_count==0){
                             check=1
                         }

                         if(check==0){
                             npi_number.addClass('border-success')
                             npi_number.removeClass('border-danger')

                             icon_npi_valid.removeClass('sr-only')
                             icon_npi_notvalid.addClass('sr-only')

                             //set values from API
                             $.each(resultsObj, function( index, objNPI ) {
                                 $('#error-fields').addClass('sr-only')
                                 var first_name=objNPI.basic.first_name
                                 var last_name=objNPI.basic.last_name
                                 var gender=objNPI.basic.gender

                                 var type=objNPI.enumeration_type

                                 $('#name').val(first_name.charAt(0).toUpperCase() + first_name.slice(1).toLowerCase())
                                 $('#last_name').val(last_name.charAt(0).toUpperCase() + last_name.slice(1).toLowerCase())

                                 if(gender=="F"){
                                     $('#gender').val('female').change()
                                 }
                                 if(gender=="M"){
                                     $('#gender').val('male').change()
                                 }

                                 var taxonomies=objNPI.taxonomies
                                 $('#taxonomies option').removeAttr('selected')
                                 $.each(taxonomies, function( index, taxonomy ) {
                                     var code=taxonomy.code;
                                     var taxCode=$('#tax_'+code)
                                     if(taxCode){
                                         taxCode.attr('selected',true)
                                         $('#taxonomies').change()
                                     }
                                 })
                             })

                         }else{
                             npi_number.removeClass('border-success')
                             npi_number.addClass('border-danger')

                             icon_npi_valid.addClass('sr-only')
                             icon_npi_notvalid.removeClass('sr-only')
                         }

                     })
                 }
             })

             $('.check-line').on('switchChange.bootstrapSwitch', function (event, state) {

                 var objCheck = $(this)
                 var id = objCheck.attr('id')

                 if (objCheck.is(':checked')) {
                     $('#cont_' + id).removeClass('sr-only')
                 } else {
                     $('#cont_' + id).addClass('sr-only')
                 }
             })

             $('.btn-clear-date').click(function(){
                 var comp=$(this).parent().siblings()
                 comp.val('')
             })

             $('#disabled').click(function(){
                 var cont_termination_reason=$('#cont-termination-reason');
                 if($(this).is(':checked')){
                     cont_termination_reason.removeClass('sr-only')
                 }else{
                     cont_termination_reason.addClass('sr-only')
                 }
             })

             $('#na_caqh').click(function(e){
                 var caqh=$('#caqh')
                 if($(this).is(':checked')){
                     caqh.val('N/A')
                     $('#pending_caqh').prop('checked',false)
                 }else{
                     caqh.val('')
                 }
             })

             $('#pending_caqh').click(function(e){
                 var caqh=$('#caqh')
                 if($(this).is(':checked')){
                     caqh.val('Pending')
                     $('#na_caqh').prop('checked',false)
                 }else{
                     caqh.val('')
                 }
             })
         });

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }

     </script>
 {% endblock %}
