{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('pro_new_p_list') }}" class="breadcrumb-item">Providers</a>
                        <span class="breadcrumb-item active">Edit Provider</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Provider | {{ provider.firstname }} {{ provider.lastname }}</span>
                </h5>
                <div class="header-elements">
                    <a href="{{ path('pro_new_p_list') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Providers List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form action="{{ path('pro_new_p_save') }}" enctype="multipart/form-data" data-fouc id="form" method="post">
                                            <input type="hidden" name="save_status" id="save_status" value="0">
                                            <input type="hidden" name="page" id="page" value="0">
                                            <input type="hidden" name="provider_id" id="provider_id" value="{{ provider.id }}" />
                                            <input type="hidden" name="languagesSelected" id="languagesSelected" value="">
                                            <input type="hidden" name="providertypesSelected" id="providertypesSelected" value="">
                                            <input type="hidden" name="degreesSelected" id="degreesSelected" value="">
                                            <input type="hidden" name="specialtiesSelected" id="specialtiesSelected" value="">
                                            <div class="row">
                                                <div class="col-xs-12 col-9">
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> NPI number:</label>
                                                        <div class="col-lg-10">
                                                            <div class="form-group-feedback form-group-feedback-right">
                                                                <input type="text" class="form-control npi_check" name="npi_number"  id="npi_number" onkeypress="javascript:return isNumber(event)" value="{{ provider.npinumber }}" maxlength="10" placeholder="NPI number">
                                                                <div class="form-control-feedback text-success sr-only" id="icon_npi_valid">
                                                                    <i class="icon-checkmark-circle"></i>
                                                                </div>
                                                                <div class="form-control-feedback text-danger sr-only" id="icon_npi_notvalid">
                                                                    <i class="icon-cancel-circle2"></i>
                                                                </div>
                                                                <span class="form-text sr-only" id="msj-npi"></span>
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_npi">
                                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">
                                                            <span class="text-danger-400">*</span> First Name:</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control required" name="name" id="name" required value="{{ provider.firstname }}" placeholder="First name">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_name">
                                                                <span class="font-weight-semibold">Please fill out this field!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Last Name:</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control required" name="last_name" id="last_name" required value="{{ provider.lastname }}" placeholder="Last name">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_last_name">
                                                                <span class="font-weight-semibold">Please fill out this field!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Initial:</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control" name="initial"  id="initial" value="{{ provider.initial }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Date of birth:</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control" name="dateofbirth" id="dateofbirth" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ provider.getDateOfBirth }}">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_dateofbirth">
                                                                <span class="font-weight-semibold">Please fill out this field!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Gender:</label>
                                                        <div class="col-lg-10">
                                                            <select name="gender" id="gender" class="form-control select">
                                                                <option value="0">- Select One Gender -</option>
                                                                <option value="male" {% if provider.gender=="male" %} selected {% endif %}>Male</option>
                                                                <option value="female" {% if provider.gender=="female" %} selected {% endif %}>Female</option>
                                                            </select>
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_gender">
                                                                <span class="font-weight-semibold">Please fill out this field!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Social:</label>
                                                        <div class="col-lg-10">
                                                            <div class="input-group">
                                                                <input type="password" class="form-control" name="social" id="social" value="{{ social }}" placeholder="Social Security Number">
                                                                <span class="input-group-append">
												                                <button class="btn btn-info show-password" type="button"><i class="far fa-eye"></i></button>
											                                </span>
                                                            </div>
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_social">
                                                                <span class="font-weight-semibold">Please fill out this field!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> General Categories:</label>
                                                        <div class="col-lg-10">
                                                            <select class="form-control select" id="general_category" name="general_category[]" multiple="multiple" data-fouc data-placeholder="- Select One or more -"for final >
                                                                {% for generalCategory in generalCategories %}
                                                                    <option value="{{ generalCategory.id }}"
                                                                            {% for pgc in  provider.getGeneralCategories %}
                                                                                {% if pgc.id==generalCategory.id %}
                                                                                    selected
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                    >{{ generalCategory.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_general_category">
                                                                <span class="font-weight-semibold">Please select one or more Categories!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label"><span class="text-danger-400">*</span> Medicare number:</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" name="medicare" id="medicare"  value="{{ provider.medicare }}">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only" id="error_medicare">
                                                                <span class="font-weight-semibold">Warning!</span> Please fill Medicare field and continue.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Opted out of Medicare:</label>
                                                        <div class="col-10 pt-2">
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" class="custom-control-input" id="medicare_out" name="medicare_out" value="1" {% if provider.getOptionOutMedicare %} checked {% endif %}>
                                                                <label class="custom-control-label" for="medicare_out"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Medicaid number:</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control" name="medicaid" id="medicaid" value="{{ provider.medicaid }}" maxlength="10" onkeypress='validate(event)'>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2"></label>
                                                        <div class="col-10">
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" class="custom-control-input" id="medicaid_none" name="medicaid_none" value="1">
                                                                <label class="custom-control-label" for="medicaid_none">None Medicaid </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">CAQH:</label>
                                                        <div class="col-4">
                                                            <input type="text" class="form-control" name="caqh" id="caqh" maxlength="8" onkeypress='validate(event)' value="{{ provider.getCaqh }}" placeholder="Please enter CAQH number or select N/A or Pending">
                                                        </div>
                                                        <div class="col-4 offset-1">
                                                            <div class="form-group mb-3 mb-md-2">
                                                                <div class="custom-control custom-checkbox custom-control-inline pt-1">
                                                                    <input type="checkbox" class="custom-control-input" name="na_caqh" id="na_caqh" value="1" {% if provider.getNaCaqh %}checked{% endif %}>
                                                                    <label class="custom-control-label" for="na_caqh">N/A</label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox custom-control-inline pt-1">
                                                                    <input type="checkbox" class="custom-control-input" name="pending_caqh" id="pending_caqh" value="1" {% if provider.getPeddingCaqh %}checked{% endif %}>
                                                                    <label class="custom-control-label" for="pending_caqh">Pending </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Taxonomies code:</label>
                                                        <div class="col-10">
                                                            <select name="taxonomies[]" id="taxonomies" placeholder="Select Organizations for ..." class="form-control select-search" multiple data-fouc>
                                                                {% for taxonomy in taxonomies %}
                                                                    <option value="{{ taxonomy.id }}" id="tax_{{ taxonomy.code }}">{{ taxonomy.code }} "{{ taxonomy.specialization }} | {{ taxonomy.classification }}"</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> State license:</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control" name="state_lic" id="state_lic" value="{{ provider.statelic }}" placeholder="Please enter your state license number - May include letters and numbers – Please include both if applicable.">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_state_lic">
                                                                <span class="font-weight-semibold">Warning!</span> Please fill State license field and continue.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Lic state:</label>
                                                        <div class="col-lg-10">
                                                            <select class="form-control select-search" name="licstate" data-fouc>
                                                                <option value="0">- Please select the state in which you are currently licensed to practice -</option>
                                                                {% for us_state in us_states %}
                                                                    <option value="{{ us_state.id }}" {% if provider.getLicState==us_state.id %} selected {% endif %}>{{ us_state.getAbbreviation }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label"><span class="text-danger-400">*</span> Lic expires date:</label>
                                                        <div class="col-10">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" value="{{ provider.getLicExpiresDate
                                                                }}" name="license_expires_date" id="license_expires_date" data-mask="99/99/9999" placeholder="When does your license expire?">
                                                            </div>
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_license_expires_date">
                                                                <span class="font-weight-semibold">Please fill out this field!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Lic issue date:</label>
                                                        <div class="col-10">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="license_issue_date" id="license_issue_date" data-mask="99/99/9999" placeholder="When was your licensed issued? " value="{{ provider.getLicIssueDate }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <label class="col-form-label mr-2"><span class="text-danger-400">*</span> Board certified:</label>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="board_certified" value="1" id="board_certified_yes" {% if provider.getBoardCertified==true %} checked {% endif %}>
                                                                <label class="custom-control-label" for="board_certified_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="board_certified" value="0" id="board_certified_no" {% if provider.getBoardCertified==false %} checked {% endif %}>
                                                                <label class="custom-control-label" for="board_certified_no">No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_board_certified">
                                                                <span class="font-weight-semibold">Please select one option!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="cont_board_data">
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Name of board :</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="board_name" id="board_name" value="{{ provider.BoardName }}" placeholder="Please enter the name of the Board that issued your certification">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Board certified date:</label>
                                                            <div class="col-10">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" value="{{ provider.getBoardCertifiedDate }}" name="board_certified_date" id="board_certified_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Board specialty:</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="board_certified_specialty" id="board_certified_specialty" value="{{ provider.getBoardCertifiedSpecialty }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Certification expires:</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="certification_expires_date" id="certification_expires_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ provider.getBoardCertificationExpiresDate }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-12 pt-2">
                                                            <label class="col-form-label mr-2"><span class="text-danger-400">*</span>  Hospital privileges?:</label>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="is_hospital_privileges" value="1" id="is_hospital_privileges_yes" {% if provider.getIsHospitalAffiliations==1 %} checked {% endif %}>
                                                                <label class="custom-control-label" for="is_hospital_privileges_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="is_hospital_privileges" value="0" id="is_hospital_privileges_no" {% if provider.getIsHospitalAffiliations==0 %} checked {% endif %}>
                                                                <label class="custom-control-label" for="is_hospital_privileges_no">No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_is_hospital_privileges">
                                                                <span class="font-weight-semibold">Please select one option!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="cont_hospital_privileges">
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Type of Hospital Privileges?</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="hospital_privileges_type" value="{{ provider.getHopitalPrivilegesType }}" id="hospital_privileges_type" placeholder="Admitting,Consulting, etc…">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Hospital name:</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="hospital_privileges" id="hospital_privileges" placeholder="Please enter the name of the hospital where you have privileges" value="{{ provider.getIsHospitalAffiliations }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Hospital AHCA number:</label>
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" name="hospital_ahca_number" id="hospital_ahca_number" value="{{ provider.getHospitalAchaNumber }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <label class="col-form-label mr-2"><span class="text-danger-400">*</span> Has a Telemedicine Service?</label>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="has_telemedicine_service" value="1" id="has_telemedicine_service_yes" {% if provider.getHasTelemedicine=="1" %}checked{% endif %}>
                                                                <label class="custom-control-label" for="has_telemedicine_service_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="has_telemedicine_service" value="0" id="has_telemedicine_service_no" {% if provider.getHasTelemedicine=="0" %}checked{% endif %}>
                                                                <label class="custom-control-label" for="has_telemedicine_service_no">No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_has_telemedicine_service">
                                                                <span class="font-weight-semibold">Please select one option!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row {% if provider.getHasTelemedicine=="0" %}sr-only{% endif %}" id="cont_telemedicine_company_name">
                                                        <label class="col-2 col-form-label">Telemedicine Company Name:</label>
                                                        <div class="col-lg-8">
                                                            <input type="text" class="form-control" name="telemedicine_company_name" id="telemedicine_company_name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row {% if provider.getHasTelemedicine=="1" %}sr-only{% endif %}" id="cont_interested_telemedicine_services">
                                                        <div class="col-12 pt-2">
                                                            <label class="col-form-label mr-2">Interested in Telemedicine Services?:</label>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="interested_telemedicine_services" value="1" id="interested_telemedicine_services_yes" {% if provider.getInterestedInTelemedicine=="1" %} checked{% endif %}>
                                                                <label class="custom-control-label" for="interested_telemedicine_services_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="interested_telemedicine_services" value="0" id="interested_telemedicine_services_no" {% if provider.getInterestedInTelemedicine=="0" %} checked{% endif %}>
                                                                <label class="custom-control-label" for="interested_telemedicine_services_no">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-12 pt-2">
                                                            <label class="col-form-label mr-2">Are you a PCP?:</label>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="are_you_pcp" value="1" id="are_you_pcp_yes"  {% if provider.getHasPcp %} checked {% endif %}>
                                                                <label class="custom-control-label" for="are_you_pcp_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="are_you_pcp" value="0" id="are_you_pcp_no"  {% if provider.getHasPcp==false %} checked {% endif %}>
                                                                <label class="custom-control-label" for="are_you_pcp_no">No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_are_you_pcp">
                                                                <span class="font-weight-semibold">Please select one option!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-12 pt-2">
                                                            <label class="col-form-label mr-2">Are you accepting new patients?:</label>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="accepting_new_patients" value="1" id="accepting_new_patients_yes"  {% if provider.getAcceptingNewPatients %} checked {% endif %}>
                                                                <label class="custom-control-label" for="accepting_new_patients_yes">Yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="accepting_new_patients" value="0" id="accepting_new_patients_no"  {% if provider.getAcceptingNewPatients==false %} checked {% endif %}>
                                                                <label class="custom-control-label" for="accepting_new_patients_no">No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_accepting_new_patients">
                                                                <span class="font-weight-semibold">Please select one option!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Gender acceptance:</label>
                                                        <div class="col-lg-10">
                                                            <select name="gender_acceptance" id="gender_acceptance" class="form-control select">
                                                                <option value="0">- Select One -</option>
                                                                <option value="both" {% if provider.getGenderAcceptance=='both' %} selected {% endif %}>Both</option>
                                                                <option value="male" {% if provider.getGenderAcceptance=='male' %} selected {% endif %}>Male</option>
                                                                <option value="female" {% if provider.getGenderAcceptance=='female' %} selected {% endif %}>Female</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_gender_acceptance">
                                                                <span class="font-weight-semibold">Please select one option!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label">Notes:</label>
                                                        <div class="col-lg-10">
                                                            <textarea rows="5" cols="5" class="form-control" name="notes" id="notes">{{ provider.notes }}</textarea>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Languages:</label>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                {% for language in languages %}
                                                                    {% set c=0 %}
                                                                    {% for lang in provider.getLanguages %}
                                                                        {% if lang.id==language.id %} {% set c=1 %}{% endif %}
                                                                    {% endfor %}
                                                                    <div class="col-4 form-group">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" {% if c==1 %}checked{% endif %} name="languages" id="language_{{ language.id }}" value="{{ language.id }}">
                                                                            <label class="custom-control-label" for="language_{{ language.id }}">{{ language.name }}</label>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                                <div class="col-12">
                                                                    <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_languages">
                                                                        <span class="font-weight-semibold">Please select one or more languages!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Degrees:</label>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                {% for degree in degrees %}
                                                                    {% set c=0 %}
                                                                    {% for de in provider.getDegree %}
                                                                        {% if de.id==degree.id %} {% set c=1 %}{% endif %}
                                                                    {% endfor %}
                                                                    <div class="col-4 form-group">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" {% if c==1 %}checked{% endif %} name="degrees" id="degree_{{ degree.id }}" value="{{ degree.id }}">
                                                                            <label class="custom-control-label" for="degree_{{ degree.id }}">{{ degree.name }}</label>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                                <div class="col-12">
                                                                    <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_degrees">
                                                                        <span class="font-weight-semibold">Please select one or more Degrees!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Provider Type:</label>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                {% for providertype in providertypes %}
                                                                    {% set c=0 %}
                                                                    {% for providerT in provider.getProviderType %}
                                                                        {% if providerT.id==providertype.id %} {% set c=1 %}{% endif %}
                                                                    {% endfor %}
                                                                    <div class="col-4 form-group">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" class="custom-control-input" {% if c==1 %}checked{% endif %} name="providertypes" id="providertype_{{ providertype.id }}" value="{{ providertype.id }}">
                                                                            <label class="custom-control-label" for="providertype_{{ providertype.id }}">{{ providertype.name }}</label>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                                <div class="col-12">
                                                                    <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_providertypes">
                                                                        <span class="font-weight-semibold">Please select one or more Provider Type!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <label class="col-12 col-form-label form-group"><span class="text-danger-400">*</span> Primary Specialties:</label>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            {% for specialty in specialties %}
                                                                {% set c=0 %}
                                                                {% for primary in provider.getPrimarySpecialties %}
                                                                    {% if primary.id==specialty.id %} {% set c=1 %}{% endif %}
                                                                {% endfor %}
                                                                <div class="col-4 form-group">
                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                        <input type="checkbox" class="custom-control-input" {% if c==1 %}checked{% endif %} name="specialties" id="specialty_{{ specialty.id }}" value="{{ specialty.id }}">
                                                                        <label class="custom-control-label" for="specialty_{{ specialty.id }}">{{ specialty.name }}</label>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-12">
                                                                <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-0" id="error_specialties">
                                                                    <span class="font-weight-semibold">Please select one or more Primary Specialties!</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div  class="form-group row mt-5">
                                                        <div class="col-12">
                                                            <div class="alert alert-warning alert-styled-left alert-dismissible sr-only mb-2" id="error_all">
                                                                <span class="font-weight-semibold">Please check all required fields!</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-info bnt-send-form"><i class="fas fa-save"></i> Save</a>
                                                            <a href="{{ path('admin_payer') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/form_input_groups.js') }}"></script>
     <script src="{{ asset('js/app2.js') }}"></script>

     <script type="text/javascript">
         function isNumber(evt) {
             var iKeyCode = (evt.which) ? evt.which : evt.keyCode
             if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                 return false;

             return true;
         }

         $(document).ready(function (e) {

             $('.bnt-send-form').click(function (e){
                 e.preventDefault()
                 var next =true

                 var languagesSelected = ""
                 var providertypesSelected=""
                 var degreesSelected=""
                 var specialtiesSelected=""
                 var lineSelected=""

                 var name=$('#name').val()
                 var error_name=$('#error_name')

                 if(name==""){
                     next=false
                     error_name.removeClass('sr-only')
                 }else{
                     error_name.addClass('sr-only')
                 }

                 var npi=$('#npi_number').val()
                 var error_npi=$('#error_npi')
                 if(npi==""){
                     next=false
                     error_npi.removeClass('sr-only')
                 }else{
                     error_npi.addClass('sr-only')
                 }

                 var last_name=$('#last_name').val()
                 var error_last_name=$('#error_last_name')
                 if(last_name==""){
                     next=false
                     error_last_name.removeClass('sr-only')
                 }else{
                     error_last_name.addClass('sr-only')
                 }

                 var gender=$('#gender').val()
                 var error_gender=$('#error_gender')

                 if(gender==""){
                     next=false
                     error_gender.removeClass('sr-only')
                 }else{
                     error_gender.addClass('sr-only')
                 }

                 var social=$('#social').val()
                 var error_social=$('#error_social')

                 if(social==""){
                     next=false
                     error_social.removeClass('sr-only')
                 }else{
                     error_social.addClass('sr-only')
                 }

                 var general_category=$('#general_category').val()
                 var error_general_category =$('#error_general_category')

                 if(general_category.length==0){
                     next=false
                     error_general_category.removeClass('sr-only')
                 }else{
                     error_general_category.addClass('sr-only')
                 }


                 var medicare=$('#medicare').val()
                 var error_medicare=$('#error_medicare')

                 var medicare_out=$('#medicare_out')

                 if(medicare==""){
                     if(medicare_out.is(':checked')==false){
                         next=false
                         error_medicare.removeClass('sr-only')
                     }else{
                         error_medicare.addClass('sr-only')
                     }

                 }else{
                     error_medicare.addClass('sr-only')
                 }

                 var medicaid=$('#medicare').val()
                 var error_medicaid=$('#error_medicaid')

                 if(medicaid==""){
                     next=false
                     error_medicaid.removeClass('sr-only')
                 }else{
                     error_medicaid.addClass('sr-only')
                 }

                 var state_lic=$('#state_lic').val()
                 var error_state_lic=$('#error_state_lic')

                 if(state_lic==""){
                     next=false
                     error_state_lic.removeClass('sr-only')
                 }else{
                     error_state_lic.addClass('sr-only')
                 }

                 var license_expires_date=$('#license_expires_date').val()
                 var error_license_expires_date=$('#error_license_expires_date')

                 if(license_expires_date==""){
                     next=false
                     error_license_expires_date.removeClass('sr-only')
                 }else{
                     error_license_expires_date.addClass('sr-only')
                 }

                 var board_certified_yes=$('#board_certified_yes')
                 var board_certified_no=$('#board_certified_no')
                 var error_board_certified=$('#error_board_certified')

                 if(board_certified_yes.is(':checked') || board_certified_no.is(':checked')){
                     error_board_certified.addClass('sr-only')
                 }else{
                     next=false
                     error_board_certified.removeClass('sr-only')
                 }

                 var is_hospital_privileges_yes=$('#is_hospital_privileges_yes')
                 var is_hospital_privileges_no=$('#is_hospital_privileges_no')
                 var error_is_hospital_privileges=$('#error_is_hospital_privileges')

                 if(is_hospital_privileges_yes.is(':checked') || is_hospital_privileges_no.is(':checked')){
                     error_is_hospital_privileges.addClass('sr-only')
                 }else{
                     next=false
                     error_is_hospital_privileges.removeClass('sr-only')
                 }

                 var has_telemedicine_service_yes=$('#has_telemedicine_service_yes')
                 var has_telemedicine_service_no=$('#has_telemedicine_service_no')
                 var error_has_telemedicine_service=$('#error_has_telemedicine_service')

                 if(has_telemedicine_service_yes.is(':checked') || has_telemedicine_service_no.is(':checked')){
                     error_has_telemedicine_service.addClass('sr-only')
                 }else{
                     next=false
                     error_has_telemedicine_service.removeClass('sr-only')
                 }

                 var are_you_pcp_yes=$('#are_you_pcp_yes')
                 var are_you_pcp_no=$('#are_you_pcp_no')
                 var error_are_you_pcp=$('#error_are_you_pcp')

                 if(are_you_pcp_yes.is(':checked') || are_you_pcp_no.is(':checked')){
                     error_are_you_pcp.addClass('sr-only')
                 }else{
                     next=false
                     error_are_you_pcp.removeClass('sr-only')
                 }

                 var accepting_new_patients_yes=$('#accepting_new_patients_yes')
                 var accepting_new_patients_no=$('#accepting_new_patients_no')
                 var error_accepting_new_patients=$('#error_accepting_new_patients')

                 if(accepting_new_patients_yes.is(':checked') || accepting_new_patients_no.is(':checked')){
                     error_accepting_new_patients.addClass('sr-only')
                 }else{
                     next=false
                     error_accepting_new_patients.removeClass('sr-only')
                 }

                 var gender_acceptance=$('#gender_acceptance').val()
                 var error_gender_acceptance=$('#error_gender_acceptance')

                 if(gender_acceptance==0){
                     next=false
                     error_gender_acceptance.removeClass('sr-only')
                 }else{
                     error_gender_acceptance.addClass('sr-only')
                 }

                 var languagesSelected = ""
                 var error_languages=$('#error_languages')

                 var languages = $('input[name=languages]')

                 languages.each(function (index, $this) {
                     var language = $(this)

                     if (language.is(':checked')) {
                         languagesSelected += language.val() + ","
                     }
                 })

                 if(languagesSelected==""){
                     next=false
                     error_languages.removeClass('sr-only')
                 }else{
                     error_languages.addClass('sr-only')
                 }

                 var error_providertypes=$('#error_providertypes')
                 var providertypesSelected=""
                 var providertypes = $('input[name=providertypes]')

                 providertypes.each(function (index, $this) {
                     var providertype = $(this)

                     if (providertype.is(':checked')) {
                         providertypesSelected += providertype.val() + ","
                     }
                 })

                 if(providertypesSelected==""){
                     next=false
                     error_providertypes.removeClass('sr-only')
                 }else{
                     error_providertypes.addClass('sr-only')
                 }

                 var error_degrees=$('#error_degrees')
                 var degreesSelected=""
                 var degrees = $('input[name=degrees]')

                 degrees.each(function (index, $this) {
                     var degree = $(this)

                     if (degree.is(':checked')) {
                         degreesSelected += degree.val() + ","
                     }
                 })

                 if(degreesSelected==""){
                     next=false
                     error_degrees.removeClass('sr-only')
                 }else{
                     error_degrees.addClass('sr-only')
                 }

                 var lines = $('input[name=lineofbusiness]')

                 lines.each(function (index, $this) {
                     var line = $(this)

                     if (line.is(':checked')) {
                         lineSelected += line.val() + ","
                     }
                 })

                 var specialties = $('input[name=specialties]')

                 specialties.each(function (index, $this) {
                     var specialty = $(this)

                     if (specialty.is(':checked')) {
                         specialtiesSelected += specialty.val() + ","
                     }
                 })

                 $('#languagesSelected').val(languagesSelected)
                 $('#providertypesSelected').val(providertypesSelected)
                 $('#degreesSelected').val(degreesSelected)
                 $('#specialtiesSelected').val(specialtiesSelected)
                 $('#lineofbusinessSelected').val(lineSelected)


                 if(next==false){
                     $('#error_all').removeClass('sr-only')
                 }else{
                     $('#error_all').addClass('sr-only')
                 }

                 if(next==true){
                   $('#form').submit()
                 }
             })

             $('#medicaid_none').click(function(e){
                 if($(this).is(':checked')){
                     $('#medicaid').val('')
                 }
             })

             $('input[name=has_telemedicine_service]').click(function(e){
                 var value=$(this).val();

                 var cont_telemedicine_company_name=$('#cont_telemedicine_company_name')
                 var cont_interested_telemedicine_services=$('#cont_interested_telemedicine_services')

                 if(value==1){
                     cont_telemedicine_company_name.removeClass('sr-only')
                     cont_interested_telemedicine_services.addClass('sr-only')
                 }else{
                     cont_telemedicine_company_name.addClass('sr-only')
                     cont_interested_telemedicine_services.removeClass('sr-only')
                 }

             })

             var npi=$('#npi_number').val()
             checkNPPESData(npi)

             $('#link_providers_pp').addClass('active')

             setTimeout(function () {
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-menu-providers').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.check-line').on('switchChange.bootstrapSwitch', function (event, state) {

                 var objCheck = $(this)
                 var id = objCheck.attr('id')

                 if (objCheck.is(':checked')) {
                     $('#cont_' + id).removeClass('sr-only')
                 } else {
                     $('#cont_' + id).addClass('sr-only')
                 }
             })

             $('.btn-clear-date').click(function(){
                 var comp=$(this).parent().siblings()
                 comp.val('')
             })


             function checkNPPESData(npi){
                 var npi_number=$('#npi_number')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }

                     var url='/admin/provider/checknpi'
                     $.post(url, data, function (result) {
                         var check=0
                         var jsonObj = $.parseJSON(result.json_result)

                         var resultsObj=jsonObj.results
                         if(jsonObj.Errors || jsonObj.result_count==0){
                             check=1
                         }

                         if(check==0){
                             npi_number.addClass('border-success')
                             npi_number.removeClass('border-danger')

                             icon_npi_valid.removeClass('sr-only')
                             icon_npi_notvalid.addClass('sr-only')

                             //set values from API
                             $.each(resultsObj, function( index, objNPI ) {
                                 $('#error-fields').addClass('sr-only')
                                 var first_name=objNPI.basic.first_name
                                 var last_name=objNPI.basic.last_name
                                 var gender=objNPI.basic.gender

                                 $('#name').val(first_name.charAt(0).toUpperCase() + first_name.slice(1).toLowerCase())
                                 $('#last_name').val(last_name.charAt(0).toUpperCase() + last_name.slice(1).toLowerCase())

                                 if(gender=="F"){
                                     $('#gender').val('female').change()
                                 }
                                 if(gender=="M"){
                                     $('#gender').val('male').change()
                                 }

                                 var taxonomies=objNPI.taxonomies
                                 $('#taxonomies option').removeAttr('selected')
                                 $.each(taxonomies, function( index, taxonomy ) {
                                     var code=taxonomy.code;
                                     var taxCode=$('#tax_'+code)
                                     if(taxCode){
                                         taxCode.attr('selected',true)
                                         $('#taxonomies').change()
                                     }
                                 })
                             })

                         }else{
                             npi_number.removeClass('border-success')
                             npi_number.addClass('border-danger')

                             icon_npi_valid.addClass('sr-only')
                             icon_npi_notvalid.removeClass('sr-only')
                         }

                     })
                 }
             }

             $('.npi_check').keyup(function(){
                 var npi=$(this).val()
                 checkNPPESData(npi)
             })
         });

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }
     </script>
 {% endblock %}
