
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Providers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider List</span></h5>
            </div>
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-6 col-xs-12">
                    </div>
                    <div class="col-6 col-xs-12 text-right pr-2">
                        <a href="{{ path('pro_new_p_add') }}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> New Provider</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Disabled-->
    <div id="modal_disabled" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_disabled_provider') }}" method="post" id="form_disabled">
            <input type="hidden" name="id_provider" id="id_provider" value="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Disabled provider</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group row" id="cont-termination-reason">
                                <label class="col-12 col-form-label">Termination reason:</label>
                                <div class="col-12">
                                    <select name="termination_reason" id="termination_reason" class="form-control select">
                                        <option value="0">- Select One -</option>
                                        {% for terminationreason in terminationreasons %}
                                            <option value="{{ terminationreason.id }}">{{ terminationreason.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="alert alert-warning alert-styled-left alert-dismissible sr-only" id="error-termination">
                                        <span class="font-weight-semibold">Warning!</span> Please select one Termination reason.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" id="cont-date-disabled">
                                <label class="col-12 col-form-label">Date of disabled:</label>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="dateofdisabled"  name="dateofdisabled" value="{{ "now"|date("m/d/Y") }}" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-save-disabled"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Disabled modal -->
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider_p/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            $('#link_providers_pp').addClass('active')

            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            var instance = gridOptions.api.getFilterInstance('disabled')
            instance.selectNothing()
            instance.selectValue('No')
            instance.applyModel();
            gridOptions.api.onFilterChanged();

            $('.btn-save-disabled').click(function(e){
                e.preventDefault()

                var termination_reason=$('#termination_reason')
                var error_termination=$('#error-termination')

                var send=true

                if(termination_reason.val()==0){
                    error_termination.removeClass('sr-only')
                    send=false
                }else{
                    error_termination.addClass('sr-only')
                }

                if(send){
                    var id_provider=$('#id_provider').val();
                    var termination_reason=termination_reason.val()
                    var date_of_disabled=$('#dateofdisabled').val()

                    var url=$('#form_disabled').attr('action');

                    var data={
                        'id': id_provider,
                        'termination_reason': termination_reason,
                        'date_of_disabled': date_of_disabled
                    }

                    $.post(url, data, function (result) {
                        $('#modal_disabled').modal('hide')

                        var selectedData = gridOptions.api.getSelectedRows()
                        var res = gridOptions.api.updateRowData({remove: selectedData})
                    })
                }
            })
        });

        var columnDefs = [
            {headerName: "First Name", field: "first_name",sortable: true,unSortIcon: true},
            {headerName: "Last Name", field: "last_name",sortable: true,unSortIcon: true},
            {headerName: "NPI", field: "npi",sortable: true,unSortIcon: true},
            {headerName: "Degrees", field: "degrees",sortable: true,unSortIcon: true},
            {headerName: "Medicare", field: "medicare",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Medicaid", field: "medicaid",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "I.Credentialing Status", field: "cred_status",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Effective Date", field: "effective_date",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "License: ", field: "license",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,minWidth:140 ,maxWidth:140,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for provider in providers %}
        var disabled="No"
        {% if provider.disabled==1 %}
            disabled="Yes"
        {% endif %}

        var obj={
            id:"{{ provider.id }}",
            first_name: "{{ provider.first_name }}",
            last_name: "{{ provider.last_name }}",
            npi: "{{ provider.npi_number }}",
            cred_status: "{{ provider.status_cred }}",
            effective_date: "{{ provider.effective_date }}",
            degrees: "{{ provider.degrees }}",
            medicare: "{{ provider.medicare }}",
            medicaid: "{{ provider.medicaid }}",
            license: "{{ provider.state_lic }}",
            disabled: disabled
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            floatingFilter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: true,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("pro_new_p_view_provider") }}'+"/"+id
            var url_edit = '{{ path("pro_new_p_edit") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>'+
                '<a href="#" data-id="'+id+'" data-toggle="modal" data-target="#modal_disabled" class="btn btn-sm  bg-warning border-warning text-warning-800 btn-icon border-2 ml-1 btn-actions btn-disabled"><i class="fas fa-user-times"></i></a>';
        }


        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        $('#myGrid').on('click','.btn-disabled',function(e){
            var id=$(this).data('id')
            $('#id_provider').val(id)
        })

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){

                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }
            })
        })

        $('.btn-save-disabled').click(function(e){
            e.preventDefault()

            var termination_reason=$('#termination_reason')
            var error_termination=$('#error-termination')

            var send=true

            if(termination_reason.val()==0){
                error_termination.removeClass('sr-only')
                send=false
            }else{
                error_termination.addClass('sr-only')
            }

            if(send){
                var id_provider=$('#id_provider').val();
                var termination_reason=termination_reason.val()
                var date_of_disabled=$('#dateofdisabled').val()

                var url=$('#form_disabled').attr('action');

                var data={
                    'id': id_provider,
                    'termination_reason': termination_reason,
                    'date_of_disabled': date_of_disabled
                }

                $.post(url, data, function (result) {

                    $('#modal_disabled').modal('hide')
                })
            }
        })
    </script>

{% endblock %}
