{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-0">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;margin-bottom: 10px;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('pro_new_p_list') }}" class="breadcrumb-item">Providers</a>
                        <span class="breadcrumb-item active">Provider details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider details | {{ document.firstname }} {{ document.lastname }}</span>
                </h5>
                <div class="header-elements">
                    <a href="{{ path('pro_new_p_list') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Provider List</a>
                    <a href="{{ path('pro_new_p_add') }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Provider</a>
                    <a href="{{ path('pro_new_p_edit',{'id':document.id }) }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Provider</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-tabs-component rounded">
                            <li class="nav-item"><a href="#tab1" class="nav-link rounded-left {% if tab==1 %}active {% endif %}" data-toggle="tab">General Info</a></li>
                            <li class="nav-item"><a href="#tab4" class="nav-link tabAddress" data-toggle="tab">Address</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane {% if tab==4 %}active show{% endif %}" id="tab4">
                                <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                    <div class="card-header"><h3>Address List</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive" id="table_grid_cred">
                                                    <form action="{{ path('admin_active_address_provider') }}" method="post" id="form-active-addr">
                                                        <input type="hidden" name="provider_id" id="provider_id" value="{{ document.id }}">
                                                    </form>
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <tr class="bg-slate">
                                                            <th>Active</th>
                                                            <th>Street</th>
                                                            <th>City</th>
                                                            <th>State</th>
                                                            <th>County</th>
                                                            <th>Primary</th>
                                                            <th>Is Facility</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        {% for address in allAddressess %}
                                                            <tr>
                                                                <td>
                                                                    {% set c=0 %}
                                                                    {% for addr in  addresses %}
                                                                        {% if addr.id== address.id %}
                                                                            {% set c=1 %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                                        <label class="form-check-label d-flex align-items-center">
                                                                            <input data-id="{{ address.id }}" type="checkbox" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" data-size="small" {% if c==1 %}checked {% endif %}>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>{{ address.street }}</td>
                                                                <td>{{ address.city }}</td>
                                                                <td>{{ address.usstate }}</td>
                                                                <td>{{ address.county }}</td>
                                                                <td>
                                                                    {% if address.getPrimaryAddr %}
                                                                        Yes
                                                                    {% else %}
                                                                        No
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if address.getIsFacility %}
                                                                        Yes
                                                                    {% else %}
                                                                        No
                                                                    {% endif %}
                                                                </td>
                                                                <td class="text-right">
                                                                    <a href="#" data-id="{{ address.id }}" data-toggle="modal" data-target="#modal_view_address_pro" class="btn btn-sm  bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions btn-load-address"><i class="far fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane {% if tab==1 %}active show{% endif %}" id="tab1">
                                <div class="card border-top-1 border-top-slate border-bottom-1 border-bottom-slate rounded-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Full Name:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.fullname }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Initial:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.initial }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Npi number:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.npinumber }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Date of birth:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.DateOfBirth }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Gender:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.gender }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Email:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.email }}</p>
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Organization:</label>
                                                {% if document.organization %} <a href="{{ path('admin_view_organization',{'id':document.organization.id}) }}"><span class="badge bg-blue">{{ document.organization.name }}</span></a>{% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">General Categories:</label>
                                                {% for category in document.GeneralCategories %}
                                                    <span class="badge bg-primary-600">{{ category.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Social:</label>
                                                <p class="col-form-label text-body p_docs p-inline">
                                                    {% if social!="" %}
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            {{ social }}
                                                        {% else %}
                                                            <i class="fas fa-circle ml-3" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                            <i class="fas fa-circle" style="font-size: 6px"></i>
                                                        {% endif %}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Medicare number:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.medicare }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Opted out of Medicare:</label>
                                                {% if document.getOptionOutMedicare==1 %}
                                                    Yes
                                                {% else %}
                                                    No
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Medicaid number:</label>
                                                <p class="col-form-label text-success p_docs p-inline">{{ document.medicaid }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Caqh:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.caqh }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Taxonomy code:</label>
                                                {% for tax in document.getTaxonomyCodes %}
                                                    <span class="badge bg-dark">{{ tax.code }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Ages Range:</label>
                                                {% for age_range in document.ageRanges %}
                                                    <span class="badge bg-primary-600">{{ age_range.name }} ( {{ age_range.minage }}-{{ age_range.maxage}} )</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Line of business:</label>
                                                {% for line in document.LineOfBusiness %}
                                                    <span class="badge bg-slate">{{ line.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">State lic:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.StateLic }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Lic state:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.LicState }}</p>
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Languages:</label>
                                                {% for language in document.languages %}
                                                    <span class="badge bg-blue">{{ language.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Board certified:</label>
                                                <p class="col-form-label text-body p_docs p-inline">
                                                    {% if document.BoardCertified==1 %}
                                                        <i class="fas fa-check text-success ml-2"></i>
                                                    {% else %}
                                                        <i class="fas fa-times text-danger ml-2"></i>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Board Name if Certified:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.BoardName }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Interested in Telemedicine Services?:</label>
                                                <p class="col-form-label text-body p_docs p-inline">
                                                    {% if document.InterestedInTelemedicine==1 %}
                                                        <i class="fas fa-check text-success ml-2"></i>
                                                    {% else %}
                                                        <i class="fas fa-times text-danger ml-2"></i>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Do you provide Peer Services?:</label>
                                                {% if document.peerSupport==1 %}
                                                    Yes
                                                {% else %}
                                                    No
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Degrees:</label>
                                                {% for degree in document.degree %}
                                                    <span class="badge bg-warning">{{ degree.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Interested in Residential Services at ALF and LTC Facilities?:</label>
                                                {% if document.InterestedInResidentialServices==1 %}
                                                    <i class="fas fa-check text-success ml-2"></i>
                                                {% else %}
                                                    <i class="fas fa-times text-danger ml-2"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Are you accepting new patients?:</label>
                                                {% if document.AcceptingNewPatients==1 %}
                                                    <i class="fas fa-check text-success ml-2"></i>
                                                {% else %}
                                                    <i class="fas fa-times text-danger ml-2"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Are you a PCP?:</label>
                                                {% if document.HasPcp==1 %}
                                                    <i class="fas fa-check text-success ml-2"></i>
                                                {% else %}
                                                    <i class="fas fa-times text-danger ml-2"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Primary Specialties:</label>
                                                {% for primary in document.PrimarySpecialties %}
                                                    <span class="badge bg-info">{{ primary.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Provider type:</label>
                                                {% for providertype in document.ProviderType %}
                                                    <span class="badge bg-secondary">{{ providertype.name }} </span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Provider Specialty Areas:</label>
                                                {% for specialtyArea in document.getSpecialtiesArea %}
                                                    <span class="badge bg-secondary">{{ specialtyArea.name }} </span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Gender acceptance:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.GenderAcceptance }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Disabled:</label>
                                                {% if document.disabled==1 %}
                                                    Yes
                                                {% else %}
                                                    No
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Notes:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.notes }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade {% if tab==3 %}active show{% endif %}" id="tab3">
                                <div class="card rounded-top-0">
                                    <div class="card-body" >
                                        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline mb-3">
                                            <div class="d-flex">
                                                <div class="breadcrumb" id="breadcrumb-folders">
                                                    <a href="#" class="breadcrumb-item" id="breadcrumb-home"><i class="fas fa-folder mr-1"></i> Provider Files</a>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <a href="#" data-id="1" class="active btn-grid-type"><i class="fas fa-th-large"></i></a>
                                                <a href="#" data-id="2" class="btn-grid-type mr-1"><i class="fas fa-list"></i></a>
                                                <input type="hidden" id="grid-type" value="1">
                                                <input type="hidden" id="current-level" value="0">
                                                <input type="hidden" id="folder_id" value="null">
                                            </div>
                                        </div>
                                        <div id="cont-folders">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Modal -->
    <div id="modal_view_address_pro" class="modal fade" tabindex="-1">
        <input type="hidden" value="#" name="url_view_location" id="url_view_location"/>
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Address Details</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('admin_load_address_ajax') }}" id="form-load-address-ajax"></form>
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">Business Hours:</label>
                            <div class="grid-col-days">
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Mon:</span></label>
                                    <div id="cont-hours-mon" class="sr-only">
                                        <div class="pt-2 text-slate">
                                           <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                               <i class="fas fa-sun"></i>
                                           </span>
                                            <span id="start_mon" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                 <i class="fas fa-moon"></i>
                                            </span>
                                            <span id="till_mon" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Tue:</span></label>
                                    <div id="cont-hours-tue" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                            <span id="start_tue" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                            <span id="till_tue" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Wed:</span></label>
                                    <div id="cont-hours-wed" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                            <span id="start_wed" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                            <span id="till_wed" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Thu:</span></label>
                                    <div id="cont-hours-thu" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                            <span id="start_thu" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                            <span id="till_thu" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Fri:</span></label>
                                    <div id="cont-hours-fri" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                            <span id="start_fri" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                            <span id="till_fri" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Sat:</span></label>
                                    <div id="cont-hours-sat" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                            <span id="start_sat" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                            <span id="till_sat" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="col-form-label form-group mb-0 pb-0"><span class="text-slate">Sun:</span></label>
                                    <div id="cont-hours-sun" class="sr-only">
                                        <div class="pt-2 text-slate">
                                                                                    <span class="btn bg-transparent border-success-400 text-success-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-sun"></i>
                                                                                    </span>
                                            <span id="start_sun" class="text-success-400" style="font-weight: 600;font-size: 14px"></span><br/><br/>
                                            <span class="btn bg-transparent border-danger-400 text-danger-400 rounded-round border-2 btn-icon mr-3">
                                                                                        <i class="fas fa-moon"></i>
                                                                                    </span>
                                            <span id="till_sun" class="text-danger-400" style="font-weight: 600;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12 col-md-4 mt-3">
                            <label class="col-form-label">Street:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_street"></p>
                        </div>
                        <div class="col-12 col-md-4 mt-3">
                            <label class="col-form-label">Suite Number:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_suite"></p>
                        </div>
                        <div class="col-12 col-md-4 mt-3">
                            <label class="col-form-label">City:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_city"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">County:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_county"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Region:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_region"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">State:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_state"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Zip Code:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_zipcode"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Phone Number:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_phone"></p>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Service Settings:</label>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Beds:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_beds"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Location NPI:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_npi"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Location NPI2:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_npi2"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Group Medicaid:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_medicaid"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Group Medicare:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_medicare"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Taxonomy Code:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_taxonomy"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Office Age Limit Min:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_limit_min"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Office Age Limit Max:</label>
                            <p class="col-form-label text-body p_docs p-inline" id="addr_limit_max"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Wheelchair Accessibility:</label>
                            <span id="addr_wheelchair"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">TDD:</label>
                            <span id="addr_tdd"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Private Provider Transportation:</label>
                            <span id="addr_private_transport"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is this your Primary Address:</label>
                            <span id="addr_primary_addr"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is this your Billing Address:</label>
                            <span id="addr_billing_addr"></span>
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is this your Mailing Address:</label>
                            <span id="addr_mailing_addr"></span>

                        </div>
                        <div class="col-12 col-md-4">
                            <label class="col-form-label">Is Facility:</label>
                            <span id="addr_is_facility"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /View modal -->

    {{ include('provider_credentialing/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/provider_credentialing/delete.js') }}"></script>
     <script type="text/javascript">
         $(function() {

             $(document).ready(function(){

                 var current_level=$('#current-level').val()
                 var folder_id=$('#folder_id').val()

                 generateFolders(folder_id,current_level)
             })

             $('#link_providers_pp').addClass('active')
             $('table td').css('padding', '8px 15px 8px 3px')
             var h = $(window).height() - 340

             $('.form-check-input-switch').on('switchChange.bootstrapSwitch', function () {

                 var  comp=$(this)
                 var idAddress=comp.data('id')
                 var provider_id=$('#provider_id').val()

                 var url=$('#form-active-addr').attr('action')
                 var active=0

                 if(comp.is(':checked')){
                     active=1
                 }

                 var data={
                     id: idAddress,
                     active:active,
                     provider_id: provider_id
                 }

                 $.post(url, data, function (result) {

                 })
             });

             $('.btn-load-address').click(function(e){
                 e.preventDefault()

                 var url=$('#form-load-address-ajax').attr('action')
                 var id=$(this).data('id')
                 data={
                     id : id
                 }

                 $.post(url, data, function (result) {
                     var address=result.address;

                     var cadena=address['bussinesshours']
                     var id=address['id']

                     $('#addr_street').html(address['street'])
                     $('#addr_city').html(address['city'])
                     $('#addr_suite').html(address['suite'])
                     $('#addr_county').html(address['county'])
                     $('#addr_region').html(address['region'])
                     $('#addr_state').html(address['state'])
                     $('#addr_zipcode').html(address['zipcode'])
                     $('#addr_phone').html(address['phone'])
                     $('#addr_beds').html(address['beds'])
                     $('#addr_npi').html(address['npi'])
                     $('#addr_npi2').html(address['npi2'])
                     $('#addr_medicaid').html(address['medicaid'])
                     $('#addr_medicare').html(address['medicare'])
                     $('#addr_taxonomy').html(address['taxonomy'])
                     $('#addr_limit_min').html(address['limit_min'])
                     $('#addr_limit_max').html(address['limit_max'])

                     /*
                     $addressResult['is_facility']=$address->getIsFacility();*/

                     var btn_yes=' <i class="fas fa-check text-success ml-2"></i>'
                     var btn_no='<i class="fas fa-times text-danger ml-2"></i>'

                     if(address['wheelchair']==true){
                         $('#addr_wheelchair').html(btn_yes)
                     }else{
                         $('#addr_wheelchair').html(btn_no)
                     }

                     if(address['tdd']==true){
                         $('#addr_tdd').html(btn_yes)
                     }else{
                         $('#addr_tdd').html(btn_no)
                     }

                     if(address['private_transport']==true){
                         $('#addr_private_transport').html(btn_yes)
                     }else{
                         $('#addr_private_transport').html(btn_no)
                     }

                     if(address['primary_addr']==true){
                         $('#addr_primary_addr').html(btn_yes)
                     }else{
                         $('#addr_primary_addr').html(btn_no)
                     }

                     if(address['billing_addr']==true){
                         $('#addr_billing_addr').html(btn_yes)
                     }else{
                         $('#addr_billing_addr').html(btn_no)
                     }

                     if(address['mailing_addr']==true){
                         $('#addr_mailing_addr').html(btn_yes)
                     }else{
                         $('#addr_mailing_addr').html(btn_no)
                     }

                     if(address['is_facility']==true){
                         $('#addr_is_facility').html(btn_yes)
                     }else{
                         $('#addr_is_facility').html(btn_no)
                     }



                     var cadena=cadena.replace("[","")
                     var cadena=cadena.replace("]","")

                     var jsonObj = $.parseJSON('[' + cadena + ']');

                     var cont_hours_mon=$('#cont-hours-mon')
                     var start_mon=$('#start_mon')
                     var till_mon=$('#till_mon')

                     var cont_hours_tue=$('#cont-hours-tue')
                     var start_tue=$('#start_tue')
                     var till_tue=$('#till_tue')

                     var cont_hours_wed=$('#cont-hours-wed')
                     var start_wed=$('#start_wed')
                     var till_wed=$('#till_wed')

                     var cont_hours_thu=$('#cont-hours-thu')
                     var start_thu=$('#start_thu')
                     var till_thu=$('#till_thu')

                     var cont_hours_fri=$('#cont-hours-fri')
                     var start_fri=$('#start_fri')
                     var till_fri=$('#till_fri')

                     var cont_hours_sat=$('#cont-hours-sat')
                     var start_sat=$('#start_sat')
                     var till_sat=$('#till_sat')

                     var cont_hours_sun=$('#cont-hours-sun')
                     var start_sun=$('#start_sun')
                     var till_sun=$('#till_sun')

                     if(jsonObj[0].isActive==true){
                         cont_hours_mon.removeClass('sr-only')
                         start_mon.html(jsonObj[0].timeFrom)
                         till_mon.html(jsonObj[0].timeTill)
                     }

                     if(jsonObj[1].isActive==true){
                         cont_hours_tue.removeClass('sr-only')
                         start_tue.html(jsonObj[1].timeFrom)
                         till_tue.html(jsonObj[1].timeTill)
                     }

                     if(jsonObj[2].isActive==true){
                         cont_hours_wed.removeClass('sr-only')
                         start_wed.html(jsonObj[2].timeFrom)
                         till_wed.html(jsonObj[2].timeTill)
                     }

                     if(jsonObj[3].isActive==true){
                         cont_hours_thu.removeClass('sr-only')
                         start_thu.html(jsonObj[3].timeFrom)
                         till_thu.html(jsonObj[3].timeTill)
                     }

                     if(jsonObj[4].isActive==true){
                         cont_hours_fri.removeClass('sr-only')
                         start_fri.html(jsonObj[4].timeFrom)
                         till_fri.html(jsonObj[4].timeTill)
                     }

                     if(jsonObj[5].isActive==true){
                         cont_hours_sat.removeClass('sr-only')
                         start_sat.html(jsonObj[5].timeFrom)
                         till_sat.html(jsonObj[5].timeTill)
                     }

                     if(jsonObj[6].isActive==true){
                         cont_hours_sun.removeClass('sr-only')
                         start_sun.html(jsonObj[6].timeFrom)
                         till_sun.html(jsonObj[6].timeTill)
                     }
                 })

             })

             $('#breadcrumb-home').click(function(e){
                 e.preventDefault()
                 $('#folder_id').val(null)
                 $('#current-level').val(0)
                 generateFolders(null, 0)
             })

             $('#cont-folders').on('click','.btn-up',function(e){
                 e.preventDefault()
                 generateFolders(null, 0)
                 $('#folder_id').val(null)
                 $('#current-level').val(0)
             })

             $('#cont-folders').on('click','.btn-folder',function(e){
                 e.preventDefault()
                 var id=$(this).data('id')
                 generateFolders(id,1)
             })

             $('.btn-grid-type').click(function(e){
                 e.preventDefault()
                 var grid_type=$('#grid-type')

                 var type=$(this).data('id')
                 grid_type.val(type)

                 var current_level=$('#current-level').val()
                 var folder_id=$('#folder_id').val()

                 generateFolders(folder_id,current_level)

                 var btns=$('.btn-grid-type')

                 btns.each(function(index, element) {
                     $(element).removeClass('active')
                 });

                 $(this).addClass('active')

             })

             function generateFolders(id, level){
                 var cont=$('#cont-folders')
                 var grid_type=$('#grid-type').val()
                 cont.html('')

                 var breadcrumb_folders=$('#breadcrumb-folders')

                 var html=""
                 //level 0
                 if(level==0){
                     if(grid_type==1){
                         html+='<div class="cont-folders-grid">'
                     }else{
                         html+='<div class="cont-folders-list">'
                     }

                     if(grid_type==1){
                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="1">'
                         {% if  document.ProviderAgreementFile=="" %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">Provider Agreement File</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="2">'
                         {% if  cred_files %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">Credentialing application file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="3">'
                         {% if  document.getStateLicenseFile=="" %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">State licence file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="4">'
                         {% if  document.getProviderDataFormFile=="" %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">Provider data form file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="5">'
                         {% if  document.getW9File=="" %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">W9 file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="6">'
                         {% if  document.getGeneralLiabilityCoverageFile=="" %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">General liability coverage file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="7">'
                         {% if  document.getLoaLoiFile=="" %}
                         html+='<i class="far fa-folder fa-3x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-3x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: block;color: #0b3251">Loa loi file</label>'
                         html+='</div>'

                     }else{
                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="1">'
                         {% if  document.ProviderAgreementFile=="" %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">Provider Agreement File</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="2">'
                         {% if  cred_files %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">Credentialing application file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="3">'
                         {% if  document.getStateLicenseFile=="" %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">State licence file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="4">'
                         {% if  document.getProviderDataFormFile=="" %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">Provider data form file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="5">'
                         {% if  document.getW9File=="" %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">W9 file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="6">'
                         {% if  document.getGeneralLiabilityCoverageFile=="" %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">General liability coverage file</label>'
                         html+='</div>'

                         html+='<div class="item">'
                         html+='<a href="#" class="btn-folder" data-id="7">'
                         {% if  document.getLoaLoiFile=="" %}
                         html+='<i class="far fa-folder fa-2x"></i>'
                         {% else %}
                         html+='<i class="fas fa-folder fa-2x"></i>'
                         {% endif %}
                         html+='</a>'
                         html+='<label style="display: inline-block;color: #0b3251" class="ml-2">Loa loi file</label>'
                         html+='</div>'
                     }


                     html+='</div>'

                     breadcrumb_folders.children('span').remove()
                 }
                 if(level==1){
                     breadcrumb_folders.children('span').remove()
                     $('#current-level').val(1)
                     html+='<div class="row mb-2">'
                     html+='<div class="col-12">'
                     html+='<a href="#" class="btn-up">'
                     html+='<i class="fas fa-ellipsis-h fa-1x"></i>'
                     html+='</a>'
                     html+='</div>'
                     html+='</div>'

                     if(grid_type==1){
                         html+='<div class="cont-folders-grid">'
                     }else{
                         html+='<div class="cont-folders-list">'
                     }

                     if(id==1){
                         $('#folder_id').val(1)

                         var span='<span class="breadcrumb-item active">Provider Agreement File</span>'
                         breadcrumb_folders.append(span)

                         var url="{{ asset('uploads/providers/' ~ document.id~'/'~document.ProviderAgreementFile) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.ProviderAgreementFile %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.ProviderAgreementFile or '.doc' in document.ProviderAgreementFile %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.ProviderAgreementFile or '.xls' in document.ProviderAgreementFile %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: block;color: #0b3251">{{ document.ProviderAgreementFile }}</label>'
                             html+='</div>'
                         }else{
                             html+='<div class="item item2">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.ProviderAgreementFile %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.ProviderAgreementFile or '.doc' in document.ProviderAgreementFile %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.ProviderAgreementFile or '.xls' in document.ProviderAgreementFile %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: inline-block;color: #0b3251" class="ml-2">{{ document.ProviderAgreementFile }}</label>'
                             html+='</div>'
                         }
                     }
                     if(id==2){
                         $('#folder_id').val(2)
                         var span='<span class="breadcrumb-item active">Credentialing application files</span>'

                         breadcrumb_folders.append(span)

                         {% for cred_file in cred_files %}
                         var url="{{ asset('uploads/providers_cred/' ~ document.npinumber~'/'~cred_file.filename) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in cred_file.filename %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in cred_file.filename or '.doc' in cred_file.filename %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in cred_file.filename or '.xls' in cred_file.filename %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='<label style="display: block;color: #0b3251;cursor:pointer">{{ cred_file.filename }}</label>'
                             html+='</a>'
                             html+='</div>'
                         }else{
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in cred_file.filename %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in cred_file.filename or '.doc' in cred_file.filename %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in cred_file.filename or '.xls' in cred_file.filename %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='<label style="display: inline-block;color: #0b3251;cursor:pointer" class="ml-2">{{ cred_file.filename }}</label>'
                             html+='</a>'
                             html+='</div>'
                         }

                         {% endfor %}
                     }
                     if(id==3){
                         $('#folder_id').val(3)
                         var span='<span class="breadcrumb-item active">State licence file</span>'
                         breadcrumb_folders.append(span)

                         var url="{{ asset('uploads/providers/' ~ document.id~'/'~document.getStateLicenseFile) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getStateLicenseFile %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getStateLicenseFile or '.doc' in document.getStateLicenseFile %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getStateLicenseFile or '.xls' in document.getStateLicenseFile %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: block;color: #0b3251">{{ document.getStateLicenseFile }}</label>'
                             html+='</div>'
                         }else{
                             html+='<div class="item item2">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getStateLicenseFile %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getStateLicenseFile or '.doc' in document.getStateLicenseFile %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getStateLicenseFile or '.xls' in document.getStateLicenseFile %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: inline-block;color: #0b3251" class="ml-2">{{ document.getStateLicenseFile }}</label>'
                             html+='</div>'
                         }
                     }
                     if(id==4){
                         $('#folder_id').val(4)
                         var span='<span class="breadcrumb-item active">Provider data form file</span>'
                         breadcrumb_folders.append(span)

                         var url="{{ asset('uploads/providers/' ~ document.id~'/'~document.getProviderDataFormFile) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getProviderDataFormFile %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getProviderDataFormFile or '.doc' in document.getProviderDataFormFile %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getProviderDataFormFile or '.xls' in document.getProviderDataFormFile %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: block;color: #0b3251">{{ document.getProviderDataFormFile }}</label>'
                             html+='</div>'
                         }else{
                             html+='<div class="item item2">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getProviderDataFormFile %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getProviderDataFormFile or '.doc' in document.getProviderDataFormFile %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getProviderDataFormFile or '.xls' in document.getProviderDataFormFile %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: inline-block;color: #0b3251" class="ml-2">{{ document.getProviderDataFormFile }}</label>'
                             html+='</div>'
                         }
                     }
                     if(id==5){
                         $('#folder_id').val(5)
                         var span='<span class="breadcrumb-item active">W9 file</span>'
                         breadcrumb_folders.append(span)

                         var url="{{ asset('uploads/providers/' ~ document.id~'/'~document.getW9File) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getW9File %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getW9File or '.doc' in document.getW9File %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getW9File or '.xls' in document.getW9File %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: block;color: #0b3251">{{ document.getW9File }}</label>'
                             html+='</div>'
                         }else{
                             html+='<div class="item item2">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getW9File %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getW9File or '.doc' in document.getW9File %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getW9File or '.xls' in document.getW9File %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: inline-block;color: #0b3251" class="ml-2">{{ document.getW9File }}</label>'
                             html+='</div>'
                         }
                     }
                     if(id==6){
                         $('#folder_id').val(6)
                         var span='<span class="breadcrumb-item active">General liability coverage file</span>'
                         breadcrumb_folders.append(span)

                         var url="{{ asset('uploads/providers/' ~ document.id~'/'~document.getGeneralLiabilityCoverageFile) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getGeneralLiabilityCoverageFile %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getGeneralLiabilityCoverageFile or '.doc' in document.getGeneralLiabilityCoverageFile %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getGeneralLiabilityCoverageFile or '.xls' in document.getGeneralLiabilityCoverageFile %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: block;color: #0b3251">{{ document.getGeneralLiabilityCoverageFile }}</label>'
                             html+='</div>'
                         }else{
                             html+='<div class="item item2">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getGeneralLiabilityCoverageFile %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getGeneralLiabilityCoverageFile or '.doc' in document.getGeneralLiabilityCoverageFile %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getGeneralLiabilityCoverageFile or '.xls' in document.getGeneralLiabilityCoverageFile %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: inline-block;color: #0b3251" class="ml-2">{{ document.getGeneralLiabilityCoverageFile }}</label>'
                             html+='</div>'
                         }
                     }
                     if(id==7){
                         $('#folder_id').val(7)
                         var span='<span class="breadcrumb-item active">Loa loi file</span>'
                         breadcrumb_folders.append(span)

                         var url="{{ asset('uploads/providers/' ~ document.id~'/'~document.getLoaLoiFile) }}"

                         if(grid_type==1){
                             html+='<div class="item">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getLoaLoiFile %}
                             html+='<i class="far fa-file-pdf fa-3x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getLoaLoiFile or '.doc' in document.getLoaLoiFile %}
                             html+='<i class="far fa-file-word fa-3x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getLoaLoiFile or '.xls' in document.getLoaLoiFile %}
                             html+='<i class="far fa-file-excel fa-3x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: block;color: #0b3251">{{ document.getLoaLoiFile }}</label>'
                             html+='</div>'
                         }else{
                             html+='<div class="item item2">'
                             html+='<a href="'+url+'" class="" data-id="6" target="_blank">'
                             {% if  '.pdf' in document.getLoaLoiFile %}
                             html+='<i class="far fa-file-pdf fa-2x"></i>'
                             {% endif %}
                             {% if  '.docx' in document.getLoaLoiFile or '.doc' in document.getLoaLoiFile %}
                             html+='<i class="far fa-file-word fa-2x"></i>'
                             {% endif %}
                             {% if  '.xlsx' in document.getLoaLoiFile or '.xls' in document.getLoaLoiFile %}
                             html+='<i class="far fa-file-excel fa-2x"></i>'
                             {% endif %}
                             html+='</a>'
                             html+='<label style="display: inline-block;color: #0b3251" class="ml-2">{{ document.getLoaLoiFile }}</label>'
                             html+='</div>'
                         }
                     }

                     html+='</div>'
                 }

                 cont.html(html)
             }
         })
     </script>
 {% endblock %}
