{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_orgspecialty') }}" class="breadcrumb-item">Provider Type (Organization)</a>
                        <span class="breadcrumb-item active">Edit Provider Type (Organization)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Edit Provider Type (Organization)</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_orgspecialty') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Provider Type (Organization) List</a>
                    <a href="{{ path('admin_new_orgspecialty') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Provider Type (Organization)git ad</a>
                </div>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-12">
                      <div class="card border-top-success rounded-top-0">
                          <div class="card-header"></div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-9">
                                      <form action="{{ path('admin_update_orgspecialty') }}" method="POST" id="form">
                                          <div class="form-group row">
                                              <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                              <div class="col-lg-10">
                                                  <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}">
                                                  <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                      <span class="font-weight-semibold">Please fill out this field!</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <label class="col-lg-2 col-form-label">Code:</label>
                                              <div class="col-lg-10">
                                                  <input type="text" class="form-control" name="code" id="code" value="{{ document.code }}">
                                              </div>
                                          </div>
                                          <div class="text-right">
                                              <input type="hidden" name="new" id="new" value="">
                                              <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                              <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                              <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                              <a href="{{ path('admin_orgspecialty') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/orgspecialty/validation_edit.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-group-configuration').addClass('nav-item-expanded')
             $('#link-group-configuration').addClass('nav-item-open')
             $('#link-group-organization_conf').addClass('nav-item-expanded')
             $('#link-group-organization_conf').addClass('nav-item-open')
             $('#link-admin-org-clasification').addClass('active')
         });
     </script>

 {% endblock %}
