{% extends 'base-login.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="content-wrapper">
         <div class="content d-flex justify-content-center align-items-center">
             <div class="row" style="width: 100%;max-width: 1200px;">
                 <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href=""><i class="fas fa-user-md fa-3x text-slate-600 mb-1 mt-1 "></i></a>
                            <a href=""><h3 class="text-slate-600 mb-4">Provider Portal</h3></a>
                            <a href="{{ path('provider_login') }}" class="btn btn-outline bg-slate-600 text-slate-600 border-slate links-home"><i class="fas fa-sign-in-alt mr-3"></i> Enter to Portal</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-12 col-md-4">
                     <div class="card">
                         <div class="card-body text-center">
                             <a href=""><i class="fas fa-user-tie fa-3x text-slate-700 mb-1 mt-1 "></i></a>
                             <a href=""><h3 class="text-slate-700 mb-4">Payer Portal</h3></a>
                             <a href="{{ path('payer_login') }}" class="btn btn-outline bg-slate-600 text-slate-700 border-slate links-home"><i class="fas fa-sign-in-alt mr-3"></i> Enter to Portal</a>
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-md-4">
                     <div class="card">
                         <div class="card-body text-center">
                             <a href=""><i class="fas fa-user-cog fa-3x text-slate-800 mb-1 mt-1 "></i></a>
                             <a href=""><h3 class="text-slate-800 mb-4">Admin Portal</h3></a>
                             <a href="{{ path('admin_login') }}" class="btn btn-outline bg-slate-600 text-slate-800 border-slate links-home"><i class="fas fa-sign-in-alt mr-3"></i> Enter to Portal</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        </div>
    </div>
{% endblock %}
