{% extends 'base_provider.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('provider_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('provider_contact') }}" class="breadcrumb-item">Contacts</a>
                        <span class="breadcrumb-item active">New Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Contact</span></h5>
                <div class="header-elements">
                    <a href="{{ path('provider_contact') }}" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> Contacts List</a>
                    <a href="{{ path('provider_new_contact') }}" class="btn btn-success"><i class="fas fa-plus"></i> New Contact</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('provider_update_contact') }}" method="POST" id="form">
                                            <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Name" name="name" id="name" value="{{ document.name }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Contact title:</label>
                                                <div class="col-lg-10">
                                                    <select name="title" id="title" class="form-control select" data-fouc>
                                                        <option value="0">- Select one -</option>
                                                        {% for title in titles %}
                                                            <option value="{{ title.id }}" {% if document.title %}{% if document.title.id==title.id %}selected{% endif %} {% endif %}>{{ title.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Description:</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="5" cols="5" placeholder="Description" class="form-control" name="description" id="description">{{ document.description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Phone" name="phone" id="phone" data-mask="999-999-9999" value="{{ document.phone }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone ext:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Phone ext" name="phone_ext" id="phone_ext" value="{{ document.getPhoneExt }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Mobile:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Mobile" name="mobile" id="mobile" data-mask="999-999-9999" value="{{ document.mobile }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Fax" name="fax" id="fax" data-mask="999-999-9999" value="{{ document.fax }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Email" name="email" id="email" value="{{ document.email }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Main:</label>
                                                <div class="col-lg-10 pt-1">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="main" value="1" id="main_yes" {% if document.main %} checked {% endif %}>
                                                        <label class="custom-control-label" for="main_yes">Yes</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="main" value="0" id="main_no" {% if document.main==false %} checked {% endif %}>
                                                        <label class="custom-control-label" for="main_no">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Address:</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="5" cols="5" placeholder="Address" class="form-control" name="address" id="address">{{ document.address }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">City:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" placeholder="City" class="form-control" name="city" id="city" value="{{ document.city }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">State:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="State" name="state" id="state" value="{{ document.state }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Zip code:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" placeholder="Zip code" name="zip_code" id="zip_code" value="{{ document.getZipCode }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <input type="hidden" name="bestSelected" id="bestSelected" value="" />
                                                <label class="col-lg-12 col-form-label">Please indicate best choice/ choices for this contact:</label>
                                                {% for best in bests %}
                                                    <div class="col-12 form-group">
                                                        {% set c=0 %}
                                                        {% for pt in document.getBestChoices %}
                                                            {% if pt.id==best.id %} {% set c=1 %}{% endif %}
                                                        {% endfor %}
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" name="bests" id="best_{{ best.id }}" value="{{ best.id }}" {% if c==1 %}checked{% endif %}>
                                                            <label class="custom-control-label" for="best_{{ best.id }}">{{ best.name }}</label>
                                                        </div>
                                                    </div>
                                                    {% set c=0 %}
                                                {% endfor %}
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_role') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/contact_p/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link_provider_contacts').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })
         })
     </script>
 {% endblock %}
