{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">FCC Providers to Process</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider to process</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label>Total of providers: {{ providers|length }}</label>
                        <div class="table-responsive" id="table_grid_cred">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-slate">
                                    <th>Id</th>
                                    <th>NPI</th>
                                    <th>First Name</th>
                                    <th>Last name</th>
                                    <th>Organization</th>
                                    <th style="text-align: right;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for provider in providers %}
                                <tr>
                                    <td>{{ provider.id }}</td>
                                    <td>{{ provider.npi_number }}</td>
                                    <td>{{ provider.first_name }}</td>
                                    <td>{{ provider.last_name }}</td>
                                    <td>{{ provider.organization_name }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}

     <script type="text/javascript">
         $(document).ready(function(e){

         })
     </script>

 {% endblock %}

