{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_servicesetting') }}" class="breadcrumb-item">Service Settings</a>
                        <span class="breadcrumb-item active">View Service Setting</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Service Setting</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_servicesetting') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Service Settings List</a>
                    <a href="{{ path('admin_new_servicesetting') }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Service Setting</a>
                    <a href="{{ path('admin_edit_servicesetting',{'id':document.id }) }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Service Setting</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-2"><label class="col-form-label">Name:</label> </div>
                                    <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.name }}</p></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-2"><label class="col-form-label">Code:</label> </div>
                                    <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.code }}</p></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-2"><label class="col-form-label">Description:</label> </div>
                                    <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.description }}</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)
             $('#link-group-configuration').addClass('nav-item-expanded')
             $('#link-group-configuration').addClass('nav-item-open')
             $('#link-group-location-conf').addClass('nav-item-expanded')
             $('#link-group-location-conf').addClass('nav-item-open')
             $('#link-admin-service-serttings').addClass('active')
         });
     </script>
 {% endblock %}
