{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        #address_p_service_settings .form-check, #address_p_providers .form-check, #address_p_facility_type .form-check {
            display: inline-block;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('provider_billing_index') }}" class="breadcrumb-item">Address</a>
                        <span class="breadcrumb-item active">{{ action}} Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> {{ action}} Address</span></h5>
                <div class="header-elements">
                    <a href="{{ path('provider_billing_index') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Address List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9 col-xs-12">
                                        {% if errors %}
                                            {% if errors|length>0 %}
                                                <div class="alert alert-danger alert-styled-left alert-dismissible">
                                                    <h6 class="card-title text-danger-800 font-weight-bold">Missing Information</h6>
                                                    <p class="mt-1">The Address has the following errors</p>
                                                    <ul>
                                                        {# Loop through every form item #}
                                                        {% for child in form.children %}
                                                            {# Display the errors of the form item #}
                                                            {% for error in errors %}
                                                                {% if error.getPropertyPath==child.vars.name  %}
                                                                    <li><strong>{{ child.vars.label }}</strong> : {{error.message}}</li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {%endfor%}
                                                    </ul>
                                                </div>
                                            {%endif%}
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'id':'form', 'novalidate': 'novalidate'}}) }}
                                        <div class="form-group row">
                                            <div class="col-12">
                                                {{ form_row(form.street) }}
                                                {{ form_row(form.suite_number) }}
                                                {{ form_row(form.location_name) }}
                                                {{ form_row(form.city) }}
                                                {{ form_row(form.county) }}
                                                {{ form_row(form.us_state) }}
                                                {{ form_row(form.zipCode) }}
                                                {{ form_row(form.phone_number) }}
                                                {{ form_row(form.see_patients_addr) }}

                                                <!-- bussiness hours  -->
                                                <div class="form-group row sr-only" id="cont_bussines_hours">
                                                    <div class="col-12">
                                                        <div class="grid-col-days">
                                                            <div class="item">
                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-mon">Mon</button>
                                                                <div class="cont-hours" id="hours-mon">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_mon_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_mon_end'}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group mt-3 sr-only" id="cont_appointment_mon">
                                                                    <label style="display: block;font-weight: bold;">By appointment</label>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" class="custom-control-input" name="appointment_mon" value="1" id="appointment_mon_yes">
                                                                        <label class="custom-control-label" for="appointment_mon_yes">Yes</label>
                                                                    </div>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" class="custom-control-input" name="appointment_mon" value="0" id="appointment_mon_no">
                                                                        <label class="custom-control-label" for="appointment_mon_no">No</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-tue">Tue</button>
                                                                <div class="cont-hours" id="hours-tue">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_tue_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_tue_end'}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-wed">Wed</button>
                                                                <div class="cont-hours" id="hours-wed">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_wed_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_wed_end'}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-thu">Thu</button>
                                                                <div class="cont-hours" id="hours-thu">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_thu_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_thu_end'}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <button type="button" class="btn btn-success border-success-800 border-2 btn-lg btn-days active" id="btn-hours-fri">Fri</button>
                                                                <div class="cont-hours" id="hours-fri">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_fri_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_fri_end'}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <button type="button" class="btn btn-danger border-danger-800 border-2 btn-lg btn-days" id="btn-hours-sat">Sat</button>
                                                                <div class="cont-hours" id="hours-sat" style="display: none">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_sat_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_sat_end'}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <button type="button" class="btn btn-danger border-danger-800 border-2 btn-lg btn-days" id="btn-hours-sun">Sun</button>
                                                                <div class="cont-hours" id="hours-sun" style="display: none">
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-start.html.twig',{'name':'hours_sun_start'}) }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        {{  include('billing/selecthours-end.html.twig',{'name':'hours_sun_end'}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                                    <div class="card-body">
                                                        {{ form_row(form.service_settings) }}
                                                    </div>
                                                </div>
                                                {{ form_row(form.have_beds) }}
                                                {{ form_row(form.beds) }}
                                                {{ form_row(form.kids_beds) }}
                                                {{ form_row(form.location_npi) }}
                                                {{ form_row(form.location_npi2) }}
                                                {{ form_row(form.group_medicaid) }}
                                                {{ form_row(form.group_medicare) }}
                                                {{ form_row(form.taxonomy_codes) }}
                                                {{ form_row(form.age_ranges) }}
                                                {{ form_row(form.ada_compliant) }}
                                                {{ form_row(form.wheelchair) }}
                                                {{ form_row(form.public_transportation) }}
                                                {{ form_row(form.private_provider_transportation) }}
                                                {{ form_row(form.tdd) }}
                                                {{ form_row(form.tdd_number) }}
                                                {{ form_row(form.primary_addr) }}
                                                {{ form_row(form.billing_addr) }}
                                                {{ form_row(form.mailing_addr) }}
                                                {{ form_row(form.is_facility) }}
                                                <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0 card_facilities sr-only">
                                                    <div class="card-body">
                                                        {{ form_row(form.facility_type) }}
                                                    </div>
                                                </div>
                                                {{ form_row(form.facility_number) }}
                                                {{ form_row(form.facility_exemption_number) }}
                                                {{ form_row(form.ahca_number) }}
                                                <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                                    <div class="card-body">
                                                        {{ form_row(form.providers) }}
                                                    </div>
                                                </div>
                                                {{ form_widget(form) }}

                                                <p class="text-danger">(*) Fields required</p>
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('provider_billing_index') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .select2-container{
            width: 80%;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/notifications/sweet_alert.min.js') }}"></script>
     <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){

             showbedsnumberfieldif()
             showtddnumberfieldif()
             showFacilityFields()

             var service_settings_ctrl=$('#address_p_service_settings .form-check')
             var address_p_facility_type_ctrl=$('#address_p_facility_type .form-check')
             var address_p_providers_ctrl=$('#address_p_providers .form-check')

             service_settings_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });
             address_p_facility_type_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });
             address_p_providers_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });


             if($('#address_p_see_patients_addr_0').is(':checked')){
                 $('#cont_bussines_hours').removeClass('sr-only');

                 var cadena=$('#address_p_business_hours').val()

                 if(cadena!=""){
                     var cadena=cadena.replace("[","")
                     var cadena=cadena.replace("]","")

                     var jsonObj = $.parseJSON('[' + cadena + ']');

                     var hours_mon=$('#hours_mon')
                     var btn_hours_mon=$('#btn-hours-mon')
                     var start_mon=$('#start_mon')
                     var till_mon=$('#till_mon')

                     SetHours(jsonObj[0],'hours-mon','btn-hours-mon','hours_mon_start','hours_mon_end')
                     SetHours(jsonObj[1],'hours-tue','btn-hours-tue','hours_tue_start','hours_tue_end')
                     SetHours(jsonObj[2],'hours-wed','btn-hours-wed','hours_wed_start','hours_wed_end')
                     SetHours(jsonObj[3],'hours-thu','btn-hours-thu','hours_thu_start','hours_thu_end')
                     SetHours(jsonObj[4],'hours-fri','btn-hours-fri','hours_fri_start','hours_fri_end')
                     SetHours(jsonObj[5],'hours-sat','btn-hours-sat','hours_sat_start','hours_sat_end')
                     SetHours(jsonObj[6],'hours-sun','btn-hours-sun','hours_sun_start','hours_sun_end')
                 }

             }
             function SetHours(json, hours_id, btn_hours_id, select_start, select_end){
                 var cont_id=$('#'+hours_id)
                 var btn_hours=$('#'+btn_hours_id)
                 var select_start=$('#'+select_start)
                 var select_end=$('#'+select_end)

                 var optionsStart=select_start.children('option')
                 var optionsEnd=select_end.children('option')

                 var h_start=json.timeFrom
                 var h_end=json.timeTill

                 if(json.isActive==true){
                     cont_id.css('display','block')

                     btn_hours.removeClass('btn-danger')
                     btn_hours.addClass('btn-success')
                     btn_hours.addClass('border-success-800')
                     btn_hours.addClass('active')

                     optionsStart.each(function(){
                         var option=$(this)
                         if(option.val()==h_start){
                             option.attr('selected',true)
                         }else{
                             option.attr('selected',false)
                         }
                     })
                     optionsEnd.each(function(){
                         var option=$(this)
                         if(option.val()==h_end){
                             option.attr('selected',true)
                         }else{
                             option.attr('selected',false)
                         }
                     })

                 }else{
                     cont_id.css('display','none')
                     btn_hours.removeClass('btn-success')
                     btn_hours.addClass('btn-danger')
                     btn_hours.removeClass('active')
                     btn_hours.removeClass('border-success-800')
                     btn_hours.addClass('border-danger-800')
                 }
             }


             var swalInit = swal.mixin({
                 buttonsStyling: false,
                 confirmButtonClass: 'btn btn-primary',
                 cancelButtonClass: 'btn btn-light'
             })

             $('#link_provider_address').addClass('active')

             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);


             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             });

             $('#save_schema_yes').click(function(){
                 $('#cont_schema_name').removeClass('sr-only')
             })

             $('#save_schema_no').click(function(){
                 $('#cont_schema_name').addClass('sr-only')
                 $('#schema_name').val('')
             })

             $('#address_p_tdd_0').click(function(){
                 $('.row_tdd_info').removeClass('sr-only')
             })

             $('#address_p_tdd_1').click(function(){
                 $('.row_tdd_info').addClass('sr-only')
             })

             $('#address_p_have_beds_0').click(function(){
                 $('.row_beds_info').removeClass('sr-only')
             })

             $('#address_p_have_beds_1').click(function(){
                 $('.row_beds_info').addClass('sr-only')
                 $('#address_p_beds').val('0')
                 $('#address_p_kids_beds').val('0')
             })

             $('#address_p_is_facility_0').click(function(){
                 $('.card_facilities').removeClass('sr-only')
                 $('.row_facility_info').removeClass('sr-only')
                 $('#cont-is-facility').fadeIn(400)
             })

             $('#address_p_is_facility_1').click(function(){
                 $('.card_facilities').addClass('sr-only')
                 $('.row_facility_info').addClass('sr-only')
                 $('#cont-is-facility').fadeOut(400)

                 $('#facility_number').val('')
                 $('#facility_exemption_number').val('')

                 var facilityTypesChecked= $('input[name=facilityTypes]')

                 if(facilityTypesChecked){
                     facilityTypesChecked.each(function (index, $this) {
                         var facilityType = $(this);

                         if (facilityType.is(':checked')) {
                             facilityType.prop('checked',false)
                         }
                     });
                 }
             })

             $('.is_see_patients').click(function(){
                 var value=$(this).val()

                 var cont_bussines_hours=$('#cont_bussines_hours')
                 var hours=$('#hours')
                 if(value==1){
                     cont_bussines_hours.removeClass('sr-only')
                     $('#error_is_see_patients').addClass('sr-only')
                 }else{
                     cont_bussines_hours.addClass('sr-only')
                     hours.val('')
                 }
             })

             $('#tdd_yes').click(function(){
                 $('#cont_tdd_number').removeClass('sr-only')
             })

             $('#tdd_no').click(function(){
                 $('#cont_tdd_number').addClass('sr-only')
                 $('#tdd_number').val('')
             })

             $('#is_primary_address_yes').click(function(){
                 var url="{{ path('admin_check_unique_status') }}"
                 var id=$('#save_status').val()
                 var org_id="{{ org }}"

                 var data={
                     id: id,
                     org_id: org_id,
                     status: 'primary'
                 }

                 $.post(url, data, function (result) {
                     var unique=result.unique

                     if(unique==false){
                         swalInit({
                             title: 'Are you sure?',
                             text: "You have already selected a Primary Address do you want to edit?",
                             type: 'warning',
                             showCancelButton: true,
                             confirmButtonText: 'Yes, assign it!',
                             cancelButtonText: 'No, cancel!',
                             confirmButtonClass: 'btn btn-success',
                             cancelButtonClass: 'btn btn-danger',
                             buttonsStyling: false
                         }).then(function(result) {
                             if(result.value) {
                                 swalInit(
                                     'Assigned!',
                                     'The address has been assigned as primary.',
                                     'success'
                                 );

                                 var url_set="{{ path('admin_set_unique_status') }}"
                                 var data_set={
                                     id: id,
                                     org_id: org_id,
                                     status: 'primary'
                                 }

                                 $.post(url_set, data_set, function (result) {

                                 })
                             }
                             else if(result.dismiss === swal.DismissReason.cancel) {
                                 $('#is_primary_address_no').prop('checked',true)
                             }
                         });
                     }
                 })
             })

             $('#is_billing_address_yes').click(function(){
                 var url="{{ path('admin_check_unique_status') }}"
                 var id=$('#save_status').val()
                 var org_id="{{ org }}"

                 var data={
                     id: id,
                     org_id: org_id,
                     status: 'billing'
                 }

                 $.post(url, data, function (result) {
                     var unique=result.unique
                     if(unique==false){
                         swalInit({
                             title: 'Are you sure?',
                             text: "You have already selected a Billing Address do you want to edit?",
                             type: 'warning',
                             showCancelButton: true,
                             confirmButtonText: 'Yes, assign it!',
                             cancelButtonText: 'No, cancel!',
                             confirmButtonClass: 'btn btn-success',
                             cancelButtonClass: 'btn btn-danger',
                             buttonsStyling: false
                         }).then(function(result) {
                             if(result.value) {
                                 swalInit(
                                     'Assigned!',
                                     'The address has been assigned as primary.',
                                     'success'
                                 );

                                 var url_set="{{ path('admin_set_unique_status') }}"
                                 var data_set={
                                     id: id,
                                     org_id: org_id,
                                     status: 'billing'
                                 }

                                 $.post(url_set, data_set, function (result) {

                                 })
                             }
                             else if(result.dismiss === swal.DismissReason.cancel) {
                                 $('#is_billing_address_no').prop('checked',true)
                             }
                         });
                     }
                 })
             })

             $('#is_mailing_address_yes').click(function(){
                 var url="{{ path('admin_check_unique_status') }}"
                 var id=$('#save_status').val()
                 var org_id="{{ org }}"

                 var data={
                     id: id,
                     org_id: org_id,
                     status: 'mailling'
                 }

                 $.post(url, data, function (result) {
                     var unique=result.unique
                     if(unique==false){
                         swalInit({
                             title: 'Are you sure?',
                             text: "You have already selected a Mailling Address do you want to edit?",
                             type: 'warning',
                             showCancelButton: true,
                             confirmButtonText: 'Yes, assign it!',
                             cancelButtonText: 'No, cancel!',
                             confirmButtonClass: 'btn btn-success',
                             cancelButtonClass: 'btn btn-danger',
                             buttonsStyling: false
                         }).then(function(result) {
                             if(result.value) {
                                 swalInit(
                                     'Assigned!',
                                     'The address has been assigned as primary.',
                                     'success'
                                 );

                                 var url_set="{{ path('admin_set_unique_status') }}"
                                 var data_set={
                                     id: id,
                                     org_id: org_id,
                                     status: 'mailling'
                                 }

                                 $.post(url_set, data_set, function (result) {

                                 })
                             }
                             else if(result.dismiss === swal.DismissReason.cancel) {
                                 $('#is_mailing_address_no').prop('checked',true)
                             }
                         });
                     }
                 })
             })

             $('.btn-days').click(function(){
                 var btn=$(this)

                 var divH=btn.siblings('div')
                 var id="#"+divH.attr('id')
                 var cont_hours=$(id)

                 if(btn.hasClass('active')){
                     btn.removeClass('active')
                     btn.removeClass('btn-success')
                     btn.removeClass('border-success-800')
                     btn.addClass('btn-danger')
                     btn.addClass('border-danger-800')
                     cont_hours.fadeOut(400)
                 }else{
                     btn.addClass('active')
                     btn.addClass('btn-success')
                     btn.addClass('border-success-800')
                     btn.removeClass('btn-danger')
                     btn.removeClass('border-danger-800')
                     cont_hours.fadeIn(400)
                 }
             })

             $('.btn-select-all').click(function(e){
                 e.preventDefault()
                 var checks=$('.custom-control-input');
                 checks.each(function(){
                     var check=$(this)
                     check.prop('checked',true)
                 })
             })

             $('.btn-deselect-all').click(function(e){
                 e.preventDefault()
                 var checks=$('.custom-control-input');
                 checks.each(function(){
                     var check=$(this)
                     check.prop('checked',false)
                 })
             })
         });

         //autocomplete procedure
         var placeSearch, autocomplete;
         var componentForm = {
             street_number: 'long_name',
             route: 'long_name',
             locality: 'long_name',
             administrative_area_level_1: 'short_name',
             administrative_area_level_2 : 'long_name',
             postal_code: 'short_name'
         };

         var ids = {
             street_number: 'address_p_street',
             route: 'address_p_street',
             locality: 'address_p_city',
             administrative_area_level_1: 'address_p_us_state',
             administrative_area_level_2 : 'address_p_county',
             postal_code: 'address_p_zipCode',
         };

         function initAutocomplete() {
             // Create the autocomplete object, restricting the search to geographical
             // location types.
             autocomplete = new google.maps.places.Autocomplete(
                 (document.getElementById('address_p_street')),
                 {types: ['geocode']});

             // When the user selects an address from the dropdown, populate the address
             // fields in the form.
             autocomplete.addListener('place_changed', fillInAddress);
         }

         function fillInAddress() {
             // Get the place details from the autocomplete object.
             var place = autocomplete.getPlace();

             var lat=Math.fround(place.geometry.location.lat()).toPrecision(10)
             var lng=Math.fround(place.geometry.location.lng()).toPrecision(10)
             $('#address_p_lat').val(lat)
             $('#address_p_lng').val(lng)

             for (var component in componentForm) {
                 document.getElementById(ids[component]).value = ''
                 document.getElementById(ids[component]).readOnly = false
             }

             // Get each component of the address from the place details
             // and fill the corresponding field on the form.
             var full_addr = ''
             for (var i = 0; i < place.address_components.length; i++) {
                 var addressType = place.address_components[i].types[0]
                 if (componentForm[addressType]) {
                     var val = place.address_components[i][componentForm[addressType]]

                     if(addressType =='street_number' || addressType == 'route'){
                         if(full_addr ==''){
                             full_addr += val
                         }else{
                             full_addr += ' '+val
                         }
                     } else if (addressType == 'administrative_area_level_2'){
                         document.getElementById(ids[addressType]).value = (val != null && val != undefined) ? val.replace(/\sCounty/i, '') : ''
                     } else {
                         document.getElementById(ids[addressType]).value = val
                     }
                 }
             }

             document.getElementById('address_p_street').value = full_addr

             if(place.formatted_address){
                 document.getElementById('address_p_google_addr').value = place.formatted_address
             }

             var filledCounty = document.querySelector('#address_p_county').value;
             if (filledCounty.value != '') {
                 var filledRegion = findRegion(filledCounty.toLowerCase().replace(/county/g, ''));

                 if (filledRegion != null) {
                     document.querySelector('#address_p_region').value = filledRegion;
                 }
             }
         }

         // as supplied by the browser's 'navigator.geolocation' object.
         function geolocate() {
             if (navigator.geolocation) {
                 navigator.geolocation.getCurrentPosition(function(position) {
                     var geolocation = {
                         lat: position.coords.latitude,
                         lng: position.coords.longitude
                     };
                     var circle = new google.maps.Circle({
                         center: geolocation,
                         radius: position.coords.accuracy
                     });
                     autocomplete.setBounds(circle.getBounds());
                 });
             }
         }

         function findRegion(county) {
             var regionsAndCounties = [
                 { region: 1, counties: ['Escambia', 'Okaloosa', 'Santa Rosa', 'Walton'] },
                 { region: 2, counties: ['Bay', 'Calhoun', 'Franklin', 'Gadsden', 'Gulf', 'Holmes', 'Jackson', 'Jefferson', 'Leon', 'Liberty', 'Madison', 'Taylor', 'Wakulla', 'Washington'] },
                 { region: 3, counties: ['Alachua', 'Bradford', 'Citrus', 'Columbia', 'Dixie', 'Gilchrist', 'Hamilton', 'Hernando', 'Lafayette', 'Lake', 'Levy', 'Marion', 'Putnam', 'Sumter', 'Suwannee', 'Union'] },
                 { region: 4, counties: ['Baker', 'Clay', 'Duval', 'Flagler', 'Nassau', 'St. Johns', 'Volusia'] },
                 { region: 5, counties: ['Pasco', 'Pinellas'] },
                 { region: 6, counties: ['Hardee', 'Highlands', 'Hillsborough', 'Manatee', 'Polk'] },
                 { region: 7, counties: ['Brevard', 'Orange', 'Osceola', 'Seminole'] },
                 { region: 8, counties: ['Charlotte', 'Collier', 'DeSoto', 'Glades', 'Hendry', 'Lee', 'Sarasota'] },
                 { region: 9, counties: ['Indian River', 'Martin', 'Okeechobee', 'Palm Beach', 'St. Lucie'] },
                 { region: 10, counties: ['Broward'] },
                 { region: 11, counties: ['Miami-Dade', 'Monroe'] }
             ];

             var region = null;

             for (var regionObj of regionsAndCounties) {
                 for (var regionCounty of regionObj.counties) {
                     if(str_contains(regionCounty, county)) {
                         region = regionObj.region;
                         break;
                     }
                 }

                 if (region != null) {
                     break;
                 }
             }

             return region;
         }

         function str_contains(text, search) {
             return str_flatten(text).indexOf(str_flatten(search)) != -1;
         }

         function str_flatten(text) {
             return text.replace(/[^\w]*/g, '').toLowerCase();
         }

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }

         $('#inpatient_beds_yes').click(function (e){
             $('#cont_number_of_beds').removeClass('sr-only')
         })
         $('#inpatient_beds_no').click(function (e){
             $('#cont_number_of_beds').addClass('sr-only')
             $('#number_of_beds').val(0)
         })

         function validate(evt) {
             var theEvent = evt || window.event;

             // Handle paste
             if (theEvent.type === 'paste') {
                 key = event.clipboardData.getData('text/plain');
             } else {
                 // Handle key press
                 var key = theEvent.keyCode || theEvent.which;
                 key = String.fromCharCode(key);
             }
             var regex = /[0-9]|\./;
             if( !regex.test(key) ) {
                 theEvent.returnValue = false;
                 if(theEvent.preventDefault) theEvent.preventDefault();
             }
         }

         $('#address_p_see_patients_addr_0').click(function(){
            $('#cont_bussines_hours').removeClass('sr-only');
         })

         $('#address_p_see_patients_addr_1').click(function(){
             $('#address_p_business_hours').val('');
             $('#cont_bussines_hours').addClass('sr-only');
         })



         function setbusinessHours(){
             if($('#address_p_see_patients_addr_0').is(':checked')) {
                 var business_hours = $('#address_p_business_hours')
                 var is_see_patients_address = 0;

                 if ($('#is_see_patients_yes').is(':checked')) {
                     is_see_patients_address = 1;
                 }

                 var business_hours_data = "["
                 var btn_hours_mon = $('#btn-hours-mon')
                 var btn_hours_tue = $('#btn-hours-tue')
                 var btn_hours_wed = $('#btn-hours-wed')
                 var btn_hours_thu = $('#btn-hours-thu')
                 var btn_hours_fri = $('#btn-hours-fri')
                 var btn_hours_sat = $('#btn-hours-sat')
                 var btn_hours_sun = $('#btn-hours-sun')

                 var option1 = ''

                 //Mon
                 if (btn_hours_mon.hasClass('active')) {
                     var start = $('#hours_mon_start').val()
                     var end = $('#hours_mon_end').val()
                     option1 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"},'
                 } else {
                     option1 = '{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data += option1

                 var option2 = ''

                 // Tue
                 if (btn_hours_tue.hasClass('active')) {
                     start = $('#hours_tue_start').val()
                     end = $('#hours_tue_end').val()
                     option2 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"},'
                 } else {
                     option2 = '{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }

                 business_hours_data += option2

                 // wed
                 var option3 = ''
                 if (btn_hours_wed.hasClass('active')) {
                     start = $('#hours_wed_start').val()
                     end = $('#hours_wed_end').val()
                     option3 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"},'
                 } else {
                     option3 = '{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data += option3

                 // Thu
                 var option4 = ''

                 if (btn_hours_thu.hasClass('active')) {
                     start = $('#hours_thu_start').val()
                     end = $('#hours_thu_end').val()
                     option4 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"},'
                 } else {
                     option4 = '{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data += option4

                 // Fri
                 var option5 = ''

                 if (btn_hours_fri.hasClass('active')) {
                     start = $('#hours_fri_start').val()
                     end = $('#hours_fri_end').val()
                     option5 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"},'
                 } else {
                     option5 = '{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data += option5

                 // Sat
                 var option6 = ''

                 if (btn_hours_sat.hasClass('active')) {
                     start = $('#hours_sat_start').val()
                     end = $('#hours_sat_end').val()
                     option6 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"},'
                 } else {
                     option6 = '{"isActive":false,"timeFrom":null,"timeTill":null},'
                 }
                 business_hours_data += option6

                 // Sun
                 var option7 = ''

                 if (btn_hours_sun.hasClass('active')) {
                     start = $('#hours_sun_start').val()
                     end = $('#hours_sun_end').val()
                     option7 = '{"isActive":true,"timeFrom":"' + start + '","timeTill":"' + end + '"}'
                 } else {
                     option7 = '{"isActive":false,"timeFrom":null,"timeTill":null}'
                 }
                 business_hours_data += option7
                 business_hours_data += ']'

                 var serviceSelected = "";
                 var services = $('input[name=servicesettings]');

                 services.each(function (index, $this) {
                     var service = $(this);

                     if (service.is(':checked')) {
                         serviceSelected += service.val() + ",";
                     }
                 });

                 var appointment = ""
                 var appointment_mon = "0"
                 var appointment_tue = "0"
                 var appointment_wed = "0"
                 var appointment_thu = "0"
                 var appointment_fri = "0"
                 var appointment_sat = "0"
                 var appointment_sun = "0"

                 if ($('#btn-hours-mon').hasClass('active')) {
                     appointment_mon = "-"
                 } else {
                     if ($('#appointment_mon_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 if ($('#btn-hours-tue').hasClass('active')) {
                     appointment_tue = "-"
                 } else {
                     if ($('#appointment_tue_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 if ($('#btn-hours-wed').hasClass('active')) {
                     appointment_wed = "-"
                 } else {
                     if ($('#appointment_wed_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 if ($('#btn-hours-thu').hasClass('active')) {
                     appointment_thu = "-"
                 } else {
                     if ($('#appointment_thu_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 if ($('#btn-hours-fri').hasClass('active')) {
                     appointment_fri = "-"
                 } else {
                     if ($('#appointment_fri_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 if ($('#btn-hours-sat').hasClass('active')) {
                     appointment_sat = "-"
                 } else {
                     if ($('#appointment_sat_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 if ($('#btn-hours-sun').hasClass('active')) {
                     appointment_sun = "-"
                 } else {
                     if ($('#appointment_sun_yes').is(':checked')) {
                         appointment_mon = "1"
                     }
                 }

                 appointment = appointment_mon + appointment_tue + appointment_wed + appointment_thu + appointment_fri + appointment_sat + appointment_sun


                 business_hours.val(business_hours_data);
                 $('#address_p_appointment').val(appointment);
             }
             else if($('#address_p_see_patients_addr_1').is(':checked')){
                $('#address_p_business_hours').val('')
                 $('#address_p_appointment').val('');
             }
         }
         function showbedsnumberfieldif(){
             if($('#address_p_have_beds_0').is(':checked')){
                 $('.row_beds_info').removeClass('sr-only')
             }
             else if($('#address_p_tdd_1').is(':checked')){
                 $('.row_beds_info').addClass('sr-only')
             }
             else{
                 $('.row_beds_info').addClass('sr-only')
             }
         }
         function showtddnumberfieldif(){
             if($('#address_p_tdd_0').is(':checked')){
                 $('.row_tdd_info').removeClass('sr-only')
             }
             else if($('#address_p_tdd_1').is(':checked')){
                 $('.row_tdd_info').addClass('sr-only')
             }
             else{
                 $('.row_tdd_info').addClass('sr-only')
             }
         }
         function getProvidersForAddr() {
             var providersSelected = "";
             var providers = $('#address_p_providers input');
             providers.each(function (index, $this) {
                 var provider = $(this);

                 if (provider.is(':checked')) {
                     providersSelected += provider.val() + ",";
                 }
             });
             $('#address_p_providers_id').val(providersSelected);
         }

         function showFacilityFields(){
             if($('#address_p_is_facility_0').is(':checked')){
                 $('.card_facilities').removeClass('sr-only')
                 $('.row_facility_info').removeClass('sr-only')
                 $('#cont-is-facility').fadeIn(400)
             }else{
                 $('.card_facilities').addClass('sr-only')
                 $('.row_facility_info').addClass('sr-only')
                 $('#cont-is-facility').fadeOut(400)
             }
         }



         $('.bnt-send').click(function(e){
             setbusinessHours()
             e.preventDefault()
             $('#address_p_action_type').val(1)
             getProvidersForAddr()
             $('#form').submit()
         })

         $('.bnt-send-new').click(function(e){
             e.preventDefault()
             setbusinessHours();
             $('#address_p_action_type').val(2)
             $('#form').submit()
         })
     </script>
     <script src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&libraries=places&callback=initAutocomplete" async defer></script>

 {% endblock %}
