{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_provideruser') }}" class="breadcrumb-item">Provider Users</a>
                        <span class="breadcrumb-item active">New Provider User</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Provider User</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_provideruser') }}" class="btn btn-sm btn-success"><i class="fas fa-arrow-left"></i> Provider Users List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_create_provideruser') }}" method="POST" id="form" autocomplete="off">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> User Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="provideruser_name" id="provideruser_name">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_provideruser_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>First Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>Last Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="last_name" id="last_name">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_last_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="email" id="email">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_email" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Account non expired:</label>
                                                <div class="col-lg-10">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox" name="account_non_expired" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" checked value="1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Credentials non expired:</label>
                                                <div class="col-lg-10">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox" name="credentials_non_expired" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" checked value="1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Account non locked:</label>
                                                <div class="col-lg-10">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox" name="account_non_locked" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" checked value="1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Enabled:</label>
                                                <div class="col-lg-10">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox" name="enabled" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" checked value="1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span> Password:</label>
                                                <div class="col-lg-10">
                                                    <div class="badge-indicator-absolute">
                                                        <input type="password" class="form-control" name="password" id="password">
                                                        <span class="badge password-indicator-badge-absolute"></span>
                                                    </div>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_password" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> Re Password:</label>
                                                <div class="col-lg-10">
                                                    <input type="password" class="form-control" name="re-password" id="re-password">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_repassword" style="display: none;">
                                                        <span class="font-weight-semibold">The passwords do not match. Please check it!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>Roles:</label>
                                                <div class="col-lg-10">
                                                    <select name="role" id="roles" placeholder="Select Organizations for ..." class="form-control select"  required data-fouc>
                                                        {% for role in roles %}
                                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_roles" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_provideruser') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/provideruser/validation_add.js') }}"></script>
     <script src="{{ asset('js/provideruser/passy.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#link-group-security').addClass('nav-item-expanded')
             $('#link-group-security').addClass('nav-item-open')
             $('#link-group-users').addClass('nav-item-expanded')
             $('#link-group-users').addClass('nav-item-open')
             $('#link-admin-provideruser').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

           $('#re-password').keyup(function(e){

             var pass= $('#password').val()
             var repass= $(this).val()
             var error_repassword=$('#error_repassword')

             if(pass!=repass){
                error_repassword.fadeIn(500)
             }else{
                 error_repassword.fadeOut(500)
             }

         })


         });
     </script>
 {% endblock %}
