{% extends 'base_provider.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="row" style="margin-left: 0;margin-right: 0;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">My Profile</span></h5>
                    </div>
                    <div class="card-body">
                        <form action="{{ path('provider_user_profile_update') }}" method="POST" id="form">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="d-block font-weight-semibold">Select the provider type:</label>
                                    <select name="role" id="roles" placeholder="Select Organizations for ..." class="form-control select"  required data-fouc>
                                        {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role.description }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <label class="d-block font-weight-semibold">First name:</label>
                                    <input type="text" class="form-control" name="firstname" id="firstname" value="{{ user.firstname }}">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-check text-muted"></i>
                                    </div>
                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <label class="d-block font-weight-semibold">Last name:</label>
                                    <input type="text" class="form-control"  name="lastname" id="lastname" value="{{ user.lastname }}">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-check text-muted"></i>
                                    </div>
                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_lastname" style="display: none;">
                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <label class="d-block font-weight-semibold">Username:</label>
                                    <input type="text" class="form-control" name="user_name" id="user_name" value="{{ user.username }}">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-plus text-muted"></i>
                                    </div>
                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_user_name" style="display: none;">
                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <label class="d-block font-weight-semibold">Your email:</label>
                                    <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}">
                                    <div class="form-control-feedback">
                                        <i class="icon-mention text-muted"></i>
                                    </div>
                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_email" style="display: none;">
                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <label class="d-block font-weight-semibold">New password:</label>
                                    <input type="password" class="form-control" name="new_password" id="new_password">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 form-group text-right">
                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                <a href="{{ path('provider_dashboard') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .row{
            padding-left: 0;
            padding-right: 0;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/provideruser/validation_profile.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){

             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

         })
     </script>
 {% endblock %}
