{% extends 'base-login.html.twig' %}
{% block body %}
    <style>
        .alert{
            padding-bottom: 5px;
            padding-top: 5px;
            margin-top: 5px;
        }
    </style>
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <form action="{{ path('admin_registered_provideruser') }}" class="flex-fill" method="POST" id="form">
                    <input type="hidden" value="{{ path('provider_user_email_check') }}" id="url_check" name="url_check" />
                    <input type="hidden" name="send_o" id="send_o" value="" />
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="text-center mb-3">
                                        <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                                        <h5 class="mb-0">Create account</h5>
                                        <span class="d-block text-muted">All fields are required</span>
                                    </div>
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <label class="d-block font-weight-semibold">Select the provider type:</label>
                                        <select name="role" id="roles" class="form-control select"  required data-fouc>
                                            {% for role in roles %}
                                                <option value="{{ role.id }}">{{ role.description }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <label class="d-block font-weight-semibold">Organization name:</label>
                                        <input type="text" class="form-control" name="organization_name" id="organization_name" placeholder="Organization name">
                                        <div class="form-control-feedback">
                                            <i class="icon-user-plus text-muted"></i>
                                        </div>
                                        <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_organization_name" style="display: none;">
                                            <span class="font-weight-semibold">Please fill out this field!</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">First name:</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="First name">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-check text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Last name:</label>
                                                <input type="text" class="form-control"  name="lastname" id="lastname" placeholder="Last name">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-check text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_lastname" style="display: none;">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Create password:</label>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="New password">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-lock text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_password" style="display: none;">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Repeat password:</label>
                                                <input type="password" class="form-control" name="re_password" id="re_password" placeholder="Repeat password">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-lock text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_repassword" style="display: none;">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group form-group-feedback form-group-feedback-right">
                                                <label class="d-block font-weight-semibold">Your email:</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Your email">
                                                <div class="form-control-feedback">
                                                    <i class="icon-mention text-muted"></i>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_email" style="display: none;">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_email_exist" style="display: none;">
                                                    <span class="font-weight-semibold">This email it already registered. Please, use a different email!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p><span class="text-danger">*</span> All fields are required</p>
                                    <a href="#" class="btn bg-teal-400 btn-labeled btn-labeled-right btn-send"><b><i class="icon-plus3"></i></b> Create account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}

 <script src="{{ asset('js/provider/validation_registration.js') }}"></script>
 <script type="text/javascript">
    $(document).ready(function (e) {
        $('.select').select2({
            minimumResultsForSearch: Infinity
        })
    })
 </script>


 {% endblock %}


