{% extends 'base-login.html.twig' %}
{% block body %}
    <style>
        .alert{
            padding-bottom: 5px;
            padding-top: 5px;
            margin-top: 5px;
        }
    </style>
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                 <div class="row">
                     <div class="alert alert-success alert-styled-left alert-arrow-left alert-dismissible">
                         <span class="font-weight-semibold">Thank you for registering!</span><br/>For login click <a href="http://providers.bsnnet.com/provider/login">here</a> <br/> Thank you!
                     </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/provider/validation_registration.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function (e) {
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })
         })
     </script>


 {% endblock %}


