{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_user') }}" class="breadcrumb-item">Users</a>
                        <span class="breadcrumb-item active">View User</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View User</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_provideruser') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Provider Users List</a>
                    <a href="{{ path('admin_new_provideruser') }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Provider User</a>
                    <a href="{{ path('admin_edit_provideruser',{'id':document.id }) }}" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i> Edit Provider User</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label class="col-form-label">Full Name:</label>
                                            <p class="col-form-label text-body p_docs p-inline">{{ document.firstname }}</p>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="col-form-label">Userame:</label>
                                            <p class="col-form-label text-body p_docs p-inline">{{ document.username }}</p>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="col-form-label">Email:</label>
                                            <p class="col-form-label text-body p_docs p-inline">{{ document.email }}</p>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="col-form-label">Roles:</label>
                                            {% for role in document.getUserRoles %}
                                                <span class="badge bg-blue">{{ role.name }}</span>
                                            {% endfor %}
                                        </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Account non expired:</label>
                                        <p class="col-form-label text-body p_docs p-inline">
                                            {% if document.AccountNonExpired==1 %}
                                                <i class="fas fa-check text-success ml-2"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger ml-2"></i>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Credentials non expired:</label>
                                        <p class="col-form-label text-body p_docs p-inline">
                                            {% if document.CredentialsNonExpired==1 %}
                                                <i class="fas fa-check text-success ml-2"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger ml-2"></i>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Account non locked:</label>
                                        <p class="col-form-label text-body p_docs p-inline">
                                            {% if document.AccountNonLocked==1 %}
                                                <i class="fas fa-check text-success ml-2"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger ml-2"></i>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Enabled:</label>
                                        <p class="col-form-label text-body p_docs p-inline">
                                            {% if document.enabled==1 %}
                                                <i class="fas fa-check text-success ml-2"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger ml-2"></i>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}

     <script type="text/javascript">
         $(function(){
             $('#link-group-security').addClass('nav-item-expanded')
             $('#link-group-security').addClass('nav-item-open')
             $('#link-group-users').addClass('nav-item-expanded')
             $('#link-group-users').addClass('nav-item-open')
             $('#link-admin-provideruser').addClass('active')
         })
     </script>

 {% endblock %}
