<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <h2 style="color:#5c6bc0;font-weight: bold;">Your Account Update</h2>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">We updated the following information for your BSN account:</p>
    <ul>
        {% if name_change %}
            <li>Change in First Name</li>
        {% endif %}
        {% if last_name_change %}
            <li>Change in Last Name</li>
        {% endif %}
        {% if email_change %}
            <li>Change in Email</li>
        {% endif %}
        {% if password_change %}
            <li>Change in Password</li>
        {% endif %}
    </ul>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">{{ date }}</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If you requested this update, you can ignore this notification. If you did not make this change or you think you received this email in error, contact us at <a href="mailto:info@bsnnet.com">info@bsnnet.com</a></p>
</div>
</body>
</html>