<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Behavioral Services Network is proud to be chosen as the Behavioral Health Specialty network for Florida Community Care and aims to provide the highest level of service for all current and future providers eligible to serve FCC.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If your practice is currently serving FCC members or wish to do so and would like to participate in our network,  please apply at <a href="https://www.bsnnet.com/index.php/join-us" target="_blank">https://www.bsnnet.com/index.php/join-us</a>  </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Have questions? Call us at 305-907-7470</p>
    <p style="font-size: 15px;margin: 0px;font-weight: bold;">We look forward to serving you!</p>
    <p style="font-size: 15px;margin: 0px 0 35px 0;font-weight: bold;">The BSN Team</p>

    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/FCC_AHCA_LETTER.jpg" alt="logo-bsnnet">
</div>
</body>
</html>