<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="header-email">
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;">Date: {{ date }}</p>
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;">{{ queued.organization.name }} <br/>{{ queued.getContact.name }}</p>

    <p style="font-size: 16px;margin: 0px 0 25px 0;">Re: Deem Letter – Amendment to Provider Agreement:</p>
    <ul style="font-size: 16px;margin: 0px 0 25px 0;">
        <li>Added and corrected some language regarding the State Children’s Health Insurance Plans (SCHIP);</li>
        <li>Updated designations for Medicare Advantage plans to include DSNP, CSNP & ISNP;</li>
        <li>Clarify provider correspondence includes email.</li>
    </ul>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Dear Provider,</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">As of October 1, 2021, your contract will be amended to reflect changes as noted in the attached “amendment”</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><strong>Acceptance of Agreement:</strong> <br/>Unless participating provider notifies Behavioral Service Network, LLC. (BSN), in writing within 30 days after the date of amendment that “provider” does not wish to accept this amendment to the “Agreement”, Provider will be deemed to have accepted this amendment and will be bound by the terms of the Amendment between Provider and Behavioral Services Network LLC. Any such notice will be given to the V.P. of Network Development at BSN’s executive office.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">These changes are the only changes to the original agreement all other terms and sections shall remain in force.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">This amendment is stored and available for download in the BSN provider portal. You may log in to https://admin.bsnnet.com/admin/login to retrieve it.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If you have any questions, please contact us at 305-907-7470 or email us at info@bsnnet.com.</p>

    <p style="font-size: 15px;margin: 15px 0 0 0;">Sincerely,</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/mary_sign_2.png">
    <p style="font-size: 15px;margin: 0 0 25px 0;">Mary Saiz, C.E.O.</p>

    <p style="font-size: 13px;margin: 0 0 25px 0;">Behavioral Services Network, LLC., 8200 NW 41 ST., Suite 200, Doral, FL. 33166</p>
</div>
</body>
</html>