<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <p style="font-size: 15px;margin-bottom: 15px;">{{ date }}</p>
    <p style="color:#3a8bc4;margin: 0px 0 10px 0;font-size: 15px;"><strong>Re: Notice of Termination without cause</strong></p>
    <p style="color:#3a8bc4;margin: 0px 0 10px 0;font-size: 15px;">Dear {{ queued.contact.getName() }}:</p>
    <p style="font-size: 14px;margin: 0px 0 35px 0;">Pursuant to our Provider Agreement by and between Behavioral Services Network and <strong>{{ queued.organization.name }}</strong> and the applicable Amendments and Plan Addendums with respect to <strong>{{ queued.healthPlan }}</strong>, Behavioral Services Network is hereby providing you with a ninety (90) day notification of termination of your Provider Services Agreement with <strong>{{ queued.healthPlan }}</strong>, including termination of the participation of any and all providers thereunder, effective <strong>{{ termination_date }}</strong>.</p>
    <p style="font-size: 14px;margin: 0px 0 25px 0;">As outlined in our Provider Agreement you have the right to appeal this decision within sixty (60) days of receiving this letter. In order to appeal your termination, you must submit a letter in writing, notifying us of your intent to appeal along with supporting evidence to the following address:</p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;">Behavioral Services Network</p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;">8200 NW 41 ST</p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;">STE 200 Unit 95</p>
    <p style="font-size: 14px;margin: 0px 0 35px 0;">Doral, FL 33166</p>
    <p style="font-size: 14px;margin: 0px 0 35px 0;">Please feel free to contact our Provider Relations Department at 305-907-7470 with any questions or if you require any additional information.</p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;">Sincerely,</p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;">Mary Saiz</p>
    <p style="font-size: 14px;margin: 0px 0 0px 0;">COO</p>

</div>
</body>
</html>