<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <p style="font-size: 16px;margin: 25px 0 10px 0;">{{ queued.getOrganization.name }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear Applicant: {{ queued.getContact.name }}</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you for your interest in joining our network of Behavioral Health providers. The Behavioral Services Network Credentialing Committee met on 11/30/2020 to review your application for credentialing privileges. </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">We regret to inform you that after careful consideration, your request for privileges was <strong>Denied</strong> due to the information identified in your CAQH file.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">BSN will accept and review a concise statement from the practitioner describing the reasons he/she believes the denial should be reconsidered to <a href="mailto:credentialing@bsnnet.com">credentialing@bsnnet.com</a>.</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for your interest.</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Sincerely,</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/mary_sign.png" alt="header-email" style="width: 160px;height: auto;">
    <p style="font-size: 15px;margin: 0px;font-weight: bold;">Mary Saiz</p>
    <p style="font-size: 15px;margin: 0px;font-weight: bold;">Chief Operations Officer</p>
    <p style="font-size: 18px;margin: 35px 0 15px 0;">Providers</p>
    <table border="0" width="70%" style="margin-bottom: 30px;">
        <thead>
        <tr>
            <th width="10%" style="text-align: left;">No</th>
            <th width="70%" style="text-align: left;">Full name</th>
            <th width="20%" style="text-align: left;">NPI Number</th>
        </tr>
        </thead>
        <tbody>
        {% set c=1 %}
        {% for provider in providers %}
            <tr>
                <td>{{ c }}</td>
                <td>{{ provider.firstname }} {{ provider.lastname }}</td>
                <td>{{ provider.npinumber }}</td>
            </tr>
            {% set c=c+1 %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>