<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">

    <p style="font-size: 15px;margin-bottom: 15px;">{{ date }}</p>

    <p style="font-size: 15px;margin: 0px 0 10px 0;">Dear: {{ queued.getContact.name }}</p>
    <p style="color:#3a8bc4;margin: 0px 0 10px 0;font-size: 15px;"><strong>Re:	Behavioral Services Network Credentialing Decision</strong></p>

    <p style="font-size: 14px;margin: 0px 0 25px 0;">Congratulations! Our credentialing committee has approved your application to participate in Behavioral Services Network’s (BSN)- behavioral health and substance abuse specialty network.  We are pleased to work with you and support your success!  Your credentialing is active on the first of the month following the date of this letter and will be active for three (3) years.</p>
    <p style="font-size: 14px;margin: 0px 0 25px 0;">Please log in to the BSN provider portal to review your information for accuracy. You may also review your contract, plan eligibility, and plan provider manuals. Access the portal here: <a href="https://admin.bsnnet.com/admin/login" target="_blank">https://admin.bsnnet.com/admin/login</a> <br/>If you have not yet received a portal invitation please contact us.</p>

    <p style="font-size: 14px;margin: 0px 0 25px 0;">As a reminder, per CMS guidelines we ask that you regularly review your demographic data at least monthly and update your roster within 48 hours of any changes.</p>

    <p style="font-size: 14px;margin: 0px 0 25px 0;">A BSN Provider Relations Representative is available to answer any questions that you may have, please feel free to contact us at 305-907-7470 or email us at: <a href="mailto:info@bsnnet.com">info@bsnnet.com</a></p>
    <p style="font-size: 14px;margin: 0px 0 25px 0;">Thank you again for your participation and welcome to the family!</p>


    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Sincerely,</p>
    <p style="font-size: 15px;margin: 0px;font-weight: bold;">The BSN Credentialing Team</p>

    <div style="margin-top: 30px;">
        <p style="font-size: 15px;margin-bottom: 15px;"><strong>Organization Name:</strong>  {{ queued.organization.name }}</p>
    </div>
    {% if is_facility==0 %}
    <p style="font-size: 18px;margin: 25px 0 15px 0;">Providers Approved</p>
    <table border="0" width="70%" style="margin-bottom: 30px;">
        <thead>
        <tr>
            <th width="10%" style="text-align: left;">No</th>
            <th width="70%" style="text-align: left;">Full name</th>
            <th width="20%" style="text-align: left;">NPI Number</th>
        </tr>
        </thead>
        <tbody>
        {% set c=1 %}
        {% for provider in providers %}
            <tr>
                <td>{{ c }}</td>
                <td>{{ provider.firstname }} {{ provider.lastname }}</td>
                <td>{{ provider.npinumber }}</td>
            </tr>
            {% set c=c+1 %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
</body>
</html>