<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;"><
    <p style="font-size: 18px;margin: 25px 0 10px 0;">Decline request to join network </p>
    <p style="font-size: 16px;margin: 25px 0 10px 0;">Re: {{ queued.organizationName }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear Applicant</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">We thank you for your interest in participating in Behavioral Services Network’s Behavioral and Substance Abuse Network.   At this time, our network has excess capacity to serve our existing and new clients’ needs.  We will maintain your information on file but will not continue with the contracting process.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">However, if you are currently seeing a patient that is a member of one of our Carriers, please email us the name of the specific carrier and the number of patients currently under your care to  <a href="mailto:credentialing@bsnnet.com" target="_blank">credentialing@bsnnet.com.</a> </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Otherwise, please note that your application will be kept on record and if business needs change, your request will be considered first.  Thank you again for your interest in joining our network.</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for your interest.</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Sincerely,</p>
    <p style="font-size: 15px;margin: 0px;font-weight: bold;">BSN Credentialing Department</p>
</div>
</body>
</html>