<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <h2 style="margin-bottom: 35px;">Behavioral Services Network Executed Contract</h2>

    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear: {{ queued.getContact.name }}</p>
    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">Re:	Executed Contract</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Previously, you may have received an email regarding approval by our Credentialing Committee and that a hard copy of your executed agreement and addendum would be mailed or otherwise transmitted separately. The executed agreement and addendum is enclosed for your records.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If you have already received a copy you may ignore this communication.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">No action is required in response to this email.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for participating in BSN’s Behavioral Health Provider Network.   We are committed to working in partnership with our providers and look forward to supporting your practice.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Stay Healthy and Stay Safe,</p>

    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Elise Guillermo</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/signature-elise.png" alt="header-email" style="width: 160px;height: auto;">
    <p style="font-size: 16px;margin: 0px 0 5px 0;font-weight: bold;">Credentialing Department</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">8200 NW 41 St Suite 200 Unit 95</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Doral, FL 33166</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">O.305-907-7470</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">F.305-907-7471</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">credentialing@BSNnet.com</p>
</div>
</body>
</html>