<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/fcc-logo.png" alt="header-email">
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;">{{ date }}</p>
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;"></p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear: {{ queued.getContact.name }}</p>

    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">Re:	Florida Community Care.</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Attached is the Behavioral Services Network (BSN) Plan Addendum to your Provider Agreement for your participation with <strong>Florida Community Care,</strong> to serve as a contracted provider in the health plan’s provider network. This letter is to notify you that you are authorized to treat FCC members from your effective date.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Included with this email are:</p>
    <div style="margin-top:10px;padding-left:5px;margin-bottom:25px">
        <ol>
            <li> The Florida Community Care Quick Reference Guide</li>
            <li> BSN Plan Addendum</li>
        </ol>
    </div>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">You may reference or retrieve the FCC Provider Manual here: <br/> <a href="https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf" target="_blank">https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf</a> <br/>for information regarding how to review eligibility, authorizations and submit claims.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">You may also reference or retrieve The FCC Quick Reference Guide and the Provider Manual in the BSN provider  portal at  <a href="https://admin.bsnnet.com/admin/login" target="_blank">https://admin.bsnnet.com/admin/login</a> for information regarding how to review eligibility, authorizations and submit claims.  Please bookmark this for future reference.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><strong>As a reminder, per CMS guidelines we ask that you regularly review your demographic data at least monthly and update your roster within 48 hours of any changes.  Log in to the portal to update your information.</strong></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">A BSN Provider Relations Representative is available to answer any questions that you may have regarding Florida Community Care. Please feel free to contact us at info@bsnnet.com or call 305-907-7470.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for your participation and welcome to the family!</p>


    <p style="font-size: 16px;margin: 0 0 0 0;">Sincerely</p>
    <p style="font-size: 16px;margin: 0 0 25px 0;">The BSN Contracting Team</p>

    <p style="font-size: 18px;margin: 0px 0 15px 0;">Providers Credentialed List</p>
    <table border="0" width="70%" style="margin-bottom: 30px;">
        <thead>
        <tr>
            <th width="10%" style="text-align: left;">No</th>
            <th width="70%" style="text-align: left;">Full name</th>
            <th width="20%" style="text-align: left;">NPI Number</th>
        </tr>
        </thead>
        <tbody>
        {% set c=1 %}
        {% for provider in providers %}
            <tr>
                <td>{{ c }}</td>
                <td>{{ provider.firstname }} {{ provider.lastname }}</td>
                <td>{{ provider.npinumber }}</td>
            </tr>
            {% set c=c+1 %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>