<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <table border="0" width="100%" style="margin-bottom: 30px;">
        <tbody>
            <tr>
                <td width="50%">
                    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/fcc-logo.png" alt="header-email" style="max-width: 250px;">
                </td>
                <td width="50%" style="text-align: right;">
                    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="header-email">
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-bottom: 25px;">{{ date }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear Provider: {% if queued.prospect%} {{ queued.prospect.name }} {% endif %}</p>
    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">Re:	Florida Community Care.</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">This letter is to notify you that Florida Community Care (FCC) will no longer be contracting with Magellan Health after December 31, 2020. Starting January 1, 2021, FCC will begin a new contract with Behavioral Services Network (BSN) that will continue to provide members with a state-wide behavioral health network. </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">For Continuity of Care purposes, if you are currently providing services to an FCC member through the Magellan network, you may continue to do so, if medically necessary, for at least sixty (60) days after January 1, 2021 or until the member’s PCP or behavioral health provider reviews the member’s treatment plan, whichever comes first.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If you have any questions or would like to serve as a contracted provider in the BSN provider network, you may contact a BSN Provider Relations Representative at 305-907-7470 or <a href="mailto:info@bsnnet.com" target="_blank">info@bsnnet.com</a> or apply directly at <a href="https://bsnnet.com/index.php/join-us." target="_blank"></a>https://bsnnet.com/index.php/join-us.</p>
    <p style="font-size: 15px;margin: 0px 0 45px 0;">For additional insight, you may reference or retrieve the FCC Provider Manual here:</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><a href="https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf" target="_blank">https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf</a></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for your participation and support.</p>

</div>
</body>
</html>