<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/fcc-logo.png" alt="header-email">
    <p style="font-size: 16px;margin: 40px 0 25px 0;">To All Behavioral Health Providers for Florida Community Care (FCC):</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Patients who are enrolled in a home and community-based services waiver program (HCBS) under a LTC SMMC plan are not eligible for any type of targeted case management (TCM) services. These plans are under contract with the Agency for Health Care Administration (AHCA) to provide both case management and TCM for their enrollees. Thereby, any TCM service provided by a Behavioral Health Provider is considered a duplication of a covered service, which is not allowed under Florida Medicaid. Please see the attached AHCA guidance.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">When TCM is requested, it will be subsequently denied as a duplication of a covered service. Please do not submit a request for a prior approval on the basis of medical necessity. As a non-covered duplicative service, the Plan cannot make exceptions nor have the ability to conduct medical necessity review for TCM. You will still receive the same denial letter.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">We appreciate your understanding and compliance in this matter.</p>
</div>
</body>
</html>