<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <table border="0" width="100%" style="margin-bottom: 30px;">
        <tbody>
        <tr>
            <td width="50%">
                <img src="https://s3.amazonaws.com/bsnnet.com/email-images/fcc-logo.png" alt="header-email" style="max-width: 250px;">
            </td>
            <td width="50%" style="text-align: right;">
                <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="header-email">
            </td>
        </tr>
        </tbody>
    </table>
    <p style="margin-bottom: 25px;">{{ date }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear Provider: {{ queued.contact.name }}</p>
    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">Re:	Florida Community Care.</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Attached is the Behavioral Services Network (BSN) Plan Addendum to your Provider Agreement for your participation with Florida Community Care, to serve as a contracted provider in the health plan’s provider network. This letter is to notify you that the “go-live” date to service the Medicaid population is January 1, 2021.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Included in this packet are:</p>
    <p style="font-size: 15px;margin: 0px 0 10px 0;">1. The Florida Community Care Quick Reference Guide</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">2. BSN Plan Addendum</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">You may reference or retrieve the FCC Provider Manual here: <a href="https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf" target="_blank">https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf</a></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">A BSN Provider Relations Representative is available to answer any questions that you may have regarding Florida Community Care. If you have any questions, please feel free to contact us at <a href="info@bsnnet.com">info@bsnnet.com</a> or call 305-907-7470.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for your participation and support.</p>
    <p style="font-size: 16px;margin: 30px 0 0 0;font-weight: bold;">Sincerely,</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/singnature-jonas.jpg" alt="header-email" style="width: 160px;height: auto;">
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Jonas Eddy</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Vice President, Network Operations</p>
</div>
</body>
</html>