<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">

    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">Dear:  {{ queued.getContact.name }}</p>
    <p style="font-size: 15px;margin: 0px 0 5px 0;">Necessary information is missing in the provider portal.  All fields are important but some data, if missing,<br/>may exclude your practice and or providers from being listed on our payer partner’s directories.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Providers will not be included in directories without:</p>
    <ul style="font-size: 15px;margin: 0px 0 25px 0;">
        <li>NPI</li>
        <li>CAQH</li>
        <li>License # and expiration </li>
        <li>Degree</li>
        <li>Medicare / Medicaid ID </li>
        <li>Social security number (for Death Master File verification)</li>
        <li>Associated with one or more address(es) in the address tab </li>
    </ul>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Groups and facilities will not be included in directories without:</p>
    <ul style="font-size: 15px;margin: 0px 0 25px 0;">
        <li>NPI</li>
        <li>TIN</li>
        <li>Medicare / Medicaid ID</li>
        <li>Address(es) with address type selected- Primary/ Billing/ Mailing/ etc</li>
        <li>Hours (if applicable) </li>
        <li>Billing phone</li>
        <li>Line of Business Selection</li>
    </ul>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Please log in here http://admin.bsnnet.com/admin/login to complete or update your practice account as soon as possible.</p>

    <p style="font-size: 16px;margin: 0px 0 5px 0;">Thank you for your prompt attention!</p>
    <p style="font-size: 16px;margin: 0px;">The BSN Team </p>
</div>
</body>
</html>