<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/bsnnet-mmm-header-email.jpg" alt="header-email">
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;">{{ date }}</p>
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;"></p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear: {{ queued.getContact.name }}</p>

    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">Re:	MMM of Florida, Inc.</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Attached is the Behavioral Services Network Plan Addendum to your Provider Agreement for your participation with MMM of Florida, Inc., to serve as a contracted provider in the health plan’s specialty provider network. This letter is to notify you that you are authorized to treat MMM of Florida members from your effective date.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Included with this email are: 1. The MMM of Florida Quick Reference Guide, 2. Provider Manual, 3. The MMM EFT Authorization Form for you to complete in order for MMM of Florida, Inc. to begin to process electronic fund transfers directly to your financial institution, 4. Innova MD Information and 5. MMM of FL Bulletin.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Please note, you must include along with the completed MMM EFT Form, a voided check and a W-9 form. For your convenience you may download them <a href="https://gallery.mailchimp.com/3f9a0fca5f631d00b0e02b157/files/1efc2eac-9c31-45db-82f5-734443320e34/MMM_Provider_Payment_forms.zip" target="_blank">here</a>. These documents must be forwarded via email to providerfinance@mmm-fl.com.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">You may also reference or retrieve The MMM of Florida Quick Reference Guide and the Provider Manual in the BSN provider portal <a href="https://admin.bsnnet.com/admin/login" target="_blank">https://admin.bsnnet.com/admin/login</a>  for information regarding how to review eligibility, authorizations and submit claims.  Please bookmark this for future reference.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><strong>As a reminder, per CMS guidelines we ask that you regularly review your demographic data at least monthly and update your roster within 48 hours of any changes.  Log in to the portal to update your information.</strong></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">A BSN Provider Relations Representative will be available to answer any questions that you may have or schedule an onsite visit.  Please feel free to contact us at 305-907-7470 or email us at info@bsnnet.com</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you again for your participation and welcome to the family!</p>


    <p style="font-size: 16px;margin: 0 0 0 0;">Sincerely</p>
    <p style="font-size: 16px;margin: 0 0 25px 0;">The BSN Contracting Team</p>

    <p style="font-size: 18px;margin: 0px 0 15px 0;">Providers Credentialed List</p>
    <table border="0" width="70%" style="margin-bottom: 30px;">
        <thead>
        <tr>
            <th width="10%" style="text-align: left;">No</th>
            <th width="70%" style="text-align: left;">Full name</th>
            <th width="20%" style="text-align: left;">NPI Number</th>
        </tr>
        </thead>
        <tbody>
        {% set c=1 %}
        {% for provider in providers %}
            <tr>
                <td>{{ c }}</td>
                <td>{{ provider.firstname }} {{ provider.lastname }}</td>
                <td>{{ provider.npinumber }}</td>
            </tr>
            {% set c=c+1 %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>