<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/survey-mmm-header.jpg" alt="header-email">
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;">{{ date }}</p>
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 40px;">Dear Physician/Administrator:</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">MMM of Florida, Inc. is presently conducting an annual short survey to measure your satisfaction with our
        services to you and your MMM-covered patients. We encourage our Providers to complete and return the
        survey, as your participation is invaluable and will assist us to further develop and enhance our company’s
        services</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;font-weight: bold;">Please return the completed by July 1, 2020 survey to either the address, email, or FAX number listed
        below:</p>
    <ul style="margin-top: 40px;">
        <li style="font-size: 15px;margin: 0px 0 0px 0;">ATTN: Provider Network Department</li>
        <li style="font-size: 15px;margin: 0px 0 0px 0;">MMM Health Plan</li>
        <li style="font-size: 15px;margin: 0px 0 0px 0;">5775 Blue Lagoon, Suite 450</li>
        <li style="font-size: 15px;margin: 0px 0 0px 0;">Miami, FL 33126</li>
        <li style="font-size: 15px;margin: 0px 0 0px 0;">Fax the survey to 1-877-722-7544</li>
        <li style="font-size: 15px;margin: 0px 0 0px 0;">E-mail the survey to Providers@mmm-fl.com</li>
        <li style="font-size: 15px;margin: 0px 0 0px 0;">You may contact your Provider Services Executive to conveniently schedule a pickup at your office.</li>
    </ul>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If you have any questions and/or concerns, please contact our Provider Services Department directly at
        1-888-722-7559. We are available to assist you Monday through Friday between the hours of 8:30 a.m. to
        5:00 p.m. </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you for your continued care of your MMM-covered patients and for our partnership. </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Sincerely,</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/signature-alex-wilder.jpg" alt="header-email" style="width: 150px;">
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Alex Wilder</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Director of Contracting & Network Development</p>
</div>
</body>
</html>