<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/bsnnet-mmm-header-email.jpg" alt="header-email">
    <p style="font-size: 18px;font-weight: 600;margin-bottom: 10px;">{{ date }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear Esteemed Provider/ Administrator, </p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">Anthem has recently announced the purchase of Innova Care’s Puerto Rico-based holdings of MMM of Puerto Rico.  Please see the press release below.  As a provider in BSN’s network eligible to treat MMM of Florida’s members, we are notifying you of an important change in the claims submission process:</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><strong>All processes are now Florida based. While all contact numbers, portals and electronic claims submission remains the same, please note that the paper claims address has changed.</strong></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><strong>If you are submitting paper claims, please remit to the following address:</strong></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">MMM of Florida, Inc</p>
    <p style="font-size: 15px;margin: 0;">ATTN: CLAIMS DEPT</p>
    <p style="font-size: 15px;margin: 0;">PO BOX 260370</p>
    <p style="font-size: 15px;margin: 0 0 40px 0;">MIAMI, FLORIDA 33126</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">MMM has recently published a new Quick Reference Guide and Provider Manual containing guidance for authorizations, member eligibility, claims and much more.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">To download and review the new 2021 Quick Reference Guide and Provider Manual, please login to the BSN Provider Portal:  <a href="https://admin.bsnnet.com/admin/login" target="_blank">https://admin.bsnnet.com/admin/login</a> </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">It is our pleasure to assist you with questions regarding this update.  Please feel free to contact us at 305-907-7470 to speak to a provider relations representative.</p>
    <p style="font-size: 15px;margin: 0px 0 45px 0;">Thank you for being  a part of the best Behavioral Health Network in Florida! </p>
    <p style="font-size: 15px;margin: 0px 0 40px 0;">The BSN Team</p>
    <hr style="margin: 0px 0 40px 0;">
    <p style="font-size: 15px;margin: 0px 0 25px 0;">FOR IMMEDIATE RELEASE</p>
    <p style="font-size: 15px;margin: 0;text-align: center;"><strong>Anthem, Inc. to Acquire MMM Holdings, LLC and affiliates from InnovaCare Health, L.P.</strong></p>
    <p style="font-size: 15px;margin: 0;text-align: center;">Move expands Insurer’s presence in Medicare and Medicaid</p>
    <p style="font-size: 15px;margin: 0 0 25px 0;text-align: center;">with acquisition of vertically integrated health plan</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><strong>INDIANPOLIS – February 2, 2021–</strong> Anthem, Inc. (NYSE:ANTM) today announced that the company has entered into an agreement with InnovaCare Health, L.P., to acquire its Puerto Rico-based subsidiaries, including MMM Holdings, LLC (“MMM”) and its Medicare Advantage (MA) plan MMM Healthcare, LLC as well as affiliated companies and Medicaid plan.</p>

</div>
</body>
</html>