<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">

    <p style="margin-bottom: 25px;">{{ date }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Things to come</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear: Provider/ Administrator,</p>
    <p style="color:#3a8bc4;font-size: 22px;margin: 0px 0 10px 0;">We are excited to announce network updates!</p>

    <p style="font-size: 15px;margin: 0px 0 25px 0;">We have been tirelessly working to improve our data platform to increase efficiencies, improve data quality and make it easy to use.  This new platform has an integrated provider portal that will allow you to access your data to update rosters and demographics in real time. In addition, we are working on a telepsychiatry platform which will launch this summer.  More information to follow...</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">In addition, in the interest of improving data sharing and turn around times with our credentialing process, we have transitioned to a new, fully automated, NCQA certified CVO. This integration affords us accurate and secure real time verification platforms that are now able to credential our providers within weeks. </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">As a result of this transition and the migration to our new platform, many of our providers will have been credentialed twice and may see another approval notice.  Please note that this will only affect the date for the next recredentialing.  No action is required at this time. </p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If you have any questions, please email us at info@bsnnet.com or call us at 305-907-7470.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you for being a preferred provider in BSN’s network and stay tuned for more good news to come!</p>

    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Sincerely,</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/singnature-jonas.jpg" alt="header-email" style="width: 160px;height: auto;">
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Jonas Eddy</p>
    <p style="font-size: 16px;margin: 0px;font-weight: bold;">Vice President, Network Operation</p>


</div>
</body>
</html>