<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <p style="margin-bottom: 20px;"><strong>Dear, {{ user.name }}</strong></p>
    <p style="margin-bottom: 20px">We are pleased to inform you that a login has been created for you to access the Behavioral Services Network (BSN) Payer Portal.</p>
    <p style="margin-bottom: 20px">This portal is a live resource for our BH specialty network allowing real time location, specialty, and demographic data of providers and organizations available to your members.</p>
    <p style="margin-bottom: 20px">Click and save the link below to begin the login and password set up process.</p>
    <p style="margin-bottom: 0">Login: {{ user.email }}</p>
    <p style="margin-bottom: 20px">Password:  changeme</p>
    <p style="margin-bottom: 20px"><a href="http://admin.bsnnet.com/payer/login">http://admin.bsnnet.com/payer/login</a></p>
    <p style="margin-bottom: 20px">Please let your administrator know if you have any login issues or questions.</p>
    <p style="margin-bottom: 5px">Best regards,</p>
    <p style="margin-bottom: 20px">The BSN Team</p>

</div>
</body>
</html>