<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">

    <p style="color:#3a8bc4;font-size: 18px;margin: 0px 0 10px 0;"><strong>BSN Payer Portal Login Notification</strong></p>
    <p style="font-size: 17px;margin: 0px 0 10px 0;">Dear:  {{ full_name }}</p>
    <p style="font-size: 14px;margin: 0px 0 25px 0;">A user login has been created for you to access the portal.  Please click the link below to be directed to the portal login page.</p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;"><strong>Your login:</strong></p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;"><strong>Url:</strong> <a href="http://admin.bsnnet.com/payer/login" target="_blank">http://admin.bsnnet.com/payer/login</a></p>
    <p style="font-size: 14px;margin: 0px 0 5px 0;"><strong>User:</strong> {{ user_email }}</p>
    <p style="font-size: 14px;margin: 0px 0 25px 0;"><strong>Your temporary password:</strong> {{ password }}</p>
    <p style="font-size: 14px;margin: 0px 0 25px 0;">Please contact us at <a href="mailto:info@bsnnet.com" target="_blank">info@bsnnet.com</a> if you experience any issues with login or portal.</p>

    <p style="font-size: 14px;margin: 0px 0 5px 0;">Welcome to the team!</p>
    <p style="font-size: 14px;margin: 0px;">The BSN Team</p>
</div>
</body>
</html>