<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <p style="margin-bottom: 20px;"><strong>Dear, {{ name }}</strong></p>
    <p style="margin-bottom: 20px">You requested to reset your BSN Portal password. Click the button below to reset it.</p>
    <div style="text-align: left;margin-bottom: 20px;">
        <a href="{{ link }}" style="display: inline-block;text-align: center;padding: 10px 25px;border-radius: 5px;color: #fff;background: #e64a19;cursor: pointer;text-decoration: none;">Reset your password</a>
    </div>

    <p style="margin-bottom: 20px">If you did not request a password reset, please contact your administrator to let us know.</p>
    <p>Thanks,</p>
    <p style="margin-bottom: 20px">Behavioral Services Network Team</p>

</div>
</body>
</html>