<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Behavioral Services Network | Provider Portal Registration</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="logo-bsnnet">
    <h2 style="margin-bottom: 35px;">Behavioral Services Network | Provider Portal Registration</h2>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear: {{ queued.getContact.name }}</p>
    {% if queued.organization %}
        <p style="font-size: 16px;margin: 0px 0 10px 0;">Re: {{ queued.organization.name }}</p>
    {% endif %}
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Behavioral Services Network is pleased to invite you to access your practice and provider information via the BSN Provider Portal.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">The BSN Provider Portal is the access point to enter or make changes to data supplied to the network as required by CMS. Roster updates, demographic changes and more are easily administered via a login.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">The following are instructions for signing in to your account so that you may review, correct or add information as necessary.</p>
    <div style="margin-top: 10px;padding-left: 5px;margin-bottom: 25px;">
        <ol>
            <li>Click <a href="https://admin.bsnnet.com/validate/email/{{ queued.getVerificationHass }}">here</a> to create a login.</li>
            <li>Please complete all fields and submit</li>
            <li>Login</li>
        </ol>
    </div>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">If this is the first time logging in, please make sure that all required information regarding your practice, providers, addresses etc are complete.  BSN will not submit your information to directories until all information is entered.  Please note that logins cannot be created unless the email exists in the contacts list.  If you wish to create additional logins, you must enter the contact information first including the email in the contacts tab.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">When returning to the portal go to <a href="https://admin.bsnnet.com/admin/login" target="_blank">https://admin.bsnnet.com/admin/login</a>. Please consider bookmarking this link.</p>
    <p style="font-size: 15px;margin: 0px 0 5px 0;"><strong>For administrators of multiple practices:</strong></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">It is advisable to set up only one login and request that we associate it with all practices you administer.  Please contact us to arrange this.</p>
    <p style="font-size: 15px;margin: 0px 0 5px 0;">Thank you for being an important part of our Network!</p>
    <p style="font-size: 15px;margin: 0px 0 5px 0;">Best regards,</p>
    <p style="font-size: 15px;margin: 0px 0 5px 0;">The BSN Team</p>
</div>
</body>
</html>