<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <div style="text-align: center;padding: 25px 0 20px 0px ;background: #67B4DF;">
        <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    </div>

    <p style="font-size: 18px;margin: 30px 0 20px 0;font-weight: bold;">{{ organization_name }}</p>
    <p style="font-size: 15px;margin: 0px 0 20px 0;font-weight: bold;">Dear Esteemed Provider,</p>

    <p style="font-size: 15px;margin: 0px 0 40px 0;">Behavioral Services Network (BSN) has been selected as the behavioral health network for plans in your area and continues to expand. We are seeking quality providers to meet the expected demand. As an important part of your community we invite you to participate and become part of the integration movement.</p>
    <p style="font-size: 15px;margin: 0px 0 20px 0;"><strong>Join our provider network</strong> and take advantage of all the benefits Behavioral Services Network offers participating providers. As the BH provider network for multiple plans, our providers have a single point for credentialing and recredentialing and a single point for contracting which simplifies the contracting and administrative process.  As we grow and continue to add health plans, providers grow with the increased  membership of all our eligible health plan partners.  And, as we grow – you grow.</p>
    <p style="font-size: 15px;margin: 0px 0 20px 0;">Furthermore, we value our network providers and realize that your time is best spent with your patients—not with administrative tasks. We are continually working to improve, and further automate, the contracting, credentialing, and demographic data management to make your life easier!</p>

    <p style="font-size: 15px;margin: 0px 0 10px 0;"><strong>Why should you participate?</strong></p>
    <ul>
        <li style="font-size: 15px;font-weight: bold;">Multiple payers via single contracting and credentialing source</li>
        <li style="font-size: 15px;font-weight: bold;">Free and fast simplified, NCQA certified, credentialing - averaging 10 business days</li>
        <li style="font-size: 15px;font-weight: bold;">Expertise in behavioral and substance abuse provider service</li>
        <li style="font-size: 15px;font-weight: bold;">Whole person care coordination and simplifies access to care.</li>
        <li style="font-size: 15px;font-weight: bold;">Real time Utilization data is kept by the health plans which keeps data shared with providers fresh and complete.</li>
        <li style="font-size: 15px;font-weight: bold;">Authorizations if any, and claims payment come directly from the health plans at your contracted rate.  BSN does not keep any fees due to provider.</li>
        <li style="font-size: 15px;font-weight: bold;">Clinical support tools and up to date training and information on any plan specific requirements.</li>
        <li style="font-size: 15px;font-weight: bold;">There are no fees to join BSN.</li>
        <li style="font-size: 15px;font-weight: bold;">One contract for all of BSN’s health plan partners.</li>
        <li style="font-size: 15px;font-weight: bold;">As we grow, you grow - so long as you continue to participate in BSN’s network, there are no extra steps to add a new plan.</li>
    </ul>

    <p style="font-size: 15px;margin: 20px 0 20px 0;"><strong>BSN is a statewide, NCQA credentialed network that services Commercial, ACA, Medicare, and Medicaid</strong> lines of business to help plans make the integrated model of care transition or enhance their current behavioral health and substance abuse network. With over 3500 top tier providers in Florida alone, you can rest assured that you are part of a robust network of the finest professionals in behavioral health.</p>
    <p style="font-size: 15px;margin: 0px 0 20px 0;">The AHCA announcement below that Florida Community Care chose BSN as their Behavioral Health and Substance Abuse network is the most recent example of plans seeking integration coupled with value and expertise.</p>
    <p style="font-size: 15px;margin: 0px 0 30px 0;font-weight: bold;">Your practice is an important part of your community and, important to us.</p>
    <p style="font-size: 15px;margin: 0px 0 40px 0;font-weight: bold;">Join today!</p>
    <p style="font-size: 15px;margin: 0px 0 40px 0;">To participate, follow the link to our Request to Join form:</p>
    <a href="https://www.bsnnet.com/index.php/join-us" target="_blank" style="background: #0a6ebd;text-align: center;color:#fff;padding: 15px 45px;border-radius: 6px;font-size: 20px;font-weight: bold;margin:25px auto;min-width: 250px;display: block;text-decoration: none;">JOIN US</a>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/FCC_AHCA_LETTER.jpg" alt="logo-bsnnet" style="margin-top: 25px;margin-bottom: 40px;max-width: 90%;">
    <p style="font-size: 15px;margin: 0px 0 10px 0;color:#F44336"><strong>Please note:</strong>  While every effort is made to keep our database updated and correct, it is possible you are receiving this email in error.  If you are already in network please ignore this communication. </p>
    <p style="font-size: 15px;margin: 0px 0 20px 0;color:#F44336">Also,  please let us know if you would prefer not to participate and receive referrals from our carrier partners so that we can remove your contact information.</p>
    <p style="font-size: 15px;margin: 0px 0 10px 0;">The BSN Contracting Team</p>

</div>
</body>
</html>