<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/Provider-notification-for-PSR-and-TCM.jpg" alt="" style="width: 100%;height: auto;">
    <p style="font-size: 16px;margin: 0px 0 40px 0;">{{ date }}</p>
    <h2 style="margin-bottom: 35px;font-size: 16px;margin: 0px 0 20px 0;">To all MMM Providers including Behavioral Health:</h2>

    <p style="font-size: 16px;margin: 0px 0 20px 0;text-align: justify;">Starting July 1st, 2021, MMM FL will require Prior Authorization for all D-SNP Members (MMM
        Platinum) currently receiving or about to start receiving the following outpatient services:</p>

    <ul style="list-style: none;margin-bottom: 20px;">
        <li style="font-size: 15px;font-weight: bold;text-align: justify;">- Behavioral Health Community Support Services-Adult Targeted Case Management
            (TCM) and Adult Intensive Case Management Team Services</li>
        <li style="font-size: 15px;font-weight: bold;text-align: justify;">- Behavioral Health Community Support Services- Psychosocial Rehabilitation Services</li>
    </ul>

    <p style="font-size: 16px;margin: 0px 0 20px 0;text-align: justify;">Per the Florida Medicaid Program, these services are only covered for members meeting certain
        medical necessity criteria and starting July 1st, 2021, the D-SNP Medicare Plan is responsible for
        providing authorization and payments for these services whenever appropriate and in
        accordance with the respective Florida Medicaid AHCA Handbook guidelines:</p>

    <ul style="list-style: none;margin-bottom: 20px;">
        <li style="font-size: 16px;text-align: justify;">- Florida Mental Health Targeted Case Management Handbook and</li>
        <li style="font-size: 16px;text-align: justify;">- Florida Medicaid: Behavioral Health Community Support Services Coverage Policy</li>
    </ul>

    <p style="font-size: 16px;margin: 0px 0 5px 0;text-align: justify;">Please request the Prior Authorization using the PA form online located in the MMM FL website</p>
    <p style="font-size: 16px;margin: 0px 0 60px 0;text-align: justify;">– Healthcare Provider section.</p>

    <p style="font-size: 16px;margin: 0px 0 10px 0;">Sincerely,</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;"><img src="https://s3.amazonaws.com/bsnnet.com/email-images/sign-darwin-caraballo.jpg" alt="" style="width: 150px;height: auto;"></p>
    <p style="font-size: 14px;margin: 0px 0 10px 0;">Darwin Caraballo-Burgos, M.D.</p>
    <p style="font-size: 14px;margin: 0px 0 10px 0;">Chief Medical Officer - MMM FL</p>
</div>
</body>
</html>