<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Behavioral Services Network | Provider Portal Registration</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="logo-bsnnet">
    <h2 style="margin-bottom: 35px;">Behavioral Services Network | Provider Portal Registration</h2>

    <p style="font-size: 16px;margin: 0px 0 10px 0;">Dear: {{ name }}</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Your request for access to the BSN provider portal has been reviewed and accepted.  Please follow the link to log in.</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;"><a href="http://admin.bsnnet.com/admin/login">http://admin.bsnnet.com/admin/login</a></p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Thank you</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">Best regards,</p>
    <p style="font-size: 15px;margin: 0px 0 25px 0;">The BSN Team</p>
</div>
</body>
</html>