<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <h2 style="margin-bottom: 35px;">Behavioral Services Network | Notice of Termination Due to Adverse Action</h2>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">{{ date }}</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">Re: Notice of Termination Due to Adverse Action</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">Dear {{ queued.contact.name }} </p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">We have been notified by our credentialing vendor organization (CVO) of adverse actions in one of the following reporting databases:  NPDB, OIG or SAM and consequently the Credentialing Committee has voted to terminate our relationship with you.</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">This letter serves as our acknowledgement of this information with the understanding that termination is effective immediately.</p>
    <p style="font-size: 16px;margin: 0px 0 30px 0;">Please feel free to contact our Provider Relations Department at 305-907-7470 with any questions or if you require any additional information.</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">Sincerely,</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;"><img src="https://s3.amazonaws.com/bsnnet.com/email-images/mary_sign_2.png" alt=""></p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Mary Saiz</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">COO</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Behavioral Services Network</p>
</div>
</body>
</html>