<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Behavioral Services Network | Directory Update</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="logo-bsnnet">
    <h2 style="margin-bottom: 10px;font-size: 17px;">Behavioral Services Network | Directory Update</h2>
    <h2 style="margin-bottom: 35px;font-size: 17px;"><span style="color:#e23636;">Urgent Reminder:</span> Make Sure Your Provider Directory Information Is Accurate and Up-to-Date</h2>

    <p style="font-size: 16px;margin: 0px 0 10px 0;"><strong>It is essential that provider directories are current with the most accurate information available.</strong> Our Plan Partner's members use the Provider Directories to make informed decisions when selecting a provider. So, it’s to your advantage to make sure your directory information is correct and current.</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">The Centers for Medicare & Medicaid Services requires BSN to conduct a quarterly outreach to validate provider information. We use this information to populate our Provider Directory and to ensure correct claims processing. Each review confirms:</p>
       <ul style="margin-bottom: 15px;">
           <li style="font-size: 16px;"><strong>The provider name is correct.</strong> For example, we must ensure the provider’s name in the directory matches the name on his/her medical license.</li>
           <li style="font-size: 16px;"><strong>The practice name is correct.</strong> For example, is there a difference between the practice name that is being used when phones are answered versus the practice name listed in the directory?</li>
           <li style="font-size: 16px;"><strong>The provider’s specialties are correctly listed.</strong> Is there more than one specialty listed in the directory? Are both specialties being practiced?</li>
           <li style="font-size: 16px;"><strong>There aren't providers listed at practice locations where they don’t actually practice.</strong> Providers listed must be affiliated with the group. Providers who cover on an occasional basis are not required to be listed. Providers who do not see patients on a regular basis at a location should not be listed at that location. </li>
           <li style="font-size: 16px;"><strong>The provider is accepting new patients — or not accepting new patients — at the location.</strong></li>
           <li style="font-size: 16px;"><strong>The provider’s address and phone number are correct.</strong></li>
    </ul>

    <p style="font-size: 16px;margin: 0px 0 10px 0;"><strong>Note:</strong> When entering the BSN portal, areas that need attention will be automatically flagged.  Please follow the links in order to make necessary changes</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">It is vital that all providers review and update their information in BSN’s Provider Portal an information should be updated as soon as a change occurs. <strong>All data should be reviewed at a minimum of once a quarter to ensure it is accurate.</strong></p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">In anticipation of the new rules regarding provider directory data, BSN will remove providers that have not validated their information within 30 days of our request to do so and their status within BSN’s networks may be impacted.</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">To verify your information log in to: <a href="https://admin.bsnnet.com/admin/login">https://admin.bsnnet.com/admin/login</a></p>

</div>
</body>
</html>