<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <h2 style="margin-bottom: 35px;">Behavioral Services Network | Wrong Email Registration </h2>

    <p style="font-size: 16px;margin: 0px 0 10px 0;">Organization: {{ organization }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">First Name: {{ first_name }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Lasst Name: {{ last_name }}</p>
    <p style="font-size: 16px;margin: 0px 0 10px 0;">Email: {{ email }}</p>

    <p style="font-size: 12px;margin: 35px 0 25px 0;">Email sent from BSNNET Provider Portal</p>
</div>
</body>
</html>