<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bsnnet | Behavioral Services Network</title>
</head>
<body>
<div style="width: 100%;max-width: 800px;">
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN_-_logo_full.png" alt="logo-bsnnet" style="width: 250px;">
    <h2 style="margin-bottom: 35px;">Esteemed Behavioral and Substance Abuse administrator </h2>

    <p style="font-size: 16px;margin: 0px 0 20px 0;">A new year, a new beginning.</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">We look forward to 2021 with renewed passion for serving our communities with a helpful refresh for the new year.  In an effort to maintain strong network awareness and reaffirm our commitment to our providers, BSN has prepared the following notice.</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">You are a contracted and credentialed provider of behavioral and/or substance abuse services for BSN- Behavioral Services Network which serves managed care plans and other issuers.  The most recent managed care client we serve is Florida Community Care (FCC).  FCC is a statewide Medicaid HMO specializing in Medicaid enrollees in Long term Care supportive services.  All of FCC's members are therefore served through BSN's network.</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/diagram_fcc1.jpg" alt="diagram" style="margin: 0 20px 0 0;"/>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">Any questions regarding contract terms, credentialing or payment rates would be directed to Behavioral Services Network.  <span style="font-weight: 600;color:#151c3d">Care coordination, claims payment, customer service, benefits questions should be directed to Florida Community Care Plan.</span> Please see the quick reference guide attached for contact information.  Remember: groups credentialed as a facility must use the FACILITY NPI for claims submission.</p>
    <img src="https://s3.amazonaws.com/bsnnet.com/email-images/diagram_fcc2.jpg" alt="diagram" style="margin: 0 20px 0 0;"/>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">Earlier this year we send you information about FCC to include its provider manual and directory. If you need another copy please download via this link.  </p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;"><a href="https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf" target="_blank">https://fcchealthplan.com/wp-content/uploads/2020/04/FCC200428PNSHBK001F.pdf</a></p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">If you should have any additional questions, we are here to help!  Please feel free to contact your BSN contract liaison at 305-907-7470. </p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">This is also a good time of year to make sure your information is current and correct – log in to the portal to review and update provider data, group data, addresses, hours and more. Be sure that your preferred lines of business, service settings, and mandatory trainings are complete. If you have not yet logged in, please let us know and we can assist with establishing credentials.</p>
    <p style="font-size: 16px;margin: 0px 0 40px 0;">BSN Provider Portal:  <a href="https://admin.bsnnet.com/admin/login" target="_blank">https://admin.bsnnet.com/admin/login</a></p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">We ask that you please share this information with anyone on your team that will be supporting BSN, HMOs or other insurers.  If you have any employee bulletins or mass emails, feel free to broadly share this message.</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">Thank you for being part of our network of the finest Behavioral and Substance Abuse providers in the state of Florida.</p>
    <p style="font-size: 16px;margin: 0px 0 20px 0;">The BSN Team</p>
</div>
</body>
</html>