{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organizations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">PML Advance Report</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12 text-right pr-2">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('#link-group-report').addClass('nav-item-expanded')
            $('#link-group-report').addClass('nav-item-open')
            $('#link-menu-agorganization').addClass('active')
        });

        // specify the columns
        var columnDefs = [
            {headerName: "Status", field: "status",sortable: true, unSortIcon: true},
            {headerName: "Florida Medicaid Provider ID", field: "medicaid_id",sortable: true, unSortIcon: true},
            {headerName: "Provider Name", field: "provider_name",sortable: true, unSortIcon: true,
                filter: 'agTextColumnFilter', floatingFilterComponentParams:{
                    debounceMs:2000
                },
                filterParams: { applyButton: false, clearButton:true }},
            {headerName: "DBA Name", field: "dba_name",sortable: true, unSortIcon: true,hide:true},
            {headerName: "Provider Type Code", field: "provider_type_code",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Provider Specialty Code", field: "provider_specialty_code",sortable: true, unSortIcon: true,hide:false},
            {headerName: "License", field: "license",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Enrollment Type", field: "enrollment",sortable: true, unSortIcon: true,hide:false},
            {headerName: "I/O", field: "provider_type",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Taxonomy Code", field: "taxonomy_code",sortable: true, unSortIcon: true,hide:false},
            {headerName: "Address", field: "address",sortable: true, unSortIcon: true,},
            {headerName: "Suite Number", field: "suite_number",sortable: true, unSortIcon: true,hide:true},
            {headerName: "NPI Type", field: "npi_type",sortable: true, unSortIcon: true,hide:false},
            {headerName: "NPI Number", field: "npi",sortable: true, unSortIcon: true,hide:false},
        ];

        var rowData = [

        ];

        {% for pml in pmls %}

        var npi_type=""
        {% if pml.colm=="1" %}
            npi_type="Individual"
        {% endif %}
        {% if pml.colm=="2" %}
            npi_type="Organization"
        {% endif %}
        {% if pml.colm=="U" %}
            npi_type="Unknown"
        {% endif %}


        var obj={
            medicaid_id: "{{ pml.cola }}",
            provider_name: "{{ pml.colb }}",
            dba_name: "{{ pml.colc }}",
            provider_type_code: "{{ pml.cold }}",
            provider_specialty_code: "{{ pml.cole }}",
            taxonomy_code: "{{ pml.colf }}",
            address: "{{ pml.colg }}",
            suite_number: "{{ pml.colh }}",
            npi: "{{ pml.coln }}",
            npi_type: npi_type,
            license: "{{ pml.colv }}",
            enrollment: "{{ pml.coll }}",
            status: "{{ pml.colw }}",
            provider_type: "{{ pml.colu }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            floatingFilter: true,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{

                var progressBar=$('#progress_delete');
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                var url="/admin/organization/delete_multiple";

                bootbox.dialog({
                    message: 'Are you sure?',
                    title: 'Delete Organizations Selected',
                    buttons: {
                        success: {
                            label: '<i class="fas fa-ban"></i> Cancel',
                            className: 'btn-success',
                            callback: function() {

                            }
                        },
                        danger: {
                            label: '<i class="far fa-trash-alt"></i> Delete Selected',
                            className: 'btn-danger',
                            callback: function() {

                                progressBar.removeClass('sr-only')
                                $.post(url, data, function (result) {
                                    progressBar.addClass('sr-only')

                                    var removed=result.removed;
                                    var message=result.message;

                                    $('#message-removed').html(message);

                                    if(removed==1){
                                        $('.cont-alert-removed-true').fadeIn(300);

                                        var selectedData = gridOptions.api.getSelectedRows();
                                        var res = gridOptions.api.updateRowData({remove: selectedData});

                                        $('.cont-alert-removed-true').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-true').fadeOut(500);
                                        }, 3000);

                                    }else{
                                        $('.cont-alert-removed-false').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-false').fadeOut(500);
                                        }, 3000);
                                    }
                                })
                            }
                        }
                    }

                });
            }

        }

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_organization") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_organization") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm btn-outline bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm btn-outline bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm btn-outline bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var bQuestion = false;

        window.onbeforeunload = BeforeExit;

        function BeforeExit() {
            var rowsSelected=gridOptions.api.getSelectedRows();
            if(rowsSelected.length>1)
                bQuestion = true;

            if (bQuestion){
                return "¿Exit?";
            }
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
