{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':2 }) }}" class="breadcrumb-item">Organization Prospect</a>
                        <span class="breadcrumb-item active">Edit Ticket for <strong>{{ prospect.name }}</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Ticket for <strong>{{ prospect.name }}</strong></span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_new_organizationprospectticket',{'id':prospect.id}) }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Ticket</a>
                    <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':2 }) }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Organization Prospect Ticket List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_organizationprospectticket') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Ticket date:</label>
                                                <div class="col-lg-10">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="date" id="date" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ document.TicketDate }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Description:</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="5" cols="5" class="form-control" name="description" id="description">{{ document.description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="prospect" id="prospect" value="{{ prospect.id }}">
                                                <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':2 }) }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/role/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })
         });
     </script>
 {% endblock %}
