{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':2 }) }}" class="breadcrumb-item">Organization Prospect</a>
                        <span class="breadcrumb-item active">View Ticket</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Ticket</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_organizationprospect',{'id':prospect.id,'tab':2 }) }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Organization Prospect Ticket List</a>
                    <a href="{{ path('admin_edit_organizationprospectticket',{'id':document.id }) }}" class="btn btn-sm btn-info mr-1"><i class="fas fa-pencil-alt"></i> Edit Ticket</a>
                    <a href="{{ path('admin_new_organizationprospectticket',{'id':prospect.id }) }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Ticket</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Date:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.TicketDate }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Updated on:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.updatedAt|date('m-d-Y') }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Created By:</label>
                                        <p class="col-form-label text-body p_docs p-inline">
                                            {% if document.user %}
                                                {{ document.user.name }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-2">
                                                <label class="col-form-label">Description:</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="col-form-label text-body p_docs">
                                                    {{ document.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}

 {% endblock %}
