
{% set c=1 %}
{% for link in links %}
    {% if c==total %}
        <a href="{{ link.link }}" target="_blank" class="btn btn-sm btn-primary mr-auto" style="padding: 1px 4px!important;">{{ link.name }}</a>
    {% else %}
        <a href="{{ link.link }}" target="_blank" class="btn btn-sm btn-primary mr-1" style="padding: 1px 4px!important;">{{ link.name }}</a>
    {% endif %}
    {% set c=c+1 %}
{% endfor %}

