{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">AETNA Report</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">AETNA Report</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            $('#link-group-configuration').addClass('nav-item-expanded')
            $('#link-group-configuration').addClass('nav-item-open')
            $('#link-group-providers_conf').addClass('nav-item-expanded')
            $('#link-group-providers_conf').addClass('nav-item-open')
            $('#link-admin-cvos').addClass('active')

        });

        var columnDefs = [
            {headerName: "Full Name", field: "name",sortable: true, unSortIcon: true},
            {headerName: "NPI Number", field: "npi",sortable: true, unSortIcon: true},
            {headerName: "Organization", field: "organization",sortable: true, unSortIcon: true},
            {headerName: "Org NPI", field: "organization_npi",sortable: true, unSortIcon: true},
            {headerName: "LOB", field: "lob",sortable: true, unSortIcon: true},
            {headerName: "Provider Type", field: "provider_type",sortable: true, unSortIcon: true},
            {headerName: "Street", field: "street",sortable: true, unSortIcon: true},
            {headerName: "City", field: "city",sortable: true, unSortIcon: true},
            {headerName: "County", field: "county",sortable: true, unSortIcon: true},
            {headerName: "State", field: "state",sortable: true, unSortIcon: true},
            {headerName: "Zip Code", field: "zipcode",sortable: true, unSortIcon: true},
            {headerName: "Region", field: "region",sortable: true, unSortIcon: true, hide:true},
            {headerName: "Min Age", field: "min_age",sortable: true, unSortIcon: true, hide: true},
            {headerName: "Max Age", field: "max_age",sortable: true, unSortIcon: true, hide: true},
        ];

        var rowData = [

        ];

        {% for provider in providers %}
        
        var obj={
            id:"{{ provider.id }}",
            name:"{{ provider.full_name }}",
            npi:"{{ provider.npi }}",
            street:"{{ provider.street }}",
            lob:"{{ provider.lob }}",
            county:"{{ provider.county }}",
            city:"{{ provider.city }}",
            state:"{{ provider.state }}",
            zipcode:"{{ provider.zipcode }}",
            region:"{{ provider.region }}",
            provider_type:"{{ provider.provider_type }}",
            min_age:"{{ provider.min_age }}",
            max_age:"{{ provider.max_age }}",
            organization: "{{ provider.organization_name }}",
            organization_npi: "{{ provider.organization_npi }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
