{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_payer') }}" class="breadcrumb-item">Payers</a>
                        <span class="breadcrumb-item active">New Payer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Payer</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_payer') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Payers List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_create_payer') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Alias:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="alias" id="alias">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Line of Business:</label>
                                                <div class="col-lg-10">
                                                    {% for line in lineOfBusiness%}
                                                        <div class="form-check form-check-switch form-check-switch-left">
                                                            <label class="form-check-label d-flex align-items-center">
                                                                <input type="checkbox" id="{{ line.id }}"  name="lineofbusinees" value="{{ line.id }}" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch check-line">
                                                                <label class="col-form-label text-black-50">{{ line.name }}</label>
                                                            </label>
                                                        </div>
                                                    <div id="cont_{{ line.id }}" class="sr-only">
                                                        <label class="col-form-label text-black-50">Select counties for {{ line.name }}:</label>
                                                        <select name="counties_{{ line.id }}" data-placeholder="Select Counties for ..." multiple="multiple" class="form-control select counties_{{ line.id }}" data-fouc>
                                                            {% for county in counties %}
                                                                <option value="{{ county.id }}">{{ county.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Description:</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="5" cols="5" class="form-control" name="description" id="description"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Enabled:</label>
                                                <div class="col-lg-10">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox" name="enabled" data-on-color="success" data-off-color="danger" data-on-text="Yes" data-off-text="No" class="form-check-input-switch" checked value="1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="linesselected" id="linesselected" value="">
                                                <input type="hidden" name="countiesselected" id="countiesselected" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_payer') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/payer/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('.select').select2({
                 minimumResultsForSearch: Infinity
             });

             $('#link-menu-payers').addClass('active')

             $('.check-line').on('switchChange.bootstrapSwitch', function (event, state) {

                 var objCheck=$(this);
                 var id=objCheck.attr('id');

                 if(objCheck.is(':checked')){
                     $('#cont_'+id).removeClass('sr-only');
                 }else{
                     $('#cont_'+id).addClass('sr-only');
                 }
             });

         });
     </script>
 {% endblock %}
