{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_payer',{'id':payer_id}) }}" class="breadcrumb-item">Payer</a>
                        <span class="breadcrumb-item active">Edit Payer Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Payer Contact</span>
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_updated_payer') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> First Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{ contact.firstName }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_first_name">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Last Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="last_name" id="last_name" value="{{ contact.lastName }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_last_name">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Title:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="title" id="title" value="{{ contact.title }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Category:</label>
                                                <div class="col-lg-10">
                                                    <select name="category" id="category" class="form-control select">
                                                        <option value=""> [ Select One Option ]</option>
                                                        <option value="Claims" {% if contact.category=="Claims" %}selected{% endif %}>Claims</option>
                                                        <option value="Contracting" {% if contact.category=="Contracting" %}selected{% endif %}>Contracting</option>
                                                        <option value="Credentialing" {% if contact.category=="Credentialing" %}selected{% endif %}>Credentialing</option>
                                                        <option value="Directory" {% if contact.category=="Directory" %}selected{% endif %}>Directory</option>
                                                        <option value="Provider Relations" {% if contact.category=="Provider Relations" %}selected{% endif %}>Provider Relations</option>
                                                        <option value="Admin" {% if contact.category=="Admin" %}selected{% endif %}>Admin</option>
                                                        <option value="Other" {% if contact.category=="Other" %}selected{% endif %}>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone" id="phone" data-mask="999-999-9999" value="{{ contact.phone }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone ext:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone_ext" id="phone_ext" value="{{ contact.phoneExt }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Mobile:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="mobile" id="mobile" data-mask="999-999-9999" value="{{ contact.mobile }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="fax" id="fax" data-mask="999-999-9999" value="{{ contact.fax }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="email" id="email" value="{{ contact.email }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Description:</label>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" name="description" rows="6" id="description">{{ contact.description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="payer" id="payer" value="{{ payer_id }}">
                                                <input type="hidden" name="id" id="id" value="{{ contact.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i>Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_view_payer',{'id':payer_id}) }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/payer_contact/validate.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function (e) {
             setTimeout(function () {
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#link-menu-paye').addClass('active')
         });
     </script>
 {% endblock %}
