{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_payer',{'id':payer.id}) }}" class="breadcrumb-item">Payer</a>
                        <span class="breadcrumb-item active">Process Customer by County</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Process Customer by County</span></h5>
                <div class="header-elements">
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <form action="" method="post" id="form" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row form-group">
                                                <label class="col-12 col-form-label">Line of Business:</label>
                                                <div class="col-12">
                                                    <span class="badge badge-primary mb-1"> {{ line_businessObJ.name }}</span>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-12 col-form-label">Payer:</label>
                                                <div class="col-12">
                                                    <span class="badge badge-primary mb-1"> {{ payer.name }}</span>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-12 col-form-label">Counties Data:</label>
                                                <div class="col-12">
                                                    <div class="table-responsive" id="table_grid_cred">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                            <tr class="bg-slate">
                                                                <th width="20%">County</th>
                                                                <th width="15%">Customers</th>
                                                                <th width="20%">Match County on database</th>
                                                                <th width="15%">Status</th>
                                                                <th width="30%">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for data in data_array %}
                                                                <tr data-id="{{ data['id'] }}">
                                                                    <td>
                                                                        {{ data['county'].name }}
                                                                    </td>
                                                                    <td>{{ data['value'] }}</td>
                                                                    <td><i class="fas mt-1 fa-check text-success"></i></td>
                                                                    <td>
                                                                        <span class="badge badge-success mb-0">completed</span>
                                                                    </td>
                                                                    <td>-</td>
                                                                </tr>
                                                                {% endfor %}
                                                                {% for wrong_data in wrong_data_array %}
                                                                    <tr data-id="{{ wrong_data['id'] }}">
                                                                        <td>
                                                                            <span class="text-danger">{{ wrong_data['county'] }}</span>
                                                                        </td>
                                                                        <td>{{ wrong_data['value'] }}</td>
                                                                        <td><i class="fas fa-times text-danger"></i></td>
                                                                        <td>
                                                                            <span class="badge badge-warning mb-0">pending</span>
                                                                        </td>
                                                                        <td>
                                                                            <div class="row mr-0 ml-0">
                                                                               Please review the County Name and try to upload again
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-12">
                                                    <input type="hidden" id="payer" name="payer" value="{{ payer }}">
                                                    <a href="{{ path('admin_view_payer',{'id':payer.id}) }}" class="btn btn-success" data-dismiss="modal"> Finish</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/join/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)


         });
     </script>
 {% endblock %}
