{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_payer',{'id':payer}) }}" class="breadcrumb-item">Payer</a>
                        <span class="breadcrumb-item active">Upload Customer by County</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Upload Customer by County</span></h5>
                <div class="header-elements">
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <form action="{{ path('admin_upload-customer-county-process') }}" method="post" id="form" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="form-group row" id="cont-termination-reason">
                                            <label class="col-12 col-form-label">Step 1:</label>
                                            <div class="col-12">
                                                <span class="form-text text-muted" style="font-size: 14px;">Download <a href="{{ asset('template_xls/upload_customer_county_template.xlsx') }}">here</a> the template for upload the data.</span>
                                            </div>
                                        </div>
                                        <div class="form-group row" id="cont-termination-reason">
                                            <label class="col-12 col-form-label">Line of Business:</label>
                                            <div class="col-12">
                                                <select name="line_business" id="line_business" class="form-control select">
                                                    <option value="0">- Select One -</option>
                                                    {% for line_of_business in lines_of_business %}
                                                        <option value="{{ line_of_business.id }}">{{ line_of_business.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div id="error_line_business" class="sr-only">
                                                    <span class="font-weight-semibold text-danger lbl_error mt-1">Please select a Line of Business!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="col-12 col-form-label">Upload:</label>
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <input type="file" class="file-input-extensions" multiple="false"  data-show-preview="true" data-show-upload="false" name="file_customer_county" id="file_customer_county" data-fouc>
                                                        <div id="error_files" class="sr-only">
                                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please upload one file!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <input type="hidden" id="payer" name="payer" value="{{ payer }}">
                                                <a href="#" class="btn btn-success btn-upload-file"><i class="fas fa-cloud-upload-alt"></i> Process File</a>
                                                <a href="{{ path('admin_view_payer',{'id':payer}) }}" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/join/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)


             $('.btn-upload-file').click(function(e){
                 e.preventDefault()

                 var line_business=$('#line_business')
                 var error_line_business=$('#error_line_business')

                 var send=true
                 if(line_business.val()==0){
                     send=false
                     error_line_business.removeClass('sr-only')
                 }else{
                     error_line_business.addClass('sr-only')
                 }

                 var files=$('#file_customer_county')
                 var error_files=$('#error_files')

                 if(files.val()==""){
                     error_files.removeClass('sr-only')
                     files.addClass('border-red')
                     send=false
                     if(focused==false){
                         files.focus()
                         focused=true
                     }
                 }else{
                     error_files.addClass('sr-only')
                     files.removeClass('border-red')
                 }

                 if(send){
                     $('#form').submit()
                 }
             })

             // Modal template
             var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
                 '  <div class="modal-content">\n' +
                 '    <div class="modal-header align-items-center">\n' +
                 '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
                 '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
                 '    </div>\n' +
                 '    <div class="modal-body">\n' +
                 '      <div class="floating-buttons btn-group"></div>\n' +
                 '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
                 '    </div>\n' +
                 '  </div>\n' +
                 '</div>\n';

             // Buttons inside zoom modal
             var previewZoomButtonClasses = {
                 toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
                 fullscreen: 'btn btn-light btn-icon btn-sm',
                 borderless: 'btn btn-light btn-icon btn-sm',
                 close: 'btn btn-light btn-icon btn-sm'
             };

             // Icons inside zoom modal classes
             var previewZoomButtonIcons = {
                 prev: '<i class="icon-arrow-left32"></i>',
                 next: '<i class="icon-arrow-right32"></i>',
                 toggleheader: '<i class="icon-menu-open"></i>',
                 fullscreen: '<i class="icon-screen-full"></i>',
                 borderless: '<i class="icon-alignment-unalign"></i>',
                 close: '<i class="icon-cross2 font-size-base"></i>'
             };

             // File actions
             var fileActionSettings = {
                 zoomClass: '',
                 zoomIcon: '<i class="icon-zoomin3"></i>',
                 dragClass: 'p-2',
                 dragIcon: '<i class="icon-three-bars"></i>',
                 removeClass: '',
                 removeErrorClass: 'text-danger',
                 removeIcon: '<i class="icon-bin"></i>',
                 indicatorNew: '<i class="icon-file-plus text-success"></i>',
                 indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
                 indicatorError: '<i class="icon-cross2 text-danger"></i>',
                 indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
             };


             $('.file-input-extensions').fileinput({
                 browseLabel: 'Browse',
                 browseIcon: '<i class="icon-file-plus mr-2"></i>',
                 uploadIcon: '<i class="icon-file-upload2 mr-2"></i>',
                 removeIcon: '<i class="icon-cross2 font-size-base mr-2"></i>',
                 layoutTemplates: {
                     icon: '<i class="icon-file-check"></i>',
                     modal: modalTemplate
                 },
                 maxFilesNum: 10,
                 allowedFileExtensions: ["xlsx", "xls", "doc","docx", "pdf"],
                 initialCaption: "No file selected",
                 previewZoomButtonClasses: previewZoomButtonClasses,
                 previewZoomButtonIcons: previewZoomButtonIcons,
                 fileActionSettings: fileActionSettings
             });
         });
     </script>
 {% endblock %}
