{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_payer',{'id':payer_id}) }}" class="breadcrumb-item">Payer</a>
                        <span class="breadcrumb-item active">View Payer Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> View Payer Contact</span>
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_create_payer_contact') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> First Name:</label>
                                                <div class="col-lg-10 pt-2"><p class="mb-0">{{ contact.firstName }}</p></div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Last Name:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.lastName }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Title:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.title }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Category:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.category }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.phone }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone ext:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.phoneExt }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Mobile:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.mobile }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.fax }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Email:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.email }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Description:</label>
                                                <div class="col-lg-10 pt-2">
                                                    <p class="mb-0">{{ contact.description }}</p>
                                                </div>
                                            </div>
                                            <div class="text-left mt-4">
                                                <a href="{{ path('admin_view_payer',{'id':payer_id}) }}" class="btn btn-primary"> Acept</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/payer_contact/validate.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function (e) {
             setTimeout(function () {
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             $('#link-menu-paye').addClass('active')
         });
     </script>
 {% endblock %}
