
        {% for label, messages in app.flashes %}
            {% for message in messages %}

                <div class="flash-{{ label }} flash-notification">
                    {% if label=="success" %}
                    <div class="alert-custom-success bg-green">
                        <span class="font-weight-semibold"><i class="fas fa-check"></i> {{ message }}</span>
                    </div>
                    {% endif %}
                    {% if label=="danger" %}
                        <div class="alert-custom-success bg-danger">
                            <span class="font-weight-semibold">{{ message }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

