{{ form_start(form,{'attr':{'class':'form-delete','id':id|default('form_delete_organization_exclude')}})}}
{{ form_widget(form) }}
{% if width_submit is not defined or width_submit==true %}
    <input type="button" class="btn btn-danger"  onclick="confirmDelete()" value="Eliminar Pedido"/>
{% endif %}
{{ form_end(form) }}