{% extends 'base_provider.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('provider_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Facility Credentialing Application</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Facility Credentialing Application</span></h5>
                <div class="header-elements"></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p>This form is to be lled out completely with the most up-to-date information pertaining to the facility.</p>
                                        <form class="wizard-form steps-validation" method="post" action="{{ path('provider_facillity_app_save_data') }}" enctype="multipart/form-data" data-fouc id="form">
                                            <input type="hidden" name="additionalServicesSelected" id="additionalServicesSelected" value="">
                                            <h6>Facility Profile Information</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label">  Facility name:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" placeholder="Facility name" name="facility_name" id="facility_name" {% if document %}value="{{ document.name }}" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label">Facility DBA (Alternative name):</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" placeholder="Facility DBA (Alternative name)" name="facility_dba" id="facility_dba" {% if document %}value="{{ document.getFacilityDba }}" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label"> Facility NPI:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" placeholder="Facility NPI" name="facility_npi" id="facility_npi" {% if document %}value="{{ document.getNpiNumber }}" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label"> Facility Tax identication number:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" placeholder="Facility Tax identication number" name="tax_id_number" id="tax_id_number" {% if document %} value="{{ document.getTaxIdentification }}" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label"> Facility medicare number:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" placeholder="Facility medicare number" name="facility_medicare" id="facility_medicare" {% if document %} value="{{ document.getMedicareNumber }}" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label"> Facility medicaid number:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" placeholder="Facility medicaid number" name="facility_medicaid" id="facility_medicaid" {% if document %} value="{{ document.getMedicaidNumber }}" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-3 col-form-label"> Credentialing contact:</label>
                                                            <div class="col-lg-9">
                                                                <div class="mb-1">
                                                                    <input type="text" class="form-control" name="contact_name" id="contact_name" placeholder="First name" {% if document %} value="{{ document.getContactName }}" {% endif %}>
                                                                </div>
                                                                <div class="mb-1">
                                                                    <input type="text" class="form-control" name="contact_last_name" id="contact_last_name" placeholder="Last name" {% if document %} value="{{ document.getContactLastName }}" {% endif %}>
                                                                </div>
                                                                <div class="mb-1">
                                                                    <input type="text" class="form-control" name="contact_email" id="contact_email" placeholder="Email" {% if document %} value="{{ document.getContactEmail }}" {% endif %}>
                                                                </div>
                                                                <div class="mb-1">
                                                                    <input type="text" class="form-control" name="contact_phone" id="contact_phone" placeholder="Phone number" {% if document %} value="{{ document.getContactPhoneNumber }}" {% endif %}>
                                                                </div>
                                                                <div class="mb-1">
                                                                    <input type="text" class="form-control" name="contact_fax" id="contact_fax" placeholder="Fax number" {% if document %} value="{{ document.getContactFax }}" {% endif %}>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Facility locations</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="row">
                                                    <div class="col-12"> <label class="col-lg-3 col-form-label">Facility locations</label></div>
                                                    <div class="col-6 col-xs-12">
                                                    </div>
                                                    <div class="col-6 col-xs-12 text-right pr-2">
                                                        <a href="#}" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_form_horizontal"><i class="fas fa-plus"></i> New Facility Location</a>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-12">
                                                        <div class="table-responsive">
                                                            <table class="table datatable-basic">
                                                                <thead>
                                                                <tr>
                                                                    <th width="30%">Street Address</th>
                                                                    <th width="20%">Us State</th>
                                                                    <th width="15%">City</th>
                                                                    <th width="10%">Zip Code</th>
                                                                    <th width="10%">Separate billing address</th>
                                                                    <th class="text-right" width="15%">Actions</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="table-body">
                                                                {% for facilityLocation in facilityLocations %}
                                                                    <tr data-id="{{ facilityLocation.id }}" id="facility_loc_{{ facilityLocation.id }}">
                                                                       <td>{{ facilityLocation.street1 }}</td>
                                                                       <td>{% if facilityLocation.usstate %}{{ facilityLocation.usstate.name }} {% endif %}</td>
                                                                       <td>{{ facilityLocation.city }}</td>
                                                                       <td>{{ facilityLocation.zipcode }}</td>
                                                                       <td>
                                                                           {% if facilityLocation.getIsSeparate %}
                                                                             <i class="fas fa-check text-success ml-2"></i></td>
                                                                           {% else %}
                                                                               <i class="fas fa-times text-danger ml-2"></i>
                                                                           {% endif %}
                                                                       </td>
                                                                       <td class="text-right">
                                                                           <a href="#" data-toggle="modal" data-target="#modal_view" class="btn btn-sm btn-outline bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions btm-view-location"><i class="far fa-eye"></i></a>
                                                                           <a href="#" data-toggle="modal" data-target="#modal_edit" class="btn btn-sm btn-outline bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions btm-edit-location"><i class="fas fa-pencil-alt"></i></a>
                                                                           <a href="#" data-id="' + id + '" class="btn btn-sm btn-outline bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete-location"><i class="far fa-trash-alt"></i></a>
                                                                       </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Facility Specialization</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label"> Facility type:</label>
                                                    <div class="col-lg-8">
                                                      <select name="facility_type" id="facility_type" class="form-control select-search" data-fouc>
                                                          <option value="0">- Select one-</option>
                                                          {% for facilityType in facilityTypes %}
                                                              <option value="{{ facilityType.id }}"
                                                              {% if document %}
                                                                      {% if document.getFacilityType %}
                                                                    {% if document.getFacilityType.id==facilityType.id %} selected {% endif %}
                                                                          {% endif %}
                                                              {% endif %}
                                                              >{{ facilityType.name }}</option>
                                                          {% endfor %}
                                                      </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label form-group">Additional services:</label>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            {% for additionalService in additionalServices %}
                                                                <div class="col-4 form-group">
                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                        <input type="checkbox" class="custom-control-input"
                                                                               {% if document %}
                                                                                {% for addS in document.getAdditionalServices %} {% if additionalService.id==addS.id %} checked {% endif %} {% endfor %}
                                                                               {% endif %}
                                                                               name="additional_services" id="additional_services_{{ additionalService.id }}" value="{{ additionalService.id }}">
                                                                        <label class="custom-control-label" for="additional_services_{{ additionalService.id }}">{{ additionalService.name }}</label>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Other additional services:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Other additional services" name="other_additional_service" id="other_additional_service" {% if document %} value="{{ document.getOtherAdditionalService }}" {% endif %}>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Facility Licensure</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Facility owner:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Facility owner" name="facility_owner" id="facility_owner" {% if document %} value="{{ document.getFacilityOwner }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Legal type:</label>
                                                    <div class="col-lg-8">
                                                        <select class="form-control select"  name="legal_type" id="legal_type" data-fouc>
                                                            <option value="0">- Select one -</option>
                                                            {% for legalType in legalTypes %}
                                                                <option value="{{ legalType.id }}"
                                                                {% if document %}
                                                                        {% if document.legalType %}
                                                                            {% if document.legalType.id==legalType.id %} selected {% endif %}
                                                                        {% endif %}
                                                                 {% endif %}
                                                                >{{ legalType.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label"> Is the facility licensed by the state?:</label>
                                                    <div class="col-lg-9 mt-1">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="licensed_by_state" value="1" id="licensed_by_state_yes" {% if document %}  {% if document.getLicensedByState %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="licensed_by_state_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="licensed_by_state" value="0" id="licensed_by_state_no" {% if document %}  {% if document.getLicensedByState==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="licensed_by_state_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row {% if document %} {% if document.getLicensedByState==0 or document.getLicensedByState==false or document==null %} sr-only {% endif %} {% endif %}" id="cont_license_state">
                                                    <label class="col-lg-2 col-form-label">Licensing State:</label>
                                                    <div class="col-lg-8">
                                                            <select class="form-control select-search" name="licensing_us_state" id="licensing_us_state" data-fouc>
                                                                <option value="0">- Select one -</option>
                                                                {% for ustate in ustates %}
                                                                    <option value="{{ ustate.id }}"
                                                                    {% if document %}
                                                                            {% if document.getLicensingState %}
                                                                            {% if document.getLicensingState.id== ustate.id%} selected
                                                                            {% endif %}
                                                                            {% endif %} {% endif %}
                                                                    >{{ ustate.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row {% if document %} {% if document.getLicensedByState==0 or document.getLicensedByState==false or document==null %} sr-only {% endif %} {% endif %}" id="cont_lic_number_state">
                                                    <label class="col-lg-2 col-form-label"> License number:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="License number" name="state_license_number" id="state_license_number" {% if document %} value="{{ document.getStateLicenseNumber }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row  {% if document %}{% if document.getLicensedByState==0 or document.getLicensedByState==false or document==null %} sr-only {% endif %} {% endif %}" id="lic_exp_date_state">
                                                    <label class="col-lg-2 col-form-label">License expiration date:</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="License expiration date" name="state_license_expiration_date" id="state_license_expiration_date" {% if document %} value="{{ document.getStateLicenseExpirationDate }}" {% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>											                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Is the facility licensed by the city/county?:</label>
                                                    <div class="col-lg-9">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="licensed_by_city_county" value="1" id="licensed_by_city_county_yes" {% if document %}  {% if document.getLicenseByCity %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="licensed_by_city_county_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="licensed_by_city_county" value="0" id="licensed_by_city_county_no" {% if document %}  {% if document.getLicenseByCity==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="licensed_by_city_county_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row {% if document %} {% if document.getLicenseByCity==0 or document.getLicenseByCity==false or document==null %} sr-only {% endif %} {% endif %}" id="cont_licensing_city_county">
                                                    <label class="col-lg-2 col-form-label">Licensing city or county:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Licensing city or county" name="licensing_city_county" id="licensing_city_county" {% if document %} value="{{ document.getLicenseCityCounty }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row {% if document %}{% if document.getLicenseByCity==0 or document.getLicenseByCity==false or document==null %} sr-only {% endif %}{% endif %}" id="cont_licensing_city_county_number">
                                                    <label class="col-lg-2 col-form-label">License number:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="License number" name="licensing_city_county_number" id="licensing_city_county_number" {% if document %} value="{{ document.getCityLicenseNumber }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row {% if document %}{% if document.getLicenseByCity==0 or document.getLicenseByCity==false or document==null %} sr-only {% endif %} {% endif %}" id="cont_license_expiration_city_date">
                                                    <label class="col-lg-2 col-form-label">License expiration date:</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="License expiration date" name="license_expiration_city_date" id="license_expiration_city_date" {% if document %} value="{{ document.getCityLicenseExpirationDate }}" {% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Accreditation</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label"> Is this facility accredited?:</label>
                                                    <div class="col-lg-8">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="facility_accredited" value="1" id="facility_accredited_yes" {% if document %}  {% if document.getIsAccredited %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="facility_accredited_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="facility_accredited" value="0" id="facility_accredited_no" {% if document %}  {% if document.getIsAccredited==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="facility_accredited_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_licensing_city_county">
                                                    <label class="col-lg-2 col-form-label"> Accrediting body:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" name="accrediting_body" id="accrediting_body" {% if document %} value="{{ document.getAccreditationBody }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_license_expiration_city_date">
                                                    <label class="col-lg-2 col-form-label">Date of last accreditation:</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="Date of last accreditation" name="date_last_accreditation" id="date_last_accreditation" {% if document %} value="{{ document.getDateLastAccreditation }}" {% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>											                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_license_expiration_city_date">
                                                    <label class="col-lg-2 col-form-label">Accreditation expiration date:</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="Accreditation expiration date" name="accreditation_expiration_date" id="accreditation_expiration_date" {% if document %} value="{{ document.getAccreditationExpirationDate }}" {% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>										                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label"> Does this facility have a site survey?:</label>
                                                    <div class="col-lg-8">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="facility_site_survey" value="1" id="facility_site_survey_yes" {% if document %}  {% if document.getHaveSiteSurvey %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="facility_site_survey_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="facility_site_survey" value="0" id="facility_site_survey_no" {% if document %}  {% if document.getHaveSiteSurvey==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="facility_site_survey_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_license_expiration_city_date">
                                                    <label class="col-lg-2 col-form-label"> When was the most recent site survey conducted?:</label>
                                                    <div class="col-lg-8 pt-1">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="When was the most recent site survey conducted?" name="site_survey_conducted" id="site_survey_conducted" {% if document %} value="{{ document.getDateRecentSurveyConducted }}"{% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>											                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Have there been any Medicare/Medicaid sanctions in the last 3 years?:</label>
                                                    <div class="col-lg-8 pt-1">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="medicare_medicaid_sanctions" value="1" id="medicatee_medicaid_sanctions_yes" {% if document %}  {% if document.getSactionLast3Year %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="medicatee_medicaid_sanctions_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="medicare_medicaid_sanctions" value="0" id="medicatee_medicaid_sanctions_no" {% if document %}  {% if document.getSactionLast3Year==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="medicatee_medicaid_sanctions_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Please provide more context into the above answer:</label>
                                                    <div class="col-lg-8">
                                                        <textarea rows="5" cols="5" class="form-control" placeholder="Please provide more context into the above answer" name="medicare_medicaid_sanctions_more_context" id="medicare_medicaid_sanctions_more_context">{% if document %}{{ document.getAccreditationMoreContext }}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Liability Insurance</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="form-group row" id="cont_lic_number_state">
                                                    <label class="col-lg-2 col-form-label">Issuing insurance agency:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Issuing insurance agency" name="issuing_insurance_agency" id="issuing_insurance_agency" {% if document %} value="{{ document.getInsuranceAgency }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_lic_number_state">
                                                    <label class="col-lg-2 col-form-label">Policy number:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Policy number" name="policy_number" id="policy_number" {% if document %} value="{{ document.getPolicyNumber }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_lic_number_state">
                                                    <label class="col-lg-2 col-form-label"> Single occurrence amount:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Single occurrence amount" name="single_occurrence_amount" id="single_occurrence_amount" {% if document %} value="{{ document.getSingleOccurrenceAmount }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_lic_number_state">
                                                    <label class="col-lg-2 col-form-label"> Aggregate amount:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" placeholder="Aggregate amount" name="aggregate_amount" id="aggregate_amount" {% if document %} value="{{ document.getAggredateAmount }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_license_expiration_city_date">
                                                    <label class="col-lg-2 col-form-label"> Issued date:</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="Issued date" name="issued_date" id="issued_date" {% if document %} value="{{ document.getIssuesDate }}" {% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>											                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_license_expiration_city_date">
                                                    <label class="col-lg-2 col-form-label"> Expiration date:</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="Expiration date" name="expiration_date" id="expiration_date" {% if document %} value="{{ document.getExpirationDate }}" {% endif %}>
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>											                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <h6>Disclosure Questions</h6>
                                            <fieldset class="cont-step-wizard">
                                                <div class="form-group row" id="cont_license_expiration_city_date">
                                                    <label class="col-12 col-form-label"> Has this facility under any current or former name or business identity ever had any felony or
                                                        misdemeanor convictions under federal or state law related to either of the following: (a)The
                                                        delivery of an item or service under Medicare or a State Health Care Program? (b)The abuse or
                                                        neglect of a patient in connection with the delivery of a health care item or service?:</label>
                                                    <div class="col-12">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="convictions_under_federal" value="1" id="convictions_under_federal_yes" {% if document %}  {% if document.getConvictionsUnderFederal %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="convictions_under_federal_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="convictions_under_federal" value="0" id="convictions_under_federal_no" {% if document %}  {% if document.getConvictionsUnderFederal==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="convictions_under_federal_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_convictions_under_federal">
                                                    <label class="col-12 col-form-label"> Please provide more context into the above answer:</label>
                                                    <div class="col-12">
                                                        <textarea rows="5" cols="5" class="form-control" placeholder="Please provide more context into the above answer" name="context_convictions_under_federal" id="context_convictions_under_federal">{% if document %}{{ document.getContextConvictionsUnderFederal }}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label"> Does your organization have any current state or federal sanctions or limitations?: </label>
                                                    <div class="col-12">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="federal_sanstions_limitations" value="1" id="federal_sanstions_limitations_yes" {% if document %}  {% if document.getFederalSanstionsLimitations %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="federal_sanstions_limitations_yes">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" name="federal_sanstions_limitations" value="0" id="federal_sanstions_limitations_no" {% if document %}  {% if document.getFederalSanstionsLimitations==false %} checked {% endif %} {% endif %}>
                                                            <label class="custom-control-label" for="federal_sanstions_limitations_no">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" id="cont_federal_sanstions_limitations">
                                                    <label class="col-12 col-form-label"> Please provide more context into the above answer:</label>
                                                    <div class="col-12">
                                                        <textarea rows="5" cols="5" class="form-control" placeholder="Please provide more context into the above answer" name="contect_federal_sanstions_limitations" id="contect_federal_sanstions_limitations">{% if document %} {{ document.getContectFederalSanstionsLimitations }} {% endif %}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label"> RELEASE OF INFORMATION/ LIABILITY:</label>
                                                    <div class="col-12">
                                                        <p class="col-form-label">As part of the application process and for the purpose of verifying any information provided on this
                                                            application, I, the undersigned authorized agent of the applicant organization/agency/facility, grant
                                                            CredSimple permission to contact any individual, institution, facility or agency identi ed on, or relative to,
                                                            this application. Further, I hereby consent and authorize to request, receive, and inspect any and all
                                                            records pertinent to consideration of this application.</p>
                                                    </div>
                                                    <label class="col-12 col-form-label"> ATTESTATION</label>
                                                    <div class="col-12">
                                                        <p class="col-form-label">I, the undersigned authorized agent, hereby attest and certify that all statements on this application are
                                                            true to the best of my knowledge. I fully understand that any falsi cation of information or omissions
                                                            from this application may be grounds for denial of this application as a Participating Provider or cause for
                                                            summary dismissal from the plan. I acknowledge that action on this application will be delayed until all
                                                            required information is received and/or veri ed. I understand as an authorized agent for this
                                                            organization/agency/facility, our organization has the right to correct erroneous information and the right
                                                            to review information obtained to evaluate this credentialing application unless disclosure is prohibited by
                                                            law or the information is protected by peer review.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Authorized Agent:</label>
                                                    <div class="col-3">
                                                        <input type="text" class="form-control" placeholder="First Name" name="authorized_agent_first_name" id="authorized_agent_first_name" value="{{ document.getAuthorizedAgentFirstName }}">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" class="form-control" placeholder="Last Name" name="authorized_agent_last_name" id="authorized_agent_last_name" value="{{ document.getAuthorizedAgentLastName }}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Date of Signature:</label>
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="input-group">
									                         <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                         </span>
                                                            <input type="text" class="form-control" placeholder="Date of Signature" name="date_of_signature" id="date_of_signature" value="{{ document.getDateSignature }}">
                                                            <span class="input-group-append">
												            <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>											                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Horizontal form modal -->
    <div id="modal_form_horizontal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Facility Location</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ path('save_facility_location') }}" class="form-horizontal" method="post" id="form_save_facility_location">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3"><span class="text-danger-400">*</span> Street Address</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Street Address" class="form-control" name="street" id="street">
                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_street" style="display: none;">
                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Street Address Line 2</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Street Address Line 2" class="form-control" name="street2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Us State</label>
                            <div class="col-sm-9">
                                <select name="us_state" id="us_state" class="form-control select-search" data-fouc>
                                    <option value="0">- Select One Us State -</option>
                                    {% for ustate in ustates %}
                                        <option value="{{ ustate.id }}">{{ ustate.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">City</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Miami" class="form-control" name="city">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">ZIP code</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="33101" class="form-control" name="zip_code">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Does the facility have a separate billing address?</label>
                            <div class="col-sm-9 mt-1">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="separate_billing_address" value="1" id="separate_billing_address_yes">
                                    <label class="custom-control-label" for="separate_billing_address_yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="separate_billing_address" value="0" id="separate_billing_address_no">
                                    <label class="custom-control-label" for="separate_billing_address_no">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-info bnt_send_location"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /horizontal form modal -->

    <!-- View Modal -->
    <div id="modal_view" class="modal fade" tabindex="-1">
        <input type="hidden" value="{{ path('view_ajax_facility_location') }}" name="url_view_location" id="url_view_location"/>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> View Facility Location</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Street Address</label>
                            <div class="col-sm-9">
                                <div id="view_address"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Street Address Line 2</label>
                            <div class="col-sm-9">
                                <div id="view_address2"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Us State</label>
                            <div class="col-sm-9">
                                <div id="view_us_state"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">City</label>
                            <div class="col-sm-9">
                                <div id="view_city"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">ZIP code</label>
                            <div class="col-sm-9">
                                <div id="view_zip_code"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Does the facility have a separate billing address?</label>
                            <div class="col-sm-9 mt-1">
                                <div id="view_separate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
            </div>
        </div>
    </div>
    <!-- /View modal -->
    <!-- Horizontal form modal -->
    <div id="modal_edit" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Facility Location</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ path('update_facility_location') }}" class="form-horizontal" method="post" id="form_edit_facility_location">
                    <input type="hidden" name="id" id="id_edit" value="" />
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3"><span class="text-danger-400">*</span> Street Address</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Street Address" class="form-control" name="street" id="street_edit">
                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_street" style="display: none;">
                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Street Address Line 2</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Street Address Line 2" class="form-control" name="street2" id="street2_edit">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Us State</label>
                            <div class="col-sm-9">
                                <select name="us_state" id="us_state_edit" class="form-control select-search" data-fouc>
                                    <option value="0">- Select One Us State -</option>
                                    {% for ustate in ustates %}
                                        <option value="{{ ustate.id }}">{{ ustate.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">City</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Miami" class="form-control" name="city" id="city_edit">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">ZIP code</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="33101" class="form-control" name="zip_code" id="zip_code_edit">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Does the facility have a separate billing address?</label>
                            <div class="col-sm-9 mt-1">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="separate_billing_address" value="1" id="separate_billing_address_edit_yes">
                                    <label class="custom-control-label" for="separate_billing_address_yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="separate_billing_address" value="0" id="separate_billing_address_edit_no">
                                    <label class="custom-control-label" for="separate_billing_address_no">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-info bnt_edit_location"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /horizontal form modal -->
    <form action="{{ path('provider_delete_facility_location') }}" method="post" id="form_delete_location"></form>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/facility_app/delete.js') }}"></script>
     <script src="{{ asset('js/facility_app/wizard.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link_provider_facility_app').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })


             $('.btm-edit-location').click(function(){
                 var id=$(this).parent('td').parent('tr').data('id')
                 var url=$('#url_view_location').val()
                 var data={ id: id}
                 $('#id_edit').val(id)

                 $.post(url, data, function (result) {
                     var facilityLocationResult=result.facilityLocationResult

                     $('#street_edit').val(facilityLocationResult['street'])
                     $('#street2_edit').val(facilityLocationResult['street2'])
                     var usstateid=facilityLocationResult['us_state_id']
                     $('#us_state_edit option[value='+usstateid+']').prop('selected', 'selected').change()
                     $('#city_edit').val(facilityLocationResult['city'])
                     $('#zip_code_edit').val(facilityLocationResult['zip_code'])

                     if(facilityLocationResult['separate']==1){
                         $('#separate_billing_address_edit_yes').prop('checked',true)
                         $('#separate_billing_address_edit_no').prop('checked',false)
                     }else{
                         $('#separate_billing_address_edit_yes').prop('checked',false)
                         $('#separate_billing_address_edit_no').prop('checked',true)
                     }
                 })

             })

             $('.btm-view-location').click(function(){
                var id=$(this).parent('td').parent('tr').data('id')
                var url=$('#url_view_location').val()

                 var data={ id: id}

                 $.post(url, data, function (result) {
                     var facilityLocationResult=result.facilityLocationResult

                     $('#view_address').html(facilityLocationResult['street'])
                     $('#view_address2').html(facilityLocationResult['street2'])
                     $('#view_us_state').html(facilityLocationResult['us_state'])
                     $('#view_city').html(facilityLocationResult['city'])
                     $('#view_zip_code').html(facilityLocationResult['zip_code'])

                     if(facilityLocationResult['separate']==1){
                         $('#view_separate').html('<i class="fas fa-check text-success ml-2"></i>')
                     }else{
                         $('#view_separate').html('<i class="fas fa-times text-danger ml-2"></i>')
                     }
                 })

             })

             $('#separate_billing_address_yes').click(function(){
                 var cont=$('#cont_separate_billing_address')
                 cont.removeClass('sr-only')
             })

             $('#separate_billing_address_no').click(function(){
                 var cont=$('#cont_separate_billing_address')
                 cont.addClass('sr-only')
             })

             // Numeric date
             $('#license_expiration_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })
             $('#license_expiration_city_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#date_last_accreditation').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#accreditation_expiration_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#site_survey_conducted').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#date_of_signature').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#licensed_by_state_yes').click(function () {
                 $('#cont_license_state').removeClass('sr-only')
                 $('#cont_lic_number_state').removeClass('sr-only')
                 $('#lic_exp_date_state').removeClass('sr-only')
             })

             $('#licensed_by_state_no').click(function () {
                 $('#cont_license_state').addClass('sr-only')
                 $('#cont_lic_number_state').addClass('sr-only')
                 $('#lic_exp_date_state').addClass('sr-only')

                 $('#state_license_number').val('')
                 $('#licensing_us_state option[value=0]').prop('selected', 'selected').change();

             })

             $('#licensed_by_city_county_yes').click(function () {
                 $('#cont_licensing_city_county').removeClass('sr-only')
                 $('#cont_licensing_city_county_number').removeClass('sr-only')
                 $('#cont_license_expiration_city_date').removeClass('sr-only')
             })

             $('#licensed_by_city_county_no').click(function () {
                 $('#cont_licensing_city_county').addClass('sr-only')
                 $('#cont_licensing_city_county_number').addClass('sr-only')
                 $('#cont_license_expiration_city_date').addClass('sr-only')

                 $('#licensing_city_county').val('')
                 $('#licensing_city_county_number').val('')
                 $('#license_expiration_city_date').val('')

             })

             $('.btn-clear-date').click(function(){
                 var comp=$(this).parent().siblings()
                 comp.val('')
             })

             $('.bnt_edit_location').click(function(e){
                 e.preventDefault()
                     var form=$('#form_edit_facility_location')

                     var data=form.serialize()
                     var url=form.attr('action')

                     $.post(url, data, function (result) {
                     })

                 $('#modal_edit').modal('hide')
             })

             $('.bnt_send_location').click(function(e){
                 e.preventDefault()

                 if(validateLocation()){
                     var form=$('#form_save_facility_location')

                     var data=form.serialize()
                     var url=form.attr('action')
                     var tablebody=$('#table-body')

                     $.post(url, data, function (result) {
                         var inserted=result.inserted
                         var id =result.id
                         var facilityApp=result.facilityApp

                         if(inserted==true){
                             var newtr='<tr data-id="'+id+'">'
                                 newtr+='<td>'+facilityApp['street']+'</td>'
                                 newtr+='<td>'+facilityApp['us_state']+'</td>'
                                 newtr+='<td>'+facilityApp['city']+'</td>'
                                 newtr+='<td>'+facilityApp['city']+'</td>'

                             if(facilityApp['separate']==1){
                                 newtr+='<td><i class="fas fa-check text-success ml-2"></i></td>'
                             }else{
                                 newtr+='<td><i class="fas fa-times text-danger ml-2"></i></td>'
                             }
                             newtr+='<td class="text-right">' +
                                 '<a href="#" data-toggle="modal" data-target="#modal_view" class="btn btn-sm btn-outline bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions btm-view-location"><i class="far fa-eye"></i></a>\n' +
                                 '<a href="#" data-toggle="modal" data-target="#modal_edit" class="btn btn-sm btn-outline bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions btm-edit-location"><i class="fas fa-pencil-alt"></i></a>\n' +
                                 '<a href="#" data-id="\' + id + \'" class="btn btn-sm btn-outline bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete-location"><i class="far fa-trash-alt"></i></a>' +
                                 '</td>'
                             newtr+='</tr>'

                             tablebody.append(newtr)

                             $('#modal_form_horizontal').modal('hide')

                         }
                     })

                 }
             })

             function validateLocation(){
                 var send=true

                 var street=$('#street')
                 var error_street=$('#error_street')

                 if(street.val()==""){
                     error_street.fadeIn(400)
                     send=false
                 }else{
                     error_street.fadeOut(400)
                 }

                 return send
             }
         });


         // Setup module
         // ------------------------------

         var DatatableBasic = function() {
             // Basic Datatable examples
             var _componentDatatableBasic = function() {
                 if (!$().DataTable) {
                     console.warn('Warning - datatables.min.js is not loaded.');
                     return;
                 }

                 // Setting datatable defaults
                 $.extend( $.fn.dataTable.defaults, {
                     autoWidth: false,
                     columnDefs: [{
                         orderable: false,
                         width: 100,
                         targets: [ 5 ]
                     }],
                     dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
                     language: {
                         search: '<span>Filter:</span> _INPUT_',
                         searchPlaceholder: 'Type to filter...',
                         lengthMenu: '<span>Show:</span> _MENU_',
                         paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                     }
                 });

                 // Basic datatable
                 $('.datatable-basic').DataTable();

                 // Alternative pagination
                 $('.datatable-pagination').DataTable({
                     pagingType: "simple",
                     language: {
                         paginate: {'next': $('html').attr('dir') == 'rtl' ? 'Next &larr;' : 'Next &rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr; Prev' : '&larr; Prev'}
                     }
                 });

                 // Datatable with saving state
                 $('.datatable-save-state').DataTable({
                     stateSave: true
                 });

                 // Scrollable datatable
                 var table = $('.datatable-scroll-y').DataTable({
                     autoWidth: true,
                     scrollY: 300
                 });

                 // Resize scrollable table when sidebar width changes
                 $('.sidebar-control').on('click', function() {
                     table.columns.adjust().draw();
                 });
             };

             // Select2 for length menu styling
             var _componentSelect2 = function() {
                 if (!$().select2) {
                     console.warn('Warning - select2.min.js is not loaded.');
                     return;
                 }

                 // Initialize
                 $('.dataTables_length select').select2({
                     minimumResultsForSearch: Infinity,
                     dropdownAutoWidth: true,
                     width: 'auto'
                 });
             };

             return {
                 init: function() {
                     _componentDatatableBasic();
                     _componentSelect2();
                 }
             }
         }();

         document.addEventListener('DOMContentLoaded', function() {
             DatatableBasic.init();
         });
     </script>
 {% endblock %}
