{% extends 'base_pdf.html.twig' %}
{% block body %}
    <h2 style="margin-bottom: 0px!important;font-size: 20px;">Facility Credentialing Application</h2>
    <p style="font-size: 15px;">This form is to be filled out completely with the most up-to-date information pertaining to the facility.</p>
    <h2 style="margin-bottom: 0px;font-size: 20px;">Facility Profile Information</h2>
    <p>General details about the health care delivery organization.</p>

    <h4 style="font-size: 16px;"><strong>Facility Name: </strong> {{ fApp.name }}</h4>
    <h4 style="font-size: 16px;"><strong>Facility DBA (Alternative Name): </strong> {{ fApp.getFacilityDba }}</h4>
    <h4 style="font-size: 16px;"><strong>Facility NPI: </strong> {{ fApp.getNpiNumber }}</h4>
    <h4 style="font-size: 16px;"><strong>Facility Tax Identification Number: </strong> {{ fApp.getTaxIdentification }}</h4>
    <h4 style="font-size: 16px;"><strong>Facility Medicare Number: </strong> {{ fApp.getMedicareNumber }}</h4>
    <h4 style="font-size: 16px;"><strong>Facility Medicaid Numbe: </strong> {{ fApp.getMedicaidNumber }}</h4>
{% endblock %}