{% if cont_address>0 %}
<li class="nav-item">
    <a href="{{ path('provider_new_facility_app') }}" class="nav-link" id="link_provider_facility_app">
        <i class="fas fa-user-md"></i>
        <span>Facility Credentialing App</span>
    </a>
</li>
{% endif %}