{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Organizations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Organization List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some Group NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">

                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12 text-right">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control" style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('#link-group-contract').addClass('nav-item-expanded')
            $('#link-group-contract').addClass('nav-item-open')
            $('#link-menu-organization-contract-list').addClass('active')


            $('.select-search').select2()
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

        });

        var columnDefs = [
            {headerName: "ID", field: "id1",checkboxSelection: true,filter: false,maxWidth: 100,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Name", field: "name",sortable: true ,unSortIcon: true,minWidth: 250},
            {headerName: "DBA Name", field: "dba_name",sortable: true ,unSortIcon: true,minWidth: 250,hide:true},
            {headerName: "Organization Type", field: "type",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Group NPI", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Org Classification", field: "org_classification",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Is facility?", field: "isfacility",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Created On", field: "created_on",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false,comparator: dateComparator},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:160,minWidth:160,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];
        
        {% for organization in organizations %}

        var obj={
            id:"{{ organization.id }}",
            id1:"{{ organization.id }}",
            name: "{{ organization.name }}",
            dba_name: "{{ organization.bda_name }}",
            type: "{{ organization.provider_type }}",
            npi: "{{ organization.group_npi }}",
            taxonomy_specialty: "{{ organization.taxonomies_specialty }}",
            isfacility: "{{ organization.is_facility }}",
            status: "{{ organization.status }}",
            created_on: "{{ organization.created_on|date('m/d/Y') }}",
            org_classification: "{{ organization.org_clasification }}"
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            floatingFilter: true,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                });
            }else{
                var option=$('#batch-options').val()
                if(option==0){


                }
            }
        }

        $('.btn-send-email').click(function(e){
            e.preventDefault()

            var url=$('#form_send_email').attr('action')

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var template=$('#email_template').val()
            var datetosend=$('#datetosend').val()

            var data={
                'ids':rows,
                'template': template,
                'datetosend': datetosend,
            }
            var loader=$('.icon-spinner9')
            loader.removeClass('sr-only')

            console.log(data)
            $.post(url, data, function (result) {

                loader.addClass('sr-only')
                $('#modal_send_email').modal('hide')
            })
        })

        function dateComparator(date1, date2) {
            var date1Number = monthToComparableNumber(date1);
            var date2Number = monthToComparableNumber(date2);

            if (date1Number === null && date2Number === null) {
                return 0;
            }
            if (date1Number === null) {
                return -1;
            }
            if (date2Number === null) {
                return 1;
            }

            return date1Number - date2Number;
        }

        // eg 29/08/2004 gets converted to 20040829
        function monthToComparableNumber(date) {
            if (date === undefined || date === null || date.length !== 10) {
                return null;
            }

            var yearNumber = date.substring(6, 10);
            var dayNumber = date.substring(3, 5);
            var monthNumber = date.substring(0, 2);

            var result = yearNumber * 10000 + monthNumber * 100 + dayNumber;
            return result;
        }

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_organization") }}'+"/"+id


            return '<a href="'+url_view+'" class="btn btn-sm  bg-info text-info-800 btn-icon ml-1 btn-actions"><i class="far fa-eye"></i></a>'+
                '<a href="" class="btn btn-sm  bg-success-300 text-success-300 btn-icon ml-1 btn-actions"><i class="fas fa-check"></i></a>'+
                '<a href="" class="btn btn-sm  bg-success-800 text-success-800 btn-icon ml-1 btn-actions"><i class="fas fa-check-double"></i></a>';
        }

        $('#myGrid').on('click','.btn-disable',function(e){
            var id=$(this).data('id')
            $('#id_organization').val(id)
        })

        function viewDataAction(params){
            var id =params.data.id
            var url_view = '{{ path("admin_view_organization") }}'+"/"+id

            window.location.href = url_view;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);
            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        $('.btn-save-disabled').click(function(e){
            e.preventDefault()

            var url=$('#form_disabled_org').attr('action')
            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var send=true
            var termination_reason=$('#termination_reason').val()
            var error_termination_reason=$('#error_termination_reason')

            var termination_reason_notes=$('#termination_reason_notes')

            var data={
                'ids': rows,
                'termination_reason': termination_reason,
                'termination_reason_notes': termination_reason_notes.val()
            }

            if(termination_reason==0){
                send=false
                error_termination_reason.removeClass('sr-only')
            }else{
                error_termination_reason.addClass('sr-only')
            }

            if(send){
                $.post(url, data, function (result) {
                    $('#modal_disabled').modal('hide')
                    var selectedData = gridOptions.api.getSelectedRows()
                    var res = gridOptions.api.updateRowData({update: selectedData})
                })
            }
        })

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        $('.btn-save-exclude-payer').click(function(e){
            e.preventDefault()

            var payer_val=$('#payer_exclude').val()
            var send=true;
            var error_select_payer=$('#error_select_payer_exclude')

            if(payer_val==0){
                send=false;
                error_select_payer.removeClass('sr-only')
            }else{
                error_select_payer.addClass('sr-only')
            }

            var mask_top=$('#mask-top')

            if(send){
                mask_top.removeClass('sr-only')

                var url=$('#form_exclude_payer').attr('action')
                var rowsSelected=gridOptions.api.getSelectedRows();
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids': rows,
                    'payer': payer_val
                }

                $.post(url, data, function (result) {
                    mask_top.addClass('sr-only')
                    $('#modal_exclude_payer').modal('hide')
                    console.log(result.id)
                })
            }
        })
    </script>

{% endblock %}
