{{ form_start(form,{'attr':{'class':'form-delete','id':id|default('form_delete_address')}})}}
{{ form_widget(form) }}
{% if width_submit is not defined or width_submit==true %}
{% endif %}
{{ form_end(form) }}