{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Company - General Information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Company - General Information</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('company_save_info') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Company Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name"  {% if company %}value="{{ company.name }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">TIN Number:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="tin_number" id="tin_number"  {% if company %}value="{{ company.getTinNumber }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">NPI Number:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="npi_number" id="npi_number"  {% if company %}value="{{ company.getNpiNumber }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Address:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="address" id="address"  {% if company %}value="{{ company.getAddress }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="email" id="email"  {% if company %}value="{{ company.getEmail }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone 1:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone1" id="phone1"  {% if company %}value="{{ company.getPhone1 }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone 2:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone2" id="phone2"  {% if company %}value="{{ company.getPhone2 }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="fax" id="fax"  {% if company %}value="{{ company.getFaxNumber }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Web:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="web" id="web"  {% if company %}value="{{ company.web }}" {% endif %}>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/cvo/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 1500)

            $('#link-group-configuration').addClass('nav-item-expanded')
            $('#link-group-configuration').addClass('nav-item-open')
            $('#link-group-company-conf').addClass('nav-item-expanded')
            $('#link-group-company-conf').addClass('nav-item-open')
            $('#link-admin-company-info').addClass('active')

        });

        $('.bnt-send').click(function(e){

            e.preventDefault()
            $('#form').submit()
        })
    </script>

{% endblock %}
