{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('fcc_survey_ibh_survey_aggregate_list') }}" class="breadcrumb-item">Survey List</a>
                        <span class="breadcrumb-item active">Edit Survey</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Survey</span></h5>
                <div class="header-elements">
                    <a href="{{ path('fcc_survey_ibh_survey_aggregate_list') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Survey List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_survey') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Npi:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="npi" id="npi" value="{{ document.npiNumber }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>  Original Npi:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="original_npi" id="original_npi" value="{{ document.originalNpi }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Organization Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span>  Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="email" id="email" value="{{ document.email }}" readonly>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="{{ path('fcc_survey_ibh_survey_aggregate_list') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-group-tools').addClass('nav-item-expanded')
             $('#link-group-tools').addClass('nav-item-open')
             $('#link-menu-fcc-survey-level-data').addClass('active')


             $('.bnt-send').click(function(e){
                 e.preventDefault()

                 $('#form').submit()
             })

         });
     </script>
 {% endblock %}
