{% extends 'base_blank.html.twig' %}

{% block title %}Hello JoinController!{% endblock %}

{% block body %}
    <style>
        .contenedor-join { margin: 1em auto; max-width: 1800px; width: 95%; font: 18px/1.5 sans-serif;  }
        .title-join{ font-family: 'Raleway', sans-serif;color:#4fbae7; }
        label{ font-size: 15px; font-family: 'Raleway', sans-serif;color:#333;font-weight: 500; }
        .select2-selection--single .select2-selection__rendered{ font-size: 15px; }
        .lbl_error{ font-size: 14px;}
        .border-red,.border-red:focus { border-color: red!important; }
        th{ font-size: 15px; margin-top: 0;padding: 3px 5px!important}
        td{ font-size: 13px; }
        .table td {
            padding: 10px 3px;
        }

        p{
            font-size: 16px;
        }

        .text-label{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <div class="contenedor-join">
        <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="bsn-logo" class="mb-2">
        <div class="card">
            <div class="card-header">
                <h1 class="title-join text-left"> That's it - the survey is complete!</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <p style="text-align: justify">Your answers will be included in the aggregate and forwarded to AHCA.  Your participation is greatly appreciated.</p>
                        <p style="text-align: justify">Thank you!</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">

     </script>
 {% endblock %}
