{% extends 'base_blank.html.twig' %}

{% block title %}Hello JoinController!{% endblock %}

{% block body %}
    <style>
        .contenedor-join { margin: 1em auto; max-width: 1800px; width: 95%; font: 18px/1.5 sans-serif;  }
        .title-join{ font-family: 'Raleway', sans-serif;color:#4fbae7; }
        label{ font-size: 15px; font-family: 'Raleway', sans-serif;color:#333;font-weight: 500; }
        .select2-selection--single .select2-selection__rendered{ font-size: 15px; }
        .lbl_error{ font-size: 14px;}
        .border-red,.border-red:focus { border-color: red!important; }
        th{ font-size: 15px; margin-top: 0;padding: 3px 5px!important}
        td{ font-size: 13px; }
        .table td {
            padding: 10px 3px;
        }

        p{
            font-size: 16px;
        }

        .text-label{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <div class="contenedor-join">
        <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="bsn-logo" class="mb-2">
        <div class="card">
            <div class="card-header">
                <h1 class="title-join text-center">Patient-Centered Integrated Behavioral Health Care Principles & Tasks Checklist Survey Tool </h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10 offset-md-1">
                        <p style="text-align: justify">AHCA and Florida Community Care are committed to the integration and coordination of primary care and behavioral health services for Medicaid recipients.  To meet this commitment, Florida Community Care and the other Medicaid health plans in Florida are collecting information from network providers to establish a baseline regarding to what extent the provider practices are integrating primary care and behavioral health care. </p>
                        <p style="text-align: justify">This checklist asks the provider practice to rate how frequently it applies five principles of care in treating its patients and to rate how many of the patients receive services related to specific areas like Patient Identification and Diagnosis, Engagement in Integrated Care Program, and Evidence-based Treatment. </p>
                        <p style="text-align: justify">The survey tool is two pages.  Start by entering your NPI as indicated in the notification email.</p>
                    </div>
                </div>

                <form action="{{ path('save_fcc_survey') }}" method="post" id="form_save_survey" class="wizard-form steps-validation">
                    <h6>General Information</h6>
                    <fieldset class="cont-step-wizard">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <div class="col-12 form-group">
                                    <label>Group/ Org/ Agency NPI: <span class="text-danger-400">*</span></label>
                                    <div class="form-group-feedback form-group-feedback-right">
                                        <input type="text" class="form-control" name="npi_number" id="npi_number" placeholder="Group/ Org/ Agency NPI" maxlength="10" onkeypress="javascript:return isNumber(event)">
                                        <div class="form-control-feedback text-success sr-only" id="icon_npi_valid">
                                            <i class="icon-checkmark-circle"></i>
                                        </div>
                                        <div class="form-control-feedback text-danger sr-only" id="icon_npi_notvalid">
                                            <i class="icon-cancel-circle2"></i>
                                        </div>
                                        <span class="form-text sr-only" id="msj-npi"></span>
                                        <div id="error_npi_number" class="sr-only">
                                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please fill out this field!</span>
                                        </div>
                                        <div id="error_npi_exist" class="sr-only">
                                            <span class="font-weight-semibold text-danger lbl_error mt-1">A survey was previously submitted and saved with this NPI - no further action is needed.  Thank you.!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <label>Group/ Org/ Provider Name <span class="text-danger-400">*</span></label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Group/ Org/ Provider Name">
                                    <div id="error_name" class="sr-only">
                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please fill out this field!</span>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <label>Email <span class="text-danger-400">*</span></label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                    <div id="error_email" class="sr-only">
                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please fill out this field!</span>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <label>Provider Type: <span class="text-danger-400">*</span></label>
                                    <select name="provider_type" id="provider_type"  class="form-control select"  data-fouc>
                                        <option value="0">- Select -</option>
                                        <option value="1">PCP</option>
                                        <option value="2">Specialty</option>
                                        <option value="3">Other</option>
                                    </select>
                                    <div id="error_provider_type" class="sr-only">
                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please fill out this field!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h6>Principles of Care</h6>
                    <fieldset class="cont-step-wizard">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <h1 class="text-slate-800">Principles of Care</h1>
                                <p><span style="font-weight: bold;" class="text-slate-800">The core principles</span> of effective integrated behavioral health care includes a patient-centered care team providing evidence-based treatments for a defined population of patients using a measurement-based treat-to-target approach. <span class="text-warning">Please select one option for each question.</span></p>
                                <div class="text-right">We apply this principle in the care of our patients</div>
                                <div class="table-responsive" id="table_grid_cred">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th></th>
                                            <th class="text-center" width="10%"><strong>None</strong></th>
                                            <th class="text-center" width="10%"><strong>Some</strong></th>
                                            <th class="text-center" width="10%"><strong>Most/All</strong></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label class="text-primary-800 text-label">1. Patient-Centered Care</label>
                                                    <p class="mb-0">Primary care and behavioral health providers collaborate effectively using shared care plans</p>
                                                    <div id="error_p1" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p1" value="1" id="p1_1">
                                                        <label class="custom-control-label" for="p1_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p1" value="2" id="p1_2">
                                                        <label class="custom-control-label" for="p1_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p1" value="3" id="p1_3">
                                                        <label class="custom-control-label" for="p1_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="text-primary-800 text-label">2. Population-Based Care</label>
                                                    <p class="mb-0">Care team shares a defined group of patients tracked in a registry. Practices track and reach out to patients who are not improving and mental health specialists provide caseload-focused consultation, not just ad-hoc advice.</p>
                                                    <div id="error_p2" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p2" value="1" id="p2_1">
                                                        <label class="custom-control-label" for="p2_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p2" value="2" id="p2_2">
                                                        <label class="custom-control-label" for="p2_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p2" value="3" id="p2_3">
                                                        <label class="custom-control-label" for="p2_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="text-primary-800 text-label">3. Measurement-Based Treatment to Target</label>
                                                    <p class="mb-0">Each patient’s treatment plan clearly articulates personal goals and clinical outcomes that are routinely measured. Treatments are adjusted if patients are not improving as expected.</p>
                                                    <div id="error_p3" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p3" value="1" id="p3_1">
                                                        <label class="custom-control-label" for="p3_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p3" value="2" id="p3_2">
                                                        <label class="custom-control-label" for="p3_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p3" value="3" id="p3_3">
                                                        <label class="custom-control-label" for="p3_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="text-primary-800 text-label">4. Evidence-Based Care</label>
                                                    <p class="mb-0">Patients are offered treatments for which there is credible research evidence to support their efficacy in treating the target condition.</p>
                                                    <div id="error_p4" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p4" value="1" id="p4_1">
                                                        <label class="custom-control-label" for="p4_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p4" value="2" id="p4_2">
                                                        <label class="custom-control-label" for="p4_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p4" value="3" id="p4_3">
                                                        <label class="custom-control-label" for="p4_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="text-primary-800 text-label">5. Accountable Care</label>
                                                    <p class="mb-0">Providers are accountable and reimbursed for quality care and outcomes.</p>
                                                    <div id="error_p5" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p5" value="1" id="p5_1">
                                                        <label class="custom-control-label" for="p5_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p5" value="2" id="p5_2">
                                                        <label class="custom-control-label" for="p5_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="p5" value="3" id="p5_3">
                                                        <label class="custom-control-label" for="p5_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h6>Core Components & Tasks</h6>
                    <fieldset class="cont-step-wizard">
                            <div class="row">
                                <div class="col-12 col-md-10 offset-md-1">
                                    <h1>Core Components & Tasks</h1>
                                    <p>Core components and tasks are shared by effective integrated behavioral health care programs. Can help organizations build clinical workflows that incorporate these core components and tasks into their unique setting. <span class="text-warning">Please select one option for each question.</span></p>
                                    <div class="text-right">of our patients receive this service</div>
                                    <div class="table-responsive" id="table_grid_cred">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <th></th>
                                            <th class="text-center" width="10%"></th>
                                            <th class="text-center" width="10%"></th>
                                            <th class="text-center" width="10%"></th>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">1. Patient Identification and Diagnosis</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Screen for behavioral health problems using valid instruments</p>
                                                    <div id="error_cc1_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_a" value="1" id="cc1_a_1">
                                                        <label class="custom-control-label" for="cc1_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_a" value="2" id="cc1_a_2">
                                                        <label class="custom-control-label" for="cc1_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_a" value="3" id="cc1_a_3">
                                                        <label class="custom-control-label" for="cc1_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Diagnose behavioral health problems and related conditions</p>
                                                    <div id="error_cc1_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_b" value="1" id="cc1_b_1">
                                                        <label class="custom-control-label" for="cc1_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_b" value="2" id="cc1_b_2">
                                                        <label class="custom-control-label" for="cc1_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_b" value="3" id="cc1_b_3">
                                                        <label class="custom-control-label" for="cc1_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Use valid measurement tools to assess and document baseline symptom severity</p>
                                                    <div id="error_cc1_c" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_c" value="1" id="cc1_c_1">
                                                        <label class="custom-control-label" for="cc1_c_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_c" value="2" id="cc1_c_2">
                                                        <label class="custom-control-label" for="cc1_c_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc1_c" value="3" id="cc1_c_3">
                                                        <label class="custom-control-label" for="cc1_c_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">2. Engagement in Integrated Care Program</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Introduce collaborative care team and engage patient in integrated care program</p>
                                                    <div id="error_cc2_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc2_a" value="1" id="cc2_a_1">
                                                        <label class="custom-control-label" for="cc2_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc2_a" value="2" id="cc2_a_2">
                                                        <label class="custom-control-label" for="cc2_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc2_a" value="3" id="cc2_a_3">
                                                        <label class="custom-control-label" for="cc2_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Initiate patient tracking in population-based registry</p>
                                                    <div id="error_cc2_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc2_b" value="1" id="cc2_b_1">
                                                        <label class="custom-control-label" for="cc2_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc2_b" value="2" id="cc2_b_2">
                                                        <label class="custom-control-label" for="cc2_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc2_b" value="3" id="cc2_b_3">
                                                        <label class="custom-control-label" for="cc2_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">3. Evidence-based Treatment</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Develop and regularly update a biopsychosocial treatment plan</p>
                                                    <div id="error_cc3_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_a" value="1" id="cc3_a_1">
                                                        <label class="custom-control-label" for="cc3_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_a" value="2" id="cc3_a_2">
                                                        <label class="custom-control-label" for="cc3_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_a" value="3" id="cc3_a_3">
                                                        <label class="custom-control-label" for="cc3_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide patient and family education about symptoms, treatments, and self-management skills</p>
                                                    <div id="error_cc3_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_b" value="1" id="cc3_b_1">
                                                        <label class="custom-control-label" for="cc3_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_b" value="2" id="cc3_b_2">
                                                        <label class="custom-control-label" for="cc3_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_b" value="3" id="cc3_b_3">
                                                        <label class="custom-control-label" for="cc3_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide evidence-based counseling (e.g., Motivational Interviewing, Behavioral Activation)</p>
                                                    <div id="error_cc3_c" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_c" value="1" id="cc3_c_1">
                                                        <label class="custom-control-label" for="cc3_c_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_c" value="2" id="cc3_c_2">
                                                        <label class="custom-control-label" for="cc3_c_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_c" value="3" id="cc3_c_3">
                                                        <label class="custom-control-label" for="cc3_c_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide evidence-based psychotherapy (e.g., Problem Solving Treatment, Cognitive Behavioral Therapy, Interpersonal Therapy)</p>
                                                    <div id="error_cc3_d" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_d" value="1" id="cc3_d_1">
                                                        <label class="custom-control-label" for="cc3_d_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_d" value="2" id="cc3_d_2">
                                                        <label class="custom-control-label" for="cc3_d_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_d" value="3" id="cc3_d_3">
                                                        <label class="custom-control-label" for="cc3_d_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Prescribe and manage psychotropic medications as clinically indicated</p>
                                                    <div id="error_cc3_e" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_e" value="1" id="cc3_e_1">
                                                        <label class="custom-control-label" for="cc3_e_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_e" value="2" id="cc3_e_2">
                                                        <label class="custom-control-label" for="cc3_e_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_e" value="3" id="cc3_e_3">
                                                        <label class="custom-control-label" for="cc3_e_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Change or adjust treatments if patients do not meet treatment targets</p>
                                                    <div id="error_cc3_f" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_f" value="1" id="cc3_f_1">
                                                        <label class="custom-control-label" for="cc3_f_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_f" value="2" id="cc3_f_2">
                                                        <label class="custom-control-label" for="cc3_f_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc3_f" value="3" id="cc3_f_3">
                                                        <label class="custom-control-label" for="cc3_f_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">4. Systematic Follow-up, Treatment Adjustment, and Relapse Prevention</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Use population-based registry to systematically follow all patients</p>
                                                    <div id="error_cc4_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_a" value="1" id="cc4_a_1">
                                                        <label class="custom-control-label" for="cc4_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_a" value="2" id="cc4_a_2">
                                                        <label class="custom-control-label" for="cc4_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_a" value="3" id="cc4_a_3">
                                                        <label class="custom-control-label" for="cc4_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Proactively reach out to patients who do not follow-up</p>
                                                    <div id="error_cc4_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_b" value="1" id="cc4_b_1">
                                                        <label class="custom-control-label" for="cc4_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_b" value="2" id="cc4_b_2">
                                                        <label class="custom-control-label" for="cc4_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_b" value="3" id="cc4_b_3">
                                                        <label class="custom-control-label" for="cc4_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Monitor treatment response at each contact with valid outcome measures</p>
                                                    <div id="error_cc4_c" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_c" value="1" id="cc4_c_1">
                                                        <label class="custom-control-label" for="cc4_c_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_c" value="2" id="cc4_c_2">
                                                        <label class="custom-control-label" for="cc4_c_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_c" value="3" id="cc4_c_3">
                                                        <label class="custom-control-label" for="cc4_c_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Monitor treatment side effects and complications</p>
                                                    <div id="error_cc4_d" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_d" value="1" id="cc4_d_1">
                                                        <label class="custom-control-label" for="cc4_d_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_d" value="2" id="cc4_d_2">
                                                        <label class="custom-control-label" for="cc4_d_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_d" value="3" id="cc4_d_3">
                                                        <label class="custom-control-label" for="cc4_d_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Identify patients who are not improving to target them for psychiatric consultation and treatment adjustment</p>
                                                    <div id="error_cc4_e" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_e" value="1" id="cc4_e_1">
                                                        <label class="custom-control-label" for="cc4_e_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_e" value="2" id="cc4_e_2">
                                                        <label class="custom-control-label" for="cc4_e_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_e" value="3" id="cc4_e_3">
                                                        <label class="custom-control-label" for="cc4_e_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Create and support relapse prevention plan when patients are substantially improved</p>
                                                    <div id="error_cc4_f" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_f" value="1" id="cc4_f_1">
                                                        <label class="custom-control-label" for="cc4_f_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_f" value="2" id="cc4_f_2">
                                                        <label class="custom-control-label" for="cc4_f_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc4_f" value="3" id="cc4_f_3">
                                                        <label class="custom-control-label" for="cc4_f_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">5. Communication and Care Coordination</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Coordinate and facilitate effective communication among providers</p>
                                                    <div id="error_cc5_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_a" value="1" id="cc5_a_1">
                                                        <label class="custom-control-label" for="cc5_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_a" value="2" id="cc5_a_2">
                                                        <label class="custom-control-label" for="cc5_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_a" value="3" id="cc5_a_3">
                                                        <label class="custom-control-label" for="cc5_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Engage and support family and significant others as clinically appropriate</p>
                                                    <div id="error_cc5_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_b" value="1" id="cc5_b_1">
                                                        <label class="custom-control-label" for="cc5_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_b" value="2" id="cc5_b_2">
                                                        <label class="custom-control-label" for="cc5_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_b" value="3" id="cc5_b_3">
                                                        <label class="custom-control-label" for="cc5_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Facilitate and track referrals to specialty care, social services, and community-based resources</p>
                                                    <div id="error_cc5_c" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_c" value="1" id="cc5_c_1">
                                                        <label class="custom-control-label" for="cc5_c_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_c" value="2" id="cc5_c_2">
                                                        <label class="custom-control-label" for="cc5_c_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc5_c" value="3" id="cc5_c_3">
                                                        <label class="custom-control-label" for="cc5_c_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">6. Systematic Psychiatric Case Review and Consultation</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Conduct regular (e.g., weekly) psychiatric caseload review on patients who are not improving</p>
                                                    <div id="error_cc6_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_a" value="1" id="cc6_a_1">
                                                        <label class="custom-control-label" for="cc6_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_a" value="2" id="cc6_a_2">
                                                        <label class="custom-control-label" for="cc6_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_a" value="3" id="cc6_a_3">
                                                        <label class="custom-control-label" for="cc6_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide specific recommendations for additional diagnostic work-up, treatment changes, or referrals</p>
                                                    <div id="error_cc6_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_b" value="1" id="cc6_b_1">
                                                        <label class="custom-control-label" for="cc6_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_b" value="2" id="cc6_b_2">
                                                        <label class="custom-control-label" for="cc6_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_b" value="3" id="cc6_b_3">
                                                        <label class="custom-control-label" for="cc6_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide psychiatric assessments for challenging patients in-person or via telemedicine</p>
                                                    <div id="error_cc6_c" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_c" value="1" id="cc6_c_1">
                                                        <label class="custom-control-label" for="cc6_c_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_c" value="2" id="cc6_c_2">
                                                        <label class="custom-control-label" for="cc6_c_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc6_c" value="3" id="cc6_c_3">
                                                        <label class="custom-control-label" for="cc6_c_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg-grey-300">
                                                    <label class="text-white text-label mb-0">7. Program Oversight and Quality Improvement</label>
                                                </td>
                                                <td class="text-center bg-grey-300 text-white"><strong>None</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Some</strong></td>
                                                <td class="text-center bg-grey-300 text-white"><strong>Most/All</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide administrative support and supervision for program</p>
                                                    <div id="error_cc7_a" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_a" value="1" id="cc7_a_1">
                                                        <label class="custom-control-label" for="cc7_a_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_a" value="2" id="cc7_a_2">
                                                        <label class="custom-control-label" for="cc7_a_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_a" value="3" id="cc7_a_3">
                                                        <label class="custom-control-label" for="cc7_a_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Provide clinical support and supervision for program</p>
                                                    <div id="error_cc7_b" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_b" value="1" id="cc7_b_1">
                                                        <label class="custom-control-label" for="cc7_b_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_b" value="2" id="cc7_b_2">
                                                        <label class="custom-control-label" for="cc7_b_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_b" value="3" id="cc7_b_3">
                                                        <label class="custom-control-label" for="cc7_b_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-0">Routinely examine provider- and program-level outcomes (e.g., clinical outcomes, quality of care, patient satisfaction) and use this information for quality improvement</p>
                                                    <div id="error_cc7_c" class="sr-only">
                                                        <span class="font-weight-semibold text-danger lbl_error mt-1">Please select one option!</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_c" value="1" id="cc7_c_1">
                                                        <label class="custom-control-label" for="cc7_c_1"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_c" value="2" id="cc7_c_2">
                                                        <label class="custom-control-label" for="cc7_c_2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="cc7_c" value="3" id="cc7_c_3">
                                                        <label class="custom-control-label" for="cc7_c_3"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div id="modal_final" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title">Thank you! Your submission has been received.</h5>
                </div>
                <div class="modal-body">
                    <p>Thank you for your interest in BSN!  Our contracting team will review your submission and will notify you via e-mail about our decision.  Due to a large number of requests this may take some time – we appreciate your patience.</p>
                    <p>Please note that submission does not guarantee acceptance.  In some areas the panel may be closed.  However,  requests will be stored and retrieved first when the panel reopens.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-save-all">Close</a>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('join_check_npi') }}" method="post" id="form_check_npi_info"></form>
    <form action="{{ path('survey_check_npi_exist') }}" method="post" id="form_check_npi_exist"></form>
    <div id="modal_warning" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> Missing Answers</h5>
                </div>
                <div class="modal-body">
                    <p>Please select one option for ech question!</p>
                </div>
                <div class="modal-footer">
                    <a href="" data-dismiss="modal" class="btn btn-primary">Accept</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/survey/wizard.js') }}"></script>
     <script type="text/javascript">
         let code_2=""
         function isNumber(evt) {
             var iKeyCode = (evt.which) ? evt.which : evt.keyCode
             if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                 return false;
             return true;
         }

         $(document).ready(function(){
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.btn-refresh').click(function(e){
                 e.preventDefault()
             })

             $('#npi_number').keyup(function(){
                 var npi=$(this).val()
                 var npi_number=$('#npi_number')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }
                     var url=$('#form_check_npi_info').attr('action')

                     $.post(url, data, function (result) {
                         var check=0
                         var jsonObj = $.parseJSON(result.json_result);

                         var resultsObj=jsonObj.results
                         if(jsonObj.Errors || jsonObj.result_count==0){
                             check=1
                         }

                         if(check==0) {
                             $('#nppes_data').val(result.json_result)
                             $('#cont_chek_info').removeClass('sr-only')
                             npi_number.addClass('border-success')
                             npi_number.removeClass('border-danger')
                             icon_npi_valid.removeClass('sr-only')
                             icon_npi_notvalid.addClass('sr-only')

                             $.each(resultsObj, function( index, objNPI ) {
                                 var name=objNPI.basic.organization_name
                                 $('#name').val(name)
                                 $('#npi_nppes').html(objNPI.number)
                                 $('#name_nppes').html(objNPI.basic.name)

                                 var npi_type="Individual"

                                 if(objNPI.enumeration_type=="NPI-2"){
                                     npi_type="Organization"
                                 }
                                 $('#npi_type').html(npi_type)

                             })
                         }else{
                             npi_number.removeClass('border-success')
                             npi_number.addClass('border-danger')

                             icon_npi_valid.addClass('sr-only')
                             icon_npi_notvalid.removeClass('sr-only')
                         }
                     })
                 }
             })
         })

     </script>
 {% endblock %}
