{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Provider Level Data</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider Level Data</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12 text-right pr-2">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/organization/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000);

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('#link-group-tools').addClass('nav-item-expanded')
            $('#link-group-tools').addClass('nav-item-open')
            $('#link-menu-fcc-survey-level-data').addClass('active')
        });

        // specify the columns
        var columnDefs = [
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,minWidth:85,maxWidth:85,
                cellClass: 'col-Actions2'
            },
            {headerName: "Original NPI", field: "original_npi",sortable: true, unSortIcon: true,hide:false,maxWidth: 130,minWidth:130},
            {headerName: "NPI", field: "npi",sortable: true, unSortIcon: true,hide:false,maxWidth: 100,minWidth:100},
            {headerName: "Org name", field: "name",sortable: true, unSortIcon: true,hide:false,maxWidth: 250,minWidth:250},
            {headerName: "Email", field: "email",sortable: true, unSortIcon: true,hide:false,maxWidth: 250,minWidth:250},
            {headerName: "PT", field: "provider_type",sortable: true, unSortIcon: true,hide:true},
            {headerName: "P1", field: "p1",sortable: true, unSortIcon: true,maxWidth: 75,minWidth:75},
            {headerName: "P2", field: "p2",sortable: true, unSortIcon: true,maxWidth: 75,minWidth:75},
            {headerName: "P3", field: "p3",sortable: true, unSortIcon: true,maxWidth: 75,minWidth:75},
            {headerName: "P4", field: "p4",sortable: true, unSortIcon: true,maxWidth: 75,minWidth:75},
            {headerName: "P5", field: "p5",sortable: true, unSortIcon: true,maxWidth: 75,minWidth:75},
            {headerName: "CC1a", field: "cc1a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC1b", field: "cc1b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC1c", field: "cc1c",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC2a", field: "cc2a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC2b", field: "cc2b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC3a", field: "cc3a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC3b", field: "cc3b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC3c", field: "cc3c",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC3d", field: "cc3d",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC3e", field: "cc3e",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC3f", field: "cc3f",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC4a", field: "cc4a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC4b", field: "cc4b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC4c", field: "cc4c",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC4d", field: "cc4d",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC4e", field: "cc4e",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC4f", field: "cc4f",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC5a", field: "cc5a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC5b", field: "cc5b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC5c", field: "cc5c",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC6a", field: "cc6a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC6b", field: "cc6b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC6c", field: "cc6c",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC7a", field: "cc7a",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC7b", field: "cc7b",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},
            {headerName: "CC7c", field: "cc7c",sortable: true, unSortIcon: true,maxWidth: 90,minWidth:90},

        ];

        var rowData = [

        ];

        {% for fcc_survey in fcc_surveys %}

        var obj={
            id: "{{ fcc_survey.id }}",
            npi: "{{ fcc_survey.npiNumber }}",
            original_npi: "{{ fcc_survey.originalNpi }}",
            name: "{{ fcc_survey.name }}",
            email: "{{ fcc_survey.email }}",
            p1: "{{ fcc_survey.p1 }}",
            p2: "{{ fcc_survey.p2 }}",
            p3: "{{ fcc_survey.p3 }}",
            p4: "{{ fcc_survey.p4 }}",
            p5: "{{ fcc_survey.p5 }}",
            cc1a: "{{ fcc_survey.cc1a }}",
            cc1b: "{{ fcc_survey.cc1b }}",
            cc1c: "{{ fcc_survey.cc1c }}",
            cc2a: "{{ fcc_survey.cc2a }}",
            cc2b: "{{ fcc_survey.cc2b }}",
            cc3a: "{{ fcc_survey.cc3a }}",
            cc3b: "{{ fcc_survey.cc3b }}",
            cc3c: "{{ fcc_survey.cc3c }}",
            cc3d: "{{ fcc_survey.cc3d }}",
            cc3e: "{{ fcc_survey.cc3e }}",
            cc3f: "{{ fcc_survey.cc3f }}",
            cc4a: "{{ fcc_survey.cc4a }}",
            cc4b: "{{ fcc_survey.cc4b }}",
            cc4c: "{{ fcc_survey.cc4c }}",
            cc4d: "{{ fcc_survey.cc4d }}",
            cc4e: "{{ fcc_survey.cc4e }}",
            cc4f: "{{ fcc_survey.cc4f }}",
            cc5a: "{{ fcc_survey.cc5a }}",
            cc5b: "{{ fcc_survey.cc5b }}",
            cc5c: "{{ fcc_survey.cc5c }}",
            cc6a: "{{ fcc_survey.cc6a }}",
            cc6b: "{{ fcc_survey.cc6b }}",
            cc6c: "{{ fcc_survey.cc6c }}",
            cc7a: "{{ fcc_survey.cc7a }}",
            cc7b: "{{ fcc_survey.cc7b }}",
            cc7c: "{{ fcc_survey.cc7c }}",
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            floatingFilter: true,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;
            var url_edit = '{{ path("admin_edit_survey") }}'+"/"+id

            return '<a href="'+url_edit+'" class="btn btn-sm btn-outline bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var bQuestion = false;

        window.onbeforeunload = BeforeExit;

        function BeforeExit() {
            var rowsSelected=gridOptions.api.getSelectedRows();
            if(rowsSelected.length>1)
                bQuestion = true;

            if (bQuestion){
                return "¿Exit?";
            }
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
