{% extends 'base_payer.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('payer_dashboard') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">FCC Survey (IBH Survey Aggregate Data)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">FCC Survey (IBH Survey Aggregate Data)</span></h5>
                <div class="header-elements">
                    <a href="{{ path('fcc_survey_ibh_survey_aggregate_data_export') }}" class="btn btn-sm btn-success"><i class="far fa-file-excel"></i> Export</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-primary-800">
                                    <th>Principles of Care </th>
                                    <th class="text-center" width="10%">None</th>
                                    <th class="text-center" width="10%">Some</th>
                                    <th class="text-center" width="10%">Most/All</th>
                                    <th class="text-center" width="10%">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">1. Patient-Centered Care</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Primary care and behavioral health providers collaborate effectively using shared care plans</td>
                                    <td class="text-center">{{ result['p1'][0] }}</td>
                                    <td class="text-center">{{ result['p1'][1] }}</td>
                                    <td class="text-center">{{ result['p1'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['p1_p'][0] }}%</td>
                                    <td class="text-center">{{ result['p1_p'][1] }}%</td>
                                    <td class="text-center">{{ result['p1_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">2. Population-Based Care</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Care team shares a defined group of patients tracked in a registry. Practices track and reach out to patients who are not improving and mental health specialists provide caseload-focused consultation, not just ad-hoc advice.</td>
                                    <td class="text-center">{{ result['p2'][0] }}</td>
                                    <td class="text-center">{{ result['p2'][1] }}</td>
                                    <td class="text-center">{{ result['p2'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['p2_p'][0] }}%</td>
                                    <td class="text-center">{{ result['p2_p'][1] }}%</td>
                                    <td class="text-center">{{ result['p2_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">3. Measurement-Based Treatment to Target</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Each patient’s treatment plan clearly articulates personal goals and clinical outcomes that are routinely measured. Treatments are adjusted if patients are not improving as expected.</td>
                                    <td class="text-center">{{ result['p3'][0] }}</td>
                                    <td class="text-center">{{ result['p3'][1] }}</td>
                                    <td class="text-center">{{ result['p3'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['p3_p'][0] }}%</td>
                                    <td class="text-center">{{ result['p3_p'][1] }}%</td>
                                    <td class="text-center">{{ result['p3_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">4. Evidence-Based Care</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Patients are offered treatments for which there is credible research evidence to support their efficacy in treating the target condition.</td>
                                    <td class="text-center">{{ result['p4'][0] }}</td>
                                    <td class="text-center">{{ result['p4'][1] }}</td>
                                    <td class="text-center">{{ result['p4'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['p4_p'][0] }}%</td>
                                    <td class="text-center">{{ result['p4_p'][1] }}%</td>
                                    <td class="text-center">{{ result['p4_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">5. Accountable Care</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Providers are accountable and reimbursed for quality care and outcomes.</td>
                                    <td class="text-center">{{ result['p5'][0] }}</td>
                                    <td class="text-center">{{ result['p5'][1] }}</td>
                                    <td class="text-center">{{ result['p5'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['p5_p'][0] }}%</td>
                                    <td class="text-center">{{ result['p5_p'][1] }}%</td>
                                    <td class="text-center">{{ result['p5_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr class="bg-success-800">
                                    <th>Core Components (CC) & Tasks</th>
                                    <th class="text-center" width="10%">None</th>
                                    <th class="text-center" width="10%">Some</th>
                                    <th class="text-center" width="10%">Most/All</th>
                                    <th class="text-center" width="10%">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Patient Identification and Diagnosis</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Screen for behavioral health problems using valid instruments</td>
                                    <td class="text-center">{{ result['cc1a'][0] }}</td>
                                    <td class="text-center">{{ result['cc1a'][1] }}</td>
                                    <td class="text-center">{{ result['cc1a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc1a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc1a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc1a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Diagnose behavioral health problems and related conditions</td>
                                    <td class="text-center">{{ result['cc1b'][0] }}</td>
                                    <td class="text-center">{{ result['cc1b'][1] }}</td>
                                    <td class="text-center">{{ result['cc1b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc1b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc1b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc1b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Use valid measurement tools to assess and document baseline symptom severity</td>
                                    <td class="text-center">{{ result['cc1c'][0] }}</td>
                                    <td class="text-center">{{ result['cc1c'][1] }}</td>
                                    <td class="text-center">{{ result['cc1c'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc1c_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc1c_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc1c_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Engagement in Integrated Care Program</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Introduce collaborative care team and engage patient in integrated care program</td>
                                    <td class="text-center">{{ result['cc2a'][0] }}</td>
                                    <td class="text-center">{{ result['cc2a'][1] }}</td>
                                    <td class="text-center">{{ result['cc2a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc2a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc2a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc2a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Initiate patient tracking in population-based registry</td>
                                    <td class="text-center">{{ result['cc2b'][0] }}</td>
                                    <td class="text-center">{{ result['cc2b'][1] }}</td>
                                    <td class="text-center">{{ result['cc2b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc2b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc2b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc2b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Evidence-based Treatment</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Develop and regularly update a biopsychosocial treatment plan</td>
                                    <td class="text-center">{{ result['cc3a'][0] }}</td>
                                    <td class="text-center">{{ result['cc3a'][1] }}</td>
                                    <td class="text-center">{{ result['cc3a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc3a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc3a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc3a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide patient and family education about symptoms, treatments, and self-management skills</td>
                                    <td class="text-center">{{ result['cc3b'][0] }}</td>
                                    <td class="text-center">{{ result['cc3b'][1] }}</td>
                                    <td class="text-center">{{ result['cc3b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc3b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc3b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc3b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide evidence-based counseling (e.g., Motivational Interviewing, Behavioral Activation)</td>
                                    <td class="text-center">{{ result['cc3c'][0] }}</td>
                                    <td class="text-center">{{ result['cc3c'][1] }}</td>
                                    <td class="text-center">{{ result['cc3c'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc3c_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc3c_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc3c_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide evidence-based psychotherapy (e.g., Problem Solving Treatment, Cognitive Behavioral Therapy, Interpersonal Therapy)</td>
                                    <td class="text-center">{{ result['cc3d'][0] }}</td>
                                    <td class="text-center">{{ result['cc3d'][1] }}</td>
                                    <td class="text-center">{{ result['cc3d'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc3d_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc3d_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc3d_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Prescribe and manage psychotropic medications as clinically indicated</td>
                                    <td class="text-center">{{ result['cc3e'][0] }}</td>
                                    <td class="text-center">{{ result['cc3e'][1] }}</td>
                                    <td class="text-center">{{ result['cc3e'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc3e_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc3e_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc3e_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Change or adjust treatments if patients do not meet treatment targets</td>
                                    <td class="text-center">{{ result['cc3f'][0] }}</td>
                                    <td class="text-center">{{ result['cc3f'][1] }}</td>
                                    <td class="text-center">{{ result['cc3f'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc3f_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc3f_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc3f_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Systematic Follow-up, Treatment Adjustment, and Relapse Prevention</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Use population-based registry to systematically follow all patients</td>
                                    <td class="text-center">{{ result['cc4a'][0] }}</td>
                                    <td class="text-center">{{ result['cc4a'][1] }}</td>
                                    <td class="text-center">{{ result['cc4a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc4a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc4a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc4a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Proactively reach out to patients who do not follow-up</td>
                                    <td class="text-center">{{ result['cc4b'][0] }}</td>
                                    <td class="text-center">{{ result['cc4b'][1] }}</td>
                                    <td class="text-center">{{ result['cc4b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc4b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc4b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc4b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Monitor treatment response at each contact with valid outcome measures</td>
                                    <td class="text-center">{{ result['cc4c'][0] }}</td>
                                    <td class="text-center">{{ result['cc4c'][1] }}</td>
                                    <td class="text-center">{{ result['cc4c'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc4c_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc4c_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc4c_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Monitor treatment side effects and complications</td>
                                    <td class="text-center">{{ result['cc4d'][0] }}</td>
                                    <td class="text-center">{{ result['cc4d'][1] }}</td>
                                    <td class="text-center">{{ result['cc4d'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc4d_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc4d_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc4d_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Identify patients who are not improving to target them for psychiatric consultation and treatment adjustment</td>
                                    <td class="text-center">{{ result['cc4e'][0] }}</td>
                                    <td class="text-center">{{ result['cc4e'][1] }}</td>
                                    <td class="text-center">{{ result['cc4e'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc4e_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc4e_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc4e_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Create and support relapse prevention plan when patients are substantially Improved</td>
                                    <td class="text-center">{{ result['cc4f'][0] }}</td>
                                    <td class="text-center">{{ result['cc4f'][1] }}</td>
                                    <td class="text-center">{{ result['cc4f'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc4f_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc4f_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc4f_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Communication and Care Coordination</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Coordinate and facilitate effective communication among providers</td>
                                    <td class="text-center">{{ result['cc5a'][0] }}</td>
                                    <td class="text-center">{{ result['cc5a'][1] }}</td>
                                    <td class="text-center">{{ result['cc5a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc5a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc5a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc5a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Engage and support family and significant others as clinically appropriate</td>
                                    <td class="text-center">{{ result['cc5b'][0] }}</td>
                                    <td class="text-center">{{ result['cc5b'][1] }}</td>
                                    <td class="text-center">{{ result['cc5b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc5b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc5b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc5b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Facilitate and track referrals to specialty care, social services, and community based resources</td>
                                    <td class="text-center">{{ result['cc5c'][0] }}</td>
                                    <td class="text-center">{{ result['cc5c'][1] }}</td>
                                    <td class="text-center">{{ result['cc5c'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc5c_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc5c_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc5c_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Systematic Psychiatric Case Review and Consultation</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Conduct regular (e.g., weekly) psychiatric caseload review on patients who are not improving</td>
                                    <td class="text-center">{{ result['cc6a'][0] }}</td>
                                    <td class="text-center">{{ result['cc6a'][1] }}</td>
                                    <td class="text-center">{{ result['cc6a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc6a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc6a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc6a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide specific recommendations for additional diagnostic work-up, treatment changes, or referrals</td>
                                    <td class="text-center">{{ result['cc6b'][0] }}</td>
                                    <td class="text-center">{{ result['cc6b'][1] }}</td>
                                    <td class="text-center">{{ result['cc6b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc6b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc6b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc6b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide psychiatric assessments for challenging patients in-person or via Telemedicine</td>
                                    <td class="text-center">{{ result['cc6c'][0] }}</td>
                                    <td class="text-center">{{ result['cc6c'][1] }}</td>
                                    <td class="text-center">{{ result['cc6c'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc6c_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc6c_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc6c_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-grey-300">Program Oversight and Quality Improvement</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide administrative support and supervision for program</td>
                                    <td class="text-center">{{ result['cc7a'][0] }}</td>
                                    <td class="text-center">{{ result['cc7a'][1] }}</td>
                                    <td class="text-center">{{ result['cc7a'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc7a_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc7a_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc7a_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Provide clinical support and supervision for program</td>
                                    <td class="text-center">{{ result['cc7b'][0] }}</td>
                                    <td class="text-center">{{ result['cc7b'][1] }}</td>
                                    <td class="text-center">{{ result['cc7b'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc7b_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc7b_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc7b_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Routinely examine provider- and program-level outcomes (e.g., clinical outcomes, quality of care, patient satisfaction) and use this information for quality improvement</td>
                                    <td class="text-center">{{ result['cc7c'][0] }}</td>
                                    <td class="text-center">{{ result['cc7c'][1] }}</td>
                                    <td class="text-center">{{ result['cc7c'][2] }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ result['cc7c_p'][0] }}%</td>
                                    <td class="text-center">{{ result['cc7c_p'][1] }}%</td>
                                    <td class="text-center">{{ result['cc7c_p'][2] }}%</td>
                                    <td class="text-center">100%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link_survey_aggregate_data').addClass('active')
         });
     </script>
 {% endblock %}
