{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Training and Attestation Portal workflow</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Training and Attestation Portal workflows:</span></h5>
            </div>
            <div class="card-body">
                <form action="{{ path('admin_create_attestation') }}" method="post" id="form">
                    <input type="hidden" name="organization" id="organization" value="{{  organization.id }}">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Thank you for visiting your 2021 Provider Training and attestation page.</h4>
                                        <p>If your organization supports Medicare Advantage plans, prescription drug plans and/or Medicaid plans, the Centers for Medicare & Medicaid Services (CMS) and Behavioral Services Network (BSN) require that you, your employees and contractors receive training on fraud, waste and abuse (FWA) at orientation and annually thereafter.</p>
                                        <p>To complete the 2021 FWA training you may go to the CMS site here: <a href="https://www.cms.gov/Outreach-and-Education/MLN/WBT/MedicareFraudandAbuse/FraudandAbuse/story.html" target="_blank">https://www.cms.gov/Outreach-and-Education/MLN/WBT/MedicareFraudandAbuse/FraudandAbuse/story.html</a></p>
                                        <p>All required training materials can be downloaded for distribution in the following links:</p>
                                        <ul>
                                            <li><a href="https://s3.amazonaws.com/bsnnet.com/training-docs/2021-FWA-Training-06182021.pdf" target="_blank" style="font-size: 16px;">2021 FWA Training</a></li>
                                            <li><a href="https://s3.amazonaws.com/bsnnet.com/training-docs/2021-General-Compliance-06182021.pdf" target="_blank" style="font-size: 16px;">2021 General Compliance</a></li>
                                            <li><a href="https://s3.amazonaws.com/bsnnet.com/training-docs/2021-HIPAA-Training.pdf" target="_blank" style="font-size: 16px;">2021 HIPAA Training</a></li>
                                            <li><a href="https://s3.amazonaws.com/bsnnet.com/training-docs/2021-HSWF-Training.pdf" target="_blank" style="font-size: 16px;">2021 HSWF Training</a></li>
                                            {% if is_MMM==true %}
                                                <li><a href="{{ asset('docs/MOC_Training_2021.pdf') }}" target="_blank" style="font-size: 16px;">Model of Care Training 2021</a></li>
                                            {% endif %}
                                        </ul>
                                        <p>BSN requires applicable organizations to submit an attestation to certify the Medicaid training and/or Plan specific training has been conducted this calendar year.</p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-10">
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">
                                                <span class="text-danger-400">*</span> Year of attestation:</label>
                                            <div class="col-6">
                                                <input type="text" class="form-control required" name="year" id="year" value="{{ "now"|date("Y") }}">
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_year">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">
                                                <span class="text-danger-400">*</span> Provider or Organization name:</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control required" name="organization_name" id="organization_name" value="{{ organization.name }}">
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_name">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label"><span class="text-danger-400">*</span> Authorized Representative's Name:</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control required" name="authorized_representative_name" id="authorized_representative_name"
                                                       {% if document %}value="{{ document.RepresentativeName }}" {% endif %}>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_name">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">
                                                <span class="text-danger-400">*</span> Authorized Representative’s Phone Number:</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control required" data-mask="999-999-9999" name="authorized_representative_phone" id="authorized_representative_phone"
                                                       {% if document %}value="{{ document.RepresentativePhone }}" {% endif %}>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_phone">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label"><span class="text-danger-400">*</span> Authorized Representative’s Email:</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control required" name="authorized_representative_email" id="authorized_representative_email"
                                                       {% if document %}value="{{ document.RepresentativeEmail }}" {% endif %}>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_email">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label"><span class="text-danger-400">*</span> Providers:</label>
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <table class="table table-xs table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th width="10%">
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" {% if document %} checked {% endif %} class="custom-control-input" name="all" id="all_provider" value="1">
                                                                    <label class="custom-control-label" for="all_provider">All</label>
                                                                </div>
                                                            </th>
                                                            <th>First Name</th>
                                                            <th>Last Number</th>
                                                            <th>NPI:</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for provider in providers %}
                                                            <tr>
                                                                <td style="">
                                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                                        <input type="checkbox" {% if document %} checked {% endif %} class="custom-control-input" name="provider_sel" id="provider_sel_{{ provider.id }}" value="{{ provider.id }}">
                                                                        <label class="custom-control-label" for="provider_sel_{{ provider.id }}"></label>
                                                                    </div>
                                                                </td>
                                                                <td>{{ provider.firstname }}</td>
                                                                <td>{{ provider.lastname }}</td>
                                                                <td>{{ provider.npinumber }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_providers">
                                                    <span class="font-weight-semibold">Please select all providers</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <p>I hereby certify that as the practitioner or the authorized representative directly or indirectly responsible for all employees, contracted personnel, providers/practitioners, and vendors providing healthcare or administrative services under Medicare Advantage, that the requirements below have been completed accordingly.</p>
                                                <h3 class="text-slate-700">Fraud, Waste and Abuse (FWA) and Conflict of Interest Training</h3>
                                                <p>I have completed the following training for Fraud, Waste and Abuse:</p>
                                                <p style="font-weight: bold" class="text-slate-700">CMS' training at the time of enrollment in original Medicare</p>
                                                {% for training in trainings %}
                                                    {% set c =0 %}
                                                    {% if cmsTrainings %}
                                                        {% for cmsTraining in cmsTrainings %}
                                                            {% if cmsTraining.id==training.id %}
                                                                {% set c=1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" {% if c==1 %}checked{% endif %} name="trainings" id="training_{{ training.id }}" value="{{ training.id }}">
                                                        <label class="custom-control-label" for="training_{{ training.id }}">{{ training.name }}</label>
                                                    </div>
                                                {% endfor %}
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_cms_training">
                                                    <span class="font-weight-semibold">Please select one or more CMS' Training</span>
                                                </div>
                                                <p class="mt-1">By submitting this form, I attest that all the information provided is accurate and up to date and serves as verification for all applicable affiliates associated with this organization.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label"><span class="text-danger-400">*</span> Authorized Representative's Signature (type):</label>
                                            <div class="col-sm-12 col-md-4">
                                                <input type="text" class="form-control required" name="authorized_representative_signature" id="authorized_representative_signature"
                                                       {% if document %}value="{{ document.RepresentativeSignature }}" {% endif %}>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_authorized_representative_signature">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label"><span class="text-danger-400">*</span> Date:</label>
                                            <div class="col-md-4 col-sm-12">
                                                <input type="text" class="form-control required" name="date" id="date" data-mask="99/99/9999" placeholder="mm/dd/yyyy"
                                                       {% if document %}value="{{ document.date }}" {% endif %}>
                                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_date">
                                                    <span class="font-weight-semibold">Please fill out this field!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-left mt-2">
                                            <input type="hidden" name="trainingsSelected" id="trainingsSelected" value="">
                                            <input type="hidden" name="new" id="new" value="">
                                            <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('global_assets/js/plugins/extensions/jquery_ui/widgets.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            var availableContacts = []
            {% for contact in contacts %}
                availableContacts.push("{{ contact.name }}")
            {% endfor %}

            // Basic example
            $('#authorized_representative_name').autocomplete({
                source: availableContacts
            })

            $('#link_provider_attestation').addClass('active')

            $('#all_provider').click(function(){
                var provider_sel= $('input[name=provider_sel]')
                if($(this).is(':checked')){
                    provider_sel.prop("checked", true)
                }else{
                    provider_sel.prop("checked", false)
                }
            })

            $('.bnt-send').click(function(e){
                e.preventDefault()

                var send=true
                var activeFocus=false
                var name=$('#organization_name').val()
                var error_name=$('#error_name')
                var year=$('#year').val()
                var error_year=$('#error_year')
                var authorized_representative_name=$('#authorized_representative_name').val()
                var error_authorized_representative_name=$('#error_authorized_representative_name')
                var authorized_representative_phone=$('#authorized_representative_phone').val()
                var error_authorized_representative_phone=$('#error_authorized_representative_phone')
                var authorized_representative_email=$('#authorized_representative_email').val()
                var error_authorized_representative_email=$('#error_authorized_representative_email')
                var authorized_representative_signature=$('#authorized_representative_signature').val()
                var error_authorized_representative_signature=$('#error_authorized_representative_signature')
                var date=$('#date').val()
                var error_date=$('#error_date')


                if(year==""){
                    send=false
                    error_year.removeClass('sr-only')
                    if(activeFocus==false){
                        activeFocus=true
                        $('#year').focus()
                    }
                }else{
                    error_year.addClass('sr-only')
                }

                if(name==""){
                    send=false
                    if(activeFocus==false){
                        activeFocus=true
                        $('#organization_name').focus()
                    }
                    error_name.removeClass('sr-only')
                }else{
                    error_name.addClass('sr-only')
                }

                if(authorized_representative_name==""){
                    send=false
                    error_authorized_representative_name.removeClass('sr-only')
                    if(activeFocus==false){
                        activeFocus=true
                        $('#authorized_representative_name').focus()
                    }
                }else{
                    error_authorized_representative_name.addClass('sr-only')
                }

                if(authorized_representative_phone==""){
                    send=false
                    error_authorized_representative_phone.removeClass('sr-only')
                    if(activeFocus==false){
                        activeFocus=true
                        $('#authorized_representative_phone').focus()
                    }
                }else{
                    error_authorized_representative_phone.addClass('sr-only')
                }

                if(authorized_representative_email==""){
                    send=false
                    error_authorized_representative_email.removeClass('sr-only')
                    if(activeFocus==false){
                        activeFocus=true
                        $('#authorized_representative_email').focus()
                    }
                }else{
                    error_authorized_representative_email.addClass('sr-only')
                }

                if(authorized_representative_signature==""){
                    send=false
                    error_authorized_representative_signature.removeClass('sr-only')
                    if(activeFocus==false){
                        activeFocus=true
                        $('#authorized_representative_signature').focus()
                    }
                }else{
                    error_authorized_representative_signature.addClass('sr-only')
                }

                if(date==""){
                    send=false
                    error_date.removeClass('sr-only')
                    if(activeFocus==false){
                        activeFocus=true
                        $('#date').focus()
                    }
                }else{
                    error_date.addClass('sr-only')
                }

                var providers=$('input[name=provider_sel]')
                var cont_providers_selected=0
                providers.each(function (index, $this) {
                    var provider = $(this)

                    if (!provider.is(':checked')) {
                        cont_providers_selected++
                    }
                });

                var error_providers=$('#error_providers')
                if(cont_providers_selected>0){
                    error_providers.removeClass('sr-only')
                    send=false
                }else{
                    error_providers.addClass('sr-only')
                }


                var trainingsSelected=""
                var trainings = $('input[name=trainings]');

                trainings.each(function (index, $this) {
                    var training = $(this);

                    if (training.is(':checked')) {
                        trainingsSelected += training.val() + ",";
                    }
                })

                var error_cms_training=$('#error_cms_training')
                if(trainingsSelected==""){
                    error_cms_training.removeClass('sr-only')
                    send=false
                }else{
                    error_cms_training.addClass('sr-only')
                }

                $('#trainingsSelected').val(trainingsSelected)

                if(send==true){
                   $('#form').submit()
                }

            })
        });
    </script>

{% endblock %}
