{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('training_attestation_list') }}" class="breadcrumb-item">Training Attestations</a>
                        <span class="breadcrumb-item active">View Training Attestation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Training Attestation</span></h5>
                <div class="header-elements">
                    <a href="{{ path('training_attestation_list') }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Training Attestation List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Year of attestation:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ training.year }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative's Name:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ training.RepresentativeName }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative’s Phone Number:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ training.RepresentativePhone }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative’s Email:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ training.RepresentativeEmail }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Authorized Representative's Signature:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ training.RepresentativeSignature }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Date:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ training.date }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Training:</label> </div>
                                            <div class="col-10">
                                                <ul>
                                                {% for training in training.getCMSTrainings %}
                                                <li>{{training.name}}</li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label class="col-form-label">Providers:</label> </div>
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <table class="table table-xs table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th width="10%">ID</th>
                                                            <th>First Name</th>
                                                            <th>Last Number</th>
                                                            <th>NPI:</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for provider in providers %}
                                                            <tr>
                                                                <td>{{ provider.id }}</td>
                                                                <td>{{ provider.firstname }}</td>
                                                                <td>{{ provider.lastname }}</td>
                                                                <td>{{ provider.npinumber }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}

     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link-group-configuration').addClass('nav-item-expanded')
             $('#link-group-configuration').addClass('nav-item-open')
             $('#link-group-providers_conf').addClass('nav-item-expanded')
             $('#link-group-providers_conf').addClass('nav-item-open')
             $('#link-admin-training').addClass('active')
         })
     </script>

 {% endblock %}
