{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_list_credentialing') }}" class="breadcrumb-item">Individuals Process List </a>
                        <span class="breadcrumb-item active">Create Email Queue</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Email Queue for Credentialing Notification</span></h5>
                <div class="header-elements">

                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_credentialing_email_queue_ajax') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-3"><h4 class="">Select Approved Date:</h4></label>
                                                <div class="col-9">
                                                    <select name="date" id="date" class="form-control select"  data-fouc>
                                                        {% for date in dates %}
                                                            <option value="{{ date }}">{{ date }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3"><h4 class="text-primary-800">Total of Organizations:</h4></label>
                                                <div class="col-9">
                                                    <input type="hidden" id="total_org" value="{{ organizations|length }}">
                                                    <span class="badge badge-primary badge-pill">{{ organizations|length }}</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3"><h4 class="text-success-800">Organizations Processed:</h4></label>
                                                <div class="col-9">
                                                    <input type="hidden" id="total_org_processed" value="0">
                                                    <span class="badge badge-success badge-pill" id="total_org_processed_str">0</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3"><h4 class="text-info-800">Total of Email Queue:</h4></label>
                                                <div class="col-9">
                                                    <input type="hidden" id="total_emails" value="0">
                                                    <span class="badge badge-info badge-pill" id="total_emails_str">0</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="progress">
                                                        <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" id="progress_credentialing_process" style="width: 0%">
                                                            <span class="" id="msg-progress"><span id="percent_value"></span>% Completed</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-primary bnt-send"><i class="fas fa-database"></i> Create Email Queue</a>
                                                <a href="{{ path('admin_list_credentialing') }}" class="btn btn-danger"><i class="fas fa-angle-double-right"></i> Skip</a>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function (){
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })
         })

         $('.bnt-send').click(function(e){
             e.preventDefault()
             var url=$('#form').attr('action')
             var total_org=parseInt($('#total_org').val())
             var date=$('#date').val()

             {% for organization in organizations %}
                var data={
                    organization: "{{ organization.id }}",
                    date: date
                }

             $.post(url, data, function (result) {
                 var total_org_processed=parseInt($('#total_org_processed').val())
                 total_org_processed+=1;
                 $('#total_org_processed').val(total_org_processed)
                 var percent=parseInt((total_org_processed*100)/total_org)
                 $('#total_org_processed_str').html(total_org_processed)
                 $('#percent_value').html(percent)

                 $('#progress_credentialing_process').css('width',percent+"%")

                 var total_emails=parseInt($('#total_emails').val())
                 var subtotal=parseInt(result.total)
                 total_emails=parseInt(total_emails+subtotal)
                 $('#total_emails').val(total_emails)
                 $('#total_emails_str').html(total_emails)

                 if(percent==100){
                     $('.bnt-send').addClass('sr-only')
                     $('#btl_list').removeClass('sr-only')

                     $('#progress_credentialing_process').removeClass('bg-primary')
                     $('#progress_credentialing_process').removeClass('progress-bar-striped')
                     $('#progress_credentialing_process').addClass('bg-success')
                     $('#msg-progress').html('Process Completed Successfully')
                 }
             })
             {% endfor %}
         })

     </script>
 {% endblock %}
