{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_provider',{'id':id,'tab':2}) }}" class="breadcrumb-item">Provider</a>
                        <span class="breadcrumb-item active">Edit Credentialing Proccess</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Credentialing Proccess</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_view_provider',{'id':document.provider.id,'tab':2}) }}" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> Credentialing Proccess List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_provider_credentialing') }}" method="POST" id="form">
                                            <input type="hidden" name="provider_id" id="provider_id" value="{{ id }}" />
                                            <input type="hidden" name="id" id="provider_id" value="{{ document.id }}" />
                                            <input type="hidden" name="target" id="target" value="2" />
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label"> <span class="text-danger-400">*</span> Cvo:</label>
                                                <div class="col-lg-9">
                                                    <select name="cvo" id="cvo" class="form-control select">
                                                        <option value="0">- Select One -</option>
                                                        {% for cvo in cvos %}
                                                            <option value="{{ cvo.id }}" {% if document.cvo %}{% if document.cvo.id==cvo.id %}selected{% endif %}{% endif %}>{{ cvo.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_cvo" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing-Submitted to Cvo:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="submitted_to_cvo" id="submitted_to_cvo" value="{{ document.getCredentialingDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Effective Date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="effective_date" id="effective_date" value="{{ document.getCredentialingEffectiveDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Complete Date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="complete_date" id="complete_date" value="{{ document.getCredentialingCompleteDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Accepted:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="accepted_date" id="accepted_date" value="{{ document.getCredentialingAccepted }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Sanction Date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="sanction_date" id="sanction_date" value="{{ document.getSanctionDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Denied:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="denied_date" id="denied_date" value="{{ document.getCredentialingDenied }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Appeal:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                     <span class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									                     </span>
                                                        <input type="text" class="form-control" name="appeal_date" id="appeal_date" value="{{ document.getCredentialingAppeal }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing status:</label>
                                                <div class="col-lg-9">
                                                    <select name="credentialing_status" id="credentialing_status" class="form-control select">
                                                        {% for credS in credStatus %}
                                                            <option value="{{ credS.id }}" {% if document.getCredentialingStatus.id==credS.id %}selected{% endif %}>{{ credS.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_view_provider',{'id':id,'tab':2}) }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/provider_credentialing/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){


             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#submitted_to_cvo').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#effective_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#sanction_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#accepted_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#denied_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#appeal_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })



             $('.btn-clear-date').click(function(){
                 var comp=$(this).parent().siblings()
                 comp.val('')
             })
         })
     </script>
 {% endblock %}
