{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_list_credentialing') }}" class="breadcrumb-item">Credentialing Proccess</a>
                        <span class="breadcrumb-item active">Export Providers to CVO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Export Providers to CVO</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_list_credentialing') }}" class="btn btn-sm btn-primary btn-cred-list"><i class="fas fa-arrow-left"></i> Credentialing Process List</a>
                    <a href="{{ path('admin_create_excel_to_cvo') }}" class="btn btn-sm btn-success ml-1 btn-export"><i class="fas fa-file-excel"></i> Export Providers</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-form-label mr-2">Total: <span class="badge badge-primary badge-pill">{{ providers|length }}</span></label>
                    <label class="col-form-label mr-2">Providers ready to send: <span class="badge badge-success badge-pill">{{ readytoSend_total }}</span></label>
                    <label class="col-form-label">Providers to be check: <span class="badge badge-danger badge-pill">{{ check_total }}</span></label>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr class="bg-slate">
                                <th>#</th>
                                <th>NPI</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Degrees</th>
                                <th>Practice State</th>
                                <th>CAQH</th>
                                <th>DEA Number</th>
                                <th>Contact email</th>
                                <th>Contact phone</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set cont=1 %}
                            {% for provider in providers %}
                                <tr data-id="{{ provider.id }}" {% if  provider['status']==1 %} class="table-success" {% else %} class="table-danger" {% endif %}>
                                    <td>{{ cont }}</td>
                                    <td id="npi_{{ provider.id }}" data-id="{{ provider['npi'] }}">{{ provider['npi'] }}</td>
                                    <td id="first_name_{{ provider.id }}" data-id="{{ provider['first_name'] }}">{{ provider['first_name'] }}</td>
                                    <td id="last_name_{{ provider.id }}" data-id="{{ provider['last_name'] }}">{{ provider['last_name'] }}</td>
                                    <td>{{ provider['degree'] }}</td>
                                    <td>{{ provider['practice_state'] }}</td>
                                    <td id="caqh_{{ provider.id }}" data-id="{{ provider['caqh'] }}">{{ provider['caqh'] }}</td>
                                    <td></td>
                                    <td>{{ provider['emails'] }}</td>
                                    <td>{{ provider['phone'] }}</td>
                                    <td>
                                        {% if  provider['status']==1 %}
                                            <i class="fas fa-check text-success ml-2"></i>
                                        {% else %}
                                            <i class="fas fa-times text-danger ml-2"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if  provider['status']==0 %}
                                            <a href="#" class="btn btn-sm  bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% set cont=cont+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Assign Payer-->
    <div id="modal_edit" class="modal fade" tabindex="-1">
        <form action="" method="post" id="form_payer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Information for Credentialing</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-3 col-form-label">First name:</label>
                            <div class="col-9" id="first_name_pop"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Last name:</label>
                            <div class="col-9" id="last_name_pop"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Npi:</label>
                            <div class="col-9">
                                <input type="text" name="npi_pop" id="npi_pop" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">CAQH:</label>
                            <div class="col-9">
                                <input type="text" name="caqh_pop" id="caqh_pop" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-save-new-payer"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            $('#link-menu-cred_providers').addClass('active')

            var h=$(window).height()-340
            $('#table_grid_cred').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            $('.btn-export').click(function(e){
                $('.btn-cred-list').click()
                var url_view = '{{ path("admin_view_provider") }}'

                window.location.href = url_view;
            })

            $('.btn-actions').click(function(e){
                e.preventDefault()
                $('#modal_edit').modal('show')

                var id=$(this).parent('td').parent('tr').data('id')

                var first_name=$('#first_name_'+id).data('id')
                var last_name=$('#last_name_'+id).data('id')
                var npi=$('#npi_'+id).data('id')
                var caqh=$('#caqh_'+id).data('id')


                $('#first_name_pop').html(first_name)
                $('#last_name_pop').html(last_name)
                $('#npi_pop').val(npi)
                $('#caqh_pop').val(caqh)

            })
        });

    </script>

{% endblock %}
