{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Individuals Credentialing Proccess</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Individuals Credentialing Proccess List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right">
                        <a href="{{ path('admin_export_cvo') }}" class="btn btn-success btn-sm"><i class="fas fa-file-import"></i> Export</a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select" id="multiple_option" data-fouc>
                            <option value="0">Delete Selected</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="actionSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="table_grid_cred" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Modal Address-->
    <div id="modal_set_cvo" class="modal fade" tabindex="-1">
        <input type="hidden" value="{{ path('view_ajax_facility_location') }}" name="url_view_location" id="url_view_location"/>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Set Cvo</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('admin_setcvo_credentialing') }}" method="post" id="form_setcvo">
                   <div class="row">
                           <div class="col-12">
                               <label class="col-12 col-form-label">Cvos:</label>
                               <select id="cvo" name="cvo" class="form-control select">
                                   <option value="0">- Select One Cvo -</option>
                                   {% for cvo in cvos %}
                                       <option value="{{ cvo.id }}">{{ cvo.name }}</option>
                                   {% endfor %}
                               </select>
                               <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_cvo">
                                   <span class="font-weight-semibold">Please select one Cvo!</span>
                               </div>
                           </div>
                   </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success btn-save-cvo"><i class="fas fa-save"></i> Save</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /View modal -->

    {{ include('provider/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider_credentialing/delete2.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            $('#link-group-credentialing').addClass('nav-item-expanded')
            $('#link-group-credentialing').addClass('nav-item-open')
            $('#link-menu-cred_providers').addClass('active')

            var h=$(window).height()-340
            $('#table_grid_cred').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        $('#payer').change(function(e){

            var idPayer=$(this).val()

            if(idPayer!=0){
                var id=idPayer
                var url=$('#form_gettier').attr('action')

                var data={
                    id: id
                }

                $.post(url, data, function (result) {
                    var tier=result.tiers
                    if(result.tiersTotal>0){
                        $('#cont-selectpayment').removeClass('sr-only')
                        var selectP=$('#select_payment')
                        $.each(tier, function (index) {
                            var text=String(tier[index]['name']);
                            var val=String(tier[index]['id']);

                            var opt="";
                            opt='<option value="'+val+'">'+text+'</option>';
                            selectP.append(opt);
                        })
                    }

                })

            }
        })


        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Provider", field: "provider",sortable: true, unSortIcon: true},
            {headerName: "Provider NPI", field: "npi",sortable: true, unSortIcon: true},
            {headerName: "Credentialing Status", field: "status",sortable: true,enableRowGroup: true, unSortIcon: true},
            {headerName: "Degrees", field: "degrees",sortable: true,enableRowGroup: true, unSortIcon: true, hide: true},
            {headerName: "Is Facility", field: "is_facility",sortable: true,enableRowGroup: true, unSortIcon: true, hide: true},
            {headerName: "Credentialing-Submitted to Cvo", field: "submitted_to_cvo",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Sanction Date", field: "sanction_date",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Credentialing Accepted", field: "accepted",sortable: true,enableRowGroup: true, unSortIcon: true,hide:false},
            {headerName: "Credentialing Effective Date", field: "effective_date",sortable: true,enableRowGroup: true, unSortIcon: true,hide:false},
            {headerName: "Credentialing Denied", field: "denied",sortable: true,enableRowGroup: true, unSortIcon: true,hide:true},
            {headerName: "Credentialing Appeal", field: "appeal",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for cred in credentilliang %}
        var is_facility_str=""


        var organization=""

        {% if cred.organization %}
            organization="{{ cred.organization.name }}"
        {% endif %}

        var obj={
            id:"{{ cred.id }}",
            provider: "{{ cred.provider.firstname }} {{ cred.provider.lastname }}",
            npi: "{{ cred.npinumber }}",
             {% if cred.cvo!=null %}
                cvo: "{{ cred.cvo.name }}",
             {% endif %}
            {% if cred.getCredentialingStatus  %}
            status: "{{ cred.getCredentialingStatus.name }}",
            {% endif %}
            submitted_to_cvo: "{{ cred.getCredentialingDate }}",
            effective_date: "{{ cred.getCredentialingEffectiveDate }}",
            sanction_date: "{{ cred.getSanctionDate }}",
            accepted: "{{ cred.getCredentialingAccepted }}",
            denied: "{{ cred.getCredentialingDenied }}",
            appeal: "{{ cred.getCredentialingAppeal }}",
            is_facility: is_facility_str,
            organization: organization
        }
        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            floatingFilter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()

                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi')
                    var model = str.split(" ")
                    countryFilterComponent.setModel(model)
                    gridOptions.api.onFilterChanged()
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }
            });
        });

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })


        function actionSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var multiple_option=$('#multiple_option').val()

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Elements seleted!',
                    message: 'Select at least one element please.'
                })
            }else{
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                //delete all selected
                if(multiple_option==0){
                    var url="/admin/provider_credentialing/delete_multiple";

                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Credentialing Proccess Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function() {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function() {
                                    $.post(url, data, function (result) {
                                        var removed=result.removed;
                                        var message=result.message;

                                        $('#message-removed').html(message);

                                        if(removed==1){
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        }else{
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }

                    });
                }

                //assign a Cvo for all selected
                if(multiple_option==1){
                    var modal_set_cvo=$('#modal_set_cvo')
                    modal_set_cvo.modal('show')
                }

                //asign a payer  all selected
                if(multiple_option==2){
                    var modal_set_payer=$('#modal_set_payer')
                    modal_set_payer.modal('show')
                }

            }
        }

        $('.btn-save-payer').click(function (e) {
            e.preventDefault()
            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var payer=$('#payer').val()
            var tier=$('#select_payment').val()

            var data={
                'ids':rows,
                'payer': payer,
                'tier': tier
            }

            var url=$('#form_setpayer').attr('action')
            $.post(url, data, function (result) {
                var modal_set_payer=$('#modal_set_payer')
                modal_set_payer.modal('hide')

                window.location.href="/admin/provider_credentialing/credentialing_list"
            })

        })

        $('.btn-save-cvo').click(function(e){
            e.preventDefault()
            var rowsSelected=gridOptions.api.getSelectedRows();

            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

           var  cvo=$('#cvo').val()

            var data={
                'ids':rows,
                'cvo':cvo
            }


            var url=$('#form_setcvo').attr('action')
            var error_cvo=$('#error_cvo')
            var send=true

            if(cvo==0){
                error_cvo.removeClass('sr-only')
                send=false
            }else{
                error_cvo.addClass('sr-only')
            }

            if(send==true){
                $.post(url, data, function (result) {
                    var modal_set_cvo=$('#modal_set_cvo')
                    modal_set_cvo.modal('hide')

                    window.location.href="/admin/provider_credentialing/credentialing_list"
                })
            }

        })

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view2_provider_credentialing") }}'+"/"+id
            var url_edit = '{{ path("admin_edit2_provider_credentialing") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#table_grid_cred');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
