{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Provider Ready to send for Credentialing Proccess</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider Ready to send for Credentialing Proccess</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right">

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select" id="select-options-multiple" data-fouc>
                            <option value="1">New Credentialing proccess</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="table_grid_cred" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Credentialing-->
    <div id="modal_credentialing" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_new_multiple_credentialing') }}" method="post" id="form_new_cred_process">
            <input type="hidden" name="id_provider" id="id_provider" value="">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Credentialing proccess</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing-Submitted to Cvo:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{{ "now"|date("m/d/Y") }}" name="submitted_to_cvo" id="submitted_to_cvo" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-save-new-cred"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider_credentialing/delete2.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            $('#link-group-credentialing').addClass('nav-item-expanded')
            $('#link-group-credentialing').addClass('nav-item-open')
            $('#link-menu-cred_ready_providers').addClass('active')

            var h=$(window).height()-340
            $('#table_grid_cred').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        function multipleSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var option=$('#select-options-multiple').val()

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Providers selected!',
                    message: 'Select at least one provider please.'
                })
            }else {
                //add new Credentialing proccess for all providers selected
                if(option==1){
                    $('#modal_credentialing').modal('show')
                }
            }
        }

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "First name", field: "first_name",sortable: true, unSortIcon: true},
            {headerName: "Last name", field: "last_name",sortable: true, unSortIcon: true},
            {headerName: "Organization", field: "organization",sortable: true, unSortIcon: true},
            {headerName: "Provider NPI", field: "npi",sortable: true, unSortIcon: true},
            {headerName: "Degrees", field: "degrees",sortable: true,enableRowGroup: true, unSortIcon: true},
            {headerName: "CAQH", field: "caqh",sortable: true,enableRowGroup: true, unSortIcon: true},
            {headerName: "License", field: "license",sortable: true,enableRowGroup: true, unSortIcon: true},
            {headerName: "Medicare", field: "medicare",sortable: true,enableRowGroup: true, unSortIcon: true},
            {headerName: "Medicaid", field: "medicaid",sortable: true,enableRowGroup: true, unSortIcon: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for provider in providers %}
        var obj={
            id:"{{ provider.id }}",
            first_name: "{{ provider.first_name }}",
            last_name: "{{ provider.last_name }}",
            organization: "{{ provider.organization_name }}",
            npi: "{{ provider.npi_number }}",
            medicare: "{{ provider.medicare }}",
            medicaid: "{{ provider.medicaid }}",
            caqh: "{{ provider.caqh }}",
            license: "{{ provider.license }}",
            degrees: "{{ provider.degrees }}",
        }
        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            floatingFilter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },
        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $('.btn-save-new-cred').click(function(e){
            e.preventDefault()

            var submitted_to_cvo=$('#submitted_to_cvo').val()

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var data={
                'ids': rows,
                'submitted_to_cvo': submitted_to_cvo
            }

            var url= $('#form_new_cred_process').attr('action')

            var progress_credentialing_process=$('#progress_credentialing_process')
            progress_credentialing_process.removeClass('sr-only')
            $.post(url, data, function (result) {
                progress_credentialing_process.addClass('sr-only')
                $('#modal_credentialing').modal('hide')
                window.location.href="/admin/provider_credentialing/credentialing_list"
            })
        })

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()

                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi')
                    var model = str.split(" ")
                    countryFilterComponent.setModel(model)
                    gridOptions.api.onFilterChanged()
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }
            });
        });

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })


        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("admin_view_provider") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#table_grid_cred');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
