{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Sent to CredSimple </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Providers sent to CredSimple</span></h5>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12 text-right">
                        <a href="{{ path('admin_load_from_credsimple') }}" class="btn btn-info btn-sm"><i class="fas fa-file-upload"></i> Update from Credsimple</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 col-xs-12">
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                                    <div class="form-control-feedback form-control-feedback-sm">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-xs-12 text-right pr-2">
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                                    <div class="form-control-feedback form-control-feedback-sm">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4  col-xs-4 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="table_grid_cred" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider_credentialing/delete2.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            var h=$(window).height()-340
            $('#table_grid_cred').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            $('#link-group-credentialing').addClass('nav-item-expanded')
            $('#link-group-credentialing').addClass('nav-item-open')
            $('#link-menu-sent-credsimple').addClass('active')
        });


        var columnDefs = [
            {headerName: "NPI Number", field: "npi",sortable: true, unSortIcon: true},
            {headerName: "First name", field: "first_name",sortable: true, unSortIcon: true},
            {headerName: "Last name", field: "last_name",sortable: true, unSortIcon: true},
            {headerName: "Provider type", field: "provider_type",sortable: true, unSortIcon: true},
            {headerName: "Credential event", field: "credential_event",sortable: true, unSortIcon: true},
            {headerName: "Desicion date", field: "decision_date",sortable: true, unSortIcon: true},
            {headerName: "Due date", field: "due_date",sortable: true, unSortIcon: true},
            {headerName: "Completed date", field: "completed_date",sortable: true, unSortIcon: true},
            {headerName: "License", field: "license",sortable: true, unSortIcon: true},
            {headerName: "License Expires Date", field: "expires_date",sortable: true, unSortIcon: true},
            {headerName: "Flagged", field: "flagged",sortable: true, unSortIcon: true, hide: true},
            {headerName: "Status", field: "status",sortable: true, unSortIcon: true},
            {headerName: "CredSimple PDF Report",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,minWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for sentCredSimple in sentCredSimples %}

        var obj={
            id:"{{ sentCredSimple.id }}",
            npi:"{{ sentCredSimple.npi }}",
            first_name:"{{ sentCredSimple.getFirstName }}",
            last_name:"{{ sentCredSimple.getLastName }}",
            provider_type:"{{ sentCredSimple.getProviderType }}",
            credential_event:"{{ sentCredSimple.getCredentialEvent }}",
            due_date:"{{ sentCredSimple.getDueDate }}",
            completed_date:"{{ sentCredSimple.getCompletedDate }}",
            flagged:"{{ sentCredSimple.getFlagged }}",
            status:"{{ sentCredSimple.getStatus }}",
            decision_date: "{{ sentCredSimple.getDecisionDate }}",
            report_pdf: "{{ sentCredSimple.getReportPdf }}",
            license: "{{ sentCredSimple.license }}",
            expires_date: "{{ sentCredSimple.licenseExpiresOn }}"
        }
        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            floatingFilter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()

                var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                var model = str.split(" ");
                countryFilterComponent.setModel(model);
                gridOptions.api.onFilterChanged();
            });
        });

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })


        function actionSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var multiple_option=$('#multiple_option').val()

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Elements seleted!',
                    message: 'Select at least one element please.'
                })
            }else{
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                //delete all selected
                if(multiple_option==0){
                    var url="/admin/provider_credentialing/delete_multiple";

                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Credentialing Proccess Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function() {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function() {
                                    $.post(url, data, function (result) {
                                        var removed=result.removed;
                                        var message=result.message;

                                        $('#message-removed').html(message);

                                        if(removed==1){
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        }else{
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }

                    });
                }

                //assign a Cvo for all selected
                if(multiple_option==1){
                    var modal_set_cvo=$('#modal_set_cvo')
                    modal_set_cvo.modal('show')
                }

                //asign a payer  all selected
                if(multiple_option==2){
                    var modal_set_payer=$('#modal_set_payer')
                    modal_set_payer.modal('show')
                }

            }
        }

        $('.btn-save-payer').click(function (e) {
            e.preventDefault()
            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var payer=$('#payer').val()
            var tier=$('#select_payment').val()

            var data={
                'ids':rows,
                'payer': payer,
                'tier': tier
            }

            var url=$('#form_setpayer').attr('action')
            $.post(url, data, function (result) {
                var modal_set_payer=$('#modal_set_payer')
                modal_set_payer.modal('hide')

                window.location.href="/admin/provider_credentialing/credentialing_list"
            })

        })

        $('.btn-save-cvo').click(function(e){
            e.preventDefault()
            var rowsSelected=gridOptions.api.getSelectedRows();

            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var  cvo=$('#cvo').val()

            var data={
                'ids':rows,
                'cvo':cvo
            }


            var url=$('#form_setcvo').attr('action')
            var error_cvo=$('#error_cvo')
            var send=true

            if(cvo==0){
                error_cvo.removeClass('sr-only')
                send=false
            }else{
                error_cvo.addClass('sr-only')
            }

            if(send==true){
                $.post(url, data, function (result) {
                    var modal_set_cvo=$('#modal_set_cvo')
                    modal_set_cvo.modal('hide')

                    window.location.href="/admin/provider_credentialing/credentialing_list"
                })
            }

        })

        function actionCellRendererFunc(params){
            var report_pdf =params.data.report_pdf;

            return '<a href="'+report_pdf+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions" target="_blank"><i class="far fa-file-pdf"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#table_grid_cred');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
