{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_list_credentialing')}}" class="breadcrumb-item">Credentialing Proccess List</a>
                        <span class="breadcrumb-item active">Credentialing Proccess Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Credentialing Proccess Details</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_list_credentialing')}}" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> Credentialing Proccess List</a>
                    <a href="{{ path('admin_new_provider_credentialing',{'id':document.provider.id}) }}" class="btn btn-success mr-1"><i class="fas fa-plus"></i> New Credentialing Proccess</a>
                    <a href="{{ path('admin_list_credentialing') }}" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Edit Credentialing Proccess</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Cvo:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{% if document.cvo %}{{ document.cvo.name }}{% endif %}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Credentialing Status:</label>
                                        <p class="col-form-label text-body p_docs p-inline">
                                            {% if document.getCredentialingStatus!=null or document.getCredentialingStatus!="" %}
                                                {{ document.getCredentialingStatus.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">NPI:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.npiNumber }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="col-form-label">Credentialing Submitted to Cvo:</label>
                                            </div>
                                            <div class="card-body">
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getCredentialingDate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="col-form-label">Credentialing Effective Date:</label>
                                            </div>
                                            <div class="card-body">
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getCredentialingEffectiveDate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="col-form-label">Credentialing Accepted:</label>
                                            </div>
                                            <div class="card-body">
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getCredentialingAccepted }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="col-form-label">Credentialing Denied:</label>
                                            </div>
                                            <div class="card-body">
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getCredentialingDenied }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="col-form-label">Credentialing Appeal:</label>
                                            </div>
                                            <div class="card-body">
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getCredentialingAppeal }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="col-form-label">Sanction Date:</label>
                                            </div>
                                            <div class="card-body">
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.getSanctionDate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}

     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link-menu-providers').addClass('active')
         })
     </script>

 {% endblock %}
