{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_address_credentialing_list')}}" class="breadcrumb-item">Facility Credentialing List</a>
                        <span class="breadcrumb-item active">Edit Credentialing Proccess</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Facility Credentialing Proccess</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_address_credentialing_list') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Facility Credentialing List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_address_credentialing') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label"><span class="text-danger-400">*</span> Cvo:</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control select" name="cvo" id="cvo">
                                                        <option value="0">- Select One -</option>
                                                        {% for cvo in cvos %}
                                                            <option value="{{ cvo.id }}" {% if document.cvo.id==cvo.id %}selected{% endif %}>{{ cvo.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_cvo" style="display: none;">
                                                        <span class="font-weight-semibold">Please select a Cvo</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Submitted to Cvo:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                       <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                           </span>
                                                        <input type="text" class="form-control" id="sumitted_to_cvo"  name="sumitted_to_cvo" value="{{ document.getCredentialingDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialed complete date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                       <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                           </span>
                                                        <input type="text" class="form-control" id="complete_date"  name="complete_date" value="{{ document.getCredentialingCompleteDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing App received date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                       <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                           </span>
                                                        <input type="text" class="form-control" id="app_received_date"  name="app_received_date" value="{{ document.getCredentialingReceivedDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Accepted date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                       <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                           </span>
                                                        <input type="text" class="form-control" id="credentialing_accepted_date"  value="{{ document.getCredentialingAcceptedDate }}" name="credentialing_accepted_date">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Denied date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                       <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                           </span>
                                                        <input type="text" class="form-control" id="credentialing_denied_date" value="{{ document.getCredentialingDeniedDate }}"  name="credentialing_denied_date">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Saction Date:</label>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
									                       <span class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                           </span>
                                                        <input type="text" class="form-control" id="saction_date"  name="saction_date" value="{{ document.getSanctionDate }}">
                                                        <span class="input-group-append">
												             <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
											            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Credentialing Status:</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control select" name="credentialing_status" id="credentialing_status">
                                                        {% for credS in credentialingstatus %}
                                                            <option value="{{ credS.id }}" {% if document.getCredentialingStatus.id==credS.id %}selected{% endif %}>{{ credS.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_credentialing_status" style="display: none;">
                                                        <span class="font-weight-semibold">Please select a Credentialing Status</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Payer:</label>
                                                <div class="col-lg-9">
                                                    <select class="form-control select" name="payers[]" id="payer" multiple>
                                                        <option value="0">- Select One -</option>
                                                        {% for payer in payers %}
                                                            <option value="{{ payer.id }}"
                                                                    {% if document.payers!=null%}
                                                                    {% set c=0 %}
                                                                    {% for pa in document.payers %}
                                                                        {% if pa.id==payer.id %}
                                                                            {% set c=1 %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% if c==1 %} selected {% endif %}
                                                                    {% endif %}>{{ payer.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="addr" id="addr" value="{{ addr.id }}">
                                                <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_view_billing',{'id':addr.id,'org':addr.organization.id}) }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/address_credentialing/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000);

             // Numeric date
             $('#sumitted_to_cvo').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('#app_received_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })
             $('#complete_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })
             $('#credentialing_denied_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })
             $('#credentialing_accepted_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })
             $('#saction_date').AnyTime_picker({
                 format: '%m/%d/%Z'
             })

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.btn-clear-date').click(function(){
                 var comp=$(this).parent().siblings()
                 comp.val('')
             })
         });
     </script>
 {% endblock %}
