{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin_view_billing',{'id':addr.id,'org':addr.organization.id}) }}" class="breadcrumb-item">Address</a>
                        <span class="breadcrumb-item active">View Credentialing Proccess</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Facility Credentialing Proccess</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Cvo:</label> </div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">
                                                    {% if document.cvo %}
                                                        {{ document.cvo.name }}
                                                    {% endif %}
                                                </p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialing Submitted to Cvo:</label></div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialed complete date:</label> </div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingCompleteDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialing App received date:</label></div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingReceivedDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialing Accepted date:</label> </div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingAcceptedDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialing Effective date:</label></div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingEffectiveDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialing Denied date:</label></div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingDeniedDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Saction Date:</label> </div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getSanctionDate }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Credentialing Status:</label></div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">{{ document.getCredentialingStatus.name }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3"><label class="col-form-label">Payer:</label> </div>
                                            <div class="col-9"><p class="col-form-label text-body p_docs">
                                                    {% if document.payers %}
                                                        {% for payer in document.payers %}
                                                        <span class="badge badge-success">{{ payer.name }}</span>
                                                        {% endfor %}
                                                    {% endif %}
                                                </p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}

 {% endblock %}
