{% extends 'base_blank.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div id="map2"></div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript" charset="utf-8">

         $(document).ready(function(e){
            iniciarMap()
             $('#map2').css('width','100%')
             $('#map2').css('height','100vh')
         })


         function iniciarMap(address, status){

                 var map_bounds= {
                     center_lat: 27.6648274,
                     center_lng: -81.51575350000002,
                     nor_lat: 32.3607674,
                     est_lng: -77.80493380000001,
                     sud_lat: 22.8285924,
                     wes_lng:-89.80426820000002
                 }
                 var coord_center = {lat:map_bounds.center_lat ,lng: map_bounds.center_lng};

                 map = new google.maps.Map(document.getElementById("map2"), {
                     zoom: 7,
                     center: coord_center,
                     mapTypeId: "terrain",
                     disableDefaultUI: true
                 });
         }
     </script>

     <script src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&libraries=places"></script>
 {% endblock %}

