<!DOCTYPE html>
{% set role="" %}
{% for rol in app.user.roles  %}
    {% set role=rol %}
{% endfor %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>BsnNet LLC | Behavioral Services  Network!</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('global_assets/css/icons/icomoon/styles.min.css') }}">
        <link rel="stylesheet" href="{{ asset('global_assets/css/icons/fontawesome/styles.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap_limitless.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/layout.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/components.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/colors.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ag-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ag-theme-balham.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
</head>
<body>
<div id="mask-top" class="sr-only" style="text-align: center"><i class="icon-spinner9 spinner mr-2 text-grey-300 load-map" style="font-size: 50px;"></i></div>
<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-light fixed-top">
    <!-- Header with logos -->
    <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
        <div class="navbar-brand navbar-brand-md">
            <a href="index.html" class="d-inline-block">
                <img src="{{ asset('global_assets/images/logo2.png') }}" alt="">
            </a>
        </div>
        <div class="navbar-brand navbar-brand-xs">
            <a href="index.html" class="d-inline-block">
                <img src="{{ asset('global_assets/images/logo2.png') }}" alt="">
            </a>
        </div>
    </div>
    <!-- /header with logos -->
    <!-- Mobile controls -->
    <div class="d-flex flex-1 d-md-none">
        <div class="navbar-brand mr-auto">
            <a href="index.html" class="d-inline-block">
                <img src="{{ asset('global_assets/images/logo1.png') }}" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
    <!-- /mobile controls -->
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>
        {% if app.user.organization %}
            Organization: <span class="badge bg-green-400 badge-green ml-md-3 mr-md-auto">{{ app.user.organization.name }}</span>
        {% else %}
            {{ render(controller(
                'App\\Controller\\LinkController::renderLinks'
            )) }}
        {% endif %}
        <ul class="navbar-nav">
            {{ render(controller(
                'App\\Controller\\HomeController::userOrganizations'
            )) }}
            {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                {{ render(controller(
                    'App\\Controller\\HomeController::toolbarNotification'
                )) }}
            {% endif %}
            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <span class="btn bg-transparent border-slate-700 text-slate-600 rounded-round border-2 btn-icon mr-3">
                            <i class="fas fa-user"></i>
                        </span>
                    {% if app.user %}
                        <span>{{ app.user.name }} {{ app.user.lastname }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{ path('admin_profile_user') }}" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- /navbar content -->
</div>
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md sidebar-fixed">
        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>1
            </a>
            Navigation
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->
        <!-- Sidebar content -->
        <div class="sidebar-content">
            <!-- User menu -->
            <div class="sidebar-user">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3">
                            <a class="btn bg-transparent border-white text-white rounded-round border-2 btn-icon">
                                <i class="fas fa-user"></i>
                            </a>
                        </div>
                        <div class="media-body mt-2">
                            {% if app.user %}
                                <div class="media-title font-weight-semibold">{{ app.user.name }} {{ app.user.lastname }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /user menu -->
            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">
                    <!-- Main -->
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link" id="link-menu-dashboard">
                            <i class="icon-home4"></i>
                            <span>
									Dashboard
								</span>
                        </a>
                    </li>
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item">
                            <a href="{{ path('admin_organization_list') }}" class="nav-link" id="link-menu-organizations">
                                <i class="fas fa-hospital-alt"></i>
                                <span>
									Organizations
								</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item">
                            <a href="{{ path('admin_provider_list') }}" class="nav-link" id="link-menu-providers">
                                <i class="fas fa-user-md"></i>
                                <span>
									Providers
								</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item">
                            <a href="{{ path('admin_payer') }}" class="nav-link" id="link-menu-payers">
                                <i class="fas fa-user-md"></i>
                                <span>
									Payers
								</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item nav-item-submenu" id="link-group-prospects">
                            <a href="#" class="nav-link"> <i class="fas fa-user-tag"></i> <span>Prospects</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item"><a href="{{ path('admin_organizationprospect') }}" class="nav-link" id="link-menu-prospects">Prospects List</a></li>
                                <li class="nav-item"><a href="{{ path('admin_organizationprospect2') }}" class="nav-link" id="link-menu-prospects-providers">Providers Prospects List</a></li>
                                <li class="nav-item"><a href="{{ path('join_us_index') }}" class="nav-link" id="link-menu-join-us">Join Us List</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu" id="link-group-contract">
                            <a href="#" class="nav-link"> <i class="fas fa-file-signature"></i> <span>Contract Process</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item"><a href="{{ path('admin_contract_index') }}" class="nav-link" id="link-menu-organization-contract-list">Organization List</a></li>
                                <li class="nav-item"><a href="#" class="nav-link" id="link-menu-organization-contract-list">Contracts Signed</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu" id="link-group-credentialing">
                            <a href="#" class="nav-link"><i class="fas fa-user-cog"></i> <span>Credentialing Process</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item"><a href="{{ path('admin_togo_credentialing') }}" class="nav-link" id="link-menu-cred_ready_providers">Provider Ready to go</a></li>
                                <li class="nav-item"><a href="{{ path('admin_list_credentialing') }}" class="nav-link" id="link-menu-cred_providers">Individuals Process List</a></li>
                                <li class="nav-item"><a href="{{ path('admin_facility_credentialing_list') }}" class="nav-link" id="link-menu-cred_facilities">Facilities Process List</a></li>
                                <li class="nav-item"><a href="{{ path('admin_sent-credsimple-list') }}" class="nav-link" id="link-menu-sent-credsimple">Sent CredSimple List</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item nav-item-submenu" id="link-group-security">
                            <a href="#" class="nav-link"><i class="fas fa-user-shield"></i> <span>Security</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item nav-item-submenu" id="link-group-users">
                                    <a href="#" class="nav-link"><i class="fas fa-user-friends"></i> Users</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('admin_user') }}" class="nav-link" id="link-admin-user">- Admin Users</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_payeruser') }}" class="nav-link" id="link-admin-payeruser">- Payer Users</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_puser_list') }}" class="nav-link" id="link-admin-provideruser">- Provider Users</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-roles">
                                    <a href="#" class="nav-link"><i class="fas fa-users-cog"></i> Roles</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('admin_role') }}" class="nav-link" id="link-admin-roles">- Admin Roles</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_payer_role') }}" class="nav-link" id="link-admin-payerroles">- Payer Roles</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_providerrole') }}" class="nav-link" id="link-admin-providerroles">- Provider Roles</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item" id="link-admin-logs">
                                    <a href="{{ path('admin_log') }}" class="nav-link"><i class="fas fa-users-cog"></i> Logs</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item nav-item-submenu" id="link-group-configuration">
                            <a href="#" class="nav-link"><i class="fas fa-cogs"></i> <span>Configuration</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item nav-item-submenu" id="link-group-organization_conf">
                                    <a href="#" class="nav-link"><i class="fas fa-hospital-alt"></i> Organization</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('admin_accreditation') }}" class="nav-link" id="link-admin-accreditation">- Accreditation</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_specialtyareas') }}" class="nav-link" id="link-admin-specialtyareas">- Specialty Areas</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_orgspecialty') }}" class="nav-link" id="link-admin-org-clasification">- Provider Type (Organization)</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_rate') }}" class="nav-link" id="link-admin-rates">- Rates</a></li>
                                        <li class="nav-item"><a href="{{ path('cms_training') }}" class="nav-link" id="link-admin-training">- Training</a></li>
                                        <li class="nav-item"><a href="{{ path('org_termination_reason_index') }}" class="nav-link" id="link-admin-org-termination-reason">- Termination Reason</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_organization_status') }}" class="nav-link" id="link-admin-org-termination-reason">- Organization status</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-providers_conf">
                                    <a href="#" class="nav-link"> <i class="fas fa-user-md"></i> Providers</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('admin_generalcategories') }}" class="nav-link" id="link-admin-general-categories">- General Categories</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_specialty') }}" class="nav-link" id="link-admin-primary-specialties">- Primary Specialties</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_comorbidity') }}" class="nav-link" id="link-admin-comorbidity">- Co Morbidity</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_eaponly') }}" class="nav-link" id="link-admin-eaponly">- EAP Only</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_providertype') }}" class="nav-link" id="link-admin-providers-type">- Provider Type</a></li>
                                        <li class="nav-item"><a href="{{ path('specialty_area_provider_index') }}" class="nav-link" id="link-admin-providers-specialty_area">- Provider Specialty Area</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_language') }}" class="nav-link" id="link-admin-languages">- Languages</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_degree') }}" class="nav-link" id="link-admin-degree">- Degrees</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_cvo') }}" class="nav-link" id="link-admin-cvos">- Cvos</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_lineofbusiness') }}" class="nav-link" id="link-admin-line-bussiness">- Line of Business</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_terminationreason') }}" class="nav-link" id="link-admin-termination-reason">- Termination Reason</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_sanctionreason') }}" class="nav-link" id="link-admin-santion-reason">- Santion Reason</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_credentialingstatus') }}" class="nav-link" id="link-admin-credentialing-status">- Credentialing Status</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_taxonomy') }}" class="nav-link" id="link-admin-taxonomies">- Taxonomy Codes</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_taxonomy_mapping_index') }}" class="nav-link" id="link-admin-taxonomies-provider-mapping">- Taxonomy Provider Mapping</a></li>
                                        <li class="nav-item"><a href="{{ path('ages_range_index') }}" class="nav-link" id="link-admin-age-range">- Ages Range</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-location-conf">
                                    <a href="#" class="nav-link"><i class="fas fa-map-marker-alt"></i> Locations</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('admin_servicesetting') }}" class="nav-link" id="link-admin-service-serttings">- Service Serttings</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_contacttitle') }}" class="nav-link" id="link-admin-contact-title">- Contact Title</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_facilitytype') }}" class="nav-link" id="link-admin-facility-type">- Facility Type</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_countymatch') }}" class="nav-link" id="link-admin-counties">- Counties</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-providersp-conf">
                                    <a href="#" class="nav-link"><i class="fas fa-user-tag"></i> Provider Portal</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('admin_contact_best') }}" class="nav-link" id="link-admin-contact-best">- Contact best for</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_additional_service') }}" class="nav-link" id="link-admin-additional-service">- Additional Service</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_legal_type') }}" class="nav-link" id="link-admin-legal-type">- Legal Type</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-prospect-status">
                                    <a href="#" class="nav-link"><i class="fas fa-map-marker-alt"></i> Prospects</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('prospect_status_index') }}" class="nav-link" id="link-admin-prospect-status">- Prospect Status</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-company-conf">
                                    <a href="#" class="nav-link"><i class="far fa-building"></i> Company</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('company_info') }}" class="nav-link" id="link-admin-company-info">- Genenral Information</a></li>
                                        <li class="nav-item"><a href="{{ path('link_index') }}" class="nav-link" id="link-admin-links">- Links</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu" id="link-group-tools">
                            <a href="#" class="nav-link"><i class="fas fa-toolbox"></i> <span>Tools</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item"><a href="{{ path('admin_search_api') }}" class="nav-link" id="link-menu-agorganization">NPI NPPES</a></li>
                                <li class="nav-item"><a href="{{ path('fcc_update_data') }}" class="nav-link" id="link-menu-agorganization">Update FCC DATA</a></li>
                                <li class="nav-item"><a href="{{ path('fcc_survey_ibh_survey_aggregate_list') }}" class="nav-link" id="link-menu-fcc-survey-level-data">FCC Survey (Provider Level Data)</a></li>
                                <li class="nav-item"><a href="{{ path('fcc_survey_ibh_survey_aggregate_data') }}" class="nav-link" id="link-menu-fcc-survey-data">FCC Survey (IBH Survey Aggregate Data)</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_ADMIN" or role=="ROLE_USER" %}
                        <li class="nav-item nav-item-submenu" id="link-group-provider-portal">
                            <a href="#" class="nav-link"><i class="fas fa-user-shield"></i> <span>Provider Portal</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item"><a href="{{ path('training_attestation_list') }}" class="nav-link" id="link-menu-training_attestation-list">Training Attestations</a></li>
                                <li class="nav-item"><a href="{{ path('directory_update_list') }}" class="nav-link" id="link-menu-directory-update-list">Directory Update Records</a></li>
                                <li class="nav-item"><a href="{{ path('missing_organization_information_list') }}" class="nav-link" id="link-missing-organization-information">Missing Organization Information</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu" id="link-group-report">
                            <a href="#" class="nav-link"><i class="fas fa-chart-line"></i> <span>Reports</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Security">
                                <li class="nav-item"><a href="{{ path('admin_provider_agreport') }}" class="nav-link" id="link-menu-agproviders">Providers Report</a></li>
                                <li class="nav-item"><a href="{{ path('admin_organization_agreport') }}" class="nav-link" id="link-menu-agorganization">Organizations Report</a></li>
                                <li class="nav-item"><a href="{{ path('admin_billing_agreport') }}" class="nav-link" id="link-menu-agbilling">Billing Address Report</a></li>
                                <li class="nav-item"><a href="{{ path('admin_aggrid_organizationcontact') }}" class="nav-link" id="link-menu-agbilling">Organization Contact Report</a></li>
                                <li class="nav-item"><a href="{{ path('pml_aggrid') }}" class="nav-link" id="link-menu-agbilling">PML Report</a></li>
                                <li class="nav-item"><a href="{{ path('florida_hospital_index') }}" class="nav-link" id="link-menu-florida-hospital">Florida Hospitals</a></li>
                                <li class="nav-item"><a href="{{ path('report_providers_eligible_medicare') }}" class="nav-link" id="">Providers Eligibles Medicare</a></li>
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link">AETNA Reports</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('providers_aetna_report') }}" class="nav-link" id="link-aetna-report-1">- AETNA Report</a></li>
                                        <li class="nav-item"><a href="{{ path('aetna_pnv_report_export') }}" class="nav-link" id="link-menu-agbilling">- PNV PG-SL</a></li>
                                        <li class="nav-item"><a href="{{ path('aetna-reports-list') }}" class="nav-link" id="link-menu-convert-pnv-to-dat">- AETNA reports List</a></li>
                                        <li class="nav-item"><a href="{{ path('aetna_fhkc_report_export') }}" class="nav-link" id="link-menu-convert-pnv-to-dat">- AETNA FHKC Report</a></li>
                                        <li class="nav-item"><a href="{{ path('aetna_pay_report_export') }}" class="nav-link" id="link-menu-convert-pnv-to-dat">- AETNA Pay Report</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-location-conf">
                                    <a href="#" class="nav-link">FCC Reports</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('fcc_pnv_report_export') }}" class="nav-link" id="link-menu-agbilling">- PNV Report </a></li>
                                        <li class="nav-item"><a href="{{ path('fcc_roster_report_export') }}" class="nav-link" id="link-menu-agbilling">- Medicaid Roster Report</a></li>
                                        <li class="nav-item"><a href="{{ path('fcc_roster_medicare_report_export') }}" class="nav-link" id="link-menu-agbilling">- Medicare Roster Report</a></li>
                                        <li class="nav-item"><a href="{{ path('provider_network_standards_table') }}" class="nav-link" id="link-admin-service-serttings">- FCC Regional Provider Ratios</a></li>
                                        <li class="nav-item"><a href="{{ path('fcc_providers_medicare_2') }}" class="nav-link" id="">Providers Medicare</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-location-conf">
                                    <a href="#" class="nav-link">MMM Reports</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('mmm_report_individual') }}" class="nav-link">- MMM Individual report</a></li>
                                        <li class="nav-item"><a href="{{ path('mmm_report_alf_ltc') }}" class="nav-link">- MMM ALF LTC</a></li>
                                        <li class="nav-item"><a href="{{ path('mmm_report_individual_changes') }}" class="nav-link">- MMM Individual Report Changes</a></li>
                                        <li class="nav-item"><a href="{{ path('mmm_report_facility_2') }}" class="nav-link">- MMM Facility Report</a></li>
                                        <li class="nav-item"><a href="{{ path('mmm_report_facility_change') }}" class="nav-link">- MMM Facility Report Changes</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu" id="link-group-compaty-status">
                                    <a href="{{ path('home') }}" class="nav-link">Company Status</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="{{ path('company_status_providers') }}" class="nav-link" id="link-menu-providers-status">- Providers Status</a></li>
                                        <li class="nav-item"><a href="{{ path('company_status_degrees') }}" class="nav-link" id="link-menu-providers-status">- Access to Care Geographically</a></li>
                                        <li class="nav-item"><a href="{{ path('report_zip-code-radius') }}" class="nav-link" id="link-menu-providers-status">- ZIP Code radius information</a></li>
                                        <li class="nav-item"><a href="{{ path('admin_contrating_credentialing_dashboard') }}" class="nav-link" id="link-menu-providers-status">- (Contrating & Credentialing ) Indicators Dashboard</a></li>
                                        <li class="nav-item"><a href="{{ path('organizations-rates-status-report') }}" class="nav-link" id="link-menu-providers-status">- Organization Rates Report</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-submenu" id="link-group-emails">
                            <a href="#" class="nav-link"><i class="fas fa-mail-bulk"></i> <span>Email Process</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="emails">
                                <li class="nav-item"><a href="{{ path('admin-email-queue-list') }}" class="nav-link" id="link-menu-emails-queued">Emails Queued</a></li>
                                <li class="nav-item"><a href="{{ path('admin_email_log') }}" class="nav-link" id="link-menu-agproviders">Emails Log</a></li>
                                <li class="nav-item"><a href="{{ path('email_type_index') }}" class="nav-link" id="link-menu-emails-types">Email Templates</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if app.user.id==1 or app.user.id==9 %}
                        <li class="nav-item nav-item-submenu" id="link-group-admin-tools">
                            <a href="#" class="nav-link"><i class="fas fa-mail-bulk"></i> <span>Admin tools</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="emails">
                                <li class="nav-item"><a href="{{ path('providers_licenses_report') }}" class="nav-link" id="link-menu-provider-licenses-report-tools">Providers Licenses Report</a></li>
                                <li class="nav-item"><a href="{{ path('convert_pnv_to_dat') }}" class="nav-link" id="link-menu-convert-pnv-to-dat">Convert PNV to DAT</a></li>
                                <li class="nav-item"><a href="{{ path('convert_fhkc_to_dat') }}" class="nav-link" id="link-menu-convert-fhkc-to-dat">Convert FHKC to DAT</a></li>
                                <li class="nav-item"><a href="{{ path('aetna-reports-list') }}" class="nav-link" id="link-menu-convert-pnv-to-dat">Aetna reports List</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if role=="ROLE_PROVIDER" %}
                        <li class="nav-item">
                            <a href="{{ path('admin_view_organization_2') }}" class="nav-link" id="link_provider_organization_data">
                                <i class="far fa-hospital"></i>
                                <span>Organization Data Form</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('pro_new_p_list') }}" class="nav-link" id="link_providers_pp">
                                <i class="fas fa-user-md"></i>
                                <span>Providers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('provider_billing_index') }}" class="nav-link" id="link_provider_organization_data">
                                <i class="fas fa-map-marked-alt"></i>
                                <span>Address</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('new_contact_p_index') }}" class="nav-link" id="link_contact_pp">
                                <i class="far fa-address-book"></i>
                                <span>Contacts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('training_attestation_index') }}" class="nav-link" id="link_provider_attestation">
                                <i class="fas fa-book"></i>
                                <span>Training Attestation</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('directory_update') }}" class="nav-link" id="link_directory_updated">
                                <i class="fas fa-user-edit"></i>
                                <span>Directory Update</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Exit</span>
                        </a>
                    </li>
                    <!-- /main -->
                </ul>
            </div>
            <!-- /main navigation -->
        </div>
        <!-- /sidebar content -->
    </div>
    <!-- /main sidebar -->

    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content pt-0 mt-5" style="padding: 0;">
            <!-- Dashboard content -->
            <div class="row" style="margin-right: 0;margin-left: 0;">
                <div class="col-xl-12" style="padding-left: 0;padding-right: 0;">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <!-- /dashboard content -->
        </div>
        <!-- /content area -->
        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light" style="z-index: 200">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; {{ "now"|date("Y") }}  BEHAVIORAL SERVICES NETWORK LLC
					</span>
            </div>
        </div>
        <!-- /footer -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->

{% block javascripts %}
    <!-- Core JS files -->
    <script src="{{ asset('global_assets/js/main/jquery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/visualization/d3/d3_tooltip.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('js/ag-grid/ag-grid-enterprise.noStyle.js') }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/extensions/jquery_ui/interactions.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/bootbox.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/loaders/progressbar.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/pnotify.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/inputmask.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/extensions/cookie.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/ui/perfect_scrollbar.min.js') }}"></script>
    <script src="{{ asset('js/layout_fixed_sidebar_custom.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/uploaders/fileinput/fileinput.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/forms/inputs/autosize.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/formatter.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/typeahead/handlebars.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/passy.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/maxlength.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/anytime.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/jgrowl.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/touchspin.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/passy.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/vue/vue.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        agGrid.LicenseManager.setLicenseKey("BSN_BSNNET_single_1_Devs__3_October_2020_[v2]_MTYwMTY4MzIwMDAwMA==4500929b25f76e4b56f8196105549317");

        $(document).ready(function(){
            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            $('#set_organization').change(function(e){
                $('#for_set_org').submit()
            })
        })
    </script>
{% endblock %}
</body>
</html>
