<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>BsnNet LLC | Behavioral Services  Network!</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('global_assets/css/icons/icomoon/styles.min.css') }}">
        <link rel="stylesheet" href="{{ asset('global_assets/css/icons/fontawesome/styles.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap_limitless.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/layout.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/components.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/colors.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ag-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ag-theme-balham.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
</head>
<body>
<div id="mask-top" class="sr-only" style="text-align: center"><i class="icon-spinner9 spinner mr-2 text-grey-300 load-map" style="font-size: 50px;"></i></div>
<div class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
        <div class="navbar-brand navbar-brand-md">
            <a href="{{ path('payer_dashboard')}}" class="d-inline-block">
                <img src="{{ asset('global_assets/images/logo2.png') }}" alt="">
            </a>
        </div>
        <div class="navbar-brand navbar-brand-xs">
            <a href="{{ path('payer_dashboard')}}" class="d-inline-block">
                <img src="{{ asset('global_assets/images/logo2.png') }}" alt="">
            </a>
        </div>
    </div>
    <div class="d-flex flex-1 d-md-none">
        <div class="navbar-brand mr-auto">
            <a href="index.html" class="d-inline-block">
                <img src="{{ asset('global_assets/images/logo1.png') }}" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>
        <span class="badge bg-green-400 badge-green ml-md-3 mr-md-auto">{{ app.user.name }}</span>
        <ul class="navbar-nav">
            {{ render(controller(
                'App\\Controller\\PayerPanelController::load_payer_top_bar'
            )) }}
        </ul>
    </div>

</div>
<div class="page-content">
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md sidebar-fixed">
        <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-user">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3">
                         <span class="btn bg-transparent border-white text-white rounded-round border-2 btn-icon">
                            <i class="fas fa-user"></i>
                         </span>
                        </div>
                        <div class="media-body mt-2">
                            {% if app.user %}
                                <div class="media-title font-weight-semibold">{{ app.user.name }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">
                    <li class="nav-item">
                        <a href="{{ path('payer_dashboard') }}" class="nav-link" id="link_payers_dashboard">
                            <i class="icon-home4"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('payer_providers_list') }}" class="nav-link" id="link_payers_providers">
                            <i class="fas fa-user-md"></i>
                            <span>Providers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('payer_address_list') }}" class="nav-link" id="link_payers_address">
                            <i class="far fa-hospital"></i>
                            <span>Organizations</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('payer_map') }}" class="nav-link" id="link_payers_map">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>Map</span>
                        </a>
                    </li>
                    {% if app.user.payer.id==1 %}
                        <li class="nav-item">
                            <a href="{{ path('payer_key_indicator_dashboard') }}" class="nav-link" id="link_payers_key_indicators_dashboard">
                                <i class="fas fa-chart-bar"></i>
                                <span>Key Indicators Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('report_provider_roster_mmm') }}" class="nav-link" id="link_report_provider_roster_mmm">
                                <i class="fas fa-list"></i>
                                <span>Individual Roster Report</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.payer.id==4 %}
                        <li class="nav-item">
                            <a href="{{ path('fcc_survey_ibh_survey_aggregate_list_2') }}" class="nav-link" id="link_provider_level_data">
                                <i class="fas fa-list-ul"></i>
                                <span>FCC Survey (Provider Level Data)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('fcc_survey_ibh_survey_aggregate_data2') }}" class="nav-link" id="link_survey_aggregate_data">
                                <i class="fas fa-chart-line"></i>
                                <span>FCC Survey (IBH Survey Aggregate Data)</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('payer_logout') }}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>
                                Exit
							</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content pt-0 mt-5" style="padding: 0;">
            <div class="row" style="margin-right: 0;margin-left: 0;">
                <div class="col-xl-12" style="padding-left: 0;padding-right: 0;">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light" style="z-index: 200">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; {{ "now"|date("Y") }}  BEHAVIORAL SERVICES NETWORK LLC
					</span>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('global_assets/js/main/jquery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/visualization/d3/d3_tooltip.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('assets/googlemarkercluster/markerclusterer.js') }}"></script>
    <script src="{{ asset('assets/js/vue.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/dashboard.js') }}"></script>
    <script src="{{ asset('js/ag-grid/ag-grid-enterprise.noStyle.js') }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/bootbox.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/pnotify.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/extensions/cookie.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/ui/perfect_scrollbar.min.js') }}"></script>
    <script src="{{ asset('js/layout_fixed_sidebar_custom.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/autosize.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/inputs/formatter.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        agGrid.LicenseManager.setLicenseKey("BSN_BSNNET_single_1_Devs__3_October_2020_[v2]_MTYwMTY4MzIwMDAwMA==4500929b25f76e4b56f8196105549317");
    </script>
{% endblock %}
</body>
</html>
