{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Providers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Providers Advance Report</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000);

            var h=$(window).height()-320
            $('#myGrid').css('height',h)

            $('#link-group-report').addClass('nav-item-expanded')
            $('#link-group-report').addClass('nav-item-open')
            $('#link-menu-agproviders').addClass('active')
        });

        var columnDefs = [
            {headerName: "Id", field: "id1",checkboxSelection: true,unSortIcon: true,sortable: true,filter: true,maxWidth: 80,minWidth: 80,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Full name", field: "fullname",sortable: true ,unSortIcon: true,maxWidth: 150,minWidth: 150},
            {headerName: "Organization", field: "organization",sortable: true,enableRowGroup: true,unSortIcon: true,maxWidth: 250,minWidth: 250},
            {headerName: "NPI", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "License: ", field: "license",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "Medicare", field: "medicare",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Medicaid ", field: "medicaid",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "CAQH", field: "caqh",sortable: true,enableRowGroup: true,unSortIcon: true, hide:true},
            {headerName: "Degrees", field: "degrees",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Taxonomies", field: "taxonomies",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "I. Cred Status", field: "individual_cred_status",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false, minWidth: 100},
            {headerName: "F. Cred Status", field: "facility_cred_status",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false, minWidth: 100},
            {headerName: "Payers", field: "payers",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "Is Facility", field: "is_facility",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Disabled", field: "disabled",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:150,minWidth:150,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% set a=0 %}
        {% for provider in providers %}

        var  full_name="{{ provider.first_name }}"+" "+"{{ provider.last_name }}"
        var organization="{{ provider.organization_name }}"

        organization=organization.replace('&#039;',"'")
        organization=organization.replace('&amp;',"&")

        var facility_status_id="{{ provider.status_cred_facility }}"
        var facility_credentialing_text=""

        var is_facility="No";
        var is_disabled="No";

        if (facility_status_id==1){ facility_credentialing_text="None" }
        if (facility_status_id==2){ facility_credentialing_text="Assigned to CVO" }
        if (facility_status_id==3){ facility_credentialing_text="Sent to CVO" }
        if (facility_status_id==4){ facility_credentialing_text="Approved" }
        if (facility_status_id==5){ facility_credentialing_text="Pending approval" }
        if (facility_status_id==6){ facility_credentialing_text="Declined" }
        if (facility_status_id==7){ facility_credentialing_text="Assigned Payer" }
        if (facility_status_id==8){ facility_credentialing_text="Canceled" }
        if (facility_status_id==9){ facility_credentialing_text="Complete" }
        if (facility_status_id==10){ facility_credentialing_text="Approved w/ Conditions" }
        if (facility_status_id==11){ facility_credentialing_text="Facility - Assigned Payer" }
        if (facility_status_id==12){ facility_credentialing_text="Outreach" }
        if (facility_status_id==13){ facility_credentialing_text="In Progress" }
        if (facility_status_id==14){ facility_credentialing_text="Denied" }
        if (facility_status_id==15){ facility_credentialing_text="Facility- providers credentialed individually" }


        {% if provider.is_facility==1 %}
        is_facility="Yes"
        {% endif %}

        {% if provider.disabled=="1" %}
        is_disabled="Yes"
        {% endif %}

        var obj={
            id:"{{ provider.id }}",
            id1:"{{ provider.id }}",
            fullname:full_name,
            organization: organization,
            npi: "{{ provider.npi_number }}",
            license: "{{ provider.state_lic }}",
            medicare: "{{ provider.medicare }}",
            medicaid: "{{ provider.medicaid }}",
            caqh: "{{ provider.caqh }}",
            degrees: "{{ provider.degrees }}",
            individual_cred_status: "{{ provider.status_cred }}",
            facility_cred_status: facility_credentialing_text,
            payers: "{{ provider.payers }}",
            is_facility: is_facility,
            disabled: is_disabled,
            taxonomies: "{{ provider.taxonomies }}",
        }

        {% set a=a+1 %}
        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:32,
            rowSelection: 'multiple',
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: 'always',
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $('#filter-multiple-npi').each(function() {

            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){
                var str=elem.val()

                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npinumber');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function deleteSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Delete seleted!',
                    message: 'Select at least one element please.'
                })
            }else{
                var progressBar=$('#progress_delete');
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids':rows
                }

                var url="/admin/provider/delete_multiple";

                bootbox.dialog({
                    message: 'Are you sure?',
                    title: 'Delete Providers Selected',
                    buttons: {
                        success: {
                            label: '<i class="fas fa-ban"></i> Cancel',
                            className: 'btn-success',
                            callback: function() {

                            }
                        },
                        danger: {
                            label: '<i class="far fa-trash-alt"></i> Delete Selected',
                            className: 'btn-danger',
                            callback: function() {

                                progressBar.removeClass('sr-only')
                                $.post(url, data, function (result) {
                                    progressBar.addClass('sr-only')

                                    var removed=result.removed;
                                    var message=result.message;

                                    $('#message-removed').html(message);

                                    if(removed==1){
                                        $('.cont-alert-removed-true').fadeIn(300);

                                        var selectedData = gridOptions.api.getSelectedRows();
                                        var res = gridOptions.api.updateRowData({remove: selectedData});

                                        $('.cont-alert-removed-true').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-true').fadeOut(500);
                                        }, 3000);

                                    }else{
                                        $('.cont-alert-removed-false').fadeIn(300);

                                        setTimeout(function(){
                                            $('.cont-alert-removed-false').fadeOut(500);
                                        }, 3000);
                                    }
                                })
                            }
                        }
                    }

                });
            }

        }

        function actionCellRendererFunc(params){
            var id =params.data.id

            var url_view = '{{ path("admin_view_provider") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_provider") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm btn-outline bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm btn-outline bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm btn-outline bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function countryCellRenderer(params) {
            return params.value.name + ' (' + params.value.code + ')';
        }

        function countryKeyCreator(params) {
            var countryObject = params.value;
            var key = countryObject.name;
            return key;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        function onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
