{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        #provider_p_languages .form-check, #provider_p_degree .form-check, #provider_p_provider_type .form-check,
        #provider_p_primary_specialties .form-check, #provider_p_specialties_area .form-check{
            display: inline-block;
        }

        .cont_specialties_areas_provider_p .form-check{
            display: inline-block;
        }

    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('pro_new_p_list') }}" class="breadcrumb-item">Providers</a>
                        <span class="breadcrumb-item active">{{ action }} Provider</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> {{ action }} Provider</span>
                </h5>
                <div class="header-elements">
                    <a href="{{ path('pro_new_p_list') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Providers List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-body">
                                {% if errors %}
                                    {% if errors|length>0 %}
                                        <div class="alert alert-danger alert-styled-left alert-dismissible">
                                            <h6 class="card-title text-danger-800 font-weight-bold">Missing Information</h6>
                                            <p class="mt-1">The Provider has the following errors</p>
                                            <ul>
                                                {# Loop through every form item #}
                                                {% for child in form.children %}
                                                    {# Display the errors of the form item #}
                                                    {% for error in errors %}
                                                        {% if error.getPropertyPath==child.vars.name  %}
                                                            {% if error.getPropertyPath !='gender_acceptance' %}
                                                                <li><strong>{{ child.vars.label }}</strong> : {{error.message}}</li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {%endfor%}
                                            </ul>
                                        </div>
                                    {%endif%}
                                {% endif %}
                                <div class="row">
                                    <div class="col-xs-12 col-9">
                                        {{ form_start(form, {'attr': {'id':'form'}}) }}
                                        {{ form_row(form.npi_number) }}
                                        {{ form_row(form.first_name) }}
                                        {{ form_row(form.last_name) }}
                                        {{ form_row(form.initial) }}
                                        {{ form_row(form.gender) }}
                                        {{ form_row(form.taxonomy_codes) }}
                                        {{ form_row(form.date_of_birth) }}
                                        {{ form_row(form.social) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.general_categories) }}
                                        {{ form_row(form.lineOfBusiness) }}
                                        {{ form_row(form.medicare) }}
                                        {{ form_row(form.option_out_medicare) }}
                                        {{ form_row(form.medicaid) }}
                                        {{ form_row(form.none_medicaid) }}
                                        {{ form_row(form.caqh) }}
                                        {{ form_row(form.na_caqh) }}
                                        {{ form_row(form.pedding_caqh) }}

                                        {{ form_row(form.state_lic) }}
                                        {{ form_row(form.us_lic_state) }}
                                        {{ form_row(form.lic_expires_date) }}
                                        {{ form_row(form.lic_issue_date) }}
                                        {{ form_row(form.board_certified) }}
                                        {{ form_row(form.board_name) }}
                                        {{ form_row(form.board_certified_date) }}
                                        {{ form_row(form.board_certified_specialty) }}
                                        {{ form_row(form.board_certification_expires_date) }}
                                        {{ form_row(form.is_hospital_affiliations) }}
                                        {{ form_row(form.hopital_privileges_type) }}
                                        {{ form_row(form.hopital_privileges) }}
                                        {{ form_row(form.hospital_acha_number) }}
                                        {{ form_row(form.has_telemedicine) }}
                                        {{ form_row(form.interested_in_telemedicine) }}
                                        {{ form_row(form.telemedicine_company) }}
                                        {{ form_row(form.has_pcp) }}
                                        {{ form_row(form.accepting_new_patients) }}
                                        {{ form_row(form.gender_acceptance) }}
                                        {{ form_row(form.age_ranges) }}

                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                {{ form_row(form.languages) }}
                                            </div>
                                        </div>
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                {{ form_row(form.degree) }}
                                            </div>
                                        </div>
                                        <div id="cont_provider_types" class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0 sr-only">
                                            <div class="card-body">
                                                {{ form_row(form.provider_type) }}
                                            </div>
                                        </div>
                                        <div id="cont_primary_specialties" class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0 sr-only">
                                            <div class="card-body">
                                                {{ form_row(form.primary_specialties) }}
                                            </div>
                                        </div>
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <legend class="col-form-label pt-0 custom-top-space col-form-label required">Specialty Area (Mental Health):</legend>
                                                    <div class="cont_specialties_areas_provider_p row mr-0 ml-0">
                                                        {% for specialty_mh in specialties_mh %}
                                                            {% set c=0 %}
                                                            {% if action=='Edit' %}
                                                                {% for provider_specialtiy in provider_specialties_areas %}
                                                                    {% if provider_specialtiy.id==specialty_mh.id %}
                                                                        {% set c=1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-check col-4">
                                                                <input type="checkbox" id="provider_p_specialties_area_{{ specialty_mh.id }}" {% if c==1 %} checked {% endif %} name="specialties_area" class="form-check-input" value="{{ specialty_mh.id }}">
                                                                <label class="form-check-label col-form-label pt-0 custom-top-space" for="provider_p_specialties_area_{{ specialty_mh.id }}">{{ specialty_mh.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <legend class="col-form-label pt-0 custom-top-space col-form-label required">Specialty Area (Substance Abuse):</legend>
                                                    <div class="cont_specialties_areas_provider_p row mr-0 ml-0">
                                                        {% for specialty_sa in specialties_sa %}
                                                            {% set c=0 %}
                                                            {% if action=='Edit' %}
                                                                {% for provider_specialtiy in provider_specialties_areas %}
                                                                    {% if provider_specialtiy.id==specialty_sa.id %}
                                                                        {% set c=1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-check col-4">
                                                                <input type="checkbox" id="provider_p_specialties_area_{{ specialty_sa.id }}" {% if c==1 %} checked {% endif %} name="specialties_area" class="form-check-input" value="{{ specialty_sa.id }}">
                                                                <label class="form-check-label col-form-label pt-0 custom-top-space" for="provider_p_specialties_area_{{ specialty_sa.id }}">{{ specialty_sa.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="card border-top-2 border-top-slate border-bottom-2 border-bottom-slate rounded-0">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <legend class="col-form-label pt-0 custom-top-space col-form-label required">Specialty Area (Services):</legend>
                                                    <div class="cont_specialties_areas_provider_p row mr-0 ml-0">
                                                        {% for specialty_se in specialties_se %}
                                                            {% set c=0 %}
                                                            {% if action=='Edit' %}
                                                                {% for provider_specialtiy in provider_specialties_areas %}
                                                                    {% if provider_specialtiy.id==specialty_se.id %}
                                                                        {% set c=1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-check col-4">
                                                                <input type="checkbox" id="provider_p_specialties_area_{{ specialty_se.id }}"  {% if c==1 %} checked {% endif %} name="specialties_area" class="form-check-input" value="{{ specialty_se.id }}">
                                                                <label class="form-check-label col-form-label pt-0 custom-top-space" for="provider_p_specialties_area_{{ specialty_se.id }}">{{ specialty_se.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        {{ form_widget(form) }}
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <p>(*) Fields required</p>
                                                <a href="#" class="btn btn-success bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-not-validate"><i class="fas fa-save"></i> Save(Not completed)</a>
                                                <a href="{{ path('pro_new_p_list') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_warning_saving_not_completed" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">Save not completed</h5>
                </div>
                <div class="modal-body">
                    <p>Please note that some required fields are incomplete.   By selecting save you may save your work and return later to complete the remaining fields.  However, you acknowledge that this may impact credentialing and / or inclusion on plan directories.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success btn-send-not-validate"><i class="fas fa-save"></i> Save</a>
                    <a href="#" class="btn btn-primary btn-dissmis-pop"><i class="fas fa-undo-alt"></i> Return to page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">

         $(document).ready(function(e){

             var languages_ctrl=$('#provider_p_languages .form-check')
             var degrees_ctrl=$('#provider_p_degree .form-check')
             var provider_types_ctrl=$('#provider_p_provider_type .form-check')
             var specialties_ctrl=$('#provider_p_primary_specialties .form-check')
             var specialties_area_ctrl=$('#provider_p_specialties_area .form-check')

             var degrees_ctrl_selected=0
             var provider_types_ctrl_selected=0

             languages_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
                 if(obj_ctrl.is(':checked')){
                     degrees_ctrl_selected++
                 }
             });

             degrees_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
                 if(obj_ctrl.is(':checked')){
                     provider_types_ctrl_selected++
                 }
             });

             provider_types_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
                 obj_ctrl.addClass('sr-only')
             });

             specialties_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
                 obj_ctrl.addClass('sr-only')
             });

             specialties_area_ctrl.each(function (index, $this) {
                 var obj_ctrl = $(this);
                 obj_ctrl.addClass('col-4')
             });

             if(degrees_ctrl_selected>0){
                 $('#cont_provider_types').removeClass('sr-only')
             }

             if(provider_types_ctrl_selected>0){
                 $('#cont_primary_specialties').removeClass('sr-only')
             }

             $('#link_providers_pp').addClass('active')
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('#provider_p_npi_number').keypress(function(evt){
                 var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                 if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                     return false;
                 return true;
             })

             $('.bnt-send').click(function(e){
                 e.preventDefault()

                 var specialtiesSelected=""
                 var specialties = $('input[name=specialties_area]');
                 specialties.each(function (index, $this) {
                     var specialty = $(this);

                     if (specialty.is(':checked')) {
                         specialtiesSelected += specialty.val() + ",";
                     }
                 });
                 $('#provider_p_specialties_area').val(specialtiesSelected)
                 $('#provider_p_validation_required').val(1)

                 $('#form').submit()
             })

             $('.bnt-send-not-validate').click(function(e){
                 e.preventDefault()

                 $('#modal_warning_saving_not_completed').modal('show')
             })

             $('.btn-dissmis-pop').click(function(e){
                 e.preventDefault()
                 $('#modal_warning_saving_not_completed').modal('hide')
             })

             $('.btn-send-not-validate').click(function(e){
                 e.preventDefault()
                 var specialtiesSelected=""
                 var specialties = $('input[name=specialties_area]');
                 specialties.each(function (index, $this) {
                     var specialty = $(this);

                     if (specialty.is(':checked')) {
                         specialtiesSelected += specialty.val() + ",";
                     }
                 });
                 $('#provider_p_specialties_area').val(specialtiesSelected)
                 $('#provider_p_validation_required').val(0)

                 if($('#provider_p_npi_number').val()!=""){
                     $('#form').submit()
                     $('#modal_warning_saving_not_completed').modal('hide')
                 }

                 $('#modal_warning_saving_not_completed').modal('hide')

             })

             if($('#provider_p_board_certified_0').is(':checked')){
                 $('#provider_p_board_name').removeClass('sr-only')
                 $('#label_board_name').removeClass('sr-only')
                 $('#label_board_certified_date').removeClass('sr-only')
                 $('#provider_p_board_certified_date').removeClass('sr-only')
                 $('#label_board_certified_specialty').removeClass('sr-only')
                 $('#provider_p_board_certified_specialty').removeClass('sr-only')
                 $('#label_board_certification_expires_date').removeClass('sr-only')
                 $('#provider_p_board_certification_expires_date').removeClass('sr-only')
             }

             if($('#provider_p_is_hospital_affiliations_0').is(':checked')){
                 $('#provider_p_hopital_privileges_type').removeClass('sr-only')
                 $('#label_hopital_privileges_type').removeClass('sr-only')
                 $('#provider_p_hopital_privileges').removeClass('sr-only')
                 $('#label_hopital_privileges').removeClass('sr-only')
                 $('#provider_p_hospital_acha_number').removeClass('sr-only')
                 $('#label_hospital_acha_number').removeClass('sr-only')
             }

             $('#provider_p_board_certified_0').click(function(e){
                 $('#provider_p_board_name').removeClass('sr-only')
                 $('#label_board_name').removeClass('sr-only')
                 $('#label_board_certified_date').removeClass('sr-only')
                 $('#provider_p_board_certified_date').removeClass('sr-only')
                 $('#label_board_certified_specialty').removeClass('sr-only')
                 $('#provider_p_board_certified_specialty').removeClass('sr-only')
                 $('#label_board_certification_expires_date').removeClass('sr-only')
                 $('#provider_p_board_certification_expires_date').removeClass('sr-only')
             })

             $('#provider_p_board_certified_1').click(function(e){
                 $('#provider_p_board_name').addClass('sr-only')
                 $('#label_board_name').addClass('sr-only')
                 $('#label_board_certified_date').addClass('sr-only')
                 $('#provider_p_board_certified_date').addClass('sr-only')
                 $('#label_board_certified_specialty').addClass('sr-only')
                 $('#provider_p_board_certified_specialty').addClass('sr-only')
                 $('#label_board_certification_expires_date').addClass('sr-only')
                 $('#provider_p_board_certification_expires_date').addClass('sr-only')
             })

             $('#provider_p_is_hospital_affiliations_0').click(function(e){
                 $('#provider_p_hopital_privileges_type').removeClass('sr-only')
                 $('#label_hopital_privileges_type').removeClass('sr-only')
                 $('#provider_p_hopital_privileges').removeClass('sr-only')
                 $('#label_hopital_privileges').removeClass('sr-only')
                 $('#provider_p_hospital_acha_number').removeClass('sr-only')
                 $('#label_hospital_acha_number').removeClass('sr-only')
             })

             $('#provider_p_is_hospital_affiliations_1').click(function(e){
                 $('#provider_p_hopital_privileges_type').addClass('sr-only')
                 $('#label_hopital_privileges_type').addClass('sr-only')
                 $('#provider_p_hopital_privileges').addClass('sr-only')
                 $('#label_hopital_privileges').addClass('sr-only')
                 $('#provider_p_hospital_acha_number').addClass('sr-only')
                 $('#label_hospital_acha_number').addClass('sr-only')
             })

             $('#provider_p_has_telemedicine_1').click(function (){
                 $('#cont_interested_in_telemedicine').removeClass('sr-only')
                 $('#cont_telemedicine_company').addClass('sr-only')
                 $('#provider_p_telemedicine_company').val('')
             })

             $('#provider_p_has_telemedicine_0').click(function (){
                 $('#cont_interested_in_telemedicine').addClass('sr-only')
                 $('#cont_telemedicine_company').removeClass('sr-only')
             })

             if($('#provider_p_has_telemedicine_1').is(':checked')){
                 $('#cont_interested_in_telemedicine').removeClass('sr-only')
                 $('#cont_telemedicine_company').addClass('sr-only')
             }

             if($('#provider_p_has_telemedicine_0').is(':checked')){
                 $('#cont_interested_in_telemedicine').addClass('sr-only')
                 $('#cont_telemedicine_company').removeClass('sr-only')
             }

             $('#provider_p_npi_number').keyup(function(){
                 var npi=$(this).val()

                 var npi_number=$('#npi_number')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }

                     var url='/admin/provider/checknpi'
                     $.post(url, data, function (result) {
                         var check=0
                         var jsonObj = $.parseJSON(result.json_result)

                         var resultsObj=jsonObj.results
                         if(jsonObj.Errors || jsonObj.result_count==0){
                             check=1
                         }

                         if(check==0){
                             //set values from API
                             $.each(resultsObj, function( index, objNPI ) {

                                 var first_name=objNPI.basic.first_name
                                 var last_name=objNPI.basic.last_name
                                 var gender=objNPI.basic.gender

                                 $('#provider_p_first_name').val(first_name.charAt(0).toUpperCase() + first_name.slice(1).toLowerCase())
                                 $('#provider_p_last_name').val(last_name.charAt(0).toUpperCase() + last_name.slice(1).toLowerCase())

                                 if(gender=="F"){
                                     $('#provider_p_gender_1').attr('checked',true)
                                 }
                                 if(gender=="M"){
                                     $('#provider_p_gender_0').attr('checked',true)
                                 }

                                 var taxonomies=objNPI.taxonomies
                                 $('#provider_p_taxonomy_codes option').removeAttr('selected')

                                 var taxOptions= $('#provider_p_taxonomy_codes option')

                                 $.each(taxonomies, function( index, taxonomy ) {
                                     var code=taxonomy.code;

                                     $.each(taxOptions, function(index, option){
                                         var option=$(this)

                                         if(code==option.html()){
                                             option.attr('selected',true)
                                             $('#provider_p_taxonomy_codes').change()
                                         }
                                     })
                                 })
                             })
                         }
                     })
                 }
             })

             $('#provider_p_degree .form-check-input').click(function(e){
                 selectAllProviderTypes()
             })

             if($('#provider_p_degree .form-check-input').is(':checked')){
                 selectAllProviderTypes()
             }

             function selectAllProviderTypes(){
                 var degrees = $('#provider_p_degree .form-check-input');

                 var totalDegressSelected=0;
                 var cont_provider_types=$('#cont_provider_types')
                 var cont_primary_specialties=$('#cont_primary_specialties')

                 var provider_types_ctrl=$('#provider_p_provider_type .form-check')

                 provider_types_ctrl.each(function (index, $this) {
                     var obj_ctrl = $(this);
                     obj_ctrl.addClass('sr-only')
                 });

                 degrees.each(function (index, $this) {
                     var degree = $(this);
                     var id=degree.val()
                     if(degree.is(':checked')){
                         totalDegressSelected++;

                         if(id==24 || id==20){
                             $('#provider_p_provider_type_40').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==16 || id==22 || id==4 || id==32 || id==26 || id==9 || id==25){
                             $('#provider_p_provider_type_14').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==3){
                             $('#provider_p_provider_type_10').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==5 || id==6 || id==27 || id==18 || id==10 || id==11){
                             $('#provider_p_provider_type_4').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==7){
                             $('#provider_p_provider_type_9').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==37 || id==19){
                             $('#provider_p_provider_type_11').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==34){
                             $('#provider_p_provider_type_12').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==11){
                             $('#provider_p_provider_type_4').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==13){
                             $('#provider_p_provider_type_39').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }

                         if(id==1){
                             $('#provider_p_provider_type_12').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }
                         //show all PT
                         if(id==2 || id==15 || id==30 || id==31 || id==33 || id==17 || id==8 || id==23 || id==12 || id==36){
                             $('#provider_p_provider_type_12').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_40').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_14').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_10').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_4').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_9').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_11').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_12').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_39').parent('div').removeClass('sr-only')
                             $('#provider_p_provider_type_41').parent('div').removeClass('sr-only')
                         }
                     }
                 })

                 if(totalDegressSelected>0){
                     cont_provider_types.removeClass('sr-only')
                 }else{
                     cont_provider_types.addClass('sr-only')
                     cont_primary_specialties.addClass('sr-only')
                     removeAllproviderTypeChecked()
                     removeAllSpecialtiesChecked()
                 }
             }

             $('#provider_p_provider_type .form-check-input').click(function(e){
                 selectAllSpecialties()
             })

             if( $('#provider_p_provider_type .form-check-input').is(':checked')){
                 selectAllSpecialties()
             }

             function removeAllproviderTypeChecked(){
                 var provider_types_ctrl=$('#provider_p_provider_type .form-check-input')

                 provider_types_ctrl.each(function (index, $this) {
                     var obj_ctrl = $(this);
                     obj_ctrl.prop("checked", false);
                 });
             }

             function removeAllSpecialtiesChecked(){
                 var specialties_ctrl=$('#provider_p_primary_specialties .form-check-input')

                 specialties_ctrl.each(function (index, $this) {
                     var obj_ctrl = $(this);
                     obj_ctrl.prop("checked", false);
                 });
             }

             function selectAllSpecialties(){
                 var types = $('#provider_p_provider_type .form-check-input');

                 var totalTypesSelected=0;
                 var cont_primary_specialties=$('#cont_primary_specialties')

                 var specialties_ctrl=$('#provider_p_primary_specialties .form-check')

                 specialties_ctrl.each(function (index, $this) {
                     var obj_ctrl = $(this);
                     obj_ctrl.addClass('sr-only')
                 });

                 types.each(function (index, $this) {
                     var type = $(this);
                     var id = type.val()
                     if (type.is(':checked')) {
                         totalTypesSelected++;
                         //code 07
                         if(id==4){
                             $('#provider_p_primary_specialties_5').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_18').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_38').parent('div').removeClass('sr-only')
                         }
                         //code 14
                         if(id==38) {
                             $('#provider_p_primary_specialties_24').parent('div').removeClass('sr-only')
                         }
                         //code 29
                         if(id==11) {
                             $('#provider_p_primary_specialties_20').parent('div').removeClass('sr-only')
                         }
                         //code 30
                         if(id==12) {
                             $('#provider_p_primary_specialties_6').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_47').parent('div').removeClass('sr-only')
                         }
                         //code 31
                         if(id==39) {
                             $('#provider_p_primary_specialties_46').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_47').parent('div').removeClass('sr-only')
                         }
                         //code 32
                         if(id==14) {
                             $('#provider_p_primary_specialties_25').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_26').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_46').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_47').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_23').parent('div').removeClass('sr-only')
                         }
                         //code 39
                         if(id==40) {
                             $('#provider_p_primary_specialties_51').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_52').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_53').parent('div').removeClass('sr-only')
                         }
                         //code 25 - 26
                         if(id==9 || id==10) {
                             $('#provider_p_primary_specialties_2').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_3').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_4').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_5').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_38').parent('div').removeClass('sr-only')
                         }
                         //code 97
                         if(id==41) {
                             $('#provider_p_primary_specialties_2').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_3').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_4').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_5').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_6').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_7').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_9').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_11').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_12').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_18').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_20').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_21').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_22').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_23').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_24').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_25').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_26').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_27').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_28').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_29').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_30').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_31').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_32').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_33').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_37').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_38').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_39').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_40').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_41').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_42').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_43').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_44').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_45').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_46').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_47').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_48').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_49').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_50').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_51').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_52').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_53').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_54').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_55').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_56').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_57').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_58').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_59').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_60').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_61').parent('div').removeClass('sr-only')
                             $('#provider_p_primary_specialties_62').parent('div').removeClass('sr-only')
                         }
                         //code 81
                         if(id==42) {
                             $('#provider_p_primary_specialties_60').parent('div').removeClass('sr-only')
                         }
                     }
                 })

                 if(totalTypesSelected>0){
                     cont_primary_specialties.removeClass('sr-only')
                 }else{
                     cont_primary_specialties.addClass('sr-only')
                     removeAllSpecialtiesChecked()
                 }
             }

         })
     </script>
 {% endblock %}
