{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Providers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Providers List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right">
                        <a href="{{ path('admin_new_provider') }}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> New Provider</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_credentialing_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Creating new Credentialing Process ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-3">
                        <select class="form-control select" id="select-options-multiple" data-fouc>
                            <option value="0">Delete Selected</option>
                            <option value="2">Assign a Payer</option>
                            <option value="3">Clone Providers</option>
                            <option value="4">Payer Exclude</option>
                            <option value="5">Delete Payer</option>
                            <option value="6">Allow Credentialing Exception</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-1">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('provider/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
    <!-- Modal Disabled-->
    <div id="modal_disabled" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_disabled_provider') }}" method="post" id="form_disabled">
            <input type="hidden" name="id_provider" id="id_provider" value="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Disabled provider</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group row" id="cont-termination-reason">
                                <label class="col-12 col-form-label">Termination reason:</label>
                                <div class="col-12">
                                    <select name="termination_reason" id="termination_reason" class="form-control select">
                                        <option value="0">- Select One -</option>
                                        {% for terminationreason in terminationreasons %}
                                            <option value="{{ terminationreason.id }}">{{ terminationreason.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="alert alert-warning alert-styled-left alert-dismissible sr-only" id="error-termination">
                                        <span class="font-weight-semibold">Warning!</span> Please select one Termination reason.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" id="cont-date-disabled">
                                <label class="col-12 col-form-label">Date of disabled:</label>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="dateofdisabled"  name="dateofdisabled" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-save-disabled"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Disabled modal -->

    <!-- Modal Credentialing-->
    <div id="modal_credentialing" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_new_multiple_credentialing') }}" method="post" id="form_new_cred_process">
            <input type="hidden" name="id_provider" id="id_provider" value="">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> New Credentialing proccess</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 col-form-label"> <span class="text-danger-400">*</span> Cvo:</label>
                            <div class="col-8">
                                <select name="cvo" id="cvo" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for cvo in cvos %}
                                        <option value="{{ cvo.id }}">{{ cvo.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_cvo">
                                    <span class="font-weight-semibold">Please select one Cvo!</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing-Submitted to Cvo:</label>
                            <div class="col-8">
                                <div class="input-group">
									<span class="input-group-prepend">
                                       <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									</span>
                                    <input type="text" class="form-control" name="submitted_to_cvo" id="submitted_to_cvo">
                                    <span class="input-group-append">
                                        <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Complete Date:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="complete_date" id="complete_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Accepted:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="accepted_date" id="accepted_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Effective Date:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="effective_date" id="effective_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Denied:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="denied_date" id="denied_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing Appeal:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="appeal_date" id="appeal_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Sanction Date:</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sanction_date" id="sanction_date" data-mask="99/99/9999" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Credentialing status:</label>
                            <div class="col-8">
                                <select name="credentialing_status" id="credentialing_status" class="form-control select">
                                    {% for credS in credentialingStatus %}
                                        {% if credS.id>1 %}
                                            <option value="{{ credS.id }}">{{ credS.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-save-new-cred"><i class="fas fa-save"></i> Save</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->
    <!-- Modal Assign Payer-->
    <div id="modal_payer" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_add_provider_payer_ajax_m') }}" method="post" id="form_payer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Assign a Payer</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Payer:</label>
                            <div class="col-8">
                                <select name="payer" id="payer" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for payer in payers %}
                                        <option value="{{ payer.id }}">{{ payer.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger alert-with-icon sr-only" data-notify="container" id="error_select_payer">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span data-notify="message">Select a Payer please.</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_payer_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                <span class="">Assign Providers to Payer process ...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="payer_selected" id="payer_selected" value="">
                        <a href="#" class="btn btn-primary btn-save-new-payer"><i class="fas fa-users-cog"></i> Process</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->
    <!-- Modal Clone Provider-->
    <div id="modal_clone_provider" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_providers_duplicate') }}" method="post" id="form_clone">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Clone Providers</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Asign an Organization:</label>
                            <div class="col-6">
                                <select name="organization_clone" id="organization_clone" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for organization in organizations %}
                                        <option value="{{ organization.id }}">{{ organization.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger alert-with-icon sr-only" data-notify="container" id="error_select_new_organization">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span data-notify="message">Select an Organization please.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="progress sr-only" id="progress_clone">
                                    <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                        <span class="">Cloning Providers Selected ...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-success btn-clone-providers"><i class="far fa-clone"></i> Clone</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Clone modal -->

    <!-- Modal Exclude to Payer-->
    <div id="modal_exclude_payer" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_exclude_provider_payer') }}" method="post" id="form_exclude_payer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Payer to Exclude</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Payer:</label>
                            <div class="col-12">
                                <select name="payer_exclude" id="payer_exclude" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for payer in payers %}
                                        <option value="{{ payer.id }}">{{ payer.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger alert-with-icon sr-only" data-notify="container" id="error_select_payer_exclude">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span data-notify="message">Select a Payer please.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Date:</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="datetoexclude" id="datetoexclude" data-mask="99/99/9999" placeholder="mm/dd/yyyy" value="{{ "now"|date("m/d/Y") }}">
                                </div>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_payer_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                <span class="">Excluding Providers to Payer process ...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary btn-save-exclude-payer"><i class="fas fa-users-cog"></i> Process</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->

    <!-- Modal Delete a Payer-->
    <div id="modal_delete_payer" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_delete_provider_payer') }}" method="post" id="form_delete_payer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Delete a Payer</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Payer:</label>
                            <div class="col-8">
                                <select name="payer_delete" id="payer_delete" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    {% for payer in payers %}
                                        <option value="{{ payer.id }}">{{ payer.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger alert-with-icon sr-only" data-notify="container" id="error_select_payer_delete">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span data-notify="message">Select a Payer please.</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_payer_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                <span class="">Excluding Providers to Payer process ...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="delete_payer_selected" id="delete_payer_selected" value="">
                        <a href="#" class="btn btn-primary btn-save-delete-payer"><i class="fas fa-users-cog"></i> Process</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->
    <form action="{{ path('allow-credentialing-exception')}}" method="post" id="form_allow_cred_exception"></form>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/provider/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000);

            var h=$(window).height()-340
            $('#myGrid').css('height',h)

            $('#link-menu-providers').addClass('active')

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        $('.btn-clear-date').click(function(){
            var comp=$(this).parent().siblings()
            comp.val('')
        })

        $('#payer').change(function(e){
            var idPayer=$(this).val()
            if(idPayer!=0){
                var id=idPayer
            }
        })

        $('#myGrid').on('click','.btn-disabled',function(e){
            var id=$(this).data('id')
            $('#id_provider').val(id)
        })

        $('.btn-save-disabled').click(function(e){
            e.preventDefault()

            var termination_reason=$('#termination_reason')
            var error_termination=$('#error-termination')

            var send=true

            if(termination_reason.val()==0){
                error_termination.removeClass('sr-only')
                send=false
            }else{
                error_termination.addClass('sr-only')
            }

            if(send){
                var id_provider=$('#id_provider').val();
                var termination_reason=termination_reason.val()
                var date_of_disabled=$('#dateofdisabled').val()

                var url=$('#form_disabled').attr('action');

                var data={
                    'id': id_provider,
                    'termination_reason': termination_reason,
                    'date_of_disabled': date_of_disabled
                }

                $.post(url, data, function (result) {
                    $('#modal_disabled').modal('hide')

                    var selectedData = gridOptions.api.getSelectedRows()
                    var res = gridOptions.api.updateRowData({remove: selectedData})
                })
            }
        })

        var columnDefs = [
            {headerName: "Id", field: "id1",checkboxSelection: true,unSortIcon: true,sortable: true,filter: true,maxWidth: 80,minWidth: 80,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Full name", field: "fullname",sortable: true ,unSortIcon: true,maxWidth: 150,minWidth: 150},
            {headerName: "Organization", field: "organization",sortable: true,enableRowGroup: true,unSortIcon: true,maxWidth: 250,minWidth: 250},
            {headerName: "NPI", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "License: ", field: "license",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "Medicare", field: "medicare",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Medicaid ", field: "medicaid",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "CAQH", field: "caqh",sortable: true,enableRowGroup: true,unSortIcon: true, hide:true},
            {headerName: "Degrees", field: "degrees",sortable: true,enableRowGroup: true,unSortIcon: true,hide:true},
            {headerName: "Taxonomies", field: "taxonomies",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "I. Cred Status", field: "individual_cred_status",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false, minWidth: 100},
            {headerName: "F. Cred Status", field: "facility_cred_status",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false, minWidth: 100},
            {headerName: "Payers", field: "payers",sortable: true,enableRowGroup: true,unSortIcon: true,hide:false},
            {headerName: "Is Facility", field: "is_facility",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Disabled", field: "disabled",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:150,minWidth:150,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% set a=0 %}
        {% for provider in providers %}

        var  full_name="{{ provider.first_name }}"+" "+"{{ provider.last_name }}"
        var organization="{{ provider.organization_name }}"

        organization=organization.replace('&#039;',"'")
        organization=organization.replace('&amp;',"&")

        var facility_status_id="{{ provider.status_cred_facility }}"
        var facility_credentialing_text=""

        var is_facility="No";
        var is_disabled="No";

        if (facility_status_id==1){ facility_credentialing_text="None" }
        if (facility_status_id==2){ facility_credentialing_text="Assigned to CVO" }
        if (facility_status_id==3){ facility_credentialing_text="Sent to CVO" }
        if (facility_status_id==4){ facility_credentialing_text="Approved" }
        if (facility_status_id==5){ facility_credentialing_text="Pending approval" }
        if (facility_status_id==6){ facility_credentialing_text="Declined" }
        if (facility_status_id==7){ facility_credentialing_text="Assigned Payer" }
        if (facility_status_id==8){ facility_credentialing_text="Canceled" }
        if (facility_status_id==9){ facility_credentialing_text="Complete" }
        if (facility_status_id==10){ facility_credentialing_text="Approved w/ Conditions" }
        if (facility_status_id==11){ facility_credentialing_text="Facility - Assigned Payer" }
        if (facility_status_id==12){ facility_credentialing_text="Outreach" }
        if (facility_status_id==13){ facility_credentialing_text="In Progress" }
        if (facility_status_id==14){ facility_credentialing_text="Denied" }
        if (facility_status_id==15){ facility_credentialing_text="Facility- providers credentialed individually" }


        {% if provider.is_facility==1 %}
            is_facility="Yes"
        {% endif %}

        {% if provider.disabled=="1" %}
            is_disabled="Yes"
        {% endif %}

        var obj={
            id:"{{ provider.id }}",
            id1:"{{ provider.id }}",
            fullname:full_name,
            organization: organization,
            npi: "{{ provider.npi_number }}",
            license: "{{ provider.state_lic }}",
            medicare: "{{ provider.medicare }}",
            medicaid: "{{ provider.medicaid }}",
            caqh: "{{ provider.caqh }}",
            degrees: "{{ provider.degrees }}",
            individual_cred_status: "{{ provider.status_cred }}",
            facility_cred_status: facility_credentialing_text,
            payers: "{{ provider.payers }}",
            is_facility: is_facility,
            disabled: is_disabled,
            taxonomies: "{{ provider.taxonomies }}",
        }

        {% set a=a+1 %}
        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },
        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        function viewDataAction(params){
            var id =params.data.id
            var url_view = '{{ path("admin_list_credentialing") }}'+"/"+id

            window.location.href = url_view;
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();

            var instance = gridOptions.api.getFilterInstance('disabled')
            instance.selectNothing()
            instance.selectValue('No')
            instance.applyModel();
            gridOptions.api.onFilterChanged();
        })

        function multipleSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var option=$('#select-options-multiple').val()

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Providers selected!',
                    message: 'Select at least one element please.'
                })
            }else {
                if (option == 0) {
                    var progressBar = $('#progress_delete');
                    var rows = [];

                    $.each(rowsSelected, function () {
                        var row = $(this)[0];
                        rows.push(row.id);
                    })

                    var data = {
                        'ids': rows
                    }

                    var url = "/admin/provider/delete_multiple";

                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Providers Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function () {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function () {
                                    progressBar.removeClass('sr-only')
                                    $.post(url, data, function (result) {
                                        progressBar.addClass('sr-only')

                                        var removed = result.removed;
                                        var message = result.message;

                                        $('#message-removed').html(message);

                                        if (removed == 1) {
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function () {
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        } else {
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function () {
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }
                    });
                }
                //add new Credentialing proccess for all providers selected
                if(option==1){
                    $('#modal_credentialing').modal('show')
                }

                //add new Payer
                if(option==2){
                    $('#modal_payer').modal('show')
                }
                //clone new Provider
                if(option==3){
                    $('#modal_clone_provider').modal('show')
                }

                //exlude provider for
                if(option==4){
                    $('#modal_exclude_payer').modal('show')
                }

                //delete a payer
                if(option==5){
                    $('#modal_delete_payer').modal('show')
                }
                
                //Allow Credentialing Exception
                if(option==6){
                    var rowsSelected=gridOptions.api.getSelectedRows();
                    var rows=[];

                    var longrowSelected=rowsSelected.length;

                    if(longrowSelected==0){
                        bootbox.alert({
                            title: 'Providers selected!',
                            message: 'Select at least one element please.'
                        })
                    }else {

                        var url=$('#form_allow_cred_exception').attr('action')
                       
                        $.each(rowsSelected,function(){
                            var row=$(this)[0];
                            rows.push(row.id);
                        })

                        var data={
                            'ids':rows
                        }

                        $.post(url, data, function (result) {
                             window.location.href="/admin/provider/index"       
                        })
                    }
                }
            }

        }

        function actionCellRendererFunc(params){
            var id =params.data.id

            var url_view = '{{ path("admin_view_provider") }}'+"/"+id
            var url_edit = '{{ path("admin_edit_provider") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm  bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="" data-id="'+id+'" data-toggle="modal" data-target="#modal_disabled" class="btn btn-sm  bg-warning border-warning text-warning-800 btn-icon border-2 ml-1 btn-actions btn-disabled"><i class="fas fa-user-times"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function credStatusCellRendererFunc(params){
            var individual_cred_status =params.data.individual_cred_status
            var facility_cred_status =params.data.facility_cred_status
            var html=''
            var facility_cred_status_array = facility_cred_status.split(',');

            // 1	None
            // 2	Assigned to CVO
            // 3	Sent to CVO
            // 4	Approved
            // 5	Pending approval
            // 6	Declined
            // 7	Assigned Payer
            // 8	Canceled
            // 9	Complete
            // 10 Approved w/ Conditions
            // 11 Facility - Assigned Payer


            for (var i=0; i < facility_cred_status_array.length; i++) {
                var status=facility_cred_status_array[i]
                if(status!=""){
                    if(status==1){  html+='<span class="badge badge-flat border-primary text-primary-600">None</span>' }
                    if(status==2){  html+='<span class="badge badge-flat border-primary text-primary-600">Assigned to CVO</span>' }
                    if(status==3){  html+='<span class="badge badge-flat border-primary text-primary-600">Sent to CVO</span>' }
                    if(status==4){  html+='<span class="badge badge-flat border-primary text-primary-600">Approved</span>' }
                    if(status==5){  html+='<span class="badge badge-flat border-primary text-primary-600">Pending approval</span>' }
                    if(status==6){  html+='<span class="badge badge-flat border-primary text-primary-600">Declined</span>' }
                    if(status==7){  html+='<span class="badge badge-flat border-primary text-primary-600">Assigned Payer</span>' }
                    if(status==8){  html+='<span class="badge badge-flat border-primary text-primary-600">Canceled</span>' }
                    if(status==9){  html+='<span class="badge badge-flat border-primary text-primary-600">Complete</span>' }
                    if(status==10){  html+='<span class="badge badge-flat border-primary text-primary-600">Approved w/ Conditions</span>' }
                    if(status==11){  html+='<span class="badge badge-flat border-primary text-primary-600">Facility - Assigned Payer</span>' }
                }
            }

            return html
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        $('.btn-save-new-payer').click(function(e){
            e.preventDefault()

            var payer_val=$('#payer').val()
            var send=true;
            var error_select_payer=$('#error_select_payer')

            if(payer==0){
                send=false;
                error_select_payer.removeClass('sr-only')
            }else{
                error_select_payer.addClass('sr-only')
            }

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var data1={
                'payer': payer_val,
                'ids': rows,
            }
            var url= $('#form_payer').attr('action')

            if(send==true){
                $('#progress_payer_process').removeClass('sr-only')
                $.post(url, data1, function (result) {
                    $('#progress_payer_process').addClass('sr-only')
                    $('#modal_payer').modal('hide')
                    window.location.href="/admin/provider/list"
                })
            }
        })

        $('.btn-save-new-cred').click(function(e){
            e.preventDefault()

            var cvo=$('#cvo').val()
            var submitted_to_cvo=$('#submitted_to_cvo').val()
            var effective_date=$('#effective_date').val()
            var sanction_date=$('#sanction_date').val()
            var accepted_date=$('#accepted_date').val()
            var complete_date=$('#complete_date').val()
            var denied_date =$('#denied_date').val()
            var appeal_date=$('#appeal_date').val()
            var credentialing_status=$('#credentialing_status').val()

            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var data={
                'ids': rows,
                'cvo': cvo,
                'submitted_to_cvo': submitted_to_cvo,
                'effective_date': effective_date,
                'sanction_date': sanction_date,
                'accepted_date': accepted_date,
                'complete_date': complete_date,
                'denied_date': denied_date,
                'appeal_date': appeal_date,
                'credentialing_status': credentialing_status
            }

            var error_cvo=$('#error_cvo')
            var send=true
            if(cvo==0){
                error_cvo.removeClass('sr-only')
                send=false
            }else{
                error_cvo.addClass('sr-only')
            }

            var url= $('#form_new_cred_process').attr('action')

            var progress_credentialing_process=$('#progress_credentialing_process')
            if(send==true){
                progress_credentialing_process.removeClass('sr-only')

                $.post(url, data, function (result) {
                    progress_credentialing_process.addClass('sr-only')
                    $('#modal_credentialing').modal('hide')
                    window.location.href="/admin/provider_credentialing/credentialing_list"
                })
            }
        })

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){

                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        $('.btn-clone-providers').click(function(e){
            e.preventDefault()

            var url=$('#form_clone').attr('action')
            var rowsSelected=gridOptions.api.getSelectedRows();
            var rows=[];

            $.each(rowsSelected,function(){
                var row=$(this)[0];
                rows.push(row.id);
            })

            var send=true

            var organization_clone=$('#organization_clone')
            var error_select_new_organization=$('#error_select_new_organization')

            if(organization_clone.val()==0){
                send=false
                error_select_new_organization.removeClass('sr-only')
            }else{
                error_select_new_organization.addClass('sr-only')
            }

            var data={
                'ids': rows,
                'organization': organization_clone.val()
            }

            if(send){
                $('#progress_clone').removeClass('sr-only')
                $.post(url, data, function (result) {
                    $('#progress_clone').removeClass('sr-only')
                    $('#modal_clone_provider').modal('hide')
                })
            }

        })

        $('.btn-save-exclude-payer').click(function(e){
            e.preventDefault()

            var payer_val=$('#payer_exclude').val()
            var send=true;
            var error_select_payer=$('#error_select_payer_exclude')

            if(payer_val==0){
                send=false;
                error_select_payer.removeClass('sr-only')
            }else{
                error_select_payer.addClass('sr-only')
            }

            var mask_top=$('#mask-top')

            if(send){
                mask_top.removeClass('sr-only')

                var url=$('#form_exclude_payer').attr('action')
                var rowsSelected=gridOptions.api.getSelectedRows();
                var rows=[]

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var datetoexclude=$('#datetoexclude').val()
                var data={
                    'ids': rows,
                    'payer': payer_val,
                    'date': datetoexclude
                }


                $.post(url, data, function (result) {
                    mask_top.addClass('sr-only')
                    $('#modal_exclude_payer').modal('hide')
                })
            }
        })

        $('.btn-save-delete-payer').click(function(e){
            e.preventDefault()

            var payer_val=$('#payer_delete').val()
            var send=true
            var error_select_payer=$('#error_select_payer_delete')

            if(payer_val==0){
                send=false;
                error_select_payer.removeClass('sr-only')
            }else{
                error_select_payer.addClass('sr-only')
            }

            var mask_top=$('#mask-top')

            if(send){
                mask_top.removeClass('sr-only')

                var url=$('#form_delete_payer').attr('action')
                var rowsSelected=gridOptions.api.getSelectedRows();
                var rows=[];

                $.each(rowsSelected,function(){
                    var row=$(this)[0];
                    rows.push(row.id);
                })

                var data={
                    'ids': rows,
                    'payer': payer_val
                }

                $.post(url, data, function (result) {
                    mask_top.addClass('sr-only')
                    $('#modal_delete_payer').modal('hide')
                })
            }
        })

        function encode_utf8(s) {
            return unescape(encodeURIComponent(s));
        }

        function decode_utf8(s) {
            return decodeURIComponent(escape(s));
        }
    </script>

{% endblock %}
