{% extends 'base.html.twig' %}
{% block body %}
   <style>
      .wizard>.actions {
         position: absolute;
         text-align: right;
         padding: 1.25rem;
         padding-top: 0;
         top: 129px;
         right: 0;
      }

      .card-title {
         color: #2E5C94;
         font-weight: 500;
         font-size: 14px;
      }

      .card.active{
         border: 2px solid #52bad5;
      }

      .card.merged{
         border: 2px solid #4caf50;
      }

      .card.skiped{
         border: 2px solid #f44336;
      }

      .grid4col{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 10px;
      }

   </style>
   {{ include('alerts/alert.html.twig') }}
   <div class="mb-3">
      <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
         <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
               <div class="breadcrumb">
                  <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                  <a href="{{ path('admin_view_organization',{'id':org, 'tab': 2}) }}" class="breadcrumb-item">Organization</a>
                  <span class="breadcrumb-item active">Load Providers</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="content-page">
      <div class="card">
         <div class="card-header header-elements-inline">
            <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Load Providers Wizard for <strong>{{ orgObj.name }}</strong></span>
            </h5>
            <div class="header-elements">
               <a href="{{ path('admin_view_organization',{'id':org, 'tab': 2}) }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Organization</a>
               <a href="{{ path('admin_upload_provider',{'id':org}) }}" class="btn btn-dark btn-sm mr-1"><i class="fas fa-upload"></i> Upload Providers</a>
               <a href="{{ path('admin_new_provider') }}" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> New Provider</a>
            </div>
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col-12">
                  <div class="card border-top-success rounded-top-0">
                     <div class="card-header"></div>
                     <div class="card-body">
                        <div class="row">
                           <div class="col-12">
                              <!-- Wizard with validation -->
                              <form method="post" action="{{ path('admin_create_ajax_provider') }}" id="save-provider-ajax-form"></form>
                              <form class="wizard-form steps-validation" action="{{ path('admin_create_provider') }}" enctype="multipart/form-data" data-fouc id="form">
                                 <input type="hidden" name="save_status" id="save_status" value="0">
                                 <input type="hidden" name="page" id="page" value="0">
                                 <h6>Provider from sheet</h6>
                                 <fieldset class="cont-step-wizard">
                                    <label class="col-12 col-form-label">Providers on Sheet:</label>
                                    <p class="ml-2"><strong>Note:</strong> Please select the providers to add and Click on Next button</p>
                                    <div class="row mt-4">
                                       <div class="col-12">
                                          <div class="grid4col">
                                             <div class="item">
                                                <div class="card mb-0" style="height: 100%">
                                                   <div class="card-header bg-primary text-white header-elements-inline">
                                                      <h6 class="card-title text-white">Total Providers from sheet</h6>
                                                      <div class="header-elements"><span class="badge badge-dark badge-pill" id="totaltoload">{{ providers|length }}</span></div>
                                                   </div>
                                                   <div class="card-body">
                                                      Total providers loaded from sheet.<br>
                                                      &nbsp;
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="item">
                                                <div class="card mb-0" style="height: 100%">
                                                   <div class="card-header bg-info text-white header-elements-inline">
                                                      <h6 class="card-title text-white">New Provider</h6>
                                                      <div class="header-elements"><span class="badge badge-dark badge-pill" id="loaded">{{ totalNew }}</span></div>
                                                   </div>
                                                   <div class="card-body">
                                                      This Provider is new and you can select it for add to <strong>{{ orgObj.name }}</strong>.
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="item">
                                                <div class="card mb-0" style="height: 100%">
                                                   <div class="card-header bg-success text-white header-elements-inline">
                                                      <h6 class="card-title text-white">Provider Exist on BSNNET</h6>
                                                      <div class="header-elements"><span class="badge badge-dark badge-pill" id="loaded">{{ totalExist }}</span></div>
                                                   </div>
                                                   <div class="card-body">
                                                      This provider exist on BSNNET but on other organization, In this case you can assign this provider for <strong>{{ orgObj.name }}</strong>.
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="item">
                                                <div class="card mb-0" style="height: 100%">
                                                   <div class="card-header bg-danger text-white header-elements-inline">
                                                      <h6 class="card-title text-white">Provider Exist on <strong>{{ orgObj.name }}</strong></h6>
                                                      <div class="header-elements"><span class="badge badge-dark badge-pill" id="loaded">{{ totalExistOrganization }}</span></div>
                                                   </div>
                                                   <div class="card-body">
                                                      This provider exist on the  <strong>{{ orgObj.name }}</strong> and you not need take any action on it.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          {% if providers|length>0 %}
                                          <div class="table-responsive table-striped table-hover mt-3">
                                             <table class="table">
                                                <thead>
                                                <tr>
                                                   <th>
                                                      <div class="custom-control custom-checkbox custom-control-inline">
                                                         <input type="checkbox" class="custom-control-input" id="select_all" name="select_all" value="1">
                                                         <label class="custom-control-label" for="select_all"></label>
                                                      </div>
                                                   </th>
                                                    {% for headerColumn in headerColumns %}
                                                      <th scope="col"  style="font-size: 13px;">{{ headerColumn }}</th>
                                                    {% endfor %}
                                                   </tr>
                                                </thead>
                                                {% set col=1 %}
                                                {% set checkIt=0 %}
                                                {% set contTemp=1 %}
                                                {% for provider in providers %}
                                                       {% if provider['exist_org']==true %}
                                                          <tr  id="row_{{ provider['npi'] }}" data-id="{{ provider['npi'] }}" class="table-danger rows_from_sheet">
                                                       {% else %}
                                                          {% set checkIt=1 %}
                                                          {% if provider['exist']==true %}
                                                             <tr  id="row_{{ provider['npi'] }}" data-id="{{ provider['npi'] }}" class="table-success rows_from_sheet">
                                                             <input type="hidden" id="provider_exist_{{ provider['npi'] }}"  value="true" />
                                                          {% else %}
                                                              {% if provider['npi']=="" or provider['npi']=="N/A" or provider['npi']=="n/a" %}
                                                                  <tr  id="row_{{ contTemp }}" data-id="{{ contTemp }}" class="rows_from_sheet table-info">
                                                                  <input type="hidden" id="provider_exist_{{ contTemp }}"  value="false" />
                                                                 {% set contTemp=contTemp+1 %}
                                                              {% else %}
                                                                  <tr  id="row_{{ provider['npi'] }}" data-id="{{ provider['npi'] }}" class="rows_from_sheet table-info">
                                                                  <input type="hidden" id="provider_exist_{{ provider['npi'] }}"  value="false" />
                                                              {% endif %}

                                                          {% endif %}
                                                       {% endif %}
                                                      <td>
                                                         {% if checkIt==1 %}
                                                         <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input check_provider" id="provider_sel_{{ provider['npi'] }}" name="select_provider" value="{{ provider['npi'] }}">
                                                            <label class="custom-control-label" for="provider_sel_{{ provider['npi'] }}"></label>
                                                         </div>
                                                         {% endif %}
                                                      </td>
                                                       {% set c=1 %}
                                                       {% for headerColumn in headerColumns %}
                                                         <td style="font-size: 13px;">{{ provider['column'~c] }}</td>
                                                          {% set c=c+1 %}
                                                       {% endfor %}
                                                   </tr>
                                                   {% set checkIt=0 %}
                                                {% endfor %}
                                             </table>
                                          </div>
                                          {% endif %}
                                       </div>
                                    </div>
                                 </fieldset>
                                 <h6>Providers on Organization</h6>
                                 <fieldset class="cont-step-wizard">
                                    <div class="row">
                                       <div class="col-12">
                                           <label class="col-12 col-form-label">Providers List from Organization ({{ orgObj.name }}):</label>
                                          <p class="ml-2"><strong>Note:</strong> Please for terminate the provider you can click on Termiante button and select the Termination Reason and the Termination Date</p>
                                                <div class="form-group row">
                                                   <div class="col-12">
                                                      <div class="table-responsive table-striped mt-3">
                                                         <table class="table table-hover table-striped">
                                                            <thead>
                                                               <tr>
                                                                  <th>ID</th>
                                                                  <th>Last name</th>
                                                                  <th>First name</th>
                                                                  <th>NPI Number</th>
                                                                  <th>Status</th>
                                                                  <th style="text-align: right">Terminate</th>
                                                               </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for provider in providersOrg %}
                                                               <tr data-id="{{ provider.id }}" id="row_{{ provider.id }}">
                                                                  <td>{{ provider.id }}</td>
                                                                  <td>{{ provider.lastname }}</td>
                                                                  <td>{{ provider.firstname }}</td>
                                                                  <td>{{ provider.npinumber }}</td>
                                                                  <td>
                                                                     {% set compareProvider=false %}
                                                                     {% for pro in providers %}
                                                                        {% if pro['npi']==provider.npinumber %}
                                                                           {% set compareProvider=true %}
                                                                        {% endif %}
                                                                     {% endfor %}
                                                                     {% if compareProvider==true %}
                                                                        <span class="badge badge-success">Exist on Sheet</span>
                                                                     {% else %}
                                                                        <span class="badge badge-danger">Not Exist on Sheet</span>
                                                                     {% endif %}
                                                                  </td>
                                                                  <td style="text-align: right">
                                                                     {% if compareProvider==false %}
                                                                        <a href="" data-id="{{ provider.id }}" data-toggle="modal" data-target="#modal_disabled" class="btn btn-sm  bg-warning border-warning text-warning-800 btn-icon border-2 ml-1 btn-actions btn-disabled"><i class="fas fa-user-times"></i> Terminate</a>
                                                                     {% else %}
                                                                        -
                                                                     {% endif %}
                                                                  </td>
                                                               </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                         </table>
                                                      </div>
                                                   </div>
                                                </div>
                                       </div>
                                    </div>
                                 </fieldset>
                                 <h6>Assign Provider to Address</h6>
                                 <fieldset class="cont-step-wizard">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <label class="col-12 col-form-label">Please assign the provider to an address:</label>
                                          <div class="table-responsive table-striped mt-3">
                                             <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                   <th>NPI</th>
                                                   <th>Full name</th>
                                                   {% for billingAddr in billingAddress %}
                                                      <th>
                                                         <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input select_all_addr_e" id="select_all_{{ billingAddr.id }}" name="select_all" value="{{ billingAddr.id }}">
                                                            <label class="custom-control-label" for="select_all_{{ billingAddr.id }}"></label>
                                                         </div>
                                                         {{ billingAddr.street }} - {{ billingAddr.County }} - {{ billingAddr.City }}
                                                      </th>
                                                   {% endfor %}
                                                </tr>
                                                </thead>
                                                <tbody id="cont_prov_added">

                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </fieldset>
                              </form>
                              <!-- /wizard with validation -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Modal Disabled-->
   <div id="modal_disabled" class="modal fade" tabindex="-1">
      <form action="{{ path('admin_disabled_provider') }}" method="post" id="form_disabled">
         <input type="hidden" name="id_provider" id="id_provider" value="">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Termination provider</span></h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="form-group row" id="cont-termination-reason">
                        <label class="col-12 col-form-label">Termination reason:</label>
                        <div class="col-12">
                           <select name="termination_reason" id="termination_reason" class="form-control select">
                              <option value="0">- Select One -</option>
                              {% for terminationreason in terminationreasons %}
                                 <option value="{{ terminationreason.id }}">{{ terminationreason.name }}</option>
                              {% endfor %}
                           </select>
                           <div class="alert alert-warning alert-styled-left alert-dismissible sr-only" id="error-termination">
                              <span class="font-weight-semibold">Warning!</span> Please select one Termination reason.
                           </div>
                        </div>
                     </div>
                     <div class="form-group row" id="cont-date-disabled">
                        <label class="col-12 col-form-label">Date of disabled:</label>
                        <div class="col-12">
                           <div class="input-group">
                                    <span class="input-group-prepend">
                                         <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									</span>
                              <input type="text" class="form-control" id="dateofdisabled"  name="dateofdisabled">
                              <span class="input-group-append">
                                        <button class="btn btn-info btn-clear-date" type="button"><i class="fas fa-eraser"></i></button>
                                    </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <a href="#" class="btn btn-success btn-save-disabled"><i class="fas fa-save"></i> Save</a>
                  <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Close</a>
               </div>
            </div>
         </div>
      </form>
   </div>
   <!-- /Disabled modal -->
   <input type="hidden" name="total_disabled" id="total_disabled" value="0" />
   <input type="hidden" name="id_providers_added" id="id_providers_added"  value="" />
   <input type="hidden" name="save_status" id="save_status"  value="0" />
   <form action="{{ path('admin_load_provider_add_ajax') }}" method="post" id="form_load_prodadd_ajax"></form>
   <form action="{{ path('add_provider_addr_ajax') }}" method="post" id="form_add_addr_ajax"></form>

{% endblock %}
 {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/provider/validation_add.js') }}"></script>
    <script src="{{ asset('js/provider/uploader_bootstrap.js') }}"></script>
    <script src="{{ asset('js/form_input_groups.js') }}"></script>
    <script type="text/javascript">
       $(document).ready(function (e) {

          // Success
          $('.form-check-input-styled-success').uniform({
             wrapperClass: 'border-success-600 text-success-800'
          });

          $('.select_all_addr_e').click(function(e){
            var idAddr=$(this).val()

             var check_addr=$('.check_addr_'+idAddr)
             if($(this).is(':checked')){
                   check_addr.each(function(index,$this){
                   var check_a=$(this);
                   check_a.prop('checked',true);
                });
             }else{
                check_addr.each(function(index,$this){
                   var check_a=$(this);
                   check_a.prop('checked',false);
                });
             }
          })

          $('#dateofdisabled').AnyTime_picker({
             format: '%m/%d/%Z'
          })

          $('#cont_providers_to_terminate').on('click','.btn-disabled',function(e){
             var id=$(this).data('id')
             $('#id_provider').val(id)
          })

          $('.btn-disabled').click(function(e){
              e.preventDefault()
              var id=$(this).data('id')
              $('#id_provider').val(id)
          })

          $('.select-search').select2();
          $('.select').select2({
             minimumResultsForSearch: Infinity
          })

          $('#select_all').click(function(e){
             var providers=$('.check_provider')
              if($(this).is(':checked')){
                 providers.each(function(index,$this){
                    var provider=$(this);
                    provider.prop('checked',true);
                 });
              }else{
                 providers.each(function(index,$this){
                    var provider=$(this);
                    provider.prop('checked',false);
                 });
              }
          })

          $('#link-menu-organizations').addClass('active')
          $('.select-search').select2();
          $('.select').select2({
             minimumResultsForSearch: Infinity
          })
       })

       function totalCompleted(){
          var col_actives=$('.col_actives')
          var total=0

          col_actives.each(function(){
             var colA= $(this).val()
             if(colA==1){
                total++
             }
          });

         return total
       }

       function setFieldProvider(col){
          var field_selected=$('#field_selected_'+col)
          var provider_property=$('#provider-property-'+col).val()

          if(provider_property==0){
             provider_property="-"
          }

          return provider_property
       }

       var FormWizard = function () {
          var _componentWizard = function () {
             if (!$().steps) {
                console.warn('Warning - steps.min.js is not loaded.');
                return;
             }

             if (!$().validate) {
                console.warn('Warning - validate.min.js is not loaded.');
                return;
             }

             var form = $('.steps-validation').show();

             $('.steps-validation').steps({
                headerTag: 'h6',
                bodyTag: 'fieldset',
                titleTemplate: '<span class="number">#index#</span> #title#',
                labels: {
                   previous: '<i class="icon-arrow-left13 mr-2" /> Previous',
                   next: 'Next <i class="icon-arrow-right14 ml-2" />',
                   finish: 'Save  <i class="fas fa-save ml-2"></i>'
                },
                transitionEffect: 'fade',
                autoFocus: true,
                onStepChanging: function (event, currentIndex, newIndex) {
                   if (currentIndex > newIndex) {
                      return true;
                   }

                   if (currentIndex == 0) {
                      var save_status=$('#save_status')
                      if(save_status.val()==0) {
                         var form_ajax = $('#save-provider-ajax-form')

                         var rows = $('.rows_from_sheet')
                         var progress_upload_provider = $('#progress_upload_provider')

                         rows.each(function (index, $this) {
                            var row = $(this)
                            var npi_id = row.data('id')
                            var exist=$('#provider_exist_'+npi_id).val()
                            var checkRow = $('#provider_sel_' + npi_id)

                            if (checkRow.is(':checked')) {
                               var data = {
                                  organization: {{ org }},
                                  lastname: null,
                                  fisrtname: null,
                                  dob: null,
                                  social: null,
                                  gender: null,
                                  npi: null,
                                  initial: null,
                                  caqh: null,
                                  statelicencenumber: null,
                                  statelicenseissuedate: null,
                                  languages: null,
                                  provider_type: null,
                                  provider_specialty: null,
                                  contrated_state: null,
                                  medicaid: null,
                                  medicare: null,
                                  degrees: null,
                                  exist: exist
                               }

                               var cont = 1
                               var languajes = ""

                               row.find('td').each(function () {
                                  var td = $(this)
                                  if (cont == 2) {
                                     data.lastname = td.html()
                                  }
                                  if (cont == 3) {
                                     data.fisrtname = td.html()
                                  }
                                  if (cont == 4) {
                                     data.initial = td.html()
                                  }
                                  if (cont == 5) {
                                     data.degrees = td.html()
                                  }
                                  if (cont == 6) {
                                     data.dob = td.html()
                                  }
                                  if (cont == 7) {
                                     data.social = td.html()
                                  }
                                  if (cont == 8) {
                                     if (td.html() == "F") {
                                        data.gender = "Female"
                                     }
                                     if (td.html() == "M") {
                                        data.gender = "Male"
                                     }
                                  }
                                  if (cont == 9) {
                                     data.npi = td.html()
                                  }
                                  if (cont == 10) {
                                     data.caqh = td.html()
                                  }
                                  if (cont == 11) {
                                     data.statelicencenumber = td.html()
                                  }
                                  if (cont == 12) {
                                     data.statelicenseissuedate = td.html()
                                  }

                                  var languaje1 = ""
                                  var languaje2 = ""
                                  var languaje3 = ""
                                  var languaje4 = ""

                                  if (cont == 13) {
                                     languaje1 = td.html()
                                  }
                                  if (cont == 14) {
                                     languaje2 = td.html()
                                  }
                                  if (cont == 15) {
                                     languaje3 = td.html()
                                  }
                                  if (cont == 16) {
                                     languaje4 = td.html()
                                  }


                                  if (languaje1 != "")
                                     languajes += languaje1 + ","
                                  if (languaje2 != "")
                                     languajes += languaje2 + ","
                                  if (languaje3 != "")
                                     languajes += languaje3 + ","
                                  if (languaje4 != "")
                                     languajes += languaje4

                                  data.languages = languajes

                                  if (cont == 17) {
                                     data.provider_type = td.html()
                                  }
                                  if (cont == 18) {
                                     data.provider_specialty = td.html()
                                  }
                                  if (cont == 19) {
                                     data.contrated_state = td.html()
                                  }
                                  if (cont == 20) {
                                     data.medicaid = td.html()
                                  }
                                  if (cont == 21) {
                                     data.medicare = td.html()
                                  }

                                  cont++
                               });

                               var url = form_ajax.attr('action')
                               var id_providers_added = $('#id_providers_added')
                               $.post(url, data, function (result) {
                                  var id = result.id
                                  var ids = id_providers_added.val()
                                  ids += id + ","
                                  id_providers_added.val(ids)
                               })
                            }
                         });

                         save_status.val(1)
                      }
                   }

                   if (currentIndex == 1) {
                      var cont_prov_added=$('#cont_prov_added')
                      var id_providers_added=$('#id_providers_added').val()

                      var url=$('#form_load_prodadd_ajax').attr('action')

                      var data={
                         id_providers_added: id_providers_added
                      }

                      $.post(url, data, function (result) {
                          var providers=result.providers
                          var total=result.total

                         var html=""
                         $.each(providers, function (index) {
                            var provID=providers[index]['id']
                            html+='<tr>'
                            html+='<td>'+providers[index]['npi']+'</td>'
                            html+='<td>'+providers[index]['name']+'</td>'

                            {% for billingAddr in billingAddress %}
                            var btn='<div class="custom-control custom-checkbox custom-control-inline">'
                            btn+='<input type="checkbox" class="custom-control-input checks_prov_add_address check_addr_{{ billingAddr.id }}" id="addr{{ billingAddr.id }}_asign_'+provID+'" name="asign_add" value="'+provID+'">'
                            btn+='<label class="custom-control-label" for="addr{{ billingAddr.id }}_asign_'+provID+'"></label></div>'

                                html+='<td data-id="{{ billingAddr.id }}">'+btn+'</td>'
                            {% endfor %}

                            html+='</tr>'
                         });

                         cont_prov_added.append(html)
                      })
                   }

                   if (currentIndex == 2) {

                   }

                   // Needed in some cases if the user went back (clean up)
                   if (currentIndex < newIndex) {

                      // To remove error styles
                      form.find('.body:eq(' + newIndex + ') label.error').remove();
                      form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
                   }

                   form.validate().settings.ignore = ':disabled,:hidden';
                   return form.valid();
                },
                onFinishing: function (event, currentIndex) {
                   form.validate().settings.ignore = ':disabled';
                   return form.valid();
                },
                onFinished: function (event, currentIndex) {

                   var providers=$('.checks_prov_add_address')

                   providers.each(function(index,$this){

                      var provider=$(this);
                      var addrId=provider.parent('div').parent('td').data('id')

                      if(provider.is(':checked')){
                         var providerId=provider.val()
                         var data={
                            addrId: addrId,
                            providerId: providerId
                         }

                         var url=$('#form_add_addr_ajax').attr('action')

                         $.post(url, data, function (result) {

                         })
                      }
                   })
                   var url_redirect="/admin/organization/view/{{ org }}/2"
                   window.location.href=url_redirect

                }
             });

             // Initialize validation
             $('.steps-validation').validate({
                ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
                errorClass: 'validation-invalid-label',
                highlight: function (element, errorClass) {
                   $(element).removeClass(errorClass);
                },
                unhighlight: function (element, errorClass) {
                   $(element).removeClass(errorClass);
                },

                // Different components require proper error label placement
                errorPlacement: function (error, element) {

                   // Unstyled checkboxes, radios
                   if (element.parents().hasClass('form-check')) {
                      error.appendTo(element.parents('.form-check').parent());
                   }

                   // Input with icons and Select2
                   else if (element.parents().hasClass('form-group-feedback') || element.hasClass('select2-hidden-accessible')) {
                      error.appendTo(element.parent());
                   }

                   // Input group, styled file input
                   else if (element.parent().is('.uniform-uploader, .uniform-select') || element.parents().hasClass('input-group')) {
                      error.appendTo(element.parent().parent());
                   }

                   // Other elements
                   else {
                      error.insertAfter(element);
                   }
                },
                rules: {
                   email: {
                      email: true
                   }
                }
             });
          };

          // Uniform
          var _componentUniform = function () {
             if (!$().uniform) {
                console.warn('Warning - uniform.min.js is not loaded.');
                return;
             }

             // Initialize
             $('.form-input-styled').uniform({
                fileButtonClass: 'action btn bg-blue'
             });
          };

          // Select2 select
          var _componentSelect2 = function () {
             if (!$().select2) {
                console.warn('Warning - select2.min.js is not loaded.');
                return;
             }

             // Initialize
             var $select = $('.form-control-select2').select2({
                minimumResultsForSearch: Infinity,
                width: '100%'
             });

             // Trigger value change when selection is made
             $select.on('change', function () {
                $(this).trigger('blur');
             });
          };


          //
          // Return objects assigned to module
          //

          return {
             init: function () {
                _componentWizard();
                _componentUniform();
                _componentSelect2();
             }
          }
       }();


       // Initialize module
       // ------------------------------

       document.addEventListener('DOMContentLoaded', function () {
          FormWizard.init();
       });


       $('.btn-save-disabled').click(function(e){
          e.preventDefault()
          var termination_reason=$('#termination_reason')
          var error_termination=$('#error-termination')

          var send=true

          if(termination_reason.val()==0){
             error_termination.removeClass('sr-only')
             send=false
          }else{
             error_termination.addClass('sr-only')
          }

          if(send){
             var id_provider=$('#id_provider').val();
             var termination_reason=termination_reason.val()
             var date_of_disabled=$('#dateofdisabled').val()

             var url=$('#form_disabled').attr('action')

             var data={
                'id': id_provider,
                'termination_reason': termination_reason,
                'date_of_disabled': date_of_disabled
             }

             $.post(url, data, function (result) {
                $('#modal_disabled').modal('hide')
                var rowDis=$('#row_'+id_provider)
                rowDis.fadeOut(500)


             })
          }
       })

    </script>
 {% endblock %}
