{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Search NPI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">NPPES NPI Registry</span></h5>
            </div>
            <div class="card-body">
                <form action="{{ path('admin_api_npi') }}" method="POST" id="form">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">NPI Number:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="npi" id="npi">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">First name:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="first_name" id="first_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Last name:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="last_name" id="last_name">
                    </div>
                </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Organization name:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="organization_name" id="organization_name">
                        </div>
                    </div>
                <div class="form-group row">
                    <div class="col-lg-6 offset-lg-2">
                        <div class="progress sr-only" id="progress_search">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Searching Data ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-10 offset-lg-2 text-left">
                        <a href="#" class="btn btn-info bnt-send"><i class="fas fa-search"></i> Search</a>
                        <a href="#" class="btn btn-danger btn-clear"><i class="fas fa-ban"></i> Clear</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header header-elements-inline">
                <p><span id="total_result">0</span> Results</p>
            </div>
            <div class="card-body">
                <div class="row sr-only" id="cont_no_result">
                    <div class="col-12">
                        <h2 class="text-danger">No records found!</h2>
                        <p>There are no results matching your search</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 sr-only" id="cont_result">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">

      $('.btn-clear').click(function (e) {
          e.preventDefault()

          $('#npi').val('')
          $('#first_name').val('')
          $('#last_name').val('')
          $('#cont_result').html('')
          $('#organization_name').val('')
          $('#total_result').html(0)

      })

      $('.bnt-send').click(function(e){
          e.preventDefault()

          var form=$('#form')
          var url=form.attr('action')

          var data=form.serialize()

          var progress_bar=$('#progress_search')
          progress_bar.removeClass('sr-only')

          var total_result=$('#total_result')
          var cont_no_result=$('#cont_no_result')
          var cont_result=$('#cont_result')
          var html=""

          $.post(url, data, function (result) {
              var jsonObj = $.parseJSON(result.json_result);

              if(jsonObj.Errors){
                  total_result.html(0)
                  cont_no_result.removeClass('sr-only')
              }
              if(jsonObj.result_count>=1){
                  total_result.html(jsonObj.result_count)

                  var resultsObj=jsonObj.results

                  $.each(resultsObj, function( index, objNPI ) {

                     if(objNPI.enumeration_type=="NPI-1"){
                         var total_addrs=(objNPI.addresses).length
                         var taxonomies=objNPI.taxonomies
                         var htmlT=''

                         $.each(taxonomies, function( index, taxonomy ) {
                             htmlT+=taxonomy.code+" ";
                         })

                         var first_name=objNPI.basic.first_name
                         var last_name=objNPI.basic.last_name
                         var gender=objNPI.basic.gender
                         var npi_number=objNPI.number
                         var enumeration_date=objNPI.basic.enumeration_date
                         var status=objNPI.basic.status

                         var credential="-"
                         if(objNPI.basic.credential){
                             credential=objNPI.basic.credential
                         }

                         html+='<div class="mb-2">'
                         html+='<a href="" class="text-primary" style="font-weight: 600">'+first_name+' '+last_name+' (NPI Number:'+npi_number+') [NPI-1]</a>'
                         html+='<p class="mb-0"><strong>Credential:</strong> '+credential+'  <strong>Gender:</strong>'+gender+'  <strong>Enumeration date: </strong>'+enumeration_date+'  <strong>Status: </strong>'+status+' <strong>Total Addresses:'+total_addrs+' </strong></p>'
                         html+='<p><strong>Taxonomies: </strong>'+htmlT+'</p>'
                         html+='</div>'
                     }
                     if(objNPI.enumeration_type=="NPI-2"){
                         var total_addrs=(objNPI.addresses).length
                         var taxonomies=objNPI.taxonomies
                         var htmlT=''

                         $.each(taxonomies, function( index, taxonomy ) {
                             htmlT+=taxonomy.code+" ";
                         })

                         var name=objNPI.basic.name
                         var npi_number=objNPI.number
                         var organization_name=objNPI.basic.organization_name

                         html+='<div class="mb-2">'
                         html+='<a href="" class="text-warning">'+name+' (NPI Number:'+npi_number+') [NPI-2]</a>'
                         html+='<p><strong>Taxonomies: </strong>'+htmlT+'</p>'
                         html+='</div>'
                     }

                  })
                  console.log(resultsObj)
                  cont_result.removeClass('sr-only')
                  cont_no_result.addClass('sr-only')
                  cont_result.html(html)
              }

              progress_bar.addClass('sr-only')
          });

      })

    </script>
{% endblock %}
