{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Update FCC Data</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('fcc_update_data_process') }}" method="POST" id="form">
                                            <div class="form-group row">
                                                <label class="col-3"><h4 class="text-primary-800">Total of Providers:</h4></label>
                                                <div class="col-9">
                                                    <input type="hidden" id="total_providers" >
                                                    <span class="badge badge-primary badge-pill">{{ providers|length }}</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="progress">
                                                        <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" id="progress_process" style="width: 0%">
                                                            <span class="" id="msg-progress"><span id="percent_value"></span>% Completed</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-primary bnt-send"><i class="fas fa-database"></i> Update Data</a>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        let providers=[]
        let url=$('#form').attr('action')
        $(document).ready(function (){
            {% for provider in providers %}
                var id="{{ provider.id }}"
                providers.push(id)
            {% endfor %}
        })


        $('.bnt-send').click(function(e){
            var pos=0
            process_ajax(pos)
        })

         function process_ajax(pos) {
             if(pos < providers.length){
                 var id=providers[pos]
                 var data={
                     'id':id,
                     'type':1
                 }
                 $.ajax({
                     url: url,
                     method: "POST",
                     data: data
                 }).done(function(data) {
                     var total=parseInt(providers.length)
                     var current=parseInt(pos+1)
                     var percent=parseFloat(current*100)/total

                     $('#percent_value').html(percent.toFixed(2))

                     $('#progress_process').css('width',percent+'%')
                     process_ajax(pos + 1);
                 });
             }
        }

    </script>
 {% endblock %}