{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item">Company Status</span>
                        <span class="breadcrumb-item active">Care Geographicall</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Care Geographically</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="text-slate">Ratio of behavioral healthcare provider type to Insured</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-xs-12">
                                        <div class="form-group form-group-feedback form-group-feedback-left">
                                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                                            <div class="form-control-feedback form-control-feedback-sm">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-2">
                                        <form id="form_search_payer" method="post" action="{{ path('load_customer_payer') }}"></form>
                                        <select class="form-control select" id="payer" name="payer" data-fouc>
                                            <option value="0">-- Select a Payer --</option>
                                            {% for payer in payers %}
                                                <option value="{{ payer.id }}">{{ payer.name }}</option>
                                            {% endfor %}
                                                <option value="all_medicaid">All Medicaid</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <a href="#" class="btn btn-info" onclick="loadcustomer()"><i class="fas fa-cog"></i> Execute</a>
                                    </div>
                                    <div class="col-6 offset-2">
                                        <div class="row">
                                            <div class="col-lg-12 text-right">
                                                <label class="col-form-label mr-1">Page size:</label>
                                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                                    <option value="25" selected>25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="500">500</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(){
             $('#link-group-report').addClass('nav-item-expanded')
             $('#link-group-report').addClass('nav-item-open')
             $('#link-group-compaty-status').addClass('nav-item-expanded')
             $('#link-group-compaty-status').addClass('nav-item-open')
             $('#link-menu-providers-status').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             var h=$(window).height()-340
             $('#myGrid').css('height',h)

         })

         var columnDefs = [
             {headerName: "Id", field: "id",sortable: true,unSortIcon: true,maxWidth: 75,headerCheckboxSelectionFilteredOnly: true},
             {headerName: "County", field: "county",sortable: true,unSortIcon: true},
             {headerName: "MD,DO", field: "md_do",sortable: true,unSortIcon: true},
             {headerName: "MD,DO (1:2,000)", field: "p_md_do",sortable: false,unSortIcon: false,filter:false},
             {headerName: "PSYD, PHD", field: "psyd_phd",sortable: true,unSortIcon: true},
             {headerName: "PSYD, PHD (1:15,000)", field: "p_psyd_phd",sortable: false,unSortIcon: false,filter:false},
             {headerName: "LCSW", field: "lcsw",sortable: true,enableRowGroup: true,unSortIcon: true},
             {headerName: "LCSW (1:10,000)", field: "p_lcsw",sortable: false,unSortIcon: false,filter:false},
             {headerName: "LMFT", field: "lmft",sortable: true,enableRowGroup: true,unSortIcon: true },
             {headerName: "LMFT (1:3,000)", field: "p_lmft",sortable: false,unSortIcon: false,filter:false},
             {headerName: "Total", field: "total",sortable: false,unSortIcon: false,filter:false}
         ];

         var rowData = [];

         {% for county in allCounties %}
         var obj={
             id: "{{ county.id }}",
             county: "{{ county.name }}",
             md_do: "{{ degreesByCounty[county.id][0] }}",
             psyd_phd: "{{ degreesByCounty[county.id][1] }}",
             lcsw: "{{ degreesByCounty[county.id][2] }}",
             lmft: "{{ degreesByCounty[county.id][3] }}"

         }
         rowData.push(obj);
         {% endfor %}

         // let the grid know which columns and what data to use
         var gridOptions = {
             getRowNodeId: function(data) {
                 return data.id;
             },
             columnDefs: columnDefs,
             rowSelection: 'multiple',
             rowData: rowData,
             defaultColDef: {
                 resizable: true,
                 filter: true,
                 editable: true
             },
             animateRows: true,
             pagination: true,
             floatingFilter: true,
             paginationAutoPageSize: false,
             paginationPageSize: 25,
             rowHeight:30,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             groupUseEntireRow:true,
             onFirstDataRendered: onFirstDataRendered,
             statusBar: {
                 statusPanels: [
                     { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                     { statusPanel: 'agFilteredRowCountComponent' },
                     { statusPanel: 'agSelectedRowCountComponent' },
                     { statusPanel: 'agAggregationComponent' }
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },

         };

         function onFirstDataRendered(params) {
             params.api.sizeColumnsToFit();
         }

         $(window).resize(function(){
             gridOptions.api.sizeColumnsToFit();
         })

         $(document).ready(function(){
             gridOptions.api.sizeColumnsToFit();
         })
         
         function  loadcustomer() {
             var payer_id=$('#payer').val()

             if(payer_id!=0){
               var url=$('#form_search_payer').attr('action')
               var data={
                   id: payer_id
               }

               $.post(url, data, function (result) {
                  var customers=result.customers

                   $.each(customers, function () {
                       var customer=$(this)

                       var county_id=customer[0]['county']
                       var total=customer[0]['total']

                       actionCellTotal(county_id,total)
                   })

               })

             }
         }

         function actionCellTotal(row_id,total){

             var rowNode = gridOptions.api.getRowNode(row_id)

             var p_md_do_new=0;
             var p_psyd_phd_new=0;
             var p_lcsw_new=0;
             var p_lmft_new=0;

             var md_do =rowNode.data.md_do
             var psyd_phd =rowNode.data.psyd_phd
             var lcsw =rowNode.data.lcsw
             var lmft =rowNode.data.lmft

             if(total>0){
                 p_md_do_new=parseFloat((md_do*2000)/total).toFixed(2)
                 p_psyd_phd_new=parseFloat((psyd_phd*15000)/total).toFixed(2)
                 p_lcsw_new=parseFloat((lcsw*10000)/total).toFixed(2)
                 p_lmft_new=parseFloat((lmft*3000)/total).toFixed(2)

                 p_md_do_new=p_md_do_new*100
                 if(p_md_do_new>100){
                     p_md_do_new=100
                 }
                 p_md_do_new=p_md_do_new+"%"

                 p_psyd_phd_new=p_psyd_phd_new*100
                 if(p_psyd_phd_new>100){
                     p_psyd_phd_new=100
                 }
                 p_psyd_phd_new=p_psyd_phd_new+"%"

                 p_lcsw_new=p_lcsw_new*100
                 if(p_lcsw_new>100){
                     p_lcsw_new=100
                 }
                 p_lcsw_new=p_lcsw_new+"%"

                 p_lmft_new=p_lmft_new*100
                 if(p_lmft_new>100){
                     p_lmft_new=100
                 }
                 p_lmft_new=p_lmft_new+"%"
             }

             var newData = {
                id: row_id,
                total: total,
                county: rowNode.data.county,
                md_do: rowNode.data.md_do,
                psyd_phd: rowNode.data.psyd_phd,
                lcsw: rowNode.data.lcsw,
                lmft: rowNode.data.lmft,
                p_md_do: p_md_do_new,
                p_psyd_phd: p_psyd_phd_new,
                p_lcsw: p_lcsw_new,
                p_lmft: p_lmft_new
             }

             rowNode.setData(newData);
         }

         function onPageSizeChanged(newPageSize) {
             var value = document.getElementById('page-size').value;
             gridOptions.api.paginationSetPageSize(Number(value));
         }

         function onFilterTextBoxChanged() {
             gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
         }

         var gridDiv = document.querySelector('#myGrid');
         new agGrid.Grid(gridDiv, gridOptions);

     </script>
 {% endblock %}
