{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item">Company Status</span>
                        <span class="breadcrumb-item active">ZIP Code radius information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">ZIP Code radius information</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_specialty') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div>
                                            <strong>Results</strong>
                                        </div>
                                        <div id="output"></div>
                                        <div id="map" style="width: 100%;height: 500px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         function initMap() {
             var bounds = new google.maps.LatLngBounds;
             var markersArray = [];

             var origin1 = {lat: 25.70579740, lng: -80.29255970};
             var destinationB = {lat: 25.70840770, lng:-80.28384830};

             var destinationIcon = 'https://chart.googleapis.com/chart?' +
                 'chst=d_map_pin_letter&chld=D|FF0000|000000';
             var originIcon = 'https://chart.googleapis.com/chart?' +
                 'chst=d_map_pin_letter&chld=O|FFFF00|000000';
             var map = new google.maps.Map(document.getElementById('map'), {
                 center: {lat: 55.53, lng: 9.4},
                 zoom: 10
             });
             var geocoder = new google.maps.Geocoder;

             var service = new google.maps.DistanceMatrixService;
             service.getDistanceMatrix({
                 origins: [origin1],
                 destinations: [destinationB],
                 travelMode: 'DRIVING',
                 drivingOptions: {
                     departureTime: new Date(Date.now()),  // for the time N milliseconds from now.
                     trafficModel: 'optimistic'
                 },
                 unitSystem: google.maps.UnitSystem.IMPERIAL,
                 avoidHighways: false,
                 avoidTolls: false,
             }, function(response, status) {
                 if (status !== 'OK') {
                     alert('Error was: ' + status);
                 } else {
                     var originList = response.originAddresses;
                     var destinationList = response.destinationAddresses;
                     var outputDiv = document.getElementById('output');
                     outputDiv.innerHTML = '';
                     deleteMarkers(markersArray);

                     var showGeocodedAddressOnMap = function(asDestination) {
                         var icon = asDestination ? destinationIcon : originIcon;
                         return function(results, status) {
                             if (status === 'OK') {
                                 map.fitBounds(bounds.extend(results[0].geometry.location));
                                 markersArray.push(new google.maps.Marker({
                                     map: map,
                                     position: results[0].geometry.location,
                                     icon: icon
                                 }));
                             } else {
                                 alert('Geocode was not successful due to: ' + status);
                             }
                         };
                     };

                     for (var i = 0; i < originList.length; i++) {
                         var results = response.rows[i].elements;
                         geocoder.geocode({'address': originList[i]},
                             showGeocodedAddressOnMap(false));
                         for (var j = 0; j < results.length; j++) {
                             geocoder.geocode({'address': destinationList[j]},
                                 showGeocodedAddressOnMap(true));
                             outputDiv.innerHTML += originList[i] + ' to ' + destinationList[j] +
                                 ': ' + results[j].distance.text + ' in ' +
                                 results[j].duration.text + '<br>';
                         }
                     }
                 }
             });
         }

         function deleteMarkers(markersArray) {
             for (var i = 0; i < markersArray.length; i++) {
                 markersArray[i].setMap(null);
             }
             markersArray = [];
         }
     </script>
     <script async defer
             src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&callback=initMap">
     </script>
 {% endblock %}
