{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item">Company Status</span>
                        <span class="breadcrumb-item active">ZIP Code radius information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">ZIP Code radius information</span></h5>
                <div class="header-elements">
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div id="map" style="height: 500px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript">

         $(document).ready(function(){
             var h=$(window).height()-340
             $('#map').css('height',h)

         })

         function iniciarMap(){
             var map_bounds= {
                 center_lat: 27.6648274,
                 center_lng: -81.51575350000002,
                 nor_lat: 32.3607674,
                 est_lng: -77.80493380000001,
                 sud_lat: 22.8285924,
                 wes_lng:-89.80426820000002
             }

             var coord_center = {lat:map_bounds.center_lat ,lng: map_bounds.center_lng};

             var MapOptions={
                 center: coord_center,
                 zoom: 7,
                 disableDefaultUI: true
             }

             var map = new google.maps.Map(document.getElementById('map'),MapOptions);
             var trafficLayer = new google.maps.TrafficLayer();
             trafficLayer.setMap(map);
             var transitLayer = new google.maps.TransitLayer();
             transitLayer.setMap(map);

             setMarkers(map)

             var objConfigDR={
                 map: map
             }

             var originLatLng=new google.maps.LatLng(25.70840770,-80.28384830)
             var destinationLatLng=new google.maps.LatLng(25.70579740,-80.29255970)

             var objConfigDS={
                 origin: originLatLng,
                 destination: destinationLatLng,
                 travelMode: google.maps.TravelMode.DRIVING
             }

             var ds=new google.maps.DirectionsService();
             var dr=new google.maps.DirectionsRenderer(objConfigDR);


             ds.route(objConfigDS,fnRutear())

             function fnRutear(results, status){

                 /*
                if(status=='OK'){
                    dr.setDirections(results)
                }else{
                    alert('Error'+status);
                }*/
             }

         }

         function setMarkers(map){
             var url="https://maps.google.com/mapfiles/ms/icons/blue-dot.png"
             var marker, i

             {% for addr in address %}
                var lat = {{ addr.getLat }}
                var long ={{ addr.getLng }}

                var latlngset = new google.maps.LatLng(lat, long);

             var marker = new google.maps.Marker({
                 position: latlngset,
                 map: map,
                 icon: url
             });

             {% if addr.zipcode==33146 %}
                 map.setCenter(marker.getPosition())
                 map.setZoom(14)
             {% endif %}

             var content="<h6 class='text-dark'>{{ addr.organization.name }}</h6>"+
                 "<p>2 providers</p>"

             var infoWindow=new google.maps.InfoWindow()

             google.maps.event.addListener(marker,'mouseover', (function(marker,content,infoWindow){
                 return function() {
                     infoWindow.setContent(content);
                     infoWindow.open(map,marker);
                 };
             })(marker,content,infoWindow));

             google.maps.event.addListener(marker,'mouseout', (function(marker,content,infoWindow){
                 return function() {
                     infoWindow.setContent(content);
                     infoWindow.close(map,marker);
                 };
             })(marker,content,infoWindow));

             {% endfor %}
         }


     </script>
     <script src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&callback=iniciarMap"></script>
 {% endblock %}
