{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item">Company Status</span>
                        <span class="breadcrumb-item active">Providers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Provider Status</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin_specialty') }}" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Specialties List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="text-slate">Providers by Medicaid/Medicare</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th class="numeric">Both</th>
                                                    <th class="numeric">Medicaid</th>
                                                    <th class="numeric">Medicare</th>
                                                    <th class="numeric">None</th>
                                                    <th class="numeric">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody class="numeric">
                                                <tr>
                                                    <td>{{ medic_result['both'] }}</td>
                                                    <td>{{ medic_result['medicaid'] + medic_result['both'] }}</td>
                                                    <td>{{ medic_result['medicare'] + medic_result['both'] }}</td>
                                                    <td>{{ medic_result['none'] }}</td>
                                                    <td>{{ medic_result['total'] }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <h4 class="text-slate">Facilities</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th>By</th>
                                                    <th class="numeric">Total</th>
                                                    <th class="numeric">With Facility</th>
                                                    <th class="numeric">Without Facility</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Location</td>
                                                    <td class="numeric">{{ facilities_result['by_location_total'] }}</td>
                                                    <td class="numeric">{{ facilities_result['by_location'] }}</td>
                                                    <td class="numeric">{{ facilities_result['by_location_total'] - facilities_result['by_location'] }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Provider</td>
                                                    <td class="numeric">{{ facilities_result['by_provider_total'] }}</td>
                                                    <td class="numeric">{{ facilities_result['by_provider'] }}</td>
                                                    <td class="numeric">{{ facilities_result['by_provider_total'] - facilities_result['by_provider'] }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <h4 class="text-slate">Payer Status</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped  table-hover">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th>By</th>
                                                    <th class="numeric">Total</th>
                                                    <th class="numeric">With Facility</th>
                                                    <th class="numeric">Without Facility</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Total Payer</td>
                                                    <td class="numeric">{{ payerTotal[0] }}</td>
                                                    <td class="numeric">{{ payerTotal[1] }}</td>
                                                    <td class="numeric">{{ payerTotal[2] }}</td>
                                                </tr>
                                                <tr>
                                                    <td>MMM</td>
                                                    <td class="numeric">{{ payerMMM[0] }}</td>
                                                    <td class="numeric">{{ payerMMM[1] }}</td>
                                                    <td class="numeric">{{ payerMMM[2] }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Pending Payer</td>
                                                    <td class="numeric">{{ payerPending[0] }}</td>
                                                    <td class="numeric">{{ payerPending[1] }}</td>
                                                    <td class="numeric">{{ payerPending[2] }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <h4 class="text-slate">Providers by Primary Specialty</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th width="80%">Primary Specialty</th>
                                                    <th width="20%">Providers</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for row in specialty_result %}
                                                    <tr>
                                                        <td>{% if row['name'] is null %}<b>Providers without specialties</b>{% else %}{{ row['name'] }}{% endif %}</td>
                                                        <td class="numeric">{{ row['provcount'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <h4 class="text-slate">Providers by Degree</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th width="80%">Degree</th>
                                                    <th width="20%" class="numeric">Providers</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for row in degree_result %}
                                                    <tr>
                                                        <td>{% if row['name'] is null %}<b>Providers without degree</b>{% else %}{{ row['name'] }}{% endif %}</td>
                                                        <td class="numeric">{{ row['provcount'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript">
     $(document).ready(function(){
         $('#link-group-report').addClass('nav-item-expanded')
         $('#link-group-report').addClass('nav-item-open')
         $('#link-group-compaty-status').addClass('nav-item-expanded')
         $('#link-group-compaty-status').addClass('nav-item-open')
         $('#link-menu-providers-status').addClass('active')
     })
     </script>
 {% endblock %}
