{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item">Company Status</span>
                        <span class="breadcrumb-item active">ZIP Code radius information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">ZIP Code radius information</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 col-xs-12">
                                        <div class="form-group form-group-feedback form-group-feedback-left">
                                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                                            <div class="form-control-feedback form-control-feedback-sm">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-2">
                                        <select class="form-control select" id="degree" name="degree" data-fouc>
                                            <option value="0">-- Select a Degree --</option>
                                            <option value="1">MD, DO</option>
                                            <option value="2">PSYD, PHD</option>
                                            <option value="3">LCSW</option>
                                            <option value="4">LMFT</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <a href="#" class="btn btn-info" onclick="loadzipcoderadius()"><i class="fas fa-cog"></i> Execute</a>
                                    </div>
                                    <div class="col-6">
                                        <div class="row mb-2">
                                            <div class="col-12 pt-2">
                                                <div class="progress sr-only" id="progress_search">
                                                    <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-info" style="width: 100%">
                                                        <span class="">Searching data ...</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col-lg-12 text-right">
                                                <label class="col-form-label mr-1">Page size:</label>
                                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                                    <option value="25" selected>25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="500">500</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(){
             $('#link-group-report').addClass('nav-item-expanded')
             $('#link-group-report').addClass('nav-item-open')
             $('#link-group-compaty-status').addClass('nav-item-expanded')
             $('#link-group-compaty-status').addClass('nav-item-open')
             $('#link-menu-providers-status').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             var h=$(window).height()-340
             $('#myGrid').css('height',h)

         })

         var columnDefs = [
             {headerName: "Id", field: "id",sortable: true,unSortIcon: true,maxWidth: 75,headerCheckboxSelectionFilteredOnly: true,hide:true},
             {headerName: "City", field: "city",sortable: true,unSortIcon: true,minWidth:300,sort: 'asc'},
             {headerName: "Zip Code", field: "zipcode",sortable: true,unSortIcon: true,minWidth: 120},
             {headerName: "Total of members", field: "p_md_do",sortable: false,unSortIcon: false,filter:false},
             {headerName: "Total number of providers", field: "psyd_phd",sortable: true,unSortIcon: true,filter:false},
             {headerName: "10 (x miles)", field: "p_psyd_phd",sortable: false,unSortIcon: false,filter:false,maxWidth:125},
             {headerName: "15 (x miles)", field: "lcsw",sortable: true,enableRowGroup: true,unSortIcon: true,filter:false,maxWidth:125},
             {headerName: "20 (x miles)", field: "p_lcsw",sortable: false,unSortIcon: false,filter:false,maxWidth:125},
             {headerName: "25 (x miles)", field: "lmft",sortable: true,filter:false,enableRowGroup: true,unSortIcon: true,maxWidth:125 },
         ];

         var rowData = [];

         {% for addr in address %}
         var obj={
             id: {{ addr.id }},
             city: "{{ addr.city }}",
             zipcode: "{{ addr.zipCode }}"
         }
         rowData.push(obj);
         {% endfor %}

         // let the grid know which columns and what data to use
         var gridOptions = {
             getRowNodeId: function(data) {
                 return data.id;
             },
             columnDefs: columnDefs,
             rowSelection: 'multiple',
             rowData: rowData,
             defaultColDef: {
                 resizable: true,
                 filter: true,
                 editable: true
             },
             animateRows: true,
             pagination: true,
             floatingFilter: true,
             paginationAutoPageSize: false,
             paginationPageSize: 25,
             rowHeight:30,
             groupIncludeFooter: true,
             suppressDragLeaveHidesColumns: true,
             suppressMakeColumnVisibleAfterUnGroup: true,
             rowGroupPanelShow: false,
             groupUseEntireRow:true,
             onFirstDataRendered: onFirstDataRendered,
             statusBar: {
                 statusPanels: [
                     { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                     { statusPanel: 'agFilteredRowCountComponent' },
                     { statusPanel: 'agSelectedRowCountComponent' },
                     { statusPanel: 'agAggregationComponent' }
                 ]
             },
             sideBar: {
                 toolPanels: [
                     {
                         id: 'columns',
                         labelDefault: 'Columns',
                         labelKey: 'columns',
                         iconKey: 'columns',
                         toolPanel: 'agColumnsToolPanel',
                     },
                     {
                         id: 'filters',
                         labelDefault: 'Filters',
                         labelKey: 'filters',
                         iconKey: 'filter',
                         toolPanel: 'agFiltersToolPanel',
                     }
                 ]
             },

         };

         function onFirstDataRendered(params) {
             params.api.sizeColumnsToFit();
         }

         $(window).resize(function(){
             gridOptions.api.sizeColumnsToFit();
         })

         $(document).ready(function(){
             gridOptions.api.sizeColumnsToFit();
         })

         function  loadcustomer() {
             var payer_id=$('#payer').val()

             if(payer_id!=0){
                 var url=$('#form_search_payer').attr('action')
                 var data={
                     id: payer_id
                 }

                 $.post(url, data, function (result) {
                     var customers=result.customers

                     $.each(customers, function () {
                         var customer=$(this)

                         var county_id=customer[0]['county']
                         var total=customer[0]['total']

                         actionCellTotal(county_id,total)
                     })

                 })

             }
         }

         function onPageSizeChanged(newPageSize) {
             var value = document.getElementById('page-size').value;
             gridOptions.api.paginationSetPageSize(Number(value));
         }

         function onFilterTextBoxChanged() {
             gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
         }

         var gridDiv = document.querySelector('#myGrid');
         new agGrid.Grid(gridDiv, gridOptions);

         function loadzipcoderadius(){
             var degree=$('#degree').val()



         }

     </script>
 {% endblock %}
