{% extends 'base-login.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="card mb-0">
                    <div class="card-header bg-success-800">
                        <h5 class="modal-title">Thank you! Your submission has been received.</h5>
                    </div>
                    <div class="card-body">
                        <p>Thank you for your interest in BSN!  Our contracting team will review your submission and will notify you via e-mail about our decision.  Due to a large number of requests this may take some time – we appreciate your patience.</p>
                        <p>Please note that submission does not guarantee acceptance.  In some areas the panel may be closed.  However,  requests will be stored and retrieved first when the panel reopens.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
