{% extends 'base_blank.html.twig' %}

{% block title %}Hello JoinController!{% endblock %}

{% block body %}
    <style>
        .contenedor-join { margin: 1em auto; max-width: 1800px; width: 95%; font: 18px/1.5 sans-serif;  }
        .title-join{ font-family: 'Raleway', sans-serif;color:#4fbae7; }
        label{ font-size: 15px; font-family: 'Raleway', sans-serif;color:#333;font-weight: 500; }
        .select2-selection--single .select2-selection__rendered{ font-size: 15px; }
        .lbl_error{ font-size: 14px;}
        .border-red,.border-red:focus { border-color: red!important; }
        th{ font-size: 15px; margin-top: 0;padding: 3px 5px!important}
        td{ font-size: 13px; }
        .table td {
            padding: 10px 3px;
        }
    </style>
    <div class="contenedor-join">
        <img src="https://s3.amazonaws.com/bsnnet.com/email-images/BSN-LOGO-250.png" alt="bsn-logo" class="mb-2">
        <div class="card">
            <div class="card-header">
                <h1 class="title-join">Tell us about you</h1>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'id':'form'}}) }}
                {{ form_row(form.npi_number) }}
                <div class="col-12">
                    <div class="table-responsive sr-only" id="table_grid_cred">
                        <label class="col-form-label">General Info:</label>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr class="bg-slate">
                                <th>NPI</th>
                                <th>Organization Name</th>
                                <th style="text-align: left">NPI Type</th>
                                <th>Primary Practice Address</th>
                                <th>Phone</th>
                                <th>Primary Taxonomy</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="npi_nppes"></td>
                                <td id="name_nppes"></td>
                                <td id="npi_type"></td>
                                <td id="primary_practice"></td>
                                <td id="phone"></td>
                                <td id="primary_taxonomy"></td>
                                <td id="status"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive sr-only" id="table_addresses">
                        <label class="col-form-label">Addresses:</label>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr class="bg-slate">
                                <th>Street</th>
                                <th>Suite Number</th>
                                <th>Address Purpose</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Postal Code</th>
                            </tr>
                            </thead>
                            <tbody id="addr_table_body"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive sr-only" id="table_contact">
                        <label class="col-form-label">Contact Information:</label>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr class="bg-slate">
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Prefix</th>
                                <th>Title/Position</th>
                                <th>Phone number</th>
                            </tr>
                            </thead>
                            <tbody id="contact_table_body"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive sr-only" id="table_taxonomies">
                        <label class="col-form-label mt-3">Taxonomies:</label>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr class="bg-slate">
                                <th>Code</th>
                                <th>Description</th>
                                <th>Primary</th>
                                <th>State</th>
                                <th>Licence</th>
                            </tr>
                            </thead>
                            <tbody id="taxonomies_table_body"></tbody>
                        </table>
                    </div>
                </div>
                {{ form_widget(form) }}
                <div class="row form-group">
                    <div class="col-12">
                        <label class="col-form-label" style="display: block">Text Captcha</label>
                        <canvas id="captcha"></canvas>
                        <input type="hidden" name="text_img_captcha" id="text_img_captcha" value="">
                        <a href="#" id="refresh"  onclick="Captcha('mainCaptcha');" class="btn btn-primary btn-refresh" style="margin-top: -55px;"/><i class="fas fa-sync-alt"></i> Refresh</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <label class="col-form-label" style="display: block">PLEASE RETYPE THE CODE ABOVE</label>
                        <input type="text" id="txtInput"/>
                        <div id="error_captcha" class="sr-only">
                            <span class="font-weight-semibold text-danger lbl_error mt-1">Please retype the correct CODE!</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <p>(*) Fields required</p>
                        <a href="#" class="btn btn-success bnt-send-form"><i class="fas fa-save"></i> Save</a>
                        <a href="{{ path('ages_range_index') }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="modal_warning" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">NPPES Warning</h5>
                </div>
                <div class="modal-body">
                    <h4>Participation request canceled.</h4>
                    <p>We are unable to continue with your application until your data is corrected in NPPES. Participation in our Behavioral and Substance Abuse Network is reliant on accurate data.   Please try again when your account is updated.</p>
                    <p>To access your NPPES account please go to <a href="https://nppes.cms.hhs.gov/" target="_blank">https://nppes.cms.hhs.gov</a>  and sign in.  For more information on how to make changes to your NPPES account, click here:  </p>
                    <a href="https://nppes.cms.hhs.gov/webhelp/nppeshelp/NPPES%20FAQS.html" target="_blank" class="btn btn-info"><i class="fas fa-info"></i> NPPES FAQs</a>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="payer_selected" id="payer_selected" value="">
                    <a href="http://www.bsnnet.com" class="btn btn-primary">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_warning_current_network" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">NPI Warning</h5>
                </div>
                <div class="modal-body">
                    <h4>Participation request canceled.</h4>
                    <p>The NPI you entered matches an NPI that is already registered with our network.  Please check your entry and try again.  If this issue persists, please contact us at 305-907-7470.</p>
                </div>
                <div class="modal-footer">
                    <a href="http://www.bsnnet.com" class="btn btn-primary">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_final" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title">Thank you! Your submission has been received.</h5>
                </div>
                <div class="modal-body">
                    <p>Thank you for your interest in BSN!  Our contracting team will review your submission and will notify you via e-mail about our decision.  Due to a large number of requests this may take some time – we appreciate your patience.</p>
                    <p>Please note that submission does not guarantee acceptance.  In some areas the panel may be closed.  However,  requests will be stored and retrieved first when the panel reopens.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-save-all">Close</a>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('join_check_npi') }}" method="post" id="form_check_npi_info"></form>
    <form action="{{ path('join_get_pml_npi') }}" method="post" id="form_pml_npi"></form>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/join/uploader_bootstrap.js') }}"></script>
     <script type="text/javascript">
         let code_2=""
         function isNumber(evt) {
             var iKeyCode = (evt.which) ? evt.which : evt.keyCode
             if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                 return false;
             return true;
         }

         $(document).ready(function(){

             $('.bnt-send-form').click(function(e){
                 e.preventDefault()

                $('#form').submit()
             })

             // Modal template
             var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
                 '  <div class="modal-content">\n' +
                 '    <div class="modal-header align-items-center">\n' +
                 '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
                 '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
                 '    </div>\n' +
                 '    <div class="modal-body">\n' +
                 '      <div class="floating-buttons btn-group"></div>\n' +
                 '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
                 '    </div>\n' +
                 '  </div>\n' +
                 '</div>\n';

             // Buttons inside zoom modal
             var previewZoomButtonClasses = {
                 toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
                 fullscreen: 'btn btn-light btn-icon btn-sm',
                 borderless: 'btn btn-light btn-icon btn-sm',
                 close: 'btn btn-light btn-icon btn-sm'
             };

             // Icons inside zoom modal classes
             var previewZoomButtonIcons = {
                 prev: '<i class="icon-arrow-left32"></i>',
                 next: '<i class="icon-arrow-right32"></i>',
                 toggleheader: '<i class="icon-menu-open"></i>',
                 fullscreen: '<i class="icon-screen-full"></i>',
                 borderless: '<i class="icon-alignment-unalign"></i>',
                 close: '<i class="icon-cross2 font-size-base"></i>'
             };

             // File actions
             var fileActionSettings = {
                 zoomClass: '',
                 zoomIcon: '<i class="icon-zoomin3"></i>',
                 dragClass: 'p-2',
                 dragIcon: '<i class="icon-three-bars"></i>',
                 removeClass: '',
                 removeErrorClass: 'text-danger',
                 removeIcon: '<i class="icon-bin"></i>',
                 indicatorNew: '<i class="icon-file-plus text-success"></i>',
                 indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
                 indicatorError: '<i class="icon-cross2 text-danger"></i>',
                 indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
             };


             $('.file-input-extensions').fileinput({
                 browseLabel: 'Browse',
                 browseIcon: '<i class="icon-file-plus mr-2"></i>',
                 uploadIcon: '<i class="icon-file-upload2 mr-2"></i>',
                 removeIcon: '<i class="icon-cross2 font-size-base mr-2"></i>',
                 layoutTemplates: {
                     icon: '<i class="icon-file-check"></i>',
                     modal: modalTemplate
                 },
                 maxFilesNum: 10,
                 allowedFileExtensions: ["xlsx", "xls", "doc","docx", "pdf"],
                 initialCaption: "No file selected",
                 previewZoomButtonClasses: previewZoomButtonClasses,
                 previewZoomButtonIcons: previewZoomButtonIcons,
                 fileActionSettings: fileActionSettings
             });

             Captcha('mainCaptcha')
             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })

             $('.btn-refresh').click(function(e){
                 e.preventDefault()
             })

             $('#correct_info_nppes_no').click(function(e){
                 $('#modal_warning').modal('show');
             })

             $('#join_npi_number').keyup(function(){
                 console.log('OK')
                 var npi=$(this).val()
                 var npi_number=$('#npi_number')
                 var icon_npi_valid=$('#icon_npi_valid')
                 var icon_npi_notvalid=$('#icon_npi_notvalid')

                 if(npi!="" && npi.length==10){
                     var data={
                         'npi': npi
                     }
                     var url=$('#form_check_npi_info').attr('action')
                     var url2=$('#form_pml_npi').attr('action')

                     $.post(url2, data, function (result) {
                         const pmls=result.pmls
                         var org_exist=result.org_exit

                         var pml_rows=""
                         if(pmls!=null && pmls!="" && pmls.length>0){
                             $.each(pmls, function( index, pml ) {
                                 var status=pml.status
                                 lbl_status=""
                                 if(status=="A"){
                                     lbl_status="<span class='badge badge-success'>Active</span>"
                                 }
                                 if(status=="I"){
                                     lbl_status="<span class='badge badge-danger'>Inactive</span>"
                                 }
                                 if(status=="E"){
                                     lbl_status="<span class='badge badge-warning'>Ineligible</span>"
                                 }

                                 var license=pml.col_v
                                 if(license==null){
                                     license=""
                                 }

                                 pml_rows+="<tr>"
                                 pml_rows+="<td>"
                                 pml_rows+=lbl_status
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+=pml.medicaid
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+=pml.npi_number
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+="<span class='badge badge-dark badge-pill'>"+pml.col_d+"</span>"
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+="<span class='badge badge-info badge-pill'>"+pml.col_e+"</span>"
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+=pml.col_f
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+=license
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+=pml.col_l
                                 pml_rows+="</td>"
                                 pml_rows+="<td>"
                                 pml_rows+=pml.col_g
                                 pml_rows+="</td>"
                                 pml_rows+="</tr>"
                             })
                             $('#pml_table_body').html(pml_rows)
                         }

                         if(org_exist==0){
                             $.post(url, data, function (result) {
                                 var check=0
                                 var jsonObj = $.parseJSON(result.json_result);

                                 var resultsObj=jsonObj.results
                                 if(jsonObj.Errors || jsonObj.result_count==0){
                                     check=1
                                 }

                                 if(check==0) {
                                     $('#nppes_data').val(result.json_result)
                                     $('#cont_chek_info').removeClass('sr-only')
                                     npi_number.addClass('border-success')
                                     npi_number.removeClass('border-danger')
                                     icon_npi_valid.removeClass('sr-only')
                                     icon_npi_notvalid.addClass('sr-only')

                                     $('#table_grid_cred').removeClass('sr-only')
                                     $('#table_addresses').removeClass('sr-only')
                                     $('#table_contact').removeClass('sr-only')
                                     $('#table_taxonomies').removeClass('sr-only')
                                     $('#first_message').removeClass('sr-only')

                                     $.each(resultsObj, function( index, objNPI ) {
                                         var name=objNPI.basic.organization_name
                                         if(name){
                                             $('#join_name').val(name)
                                         }else{
                                             $('#join_name').val(objNPI.basic.name)
                                         }

                                         $('#npi_nppes').html(objNPI.number)
                                         $('#name_nppes').html(objNPI.basic.name)

                                         var npi_type="Individual"

                                         if(objNPI.enumeration_type=="NPI-2"){
                                             npi_type="Organization"
                                         }
                                         $('#npi_type').html(npi_type)

                                         var addresses=objNPI.addresses
                                         var primary_addr=""
                                         var phone_number=""
                                         var addrs_rows=""
                                         $.each(addresses, function( index, addr ) {
                                             if(addr.address_purpose=="LOCATION"){
                                                 primary_addr=addr.address_1+", "+addr.city+", "+addr.state
                                                 phone_number=addr.telephone_number
                                             }

                                             addrs_rows+="<tr>"
                                             addrs_rows+="<td>"
                                             addrs_rows+=addr.address_1
                                             addrs_rows+="</td>"
                                             addrs_rows+="<td>"
                                             addrs_rows+=addr.address_2
                                             addrs_rows+="</td>"
                                             addrs_rows+="<td>"
                                             addrs_rows+=addr.address_purpose
                                             addrs_rows+="</td>"
                                             addrs_rows+="<td>"
                                             addrs_rows+=addr.city
                                             addrs_rows+="</td>"
                                             addrs_rows+="<td>"
                                             addrs_rows+=addr.state
                                             addrs_rows+="</td>"
                                             addrs_rows+="<td>"
                                             addrs_rows+=addr.postal_code
                                             addrs_rows+="</td>"
                                             addrs_rows+="<tr>"
                                         })

                                         $('#addr_table_body').html(addrs_rows)

                                         $('#primary_practice').html(primary_addr)
                                         $('#phone').html(phone_number)
                                         var taxonomies_rows=""
                                         var primary_taxonomy=""
                                         var taxonomies=objNPI.taxonomies
                                         if(taxonomies.length>0){
                                             $.each(taxonomies, function( index, taxonomy ) {
                                                 var is_primary="No"
                                                 if(taxonomy.primary==true){
                                                     primary_taxonomy=taxonomy.code
                                                     is_primary="Yes"
                                                 }

                                                 taxonomies_rows+="<tr>"
                                                 taxonomies_rows+="<td>"
                                                 taxonomies_rows+=taxonomy.code
                                                 taxonomies_rows+="</td>"
                                                 taxonomies_rows+="<td>"
                                                 taxonomies_rows+=taxonomy.desc
                                                 taxonomies_rows+="</td>"
                                                 taxonomies_rows+="<td>"
                                                 taxonomies_rows+=is_primary
                                                 taxonomies_rows+="</td>"
                                                 taxonomies_rows+="<td>"
                                                 taxonomies_rows+=taxonomy.state
                                                 taxonomies_rows+="</td>"
                                                 taxonomies_rows+="<td>"
                                                 taxonomies_rows+=taxonomy.license
                                                 taxonomies_rows+="</td>"
                                                 taxonomies_rows+="</tr>"
                                             })
                                         }

                                         $('#primary_taxonomy').html(primary_taxonomy)
                                         $('#status').html(objNPI.basic.status)

                                         var contact_rows=""
                                         contact_rows+="<tr>"
                                         contact_rows+="<td>"
                                         contact_rows+=objNPI.basic.authorized_official_first_name
                                         contact_rows+="</td>"
                                         contact_rows+="<td>"
                                         contact_rows+=objNPI.basic.authorized_official_last_name
                                         contact_rows+="</td>"
                                         contact_rows+="<td>"
                                         contact_rows+=objNPI.basic.authorized_official_name_prefix
                                         contact_rows+="</td>"
                                         contact_rows+="<td>"
                                         contact_rows+=objNPI.basic.authorized_official_title_or_position
                                         contact_rows+="</td>"
                                         contact_rows+="<td>"
                                         contact_rows+=objNPI.basic.authorized_official_telephone_number
                                         contact_rows+="</td>"
                                         contact_rows+="</tr>"
                                         $('#contact_table_body').html(contact_rows)
                                         $('#taxonomies_table_body').html(taxonomies_rows)
                                     })
                                 }else{
                                     npi_number.removeClass('border-success')
                                     npi_number.addClass('border-danger')

                                     icon_npi_valid.addClass('sr-only')
                                     icon_npi_notvalid.removeClass('sr-only')
                                 }
                             })
                         }else{
                             $('#modal_warning_current_network').modal('show')
                         }
                     })
                 }
             })
         })

         function ValidCaptcha(mainCaptcha, txtInput) {
             var string1 = removeSpaces(mainCaptcha);
             var string2 = removeSpaces(txtInput);
             if (string1 == string2) {
                 return true;
             }
             else {
                 Captcha(mainCaptcha);
                 return false;
             }
         }
         function removeSpaces(string) {
             return string.split(' ').join('');
         }

         function CreaIMG(texto) {
             var ctxCanvas = document.getElementById('captcha').getContext('2d');
             var fontSize = "30px";
             var fontFamily = "Arial";
             var width = 250;
             var height = 50;
             //tamaño
             ctxCanvas.canvas.width = width;
             ctxCanvas.canvas.height = height;
             //color de fondo
             ctxCanvas.fillStyle = "whitesmoke";
             ctxCanvas.fillRect(0, 0, width, height);
             //puntos de distorsion
             ctxCanvas.setLineDash([7, 10]);
             ctxCanvas.lineDashOffset = 5;
             ctxCanvas.beginPath();
             var line;
             for (var i = 0; i < (width); i++) {
                 line = i * 5;
                 ctxCanvas.moveTo(line, 0);
                 ctxCanvas.lineTo(0, line);
             }
             ctxCanvas.stroke();
             //formato texto
             ctxCanvas.direction = 'ltr';
             ctxCanvas.font = fontSize + " " + fontFamily;
             //texto posicion
             var x = (width / 9);
             var y = (height / 3) * 2;
             //color del borde del texto
             ctxCanvas.strokeStyle = "yellow";
             ctxCanvas.strokeText(texto, x, y);
             //color del texto
             ctxCanvas.fillStyle = "red";
             ctxCanvas.fillText(texto, x, y);
         }

         function Captcha(mainCaptcha) {
             var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
             var i;
             for (i = 0; i < 6; i++) {
                 var a = alpha[Math.floor(Math.random() * alpha.length)];
                 var b = alpha[Math.floor(Math.random() * alpha.length)];
                 var c = alpha[Math.floor(Math.random() * alpha.length)];
                 var d = alpha[Math.floor(Math.random() * alpha.length)];
                 var e = alpha[Math.floor(Math.random() * alpha.length)];
                 var f = alpha[Math.floor(Math.random() * alpha.length)];
                 var g = alpha[Math.floor(Math.random() * alpha.length)];
             }
             var code = a + ' ' + b + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g;
             code_2=code
             CreaIMG(code);
             $('#text_img_captcha').val(code)
         }

     </script>
 {% endblock %}
