{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Join Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Join Us List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right pr-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-multiple-npi" placeholder="Enter some NPI number separeted by spaces">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12 text-right">

                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                        <div class="progress sr-only" id="progress_credentialing_process">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Creating new Credentialing Process ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select" id="select-options-multiple" data-fouc>
                            <option value="0">Delete Selected</option>
                            <option value="1">Convert to an Organization</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete a Payer-->
    <div id="modal_organization_type" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_delete_provider_payer') }}" method="post" id="form_delete_payer">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Select Organization Type</span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-12 col-form-label">Organization Type:</label>
                            <div class="col-12">
                                <select name="organization_type" id="organization_type" class="form-control select">
                                    <option value="0">- Select One -</option>
                                    <option value="Individual">- Individual -</option>
                                    <option value="Group">- Group -</option>
                                    <option value="Organization">- Organization (Licensed as a facility by AHCA) -</option>
                                </select>
                                <div class="alert alert-danger alert-with-icon sr-only" data-notify="container" id="error_organization_type">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <span data-notify="message">Select one Organization Type please.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="join_selected" id="join_selected" value="">
                        <a href="#" class="btn btn-success btn-convert-to-org"><i class="far fa-check-circle"></i> Send</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /View modal -->



    {{ include('join/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
    <form action="{{ path('admin_delete_multiple_join') }}" method="post" id="form_delete_muiltiple"></form>
    <form action="{{ path('join_us_to_organization') }}" method="post" id="form_convert_org"></form>
    <form action="{{ path('join_us_to_prospect') }}" method="post" id="form_turn_away_org"></form>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/join/delete.js') }}"></script>
    <script type="text/javascript">
        let joins_to_send=[];
      //  let joins_to_send=[];
        let url_form=$('#join_us_to_organization').attr('action')
        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000);

            var h=$(window).height()-340
            $('#myGrid').css('height',h)

            $('#link-group-prospects').addClass('nav-item-expanded')
            $('#link-group-prospects').addClass('nav-item-open')
            $('#link-menu-join-us').addClass('active')

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })
        });

        $('.btn-clear-date').click(function(){
            var comp=$(this).parent().siblings()
            comp.val('')
        })

        $('#payer').change(function(e){
            var idPayer=$(this).val()
            if(idPayer!=0){
                var id=idPayer
            }
        })

        $('#myGrid').on('click','.btn-disabled',function(e){
            var id=$(this).data('id')
            $('#id_provider').val(id)
        })

        $('.btn-save-disabled').click(function(e){
            e.preventDefault()

            var termination_reason=$('#termination_reason')
            var error_termination=$('#error-termination')

            var send=true

            if(termination_reason.val()==0){
                error_termination.removeClass('sr-only')
                send=false
            }else{
                error_termination.addClass('sr-only')
            }

            if(send){
                var id_provider=$('#id_provider').val();
                var termination_reason=termination_reason.val()
                var date_of_disabled=$('#dateofdisabled').val()

                var url=$('#form_disabled').attr('action');

                var data={
                    'id': id_provider,
                    'termination_reason': termination_reason,
                    'date_of_disabled': date_of_disabled
                }

                $.post(url, data, function (result) {
                    $('#modal_disabled').modal('hide')

                    var selectedData = gridOptions.api.getSelectedRows()
                    var res = gridOptions.api.updateRowData({remove: selectedData})
                })
            }
        })

        var columnDefs = [
            {headerName: "Id", field: "id1",checkboxSelection: true,unSortIcon: true,sortable: true,filter: true,maxWidth: 100,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Organization", field: "organization",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "NPI", field: "npi",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Contact name", field: "contact_name",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Contact Email", field: "contact_email",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "City", field: "city",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "County", field: "county",sortable: true,enableRowGroup: true,unSortIcon: true, hide:true},
            {headerName: "Request Date", field: "date",sortable: true,enableRowGroup: true,unSortIcon: true, hide:false},
            {headerName: "Status", field: "status",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:150,minWidth:150,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% set a=0 %}
        {% for join in joins %}

        var status_name=""
        {% if join.status %}
            status_name="{{ join.status.name }}"
        {% endif %}

        var obj={
            id:"{{ join.id }}",
            organization: "{{ join.name }}",
            npi: "{{ join.npiNumber }}",
            contact_name: "{{ join.contactName }}",
            contact_email: "{{ join.contactEmail }}",
            status:"{{ join.status.name }}",
            city: "{{ join.city }}",
            county: "{{ join.county }}",
            date: "{{ join.createdAt|date('m/d/Y') }}"

        }
        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },
        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function multipleSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var option=$('#select-options-multiple').val()

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Providers selected!',
                    message: 'Select at least one element please.'
                })
            }else {
                if (option == 0) {
                    var progressBar = $('#progress_delete');
                    var rows = [];

                    $.each(rowsSelected, function () {
                        var row = $(this)[0];
                        rows.push(row.id);
                    })

                    var data = {
                        'ids': rows
                    }

                    var form =$('#form_delete_muiltiple')
                    var url = form.attr('action')

                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Join Us Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function () {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function () {
                                    progressBar.removeClass('sr-only')
                                    $.post(url, data, function (result) {
                                        progressBar.addClass('sr-only')

                                        var removed = result.removed;
                                        var message = result.message;
                                        console.log(message)

                                        $('#message-removed').html(message);

                                        if (removed == 1) {
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function () {
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        } else {
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function () {
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }
                    });
                }
                //add new Credentialing proccess for all providers selected
                if(option==1){
                    $.each(rowsSelected,function(){
                        var row=$(this)[0];
                        joins_to_send.push(row.id);
                    })

                    var pos=0
                    $('#mask-top').removeClass('sr-only')
                    process_ajax(pos)
                }
            }

        }

        function actionCellRendererFunc(params){
            var id =params.data.id
            var status=params.data.status
            var url_view = '{{ path("join_us_view") }}'+"/"+id


            var btns=""
            if(status=="Pending"){
                btns='<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                    '<a href="#" data-id="'+id+'" class="btn btn-sm bg-success border-success text-success-800 btn-icon border-2 ml-1 btn-actions btn-add-org"><i class="far fa-check-circle"></i></a>' +
                    '<a href="#" data-id="'+id+'" class="btn btn-sm bg-warning border-warning text-warning-800 btn-icon border-2 ml-1 btn-actions btn-declined-org"><i class="fas fa-ban"></i></a>' +
                    '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
            }else{
                btns='<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                    '<a href="#" data-id="'+id+'" class="btn btn-sm bg-success border-success text-success-800 btn-icon border-2 ml-1 btn-actions btn-add-org"><i class="far fa-check-circle"></i></a>' +
                    '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
            }

            return btns;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        $('#filter-multiple-npi').each(function() {
            var elem = $(this);

            //Look for changes in the value
            elem.bind("paste keyup", function(event){

                var str=elem.val()
                if(str!=""){
                    var countryFilterComponent = gridOptions.api.getFilterInstance('npi');
                    var model = str.split(" ");
                    countryFilterComponent.setModel(model);
                    gridOptions.api.onFilterChanged();
                }

                if(str==""){
                    gridOptions.api.setFilterModel(null);
                }

            });
        });

        $('#myGrid').on('click','.btn-add-org',function(e) {
            e.preventDefault();
            $('#join_selected').val($(this).data('id'))
            $('#modal_organization_type').modal()
        })

        $('.btn-convert-to-org').click(function(e){

            e.preventDefault()

            var form=$('#form_convert_org')
            var url=form.attr('action')
            var organization_type=$('#organization_type').val()

            var data = {
                'id':  $('#join_selected').val(),
                'organization_type':organization_type
            }

            $.post(url, data, function (result) {
                var url_redirect = '{{ path("admin_edit_organization") }}'+'/'+result.org_id
                window.location.href = url_redirect;
            })
        })

        $('#myGrid').on('click','.btn-declined-org',function(e) {
            e.preventDefault();

            var form=$('#form_turn_away_org')
            var url=form.attr('action')

            var id=$(this).data('id');
            var data = {
                'id': id
            }

            var url_index = '{{ path("join_us_index") }}'
            $.post(url, data, function (result) {
              window.location.href = url_index;
            })
        })

        function process_ajax(pos) {
            if(pos < joins_to_send.length){
                var id=joins_to_send[pos]
                var data={
                    'id':id
                }
                var form=$('#form_convert_org')
                var url=form.attr('action')
                $.ajax({
                    url: url,
                    method: "POST",
                    data: data
                }).done(function(data) {
                    process_ajax(pos + 1)
                })
            }else{
                $('#mask-top').removeClass('sr-only')
                var url_index = '{{ path("join_us_index") }}'
                window.location.href=url_index
            }
        }

        function process_ajax_turn_away(pos) {
            if(pos < joins_to_send.length){
                var id=joins_to_send[pos]
                var data={
                    'id':id
                }
                var form=$('#form_convert_org')
                var url=form.attr('action')
                $.ajax({
                    url: url,
                    method: "POST",
                    data: data
                }).done(function(data) {
                    process_ajax(pos + 1)
                })
            }else{
                $('#mask-top').removeClass('sr-only')
                var url_index = '{{ path("join_us_index") }}'
                window.location.href=url_index
            }
        }
    </script>

{% endblock %}
