{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('join_us_index') }}" class="breadcrumb-item">Join Us</a>
                        <span class="breadcrumb-item active">View Join Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Join Us: {{ document.name }}</span></h5>
                <div class="header-elements">
                    <a href="{{ path('join_us_index') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Join Us List</a>
                    {% if document.status.id==1 %}
                        <a href="" class="btn btn-sm btn-success mr-1 btn-add-org"><i class="far fa-check-circle"></i> Convert to an Organization</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Organization Name:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.name }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">NPI:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.npiNumber }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Status:</label>
                                        {% if document.status.id==1 %}
                                            <span class="badge bg-warning">{{ document.status.name }}</span>
                                        {% endif %}
                                        {% if document.status.id==2 %}
                                            <span class="badge bg-danger">{{ document.status.name }}</span>
                                        {% endif %}
                                        {% if document.status.id==3 %}
                                            <span class="badge bg-success">{{ document.status.name }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Contact Name:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.contactName }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Contact Email:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.contactEmail }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="col-form-label">Is your Group classified as a Federally Qualified Health Center (FQHC) provider?: </label>
                                        {% if document.fqhc %}
                                            <p class="col-form-label text-body p_docs p-inline">Yes</p>
                                        {% else %}
                                            <p class="col-form-label text-body p_docs p-inline">No</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Is your Group/Facility classified as a Medicaid Community Mental Health Center (CMHC) provider?: </label>
                                        {% if document.cmhc %}
                                            <p class="col-form-label text-body p_docs p-inline">Yes</p>
                                        {% else %}
                                            <p class="col-form-label text-body p_docs p-inline">No</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Is your agency/group classified as a Rural Health Center?: </label>
                                        {% if document.ruralHealthCenter %}
                                            <p class="col-form-label text-body p_docs p-inline">Yes</p>
                                        {% else %}
                                            <p class="col-form-label text-body p_docs p-inline">No</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label class="col-form-label">Is your organization or agency licensed as another federal or state designated entity?: </label>
                                        {% if document.otherState %}
                                            <p class="col-form-label text-body p_docs p-inline">Yes</p>
                                        {% else %}
                                            <p class="col-form-label text-body p_docs p-inline">No</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-form-label col-12">Primary location address:</label>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Street:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.street }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Suite Number:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.suiteNumber }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">City:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.city }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">County:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.county }}</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="col-form-label">Phone number:</label>
                                        <p class="col-form-label text-body p_docs p-inline">{{ document.phoneNumber }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-form-label col-12">Others counties</label>
                                    <div class="col-12">
                                        {% for county in document.counties %}
                                            <span class="badge bg-primary mr-1 mb-2">{{ county.name }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-form-label col-12">Files attached</label>
                                    <div class="col-12">
                                        {% if files %}
                                           {% for file in files %}
                                               {% set c=0 %}
                                               {% if  '.pdf' in file.path %}
                                                   <a href="{{ asset('uploads/join/'~file.path ) }}" class="mr-2" style="font-size: 16px;"><i class="far fa-file-pdf fa-2x"></i> {{ file.path }}</a>
                                                   {% set c=0 %}
                                               {% endif %}
                                               {% if  '.xls' in file.path or '.xlsx' in file.path  %}
                                                   <a href="{{ asset('uploads/join/'~file.path ) }}" class="mr-2" style="font-size: 16px;"><i class="far fa-file-excel fa-2x"></i> {{ file.path }}</a>
                                                   {% set c=0 %}
                                               {% endif %}
                                               {% if  '.doc' in file.path or '.docx' in file.path  %}
                                                   <a href="{{ asset('uploads/join/'~file.path ) }}" class="mr-2" style="font-size: 16px;"><i class="far fa-file-excel fa-2x"></i> {{ file.path }}</a>
                                                   {% set c=0 %}
                                               {% endif %}
                                               {% if c==1 %}
                                                   <a href="{{ asset('uploads/join/'~file.path ) }}" class="mr-2" style="font-size: 16px;"><i class="far fa-file-alt fa-2x"></i> {{ file.path }}</a>
                                               {% endif %}
                                           {% endfor %}
                                        {% else %}
                                            Not files
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-form-label col-12">Data from NPPES</label>
                                    <div class="col-12">
                                        <label class="col-form-label">General Info:</label>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th>NPI</th>
                                                    <th>Organization Name</th>
                                                    <th style="text-align: left">NPI Type</th>
                                                    <th>Primary Practice Address</th>
                                                    <th>Phone</th>
                                                    <th>Primary Taxonomy</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if pdata|length>0 %}
                                                    <tr>
                                                        <td>{{ pdata['npi'] }}</td>
                                                        <td>
                                                            {{ pdata['name'] }}
                                                        </td>
                                                        <td>{{ pdata['npi_type'] }}</td>
                                                        <td><pre>{{ pdata['prymary_location'] }}</pre></td>
                                                        <td>{{ pdata['phone'] }}</td>
                                                        <td>{{ pdata['taxonomy'] }}</td>
                                                        <td>{{ pdata['status'] }}</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <label class="col-form-label mt-3">Addresses:</label>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th>Street</th>
                                                    <th>Suite Number</th>
                                                    <th>Address Purpose</th>
                                                    <th>City</th>
                                                    <th>State</th>
                                                    <th>Postal Code</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for addrPdata in addressPdata %}
                                                    <tr>
                                                        <td>{{ addrPdata['address_1'] }}</td>
                                                        <td>{{ addrPdata['address_2'] }}</td>
                                                        <td>{{ addrPdata['address_purpose'] }}</td>
                                                        <td>{{ addrPdata['city'] }}</td>
                                                        <td>{{ addrPdata['state'] }}</td>
                                                        <td>{{ addrPdata['postal_code'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-form-label col-12">PML Registers List</label>
                                    <div class="col-12">
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th>Status</th>
                                                    <th>Florida Medicaid</th>
                                                    <th style="text-align: left">NPI</th>
                                                    <th>Provider Type Code</th>
                                                    <th>Provider Specialty Code</th>
                                                    <th>Taxonomy Code</th>
                                                    <th>License</th>
                                                    <th>Enrollment Type</th>
                                                    <th>I/O</th>
                                                    <th>Service Address</th>
                                                    <th>NPI Type</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for pml in pmls %}
                                                    <tr>
                                                        <td>
                                                            {% if pml['status']=="A" %}
                                                                <span class="badge badge-success">Active</span>
                                                            {% endif %}
                                                            {% if pml['status']=="I" %}
                                                                <span class="badge badge-danger">Inactive</span>
                                                            {% endif %}
                                                            {% if pml['status']=="E" %}
                                                                <span class="badge badge-warning">Ineligible</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ pml['medicaid'] }}</td>
                                                        <td style="text-align: left">{{ pml['npi_number'] }}</td>
                                                        <td><span class="badge badge-dark badge-pill">{{ pml['col_d'] }}</span></td>
                                                        <td><span class="badge badge-warning badge-pill">{{ pml['col_e'] }}</span></td>
                                                        <td>{{ pml['col_f']}}</td>
                                                        <td>{{ pml['col_v'] }}</td>
                                                        <td>{{ pml['col_l'] }}</td>
                                                        <td>{{ pml['col_u'] }}</td>
                                                        <td>{{ pml['col_g'] }}</td>
                                                        <td>
                                                            {% if pml['col_m']=="1" %}
                                                                <span class="badge badge-flat border-primary text-primary-600">Individual</span>
                                                            {% endif %}
                                                            {% if pml['col_m']=="2" %}
                                                                <span class="badge badge-flat border-grey text-grey-600">Organization</span>
                                                            {% endif %}
                                                            {% if pml['col_m']=="U" %}
                                                                <span class="badge badge-flat border-warning text-warning-600">Unknown</span>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('join_us_to_organization') }}" method="post" id="form_convert_org"></form>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)
             $('#link-group-prospects').addClass('nav-item-expanded')
             $('#link-group-prospects').addClass('nav-item-open')
             $('#link-menu-join-us').addClass('active')

             $('.btn-add-org').click(function(e){
                 e.preventDefault()
                 var form=$('#form_convert_org')
                 var url=form.attr('action')

                 var id="{{ document.id }}"
                 var data = {
                     'id': id
                 }
                 var url_view = '{{ path("join_us_view") }}'+"/"+id

                 $.post(url, data, function (result) {
                     window.location.href = url_view;
                 })

             })
         });
     </script>
 {% endblock %}
