<div style="margin: 0 auto;padding: 45px 30px;">
    <h3 style="text-align: center;margin-bottom: 0px;line-height: 5px;font-size: 17px;font-weight: bold;">PROVIDER AGREEMENT</h3>
    <h3 style="text-align: center;margin-bottom: 0px;line-height: 5px;font-size: 17px;font-weight: bold;">AMENDMENT AND PLAN ADDENDUM</h3>
    <p style="text-align: center;line-height: 5px;font-weight: bold; margin-bottom: 60px;">September 8th, 2021</p>

    <p style="font-size: 15px;line-height: 22px;">This Amendment and Plan Addendum (“Amendment and Plan Addendum”) is entered into by and
        between Behavioral Services Network, Inc. (“BSN”) and  {{ organization.name }} (referred to as
        “PROVIDER”).</p>

    <p style="font-size: 15px;line-height: 22px;"><strong>WHEREAS</strong> the parties have entered into a Provider Agreement (the “Agreement”) executed by the
        parties; and</p>
    <p style="font-size: 15px;line-height: 22px; margin-bottom: 40px;"><strong>WHEREAS,</strong> this Amendment and Plan Addendum is hereby delivered to PROVIDER in accordance
        with the Agreement and such Amendment and Plan Addendum shall automatically and without any
        further action by either party be incorporated and made a part of the Agreement unless PROVIDER
        provides BSN with written notice objecting to this Amendment and Plan Addendum in accordance with
        and as provided under the Agreement.</p>
    <h3 style="text-align: left;margin-bottom: 0px;line-height: 5px;font-size: 17px;font-weight: bold;">IT IS MUTUALLY AGREED:</h3>
    <ol style="margin-bottom: 35px;">
        <li>
            As set forth in the Agreement, this Amendment and Plan Addendum is incorporated and made
            part of the Agreement to include the following:
            <ul>
                <li>Introduction: Added language to include Affordable Care Act plans and corrected some
                    language regarding the State Children’s Health Insurance Plans (SCHIP).</li>
                <li>Definitions - INSURER: Updated designations for Medicare Advantage plans to include
                    DSNP, CSNP & ISNP. Updated the definition to include Affordable Care Act Plans and
                    corrected the language regarding the State Children’s Health Insurance Plans (SCHIP).</li>
                <li>Section 2(c): Added language to include SCHIP, and Affordable Care Act Plans.</li>
                <lI>Section 2(d): Updated language to read “staff rosters” instead of just “rosters”.</lI>
                <li>Section 26: Updated to clarify that all correspondence between BSN and Provider will
                    be either by US mail or email. A section for Facility’s preferred mailing address was
                    also added.</li>
                <li>Section 37: Updated section number to (16), to match where the Termination section was in the Agreement as it was referring to the location of said section in a previous version of the Agreement.</li>
                <li>Attachment 1: Updated the language under “Medicaid” to include SCHIP and
                    Affordable Care Act plans.</li>
            </ul>
        </li>
    </ol>
    <p style="text-align: center;margin-bottom: 0px;line-height: 22px;font-size: 15px;"><strong>IN ACCORDANCE WITH THE ABOVE,</strong> the parties agree to this Amendment and Plan Addendum.</p>
</div>

