{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">MMM Report - Individuals</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">MMM Report - Individuals</span></h5>
            </div>
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-6 offset-6">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <input type="hidden" name="date_report" id="date_report" value="{{ "now"|date("m/d/Y") }}">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        $(document).ready(function(e){

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

        });

        var columnDefs = [
            {headerName: "Afiliation Status (NEW, TERMINATED, CHANGES)", field: "afiliation_status",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }, hide:true},
            {headerName: "If Change, identify changes", field: "changes",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }, hide:true},
            {headerName: "Delegated Entity Name", field: "delegated_entity_name",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }, hide:true},
            {headerName: "Reporting Date", field: "report_date",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Afiliation Status PAR and NONPAR", field: "afiliation_status",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "NPI Number", field: "npi",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Contract Effective Date", field: "contract_effective_date",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Contract Termination Date", field: "contract_termination_date",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Last Name", field: "last_name",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Middle Initial", field: "initial",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "First Name", field: "first_name",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Specialty", field: "primary_specialty",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Primary Specialty?", field: "primary_specialty_y_n",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "PCP Indicator", field: "pcp_indicator",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Display Location on Directory?", field: "display_directory",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Accepting new Medicare Patients?", field: "accepting_new_medicare_patients",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Specialty Level (MD, PSYD, PHD, MS, BA)", field: "degrees",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Billing Group Name", field: "organization_name",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Hospital Privileges", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Hospital NPI", field: "hospital_npi",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Capitated contract?", field: "capitated_contract",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Place of Service", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "FEE for Service contract?", field: "fee_for_service_contract",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Fee for Service Contract % of Medicare", field: "fee_contract_percent_medicare",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:true},
            {headerName: "Business/Legal Entity", field: "business_legal_entity",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "Business/Legal Entity TIN", field: "business_legal_entity_tin",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "Legal Notice Address", field: "legal_notice_address",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "Board Certified?", field: "board_certified",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "Board Certified Specialty", field: "board_certified_specialty",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "mmm", field: "mmm",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true },hide:false},
            {headerName: "Code", field: "code",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Description", field: "description",sortable: true,enableRowGroup: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }}
        ];

        var rowData = [

        ];

        var date_report=$('#date_report').val()




        {% for provider in providers %}
        var board_certified="No"

        {% if provider.getBoardCertified==1 %}
          board_certified="Yes"
        {% endif %}

            var obj={
                id:"{{ provider.id }}",
                afiliation_status: "New",
                delegated_entity_name: "BSN",
                report_date: date_report,
                afiliation_status: "PAR",
                npi: "{{ provider.npinumber }}",
                last_name: "{{ provider.lastname }}",
                initial: "{{ provider.initial }}",
                first_name: "{{ provider.firstname }}",
                primary_specialty: "{{ provider.getSpecialties }}",
                primary_specialty_y_n: "Yes",
                pcp_indicator: "No",
                display_directory: "Yes",
                accepting_new_medicare_patients: "Yes",
                degrees: "{{ provider.degrees }}",
                organization_name: "{{ provider.getOrganizationsstr }}",
                hospital_npi: "{{ provider.getHospitalNpi }}",
                capitated_contract: "No",
                fee_for_service_contract: "Yes",
                fee_contract_percent_medicare: "85%",
                business_legal_entity: "BSN",
                business_legal_entity_tin: "82-3133751",
                legal_notice_address: "8200 NE 41st St Doral FL 33166",
                board_certified: board_certified,
                board_certified_specialty:"{{ provider.getBoardCertifiedSpecialty }}"


            }
        rowData.push(obj);

        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:32,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        /*
        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })*/


        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }


        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
