{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Contrating & Credentialing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Key Indicators Dashboard</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <form action="{{ path('admin_create_report_key_indicator') }}" method="post" id="form-export-excel">
                                <div class="row form-group">
                                    <div class="col-6 col-xs-12">
                                        <label class="col-form-label">Payer:</label>
                                        <select name="current_payer" id="current_payer"  class="form-control select-search refresh_btns"  data-fouc>
                                            {% for payer in payers %}
                                                <option value="{{ payer.id }}" {% if payer.id==3 %}selected{% endif %}>{{ payer.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-6 col-xs-12">
                                        <label class="col-form-label">Year:</label>
                                        <select class="form-control select year_data select refresh_btns" data-fouc name="year_data" id="year_data">
                                            <option value="2020">2020</option>
                                            <option value="2021" selected>2021</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 text-right">
                                        <a href="#" class="btn btn-sm btn-primary btn-export-excel">Export XLS <i class="far fa-file-excel"></i></a>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12">
                                        <h3 class="mt-2">Contracting</h3>
                                        <div class="card">
                                            <div class="card-header header-elements-inline">
                                                <h5 class="card-title">Contracting Data Chart</h5>
                                                <div class="header-elements">
                                                    <div class="list-icons">
                                                        <a class="list-icons-item" data-action="collapse"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <div class="chart-container">
                                                    <div class="chart has-fixed-height" id="contrating_chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th width="15%">Indicators</th>
                                                    <th class="text-center">Jan</th>
                                                    <th class="text-center">Feb</th>
                                                    <th class="text-center">Mar</th>
                                                    <th class="text-center">Apr</th>
                                                    <th class="text-center">May</th>
                                                    <th class="text-center">Jun</th>
                                                    <th class="text-center">Jul</th>
                                                    <th class="text-center">Aug</th>
                                                    <th class="text-center">Sep</th>
                                                    <th class="text-center">Oct</th>
                                                    <th class="text-center">Nov</th>
                                                    <th class="text-center">Dec</th>
                                                    <th class="text-center">YTD</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for mmm_indicator in mmm_indicators %}
                                                    {% if mmm_indicator.topic=='Contrating' %}
                                                        <tr>
                                                            <td>{{ mmm_indicator.indicator }}</td>
                                                            {% set c=0 %}
                                                            {% for dat in data['Contrating'][mmm_indicator.indicator] %}
                                                                <td class="text-center"><input type="number" style="padding: 0px 3px;" name="contrating_{{ mmm_indicator.id }}" id="contrating_{{ mmm_indicator.id }}_{{ c }}" class="form-control" value="{{ dat }}" disabled min="0"></td>
                                                                {% set c=c+1 %}
                                                            {% endfor %}
                                                            <td>
                                                                <a href="" data-id="{{ mmm_indicator.id }}"  class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions btn_edit_key"><i class="fas fa-pencil-alt"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12">
                                        <h3 class="mt-3">Credentialing</h3>
                                        <div class="card">
                                            <div class="card-header header-elements-inline">
                                                <h5 class="card-title">Credentialing Data Chart</h5>
                                                <div class="header-elements">
                                                    <div class="list-icons">
                                                        <a class="list-icons-item" data-action="collapse"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="chart-container">
                                                    <div class="chart has-fixed-height" id="credentialing_chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th width="15%">Indicators</th>
                                                    <th class="text-center">Jan</th>
                                                    <th class="text-center">Feb</th>
                                                    <th class="text-center">Mar</th>
                                                    <th class="text-center">Apr</th>
                                                    <th class="text-center">May</th>
                                                    <th class="text-center">Jun</th>
                                                    <th class="text-center">Jul</th>
                                                    <th class="text-center">Aug</th>
                                                    <th class="text-center">Sep</th>
                                                    <th class="text-center">Oct</th>
                                                    <th class="text-center">Nov</th>
                                                    <th class="text-center">Dec</th>
                                                    <th class="text-center">YTD</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for mmm_indicator in mmm_indicators %}
                                                    {% if mmm_indicator.topic=='Credentialing' %}
                                                        <tr>
                                                            <td>{{ mmm_indicator.indicator }}</td>
                                                            {% set c=0 %}
                                                            {% for dat in data['Credentialing'][mmm_indicator.indicator] %}
                                                                <td class="text-center">
                                                                    <input type="number" style="padding: 0px 3px;" class="form-control" name="credentialing_{{ mmm_indicator.id }}" id="credentialing_{{ mmm_indicator.id }}_{{ c }}" value="{{ dat }}" disabled>
                                                                    {% set c=c+1 %}
                                                                </td>
                                                            {% endfor %}
                                                            <td>
                                                                <a href="" data-id="{{ mmm_indicator.id }}"  class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions btn_edit_key"><i class="fas fa-pencil-alt"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12">
                                        <h3 class="mt-3">Initial Credentialing</h3>
                                        <div class="card">
                                            <div class="card-header header-elements-inline">
                                                <h5 class="card-title">Credentialing Data Chart</h5>
                                                <div class="header-elements">
                                                    <div class="list-icons">
                                                        <a class="list-icons-item" data-action="collapse"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="chart-container">
                                                    <div class="chart has-fixed-height" id="init_credentialing_chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th width="15%">Indicators</th>
                                                    <th class="text-center">Jan</th>
                                                    <th class="text-center">Feb</th>
                                                    <th class="text-center">Mar</th>
                                                    <th class="text-center">Apr</th>
                                                    <th class="text-center">May</th>
                                                    <th class="text-center">Jun</th>
                                                    <th class="text-center">Jul</th>
                                                    <th class="text-center">Aug</th>
                                                    <th class="text-center">Sep</th>
                                                    <th class="text-center">Oct</th>
                                                    <th class="text-center">Nov</th>
                                                    <th class="text-center">Dec</th>
                                                    <th class="text-center">YTD</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for mmm_indicator in mmm_indicators %}
                                                    {% if mmm_indicator.topic=='Initial Credentialing' %}
                                                        <tr>
                                                            <td>{{ mmm_indicator.indicator }}</td>
                                                            {% set c=0 %}
                                                            {% for dat in data['Initial Credentialing'][mmm_indicator.indicator] %}
                                                                <td class="text-center">
                                                                    <input type="number" style="padding: 0px 3px;" class="form-control" name="init_credentialing_{{ mmm_indicator.id }}" id="init_credentialing_{{ mmm_indicator.id }}_{{ c }}" value="{{ dat }}" disabled>
                                                                    {% set c=c+1 %}
                                                                </td>
                                                            {% endfor %}
                                                            <td>
                                                                <a href="" data-id="{{ mmm_indicator.id }}"  class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions btn_edit_key"><i class="fas fa-pencil-alt"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12">
                                        <h3 class="mt-3">Recredentialing</h3>
                                        <div class="table-responsive" id="table_grid_cred">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr class="bg-slate">
                                                    <th width="15%">Indicators</th>
                                                    <th class="text-center">Jan</th>
                                                    <th class="text-center">Feb</th>
                                                    <th class="text-center">Mar</th>
                                                    <th class="text-center">Apr</th>
                                                    <th class="text-center">May</th>
                                                    <th class="text-center">Jun</th>
                                                    <th class="text-center">Jul</th>
                                                    <th class="text-center">Aug</th>
                                                    <th class="text-center">Sep</th>
                                                    <th class="text-center">Oct</th>
                                                    <th class="text-center">Nov</th>
                                                    <th class="text-center">Dec</th>
                                                    <th class="text-center">YTD</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for mmm_indicator in mmm_indicators %}
                                                    {% if mmm_indicator.topic=='Recredentialing' %}
                                                        <tr>
                                                            <td>{{ mmm_indicator.indicator }}</td>
                                                            {% set c=0 %}
                                                            {% for dat in data['Recredentialing'][mmm_indicator.indicator] %}
                                                                <td class="text-center">
                                                                    <input type="number" style="padding: 0px 3px;" class="form-control" name="recredentialing_{{ mmm_indicator.id }}" id="recredentialing_{{ mmm_indicator.id }}_{{ c }}" value="{{ dat }}" disabled>
                                                                    {% set c=c+1 %}
                                                                </td>
                                                            {% endfor %}
                                                            <td>
                                                                <a href="" data-id="{{ mmm_indicator.id }}"  class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions btn_edit_key"><i class="fas fa-pencil-alt"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('admin_indicators_ajax') }}" id="form-change-data" method="post"></form>
    <form action="{{ path('admin_save_indicator_ajax') }}" id="form-save-changed-data" method="post"></form>
    <form action="{{ path('keys_report_mmm_ajax') }}" id="form_mmm_keys_report" method="post"></form>
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('global_assets/js/plugins/visualization/echarts/echarts.min.js') }}"></script>
     <script type="text/javascript">
         let contrating_data_1=[]
         let contrating_data_2=[]
         let contrating_data_3=[]
         let contrating_data_4=[]

         let credentialing_data_1=[]
         let credentialing_data_2=[]
         let credentialing_data_3=[]
         let credentialing_data_4=[]

         let init_credentialing_data_1=[]
         let init_credentialing_data_2=[]
         let init_credentialing_data_3=[]
         let init_credentialing_data_4=[]

         $(document).ready(function(e){

             $('.refresh_btns').change(function(e){
                 var year=$('.year_data').val()
                 var payer=$('#current_payer').val()
                 var data={
                     'year':year,
                     'payer':payer
                 }

                 var url=$('#form-change-data').attr('action')
                 $.post(url, data, function (result) {
                     var new_data=result.data

                     var cont=0
                     var index_data=[
                         'Number of providers that requested to be part of the network',
                         'Number of providers that signed contract',
                         'Number of provider voluntarily terminated from the network',
                         'Number of providers involuntarily terminated by the network',
                         'Number of applications received',
                         'Number of applications reviewed',
                         'Number of applications approved',
                         'Number of applications denied',
                         'Number of applications pended',
                         'New Cases approved in Credentialing Committee (Initial Credentialing)',
                         'New Cases denied in Credentialing Committee (Initial Credentialing)',
                         'TAT Initial Credentialing ≤ 180 days',
                         'Results of quality audit completed to initial credentialing provider files',
                         'Number of participating providers that are due for recredentialing (36 months period)',
                         'Re-Credentialing cases approved in Credentialing Committee',
                         'Re-credentialing cases denied in Credenting Committee',
                         'Number of files terminated for not compliance with ≤ 36 months cycle',
                         'TAT Re-Credentialing ≤ 36 months',
                         'Results of quality audit completed to recredentialing provider files'
                     ]

                     $.each(new_data, function( index, data ) {
                         $.each(data, function( index, newData ) {
                             var topicValues=data[index_data[cont]];
                             var next_cont=parseInt(cont+1)
                             var cont_months=0
                             if(cont<4){
                                 $.each(topicValues, function( index, newValue ) {
                                     $('#contrating_'+next_cont+'_'+cont_months).val(newValue)
                                     if(cont==0){
                                         contrating_data_1[cont_months]=newValue
                                     }
                                     if(cont==1){
                                         contrating_data_2[cont_months]=newValue
                                     }
                                     if(cont==2){
                                         contrating_data_3[cont_months]=newValue
                                     }
                                     if(cont==3){
                                         contrating_data_4[cont_months]=newValue
                                     }
                                     cont_months++;
                                 })
                             }
                             if(cont>=4 && cont<9){
                                 $.each(topicValues, function( index, newValue ) {
                                     $('#credentialing_'+next_cont+'_'+cont_months).val(newValue)
                                     if(cont==4){
                                         credentialing_data_1[cont_months]=newValue
                                     }
                                     if(cont==6){
                                         credentialing_data_2[cont_months]=newValue
                                     }
                                     if(cont==7){
                                         credentialing_data_3[cont_months]=newValue
                                     }
                                     if(cont==8){
                                         credentialing_data_4[cont_months]=newValue
                                     }
                                     cont_months++;
                                 })
                             }
                             if(cont>=9 && cont<13){
                                 $.each(topicValues, function( index, newValue ) {
                                     $('#init_credentialing_'+next_cont+'_'+cont_months).val(newValue)
                                     if(cont==9){
                                         init_credentialing_data_1[cont_months]=newValue
                                     }
                                     if(cont==10){
                                         init_credentialing_data_2[cont_months]=newValue
                                     }
                                     if(cont==11){
                                         init_credentialing_data_3[cont_months]=newValue
                                     }
                                     if(cont==12){
                                         init_credentialing_data_4[cont_months]=newValue
                                     }
                                     cont_months++;
                                 })
                             }
                             if(cont>=13 && cont<19){
                                 $.each(topicValues, function( index, newValue ) {
                                     $('#recredentialing_'+next_cont+'_'+cont_months).val(newValue)
                                     cont_months++;
                                 })
                             }

                             cont++;
                         })

                     })

                     EchartsColumnsWaterfalls.init();
                 })

             })
         });

         $('.btn-export-excel').click(function(e){
             e.preventDefault()
             $('#form-export-excel').submit()
         })

         $('.btn_edit_key').click(function (e){
             e.preventDefault()
             var id=$(this).data('id')
             var btn_icon=$(this).children('i')


             if(btn_icon.hasClass('active')==true){
                 btn_icon.addClass('fa-pencil-alt')
                 btn_icon.removeClass('active')
                 btn_icon.removeClass('fa-save')
                 var new_indicators=""
                 if(id<=4){
                     var inputs_values=$('input[name ="contrating_'+id+'"]')

                     var jan=$('#contrating_'+id+'_0').val()
                     var feb=$('#contrating_'+id+'_1').val()
                     var mar=$('#contrating_'+id+'_2').val()
                     var apr=$('#contrating_'+id+'_3').val()
                     var may=$('#contrating_'+id+'_4').val()
                     var jun=$('#contrating_'+id+'_5').val()
                     var jul=$('#contrating_'+id+'_6').val()
                     var aug=$('#contrating_'+id+'_7').val()
                     var sep=$('#contrating_'+id+'_8').val()
                     var oct=$('#contrating_'+id+'_9').val()
                     var nov=$('#contrating_'+id+'_10').val()
                     var dec=$('#contrating_'+id+'_11').val()
                     var ytd=$('#contrating_'+id+'_12').val()

                     new_indicators=jan+","+feb+","+mar+","+apr+","+may+","+jun+","+jul+","+aug+","+sep+","+oct+","+nov+","+dec+","+ytd
                 }
                 if(id>4 && id<=9){
                     var inputs_values=$('input[name ="credentialing_'+id+'"]')

                     var jan=$('#credentialing_'+id+'_0').val()
                     var feb=$('#credentialing_'+id+'_1').val()
                     var mar=$('#credentialing_'+id+'_2').val()
                     var apr=$('#credentialing_'+id+'_3').val()
                     var may=$('#credentialing_'+id+'_4').val()
                     var jun=$('#credentialing_'+id+'_5').val()
                     var jul=$('#credentialing_'+id+'_6').val()
                     var aug=$('#credentialing_'+id+'_7').val()
                     var sep=$('#credentialing_'+id+'_8').val()
                     var oct=$('#credentialing_'+id+'_9').val()
                     var nov=$('#credentialing_'+id+'_10').val()
                     var dec=$('#credentialing_'+id+'_11').val()
                     var ytd=$('#credentialing_'+id+'_12').val()

                     new_indicators=jan+","+feb+","+mar+","+apr+","+may+","+jun+","+jul+","+aug+","+sep+","+oct+","+nov+","+dec+","+ytd
                 }
                 if(id>9 && id<=13){
                     var inputs_values=$('input[name ="init_credentialing_'+id+'"]')

                     var jan=$('#init_credentialing_'+id+'_0').val()
                     var feb=$('#init_credentialing_'+id+'_1').val()
                     var mar=$('#init_credentialing_'+id+'_2').val()
                     var apr=$('#init_credentialing_'+id+'_3').val()
                     var may=$('#init_credentialing_'+id+'_4').val()
                     var jun=$('#init_credentialing_'+id+'_5').val()
                     var jul=$('#init_credentialing_'+id+'_6').val()
                     var aug=$('#init_credentialing_'+id+'_7').val()
                     var sep=$('#init_credentialing_'+id+'_8').val()
                     var oct=$('#init_credentialing_'+id+'_9').val()
                     var nov=$('#init_credentialing_'+id+'_10').val()
                     var dec=$('#init_credentialing_'+id+'_11').val()
                     var ytd=$('#init_credentialing_'+id+'_12').val()

                     new_indicators=jan+","+feb+","+mar+","+apr+","+may+","+jun+","+jul+","+aug+","+sep+","+oct+","+nov+","+dec+","+ytd
                 }
                 if(id>13 && id<=19){
                     var inputs_values=$('input[name ="recredentialing_'+id+'"]')

                     var jan=$('#recredentialing_'+id+'_0').val()
                     var feb=$('#recredentialing_'+id+'_1').val()
                     var mar=$('#recredentialing_'+id+'_2').val()
                     var apr=$('#recredentialing_'+id+'_3').val()
                     var may=$('#recredentialing_'+id+'_4').val()
                     var jun=$('#recredentialing_'+id+'_5').val()
                     var jul=$('#recredentialing_'+id+'_6').val()
                     var aug=$('#recredentialing_'+id+'_7').val()
                     var sep=$('#recredentialing_'+id+'_8').val()
                     var oct=$('#recredentialing_'+id+'_9').val()
                     var nov=$('#recredentialing_'+id+'_10').val()
                     var dec=$('#recredentialing_'+id+'_11').val()
                     var ytd=$('#recredentialing_'+id+'_12').val()

                     new_indicators=jan+","+feb+","+mar+","+apr+","+may+","+jun+","+jul+","+aug+","+sep+","+oct+","+nov+","+dec+","+ytd
                 }

                 inputs_values.each(function(){
                     var input_tag=$(this)
                     input_tag.attr('disabled',true)
                 });

                 var url=$('#form-save-changed-data').attr('action')
                 var year=$('#year_data').val()
                 var payer=$('#current_payer').val()
                 var data={
                     'id':id,
                     'data':new_indicators,
                     'year':year,
                     'payer': payer
                 }


                 $.post(url, data, function (result) {

                 });


             }else{
                 btn_icon.removeClass('fa-pencil-alt')
                 btn_icon.addClass('active')
                 btn_icon.addClass('fa-save')
                 var inputs_values=""

                 if(id<=4){
                     inputs_values=$('input[name ="contrating_'+id+'"]')
                 }

                 if(id>4 && id<=9){
                     inputs_values=$('input[name ="credentialing_'+id+'"]')
                 }

                 if(id>9 && id<=13){
                     inputs_values=$('input[name ="init_credentialing_'+id+'"]')
                 }
                 if(id>13 && id<=19){
                     inputs_values=$('input[name ="recredentialing_'+id+'"]')
                 }

                 inputs_values.each(function(){
                     var input_tag=$(this)
                     input_tag.attr('disabled',false)
                 })
             }
         })

         var EchartsColumnsWaterfalls = function() {

             {% set d=0 %}
             {% for mmm_indicator in mmm_indicators %}
             {% if mmm_indicator.topic=='Contrating' %}
                 {% set c=0 %}
                 {% for dat in data['Contrating'][mmm_indicator.indicator] %}
             {% if d==0 %}
                 contrating_data_1[{{ c }}]={{ dat }}
             {% endif %}
             {% if d==1 %}
                 contrating_data_2[{{ c }}]={{ dat }}
             {% endif %}
             {% if d==2 %}
                 contrating_data_3[{{ c }}]={{ dat }}
             {% endif %}
             {% if d==3 %}
                 contrating_data_4[{{ c }}]={{ dat }}
             {% endif %}

                 {% set c=c+1 %}
                 {% endfor %}
                  {% set d=d+1 %}
             {% endif %}
             {% endfor %}

                         {% set d=0 %}
                         {% for mmm_indicator in mmm_indicators %}
                         {% if mmm_indicator.topic=='Credentialing' %}
                         {% set c=0 %}
                         {% for dat in data['Credentialing'][mmm_indicator.indicator] %}
                         {% if d==0 %}
                     credentialing_data_1[{{ c }}]={{ dat }}
                             {% endif %}
                             {% if d==2 %}
                         credentialing_data_2[{{ c }}]={{ dat }}
                                 {% endif %}
                                 {% if d==3 %}
                             credentialing_data_3[{{ c }}]={{ dat }}
                                     {% endif %}
                                     {% if d==4 %}
                                 credentialing_data_4[{{ c }}]={{ dat }}
             {% endif %}

             {% set c=c+1 %}
             {% endfor %}
             {% set d=d+1 %}
             {% endif %}
             {% endfor %}

             {% set d=0 %}
             {% for mmm_indicator in mmm_indicators %}
             {% if mmm_indicator.topic=='Initial Credentialing' %}
             {% set c=0 %}
                                         {% for dat in data['Initial Credentialing'][mmm_indicator.indicator] %}
                                         {% if d==0 %}
                                     init_credentialing_data_1[{{ c }}]={{ dat }}
                                             {% endif %}
                                             {% if d==1 %}
                                         init_credentialing_data_2[{{ c }}]={{ dat }}
                                                 {% endif %}
                                                 {% if d==2 %}
                                             init_credentialing_data_3[{{ c }}]={{ dat }}
                                                     {% endif %}
                                                     {% if d==3 %}
                                                 init_credentialing_data_4[{{ c }}]={{ dat }}
             {% endif %}

             {% set c=c+1 %}
             {% endfor %}
             {% set d=d+1 %}
             {% endif %}
             {% endfor %}



             // Column and waterfall charts
             var _columnsWaterfallsExamples = function() {
                 if (typeof echarts == 'undefined') {
                     console.warn('Warning - echarts.min.js is not loaded.');
                     return;
                 }

                 // Define elements
                 var contrating_chart = document.getElementById('contrating_chart');
                 var credentialing_chart=document.getElementById('credentialing_chart');
                 var init_credentialing_chart=document.getElementById('init_credentialing_chart');


                 //
                 // Charts configuration
                 //

                 // Contrating data
                 if (contrating_chart) {

                     // Initialize chart
                     var columns_basic_contrating = echarts.init(contrating_chart);

                     //
                     // Chart config
                     //

                     // Options
                     columns_basic_contrating.setOption({

                         // Define colors
                         color: ['#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80'],

                         // Global text styles
                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Chart animation duration
                         animationDuration: 750,

                         // Setup grid
                         grid: {
                             left: 0,
                             right: 40,
                             top: 70,
                             bottom: 0,
                             containLabel: true
                         },

                         // Add legend
                         legend: {
                             data: ['Number of providers that requested to be part of the network', 'Number of providers that signed contract',"Number of provider voluntarily terminated from the network","Number of providers involuntarily terminated by the network"],
                             itemHeight: 8,
                             itemGap: 20,
                             textStyle: {
                                 padding: [0, 5],
                                 margin: [25,0]
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'axis',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             }
                         },

                         // Horizontal axis
                         xAxis: [{
                             type: 'category',
                             data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                             axisLabel: {
                                 color: '#333'
                             },
                             axisLine: {
                                 lineStyle: {
                                     color: '#999'
                                 }
                             },
                             splitLine: {
                                 show: true,
                                 lineStyle: {
                                     color: '#eee',
                                     type: 'dashed'
                                 }
                             }
                         }],

                         // Vertical axis
                         yAxis: [{
                             type: 'value',
                             axisLabel: {
                                 color: '#333'
                             },
                             axisLine: {
                                 lineStyle: {
                                     color: '#999'
                                 }
                             },
                             splitLine: {
                                 lineStyle: {
                                     color: ['#eee']
                                 }
                             },
                             splitArea: {
                                 show: true,
                                 areaStyle: {
                                     color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
                                 }
                             }
                         }],

                         // Add series
                         series: [
                             {
                                 name: 'Number of providers that requested to be part of the network',
                                 type: 'bar',
                                 data: contrating_data_1,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Number of providers that signed contract',
                                 type: 'bar',
                                 data: contrating_data_2,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Number of provider voluntarily terminated from the network',
                                 type: 'bar',
                                 data: contrating_data_3,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Number of providers involuntarily terminated by the network',
                                 type: 'bar',
                                 data: contrating_data_4,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             }
                         ]
                     });
                 }

                 // Credentialing chart
                 if (credentialing_chart) {

                     // Initialize chart
                     var columns_basic_credentialing = echarts.init(credentialing_chart);

                     //
                     // Chart config
                     //

                     // Options
                     columns_basic_credentialing.setOption({

                         // Define colors
                         color: ['#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80'],

                         // Global text styles
                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Chart animation duration
                         animationDuration: 750,

                         // Setup grid
                         grid: {
                             left: 0,
                             right: 40,
                             top: 70,
                             bottom: 0,
                             containLabel: true
                         },

                         // Add legend
                         legend: {
                             data: ['Number of applications received',"Number of applications approved","Number of applications denied","Number of applications pended"],
                             itemHeight: 8,
                             itemGap: 20,
                             textStyle: {
                                 padding: [0, 5],
                                 margin: [25,0]
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'axis',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             }
                         },

                         // Horizontal axis
                         xAxis: [{
                             type: 'category',
                             data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                             axisLabel: {
                                 color: '#333'
                             },
                             axisLine: {
                                 lineStyle: {
                                     color: '#999'
                                 }
                             },
                             splitLine: {
                                 show: true,
                                 lineStyle: {
                                     color: '#eee',
                                     type: 'dashed'
                                 }
                             }
                         }],

                         // Vertical axis
                         yAxis: [{
                             type: 'value',
                             axisLabel: {
                                 color: '#333'
                             },
                             axisLine: {
                                 lineStyle: {
                                     color: '#999'
                                 }
                             },
                             splitLine: {
                                 lineStyle: {
                                     color: ['#eee']
                                 }
                             },
                             splitArea: {
                                 show: true,
                                 areaStyle: {
                                     color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
                                 }
                             }
                         }],

                         // Add series
                         series: [
                             {
                                 name: 'Number of applications received',
                                 type: 'bar',
                                 data: credentialing_data_1,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Number of applications approved',
                                 type: 'bar',
                                 data: credentialing_data_2,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Number of applications denied',
                                 type: 'bar',
                                 data: credentialing_data_3,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Number of applications pended',
                                 type: 'bar',
                                 data: credentialing_data_4,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             }
                         ]
                     });
                 }

                 // Init Credentialing chart
                 if (init_credentialing_chart) {

                     // Initialize chart
                     var columns_basic_init_credentialing = echarts.init(init_credentialing_chart);

                     //
                     // Chart config
                     //

                     // Options
                     columns_basic_init_credentialing.setOption({

                         // Define colors
                         color: ['#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80'],

                         // Global text styles
                         textStyle: {
                             fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                             fontSize: 13
                         },

                         // Chart animation duration
                         animationDuration: 750,

                         // Setup grid
                         grid: {
                             left: 0,
                             right: 40,
                             top: 70,
                             bottom: 0,
                             containLabel: true
                         },

                         // Add legend
                         legend: {
                             data: ['New Cases approved in Credentialing Committee (Initial Credentialing)', 'New Cases denied in Credentialing Committee (Initial Credentialing)',"TAT Initial Credentialing ≤ 180 days","Results of quality audit completed to initial credentialing provider files"],
                             itemHeight: 8,
                             itemGap: 20,
                             textStyle: {
                                 padding: [0, 5],
                                 margin: [25,0]
                             }
                         },

                         // Add tooltip
                         tooltip: {
                             trigger: 'axis',
                             backgroundColor: 'rgba(0,0,0,0.75)',
                             padding: [10, 15],
                             textStyle: {
                                 fontSize: 13,
                                 fontFamily: 'Roboto, sans-serif'
                             }
                         },

                         // Horizontal axis
                         xAxis: [{
                             type: 'category',
                             data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                             axisLabel: {
                                 color: '#333'
                             },
                             axisLine: {
                                 lineStyle: {
                                     color: '#999'
                                 }
                             },
                             splitLine: {
                                 show: true,
                                 lineStyle: {
                                     color: '#eee',
                                     type: 'dashed'
                                 }
                             }
                         }],

                         // Vertical axis
                         yAxis: [{
                             type: 'value',
                             axisLabel: {
                                 color: '#333'
                             },
                             axisLine: {
                                 lineStyle: {
                                     color: '#999'
                                 }
                             },
                             splitLine: {
                                 lineStyle: {
                                     color: ['#eee']
                                 }
                             },
                             splitArea: {
                                 show: true,
                                 areaStyle: {
                                     color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
                                 }
                             }
                         }],

                         // Add series
                         series: [
                             {
                                 name: 'New Cases approved in Credentialing Committee (Initial Credentialing)',
                                 type: 'bar',
                                 data: init_credentialing_data_1,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'New Cases denied in Credentialing Committee (Initial Credentialing)',
                                 type: 'bar',
                                 data: init_credentialing_data_2,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'TAT Initial Credentialing ≤ 180 days',
                                 type: 'bar',
                                 data: init_credentialing_data_3,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             },
                             {
                                 name: 'Results of quality audit completed to initial credentialing provider files',
                                 type: 'bar',
                                 data: init_credentialing_data_4,
                                 itemStyle: {
                                     normal: {
                                         label: {
                                             show: true,
                                             position: 'top',
                                             textStyle: {
                                                 fontWeight: 500
                                             }
                                         }
                                     }
                                 },
                                 markLine: {
                                     data: [{type: 'average', name: 'Average'}]
                                 }
                             }
                         ]
                     });
                 }

                 var triggerChartResize = function() {
                     contrating_chart && columns_basic_contrating.resize();
                     credentialing_chart && columns_basic_credentialing.resize();
                     init_credentialing_chart && columns_basic_init_credentialing.resize();

                 };

                 $(document).on('click', '.sidebar-control', function() {
                     setTimeout(function () {
                         triggerChartResize();
                     }, 0);
                 });

                 var resizeCharts;
                 window.onresize = function () {
                     clearTimeout(resizeCharts);
                     resizeCharts = setTimeout(function () {
                         triggerChartResize();
                     }, 200);
                 };
             };

             return {
                 init: function() {
                     _columnsWaterfallsExamples();
                 }
             }
         }();


         document.addEventListener('DOMContentLoaded', function() {
             EchartsColumnsWaterfalls.init();
         });

     </script>
 {% endblock %}
