{% extends 'base.html.twig' %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('new_contact_p_index') }}" class="breadcrumb-item">Contacts</a>
                        <span class="breadcrumb-item active">Edit Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Contact | {{ document.name }}</span></h5>
                <div class="header-elements">
                    <a href="{{ path('new_contact_p_index') }}" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> Contacts List</a>
                    <a href="{{ path('new_contact_p_new') }}" class="btn btn-success"><i class="fas fa-plus"></i> New Contact</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_provider_contact_update') }}" method="POST" id="form">
                                            <input type="hidden" name="id_organization" id="id_organization" value="{{ organization }}"/>
                                            <input type="hidden" name="id" id="id" value="{{ document.id }}"/>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Title:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="title_str" id="title_str" value="{{ document.titlestr }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <input type="hidden" name="bestSelected" id="bestSelected" value="" />
                                                <label class="col-2 col-form-label"><span class="text-danger-400">*</span>  Please indicate best choice/ choices for this contact:</label>
                                                <div class="col-10 form-group pt-2">
                                                    {% for best in bests %}
                                                        {% set c=0 %}
                                                        {% for pt in document.getBestChoices %}
                                                            {% if pt.id==best.id %} {% set c=1 %}{% endif %}
                                                        {% endfor %}
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" name="bests" id="best_{{ best.id }}" value="{{ best.id }}" {% if c==1 %}checked{% endif %}>
                                                            <label class="custom-control-label" for="best_{{ best.id }}">{{ best.name }}</label>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_bests">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span>  Phone:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone" id="phone" data-mask="999-999-9999" value="{{ document.phone }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_phone">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Phone ext:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="phone_ext" id="phone_ext" value="{{ document.phoneext }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Mobile:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="mobile" id="mobile" data-mask="999-999-9999" value="{{ document.mobile }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Fax:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="fax" id="fax" data-mask="999-999-9999" value="{{ document.fax }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><span class="text-danger-400">*</span>  Email:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="email" id="email" value="{{ document.email }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left sr-only" id="error_email">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('new_contact_p_index') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/organizationcontact/validation_add.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link_contact_pp').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })
         })
     </script>
 {% endblock %}
