{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Contacts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Contacts List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-xs-12 text-right pr-2">
                        <a href="{{ path('new_contact_p_new') }}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> New Contact</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select" id="select-options-multiple" data-fouc>
                            <option value="0">- Select one option -</option>
                            <option value="1">Request access to an Organization</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('admin_user_get_org_request') }}" method="post" id="form_request_org">
        <input type="hidden" name="contacts_selected" id="contacts_selected" value="">
        <input type="hidden" name="organization_selected" id="organization_selected" value="{{ organization }}">
    </form>
    {{ include('new_contact_p/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/new_contact_p/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            $('#link_contact_pp').addClass('active')
            setTimeout(function(){
                $('.flash-notification').fadeOut(500)
            }, 3000)

            var h=$(window).height()-320
            $('#myGrid').css('height',h)
        });

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter:false,maxWidth: 100,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Name", field: "name",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Title", field: "title",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Phone", field: "phone",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Mobile", field: "mobile",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Fax", field: "fax",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Email", field: "email",sortable: true,filter: 'agTextColumnFilter',filterParams: { applyButton: false, clearButton:true }},
            {headerName: "Best option for", field: "bests", sortable: true, unSortIcon: true, hide: false},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,minWidth:150,maxWidth:150,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for contact in contacts %}

        var bestsoptions=""

        {% for best in contact.getBestChoices  %}
        bestsoptions+="{{ best.name }}"+", "
        {% endfor %}
        var bestsoptions = bestsoptions.slice(0, -2)

        var obj={
            id:"{{ contact.id }}",
            name: "{{ contact.name }}",
            {% if contact.title %}
            title: "{{ contact.title.name }}",
            {% endif %}
            phone: "{{ contact.phone }}",
            mobile: "{{ contact.mobile }}",
            fax: "{{ contact.fax }}",
            email: "{{ contact.email }}",
            bests: bestsoptions
        }

        rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            floatingFilter: true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        function enabledCellRendererFunc(params){
            var main =params.data.main;

            var btn=""

            if(main){
                btn='<i class="fas fa-check text-success ml-2"></i>'
            }else{
                btn='<i class="fas fa-times text-danger ml-2"></i>'
            }

            return btn;
        }

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = '{{ path("new_contact_p_view") }}'+"/"+id
            var url_edit = '{{ path("new_contact_p_edit") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm bg-info border-info text-info-800 btn-icon border-2 ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        function multipleSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            var option=$('#select-options-multiple').val()


            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Contacts selected!',
                    message: 'Select at least one element please.'
                })
            }else {
                if (option == 0) {
                    bootbox.alert({
                        title: 'Option selected!',
                        message: 'Select at least one option please.'
                    })
                }
                if (option == 1) {
                    var rowsSelected=gridOptions.api.getSelectedRows();
                    var rows=[];

                    $.each(rowsSelected,function(){
                        var row=$(this)[0];
                        rows.push(row.id);
                    })
                    $('#contacts_selected').val(rows)

                    $('#form_request_org').submit()
                }
            }
        }


    </script>

{% endblock %}
