{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('new_contact_p_index') }}" class="breadcrumb-item">Contacts</a>
                        <span class="breadcrumb-item active">View Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">View Contact | {{ document.name }}</span></h5>
                <div class="header-elements">
                    <a href="{{ path('new_contact_p_index') }}" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> Contact List</a>
                    <a href="{{ path('new_contact_p_new') }}" class="btn btn-success mr-1"><i class="fas fa-plus"></i> New Contact</a>
                    <a href="{{ path('new_contact_p_edit',{'id':document.id }) }}" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Edit Contact</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Full Name:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.name }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Title:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.titlestr }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Phone:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.phone }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Phone ext:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.phoneext }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Mobile:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.mobile }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Fax:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.fax }}</p>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label">Email:</label>
                                                <p class="col-form-label text-body p_docs p-inline">{{ document.email }}</p>
                                            </div>
                                            <div class="col-12">
                                                <label class="col-form-label">Best choice/ choices for this contact:</label>
                                                {% if document.getBestChoices %}
                                                    {% for choise in document.getBestChoices %}
                                                        <span class="badge bg-secondary">{{ choise.name }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}

     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link_contact_pp').addClass('active')
         })
     </script>

 {% endblock %}
