{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('admin-email-queue-list') }}" class="breadcrumb-item">Email Queueds</a>
                        <span class="breadcrumb-item active">Edit Email Queued</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Edit Email Queued</span></h5>
                <div class="header-elements">
                    <a href="{{ path('admin-email-queue-list') }}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-arrow-left"></i> Email Queued List</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Contact Email:</label></div>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="email" id="email" value="{{ document.contact.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Template:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.getEmailType.name }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Status:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.getStatus.name }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Created date:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.getCreated|date('m/d/Y') }}</p></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2"><label class="col-form-label">Date to send:</label> </div>
                                            <div class="col-10"><p class="col-form-label text-body p_docs">{{ document.getDateToSend|date('m/d/Y') }}</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             setTimeout(function(){
                 $('.flash-notification').fadeOut(500);
             }, 3000)

             $('#link-group-emails').addClass('nav-item-expanded')
             $('#link-group-emails').addClass('nav-item-open')
             $('#link-menu-emails-queued').addClass('active')
         });
     </script>
 {% endblock %}
