{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        .alert{
            padding:15px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include('alerts/alert.html.twig') }}
    <div class="cont-alert-removed-true" style="display: none;">
        {{ include('alerts/alert-removed-true.html.twig') }}
    </div>
    <div class="cont-alert-removed-false" style="display: none;">
        {{ include('alerts/alert-removed-false.html.twig') }}
    </div>
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Email Queued</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title">Email Queued List</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control form-control-sm" id="filter-text-box" placeholder="Type to Filter..." oninput="onFilterTextBoxChanged()">
                            <div class="form-control-feedback form-control-feedback-sm">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12 text-right pr-2">

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_delete">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-dark" style="width: 100%">
                                <span class="">Deleting Items Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="progress sr-only" id="progress_send">
                            <div class="progress-bar prob progress-bar-striped progress-bar-animated bg-primary" style="width: 100%">
                                <span class="" id="lbl_progress_send">Sending Emails Selected ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-2">
                        <select class="form-control select btn-actions-all select" data-fouc>
                            <option value="0">Delete Selected</option>
                            <option value="1">Send Email</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-info" id="select_multiple" onclick="multipleActionSelected()"><i class="fas fa-cog"></i> Execute</a>
                    </div>
                    <div class="col-6 offset-2">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <label class="col-form-label mr-1">Page size:</label>
                                <select class="form-control"  style="max-width: 75px!important;display: inline-block;" onchange="onPageSizeChanged()" id="page-size">
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<form action="{{ path('admin_send_email_queued_ajax') }}" method="POST" id="form_send_email_ajax">
</form>
    {{ include('cvo/form/form.html.twig',{form:delete_form_ajax,width_submit:false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/email/delete.js') }}"></script>
    <script src="{{ asset('js/app2.js') }}"></script>
    <script type="text/javascript">
        let emails=[];
        let url=$('#form_send_email_ajax').attr('action')

        $(document).ready(function(e){
            setTimeout(function(){
                $('.flash-notification').fadeOut(500);
            }, 3000)

            var h=$(window).height()-300
            $('#myGrid').css('height',h)

            $('.select-search').select2();
            $('.select').select2({
                minimumResultsForSearch: Infinity
            })

            $('#link-group-emails').addClass('nav-item-expanded')
            $('#link-group-emails').addClass('nav-item-open')
            $('#link-menu-emails-queued').addClass('active')
        });

        var columnDefs = [
            {headerName: "", field: "id1",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "Organization", field: "organization",sortable: true,unSortIcon: true,enableRowGroup: true},
            {headerName: "Status", field: "status",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Email type", field: "type",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Send to", field: "send_to",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Created Date", field: "created_at",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Date to send", field: "date_to_send",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Approved Date", field: "approved_date",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Providers Ids", field: "providers",sortable: true,enableRowGroup: true,unSortIcon: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:200,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [

        ];

        {% for emailq in emailqueued %}
          var organization=""
        {% if emailq.organization!=null %}
         organization="{{ emailq.organization.name }}"
        {% else %}
            organization="{{ emailq.organizationName }}"
        {% endif %}
         var obj={
             id:"{{ emailq.id }}",
             organization: organization,
             status: "{{  emailq.getStatus.name }}",
             type: "{{ emailq.getEmailType.name }}",
             send_to: "{{ emailq.getSentTo }}",
             created_at: "{{ emailq.getCreated|date('m/d/Y') }}",
             date_to_send: "{{ emailq.getDateToSend|date('m/d/Y') }}",
             approved_date: "{{ emailq.getApprovedDate }}",
             providers: "{{ emailq.getProviders }}"
         }

          rowData.push(obj);
        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: true,
            paginationAutoPageSize: false,
            paginationPageSize: 25,
            rowHeight:30,
            floatingFilter: true,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            groupUseEntireRow:true,
            rowGroupPanelShow: 'always',
            onFirstDataRendered: onFirstDataRendered,
            rowMultiSelectWithClick: true,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function multipleActionSelected(){
            var rowsSelected=gridOptions.api.getSelectedRows();
            var longrowSelected=rowsSelected.length;

            if(longrowSelected==0){
                bootbox.alert({
                    title: 'Emails seleted!',
                    message: 'Select at least one element please.'
                })
            }else{
                var option=$('.btn-actions-all').val()

                if(option==0){
                    var progressBar=$('#progress_delete');
                    var rows=[];

                    $.each(rowsSelected,function(){
                        var row=$(this)[0];
                        rows.push(row.id);
                    })

                    var data={
                        'ids':rows
                    }

                    var url="/admin/email/delete_multiple";
                    bootbox.dialog({
                        message: 'Are you sure?',
                        title: 'Delete Email Queues Selected',
                        buttons: {
                            success: {
                                label: '<i class="fas fa-ban"></i> Cancel',
                                className: 'btn-success',
                                callback: function() {

                                }
                            },
                            danger: {
                                label: '<i class="far fa-trash-alt"></i> Delete Selected',
                                className: 'btn-danger',
                                callback: function() {

                                    progressBar.removeClass('sr-only')
                                    $.post(url, data, function (result) {
                                        progressBar.addClass('sr-only')
                                        var removed=result.removed;
                                        var message=result.message;

                                        $('#message-removed').html(message);
                                        if(removed==1){
                                            $('.cont-alert-removed-true').fadeIn(300);

                                            var selectedData = gridOptions.api.getSelectedRows();
                                            var res = gridOptions.api.updateRowData({remove: selectedData});

                                            $('.cont-alert-removed-true').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-true').fadeOut(500);
                                            }, 3000);

                                        }else{
                                            $('.cont-alert-removed-false').fadeIn(300);

                                            setTimeout(function(){
                                                $('.cont-alert-removed-false').fadeOut(500);
                                            }, 3000);
                                        }
                                    })
                                }
                            }
                        }
                    });
                }
                if(option==1){
                    $.each(rowsSelected,function(){
                        var row=$(this)[0];
                        emails.push(row.id);
                    })

                    var pos=0
                    var progress=$('#progress_send')
                    var lbl_progress_send=$('#lbl_progress_send')

                    lbl_progress_send.html('Sending Emails Selected ... 1 of '+emails.length)
                    progress.removeClass('sr-only')
                    process_ajax(pos)
                }
            }

        }

        function actionCellRendererFunc(params){
            var id =params.data.id

            var url_view = '{{ path("admin_view_email_queued") }}'+"/"+id

            return '<a href="'+url_view+'" class="btn btn-sm btn-info ml-1 btn-actions"><i class="far fa-eye"></i></a>' +
                   '<a href="#" data-id="'+id+'" class="btn btn-sm btn-primary ml-1 btn-actions btn-send-email"><i class="far fa-envelope"></i></a>' +
                   '<a href="#" data-id="'+id+'" class="btn btn-sm btn-danger ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        $('#myGrid').on('click','.btn-send-email',function(e){
            e.preventDefault()

            var id=$(this).data('id');
            emails.push(id);

            var pos=0
            var progress=$('#progress_send')
            var lbl_progress_send=$('#lbl_progress_send')

            lbl_progress_send.html('Sending Emails Selected ... 1 of '+emails.length)
            progress.removeClass('sr-only')
            process_ajax(pos)
        })

        function process_ajax(pos) {
            if(pos < emails.length){

                var id=emails[pos]

                var data={
                    'id':id
                }

                $.ajax({
                    url: url,
                    method: "POST",
                    data: data
                }).done(function(data) {
                    var lbl_progress_send=$('#lbl_progress_send')
                    var pos1=pos+2
                    lbl_progress_send.html('Sending Emails Selected ... '+pos1+' of '+emails.length)

                    process_ajax(pos + 1)
                })
            }else{
                var progress=$('#progress_send')
                progress.addClass('sr-only')
                emails=[];

                var selectedData = gridOptions.api.getSelectedRows();
                var res = gridOptions.api.updateRowData({remove: selectedData});

                var url_redirect="/admin/email/email-queue/"
                window.location.href=url_redirect
            }
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    </script>

{% endblock %}
