{% extends 'base-login.html.twig' %}
{% block body %}
    <style>
        .alert{
            padding-bottom: 5px;
            padding-top: 5px;
            margin-top: 5px;
        }
    </style>
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="alert alert-success alert-styled-left alert-arrow-left alert-dismissible">
                        <span class="font-weight-semibold">Thank you for verification!</span><br/>
                        For more information click <a href="https://bsnnet.com/">here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



