{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <div class="page-header page-header-dark has-cover" style="border: 1px solid #ddd; border-bottom: 0;">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="{{ path('cms_training') }}" class="breadcrumb-item">Trainings</a>
                        <span class="breadcrumb-item active">Edit Training</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title"><span class="badge badge-light badge-striped badge-striped-left border-left-success badge-title"> Edit Role</span></h5>
                <div class="header-elements">
                    <a href="{{ path('cms_training') }}" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> Trainings List</a>
                    <a href="{{ path('admin_new_cms_training') }}" class="btn btn-success"><i class="fas fa-plus"></i> New Training</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-top-success rounded-top-0">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <form action="{{ path('admin_update_training') }}" method="POST" id="form">

                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"> <span class="text-danger-400">*</span> Name:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="name" id="name" value="{{ document.name }}">
                                                    <div class="alert alert-warning alert-styled-left alert-dismissible alert-arrow-left" id="error_name" style="display: none;">
                                                        <span class="font-weight-semibold">Please fill out this field!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Payers:</label>
                                                <div class="col-10">
                                                    <select name="payers[]" id="payers" placeholder="Select Payer for ..." class="form-control select-search" multiple data-fouc>
                                                        {% for payer in payers %}
                                                            {% set c=0 %}
                                                            {% for pay in document.payers %}
                                                              {% if pay.id==payer.id %}
                                                                  {% set c=1 %}
                                                              {% endif %}
                                                            {% endfor %}
                                                            <option value="{{ payer.id }}"  {% if c==1 %} selected {% endif %} id="tax_{{ payer.id }}">{{ payer.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Description:</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="5" cols="5" class="form-control" name="description" id="description">{{ document.description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="hidden" name="new" id="new" value="">
                                                <input type="hidden" name="id" id="id" value="{{ document.id }}">
                                                <a href="#" class="btn btn-info bnt-send"><i class="fas fa-save"></i> Save</a>
                                                <a href="#" class="btn btn-primary bnt-send-new"><i class="far fa-save"></i> Save and create new one</a>
                                                <a href="{{ path('admin_role') }}"class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{ asset('js/role/validation_edit.js') }}"></script>
     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link-group-configuration').addClass('nav-item-expanded')
             $('#link-group-configuration').addClass('nav-item-open')
             $('#link-group-organization_conf').addClass('nav-item-expanded')
             $('#link-group-organization_conf').addClass('nav-item-open')
             $('#link-admin-training').addClass('active')

             $('.select-search').select2();
             $('.select').select2({
                 minimumResultsForSearch: Infinity
             })
         })
     </script>

 {% endblock %}
